<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">
<body>
<div layout:fragment="content">
    <div class="tab-content tab-sub dropDown">
        <button type="button" class="tab-mobile-trigger trigger"  aria-expanded="true">환경보전협회</button>
        <ul class="tab-list target" >
            <li class="tab" th:classappend="${BbsVo.tabType == 1 ? 'active' : ''}">
                <button id="tab-sub01"  >환경보전협회</button>
            <li class="tab" th:classappend="${BbsVo.tabType == 2 ? 'active' : ''}">
                <button id="tab-sub02"  >유관기관</button>
            </li>
        </ul>

        <div  th:id="${BbsVo.tabType == 1 ? 'tab-subpanel01' : 'tab-subpanel02'}">
        
            <h3 class="blind"><th:block th:text="${BbsVo.tabType == 1 ? '환경보전협회' : '유관기관'}" >탭 제목</th:block></h3>
            
            <form class="search-filter" id="searchForm" name="searchForm" method="get" action="/front/bbs/1/main.html">
                <div class="form-input mo-flex-wrap">
                    <strong class="label">검색어</strong>
                    <div class="form-input">
                        <select title="검색어" id="searchType" name="searchType">
                            <option value="">- 전체 -</option>
                            <option value="title" th:selected="${BbsVo.searchType =='title'}">제목</option>
                            <option value="cntnts" th:selected="${BbsVo.searchType =='cntnts'}">내용</option>
                        </select>
                        <input type="search" title="검색어" placeholder="검색어를 입력해 주세요." id="searchKeyword" name="searchKeyword" th:value="${BbsVo.searchKeyword}">
                    </div>
                    <div class="search-filter-submit">
                        <button type="submit" class="btn-medium btn-green btn-before-search">검색</button>
                    </div>
                </div>
                <input type="hidden" id="pageNumber" name="pageNumber" th:value="${BbsVo.pageNumber}"/>
                <input type="hidden" id="orderField" name="orderField" th:value="${BbsVo.orderField}"/>
                <input type="hidden" id="rowPerPage" name="rowPerPage" th:value="${BbsVo.rowPerPage}"/>
                <input type="hidden" id="pstid" name="pstid" value="0"/>
                <input type="hidden" id="tabType" name="tabType" th:value="${BbsVo.tabType}"/>
            </form>

            <div class="table-caption flex-nowrap">
                <div class="left">
                    <p>총 <b id="totalCount" th:text="${totalCount}">0</b> 건</p>
                </div>
                <div class="right">
                    <select title="글 보기 개수" id="selectRowPerPage" name="selectRowPerPage" onchange="changeRowPerPage()">
                        <option value="10" th:selected="${BbsVo.rowPerPage== 10}">10개씩 보기</option>
                        <option value="50" th:selected="${BbsVo.rowPerPage== 50}">50개씩 보기</option>
                        <option value="100" th:selected="${BbsVo.rowPerPage== 100}">100개씩 보기</option>
                    </select>
                </div>
            </div>

            <div class="pc-only">
                <div class="table-col table-layout-auto table-col-mo">
                    <table>
                        <caption>공지사항 - 번호
                        <th:block th:if="${BbsVo.tabType == 2}">
                        , 등록기관
                        </th:block>
                        , 제목, 첨부파일, 등록일, 조회수</caption>
                        <colgroup>
                            <col>
                            <col th:if="${BbsVo.tabType == 2}">
                            <col style="width:50%;">
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col">번호</th>
                            <th scope="col" th:if="${BbsVo.tabType == 2}">등록기관</th>
                            <th scope="col">제목</th>
                            <th scope="col">첨부파일</th>
                            <th scope="col">등록일</th>
                            <th scope="col">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:if="${list.size() == 0}">
                            <tr>
                                <td class="nodata" colspan="6">
                                    <p><span class="icon icon-notice bg-black9"></span>등록된 게시글이 없습니다.</p>
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${list.size() == 0}">
                            <tr th:each="notice : ${list}">
                                <td>
                                    <th:block th:if="${bbsInfo.fxdNtcUseYn== 'Y' && notice.fxdNtcYn == 'Y'}">
                                        <div class="icon icon-speaker-large bg-sred" title="중요 공지"></div>
                                    </th:block>
                                    <th:block th:unless="${bbsInfo.fxdNtcUseYn== 'Y' && notice.fxdNtcYn == 'Y'}">
                                        [[${notice.rowNumber}]]
                                    </th:block>
                                </td>
                                <td th:if="${BbsVo.tabType == 2}" th:text="${notice.instNm}">등록기관</td>
                                <td class="al article">
                                    <th:block th:if="${bbsInfo.newUseYn == 'Y' and notice.newYn == 'Y'}">
                                        <!-- <a href="javascript:void(0)" class="link ellipsis new" title="새 글" th:onclick="|moveToDetail(${notice.pstid})|">[[${notice.title}]]</a> -->
                                        <a class="link ellipsis new" title="새 글" th:href="|javascript:moveToDetail('${notice.pstid}')|">[[${notice.title}]]</a>
                                    </th:block>
                                    <th:block th:unless="${bbsInfo.newUseYn == 'Y' and notice.newYn == 'Y'}">
                                        <!-- <a href="javascript:void(0)" class="link ellipsis" th:onclick="|moveToDetail(${notice.pstid})|">[[${notice.title}]]</a> -->
                                        <a class="link ellipsis" title="새 글" th:href="|javascript:moveToDetail('${notice.pstid}')|">[[${notice.title}]]</a>
                                    </th:block>
                                </td>
                                <td>
                                    <th:block th:if="${notice.filegrpid != 0 && notice.fileCount > 0}">
                                        <i class="icon icon-attachment" title="첨부파일"></i>
                                    </th:block>
                                </td>
                                <td th:text="${#dates.format(notice.regDt,'yyyy-MM-dd')}">등록일</td>
                                <td th:text="${notice.hits}">조회수</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="mo-only">
                <div class="table-list">
                    <ul>
                        <th:block th:if="${list.size() == 0}">
                            <li class="block">
                                <div class="nodata">
                                    <p><span class="icon icon-notice bg-black9"></span>등록된 공지사항이 없습니다.</p>
                                </div>
                            </li>
                        </th:block>
                        <th:block th:unless="${list.size() == 0}">
                            <li class="block" th:each="notice : ${list}">
                                <div class="tbody">
                                    <dl>
                                        <div class="list">
                                            <dt>번호</dt>
                                            <dd>
                                                <th:block th:if="${bbsInfo.fxdNtcUseYn== 'Y' && notice.fxdNtcYn == 'Y'}">
                                                    <div class="icon icon-speaker-large bg-sred" title="중요 공지"></div>
                                                </th:block>
                                                <th:block th:unless="${bbsInfo.fxdNtcUseYn== 'Y' && notice.fxdNtcYn == 'Y'}">
                                                    [[${notice.rowNumber}]]
                                                </th:block>
                                            </dd>
                                        </div>
                                        <div class="list" th:if="${BbsVo.tabType == 2}">
                                            <dt>등록기관</dt>
                                            <dd th:text="${notice.instNm}">환경보전협회</dd>
                                        </div>
                                        <div class="list">
                                            <dt>제목</dt>
                                            <dd>
                                                <th:block th:if="${bbsInfo.newUseYn == 'Y' and notice.newYn == 'Y'}">
                                                    <!-- <a href="javascript:void(0)" class="link ellipsis new" title="새 글" th:onclick="|moveToDetail(${notice.pstid})|">[[${notice.title}]]</a> -->
                                                    <a  class="link ellipsis new" title="새 글" th:href="|javascript:moveToDetail('${notice.pstid}')|">[[${notice.title}]]</a>
                                                </th:block>
                                                <th:block th:unless="${bbsInfo.newUseYn == 'Y' and notice.newYn == 'Y'}">
                                                    <!-- <a href="javascript:void(0)" class="link ellipsis" th:onclick="|moveToDetail(${notice.pstid})|">[[${notice.title}]]</a> -->
                                                    <a  class="link ellipsis" th:href="|javascript:moveToDetail('${notice.pstid}')|">[[${notice.title}]]</a>
                                                </th:block>
                                            </dd>
                                        </div>
                                        <div class="list">
                                            <dt>첨부파일</dt>
                                            <dd>
                                                <th:block th:if="${notice.filegrpid != 0 && notice.fileCount > 0}">
                                                    <i class="icon icon-attachment" title="첨부파일"></i>
                                                </th:block>
                                            </dd>
                                        </div>
                                        <div class="list">
                                            <dt>등록일</dt>
                                            <dd th:text="${#dates.format(notice.regDt,'yyyy-MM-dd')}"> 2022-10-04</dd>
                                        </div>
                                        <div class="list">
                                            <dt>조회수</dt>
                                            <dd th:text="${notice.hits}">1000</dd>
                                        </div>
                                    </dl>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>

            <th:block kattr:pagination="list" onclick="goPage"/>
        </div>

    </div>

    <script th:inline="javascript">
        var BbsVo = /*[[${BbsVo}]]*/null;
        var bbsInfo = /*[[${bbsInfo}]]*/null;
        var goReadUrl = "/front/bbs/" + bbsInfo.bbsid + "/view.html"
        var listUrl = "/front/bbs/" + bbsInfo.bbsid + "/main.html";
        var selectPstListUrl = "/front/bbs/" + bbsInfo.bbsid + "/selectPstList.do";

        function changeRowPerPage() {
            $('#rowPerPage').val($('#selectRowPerPage').val());
            $('#searchForm')[0].submit();
        };

        function moveToDetail(pstid) {
            var f = document.forms.searchForm;
            f.pstid.value = pstid;
            f.action = goReadUrl;
            f.submit();
        };

        function goPage(num) {
            $("#pageNumber").val(num);
            $('#searchForm')[0].submit();
        }

        $(function () {
            $(document).on('click', '#tab-sub01', function (e) {
                e.preventDefault();
                $('#tabType').val(1);
                $('#searchType, #searchKeyword').val('')
                $('#rowPerPage').val(10);

                $("#pageNumber").val(1);
                $('#searchForm')[0].submit();

            }).on('click', '#tab-sub02', function (e) {
                $('#tabType').val(2);
                $('#searchType, #searchKeyword').val('')
                $('#rowPerPage').val(10);

                $("#pageNumber").val(1);
                $('#searchForm')[0].submit();
            }).on('submit', '#searchForm', function (e) {
                e.preventDefault();

                var searchType = $("#searchType").val()
                var searchKeyword = $("#searchKeyword").val()

                if (searchType != '' && searchKeyword == '') {
                    alert('검색어를 입력해 주십시오.');
                    return;
                }

                $("#pageNumber").val(1);
                $('#searchForm')[0].submit();
            });
        });

    </script>
</div>