<div class="card-header p-t-0 p-b-0">
    <div class="sub-title row m-l-0 m-r-0 align-items-center">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0 p-l-0">
            <strong>후기작성내역</strong>
        </div>
        <div class="col-12 col-lg-6 text-right p-r-0">
            <strong>
                평균 별점 <span class="text-danger d-inline fs-6">3.0</span>
            </strong>
        </div>
    </div>
</div>
<div class="card-block-small p-t-0">
    <div class="col-12 table-border-style">
        <div class="col-12 table-responsive">
            <table class="table table-framed table-bordered">
                <thead>
                <tr class="border-bottom-inverse">
                    <th class="text-center v-middle" style="width: 67px;">번호</th>
                    <th class="text-center v-middle">요청번호</th>
                    <th class="text-center v-middle">작성자ID</th>
                    <th class="text-center v-middle">작성자 이름</th>
                    <th class="text-center v-middle">작성일</th>
                    <th class="text-center v-middle">별점</th>
                    <th class="text-center" style="width: 100px;">기타의견</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center v-middle">10</td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory1RequestNum" id="reviewRecordHistory1RequestNum"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory1WriterID" id="reviewRecordHistory1WriterID"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory1WriterName" id="reviewRecordHistory1WriterName"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="date" class="form-control form-control-sm" name="reviewRecordHistory1WriteDate" id="reviewRecordHistory1WriteDate"
                               placeholder="Text Input Validation" value="">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-center" name="reviewRecordHistory1Grade" id="reviewRecordHistory1Grade"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <div class="btn-group-sm text-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewRecordEtcCommentPopup">
                                확인
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center v-middle">9</td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory2RequestNum" id="reviewRecordHistory2RequestNum"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory2WriterID" id="reviewRecordHistory2WriterID"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory2WriterName" id="reviewRecordHistory2WriterName"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="date" class="form-control form-control-sm" name="reviewRecordHistory2WriteDate" id="reviewRecordHistory2WriteDate"
                               placeholder="Text Input Validation" value="">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-center" name="reviewRecordHistory2Grade" id="reviewRecordHistory2Grade"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <div class="btn-group-sm text-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewRecordEtcCommentPopup">
                                확인
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-center v-middle">8</td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory3RequestNum" id="reviewRecordHistory3RequestNum"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory3WriterID" id="reviewRecordHistory3WriterID"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm" name="reviewRecordHistory3WriterName" id="reviewRecordHistory3WriterName"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <input type="date" class="form-control form-control-sm" name="reviewRecordHistory3WriteDate" id="reviewRecordHistory3WriteDate"
                               placeholder="Text Input Validation" value="">
                    </td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-center" name="reviewRecordHistory3Grade" id="reviewRecordHistory3Grade"
                               placeholder="Text Input Validation" value="keepgo">
                    </td>
                    <td>
                        <div class="btn-group-sm text-center">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reviewRecordEtcCommentPopup">
                                확인
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
