<div class="card-header p-t-0 p-b-0">
    <h3 class="sub-title"><strong>강의요청서</strong></h3>
</div>
<div class="card-block-small p-t-0">
    <div class="mb-2 row">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <div class="mb-0 form-group">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestTitle"><strong>제목</strong></label>
                <div class="col-12">
                    <input type="text" class="form-control form-control-sm" name="lectureRequestTitle" id="lectureRequestTitle" th:value="${expertLctrDmndInfo.ttl}" readonly="">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="mb-0 form-group">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestStartDate"><strong>강의 시작 일시</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="lectureRequestStartDate" id="lectureRequestStartDate"
                           th:value="${#dates.format(expertLctrDmndInfo.lctrBgngDt, 'yyyy-MM-dd HH:mm')}" readonly="">
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <div class="mb-0 form-group">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestEndDate"><strong>강의 종료 일시</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="lectureRequestEndDate" id="lectureRequestEndDate"
                           th:value="${#dates.format(expertLctrDmndInfo.lctrEndDt, 'yyyy-MM-dd HH:mm')}" readonly="">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="mb-0 form-group">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestAddress"><strong>강의장소(지역)</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="lectureRequestAddress" id="lectureRequestAddress" th:value="${expertLctrDmndInfo.addr}" readonly="">
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <div class="mb-0 form-group">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestDetailAddress"><strong>상세주소</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="lectureRequestDetailAddress" id="lectureRequestDetailAddress" th:value="${expertLctrDmndInfo.addrDtl}" readonly="">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="mb-0 form-group">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestRequesterName"><strong>신청자</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="lectureRequestRequesterName" id="lectureRequestRequesterName" th:value="${expertLctrDmndInfo.userNm}" readonly="">
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <div class="mb-0 form-group">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestRequesterPhoneNum"><strong>신청자 휴대전화</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="lectureRequestRequesterPhoneNum" id="lectureRequestRequesterPhoneNum" th:value="${expertLctrDmndInfo.userMoblphon}"
                           readonly="">
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="mb-0 form-group">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestRequesterEmail"><strong>신청자 이메일</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="lectureRequestRequesterEmail" id="lectureRequestRequesterEmail" th:value="${expertLctrDmndInfo.userEml}" readonly="">
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 form-group row">
        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="lectureRequestRequestContents"><strong>요청내용</strong></label>
        <div class="col-12">
            <textarea rows="5" cols="5" class="form-control form-control-sm" id="lectureRequestRequestContents" name="lectureRequestRequestContents" th:text="${expertLctrDmndInfo.dmndCn}"
                      readonly></textarea>
        </div>
    </div>
    <div class="mb-0 form-group row">
        <div class="mb-0 form-group">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>첨부파일</strong></label>
                <div class="mt-2 row">
                    <div class="col-auto">
                        <th:block th:if="${expertLctrDmndInfo.fileVo != null}">
                            <th:block th:each="file : ${expertLctrDmndInfo.fileVo}">
                                <span class="label label-inverse">
                                    <a href="javascript:void(0)" class="text-white" th:fileid="${file.fileid}" th:fileIdntfcKey="${file.fileIdntfcKey}"
                                       th:onclick="|javascript:downloadFileByFileid(this.getAttribute('fileid'), this.getAttribute('fileIdntfcKey'))|">
                                        [[${file.orginlFileNm}]]
                                    </a>
                                </span>
                            </th:block>
                        </th:block>
                    </div>
                </div>

        </div>
    </div>
</div>
