<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<style>
    .hide {
        display: none;
    }

    #expertSearchJsGrid .jsgrid-grid-body {
        max-height: 385px;
    }
</style>
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content type_2">
        <div class="modal-header">
            <h4 class="modal-title">전문가 검색</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-block-small">
                    <form name="exprtSrchForm" id="exprtSrchForm">
                        <div class="row">
                            <div class="col-12 col-lg-3 mb-3">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="acntOrNm"><strong>아이디/이름</strong></label>
                                    <div class="input-group input-group-sm input-group-dropdown mb-0">
                                        <input type="text" class="form-control form-control-sm" aria-label="Text input with dropdown button" name="acntOrNm" id="acntOrNm" placeholder="아이디/이름"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 mb-3">
                                <div class="mb-0 form-group">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="crtfctNm"><strong>자격증명</strong></label>
                                    <div class="input-group input-group-sm input-group-dropdown mb-0">
                                        <input type="text" class="form-control form-control-sm" aria-label="Text input with dropdown button" name="crtfctNm" id="crtfctNm" placeholder="자격증명">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 mb-3">
                                <div class="mb-0 form-group">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>전문분야</strong></div>
                                    <th:block kattr:select_code="sbjctCd" grpCd="126" firstOptTxt="- 전체 - " isAdmin="true"></th:block>
                                </div>
                            </div>
                            <div class="col-12 col-lg-3 mb-3">
                                <div class="mb-0 form-group">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>활동가능지역</strong></div>
                                    <div class="col-12">
                                        <th:block kattr:select_code="rgnCd" grpCd="125" firstOptTxt="- 전체 -" isAdmin="true"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-1 p-t-20 text-center border-top">
                            <button type="button" class="btn btn-disabled m-r-5" onclick="exprtSrchPop.searchInit()">초기화</button>
                            <button type="button" class="btn btn-primary" onclick="exprtSrchPop.search()">검색</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card m-b-10">
                <div class="row p-20 p-b-0">
                    <div class="col-12 col-md-6">
                        <h5><strong>전문가 검색결과</strong></h5>
                    </div>
                </div>
                <div class="card-block-small">
                    <table id="exprtSrchJsGrid" class="table-responsive"></table>
                    <div id="exprtSrchListPager" class="text-center"></div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-effect waves-light " onclick="exprtSrchPop.insert()">선택</button>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var exprtSrchPop = {
        listUrl: "/mng/ass/selectJdgGrpMngExpertSearchList.do",
        insertUrl: "/mng/spbJdgs/insertExprt.do",
        gridHelper : null,
        exprtSelctedItems : [],

        init: function () {
            this.gridHelper = new GridHelper('exprtSrchJsGrid');
            this.writeJsGridData();
        },

        writeJsGridData() {
            $('#exprtSrchJsGrid').jsGrid({
                height: "auto",
                width: "100%",
                autoload: true,
                sorting: true,
                paging: true,
                pagerContainer: "#exprtSrchListPager",
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagePrevText: "이전",
                pageNextText: "다음",
                pageFirstText: "< 처음 ㅣ",
                pageLastText: "ㅣ 마지막 >",
                noDataContent: "데이터가 없습니다.",
                pageSize: 100,
                pageButtonCount: 10,
                pageLoading: true,
                pageIndex: 1,

                controller: {
                    loadData: function (filter) {
                        var data = $.Deferred();
                        var params = [
                            {"name": "pageNumber", "value": filter.pageIndex},
                            {"name": "rowPerPage", "value": filter.pageSize},
                        ];

                        if (filter.sortField != undefined) {
                            params.push({name: "orderField", value: mapCamelCaseToUnderscore(filter.sortField)});
                            params.push({name: "orderDirection", value: filter.sortOrder});
                        } else {
                            params.push({name: "orderField", value: 'reg_dt'});
                        }

                        var formData = $('#exprtSrchForm').serializeArray();
                        formData = formData.concat(params);
                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: exprtSrchPop.listUrl,
                            data: formData,
                            dataType: "json"
                        }).done(function (response) {
                            var da = {
                                data: escapeGridData(response.list),
                                itemsCount: response.totalCount
                            };
                            data.resolve(da);
                        });

                        return data.promise();
                    }
                },
                fields: [
                    {
                        headerTemplate: function () {
                            return "선택";
                        },
                        itemTemplate: function (_, item) {
                            return $("<input>").attr("type", "checkbox").attr("class", "singleCheckbox").attr("id", "userid-" + item.userid)
                                .prop("checked", $.inArray(item, exprtSrchPop.exprtSelctedItems) > -1)
                                .on("change", function () {
                                    $(this).is(":checked") ?
                                        expertSelectItem($(this).parent().next().text())
                                        : expertUnselectItem($(this).parent().next().text());
                                });
                        },
                        align: "center",
                        width: "80",
                        sorting: false
                    },
                    {name: 'userid', type: 'number', css: 'hide'},
                    {title: "No.", name: "rowNumber", type: "number", width: "80", align: "center", sorting: false},
                    {title: "아이디", name: "acnt", type: "text", width: "150", align: "center"},
                    {title: "이름", name: "nm", type: "text", width: "120", align: "center"},
                    {title: "이메일", name: "eml", type: "text", width: "200", sorting: false},
                    {
                        title: "전화번호", name: "moblphon", type: "text", width: "150", align: "center", sorting: false,
                        itemTemplate: function (value) {
                            return value.substring(0, 3) + "-" + value.substring(3, 7) + "-" + value.substring(7, 11);
                        }
                    },
                    {title: "자격증명", name: "crtfctNm", type: "text", cellRenderer: exprtSrchPop.cellRendererCrtfctNm, width: "130", sorting: false},
                    {title: "전문분야", name: "sbjctCdNm", type: "text", width: "150", cellRenderer: exprtSrchPop.cellRendererSbjctCdNm, align: "center", sorting: false},
                    {title: "활동가능지역", name: "rgnCdNm", type: "text", width: "150", cellRenderer: exprtSrchPop.cellRendererRgnCdNm, align: "center", sorting: false},
                ]
            });
            var expertSelectItem = function (id) {
                exprtSrchPop.exprtSelctedItems.push(id);
            };
            var expertUnselectItem = function (id) {
                exprtSrchPop.exprtSelctedItems = $.grep(exprtSrchPop.exprtSelctedItems, function (i) {
                    return i !== id;
                });
            };
        },

        cellRendererCrtfctNm: function (value, item) {
            if (isNull(item.crtfctNm)) return '<td></td>';
            return "<td style='word-wrap: break-word;white-space: normal;'>" + item.crtfctNm + '</td>';
        },

        cellRendererSbjctCdNm: function (value, item) {
            if (isNull(item.sbjctCdNm)) return '<td></td>';
            return "<td style='word-wrap: break-word;white-space: normal;'>" + item.sbjctCdNm + '</td>';
        },

        cellRendererRgnCdNm: function (value, item) {
            if (isNull(item.rgnCdNm)) return '<td></td>';
            return "<td style='word-wrap: break-word;white-space: normal;'>" + item.rgnCdNm + '</td>';
        },

        searchInit: function () {
            $('#acntOrNm , #crtfctNm, #sbjctCd, #rgnCd').val('');
        },

        search: function () {
            this.gridHelper.resetListContent();
        },

        insert: function () {

            if (this.exprtSelctedItems.length <= 0) {
                alert("전문가를 선택해주십시오.");
                return;
            }

            var params = [
                {name: "insertIds", value: this.exprtSelctedItems},
                {name: "grpId", value: spbJdgsForm.grpId}
            ];

            if (!confirm("전문가를 등록 하시겠습니까?"))
                return;

            if (displayWorkProgress()) {
                $.ajax({
                    url: exprtSrchPop.insertUrl,
                    type: 'post',
                    async: 'false',
                    data: params,
                    dataType: 'json',
                    success: function (result) {
                        if (result.success) {
                            spbJdgsForm.gridHelper.resetPageContent();
                        }
                        alert(result.msg);
                        closeWorkProgress();
                    }
                });
            }
            spbJdgsForm.exprtSrchPopup.hide();
        }
    };

    $(function() {
        exprtSrchPop.init();
    })
</script>
</html>


