<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/mng/mainLayout"
>
<body>
	<div layout:fragment="content" class="page-body">
<style>
.hide{display:none;}
</style>
        <div class="row">
            <form name="searchFrm" id="searchFrm" action="" method="POST" onsubmit="return false;">
            <div class="col-12">
                <div class="card">
                    <div class="card-block-small">
                        <!-- 키워드 filter -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>구분</strong></div>
                                    <div class="col-sm-12">
                                        <select class="form-select form-select-sm form-control-sm" id="searchResrceSeCd" name="searchResrceSeCd" >
                                            <option value="">- 전체 -</option>
                                            <option value="238101">기관</option>
                                            <option value="238102">환경교육시설</option>
                                            <option value="238103104">교육프로그램 > 환경교육 프로그램</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>지역(시도)</strong></div>
                                    <div class="col-sm-12">
                                        <select class="form-select form-select-sm form-control-sm" id="searchCtprvnCd" name="searchCtprvnCd">
                                            <option value="">- 전체 -</option>
                                            <option th:each="item:${sidoList}" th:value="${item.ctprvnCd}" ><th:block th:text="${item.ctprvnNm}" ></th:block></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>환경자원명</strong></div>
                                    <div class="col-sm-12">
                                        <input class="form-control form-control-sm" type="text" id="searchResrceNm" name="searchResrceNm" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 mb-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사용여부</strong></div>
                                    <div class="col-sm-12">
                                        <select id="searchUseYn" name="searchUseYn" class="form-select form-select-sm form-control-sm">
                                            <option value=""> -전체-</option>
                                            <option value="Y">사용</option>
                                            <option value="N">사용안함</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //키워드 filter -->
                        <!-- 키워드 filter-btn -->
                        <div class="mt-1 p-t-20 text-center border-top">
                            <button class="btn btn-disabled m-r-5" onclick="searchInit()">초기화</button>
                            <button type="submit" class="btn btn-primary" onclick="searchForm()">검색</button>
                        </div>
                    </div>
                </div>
                <!-- //필터 부분 -->

                <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6">
                            <h5><strong>지도기반 데이터 검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button type="button" class="btn btn-primary waves-effect waves-light m-r-5" onclick="fn_mapInsertModal()">일괄등록</button>
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="goReg()">등록</button>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            <div id="contentPanel" style="display:none"></div>
        </div>
	</div>

    <div class="modal fade" id="mapInsertPopup" aria-hidden="true" data-bs-backdrop="static"></div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript">
        var gridHelper1;
        var mapInsertModal;

        $(function(){
            gridHelper1 = new GridHelper('jsGrid','contentPanel');
            writeJsGridData();
        });


        var mapInsertModalUrl = "/mng/map/mapInsertPopup.html";
        var fn_mapInsertModal = () => {
            $("#mapInsertPopup").load(mapInsertModalUrl, function(response, status, xhr) {
                if (status == "success") {
                	mapInsertModal= new bootstrap.Modal($('#mapInsertPopup'));
                	mapInsertModal.show();
                }
            });
        }


        function searchInit(){
        	$("#searchResrceSeCd, #searchCtprvnCd, #searchResrceNm, #searchUseYn").val("");
        }

        function searchForm(){
        	gridHelper1.resetListContent();
        }

        function goReg(){
        	var detailUrl = "/mng/map/mapInsertForm.html"
            gridHelper1.loadContent(detailUrl);
            //gridHelper1.rowClick(args);
        }

        function writeJsGridData(){
            $("#jsGrid").jsGrid({
                height: "auto",
                width: "100%",
                autoload: true,
                sorting: false,
                paging: true,
                pagerContainer: "#listPager",
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagePrevText: "이전",
                pageNextText: "다음",
                pageFirstText: " < 처음 ㅣ",
                pageLastText: " | 마지막 >",
                pageSize: 10,
                pageButtonCount: 10,
                pageLoading: true,
                pageIndex: 1,
                noDataContent: "데이터가 없습니다.",

                controller: {
                    loadData: function (filter) {
                        var data = $.Deferred();

                        var formData = $('#searchFrm').serializeArray();
                        var params = [
                                {name: "pageNumber", value: filter.pageIndex},
                                {name: "rowPerPage", value: filter.pageSize},
                        ]

                        if(filter.sortField != undefined){
                            params.push({name: "orderField", value: filter.sortField});
                            params.push({name: "orderDirection", value: filter.sortOrder});
                        }else{
                            params.push({name: "orderField", value: 'reg_dt'});
                        }
                        formData = formData.concat(params);

                        $.ajax({
                          type: "GET",
                          contentType: "application/json; charset=utf-8",
                          url: "/mng/map/selectMapList.do",
                          dataType: "json",
                          data: formData,
                        }).done(function(response){
                            var da = {
                                    data : escapeGridData(response.list)
                                    ,itemsCount : response.totalCount
                                };
                          data.resolve(da);
                        });
                        return data.promise();
                    },
                },
                fields: [

                     { name: 'resrceid', css: 'hide' }
                    ,{ title: 'No.'        ,name: 'rowNumber'    ,type: "number" ,width: "80"   ,align:"center",  sorting :false }
                    ,{ title: '구분'       ,name: 'resrceSeCdNm' ,type: "text"   ,width: "100"  ,align:"center"}
                    ,{ title: '지역'       ,name: 'ctprvnNm'     ,type: "text"   ,width: "200"  ,align:"center"}
                    ,{ title: '환경자원명' ,name: 'resrceNm'     ,type: "text"   ,width: "150"  ,align:"left"}
                    ,{ title: '사용여부'   ,name: 'useYn'        ,type: "text"   ,width: "200"  ,align:"center" ,
                    	itemTemplate :
                        function(value,item){
                            if(value=="Y"){
                                return "사용";
                            }else if(value=="N"){
                            	return "사용안함";
                            }else{
                            	return "";
                            }
                        }
                     }
                    ,{ title: '등록자'     ,name: 'rgtrNm'       ,type: "text"   ,width: "100"  ,align:"left"}
                    ,{ title: '등록일자'   ,name: 'regDt'        ,type: "text"   ,width: "150"  ,align:"center"}
                ],

                rowClick: function(args) {
                    if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                    var detailUrl = "/mng/map/mapUpdateForm.html?resrceid=" + args.item.resrceid;
                    gridHelper1.loadContent(detailUrl);
                    gridHelper1.rowClick(args);
                },

                onPageChanged: function(args) {
                }
            });

      }

    </script>
</body>