<form id="mapFrm" >
    <input type="hidden" id="resrceid"    name="resrceid" th:value="${mapInfo.resrceid}"/>
    <input type="hidden" id="rgnCd"    name="rgnCd" />
    <input type="hidden" id="zip"      name="zip" />

    <div class="card">
        <div class="card-header p-b-0">
            <h3 class="sub-title"><strong>기본정보</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3 form-group row">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>구분</strong></div>
                        <div class="col-sm-12">
                            <select class="form-select form-select-sm form-control-sm" id="resrceSeCd" name="resrceSeCd" onchange="changeResrceSeCd()">
                                <option value="238101"    th:selected="'238101'    == ${mapInfo.resrceSeCd}">기관</option>
                                <option value="238102"    th:selected="'238102'    == ${mapInfo.resrceSeCd}">환경교육시설</option>
                                <option value="238103104" th:selected="'238103104' == ${mapInfo.resrceSeCd}">교육프로그램 > 환경교육 프로그램</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3 form-group row">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>지역(시도)</strong></div>
                        <div class="col-sm-12">
                            <select class="form-select form-select-sm form-control-sm" id="ctprvnCd" name="ctprvnCd" >
                                <option value="">- 전체 -</option>
                                <option th:each="item:${sidoList}" th:value="${item.ctprvnCd}" th:selected="${item.ctprvnCd} == ${mapInfo.ctprvnCd}"><th:block th:text="${item.ctprvnNm}" ></th:block></option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header p-t-0 p-b-0">
            <h3 class="sub-title"><strong>지도기반 데이터 정보</strong></h3>
        </div>

        <div class="card-block-small p-t-0" >
            <!-- [CASE] 구분 - 기관, 환경교육시설 -->
            <div id="type1" style="display:''">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>환경자원명</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-sm" name="resrceNm1" id="resrceNm1" th:value="${mapInfo.resrceNm}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>전화번호</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-sm" name="telno" id="telno" th:value="${mapInfo.telno}"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [CASE] 교육프로그램 -->
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>홈페이지</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-sm" name="hmpg" id="hmpg" th:value="${mapInfo.hmpg}" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="" ><strong>등록자</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-sm" name="rgtrNm" id="rgtrNm" th:value="${mapInfo.rgtrNm}" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="mb-3 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="" ><strong>등록일</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-sm" name="regDt" id="regDt" th:value="${mapInfo.regDt}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- [CASE] 교육프로그램 -->
            <div id="type2" style="display:''">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>환경자원명</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="resrceNm2" id="resrceNm2" th:value="${mapInfo.resrceNm}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>운영기관명</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="instNm" id="instNm" th:value="${mapInfo.instNm}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>교육대상</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="eduTrgt" id="eduTrgt" th:value="${mapInfo.eduTrgt}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>교육인원</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="eduNope" id="eduNope" th:value="${mapInfo.eduNope}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>교육주제</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="eduSbjct" id="eduSbjct" th:value="${mapInfo.eduSbjct}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>등록자</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="rgtrNm" id="rgtrNm" th:value="${mapInfo.rgtrNm}" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>등록일</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="regDt" id="regDt" th:value="${mapInfo.regDt}" readonly>
                        </div>
                    </div>
                </div>
            </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="addr"><strong>주소</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="addr" id="addr" th:value="${mapInfo.addr}" placeholder="주소" onclick="daumPostcode(2)" readonly/>
                            <span class="messages"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3 form-group row required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="addrDtl"><strong>상세주소</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="addrDtl" id="addrDtl" th:value="${mapInfo.addrDtl}" >
                            <span class="messages"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-3 form-group row">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사용여부</strong></div>
                    <div class="col-12">
                        <div class="form-radio">
                            <div class="radio radio-inline">
                                <span kattr:radio_yn="useYn" label1="사용" label2="미사용" addStyle="margin-top:4px" th:attr="defaultVal=${mapInfo.useYn}" addClass="col-sm-3" isAdmin="true"  />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-block-small">
            <button type="button" class="btn btn-disabled m-r-5" onclick="gridHelper1.toggleContent();">취소</button>
            <button type="button" class="btn btn-primary" onclick="doSave()">저장</button>
        </div>
    </div>
</form>

<script th:inline="javascript">

    var validator = $("#mapFrm #resrceSeCd").val() != "238103104" ?
    	$("#mapFrm").validate({
            onsubmit: false,
            rules: {
                    resrceNm1 :   { required: true , maxlength: 100 }
                  , telno     :   { required: true , maxlength: 12  , number: true}
                  , hmpg      :   { required: true , maxlength: 500 }
                  , addr      :   { required: true , maxlength: 200 }
                  , addrDtl   :   { required: true , maxlength: 400 }
                  , useYn     :   { required: true }
              },
              messages: {
                    resrceNm1 :   { required: "환경자원명을 입력해주십시오." , maxlength : "환경자원명은 100자 이하여야 합니다." }
                  , telno     :   { required: "전화번호를 입력해주십시오."   , maxlength :"전화번호는 12자를 초과할 수 없습니다." ,number: "숫자만 입력가능합니다."}
                  , hmpg      :   { required: "홈페이지를 입력해주십시오."   , maxlength : "홈페이지는 500자 이하여야 합니다."}
                  , addr      :   { required: "주소를 입력해주십시오."       , maxlength : "주소는 200자 이하여야 합니다."}
                  , addrDtl   :   { required: "상세주소를 입력하세요"        , maxlength : "상세주소는 400자 이하여야 합니다."}
                  , useYn     :   { required: "사용여부를 선택해주십시오." }
              }
        })
        :
        $("#mapFrm").validate({
            rules: {
                    resrceNm2 :   { required: true , maxlength: 100 }
                  , instNm    :   { required: true , maxlength: 100 }
                  , eduNope   :   { required: true }
                  , eduSbjct  :   { required: true }
                  , ctprvnCd  :   { required: true }
                  , addr      :   { required: true , maxlength: 200 }
                  , addrDtl   :   { required: true , maxlength: 400 }
                  , useYn     :   { required: true }
              },
              messages: {
            	    resrceNm2 :   { required: "환경자원명을 입력해주십시오." , maxlength: "환경자원명은 100자 이하여야 합니다." }
                  , instNm    :   { required: "기관명을 입력해주십시오."     , maxlength: "기관명은 100자 이하여야 합니다." }
                  , eduNope   :   { required: "교육인원을 입력해주십시오." }
                  , eduSbjct  :   { required: "교육주제를 입력해주십시오." }
                  , ctprvnCd  :   { required: "지역(시도)를 입력해주십시오." }
                  , addr      :   { required: "주소를 입력해주십시오."       , maxlength: "주소는 200자 이하여야 합니다."}
                  , addrDtl   :   { required: "상세주소를 입력하세요"        , maxlength: "상세주소는 400자 이하여야 합니다."}
                  , useYn     :   { required: "사용여부를 선택해주십시오." }
              }
        });

    function daumPostcode(id){

        new daum.Postcode({
            oncomplete: function(data) {
                var addr = '';
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                $('#rgnCd').val(data.sigunguCode);
                $('#zip').val(data.zonecode);
                if(id==1){
                    $('#addr1').val(addr);
                    $('#addrDtl1').focus();
                }
                else{
                    $('#addr').val(addr);
                    $('#addrDtl').focus();
                }
            }
        }).open();
    }

    function changeResrceSeCd(){

    	if($("#mapFrm #resrceSeCd").val() == "238103104"){
    	    $("#type1").prop("style","display:none");
    	    $("#type2").prop("style","display:''");
    	    $("#hmpg, #telno").val("");
    	}else{
    		$("#type1").prop("style","display:''");
    		$("#type2").prop("style","display:none");
    	    $("#instNm ,#eduTrgt ,#eduNope ,#eduSbjct").val("");
    	}
    }

    function doSave(){
    	let data;
    	var yn;

		if(!($("#mapFrm").valid())) return;

		data = $("#mapFrm").serialize()
	    if($("#mapFrm").val() != "238103104"){
	    	data += "&resrceNm="+ $("#resrceNm1").val();

	    }else{
	    	data += "&resrceNm="+ $("#resrceNm2").val();
	    }

        if(!confirm("저장하시겠습니까?")) return;

        if(displayWorkProgress()){
            $.ajax({
                url : "/mng/map/updateMap.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : data,
                success : function (data){

                    if(data.result=="success"){
                        alert(data.msg);
                        gridHelper1.resetListContent();
                    }else{
                        alert(data.msg);
                    }
                    closeWorkProgress();
                }
            });
        }
    }

    $(function(){
    	changeResrceSeCd();
    	//$("#resrceSeCd").prop("disabled", true);
    })

</script>