<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/mng/mainLayout" 
>

<body>
<div layout:fragment="content">
    <div class="page-body">
        <div class="row" id="tabContent">
        </div>
    </div>
    <script th:inline="javascript">
        var trprMng = {
            init: function() {
                this.loadContent();
                this.registEvent();                
            },
            
            registEvent: function() {
                // TODO
            },
            
            loadContent: function() {
                $.ajax({
                    cache: false,
                    url: "/mng/srvy/trprSrvyListForm.html", 
                    type: "GET",
                    async: "false",
                    dataType: "html",
                    success: function(result) { //요청이 성공했을때 실행되는 콜백 함수
                        $("#tabContent").html(result);
                    }
                });
            }
        };
        
        $(function() {
            trprMng.init();
        });
    </script>
</div>
</body>
</html>