<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h3 class="sub-title"><strong>설문결과</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="col-12 mb-4" th:each="qitem: ${qitemList}">
                <h3 class="sub-title"><strong th:text="${qitem.ordr + '. ' + qitem.cn + ' (' + qitem.qitemTypeCdNm + ')'}"></strong></h3>
                <div class="row align-items-end">
                    <!-- <th:block th:if="${qitem.qitemTypeCd == '107100'} or ${qitem.qitemTypeCd == '107102'}"> -->
                    <div class="col-12 col-lg-4">
                        <div th:id="${'chart' + qitem.qitemid}" style="width: 100%; height: 300px; border: 1px solid #0000ff;"></div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="table-responsive">
                            <table class="table table-sm border">
                                <thead>
                                <tr>
                                    <th class="table-active v-middle">보기</th>
                                    <th class="table-active text-right v-middle" style="width: 100px;">응답자수(명)</th>
                                    <th class="table-active text-right v-middle" style="width: 100px;">비율(%)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ex: ${qitem.exampleList}">
                                    <td class="v-middle" th:text="${ex.cn}"></td>
                                    <td class="text-right v-middle" th:text="${ex.ansCnt}"></td>
                                    <td class="text-right v-middle"></td>
                                </tr>
                                <tr>
                                    <th class="table-active v-middle">계</th>
                                    <th class="table-active text-right v-middle"></th>
                                    <th class="table-active text-right v-middle"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- </th:block> -->
                    <!--
                    <th:block th:if="${qitem.qitemTypeCd == '107101'}">
                        <div class="col-12 col-lg-4">
                            <div th:id="${'chart' + qitem.qitemid}" style="width: 100%; height: 300px; border: 1px solid #0000ff;"></div>
                        </div>
                        <div class="col-12 col-lg-8">
                            <div class="table-responsive">
                                <table class="table table-sm border">
                                    <thead>
                                    <tr>
                                        <th class="table-active v-middle">보기</th>
                                        <th class="table-active text-right v-middle" style="width: 100px;">응답자수(명)</th>
                                        <th class="table-active text-right v-middle" style="width: 100px;">비율(%)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="ex: ${qitem.exampleList}">
                                        <td class="v-middle" th:text="${ex.cn}"></td>
                                        <td class="text-right v-middle" th:text="${ex.ansCnt}"></td>
                                        <td class="text-right v-middle"></td>
                                    </tr>
                                    <tr>
                                        <th class="table-active v-middle">계</th>
                                        <th class="table-active text-right v-middle">0</th>
                                        <th class="table-active text-right v-middle">0</th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        -->
                    </th:block>  
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var trprSrvyRslt = {
        qitemList: /*[[${qitemList}]]*/,
        
        init: function() {
            this.registEvent();
        },
        
        registEvent: function() {
            // TODO
        }
    };
    
    trprSrvyRslt.init();
</script>