<form id="smsFrm">
<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="popCon2Title">SMS 발송</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<!-- Title & Button Start -->
			<strong class="popup-tit1">수신자 목록</strong>
			<button type="button" class="btn btn-sm btn-primary pop-trans1" onclick="smspopDeleteItems()">삭제</button>
			<!-- Title & Button End -->

			<!--  리스트 인서트 패널 Row start -->
			 <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<!-- List Area -->
				<div class="panel panel-default">
			    	<div class="panel-heading" role="tab" id="headingOne">
			      		<h4 class="panel-title">
			        		<a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">목록</a>
			      		</h4>
			    	</div>
			    	<div id="collapseList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      		<div class="panel-body">		
			      
							<div class="row">
								<table id="smspopJsGrid"></table>
								<div id="smspopListPager" class="text-center"></div>
							</div>
					
						</div>
					</div>
				</div>
				<!-- Content Area -->
				<div id="contentPanel" class="panel panel-default" style="display:none"></div>
			</div>

			<strong class="popup-tit1">SMS 내용 <em class="text-danger">*</em></strong>
			<div class="list-row w100">
				<textarea class="form-control input-sm" rows="4" id="smsText" name="smsText" onkeyup="inputSmsText(this.value)"></textarea>
				<p class="right-align-text"><span id="smsByteCnt">0</span>/80 byte</p>
			</div>
			<div class="list-row">
				<strong class="control-label">발송 선택 <em class="text-danger">*</em></strong>
				<div class="form-con custom-radio">
					<label><input type="radio" name="smsSendType" value="1" onchange="selectSmsSendType(this.value)" checked><span>즉시발송</span></label>
					<label><input type="radio" name="smsSendType" value="2" onchange="selectSmsSendType(this.value)"><span>예약발송</span></label>
				</div>
			</div>
			<div class="list-row trans1" id="smsBookSetArea" style="display:none">
				<strong class="control-label"><span>예약발송</span></strong>
				<div class="form-con custom-select">
					<ul>
					<li>
						<em>발송일자</em>
						<div class="date-picker-area">
							<th:block kattr:date_pic="smsSendDay" dateForm="yy-mm-dd" addStyle="width:110px;display: inline-block;" addClass=" input-sm"></th:block>
						</div>
					</li>
					<li>
						<em>발송시간</em>
						<select id="smsSendHour" name="smsSendHour" class="form-control input-sm w-type2 no-margin">
							<option value="">선택</option>
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
						</select>
						<span>시</span>
						<select id="smsSendMin" name="smsSendMin" class="form-control input-sm w-type2">
							<option value="">선택</option>
							<option value="00">00</option>
							<option value="01">01</option>
							<option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
							<option value="32">32</option>
							<option value="33">33</option>
							<option value="34">34</option>
							<option value="35">35</option>
							<option value="36">36</option>
							<option value="37">37</option>
							<option value="38">38</option>
							<option value="39">39</option>
							<option value="40">40</option>
							<option value="41">41</option>
							<option value="42">42</option>
							<option value="43">43</option>
							<option value="44">44</option>
							<option value="45">45</option>
							<option value="46">46</option>
							<option value="47">47</option>
							<option value="48">48</option>
							<option value="49">49</option>
							<option value="50">50</option>
							<option value="51">51</option>
							<option value="52">52</option>
							<option value="53">53</option>
							<option value="54">54</option>
							<option value="55">55</option>
							<option value="56">56</option>
							<option value="57">57</option>
							<option value="58">58</option>
							<option value="59">59</option>
						</select>
						<span>분</span>
					</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button type="button" class="btn btn-primary" onclick="sendSms()">확인</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBtn">취소</button>
		</div>
	</div>
</div>
</form>

<script th:inline="javascript">

	var smspopSelectedItems = [];
	var smspopGridData = [[${contactInfoList}]];
	var smspopItemsCount = [[${contactInfoItemsCount}]];
	
	$(function(){
		smspopGridInit();
	});

	function smspopDeleteItems() {
		if(!smspopValidChecked()) return false;
		
		smspopSelectedItems.forEach(function (item, index, array) {
			var i = smspopGridData.findIndex(function(element) {
				return element.userid == smspopSelectedItems[index];
			});
			smspopGridData.splice(i, 1);
		});
		var smspopGridDataLength = smspopGridData.length;
		smspopGridData.forEach(function (item, index, array) {
			item.rowNumber = smspopGridDataLength--;
		});
		smspopItemsCount = smspopGridData.length;
		smspopSelectedItems = [];
		$("#smspopJsGrid").jsGrid("reset");
	}
	
	function smspopValidChecked() {
		if(smspopSelectedItems.length == 0) {
			alert("삭제할 대상을 선택해주세요.");
			return false;
		}
		return true;
	}

	function smspopGridInit(){
		$("#smspopJsGrid").jsGrid({
			height: "auto",
		    width: "100%",
		    autoload: true,
		    sorting: false,
		    paging: true,
		    pagerContainer: "#smspopListPager",
		    pagerFormat: "{first} {prev} {pages} {next} {last}",
		    pagePrevText: "이전",
		    pageNextText: "다음",
		    pageFirstText: " < 처음 ㅣ",
		    pageLastText: " | 마지막 >",
		    pageSize: 10,
		    pageButtonCount: 10,
		    pageLoading: true,
		    pageIndex: 1,
		    noDataContent: "데이터가 없습니다.",
		    
		    controller: { loadData: 
		    	function() { 
			    	return {
			    		data : smspopGridData
			    	   ,itemsCount : smspopItemsCount
			    	}
		    	}
		    },
		    fields: [
		    	 {
				     headerTemplate: function() {
					  	 return $("<input>").attr("type", "checkbox").attr("id", "smspopSelectAllCheckbox")
				 	 },
				 	 itemTemplate: function(_, item) {
					  	 return $("<input>").attr("type", "checkbox").attr("class", "smspopSingleCheckbox")
					  	 .prop("checked", $.inArray(String(item.userid), smspopSelectedItems) > -1)
					  	 .on("change", function () {
					  	 $(this).is(":checked") ? smspopSelectItem($(this).parent().next().text()) : smspopUnselectItem($(this).parent().next().text());
					  	 });
				 	 },
				 	 align: "center",
				 	 width: "2%",
				 	 sorting: false
				 }   	        	
		    	,{ name: 'userid', css: 'hide' }
		        ,{ title: '번호' ,name: 'rowNumber',    type: "number", width : "5%", align:"center" }
		        ,{ title: '아이디'    ,name: 'acnt',    type: "text", width: "20%"}
		        ,{ title: '이름'    ,name: 'nm', type: "text", width: "10%" }
		        ,{ title: '휴대폰'   ,name: 'mobno',   type: "text", width: "10%", align:"center" }
		    ],
	        onPageChanged: function(args) {
	            smspopSelectedItems = [];
	        }
		});
	}
	
	var smspopSelectItem = function(item) {
		smspopSelectedItems.push(item);
	    if($(".smspopSingleCheckbox").length == $(".smspopSingleCheckbox:checked").length) {
	        $("#smspopSelectAllCheckbox").prop("checked", true);
	    } else {
	        $("#smspopSelectAllCheckbox").prop("checked", false);
	    }
	};
	 
	var smspopUnselectItem = function(item) {
		smspopSelectedItems = $.grep(smspopSelectedItems, function(i) {
	    return i !== item;
	    });
	    if(smspopSelectedItems.length == 0) {
	    	$('#smspopSelectAllCheckbox').attr('checked', false);
	    }
	    if($(".smspopSingleCheckbox").length == $(".smspopSingleCheckbox:checked").length) {
	        $("#smspopSelectAllCheckbox").prop("checked", true);
	    } else {
	        $("#smspopSelectAllCheckbox").prop("checked", false);
	    }
	};
	
	$("#smspopSelectAllCheckbox").click(function(item) {
		smspopSelectedItems = [];
		if(this.checked) { // check select status
	        $('.smspopSingleCheckbox').each(function() { 
	            this.checked = true;   
	            smspopSelectItem($(this).parent().next().text());           
	        });	
	    }else {
	        $('.smspopSingleCheckbox').each(function() { 
	            this.checked = false;      
	            smspopUnselectItem(item);
	        });  
	        smspopSelectedItems = [];
	    }
	});
	
	function selectSmsSendType(smsSendType) {
		if(smsSendType == "1") { // 즉시발송
			$("#smsBookSetArea").hide();
			$("#smsSendDay").val("");
			$("#smsSendHour").val("");
			$("#smsSendMin").val("");
		}else{ // 예약발송
			$("#smsBookSetArea").show();
		}
	}
	
	function stringByteLength(s,b,i,c) { // 문자열 바이트수 계산
        for(b=i=0;c=s.charCodeAt(i++);b+=c>>11?3:c>>7?2:1);
        return b;
    }
	
    function inputSmsText(val){
    	var smsByteCnt = stringByteLength(val);
        //val.length; // 글자수
        $("#smsByteCnt").text(smsByteCnt);
    }
	
	function sendSms() {
		if(smspopItemsCount == 0) {
			alert("발송대상이 없습니다.");
			$("#cancelBtn").click();
			return false;
		}
		
		if(!($("#smsFrm").valid())) return false;
		
		if(stringByteLength($("#smsText").val()) > 80) {
			alert("80byte 까지만 입력이 가능합니다.");
			return false;
		}
		
		var mobnos = [];
		smspopGridData.forEach(function (item, index, array) {
			mobnos.push(item.mobno);
		});
		
		var reserveDate = $("#smsSendDay").val() + " " + $("#smsSendHour").val() + ":" + $("#smsSendMin").val() + ":00"; 
		
		if(displayWorkProgress()){
			$.ajax({
				url : "/mng/member/sendSms.do",
				type: 'POST',
				cache : false,
				dataType: 'json',
				data : { mobnos: mobnos.join(','), smsText: $("#smsText").val(), smsSendType: $(":input:radio[name=smsSendType]:checked").val(), reserveDate: reserveDate },
				success : function (data){
					alert(data.msg);
					closeWorkProgress();
					$("#cancelBtn").click();
				}
			});
		}
	}
	
	var smsPopValidator= $("#smsFrm").validate({
	    rules: {  
	     	smsText        : { required: true }
		   ,smsSendDay        : { required: true }
		   ,smsSendHour        : { required: true }
		   ,smsSendMin        : { required: true }
	    },
	    messages: {  
		    smsText        : { required: "SMS 내용을 입력해주십시오."   }
	       ,smsSendDay     : { required: "예약발송일을 입력해주십시오."   }
	       ,smsSendHour    : { required: "예약발송시간(시)을 입력해주십시오."   }
	       ,smsSendMin     : { required: "예약발송시간(분)을 입력해주십시오."   }
	    }
    })
    
</script>