<form id="tempPwdFrm">
<input type="hidden" id="userid" name="userid" th:value="${param.userid}">
<div class="modal-dialog modal-dialog-centered" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title" id="popCon1Title">임시비밀번호발급</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="list-row">
				<strong class="control-label">발급방식 선택</strong>
				<div class="form-con custom-radio">
					<label><input type="radio" name="method" value="auto" onchange="selectMethod(this.value)" checked><span>자동발급</span></label>
					<label><input type="radio" name="method" value="nonauto" onchange="selectMethod(this.value)"><span>수동발급</span></label>
				</div>
			</div>
			<div class="list-row" id="transType">
				<strong class="control-label">전송수단 선택</strong>
				<div class="form-con custom-radio">
					<label><input type="checkbox" name="transType" value="email" checked disabled><span>이메일로 발급</span></label>
				</div>
			</div>
			
			<strong class="popup-tit1"></strong>
			
			<div id="tempPwdNonauto" style="display:none">
				<strong class="popup-tit1">임시비번 수동발급</strong>
				<div class="list-row">
					<strong class="control-label">비밀번호 입력</strong>
					<div class="form-con"><input type="password" id="pwd" name="pwd" class="form-control input-sm"></div>
				</div>
				<div class="list-row">
					<strong class="control-label">비밀번호 확인</strong>
					<div class="form-con"><input type="password" id="chkpwd" name="chkpwd" class="form-control input-sm"></div>
				</div>
			</div>

		</div>

		<div class="modal-footer">
			<th:block sec:authorize-url="/mng/member/createTempPwd.do"><button type="button" class="btn btn-primary" onclick="createTempPwd()">확인</button></th:block>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelBtn">취소</button>
		</div>
	</div>
</div>
</form>

<script th:inline="javascript">
	
	var tempPwdValidator= $("#tempPwdFrm").validate({
	    rules: {  
	     	pwd     : 	{ required: true ,isBlank : true ,isHangulOff :true, minlength: 8, maxlength: 20 }  
	    	,chkpwd  : 	{ required: true ,isBlank : true ,isHangulOff :true, minlength: 8, maxlength: 20 }
	    },
	    messages: {  
		    pwd     : { required: "비밀번호를 입력해주십시오." , isBlank : "입력값에 공백이 있습니다." ,isHangulOff :"한글은 사용하실 수 없습니다.", minlength:"비밀번호는 8자 이상이어야 합니다.", maxlength: "비밀번호는 20자 이하여야 합니다."   }
	    	,chkpwd  : { required: "비밀번호 확인란을 입력해주십시오." , isBlank : "입력값에 공백이 있습니다." ,isHangulOff :"한글은 사용하실 수 없습니다.", minlength:"비밀번호는 8자 이상이어야 합니다.", maxlength: "비밀번호는 20자 이하여야 합니다."    }
	    }
    })
	 
	function selectMethod(selMethod) {
		if(selMethod == "nonauto") {
			$("#transType").hide();
			$("#tempPwdNonauto").show();
		}else{
			$("#transType").show();
			$("#tempPwdNonauto").hide();
			$("#pwd").val("");
			$("#chkpwd").val("");
		}
	}
	
	function createTempPwd() {
		
		if($("#userid").val() == "") {
			alert("비밀번호 발급 대상 사용자 정보가 없습니다.");
			return false;
		}
		
		if(!($("#tempPwdFrm").valid())) return;
		
		if($("input:radio[name=method]:checked").val() == "nonauto" && $("#pwd").val() != $("#chkpwd").val()) {
			alert("입력하신 비밀번호와 비밀번호 확인 값이 다름니다.");
			return false;
		}
		
		if(!confirm("비밀번호를 발급하시겠습니까?")) return false;
		
		if(displayWorkProgress()){
			$.ajax({
				url : "/mng/member/createTempPwd.do",
				type: 'POST',
				cache : false,
				dataType: 'json',
				data : $("#tempPwdFrm").serialize(),
				success : function (data){
					alert(data.msg);
					closeWorkProgress();
					if(data.result == "success"){
						$("#cancelBtn").click();
					}
				}
			});
		}
	}
	
</script>