<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
	<div layout:fragment="content">
		<!-- content -->
		<div class="tab-content tab-sub dropDown">
			<button type="button" class="tab-mobile-trigger trigger"  aria-expanded="true"></button>
			<ul class="tab-list target" >
				<li class="tab active"><button id="fnshInfo" name="tab-controller" >수료정보</button></li>
				<li class="tab"><button id="qlfcInfo" name="tab-controller"  >자격정보</button></li>
			</ul>
			
			<div id="tabContent">
			</div>
		</div>
		<!-- //content -->
		
		<script th:inline="javascript">
        var envLrnQlfcFnshHstry = {
                init: function() {
                    this.setTab();
                    this.registEvent();
                },
                
                registEvent: function() {
                    var _this = this;
                    $("button[name='tab-controller']").click(function(event) {
                    	var tabId = event.currentTarget.attributes.id.value;
                    	_this.selectTab(tabId);
                    });
                },
                
                setTab: function() {
                    var tabFlag = false;
                    if(tabFlag == false) {
                        this.selectTab("fnshInfo");
                        tabFlag = true;
                    }
                    if(tabFlag == false) {
                        this.selectTab("qlfcInfo");
                        tabFlag = true;
                    }
                },
                
                selectTab: function(tabId) {
                    if(tabId == "fnshInfo") {
                        this.loadTabContent("/front/envLrnQlfcFnshHstry/envLrnFnshInfoList.html");
                    } else if(tabId == "qlfcInfo") {
                        this.loadTabContent("/front/envLrnQlfcFnshHstry/envLrnQlfcInfoList.html");
                    }
                },
                
                loadTabContent: function(uri) {
                    $.ajax({
                        cache: false,
                        url: uri, 
                        type: "GET",
                        async: "false",
                        dataType: "html",
                        success: function(result) {
                        	$("#tabContent").html(result);
                        }
                    });
                }
            };
            
            $(function() {
            	envLrnQlfcFnshHstry.init();
            });
		</script>
	</div>
	
</body>
</html>