<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
	<div layout:fragment="content">
	
		<!-- content -->
		<div class="table-caption">
			<div class="left">
				<h3 class="sub-title">자격취득정보</h3>
			</div>
		</div>

		<div class="table-row">
			<table>
				<caption>자격취득정보  - 교육구분, 자격증명, 취득기관, 자격증번호, 자격 취득일</caption>
				<colgroup>
					<col style="width:140px;">
					<col>
					<col style="width:140px;">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">교육구분</th>
						<td th:text="${qlfcInfo.eduType}"></td>
						<th scope="row">자격증명</th>
						<td th:text="${qlfcInfo.qlfcNm}"></td>
					</tr>
					<tr>
						<th scope="row">취득기관</th>
						<td th:text="${qlfcInfo.acqsInst}"></td>
						<th scope="row">자격증번호</th>
						<td th:text="${qlfcInfo.qlfcRsltCode}"></td>
					</tr>
					<tr>
						<th scope="row">자격 취득일</th>
						<td colspan="3" th:text="${qlfcInfo.lcncAcqsYmd}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p class="mt10 fc-black6">※ 환경교육사 자격증 출력은 환경교육사 홈페이지 &gt; 마이페이지 &gt; 자격증 발급·재발급 페이지에서 가능합니다. 
		<br> 
		<a href="https://keep.go.kr/license/user/issuAply/selectList.do" class="underline fc-blue">자격증 발급·재발급 바로가기 &gt; </a></p>


		<div class="btn-wrap">
			<div class="center">
				<button type="button" class="btn-medium btn-gray" onclick="moveToList();">목록</button>
			</div>
		</div>
		<!-- //content -->
				
		<script th:inline="javascript">
	        function moveToList() {
	            location.href = '/front/envLrnQlfcFnshHstry/envLrnQlfcFnshHstryListForm.html';
	        }
		</script>
		
	</div>
</body>
</html>