<form id ="chklstInsertForm">
    <div class="card-header p-b-0">
        <h3 class="sub-title"><strong>기본 정보</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>공동구매모집번호</strong></div>
                    <div class="col-12 p-t-5 p-b-5">자동생성</div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="mb-0 form-group required">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="jntpurchsNm"><strong>공동구매모집명</strong></label>
                    <div class="col-12">
                        <input type="text" class="form-control form-control-sm" name="jntpurchsNm" id="jntpurchsNm" placeholder="모집명을 입력해주세요." value=""/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>모집상태</strong></div>
                    <div class="col-12">
                        <th:block kattr:select_code="sttsCd" grpCd="172" upprCd="0" selectedCd="" onchange="" firstOptTxt="- 전체 -" addClass="form-select form-select-sm form-control-sm" isAdmin="true"></th:block>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교구 불러오기</strong></div>
                    <div class="col-12">
                        <button type="button" class="btn btn-inverse btn-sm" data-bs-toggle="modal" data-bs-target="#searchPopup">
                            교구 불러오기
                        </button>
                    </div>
                    <div class="m-0 row">
                        <!--
                        <div class="col-12 row border rounded p-t-10 p-b-10 m-0 mt-2">
                            <div class="col-auto">
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                                <span class="label label-inverse">
                                    환경교구A (S-B-123) <a href="javascript:void(0)" class="text-white">X</a>
                                </span>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="mb-0 form-group required">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="qntyWhol"><strong>공동구매 교구 총 수량</strong></label>
                    <div class="col-12 row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="col-lg-auto form-control form-control-sm text-right" name="qntyWhol" id="qntyWhol" placeholder="0" value="">
                        </div>
                        <div class="col-auto p-l-0 p-r-0">
                            개
                        </div>
                        <div class="col-auto">
                            <div class="border-checkbox-section">
                                <div class="border-checkbox-group border-checkbox-group-inverse">
                                    <input class="border-checkbox" type="checkbox" name="qntyWholYn" id="qntyWholYn">
                                    <label class="form-label form-label-sm border-checkbox-label mb-0" for="qntyWholYn">
                                        제한없음
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="mb-0 form-group required">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="qntyLmt"><strong>1인당 신청 가능 수량</strong></label>
                    <div class="col-12 row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="col-lg-auto form-control form-control-sm text-right" name="qntyLmt" id="qntyLmt" placeholder="0" value="">
                        </div>
                        <div class="col-auto p-l-0 p-r-0">
                            개
                        </div>
                        <div class="col-auto">
                            <div class="border-checkbox-section">
                                <div class="border-checkbox-group border-checkbox-group-inverse">
                                    <input class="border-checkbox" type="checkbox" name="qntyLmtYn" id="qntyLmtYn">
                                    <label class="form-label form-label-sm border-checkbox-label mb-0" for="qntyLmtYn">
                                        제한없음
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="bgngDt"><strong>공동구매 접수 시작일시</strong></label>
                    <div class="col-12">
                        <input type="datetime-local" class="form-control form-control-sm" id="bgngDt">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="endDt"><strong>공동구매 접수 종료일시</strong></label>
                    <div class="col-12">
                        <input type="datetime-local" class="form-control form-control-sm" id="endDt">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>공동구매 수량별 가격 설정</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-3 row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="col-12 row align-items-center">
                    <div class="col-5">
                        <input type="text" class="form-control form-control-sm text-right" name="" id="" placeholder="0" value="">
                    </div>
                    <div class="col-auto p-l-0 p-r-0">
                        ~
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control form-control-sm text-right" name="" id="" placeholder="0" value="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 d-flex align-items-center mt-1 mt-lg-0">
                <div class="col-10 row align-items-center">
                    <div class="col-11">
                        <input type="text" class="form-control form-control-sm text-right" name="" id="" placeholder="0" value="">
                    </div>
                    <div class="col-1 p-l-0 p-r-0">
                        원
                    </div>
                </div>
                <div class="col-2 text-right">
                    <button class="input-group-text btn btn-primary btn-sm">+</button>
                    <button class="input-group-text btn btn-primary btn-sm">-</button>
                </div>
            </div>
        </div>
        <!--
        <div class="mb-3 row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="col-12 row align-items-center">
                    <div class="col-5">
                        <input type="text" class="form-control form-control-sm" name="perCountCostSetting2StartRegion" id="perCountCostSetting2StartRegion" placeholder="Text Input Validation" value="keepgo">
                    </div>
                    <div class="col-auto p-l-0 p-r-0">
                        ~
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control form-control-sm" name="perCountCostSetting2EndRegion" id="perCountCostSetting2EndRegion" placeholder="Text Input Validation" value="keepgo">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 d-flex align-items-center mt-1 mt-lg-0">
                <div class="col-10 row align-items-center">
                    <div class="col-11">
                        <input type="text" class="form-control form-control-sm" name="perCountCostSetting2Cost" id="perCountCostSetting2Cost" placeholder="Text Input Validation" value="keepgo">
                    </div>
                    <div class="col-1 p-l-0 p-r-0">
                        원
                    </div>
                </div>
                <div class="col-2 text-right">
                    <button class="input-group-text btn btn-primary btn-sm">-</button>
                </div>
            </div>
        </div>
        <div class="mb-3 row align-items-center">
            <div class="col-12 col-lg-4">
                <div class="col-12 row align-items-center">
                    <div class="col-5">
                        <input type="text" class="form-control form-control-sm" name="perCountCostSetting3StartRegion" id="perCountCostSetting3StartRegion" placeholder="Text Input Validation" value="keepgo">
                    </div>
                    <div class="col-auto p-l-0 p-r-0">
                        ~
                    </div>
                    <div class="col-5">
                        <input type="text" class="form-control form-control-sm" name="perCountCostSetting3EndRegion" id="perCountCostSetting3EndRegion" placeholder="Text Input Validation" value="keepgo">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-8 d-flex align-items-center mt-1 mt-lg-0">
                <div class="col-10 row align-items-center">
                    <div class="col-11">
                        <input type="text" class="form-control form-control-sm" name="perCountCostSetting3Cost" id="perCountCostSetting3Cost" placeholder="Text Input Validation" value="keepgo">
                    </div>
                    <div class="col-1 p-l-0 p-r-0">
                        원
                    </div>
                </div>
                <div class="col-2 text-right">
                    <button class="input-group-text btn btn-primary btn-sm">+</button>
                    <button class="input-group-text btn btn-primary btn-sm">-</button>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>이미지/안내자료 업로드</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="rprsImg"><strong>대표 이미지</strong></label>
                    <div class="col-12">
                        <input type="file" class="form-control form-control-sm" name="rprsImg" id="rprsImg">
                    </div>
                    <div class="mt-2 row">
                        <div class="col-auto">
                            <!--
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="dtlImg"><strong>상세 이미지</strong></label>
                    <div class="col-12">
                        <input type="file" class="form-control form-control-sm" name="dtlImg" id="dtlImg">
                    </div>
                    <div class="mt-2 row">
                        <div class="col-auto">
                            <!--
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                            <span class="label label-inverse">
                                sampleFilesampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="mapFile"><strong>지도안</strong></label>
                    <div class="col-12">
                        <input type="file" class="form-control form-control-sm" name="mapFile" id="mapFile">
                    </div>
                    <div class="mt-2 row">
                        <div class="col-auto">
                            <!--
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="eduPhoto"><strong>교육사진</strong></label>
                    <div class="col-12">
                        <input type="file" class="form-control form-control-sm" name="eduPhoto" id="eduPhoto">
                    </div>
                    <div class="mt-2 row">
                        <div class="col-auto">
                            <!--
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0);" class="text-white">X</a>
                            </span>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>상세 정보</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-3 form-group row">
            <div class="col-12">
                <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="상세 정보를 입력해주세요." id="dtlCn" name="dtlCn"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="rentalRecruitmentVideoUrl"><strong>유튜브 동영상 URL</strong>
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-html="true" data-bs-original-title="ex) https://www.youtube.com/watch?v= <span class='text-danger'>E4Qct1k3s_Q</span><br/>&#8251; Youtube 주소에서 붉은색 부분을 복사해서 넣어주세요.">
                            <i class="fa fa-question-circle-o"></i>
                            <div class="col-auto border p-2 bg-white pos-absolute rounded" style="display: none;">
                                ex) https://www.youtube.com/watch?v= <span class="text-danger">E4Qct1k3s_Q</span><br/>
                                &#8251; Youtube 주소에서 붉은색 부분을 복사해서 넣어주세요.
                            </div>
                        </a>
                    </label>
                    <div class="col-12 d-flex align-items-center text-nowrap">
                        https://www.youtube.com/watch?v=
                        <input type="text" class="col-lg-auto form-control form-control-sm" name="mvpUrl" id="mvpUrl" placeholder="" value="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-3">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>동영상 위치 설정</strong></div>
                    <div class="col-12">
                        <div class="form-radio">
                            <div class="radio radio-inline">
                                <label class="mb-0 form-label">
                                    <input type="radio" name="mvpPstnCd" checked="" value="T">
                                    <i class="helper"></i>상세정보 상단
                                </label>
                            </div>
                            <div class="radio radio-inline">
                                <label class="mb-0 form-label">
                                    <input type="radio" name="mvpPstnCd" value="B">
                                    <i class="helper"></i>상세정보 하단
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>유의사항</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-3 form-group row">
            <div class="col-12">
                <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="rentalRecruitmentNoticeContents" name="rentalRecruitmentNoticeContents"></textarea>
            </div>
        </div>
    </div>
    <div class="card-block-small">
        <button class="btn btn-disabled m-r-5">취소</button>
        <button class="btn btn-primary">저장</button>
    </div>
</form>

<script th:inline="javascript">
    var chklstInsert = {
        init: function() {
            $("[data-bs-toggle='tooltip']").tooltip();
            this.registEvent();
            this.setValid();
        },
        
        registEvent: function() {
            // TODO
        },
        
        setValid: function() {
            var validator = $('#chklstInsertForm').validate({
                rules: {
                    operFrmCd: {required: true},
                    chklstNm: {required: true, maxlength: 40},
                    expln: {maxlength: 60}
                },
                messages: {
                    operFrmCd: {required: "운영 형태를 선택해주세요."},
                    chklstNm: {required: "체크리스트 명을 입력해주세요.", maxlength: "체크리스트 명은 40자 이하여야 합니다."},
                    expln: {maxlength: "체크리스트 설명은 60자 이하여야 합니다."}
                }
            });
        },
        
        onInsertChklst: function() {
            if(!($("#chklstInsertForm").valid())) return;
            $("input[name='useYn']").val($("#useYn").is(":checked") ? "Y" : "N");
            var param = $("#chklstInsertForm").serialize();
            
            if(displayWorkProgress()) {
                $.ajax({
                    url : "/mng/chklst/insertChklst.do",
                    type: "POST",
                    cache: false,
                    dataType: "json",
                    data: param,
                    success: function(response) {
                        if(response.result == "success") {
                            alert(response.msg);
                            chklstGrid.resetListContent();
                            var detailUrl = "/mng/chklst/chklstDetailForm.html?chklstid=" + response.chklstid; 
                            chklstGrid.loadContent(detailUrl);
                        } else {
                            alert(response.msg);
                        }
                        closeWorkProgress();
                    }
                });
            }
        },
        
        offInsertChklst: function() {
            chklstGrid.toggleContent();
        }
    };
    
    chklstInsert.init();
</script>