<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
	layout:decorator="layout/mng/mainLayout" 
>
<body>
	<div layout:fragment="content" class="page-body">
<script type="text/javascript">
	var reloadMenuInfoUrl = "/mng/monitor/reloadMenuInfoReflect.do";
	var reloadMenuAuthUrl = "/mng/monitor/reloadSecurityMetadataSourceReflect.do";
	var reloadCodeInfoUrl = "/mng/monitor/reloadCodeInfoReflect.do";
	
	function reload(url){
		if(displayWorkProgress()){
			jQuery.ajax({
				url : url,
				cache : false,
				dataType: 'json',
				success : function (data){
					closeWorkProgress();
					if(data.result == "") {
						alert("서버 적용 완료!");	//서버 적용 완료!
					}else {
						alert("서버 적용 실패! => " + data.result);	//서버 적용 실패!
					}
				}
			});
		}
	}

</script>
	<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-b-0">
                    <h3 class="sub-title"><strong>메모리DB 항목</strong></h3>
                </div>
                <div class="card-block-small p-t-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-2 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>메뉴정보</strong></div>
                                <div class="col-sm-12 btn-group-sm">
                                    <th:block sec:authorize-url="/mng/monitor/reloadMenuInfoReflect.do"><button type="button" class="btn btn-inverse" onclick="reload(reloadMenuInfoUrl)">RELOAD</button></th:block>
                                </div>
                            </div>
                            <div class="mb-2 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>메뉴접근권한</strong></div>
                                <div class="col-sm-12 btn-group-sm">
                                    <th:block sec:authorize-url="/mng/monitor/reloadSecurityMetadataSourceReflect.do"><button type="button" class="btn btn-inverse" onclick="reload(reloadMenuAuthUrl)">RELOAD</button></th:block>
                                </div>
                            </div>
                            <div class="mb-2 form-group row">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>코드정보</strong></div>
                                <div class="col-sm-12 btn-group-sm">
                                    <th:block sec:authorize-url="/mng/monitor/reloadCodeInfoReflect.do"><button type="button" class="btn btn-inverse" onclick="reload(reloadCodeInfoUrl)">RELOAD</button></th:block>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>