<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
    <div layout:fragment="content">
        <!-- content -->
        <div id="content" class="content">

            <form class="search-filter" id="searchForm" name="searchForm">
                <input type="hidden" id="pageNumber" name="pageNumber" value="1">
	            <input type="hidden" id="rowPerPage" name="rowPerPage" value="10">
	            <input type="hidden" id="ORDER_DIRECTION" name="orderDirection" value="desc">
	            <input type="hidden" id="orderField" name="orderField" value="REG_DT">
	            <input type="hidden" id="pcntstid" name="pcntstid" >
                <div class="form-input-wrap">
                    <div class="form-row">
                        <div class="form-header"><strong class="label">진행상태</strong></div>
                        <div class="form-body">
                            <select title="상태" id="status" name="status">
                                <option value="">- 전체 -</option>
                                <option value="before">진행전</option>
                                <option value="ing">진행중</option>
                                <option value="end">마감</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-header"><strong class="label">사업분야</strong></div>
                        <div class="form-body">
                            <span kattr:select_code="searchFldCd" grpCd="173" firstOptTxt="- 전체 -" addClass="input-sm">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-header"><strong class="label">공모명</strong></div>
                        <div class="form-body">
                            <input type="search" title="공모명" placeholder="공모명을 입력해주세요." name="searchPcntstNm" id="searchPcntstNm">
                        </div>
                    </div>
                </div>
                <div class="search-filter-submit">
                    <button type="reset" class="btn-medium btn-gray btn-before-refresh" onclick="listPage.searchInit();">초기화</button>
                    <button type="button" class="btn-medium btn-green btn-before-search" onclick="listPage.search();">검색</button>
                </div>
            </form>
            
            <div class="table-caption flex-nowrap">
                <div class="left">
                    <p>총 <b id="totalCount">0</b> 건</p>
                </div>
                <div class="right">
                    <select title="글 보기 개수" id="rowPerPageChange" name="rowPerPageChange">
                        <option value="10">10개씩 보기</option>
                        <option value="50">50개씩 보기</option>
                        <option value="100">100개씩 보기</option>
                    </select>
                </div>
            </div>

            <div class="pc-only">
	            <div class="table-col table-layout-auto table-col-mo">
	                <table>
	                    <caption>공모신청 - 번호, 진행상태, 사업분야, 공모명, 신청기간, 사업기간, 등록일,</caption>
	                    <colgroup>
	                        <col style="width:6%;">
	                        <col>
	                        <col>
	                        <col style="width:25%;">
	                        <col style="width:15%;">
	                        <col style="width:15%;">
	                        <col style="width:11%;">
	                    </colgroup>
	                    <thead>
	                        <tr>
	                            <th scope="col">번호</th>
	                            <th scope="col">진행상태</th>
	                            <th scope="col">사업분야</th>
	                            <th scope="col">공모명</th>
	                            <th scope="col">신청기간</th>
	                            <th scope="col">사업기간</th>
	                            <th scope="col">등록일</th>
	                        </tr>
	                    </thead>
	                    <tbody id="list-area">
	                    </tbody>
	                </table>
	            </div>
            </div>
            
            <div class="mo-only">
	            <div class="table-list">
	                <ul id="list-mobile-area">
	                </ul>
	            </div>
	        </div>
            
            <div id="pagination" aria-label="pagination"></div>
        </div>
        <!-- //content -->
        
	    <script th:inline="javascript">     
	    var listPage = {
	        listUrl: '/front/bizAply/selectReqMngList.do',
	        detailUrl : '/front/bizAply/reqMngDetailForm.html',
	
	        init(rowPerPage) {
	            if(rowPerPage != null) {
	                $("#rowPerPage").val(parseInt(rowPerPage));
	                $('#pageNumber').val('1');
	            }
	            this.selectList();
	        },
	        moveToDetail() {
	            if (this.userid == null) {
	                alert('로그인 후 이용하실 수 있습니다.');
	                return;
	            }
	            location.href = '/front/book/bookDetailForm.html';
	        },
	        search() {
	            $('#pageNumber').val('1');
	            this.selectList();
	        },
	        searchInit() {
	            $("#searchPcntstNm").val('');
	            $("#searchFldCd").val('');
	            $("#status").val('');
	            this.selectList();
	        },
	        selectList() {
	            if (displayWorkProgress(true)) {
	                let formData = $('#searchForm').serializeArray();
	
	                $.ajax({
	                    url: listPage.listUrl,
	                    cache: false,
	                    dataType: 'json',
	                    data: formData,
	                    type: 'GET',
	                    success: function (data) {
	                        listPage.makeListHtml(data);
	                        closeWorkProgress();
	                    }
	                });
	            }
	        },
	        moveToDetail(pcntstid) {
	            var f = document.forms.searchForm ;
	            f.pcntstid.value = pcntstid;
	            f.action = this.detailUrl;
	            f.submit();
	        },
	        makeListHtml(data) {
	            var listHtml = "";
	            var mobileHtml = "";
	            if (data.list == null || data.list.length <= 0) {
	                listHtml += `
	                <tr>
	                    <td class="nodata" colspan="7">
	                        <p><span class="icon icon-notice bg-black9"></span>등록된 공모신청이 없습니다.</p>
	                    </td>
	                </tr>
	                `;
	                mobileHtml += `
	                <div class="nodata">
                        <p><span class="icon icon-notice bg-black9"></span>등록된 공모신청이 없습니다.</p>
                    </div>
                    `;
	            } else {
	                data.list.forEach(function(item) {
	                	console.log(item);
	                    listHtml += `
	                    <tr>
		                    <td>${item.rowNumber}</td>
		                    <td>${item.status}</td>
		                    <td>${item.fldNm}</td>
		                    <td class="al article"><a href="javascript:void(0)" class="link ellipsis" onclick="listPage.moveToDetail(${item.pcntstid})">${item.pcntstNm}</a></td>
		                    <td>${item.aplyDt}</td>
		                    <td>${item.bsnsDe}</td>
		                    <td>${item.regDt}</td>
	                    </tr>
	                    `;
	                    console.log(listHtml);
	                    mobileHtml += `
	                    <li class="block">
		                    <div class="tbody">
	                            <dl>
	                                <div class="list">
	                                    <dt>번호</dt>
	                                    <dd>${item.rowNumber}</dd>
	                                </div>
	                                <div class="list">
	                                    <dt>진행상태</dt>
	                                    <dd>${item.status}</dd>
	                                </div>
	                                <div class="list">
	                                    <dt>사업분야</dt>
	                                    <dd>${item.fldNm}</dd>
	                                </div>
	                                <div class="list">
	                                    <dt>공모명</dt>
	                                    <dd><a href="javascript:void(0)" class="link ellipsis" onclick="listPage.moveToDetail(${item.pcntstid})">${item.pcntstNm}</a></dd>
	                                </div>
	                                <div class="list">
	                                    <dt>신청기간</dt>
	                                    <dd>${item.aplyDt}</dd>
	                                </div>
	                                <div class="list">
	                                    <dt>사업기간</dt>
	                                    <dd>${item.bsnsDe}</dd>
	                                </div>
	                                <div class="list">
	                                    <dt>등록일</dt>
	                                    <dd>${item.regDt}</dd>
	                                </div>
	                            </dl>
	                        </div>
	                    </li>
                        `;
	                });
	            }
	            $('#list-area').html(listHtml);
	            $('#list-mobile-area').html(mobileHtml);
	            $("#pagination").html(data.pagination);
	            $("#totalCount").html(data.totalCount);
	        }
	    };
	
	    $(function () {
	        listPage.init();
	        
	        $("#rowPerPageChange").change(function(){
	        	$("#rowPerPage").val($(this).val());
	        	listPage.init($(this).val());
	        });
	    });
	    
	    function goPage(page) {
	        $("#pageNumber").val(page);
	        
	        listPage.selectList();
	    }            
	    </script>
    </div>
</body>
</html>