<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/popupLayout">
<head>
<meta charset="utf-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<title><th:block th:text="${item.title}"></title>

</head>
<body >
<div layout:fragment="content">
<span th:replace="layout/jsCommon"></span>

<!-- <div id="" class="pop-layer">
    <div class="pop-container">
    
	     <div class="modal-header form-group col-xs-12 row">
	      <div class="col-xs-11 form-group " style="margin-top:12px">
	        <h3 class="modal-title" ><th:block th:text="${item.title}"></h3>
            </div>
            <div class="col-xs-1 form-group ">
               <a href="javascript:this.close()"> <span	class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </div>
	      </div>
	      
        <div class="pop-conts row col-xs-12" >
           <div th:remove="tag" th:utext="${item.cntnts}"></div>
        </div>
        
    </div>
</div> -->

    <div class="panel panel-default" id="popPanel" style="margin:0px; ">
		
		<div class="panel-heading">
			<h4><th:block th:text="${item.title}"></h4>
			<ul class="links">
				<li><a href="javascript:this.close()"> <span
						class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</a></li>
			</ul>
		</div>
			
		<div class="panel-body"  >
		   <div th:remove="tag" th:utext="${item.cntnts}"></div>
		</div>
		
       <div class=" col-xs-12"  style="border-top :1px solid #cae1ef ;  margin:0px; bottom:0;  position:absolute; " >
	     <h6><label class=""><input type="checkbox" th:attr="id=${item.popupntcid}" onclick="javascript:fn_setCookie(this.id)"/> 다시 보지 않기</label></h6>
       </div>
       
    </div>
	 
 <script type="text/javascript">
 var width = '[[${item.width_size}]]';
 var height = '[[${item.vrtcl_size}]]';

 $(document).ready(function(){
   $("#popPanel").css("height",height-12);   
 });
 
 function fn_setCookie(id){
	 var ischecked = false;
	 ( $("#"+id).is(":checked") )? ischecked = true: ischecked = false ;
	 opener.fn_neverShow(id,ischecked );
 }
 

 </script>

</div>	
</body>
</html>