<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
    <div class="terms-info">
        <div class="thumb"><img src="/images/front/terms/terms-thumb01.png" alt=""></div>
        <p>환경교육사 제도는 시범운영('15~'16)을 거쳐 2017년부터 본격적으로 시행되었습니다.<br>2017년부터 양성과정 지정·운영이 시작되어, 현재 총 11개 기관에서 환경교육사 양성과정을 운영하고 있습니다.</p>
    </div>
    <div class="edu-list type3">
        <ul>
            <li>
                <dl>
                    <dt>(사)녹색교육센터(2급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_01.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">02-6497-4856</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">02-6497-4920</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">서울 종로구 혜화로 13 303호 (명륜1가, 주호빌딩) (사)녹색교육센터</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>(사)녹색교육센터(2급)</dt>
                        <dd>
                            (사)녹색교육센터는 사람과 자연의 평화로운 소통,
                            생명과 평화, 다양성 존중 등 우리가 가져야 할 건강한
                            철학과 생활방식을 함께 만들어가기 위해 창립된
                            환경교육 전문기관입니다.
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://www.greenedu.or.kr" target="_blank">
                            <button type="button" class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://www.greenedu.or.kr" target="_blank">
                        <button type="button" class="btn-medium btn-green">홈페이지 바로가기
                    </a>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>(사)대구환경교육센터(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_02.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">053-752-3557</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">053-753-3557</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">대구 달서구 달구벌대로 1862 2층</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>(사)대구환경교육센터</dt>
                        <dd>
                            환경교육을 통해 시민들의 친환경적인 가치관 형성과 실천적 참여를 이끌어 우리 사회의 지속가능성을 꿈꾸는 환경교육 전문기관입니다.
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://www.deec.or.kr" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://www.deec.or.kr" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>(사)자연의벗연구소(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_03.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">02-3144-7877</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">070-4128-7877</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">서울 마포구 월드컵북로5길 29 (서교동) 2층</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>(사)자연의벗연구소</dt>
                        <dd>
                            (사)자연의벗연구소는 연대와 협력으로 생명·평화의 가치를 구현하고 자연과 인간이 조화롭게 살아가는 지속가능한 사회를 위한 비영리 시민단체로, 환경교육사 3급 양성기관입니다
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://www.ecobuddy.or.kr" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://www.ecobuddy.or.kr" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>(재)경상북도환경연수원(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_04.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">054-440-3216</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">054-440-3289</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">경북 구미시 금오산로 336-97  (남통동, 경상북도환경연수원)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>(재)경상북도환경연수원</dt>
                        <dd>
                            경상북도환경연수원은 통섭적 환경교육을 통한 생명존중과 환경보전 의식을 높여 환경시대를 주도해 나갈 정예요원 육성과 교육 수혜균등을 통한 도민환경복지를 구현해가는 환경교육전문기관입니다.
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://www.igreen.or.kr" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://www.igreen.or.kr" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>경상남도 환경교육원(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_05.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">055-254-4033</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">055-254-4019</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">경남 산청군 시천면 지리산대로 1  (중산리, 경상남도환경교육원)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>경상남도 환경교육원</dt>
                        <dd>
                            경남 도민과 청소년들에게 환경에 대한 이해와 폭을 넓히고 사회환경교육의 저변 확대를 위해 도민들을 대상으로 환경교육을 담당할 수 있는 다양한 분야의 인재를 양성하는 경남 최고의 환경교육 전문기관입니다.
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="https://www.gyeongnam.go.kr/gnnature/index.gyeong" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="https://www.gyeongnam.go.kr/gnnature/index.gyeong" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>광덕산환경교육센터(2급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_06.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">041-572-2535</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">041-572-2592</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">충남 천안시 동남구 광덕면 안심대길 50  (광덕리, 광덕산환경교육센터)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>광덕산환경교육센터</dt>
                        <dd>
							광덕산환경교육센터는 충남 천안시에 위치해 있으며, 최초로 지정된 환경교육사 2급 양성기관으로 현재까지 총 136명의 2급 환경교육사를 배출하였습니다.
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://www.natureschool.or.kr" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://www.natureschool.or.kr" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>맹산환경생태학습원(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_08.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">031-702-1192</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc"></span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">경기 성남시 분당구 판교로 628  맹산환경생태학습원</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>맹산환경생태학습원</dt>
                        <dd>
							맹산환경생태학습원은 성남지역환경교육센터로 우수한 환경교육리더 양성을 통해 모든 시민이 참여하는 생활형 환경교육확산을 목표로 운영하고 있습니다.
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="https://mpark.seongnam.go.kr:10003/main.php" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="https://mpark.seongnam.go.kr:10003/main.php" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>부산대학교 과학교육연구소(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_09.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">051-510-1980</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">051-581-5654</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">부산 금정구 부산대학로63번길 2  (장전동, 부산대학교) 부산대학교 과학교육연구소</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>부산대학교 과학교육연구소</dt>
                        <dd>
							부산대학교 환경교육센터(과학교육연구소 부설)는 환경부 환경교육사 양성기관(3급)으로 지정되었습니다. 부산·울산지역의 유일한 환경교육사 양성기관으로 2022년부터 3급 양성과정을 운영하고 있습니다.
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://sciedu.pusan.ac.kr" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://sciedu.pusan.ac.kr" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>수원시 기후변화체험교육관(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_10.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">031-273-8320</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc"></span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">경기 수원시 권선구 호매실로 46-38  (탑동, 기후변화체험관)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>수원시 기후변화체험교육관</dt>
                        <dd>
							수원시기후변화체험교육관 두드림은 기후변화에 능동적으로 대처·적응하는 생활방식을 교육함으로서 에티즌(Eco+Citizen)을 육성하는 공간이며, 2021년까지 약 200명의 환경교육사3급 자격자를 배출한  전국최초의 환경교육사3급 정규양성기관입니다.
                        </dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://www.swdodream.or.kr" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://www.swdodream.or.kr" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>인천업사이클에코센터(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_11.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">032-217-2933</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">032-212-2002</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">인천 미추홀구 매소홀로290번길 7 (학익동, 인천 업사이클 에코센터)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>인천업사이클에코센터</dt>
                        <dd>
							인천업사이클에코센터는 지역사회 전문인력 역량 강화를 통하여 사회 환경교육 통합인프라 및 환경교육 시스템 구축하고, "환경교육 전문가 양성을 통한 환경교육 활성화"를 이루고자 합니다.
						</dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://incheoneco.or.kr" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://incheoneco.or.kr" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>
            <li>
                <dl>
                    <dt>청주국제에코콤플렉스(3급)</dt>
                    <dd class="logo"><img src="/images/front/edu/logo_training_12.png" alt=""></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">043-276-8100</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">FAX</span>
                                <span class="dc">043-271-4686</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">충북 청주시 흥덕구 무심서로1099번길 111  청주국제에코콤플렉스</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <div class="detail">
                    <dl>
                        <dt>청주국제에코콤플렉스</dt>
                        <dd>
							쓰레기매립장이었던 문암생태공원에 2016년 건립한 청주국제에코콤프렉스는 환경의식을 높이고 녹색실천을 넓혀가기 위해 만들어진 청주시의 환경교육시설로  (사)풀꿈환경재단에서 운영하고 있습니다.
						</dd>
                    </dl>
                    <div class="pc-btn">
                        <a href="http://www.cj-eco.or.kr/" target="_blank">
                            <button class="btn-medium">홈페이지 바로가기</button>
                        </a>
                    </div>
                </div>
                <div class="mo-only mo-btn">
                    <a href="http://www.cj-eco.or.kr/" target="_blank">
                        <button class="btn-medium btn-green">홈페이지 바로가기</button>
                    </a>
                </div>
            </li>


        </ul>
    </div>
</div>
