@charset "utf-8";

:root {
	--black:#000000;
	--black2:#222222;
	--black3:#333333;
	--black6:#666666;
	--black9:#999999;
	--white:#FFFFFF;
	--blue:#237db1;  /* main  blue */
	--sblue:#0596cc; /* sub   blue */
	--lblue:#7fafcb; /* light blue */
	--dblue:#1c2674; /* dark  blue */
	--green:#15875f; /* main  green */
	--sgreen:#2d9e76;/* sub   green */
	--red:#da3838;   /* main  red */
	--sred:#ff3939;  /* sub   red */
	--yellow:#fff568;
	--brown:#aa652d;
	--grayc:#cccccc;
	--grayd:#dbdbdb;
	--graye:#e4e4e4;
	--bg3:#f3f4f7;
	--bg4:#f4f4f4;
	--bg5:#f5f9fb;
	--bg7:#f7f7f7;
	--cubic:cubic-bezier(0.42, 0, 0.52, 1);

	/* sub category color */
	--cate-olive: #557d00;
	--cate-purple: #a74fc8;
	--cate-red : #c84e4e;
	--cate-blue : #5960fb;
}
/* Reset */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,input,textarea,i,u,em,strong,b,a,button,th,td,code{margin:0;padding:0;}
h1,h2,h3,h4,h5,strong {font-weight:700;}
b {font-weight:500;}
h1,h2,h3,h4,h5,h6 {font-size:inherit;}
*,*:before,*:after {box-sizing:border-box;}
img,fieldset,iframe,button{border:0;}
ul,li{list-style:none}
input:not([type="checkbox"],[type="radio"])	 {outline:0;}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {display:none;}
/* input[type="number"]::-webkit-outer-spin-button, */
input[type="number"]::-webkit-inner-spin-button {appearance:none;}
input[type=number] {-moz-appearance:textfield;}
input,select,button,label,textarea,a {}
input,textarea,button {font-size:inherit;font-family:inherit;color:inherit;line-height:inherit;}
input[type="password"] {font-family:inherit;}
select {font-size:inherit;color:inherit;line-height:inherit;font-family:inherit;}
input:disabled,select:disabled,button:disabled,label:disabled,a:disabled,textarea:disabled {cursor:default;}
textarea {resize:none;}
label,button,select,a{cursor:pointer;}
table{border-collapse:separate;border-spacing:0;width:100%;table-layout:auto;}
legend {overflow:hidden;visibility:hidden;font-size:1px;text-indent:-9999px;margin-top:-1px;width:1px;height:1px;}
a {text-decoration:none;color:inherit;}
a:visited {text-decoration:none;}
a:hover,
a:focus {text-decoration:none;}
button {background:none;font-family:inherit;overflow:visible;text-align:inherit;font-weight:inherit;}
em {font-style:normal;font-weight:700;}
i {font-style:normal;}
code {display:inline;color:inherit;font-size:inherit;line-height:inherit;font-family:inherit;font-weight:inherit;}
pre {color:inherit;font-size:inherit;line-height:inherit;font-family:inherit;font-weight:inherit;margin:0;}
table caption {position:absolute;text-indent:-9999px;width:0;height:0;left:0;top:0;}
html {-webkit-text-size-adjust:none;}
body {word-break:keep-all;font-size:16px;line-height:1.5;font-family:'Noto Sans Kr';font-weight:400;color:var(--black);letter-spacing:-0.05em;}
@media screen and (max-width:1280px) {
	/* body {font-size:1.4rem;} */
}
/* hidden */ 
.blind {position:absolute!important;color:transparent!important;opacity:0!important;width:1px!important;height:1px!important;font-size:1px!important;overflow:hidden!important;}
.toggleParent .on {display:block;}
.toggleParent .off {display:none;}
.toggleParent.active .on {display:none;}
.toggleParent.active .off {display:block;}
.tabpanel {display:none;}
.tabpanel.active {display:block;}

.ac {text-align:center!important;}
.al {text-align:left!important;}
.ar {text-align:right!important;}

.vm {vertical-align:middle!important;}
.vt {vertical-align:top!important;}
.vb {vertical-align:bottom!important;}

.d-flex {display:flex!important;}
.d-inflex {display:inline-flex!important;}
.j-between {justify-content:space-between!important;}
.j-center {justify-content:center!important;}
.j-end {justify-content:flex-end!important;}
.j-start {justify-content:start!important;}
.a-start {align-items:flex-start!important;}
.a-end {align-items:flex-end!important;}
.a-center {align-items:center!important;}
.flex-column {flex-direction:column!important;}
.flex-wrap {flex-wrap:wrap!important;}
.no-flex-wrap {flex-wrap:nowrap!important;}

/* font */
.fc-black {color:var(--black)!important;}
.fc-black2 {color:var(--black2)!important;}
.fc-black3 {color:var(--black3)!important;}
.fc-black6 {color:var(--black6)!important;}
.fc-black9 {color:var(--black9)!important;}
.fc-white {color:var(--white)!important;}
.fc-blue {color:var(--blue)!important;}
.fc-sblue {color:var(--sblue)!important;}
.fc-lblue {color:var(--lblue)!important;}
.fc-green {color:var(--green)!important;}
.fc-sgreen {color:var(--sgreen)!important;}
.fc-red {color:var(--red)!important;}
.fc-sred {color:var(--sred)!important;}
.fc-yellow {color:var(--yellow)!important;}
.fc-brown {color:var(--brown)!important;}
.fc-grayc {color:var(--grayc)!important;}
.fc-grayd {color:var(--grayd)!important;}
.fc-graye {color:var(--graye)!important;}
.fc-c-olive {color:var(--cate-olive);}
.fc-c-purple {color:var(--cate-purple);}
.fc-c-red {color:var(--cate-red);}
.fc-c-blue {color:var(--cate-blue);}

/* background-color */
.bg-black {background-color:var(--black)!important;}
.bg-black2 {background-color:var(--black2)!important;}
.bg-black3 {background-color:var(--black3)!important;}
.bg-black6 {background-color:var(--black6)!important;}
.bg-black9 {background-color:var(--black9)!important;}
.bg-white {background-color:var(--white)!important;}
.bg-blue {background-color:var(--blue)!important;}
.bg-sblue {background-color:var(--sblue)!important;}
.bg-lblue {background-color:var(--lblue)!important;}
.bg-green {background-color:var(--green)!important;}
.bg-sgreen {background-color:var(--sgreen)!important;}
.bg-red {background-color:var(--red)!important;}
.bg-sred {background-color:var(--sred)!important;}
.bg-yellow {background-color:var(--yellow)!important;}
.bg-brown {background-color:var(--brown)!important;}
.bg-grayc {background-color:var(--grayc)!important;}
.bg-grayd {background-color:var(--grayd)!important;}
.bg-graye {background-color:var(--graye)!important;}
.bg3 {background-color:var(--bg3)!important;}
.bg4 {background-color:var(--bg4)!important;}
.bg5 {background-color:var(--bg5)!important;}
.bg7 {background-color:var(--bg7)!important;}

.fw-400 {font-weight:400!important;}
.fw-700 {font-weight:700!important;}

.noborder {border:0!important;}
.underline {text-decoration:underline!important;}
.dropDown {position:relative;}
.dropDown .trigger {position:relative;}

.mtauto {margin-top:auto!important;}
.mt0 {margin-top:0px!important;}
.mt5 {margin-top:5px!important;}
.mt8 {margin-top:8px!important;}
.mt10 {margin-top:10px!important;}
.mt15 {margin-top:15px!important;}
.mt16 {margin-top:16px!important;}
.mt20 {margin-top:20px!important;}
.mt25 {margin-top:25px!important;}
.mt30 {margin-top:30px!important;}
.mt35 {margin-top:35px!important;}
.mt40 {margin-top:40px!important;}
.mt45 {margin-top:45px!important;}
.mt50 {margin-top:50px!important;}
.mt70 {margin-top:70px!important;}

.mbauto {margin-bottom:auto!important;}
.mb0 {margin-bottom:0px!important;}
.mb5 {margin-bottom:5px!important;}
.mb8 {margin-bottom:8px!important;}
.mb10 {margin-bottom:10px!important;}
.mb15 {margin-bottom:15px!important;}
.mb16 {margin-bottom:16px!important;}
.mb20 {margin-bottom:20px!important;}
.mb25 {margin-bottom:25px!important;}
.mb30 {margin-bottom:30px!important;}
.mb35 {margin-bottom:35px!important;}
.mb40 {margin-bottom:40px!important;}
.mb45 {margin-bottom:45px!important;}
.mb50 {margin-bottom:50px!important;}
.mb70 {margin-bottom:70px!important;}

.mlauto {margin-left:auto!important;}
.ml0 {margin-left:0px!important;}
.ml5 {margin-left:5px!important;}
.ml8 {margin-left:8px!important;}
.ml10 {margin-left:10px!important;}
.ml15 {margin-left:15px!important;}
.ml16 {margin-left:16px!important;}
.ml20 {margin-left:20px!important;}
.ml25 {margin-left:25px!important;}
.ml30 {margin-left:30px!important;}
.ml35 {margin-left:35px!important;}
.ml40 {margin-left:40px!important;}
.ml45 {margin-left:45px!important;}
.ml50 {margin-left:50px!important;}
.ml70 {margin-left:70px!important;}

.mrauto {margin-right:auto!important;}
.mr0 {margin-right:0px!important;}
.mr5 {margin-right:5px!important;}
.mr8 {margin-right:8px!important;}
.mr10 {margin-right:10px!important;}
.mr15 {margin-right:15px!important;}
.mr16 {margin-right:16px!important;}
.mr20 {margin-right:20px!important;}
.mr25 {margin-right:25px!important;}
.mr30 {margin-right:30px!important;}
.mr35 {margin-right:35px!important;}
.mr40 {margin-right:40px!important;}
.mr45 {margin-right:45px!important;}
.mr50 {margin-right:50px!important;}
.mr70 {margin-right:70px!important;}

.mauto {margin:auto!important;}

.pt0 {padding-top:0px!important;}
.pt5 {padding-top:5px!important;}
.pt8 {padding-top:8px!important;}
.pt10 {padding-top:10px!important;}
.pt15 {padding-top:15px!important;}
.pt16 {padding-top:16px!important;}
.pt20 {padding-top:20px!important;}
.pt25 {padding-top:25px!important;}
.pt30 {padding-top:30px!important;}
.pt35 {padding-top:35px!important;}
.pt40 {padding-top:40px!important;}
.pt45 {padding-top:45px!important;}
.pt50 {padding-top:50px!important;}
.pt70 {padding-top:70px!important;}

.pb0 {padding-bottom:0px!important;}
.pb5 {padding-bottom:5px!important;}
.pb8 {padding-bottom:8px!important;}
.pb10 {padding-bottom:10px!important;}
.pb15 {padding-bottom:15px!important;}
.pb16 {padding-bottom:16px!important;}
.pb20 {padding-bottom:20px!important;}
.pb25 {padding-bottom:25px!important;}
.pb30 {padding-bottom:30px!important;}
.pb35 {padding-bottom:35px!important;}
.pb40 {padding-bottom:40px!important;}
.pb45 {padding-bottom:45px!important;}
.pb50 {padding-bottom:50px!important;}
.pb70 {padding-bottom:70px!important;}

.pl0 {padding-left:0px!important;}
.pl5 {padding-left:5px!important;}
.pl8 {padding-left:8px!important;}
.pl10 {padding-left:10px!important;}
.pl15 {padding-left:15px!important;}
.pl16 {padding-left:16px!important;}
.pl20 {padding-left:20px!important;}
.pl25 {padding-left:25px!important;}
.pl30 {padding-left:30px!important;}
.pl35 {padding-left:35px!important;}
.pl40 {padding-left:40px!important;}
.pl45 {padding-left:45px!important;}
.pl50 {padding-left:50px!important;}
.pl70 {padding-left:70px!important;}

.pr0 {padding-right:0px!important;}
.pr5 {padding-right:5px!important;}
.pr8 {padding-right:8px!important;}
.pr10 {padding-right:10px!important;}
.pr15 {padding-right:15px!important;}
.pr16 {padding-right:16px!important;}
.pr20 {padding-right:20px!important;}
.pr25 {padding-right:25px!important;}
.pr30 {padding-right:30px!important;}
.pr35 {padding-right:35px!important;}
.pr40 {padding-right:40px!important;}
.pr45 {padding-right:45px!important;}
.pr50 {padding-right:50px!important;}
.pr70 {padding-right:70px!important;}

.wauto {width:auto!important;}

/* Mobile */
.block {display:block!important;}
.d-none {display:none!important;}
.pc-only {display:block!important;}
.mo-only {display:none;}
colgroup.pc-only {display:table-column-group!important;}
colgroup.mo-only {display:none!important;}
@media screen and (max-width:1279px) {
	.pc-only {display:none!important;}
	.mo-only {display:block!important;}
	.mo-flex-wrap {flex-wrap:wrap!important;}
	colgroup.pc-only {display:none!important;}
	colgroup.mo-only {display:table-column-group!important;}
}

/* 추후 삭제 */
.header:empty {height:var(--header-height);background-color:var(--white);}