@charset "utf-8";

/* light */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 300;
	font-display: swap;
    src: url(../../fonts/front/NotoSansKR-Light.woff2) format("woff2"), url(../../fonts/front/NotoSansKR-Light.woff) format("woff"), url(../../fonts/front/NotoSansKR-Light.otf) format("opentype")
}
/* regular */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 400;
	font-display: swap;
    src: url(../../fonts/front/NotoSansKR-Regular.woff2) format("woff2"), url(../../fonts/front/NotoSansKR-Regular.woff) format("woff"), url(../../fonts/front/NotoSansKR-Regular.otf) format("opentype")
}
/* medium */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 500;
	font-display: swap;
    src: url(../../fonts/front/NotoSansKR-Medium.woff2) format("woff2"), url(../../fonts/front/NotoSansKR-Medium.woff) format("woff"), url(../../fonts/front/NotoSansKR-Regular.otf) format("opentype")
}
/* bold */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 700;
	font-display: swap;
    src: url(../../fonts/front/NotoSansKR-Bold.woff2) format("woff2"), url(../../fonts/front/NotoSansKR-Bold.woff) format("woff"), url(../../fonts/front/NotoSansKR-Medium.otf) format("opentype")
}
/* extrabold */
@font-face {
    font-family: "Noto Sans Kr";
    font-style: normal;
    font-weight: 900;
	font-display: swap;
    src: url(../../fonts/front/NotoSansKR-Black.woff2) format("woff2"), url(../../fonts/front/NotoSansKR-Black.woff) format("woff"), url(../../fonts/front/NotoSansKR-Bold.otf) format("opentype")
}



/* Roboto */
/* light */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
	font-display: swap;
    src: url(../../fonts/front/Roboto-Light.woff2) format("woff2"), url(../../fonts/front/Roboto-Light.woff) format("woff"), url(../../fonts/front/Roboto-Light.otf) format("opentype")
}
/* regular */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
	font-display: swap;
    src: url(../../fonts/front/Roboto-Regular.woff2) format("woff2"), url(../../fonts/front/Roboto-Regular.woff) format("woff"), url(../../fonts/front/Roboto-Regular.otf) format("opentype")
}
/* meidum */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
	font-display: swap;
    src: url(../../fonts/front/Roboto-Medium.woff2) format("woff2"), url(../../fonts/front/Roboto-Medium.woff) format("woff"), url(../../fonts/front/Roboto-Medium.otf) format("opentype")
}
/* bold */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
	font-display: swap;
    src: url(../../fonts/front/Roboto-Bold.woff2) format("woff2"), url(../../fonts/front/Roboto-Bold.woff) format("woff"), url(../../fonts/front/Roboto-Bold.otf) format("opentype")
}

/* Jalnan */
/* regular */
@font-face {
    font-family: "Jalnan";
    font-style: normal;
	font-display: swap;
    src: url(../../fonts/front/JalnanOTF.woff2) format("woff2"), url(../../fonts/front/JalnanOTF.woff) format("woff"), url(../../fonts/front/JalnanOTF.otf) format("opentype")
}
