@charset "utf-8";

/* book-wrap */
.book-wrap {display:flex;}
.book-wrap .thumb {display:flex;flex:0 0 400px;height:480px;align-items:center;justify-content:center;margin-right:40px;}
.book-wrap .thumb img {width:100%;height:100%;object-fit:contain;}
.book-wrap .book-section {flex:1 1 100%;}
.book-wrap .book-section dl {padding-top:10px;}
.book-wrap .book-section dl {display:table;width:100%;table-layout:auto;}
.book-wrap .book-section dl .list {position:relative;display:table-row-group;}
.book-wrap .book-section dl dt {display:table-cell;font-size:16px;color:var(--black6);width:0;white-space:nowrap;padding:10px 20px 10px 0;}
.book-wrap .book-section dl dd {display:table-cell;font-size:16px;color:var(--black3);padding:10px 0;}
.book-wrap .book-section p {font-size:16px;color:var(--black3);padding-top:20px;}
@media screen and (max-width:1279px) {
	.book-wrap {flex-direction:column;}
	.book-wrap .thumb {flex:0 0 175px;height:257px;margin-right:0;}
	.book-wrap .book-section {}
	.book-wrap .book-section dl {padding-top:0;text-align:center;}
	.book-wrap .book-section dl {display:block;}
	.book-wrap .book-section dl .list {display:block;}
	.book-wrap .book-section dl dt {display:block;width:auto;white-space:pre-wrap;padding:15px 0 0;}
	.book-wrap .book-section dl dd {display:block;padding:5px 0 0;}
	.book-wrap .book-section p {}
}