@charset "utf-8";

/* title */
.page-title {text-align:center;margin-bottom:3.2rem;}
.page-title h2 {font-size:3.2rem;font-weight:700;}
.page-title p {font-size:1.6rem;}

.section-title {margin-bottom:45px;}
.section-title:not(:first-of-type) {margin-top:45px;}
.section-title h3 {font-size:24px;color:var(--black3);font-weight:500;text-align:center;}
.section-title p {font-size:16px;color:var(--black6);text-align:center;margin-top:4px;}
.section-title .left {margin-right:auto;}
.section-title .right {margin-left:auto;}

.content-title {flex-wrap:wrap;}
.content-title h4 {position:relative;font-size:16px;color:var(--blue);padding-left:10px;font-weight:500;}
.content-title h4:before {content:'\00B7';position:absolute;left:0;top:0;font-size:inherit;color:inherit;font-weight:inherit;}
.content-title .left {margin-right:auto;}
.content-title .right {margin-left:auto;}

.right .desc {font-size:14px;color:var(--black6);}

/* content */
.main-content {}
.sub-content {}

/* row */
.row {display:flex;margin:0 -1.2rem;}
.row .col {flex:1;padding:0 1.2rem;}

/* form-input */
.form-input-password {position:relative;display:flex;}
.form-input-password .btn-inner-icon {position:absolute;top:50%;transform:translateY(-50%);display:flex;align-items:center;justify-content:center;width:3.2rem;height:100%;margin-left:-3.2rem;}
.form-input-password .btn-inner-icon > * {height:1.8rem;}

.form-check-list {display:flex;flex-wrap:wrap;margin-left:-30px;margin-top:-15px;overflow:hidden;}
.form-check-list > * {margin-left:30px;margin-top:15px;height:20px;} 
.form-check-all {display:flex;align-items:center;justify-content:center;background-color:var(--bg7);padding:20px;border-radius:10px;margin-top:50px;}
.form-check-all .inp b {font-weight:500;}

/* search-filter */
.search-filter {background-color:var(--bg3);padding:20px 40px;border-radius:10px;}
.search-filter .label {display:flex;align-items:center;font-size:16px;color:var(--black6);font-weight:400;line-height:40px;margin-right:20px;min-height:40px;white-space:nowrap;}

.search-filter > .form-input {display:flex;justify-content:center;}
.search-filter > .form-input:only-child >*:not(:last-child):not(select) {margin-right:20px;}
.search-filter > .form-input:only-child input[type=search] {width:400px;}
.search-filter > .form-input:only-child select {width:120px;margin-right:10px;}

.search-filter .form-input-wrap {display:table;width:100%;}
.search-filter .form-input-wrap .form-row {display:table-row;}
.search-filter .form-input-wrap .form-row .form-header {display:table-cell;width:0;height:40px;box-sizing:content-box;vertical-align:top;border-bottom:1px solid #e4e4e4;}
.search-filter .form-input-wrap .form-row .form-body {display:table-cell;height:40px;box-sizing:content-box;vertical-align:top;border-bottom:1px solid #e4e4e4;}
.search-filter .form-input-wrap .form-row .form-header,
.search-filter .form-input-wrap .form-row .form-body {padding:10px 0;}
.search-filter .inp b {line-height:20px;}
.search-filter .form-input {display:flex;}
.search-filter .form-input input[type=date] {width:130px;flex:0 0 130px;}
.search-filter .form-input input[type=number] {width:120px;flex:0 0 120px;}
.search-filter .form-input select {width:120px;flex:0 0 120px;}
.search-filter .form-input.wauto select {width:120px;flex:1 0 120px;} 
.search-filter .form-input .bul {display:flex;align-items:center;justify-content:center;line-height:40px;font-size:16px;color:var(--black3);}
.search-filter .form-input > *:not(:last-child):not(.label) {margin-right:10px;}
.search-filter .form-check-list {margin-top:-5px;}

.table-row .inp b {line-height:20px;}
.table-row .form-input {display:flex;}
.table-row .form-input input[type=date] {width:130px;flex:0 0 130px;}
.table-row .form-input input[type=number] {width:120px;flex:0 0 120px;}
.table-row .form-input select {width:160px;flex:0 0 160px;}
.table-row .form-input.wauto select {width:120px;flex:1 0 120px;} 
.table-row .form-input .bul {display:flex;align-items:center;justify-content:center;line-height:40px;font-size:16px;color:var(--black3);}
.table-row .form-input:not(.form-input-file) > *:not(:last-child):not(.label) {margin-right:10px;}
.table-row .form-check-list {margin-top:-15px;}
.table-row .inp-file-text {width:400px;}



.search-filter .search-filter-submit {display:flex;align-items:center;justify-content:center;padding-top:10px;}
.search-filter .search-filter-submit > *:not(:last-child) {margin-right:10px;}

/* tooltip */
.tooltip-content {position:relative;color:var(--white);}
.tooltip-content .toggleTrigger {margin-left:1rem;}
.tooltip-content .toggleTarget {display:none;position:absolute;left:0;top:calc(100% + 1rem);width:28rem;border:0.1rem solid #666;font-size:1.3rem;color:#666;padding:1rem;background-color:var(--white);}
.tooltip-content.active .toggleTarget {display:block;}

/* visual-wrap */
.visual-wrap {height:22.4rem;display:flex;flex-direction:column;justify-content:center;background:var(--bgblue) var(--visual-image) center center / cover no-repeat;box-shadow:inset 0 0.4rem 0.7rem rgba(170, 170, 170, 0.15);}
.visual-wrap-inner {max-width:148rem;width:100%;padding:0 2rem;margin:0 auto;text-align:center;}
.visual-wrap-inner h2 {font-size:4.8rem;font-weight:700;color:var(--black);}
.visual-wrap-inner p {font-size:2.4rem;margin-top:0.8rem;}


/* review */
.review {border:0.1rem solid var(--gray1);border-radius:0.5rem;}
.review .review-title {display:flex;justify-content:space-between;padding:3.2rem 3.2rem 1.6rem;}
.review .review-title h4 {font-size:1.6rem;}
.review .review-content {padding:0 3.2rem 3.2rem;border-bottom:0.1rem solid var(--gray1);}
.review .review-content > .form-input {align-items:initial;}
.review .review-content > .form-input button {height:auto;}
.review > p {font-size:1.4rem;color:var(--gray2);padding:1.3rem 3.2rem;background-color:var(--gray0);border-radius:0 0 0.5rem 0.5rem;}


/* card-list */
.card-list {}
.card-list > ul {display:flex;flex-wrap:wrap;}
.card-list > ul > li {flex:1;}
.card-list > ul > li a {position:relative;display:block;height:100%;border:1px solid var(--grayc);border-radius:10px;}
.card-list > ul > li a.disabled:after {display:block;content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:var(--grayd);opacity:0.5;z-index:0;border-radius:10px;}
.card-list > ul > li a .thumb {display:flex;align-items:center;justify-content:center;background-color:var(--graye);overflow:hidden;border-radius:10px 10px 0 0;}
.card-list > ul > li a .thumb img {width:100%;height:100%;object-fit:cover;}
.card-list > ul > li a .flag {position:absolute;left:10px;top:-7px;z-index:1;}
.card-cate-list {}
.card-cate-list > ul {margin:-20px 0 0 -12px;}
.card-cate-list > ul > li {margin:20px 0 0 12px;flex:1 1 calc(100% / 4 - 12px);}
.card-cate-list dl {padding:12px 20px 24px;}
.card-cate-list dl dt {font-size:15px;font-weight:500;margin-bottom:3px;}
.card-cate-list dl dd {font-size:16px;font-weight:500;color:var(--black3);}
.card-program-list {}
.card-program-list > ul {margin:-20px 0 0 -20px;}
.card-program-list > ul > li {margin:20px 0 0 20px;flex:1 1 calc(100% / 2 - 20px);}
.card-program-list dl {padding:16px 20px 24px;}
.card-program-list dl dt {display:flex;font-size:16px;font-weight:500;color:var(--black3);margin-bottom:14px;}
.card-program-list dl dt .tag {margin-right:10px;}
.card-program-list dl dd {font-size:16px;color:var(--black6);}
.card-program-list dl li {display:flex;}
.card-program-list dl li:not(:last-child) {margin-bottom:5px;}
.card-program-list dl li .icon {width:24px;height:24px;}

/* content list */
.info-list {}
.info-list ul {border-top:2px solid var(--black3);}
.info-list ul li {display:flex;border-bottom:1px solid var(--graye);}
.info-list ul li .info-title {display:flex;align-items:center;justify-content:center;flex:0 0 138px;padding:15px;}
.info-list ul li .info-title strong {font-size:16px;font-weight:500;color:var(--black3);}
.info-list ul li .info-content {flex:1 1 100%;padding:15px 30px;}
.info-list ul li .info-content .info-content-title {display:block;font-size:16px;font-weight:500;color:var(--black3);margin-bottom:6px;}
.info-list ul li .info-content dl {}
.info-list ul li .info-content dl > div {display:flex;}
.info-list ul li .info-content dl > div:not(:last-child) {margin-bottom:2px;}
.info-list ul li .info-content dl dt {font-size:16px;font-weight:300;color:var(--black6);margin-right:16px;}
.info-list ul li .info-content dl dd {font-size:16px;color:var(--black3);}
.info-list ul li .info-btn {display:flex;align-items:center;justify-content:center;padding:15px 40px 15px 0;}
.info-list ul li .info-btn:empty {padding-right:0;}
.info-list ul li .info-btn .btn-wrap {display:flex;flex-direction:column;}
.info-list ul li .info-btn .btn-wrap > *:not(:last-child) {margin-bottom:10px;}

.info-list ul li.disabled .info-title strong,
.info-list ul li.disabled .info-content .info-content-title,
.info-list ul li.disabled .info-content dl dt,
.info-list ul li.disabled .info-content dl dd {color:var(--black9);}

/* acc-list */
.accordion-content .acc-panel {display:none;}
.accordion-content .acc-panel.active {display:block;}

.acc-list {border-top:2px solid var(--black3);}
.acc-list .acc-title {}
.acc-list .acc-title .acc-trigger {position:relative;display:flex;width:100%;padding:20px 52px 20px 10px;border-bottom:1px solid var(--graye);}
.acc-list .acc-title.active .acc-trigger {border-bottom-color:transparent;}
.acc-list .acc-title .acc-trigger:after {display:block;content:'';position:absolute;right:20px;top:50%;margin-top:-3.5px;width:12px;height:7px;-webkit-mask:url(../../images/front/arrow/arrow-accordion.png) center center / contain no-repeat;mask:url(../../images/front/arrow/arrow-accordion.png) center center / contain no-repeat;background-color:var(--black9);}
.acc-list .acc-title.active .acc-trigger:after {transform:rotate(180deg);background-color:var(--blue);}
.acc-list .acc-title .acc-trigger .tag {margin-right:20px;}
.acc-list .acc-title .acc-trigger b {margin-right:20px;color:var(--black2);}
.acc-list .acc-title .acc-trigger strong {color:var(--black2);}
.acc-list .acc-panel {border-bottom:1px solid transparent;}
.acc-list .acc-panel.active {border-bottom-color:var(--graye);}
.acc-list .acc-panel .acc-content {background-color:var(--bg5);border-radius:10px;padding:20px 20px 30px;font-size:16px;color:var(--black2);margin:0 10px 20px 10px;}
.acc-list .acc-panel .acc-content {}
.acc-list .acc-panel .acc-content .form-input-file {margin-top:40px;}

/* alarm-list */
.alarm-list {}
.alarm-list ul {}
.alarm-list ul li {}
.alarm-list ul li:not(:last-child) {margin-bottom:10px;}
.alarm-list ul li a {display:flex;border:1px solid var(--graye);border-radius:5px;padding:17px 20px;}
.alarm-list ul li a .num {position:relative;font-size:16px;color:var(--black6);margin-right:20px;padding-right:20px;}
.alarm-list ul li a .num:after {display:block;content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:var(--grayd);}
.alarm-list ul li a .message {display:flex;flex:1 1 100%;}
.alarm-list ul li a .message:before {content:'';flex: 0 0 20px;height:24px;-webkit-mask:url(../../images/front/ico/ico-message.png) center center / contain no-repeat;mask:url(../../images/front/ico/ico-message.png) center center / 20px 12px no-repeat;background-color:var(--blue);margin-right:8px;}
.alarm-list ul li a .message strong {font-size:16px;color:var(--black3);font-weight:500;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;text-overflow:ellipsis;}
.alarm-list ul li a .sender {}
.alarm-list ul li a .sender dl {display:flex;}
.alarm-list ul li a .sender dl dt {font-size:16px;color:var(--black9);margin-right:10px;white-space:nowrap;}
.alarm-list ul li a .sender dl dd {font-size:16px;color:var(--black3);font-family:'Roboto';white-space:nowrap;}
.alarm-list ul li a .sender dl dd:not(:last-child) {margin-right:20px;}



/* alarm-detail */
.alarm-detail {padding:0 20px 30px;border:1px solid var(--graye);border-radius:20px;}
.alarm-detail .alarm-detail-header  {display:flex;border-bottom:1px solid var(--graye);padding:27px 20px;}
.alarm-detail .alarm-detail-header .num {position:relative;font-size:16px;color:var(--black6);margin-right:20px;padding-right:20px;}
.alarm-detail .alarm-detail-header .num:after {display:block;content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:var(--grayd);}
.alarm-detail .alarm-detail-header .message {display:flex;flex:1 1 100%;}
.alarm-detail .alarm-detail-header .message:before {content:'';flex: 0 0 20px;height:24px;-webkit-mask:url(../../images/front/ico/ico-message.png) center center / contain no-repeat;mask:url(../../images/front/ico/ico-message.png) center center / 20px 12px no-repeat;background-color:var(--blue);margin-right:8px;}
.alarm-detail .alarm-detail-header .message strong {font-size:16px;color:var(--black3);font-weight:500;display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;text-overflow:ellipsis;}
.alarm-detail .alarm-detail-header .sender {}
.alarm-detail .alarm-detail-header .sender dl {display:flex;}
.alarm-detail .alarm-detail-header .sender dl dt {font-size:16px;color:var(--black9);margin-right:10px;white-space:nowrap;}
.alarm-detail .alarm-detail-header .sender dl dd {font-size:16px;color:var(--black3);font-family:'Roboto';white-space:nowrap;}
.alarm-detail .alarm-detail-header .sender dl dd:not(:last-child) {margin-right:20px;}
.alarm-detail .alarm-detail-content {padding:27px 20px 0;font-size:16px;color:var(--black3);}

/* member-type-list */
.member-type-list {border:1px solid var(--graye);border-radius:20px;padding:60px 0;}
.member-type-list ul {display:flex;}
.member-type-list ul li {display:flex;flex-direction:column;flex:1;justify-content:space-between;}
.member-type-list ul li:not(:last-child) {border-right:1px solid var(--graye);}
.member-type-list dl {display:flex;flex-direction:column;justify-content:space-between;text-align:center;flex:1 0 225px;}
.member-type-list dl dt {font-size:24px;color:var(--black3);font-weight:700;}
.member-type-list dl dd {font-size:16px;color:var(--black6);}
.member-type-list dl dd b {color:var(--black3);}
.member-type-list .btn-inner {margin-top:45px;text-align:center;}

/* member-login */
.member-login {border:1px solid var(--graye);border-radius:20px;}
.member-login .member-login-type {display:flex;align-items:center;justify-content:center;}
.member-login .member-login-type ul {display:flex;background-color:#f7f6ef;border-radius:0 0 50px 50px;padding:0 50px;}
.member-login .member-login-type ul li:not(:last-child) {margin-right:45px;}
.member-login .member-login-type .inp b {font-size:20px;line-height:60px;}
.member-login > ul {display:flex;margin:40px 0 70px;}
.member-login > ul > li {flex:1;padding:0 100px;}
.member-login > ul > li:not(:last-child) {border-right:1px solid var(--graye);}
.member-login dl {}
.member-login dl dt {font-size:24px;color:var(--black3);font-weight:700;text-align:center;margin-bottom:20px;}
.member-login dl dd {font-size:16px;color:var(--black6);}
.member-login dl dd strong {display:block;text-align:center;margin-bottom:36px;font-weight:400;}
.member-login dl dd input:not([type="checkbox"],[type="radio"]) {background-color:var(--bg7);height:50px;font-size:18px;padding:0 20px;}
.member-login dl dd input:not([type="checkbox"],[type="radio"]):not(:first-child) {margin-top:10px;}
.member-login dl dd .inp {margin-top:20px;}
.member-login dl dd .inp b {font-size:14px;color:var(--black6);}
.member-login .invalid-feedback {font-size:14px;color:var(--red);font-weight:300;text-align:center;margin-top:25px;}
.member-login .btn-inner {padding-top:15px;}
.member-login .btn-inner .btn-large {width:100%;}
.member-login .btn-inner .link-list {margin-top:25px;}

/* thumb-info */
.thumb-info {}
.thumb-info .icon {display:block;margin:0 auto;}
.thumb-info dl {text-align:center;margin-top:13px;}
.thumb-info dl dt {font-size:18px;font-weight:500;color:var(--black3);}
.thumb-info dl dd {font-size:16px;color:var(--black6);}


/* box */
.box-inactive {display:inline-flex;font-size:16px;color:var(--black3);padding:10px 30px;border:2px solid var(--grayd);border-radius:5px;}

.box-df-list {background-color:var(--bg7);padding:15px 20px;}
.box-df-list dl {}
.box-df-list dl dt {font-size:16px;font-weight:500;color:var(--black3);}
.box-df-list dl dd {font-size:16px;font-weight:300;color:var(--black6);}

/* link-list */
.link-list {display:flex;align-items:center;justify-content:center;}
.link-list li {position:relative;}
.link-list li:not(:last-child):after {display:block;content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:var(--grayd);}
.link-list li a {display:block;font-size:14px;font-weight:300;color:var(--black6);padding:0 10px;}

/* steps */
.steps {}
.steps ol {display:flex;}
.steps ol li {position:relative;flex:1;height:70px;}
.steps ol li .steps-inner {display:flex;align-items:center;justify-content:center;background-color:var(--white);border:1px solid #9fccbc;border-radius:20px;height:100%;}
.steps ol li.active ~ li .steps-inner {background-color:var(--bg4);border:2px solid var(--grayd);color:var(--black6);}
.steps ol li:after {display:block;content:'';position:absolute;right:-20px;top:50%;transform:translateY(-50%);box-shadow:0 3px 5px rgba(0, 0, 0, 0.1);width:40px;height:40px;border-radius:50%;z-index:1;background:url(../../images/front/arrow/arrow-steps-active.png) center center / contain no-repeat;}
.steps ol li.active ~ li:after {background:url(../../images/front/arrow/arrow-steps.png) center center / contain no-repeat;}
.steps ol li:last-child:after {display:none;}

.steps ol li.active .steps-inner {border:5px solid var(--sgreen);background-color:var(--white);color:var(--black);}
.steps ol li span {font-size:24px;font-weight:300;font-family:'Roboto';margin-right:5px;}
.steps ol li strong {font-size:24px;font-weight:500;}


/* cert-list */
.cert-list {}
.cert-list ul {display:flex;margin:0 0 0 -40px;}
.cert-list ul li {display:flex;flex-direction:column;flex:1;justify-content:space-between;border:1px solid var(--graye);border-radius:20px;margin-left:40px;padding:85px 0 80px;}
.cert-list ul li:not(:last-child) {border-right:1px solid var(--graye);}
.cert-list .thumb {display:flex;align-items:center;justify-content:center;margin-bottom:40px;}
.cert-list dl {display:flex;flex-direction:column;justify-content:space-between;text-align:center;}
.cert-list dl dt {font-size:20px;color:var(--black);font-weight:400;margin-bottom:10px;}
.cert-list dl dd {font-size:16px;color:var(--black6);}
.cert-list dl dd b {color:var(--black3);}
.cert-list .btn-inner {margin-top:25px;text-align:center;}

/* terms-content */
.terms-content {margin-top:45px;}
.terms-content .terms-title {font-size:20px;font-weight:500;}
.terms-content .terms-title strong {color:var(--black3);font-weight:inherit;}
.terms-content .terms-inner {padding:30px;background-color:var(--white);border:1px solid var(--graye);max-height:200px;overflow:auto;border-radius:10px;}
.terms-content .terms-inner h4 {font-size:18px;color:var(--black3);font-weight:500;margin-bottom:10px;}
.terms-content .terms-inner h5 {font-size:16px;color:var(--black3);font-weight:500;margin-bottom:10px;}
.terms-content .terms-inner .txt1 {font-size:16px;color:var(--black6);font-weight:300;margin-bottom:10px;}
.terms-content .terms-inner:focus {max-height:500px;}
.terms-content .terms-inner .agree-txt > *:last-child {margin-bottom:0;}
.terms-content .form-check-list {padding-top:10px;}


/* Mobile */
@media screen and (max-width:1024px) {

	

}