body.guide {min-width:0;padding-top:0;}
h1 {font-size:2rem;margin:1rem 0;}
.hr > br,
.hr > div > br {display:block;content:'';}
.hr > br:after,
.hr > div > br:after {content:'';display:block;height:1rem;}
.hr > div {flex:1;}
hr {display:block;margin:10px;border:0;}
.hr {padding:20px;margin:20px;border:2px solid var(--black9);}
.toggleParent.active {background-color:var(--gray1);}
#toggleDevice {position:fixed;right:0;bottom:0;}
.sticky-top {position:sticky;top:0;z-index:100;background-color:var(--bg7);padding:20px;}
.sticky-top h1 {margin:0;font-size:2em;}
 
.column {display:flex;}
.column .left {flex:0 0 280px;padding-right:20px;}
.column .right {flex:0 0 920px;margin:0 auto;}
.column h2 {font-size:1.8em;color:var(--black6);}

/* Mobile */
@media screen and (max-width:1279px) {
	.hr {margin:0;padding:14px;}
	.column {flex-direction:column;}
	.column .left {text-align:center;margin-bottom:20px;flex: 0;}
	.column .right {flex:1 1 100%;margin:0;}

	.column h2 {}
}

