body.guide {min-width:0;}
h1 {font-size:2rem;margin:1rem 0;}
.hr > br,
.hr > div > br {display:block;content:'';}
.hr > br:after,
.hr > div > br:after {content:'';display:block;height:1rem;}
.hr > div {flex:1;}
hr {display:block;margin:10px;border:0;}
.hr {padding:20px;margin:20px;border:2px solid var(--black9);}
.toggleParent.active {background-color:var(--gray1);}
#toggleDevice {position:fixed;right:0;bottom:0;}


/* Mobile */
@media screen and (max-width:1279px) {
	.hr {margin:0;padding:14px;}
}