@charset "utf-8";

/* skip */
#skip, #skip ul, #skipSitemap {height:0;width:100%;z-index:100000;}
#skip a, #skipSitemap a {position:absolute;top:-9999px;left:0;z-index:10000;display:block;width:100%;height:40px;background-color:#000;line-height:40px;opacity:1;color:var(--white);text-align:center;}
#skip a:focus, #skip a:hover, #skip a:active, #skip a:visited, #skipSitemap a:focus, #skipSitemap a:hover, #skipSitemap a:active, #skipSitemap a:visited {top:0;}
html {
	--pl:40px;
	--pr:40px;
	--maxWidth:1280px;
}
html.TABLET,
html.MOBILE {
	--pl:15px;
	--pr:15px;
}

html.DESKTOP body,
html.TABLET body {
	--header-height:145px;
}
html.DESKTOP.header-medium body,
html.TABLET.header-medium body {
	--header-height:125px;
	
}

html.MOBILE body {
	--header-height:88px;
}

body {margin:0 auto;padding-top:var(--header-height);transition:padding-top 0.1s var(--cubic);}
body.preload {transition:none!important;padding-top:145px;}

/* header */
.header {position:fixed;top:0;width:100%;left:0;z-index:1900;transition:height 0.1s var(--cubic);box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.05);}
.header-inner {background:#fff;padding-top:25px;transition:padding-top 0.1s var(--cubic);}
.header .header-top {position:relative;display:flex;align-items:center;justify-content:space-between;max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;z-index:3;}
.header .header-top > * {flex:1 1 100%;}
.header .header-top > .center {flex:0;}
.header .header-top > .right {display:flex;justify-content:flex-end;}
@media screen and (max-width:1023px) {
	.header-inner {display:flex;padding:0 20px;}
	.header .header-top {flex:1 1 100%;padding:0;position:static;}
	.header .header-top > .right {flex:0;}
	.header .header-top > .right .shortcut-menu {display:none;}
}
/* header logo */
.header .logo {height:100%;}
.header .logo a {display:flex;align-items:center;justify-content:center;width:153px;height:100%;}
.header .logo a img {width:100%;object-fit:contain;}
@media screen and (max-width:1023px) {
	.header .logo {height:var(--header-height);}
}
/* header search */
.header .header-search {border:1px solid transparent;border-radius:25px 25px 0 0;display:flex;background-color:var(--white);}
.header-search-innner {position:relative;display:flex;align-items:center;justify-content:center;flex:1;}
.header-search-innner .autoComplete_wrapper {width:100%;}
.header-search .search-input {width:400px;height:48px;border-radius:25px;font-size:16px;padding:0 100px 0 30px;background-color:#f3f4f7;box-shadow:inset 0px 0px 3px 0px rgba(0, 0, 0, 0.08);transition:background-color 0.3s var(--cubic);border:1px solid transparent;}
.header-search .search-input:focus {background-color:var(--white);border:1px solid var(--graye);}
.header-search .search-input::placeholder {color:var(--black6);font-weight:400;}
.header-search .header-search-btn {/* position:absolute; *//* right:0; *//* top:0; */display:flex;margin-left:-96px;}
.header-search .btn-suggest {display:flex;align-items:center;justify-content:center;width:48px;height:48px;position:relative;z-index:1;}
.header-search .btn-suggest:before {content:'';background:url(../../images/front/btn/btn-suggest.png) center center / contain no-repeat;width:16px;height:10px;}
.header-search.suggest-active .btn-suggest:before {transform:rotate(180deg);}
.header-search .btn-search {display:flex;align-items:center;justify-content:center;width:48px;height:48px;background-color:#2d9e76;border-radius:50%;position:relative;z-index:1;}
.header-search .btn-search:before {content:'';background:url(../../images/front/btn/btn-search.png) center center / contain no-repeat;width:23px;height:23px;}

/* header search autocomplete open & input typing */
.header-search.typing .search-input {background-color:var(--white);color:var(--black);border:1px solid var(--graye);box-shadow:none;}
.header-search.autocomplete-open,
.header-search.suggest-active {border-color:#ccc;border-bottom:0;padding-bottom:1px;}
.header-search.focusing:not(.autocomplete-open,.suggest-active) {border:1px solid #ccc;border-radius:25px;}

/* header search suggest */
.header .search-suggest {display:none;position:absolute;right:0px;top:100%;width:402px;background-color:var(--white);border:1px solid #ccc;border-top:0;border-radius:0 0 25px 25px;box-shadow:0px 3px 3px 0px rgba(0, 0, 0, 0.1);height: 225px;}
.header .search-suggest .search-suggest-list {display:flex;padding: 15px 30px 20px;font-size:15px;font-weight:400;color:var(--black3);line-height:25px;}
.header .search-suggest .search-suggest-list > * {flex:1;width:50%;}
.header .search-suggest .suggest-title {display:block;font-size:16px;color:#237db1;font-weight:400;margin-bottom:5px;}

.header-search .search-suggest .recent-keyword {padding-right:15px;}
.header-search .search-suggest .recent-keyword li {display:flex;}
.header-search .search-suggest .recent-keyword li .keyword {flex:0 1 100%;max-width:calc(100% - 17px);}
.header-search .search-suggest .recent-keyword li .keyword span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}
.header-search .search-suggest .recent-keyword li .recent-keyword-remove {display:flex;align-items:center;justify-content:center;}
.header-search .search-suggest .recent-keyword li .recent-keyword-remove:before {content:'';width:17px;height:17px;background:url(../../images/front/btn/btn-circle-close.png) center center / contain no-repeat;}

.header-search .search-suggest .popular-keyword {}
.header-search .search-suggest .popular-keyword .list {counter-reset:li;display:grid;grid-template-rows:repeat(5, auto);grid-template-columns: repeat(2, 50%);grid-auto-flow:column;margin-top: 10px;}
.header-search .search-suggest .popular-keyword .list li {display:flex;padding-right: 5px;}
.header-search .search-suggest .popular-keyword .list li:before {counter-increment:li;content:counter(li, decimal-leading-zero);margin-right:10px;width:15px;font-size:13px;color:var(--black6);}
.header-search .search-suggest .popular-keyword .list li .keyword {flex:0 1 100%;max-width: calc(100% - 20px);font-size:15px;}
.header-search .search-suggest .popular-keyword .list li .keyword span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}
.header-search .search-suggest .popular-keyword p {display:flex;align-items:center;justify-content:center;height:125px;}

.header-search .search-suggest .tab-content .tab-list {display:flex;flex-wrap:wrap;}
.header-search .search-suggest .tab-content .tab-list li {flex:1;margin-right:-1px;}
.header-search .search-suggest .tab-content .tab-list li button {position:relative;display:flex;align-items:center;justify-content:center;width:100%;font-size:13px;border:1px solid #ccc;line-height: 22px;}
.header-search .search-suggest .tab-content .tab-list li:first-child button {border-radius:3px 0 0 3px;}
.header-search .search-suggest .tab-content .tab-list li:last-child button {border-radius:0 3px 3px 0;}
.header-search .search-suggest .tab-content .tab-list li.active button {color:#15875f;border-color:#15875f;z-index:1;}

.header-search .search-suggest .search-suggest-control {display:flex;align-items:center;justify-content:space-between;height:40px;background-color:#f3f4f7;border-radius:0 0 25px 25px;font-size:13px;color:var(--black6);padding:0 30px;}

.header-search.suggest-active .search-suggest {display:block;}

.header-search-toggle-mo {display:none;}
.mo-shortcut-menu {display:none;}

@media screen and (max-width:1023px) {
	.header-search-toggle-mo {display:flex;align-items:center;justify-content:center;width:50px;height:50px;}
	.header-search-toggle-mo:before {content:'';width:23px;height:23px;-webkit-mask:url(../../images/front/btn/btn-search.png) center center / contain no-repeat;mask:url(../../images/front/btn/btn-search.png) center center / contain no-repeat;background-color:var(--black);}
	.center.toggleParent {position:static;}
	.center .header-search-wrap {display:none;position:absolute;left:0;top:var(--header-height);width:100%;background-color:var(--white);padding:20px;border-top:1px solid var(--grayd);border-bottom:8px solid var(--sgreen);}
	.center.active .header-search-wrap {display:block;}
	.header-search .search-input {width:100%;padding:0 96px 0 20px;}
	.header-search .search-input::placeholder {letter-spacing:-0.05em;}
	.header .search-suggest {right:20px;top:69px;width:calc(100% - 40px);background-color:var(--white);border:1px solid #ccc;border-top:0;border-radius:0 0 25px 25px;box-shadow:0px 3px 3px 0px rgba(0, 0, 0, 0.1);}

	/* .header-search {display:none;} */
	.mo-shortcut-menu {display:block;}
	.mo-shortcut-menu ul {display:flex;}
	.mo-shortcut-menu ul li a {width:50px;height:50px;}
	.mo-shortcut-menu ul li.ico-login a {position:relative;display:flex;align-items:center;justify-content:center;}
	.mo-shortcut-menu ul li.ico-login a:before {content:'';flex:0 0 20px;width:20px;height:24px;-webkit-mask:url(../../images/front/ico/ico-member-mo.png) center center / contain no-repeat;mask:url(../../images/front/ico/ico-member-mo.png) center center / contain no-repeat;background-color:var(--black);}
	.mo-shortcut-menu ul li.ico-alarm a {position:relative;display:flex;align-items:center;justify-content:center;}
	.mo-shortcut-menu ul li.ico-alarm a:before {content:'';flex:0 0 19px;width:19px;height:25px;-webkit-mask:url(../../images/front/ico/ico-alarm.svg) center center / contain no-repeat;mask:url(../../images/front/ico/ico-alarm.svg) center center / contain no-repeat;background-color:var(--black);}
	.mo-shortcut-menu ul li.ico-alarm a span {position:absolute;right:13px;top:13px;width:5px;height:5px;background-color:var(--sred);border-radius:50%;font-size:0;}
	
}



/* shortcut-menu */
.shortcut-menu {}
.shortcut-menu > ul {display:flex;}
.shortcut-menu > ul > li {position:relative;}
.shortcut-menu > ul > li:not(:last-child) {margin-right:20px;}
.shortcut-menu > ul > li > a,
.shortcut-menu > ul > li > button {display:flex;align-items:center;font-size:14px;color:var(--black6);}
.shortcut-menu > ul > li > a:before,
.shortcut-menu > ul > li > button:before {content:'';margin-right:5px;}
.shortcut-menu > ul > li.ico-login a:before {width:14px;height:18px;background:url(../../images/front/ico/ico-lockon.svg) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-member > a:before,
.shortcut-menu > ul > li.ico-member > button:before {width:15px;height:18px;background:url(../../images/front/ico/ico-member.png) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-language > button:before {width:20px;height:20px;background:url(../../images/front/ico/ico-language.svg) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-alarm > button:before {width:15px;height:20px;background:url(../../images/front/ico/ico-alarm.svg) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-member button.toggleTrigger:after,
.shortcut-menu > ul > li.ico-language button.toggleTrigger:after {content:'';width:9px;height:6px;background:url(../../images/front/arrow/arrow-header-util.png) center center / contain no-repeat;margin-left:15px;}
@media screen and (min-width:1024px) {
	.shortcut-menu > ul > li:not(:last-child) {margin-right:15px;}
	.shortcut-menu > ul > li.ico-member button.toggleTrigger:after, .shortcut-menu > ul > li.ico-language button.toggleTrigger:after {margin-left:5px;}
	.shortcut-menu > ul > li.ico-member.active button.toggleTrigger:after, .shortcut-menu > ul > li.ico-language.active button.toggleTrigger:after {transform:rotate(180deg);}
}

/* language popup */
.shortcut-menu .toggle-list {position:absolute;left:50%;top:calc(100% + 10px);border:1px solid var(--grayd);border-radius:10px;box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.1);transform:translate(-50%);}
.shortcut-menu .toggle-list li {background-color:#f3f4f7;}
.shortcut-menu .toggle-list li.bt1 {border-top:1px solid var(--grayd)}
.shortcut-menu .toggle-list li:hover,
.shortcut-menu .toggle-list li:focus {background-color:var(--white);}
.shortcut-menu .toggle-list li:first-child {border-radius:10px 10px 0 0;}
.shortcut-menu .toggle-list li:last-child {border-radius:0 0 10px 10px;}
.shortcut-menu .toggle-list li a {display:block;font-size:14px;line-height:30px;color:var(--black6);padding:0 20px;}
.shortcut-menu .toggle-list li:hover a,
.shortcut-menu .toggle-list li:focus a {color:var(--black3);}
.shortcut-menu .ico-alarm > button strong {margin-left:5px;background-color:#ff3838;font-size:14px;line-height:18px;color:var(--white);font-weight:400;border-radius:9px;padding:0 7px;}


/* alarm popup */
.shortcut-menu .ico-alarm .alarm-layer {padding-bottom:0;}
/* .shortcut-menu .ico-alarm.toggle-layer .toggle-layer-close {opacity:0;} */
/* .shortcut-menu .ico-alarm.toggle-layer .toggle-layer-close:focus {opacity:1;} */
.shortcut-menu .ico-alarm .alarm-layer:after {display:block;content:'';position:absolute;left: 50%;margin-left: -40px;bottom: 100%;width: 80px;height: 10px;}
.shortcut-menu .ico-alarm .alarm-layer li {display:flex;}
.shortcut-menu .ico-alarm .alarm-layer li a {flex:1 1 100%;padding:10px 0 10px 8px;}
.shortcut-menu .ico-alarm .alarm-layer li a strong {display:block;font-size:16px;color:var(--black3);}
.shortcut-menu .ico-alarm .alarm-layer li a span {display:block;font-size:14px;color:var(--black6);}
.shortcut-menu .ico-alarm .alarm-layer li button {display:flex;align-items:center;justify-content:center;width:33px;}
.shortcut-menu .ico-alarm .alarm-layer li button:before {content:'';width:17px;height:17px;background:url(../../images/front/btn/btn-circle-close.png) center center / contain no-repeat;}

.shortcut-menu .ico-alarm .alarm-layer li.view-all {border-bottom:0;}
.shortcut-menu .ico-alarm .alarm-layer li.view-all a {display:flex;align-items:center;justify-content:center;height:60px;padding:0;}
.shortcut-menu .ico-alarm .alarm-layer li.view-all a span {font-size:14px;color:var(--blue);text-decoration:underline;}

.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata {display:flex;align-items:center;justify-content:center;height:390px;text-align:center;}
.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata img {display:flex;margin:0 auto;}
.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata p {font-size:16px;color:var(--black6);margin-top:20px;}

/* gnb */
/* PC & TABLET */
@media screen and (min-width:1024px) {
	.header .header-bottom {/* position:relative; */box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.05);}
	/* .header.desktop-gnb-active .header-bottom {border-bottom-color:var(--green);} */
	.header .header-bottom-inner {display:flex;max-width:var(--maxWidth);margin:0 auto;padding-top:14px;padding-left:var(--pl);padding-right:var(--pr);transition:padding-top 0.1s var(--cubic);position:static;}
	.header .gnb {flex:0 0 calc(100% - 58px);}
	.header .gnb .dep01 {display:flex;justify-content:space-around;}
	.header .gnb .dep01 > li {flex:auto;}
	.header .gnb .dep01 > li > a {position:relative;display:flex;font-size:18px;font-weight:500;line-height:55px;margin:0 auto;align-items:center;justify-content:center;border-radius:10px 10px 0 0;background-color:transparent;transition:background-color 0.1s var(--cubic),color 0.1s var(--cubic);}
	.header .gnb .dep01 > li.active > a,
	.header .gnb .dep01 > li.current-page > a {background-color:var(--green);color:var(--white);}
	.header .gnb .dep02 {position:absolute;left:0;top:100%;width:100%;border-bottom:1px solid var(--grayc);border-top:1px solid var(--green);background-color:var(--white);box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.05);z-index:-1;}
	.header .gnb .dep01 > li.active .dep02 {z-index:0;}
	.header .gnb .dep02-inner {position:relative;max-width:var(--maxWidth);margin:0 auto;padding-left:var(--pl);padding-right:var(--pr);display:flex;justify-content:space-between;max-height:calc(100vh - var(--header-height) - 8px);overflow:auto;}
	.header .gnb .dep02-inner > ul {flex:1;display:flex;flex-direction:column;}
	.header .gnb .dep02-inner .banner-dep02 {width:341px;}
	.header .gnb .dep02-inner .banner-dep02 ul {display:flex;flex-direction:column;padding:10px 0;border-left:1px solid var(--grayc);border-right:1px solid var(--grayc);height:100%;}
	.header .gnb .dep02-inner .banner-dep02 ul li {display:flex;}
 	.header .gnb .dep02-inner .banner-dep02 ul li a {display:flex;align-items:center;width:100%;padding-left:60px;padding:20px 0 20px 60px;}
	.header .gnb .dep02-inner .banner-dep02 ul li a .thumb {display:flex;align-items:center;justify-content:center;padding-right:30px;}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc {}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc strong {display:block;font-size:16px;font-weight:400;color:var(--black3);}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc span {margin-top:5px;height:26px;border-radius:50px;}


	.header .gnb .dep02-inner > ul > li {display:flex;/* align-items:center; */flex:1;}
	.header .gnb .dep02-inner > ul > li > a {position:relative;display:flex;align-items:center;justify-content:center;flex:0 0 158px;font-size:16px;font-weight:500;padding:15px 5px;text-align:center;border:1px solid var(--grayc);border-top:0;background-color:#f6f7f6;}
	.header .gnb .dep02-inner > ul > li:last-child > a {border-bottom:0;}
	.header .gnb .dep02-inner > ul > li:hover .dep03 {background-color:#edf5f2;}
	.header .gnb .dep02-inner > ul > li:hover > a {border-color:transparent;background-color:var(--green);color:var(--white);}
	.header .gnb .dep03 {position:relative;display:flex;flex-wrap:wrap;overflow:hidden;padding:8px 0;border-left:10px solid transparent;width:100%;}
	/* .header .gnb .dep03:before {position:absolute;content:'';top:20px;left:0;width:6px;height:10px;-webkit-mask:url(../../images/front/arrow/arrow-gnb-dep03.png) center center / 6px 10px no-repeat;mask:url(../../images/front/arrow/arrow-gnb-dep03.png) center center / 6px 10px no-repeat;background-color:var(--black9);} */
	/* .header .gnb .dep02-inner ul > li:hover, */
	/* .header .gnb .dep02-inner ul > li:focus {color:var(--green);} */
	/* .header .gnb .dep02-inner ul > li:hover .dep03:before, */
	/* .header .gnb .dep02-inner ul > li:focus .dep03:before {background-color:var(--green);} */
	.header .gnb .dep03 > li {position:relative;}
	.header .gnb .dep03 > li > a {display:flex;font-size:16px;color:var(--black3);padding:0 20px;align-items:center;justify-content:center;line-height:40px;height:100%;}
	.header .gnb .dep03 > li > a:hover,
	.header .gnb .dep03 > li > a:focus {}
	.header .gnb .dep03 > li > a:before {display:block;content:'';position:absolute;left:-1px;top:50%;transform:translateY(-50%);width:1px;height:14px;background-color:var(--grayc);}
	.header .gnb .dep01 > li.active .dep02 {display:block;}
	.header .sitemap {flex:0 0 58px;}
	.header .sitemap a {display:flex;align-items:center;justify-content:flex-end;background:url(../../images/front/btn/btn-sitemap.png) right center / 18px 16px no-repeat;width:100%;height:100%;}
	.header .dep01-util-mo {display:none;}

	/* header-medium */
	.header-medium .header .header-bottom-inner {padding-top:3px;}
	.header-medium .header .gnb .dep01 > li > a {line-height:51px;}
	
}
/* MOBILE */
@media screen and (max-width:1023px) {
	.header-bottom {display:flex;align-items:center;justify-content:center;}
	.header .header-bottom-inner {position:static;}
	.header .gnb  {display:none;position:fixed;top:var(--header-height);left:0;width:100%;height:calc(100% - var(--header-height));;background-color:var(--white);border-top:1px solid var(--grayd);overflow-y:auto;}
	.header .header-bottom-inner.active .gnb {display:flex;flex-direction:column;}
	.header .gnb .dep01 {}
	.header .gnb .dep01 > li {}
	.header .gnb .dep01 > li > a {display:block;font-size:20px;font-weight:500;color:var(--black);width:162px;padding:19px 5px 19px 20px;border:1px solid var(--grayd);border-top:0;border-left:0;background-color:var(--bg7);}
	.header .gnb .dep01 > li.active > a {background-color:var(--white);color:var(--green);border-right-color:transparent;font-weight:700;}
	.header .gnb .dep02 {position:absolute;left:162px;top:0;width:calc(100% - 162px);background-color:var(--white);z-index:1;overflow:auto;height:100%;}
	.header .gnb .dep02-inner > ul {padding:0 20px;}
	.header .gnb .dep02-inner > ul > li {border-bottom:1px solid var(--graye);}
	.header .gnb .dep02-inner > ul > li > a {position:relative;display:block;font-size:18px;color:var(--black3);font-weight:500;padding:21px 22px 21px 0;}
	.header .gnb .dep02-inner > ul > li.hasDep03 > a:after {display:block;content:'';position:absolute;right:2px;top:25px;width:18px;height:18px;background:url(../../images/front/btn/btn-gnb-dep02-plus.png) center center / contain no-repeat;}
	.header .gnb .dep02-inner > ul > li.hasDep03.active > a:after {background:url(../../images/front/btn/btn-gnb-dep02-minus.png) center center / contain no-repeat;}
	.header .gnb .dep03 {padding:0 5px 25px 10px;}
	.header .gnb .dep03 > li {}
	.header .gnb .dep03 > li {}
	.header .gnb .dep03 > li > a {display:block;font-size:16px;color:var(--black6);padding:13px 0;}
	.header .gnb .dep03 > li.current-page > a {color:var(--green);font-weight:500;}

	.header .gnb .banner-dep02 {padding:0 20px;}
	.header .gnb .banner-dep02 > ul {}
	.header .gnb .banner-dep02 > ul > li {border-bottom:1px solid var(--graye);}
	.header .gnb .banner-dep02 > ul > li > a {position:relative;display:block;padding:21px 22px 21px 0;}
	.header .gnb .banner-dep02 > ul > li > a:after {display:block;content:'';position:absolute;right:2px;top:25px;width:20px;height:20px;background:url(../../images/front/btn/btn-gnb-dep02-banner.png) center center / contain no-repeat;}
	
	
	.header .gnb .banner-dep02 > ul > li > a .desc {font-size:18px;color:var(--blue);}
	.header .gnb .banner-dep02 > ul > li > a .desc strong {font-weight:500}
	.header .gnb .banner-dep02 > ul > li > a .thumb,
	.header .gnb .banner-dep02 > ul > li > a .btn-small {display:none;}

	.header .sitemap a {display:none;}
	.header .sitemap .toggleTrigger {display:flex;align-items:center;justify-content:center;width:50px;height:50px;}
	.header .sitemap .toggleTrigger > div {position:relative;top:0;left:0;background:var(--black);height:2px;width:22px;transition:all  0.4s ease;}
	.header .sitemap .toggleTrigger > div:before,
	.header .sitemap .toggleTrigger > div:after{content:'';position:absolute;top:-9px;left:0;background-color:var(--black);width:22px;height:2px;transition:all  0.4s ease;}
	.header .sitemap .toggleTrigger > div:after{top:9px;}
	.header .header-bottom-inner.active .sitemap .toggleTrigger > div {background-color:var(--white);}
	.header .header-bottom-inner.active .sitemap .toggleTrigger > div:before,
	.header .header-bottom-inner.active .sitemap .toggleTrigger > div:after {top:0;width:29px;left:-3px;}
	.header .header-bottom-inner.active .sitemap .toggleTrigger > div:before {transform:rotate(45deg);}
	.header .header-bottom-inner.active .sitemap .toggleTrigger > div:after {transform:rotate(135deg);}
	.header .gnb .dep01-util-mo {width:162px;background-color:var(--bg7);border-right:1px solid var(--grayd);flex:1 1 100%;}
	.header .gnb .dep01-util-mo ul {padding:25px;font-size:16px;color:var(--black3);}
	.header .gnb .dep01-util-mo ul > li {position:relative;padding-left:8px;}
	.header .gnb .dep01-util-mo ul > li:not(:last-child) {margin-bottom:25px;}
	.header .gnb .dep01-util-mo ul > li:before {content:'\00B7';position:absolute;left:0;top:-1px;opacity:0.8;font-weight:700;font-size:1.5em;line-height:1;text-align:left;}
	
}


/* header-medium */
.header-medium .header-inner {padding-top:20px;}



/* header-simple */
.header-simple {display:flex;align-items:center;justify-content:center;height:var(--header-height);background-color:var(--white);box-shadow: none;}
.header-simple a {display:flex;}
.header-simple a img {height:100%;}
@media screen and (max-width:1023px) {
	.header-simple a {height:40px;}
}

/* aside */
.aside .chatbot button,
.aside .chatbot a {display:flex;justify-content:center;margin:0 auto;width:80px;box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.1);border-radius:50%;}
.aside .chatbot button img,
.aside .chatbot a img {width:100%;}
.aside .sns-share ul li button,
.aside .sns-share ul li a {display:flex;width:40px;}
.aside .sns-share ul li button img,
.aside .sns-share ul li a img {width:100%;}

/* PC */
@media screen and (min-width:1280px) {
	footer .aside {display:none;}
	.aside {position:fixed;left:50%;transform:translateX(-50%);top:50%;margin-top:-240px;max-width:1920px;display:flex;justify-content:flex-end;height:0;width:100%;z-index:1998}
	.aside-inner {margin-left:auto;}
	.aside .chatbot {margin-bottom:65px;}
	.aside .sns-share {background-color:var(--white);border:1px solid var(--graye);display:table;margin:0 auto;padding:5px;border-radius:10px;box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.1);}
	.aside .sns-share ul li:not(:last-child) {margin-bottom:5px;}
	.aside .scroll-top {margin-top:7px;border-top:1px solid var(--graye);}
	.aside .scroll-top a {display:flex;padding:7px 0 2px;flex-direction:column;text-align:center;font-size:14px;font-weight:500;color:var(--black6);}
	.aside .scroll-top a:before {content:'';width:13px;height:7px;background:url(../../images/front/arrow/arrow-aside-top.png) center center / contain no-repeat;margin:0 auto 2px;}
}
/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	.aside {display:none;}
	.footer .aside {display:block;margin-top:40px;}
	.aside .chatbot {position:fixed;right:10px;bottom:10px;z-index:2;}
	.aside .sns-share {}
	.aside .sns-share ul {display:flex;align-items:center;justify-content:center;}
	.aside .sns-share ul li:not(:last-child) {margin-right:5px;}
	.aside .sns-share .scroll-top {display:none;}
}





/* footer */
#footer {margin-top:115px;padding-bottom:120px;background-color:var(--white);}

.footer {border-top:1px solid #ebebeb;}
.footer .swiper-banner {max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;
	--swiper-navigation-size:75px;
}
.footer .swiper-banner .swiper-banner-inner {position:relative;padding:0 75px;}
.footer .swiper-banner .swiper-slide {width:auto;}
.footer .swiper-banner .swiper-slide a {display:flex;align-items:center;justify-content:center;height:90px;padding:25px 0;}
.footer .swiper-banner .swiper-slide a img {height:100%;object-fit:contain;}
.footer .swiper-banner .swiper-button-next {right:0;}
.footer .swiper-banner .swiper-button-next:after {content:'';background:url(../../images/front/arrow/arrow-footer-banner-next.png) center center / 10px 16px no-repeat;width:26px;height:28px;border:1px solid var(--graye);border-radius:10px;}
.footer .swiper-banner .swiper-button-prev {left:0;}
.footer .swiper-banner .swiper-button-prev:after {content:'';background:url(../../images/front/arrow/arrow-footer-banner-prev.png) center center / 10px 16px no-repeat;width:26px;height:28px;border:1px solid var(--graye);border-radius:10px;}

.footer .footer-link {background-color:var(--black6);}
.footer .footer-link-inner {display:flex;max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;}
.footer .footer-link-inner .left {flex:0 0 530px;}
.footer .footer-link-inner .right {flex:1;}
.footer .footer-link .terms-link {display:flex;height:80px;}
.footer .footer-link .terms-link li {}
.footer .footer-link .terms-link li {margin-right:50px;}
.footer .footer-link .terms-link li a {display:flex;height:100%;align-items:center;justify-content:center;font-size:16px;color:var(--white);}

.footer .footer-link .family-link {display:flex;background-color:#5b5b5b;justify-content:space-around;}
.footer .footer-link .family-link dl:not(:last-child) {border-right:1px solid var(--black6);}
/* .footer .footer-link .family-link dl:nth-child(1) {width:240px;}
.footer .footer-link .family-link dl:nth-child(2) {width:215px;}
.footer .footer-link .family-link dl:nth-child(3) {width:215px;} */
.footer .footer-link .family-link dl {flex:1}
.footer .footer-link .family-link dl dt {}
.footer .footer-link .family-link dl dt button {display:flex;height:80px;width:100%;align-items:center;justify-content:space-between;font-size:16px;color:var(--white);padding:0 15px 0 20px;}
.footer .footer-link .family-link dl dt button:after {display:block;content:'';width:15px;height:9px;background:url(../../images/front/arrow/arrow-footer-family-link.png) center center / contain no-repeat;}
.footer .footer-link .family-link dl.active dt button:after {transform:rotate(180deg);}
.footer .footer-link .family-link dl dd {position:absolute;left:0;bottom:100%;width:100%;height:220px;overflow:auto;background-color:#5b5b5b;word-wrap:break-word;border-bottom:1px solid var(--black6);}
.footer .footer-link .family-link dl dd h4 {font-size:16px;font-weight:500;color:var(--grayc);margin-left:20px;}
.footer .footer-link .family-link dl dd > ul {padding:15px 0;}
.footer .footer-link .family-link dl dd ul ul {padding-left:10px;}
.footer .footer-link .family-link dl dd a {display:block;font-size:14px;color:var(--white);padding:3px 0 3px 20px;}
.footer .footer-link .family-link dl dd a:hover,
.footer .footer-link .family-link dl dd a:focus {color:var(--yellow);}
.footer .footer-content {}
.footer .footer-content-inner {display:flex;max-width:var(--maxWidth);padding-top:30px;padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;align-items:center;justify-content:space-between;}
.footer .footer-content .address {font-size:15px;font-weight:300;color:var(--black6);}
.footer .footer-content .address a {margin-left:5px;color:var(--black3);text-decoration:underline;font-weight:400;}
.footer .footer-content .copyright {font-size:15px;font-weight:300;color:var(--black6);}
.footer .footer-content .logo-list {display:flex;align-items:center;}
.footer .footer-content .logo-list li {display:flex;}
.footer .footer-content .logo-list li:not(:last-child) {margin-right:20px;}
.footer .footer-content .logo-list li a {display:flex;}
.footer .footer-content .logo-list li img {width:100%;}
.footer .footer-content .logo-list li.logo-wa {width:63px;}
.footer .footer-content .logo-list li.logo-kogl {width:75px;}

.thumb-wa {display:flex;max-width:400px;}
.thumb-wa a {display:flex;align-items:center;justify-content:center;}
.thumb-wa img {width:100%;object-fit:contain;}

.footer-simple {max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;padding-top:100px;align-items:center;justify-content:center;}
.footer-simple ul {display:flex;align-items:center;justify-content:center;flex-wrap:wrap;margin-top:-15px;}
.footer-simple ul li {position:relative;padding:0 20px;margin-top:15px;}
.footer-simple ul li:not(:first-child):after {display:block;content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);width:1px;height:14px;background-color:var(--grayd);}
.footer-simple ul li a {display:block;font-size:14px;color:var(--black6);}
.footer-simple .copyright {font-size:14px;font-weight:300;color:var(--black6);margin-top:20px;text-align:center;}
.footer-simple .copyright span {color:var(--black3);}

/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	#footer {margin-top:100px;padding-bottom:50px;}
	.footer .footer-link-inner {flex-wrap:wrap;padding:0;}
	.footer .footer-link-inner .left {flex:1 1 100%;}
	.footer .footer-link .terms-link {flex:auto;padding-left:var(--pl);padding-right:var(--pr);}
	.footer .footer-link .terms-link li {margin-right:0;flex:1;}
	.footer .footer-content-inner {padding:40px 15px 0;flex-wrap:wrap;}
	.footer .footer-content-inner > * {flex:1 1 100%;}
	.footer .footer-content-inner .left {text-align:center;}
	.footer .footer-content-inner .right {margin-top:35px;}
	.footer .footer-content .logo-list {justify-content:center;}

		.footer-simple {padding-top:40px;}
	
}

/* MOBILE */
@media screen and (max-width:1023px) {
	.footer .footer-link .family-link {flex-wrap:wrap;}
	.footer .footer-link .family-link dl {flex:1 1 100%;}
	.footer .footer-link .family-link dl:not(:last-child) {border-right:0;border-bottom:1px solid var(--black6);}

	.thumb-wa {max-width:none;}
}

/* sub content */
.sub-content .visual {height:160px;background:url(../../images/front/visual/visual-sub.png) center bottom / 1920px 160px no-repeat #c6edf4;}
.sub-content .visual-inner {display:flex;max-width:1280px;padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;height:100%;justify-content:center;}
.sub-content .visual-inner h2 {text-align:center;font-size:30px;font-weight:500;padding-top:25px;}
@media screen and (max-width:1279px) {
	.sub-content .visual {height:100px;background:url(../../images/front/visual/visual_sub_mobile.png) center center / 1280px 100px no-repeat;}
	.sub-content .visual-inner h2 {font-size:20px;padding-top:20px;}
	
}

/* navigation */
.sub-content .container {display:flex;max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;}
.sub-content .navigation {width:240px;position:relative;margin-right:40px;margin-top:-90px;flex:0 0 240px;}
.sub-content .navigation:after {display:block;content:'';position:absolute;left:0;bottom:100%;width:59%;height:69px;background-color:#c6edf4;}
.sub-content .navigation-inner {position:sticky;top:calc(var(--header-height) + 20px);}
.sub-content .navigation .nav-title {display:flex;align-items:center;justify-content:center;border-radius:20px 20px 0 0;background-color:var(--green);height:90px;padding:10px;font-size:24px;font-weight:500;color:var(--white);}
.sub-content .navigation .dep01 {border:1px solid var(--grayd);border-radius:0 0 20px 20px;padding:13px 20px;}
.sub-content .navigation .dep01 > li {}
.sub-content .navigation .dep01 > li:not(:last-child) {border-bottom:1px solid var(--grayd);}
.sub-content .navigation .dep01 > li > a {display:flex;font-size:17px;font-weight:500;color:var(--black3);justify-content:space-between;padding:11px 0;}
.sub-content .navigation .dep01 > li.active:not(.dep02-inner) > a {color:var(--green);}
.sub-content .navigation .dep01 > li.dep02-inner > a:after {content:'';width:12px;height:25.5px;background:url(../../images/front/btn/btn-nav-active.png) center center / 12px no-repeat;margin-left:5px;}
.sub-content .navigation .dep01 > li.dep02-inner.active > a:after {background:url(../../images/front/btn/btn-nav.png) center center / 12px no-repeat;}

.sub-content .navigation .dep02 {position:relative;z-index:1;}
.sub-content .navigation .dep02 > ul {margin: -6px 0 10px 10px;}
.sub-content .navigation .dep02 > ul > li {}
.sub-content .navigation .dep02 > ul > li > a {display:block;font-size:16px;color:var(--black6);padding:3px 0 4px;}
.sub-content .navigation .dep02 > ul > li.active > a {color:var(--green);font-weight:500;}
@media screen and (max-width:1279px) {
	.sub-content .navigation {display:none;}
	
}
.sub-content .navigation ~  .content {max-width:calc(100% - 280px);}
.sub-content .content {max-width:100%;width:100%;}
@media screen and (max-width:1279px) {
	.sub-content .navigation ~  .content, 
	.sub-content .content {max-width:none;}
}
.sub-content .content .breadcrumb-inner {}

/* breadcrumb */
.breadcrumb {margin:25px 0 50px;}
.breadcrumb-inner {display:flex;margin:0 auto;justify-content:space-between;}
.breadcrumb ol {display:flex;}
.breadcrumb ol > li {height:32px;}
.breadcrumb ol > li a {display:flex;font-size:14px;font-weight:300;color:var(--black6);height:100%;align-items:center;justify-content:center;}
.breadcrumb ol > li.breadcrumb-home a:before {content:'';width:15px;background:url(../../images/front/ico/ico-breadcrumbs-home.svg) center center / contain no-repeat;height:100%;}
.breadcrumb ol > li:not(:last-child) a:after {content:'';width:6px;height:10px;background:url(../../images/front/arrow/arrow-breadcrumbs.png) center center / contain no-repeat;margin:0 10px}
.breadcrumb .right > ul {display:flex;}
.breadcrumb .right > ul > li {display:flex;height:32px;align-items:center;justify-content:center;}
.breadcrumb .right > ul > li > button {display:flex;height:100%;align-items:center;justify-content:center;}
.breadcrumb .right > ul > li:not(:first-child):before {content:'';width:1px;height:20px;background-color:#ebebeb;}
.breadcrumb .right > ul > li > button:before {content:'';width:60px;height:100%;}
.breadcrumb .right > ul > li.breadcrumb-share > button:before {background:url(../../images/front/ico/ico-share.svg) center center / 16px 18px no-repeat;}
.breadcrumb .right > ul > li.breadcrumb-linkcopy > button:before {background:url(../../images/front/ico/ico-link-copy.png) center center / 16px 16px no-repeat;}
.breadcrumb .right > ul > li.breadcrumb-print > button:before {background:url(../../images/front/ico/ico-print.svg) center center / 18px 18px no-repeat;}
.breadcrumb .breadcrumb-share .toggleTarget {position:absolute;right:100%;top:0;}
.breadcrumb .breadcrumb-share .toggleTarget ul {display:flex;flex-direction:row-reverse;}
.breadcrumb .breadcrumb-share .toggleTarget button {display:flex;align-items:center;justify-content:center;width:40px;height:32px;}

@media screen and (max-width:1279px) {
	.breadcrumb {margin:10px 0 20px;}
	.breadcrumb .left {display:none;}
	.breadcrumb .right {margin-left:auto;}
	.breadcrumb .right > ul > li {height:20px;}
	.breadcrumb .right > ul > li > button:before {width:40px;}
	.breadcrumb .breadcrumb-share .toggleTarget button {height:20px;}
}

/* spinner */
.spinner-overlay {position:fixed;top:0;z-index:999999;width:100%;height:100%;display:none;background:rgba(0, 0, 0, 0.6);}
.spinner-overlay .cv-spinner {display:flex;align-items:center;justify-content:center;height:100%;}
.spinner-overlay .spinner {width:40px;height:40px;border:4px solid var(--white);border-bottom-color:var(--blue);border-radius:50%;display:inline-block;box-sizing:border-box;animation:rotation 1s linear infinite;}
@keyframes rotation {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
} 


/* error-page */
.error-page {padding-bottom:40px;}
.error-page .thumb {display:flex;align-items:center;justify-content:center;}
.error-page .thumb img {max-width:100%;}
.error-page dl {text-align:center;margin-top:40px;}
.error-page dl dt {font-size:40px;color:var(--black3);}
.error-page dl dd {font-size:18px;font-weight:300;color:var(--black6);margin-top:15px;}

@media screen and (max-width:1279px) {
	.error-page .thumb {padding:0 50px;}
	.error-page dl dt {font-size:26px;}
	.error-page dl dd {font-size:16px;}

}

/* nodata */
.nodata:not(td) {padding:110px 0;}
.nodata:not(td) p {display:flex;align-items:center;justify-content:center;font-size:16px;font-weight:300;color:var(--black9);}
.nodata:not(td) p .icon {margin-right:5px;}
.nodata:not(td) {border-top:2px solid var(--black3);border-bottom:1px solid var(--graye);}
.nodata.bg3:not(td) {border-top:0;}
.table-list .nodata:not(td) {border-top:0;border-bottom: 0;}
.map-search-list .nodata {border-top:0;border-bottom:0;}

@media screen and (max-width:1279px) {
	.nodata:not(td) {padding:40px 0;flex:1 1 100%;margin-bottom:0;}
	.table-list .nodata:not(td) p {display:block;text-align:center;}
	
}

/* map-wrap */
section>.map-wrap {position:fixed;left:0;top:0;}
.map-wrap {position:relative;width:100vw;height:100vh;overflow:hidden;
	--mapWidth:360px;
}
.map-wrap .snb {position:fixed;left:0;top:0;z-index:10;width:var(--mapWidth);height:100vh;background-color:var(--white);box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.3);animation:activeLeftSnb 0.3s var(--cubic) forwards;}
.map-wrap .snb .toggleTrigger {position:absolute;display:flex;align-items:center;justify-content:center;width:24px;height:50px;background-color:var(--white);border-radius:0 3px 3px 0;box-shadow:1px 1px 4px 0px rgba(0, 0, 0, 0.3);left:100%;top:50%;margin-top:-24px;}
.map-wrap .snb .toggleTrigger:before {display:block;content:'';border-top:5px solid transparent;border-left:6px solid var(--green);border-bottom:5px solid transparent;transition:all 0.3s var(--cubic);}
.map-wrap.active .snb .toggleTrigger:before {border-right:6px solid var(--green);border-left:0;}
.map-wrap .snb .map-search {background-color:var(--bg7);padding:20px 20px 15px;}
.map-wrap .snb .map-search .form-input button {padding:0 10px;}
.map-wrap .snb .map-search .form-input >*:not(:last-child) {margin-right:5px;}
.map-wrap .snb .map-search .map-srh {padding:15px 0 0 10px;font-size:14px;color:var(--black6);line-height:1;}
.map-wrap .snb .map-search .map-srh b {color:var(--black);font-weight:400;}
.map-wrap .snb .map-search-list {padding:0 20px;max-height: calc(100% - 104px);overflow:auto;}
.map-wrap .snb .map-search-list li {position:relative;padding:20px 0;border-bottom:1px solid var(--graye);}
.map-wrap .map-det {background-color:var(--white);max-width:300px;}
.map-wrap .map-det .tit {display:block;font-size:18px;font-weight:400;color:var(--black3);margin-top:8px;}
.map-wrap .map-det .after-link:after {display:block;content:'';position:absolute;left:0;top:0;width:100%;height:100%;z-index:0;}
.map-wrap .map-det .tit span {color:#0066ff;margin-right:5px;}
.map-wrap .map-det .loc {font-size:14px;font-weight:300;color:var(--black6);margin-top:8px;}
.map-wrap .map-det .tel {position:relative;display:table;font-size:14px;font-weight:300;color:var(--black6);z-index:1;}
.map-wrap .map-det .link {position:relative;display:table;font-size:14px;font-weight:300;color:var(--blue);z-index:1;}
.map-wrap .map-det .map-pin-close {position:absolute;right:0px;top:0px;width:34px;height:34px;background:url(../../images/front/btn/btn-layer-close.png) center center / 14px 14px no-repeat;z-index:1;}
.map-wrap .snb .pagination {margin-top:30px;}
.map-wrap .map-filter {position:fixed;left:var(--mapWidth);top:0;padding:20px 0 0 20px;z-index:10;animation:activeLeftFilter 0.3s var(--cubic) forwards;}
.map-wrap .map-filter .form-check-list {flex-wrap:nowrap;overflow:visible;}
.map-wrap .map-pin {position:absolute;left:500px;top:500px;background-color:var(--white);padding:10px;border:1px solid var(--black9);border-radius:5px;box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.2);z-index:5;}
.map-wrap .map-pin:after {display:block;content:'';position:absolute;left:50%;top:100%;margin-left:-9px;margin-top:-8px;width:18px;height:18px;transform:rotate(45deg);box-shadow:4px 4px 4px 0px rgba(0, 0, 0, 0.2);z-index:0;background:var(--white);border-right:1px solid var(--black9);border-bottom:1px solid var(--black9);}
.map-wrap .map-pin {}
.map-wrap .map-pin .map-det {width:278px;}

.map-wrap .map-pin-list {width:260px;margin:-10px 0;}
.map-wrap .map-pin-list > li {position:relative;}
.map-wrap .map-pin-list > li:not(:last-child) {border-bottom:1px solid var(--graye);}

.map-wrap .map-pin-list .tbl {padding:10px 0;}
.map-wrap .map-pin-list .tbl dd {padding-left:10px;}
.map-wrap .map-pin-list .map-det {position:absolute;left:calc(100% + 11px);top:-1px;width:300px;padding:10px;border:1px solid var(--black9);border-radius:5px;box-shadow:0px 2px 4px 0px rgba(0, 0, 0, 0.2);}
.map-wrap .map-pin-list .map-pin-close {top:0;right:0;}

.map-wrap:not(.active) .snb {animation:inActiveLeftSnb 0.3s var(--cubic) forwards;}
.map-wrap:not(.active) .map-filter {animation:inActiveLeftFilter 0.3s var(--cubic) forwards;}
@keyframes activeLeftSnb {
	0% {left:calc(-1 * var(--mapWidth));}
	100% {left:0}
} 
@keyframes inActiveLeftSnb {
	0% {left:0}
	100% {left:calc(-1 * var(--mapWidth));}
} 
@keyframes activeLeftFilter {
	0% {left:0;}
	100% {left:var(--mapWidth);}
} 
@keyframes inActiveLeftFilter {
	0% {left:var(--mapWidth);}
	100% {left:0;}
} 
.map-wrap .map-inner {position:fixed;z-index:5;left:0;top:0;width:100%;height:100%;}
@media screen and (max-width:1279px) {
	.map-wrap .snb {position:static;background-color:transparent;animation:none;box-shadow:none;}
	.map-wrap .snb .toggleTrigger {display:none;}
	.map-wrap .snb .map-search {position:fixed;left:0;top:0;width:100%;z-index:10;box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.3);}
	.map-wrap .snb .map-search-list {position:fixed;left:0;bottom:0;max-height:200px;overflow:auto;width:100%;z-index:10;background-color:var(--white);box-shadow:0px 1px 8px 0px rgba(0, 0, 0, 0.3);}
	.map-wrap .snb .pagination {display:none;}
	.map-wrap .map-filter {position:fixed;left:0;top:104px;animation:none;width:100%;overflow-x:auto;}
	.map-wrap .map-filter .form-check-list > *:last-child b {margin-right:20px;}
	.map-wrap .map-pin {display:none;}
}

/* search-page-result */
.search-page-result {}
.search-page-result ul {margin-top:32px;padding:0 20px 50px;border-bottom:1px solid var(--grayd);}
.search-page-result ul li:not(:last-child) {margin-bottom:32px;}
.search-page-result ul li a {display:block;}
.search-page-result .title {display:block;font-size:18px;font-weight:400;color:var(--black3);margin-bottom:6px;}
.search-page-result .text {display:block;font-size:16px;font-weight:400;color:var(--black3);margin-bottom:12px;}
.search-page-result .info {display: block;flex-wrap:wrap;font-size:14px;font-weight:300;color:var(--black6);}
.search-page-result .info > * {position:relative;padding:0 10px 0 0;}
.search-page-result .info > *:not(:first-child) {padding:0 10px;}
.search-page-result .info > *:not(:first-child):after {display:block;content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:var(--grayc);}
.search-page-result .info .loc {}
.search-page-result .info .date {}
.search-page-result i {color:var(--blue);}
.search-page-result .table-caption {padding:0 20px;}
.search-page-result ul {}

/* search-filter-suggest search suggest */
.search-filter-suggest .search-suggest-position {position:relative;}
.search-filter-suggest .search-suggest {opacity:0;position:absolute;left:-9999px;width: 623px;background-color:var(--white);border:1px solid #ccc;border-radius: 5px;box-shadow:0px 3px 3px 0px rgba(0, 0, 0, 0.1);z-index:-1;min-height: 402px;}
.search-filter-suggest .search-suggest .search-suggest-list {display:flex;font-size:15px;font-weight:400;color:var(--black3);line-height:25px;}
.search-filter-suggest .search-suggest .search-suggest-list > * {flex:1;width:50%;}
.search-filter-suggest .search-suggest .suggest-title {display:block;font-size:16px;color:#237db1;font-weight:400;margin-bottom:5px;}

.search-filter-suggest .search-suggest .recent-keyword {padding: 30px 30px 25px;}
.search-filter-suggest .search-suggest .recent-keyword:not(:last-child) {border-right:1px solid var(--graye);}
.search-filter-suggest .search-suggest .recent-keyword li {display:flex;}
.search-filter-suggest .search-suggest .recent-keyword li .keyword {flex:0 1 100%;max-width: calc(100% - 17px);}
.search-filter-suggest .search-suggest .recent-keyword li .keyword span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;padding-right: 5px;}
.search-filter-suggest .search-suggest .recent-keyword li .recent-keyword-remove {display:flex;align-items:center;justify-content:center;}
.search-filter-suggest .search-suggest .recent-keyword li .recent-keyword-remove:before {content:'';width:17px;height:17px;background:url(../../images/front/btn/btn-circle-close.png) center center / contain no-repeat;}

.search-filter-suggest .search-suggest .popular-keyword {padding-left:15px;border-left:1px solid var(--graye);}
.search-filter-suggest .search-suggest .popular-keyword .list {counter-reset:li;}
.search-filter-suggest .search-suggest .popular-keyword .list li {display:flex;}
.search-filter-suggest .search-suggest .popular-keyword .list li:before {counter-increment:li;content:counter(li, decimal-leading-zero);margin-right:10px;width:15px;}
.search-filter-suggest .search-suggest .popular-keyword .list li .keyword {flex:0 1 100%;max-width:calc(100% - 15px);}
.search-filter-suggest .search-suggest .popular-keyword .list li .keyword span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}

.search-filter-suggest .search-suggest .tab-content .tab-list {display:flex;flex-wrap:wrap;height:25px;}
.search-filter-suggest .search-suggest .tab-content .tab-list li {flex:1;margin-right:-1px;}
.search-filter-suggest .search-suggest .tab-content .tab-list li button {position:relative;display:flex;align-items:center;justify-content:center;width:100%;font-size:13px;border:1px solid #ccc;line-height:18px;}
.search-filter-suggest .search-suggest .tab-content .tab-list li:first-child button {border-radius:3px 0 0 3px;}
.search-filter-suggest .search-suggest .tab-content .tab-list li:last-child button {border-radius:0 3px 3px 0;}
.search-filter-suggest .search-suggest .tab-content .tab-list li.active button {color:#15875f;border-color:#15875f;z-index:1;}

.search-filter-suggest .search-suggest .search-suggest-control {display:flex;align-items:center;justify-content:space-between;height:40px;background-color:#f3f4f7;border-radius: 0 0 5px 5px;font-size:13px;color:var(--black6);padding:0 30px;}
.search-filter-suggest .search-suggest .search-suggest-control .right {text-align:right;}

.search-filter-suggest.suggest-active .search-suggest {opacity:1;z-index:1;left: 0px;top: calc(100% + 5px);}
@media screen and (max-width:1279px) {
	.search-filter-suggest .search-suggest-position {position:static;}
	.search-filter-suggest .search-suggest {min-height:auto;}
	.search-filter-suggest > .form-input {position:relative;} 
	.search-filter-suggest.suggest-active .search-suggest {top:50px;width:100%;}
	.search-filter-suggest .search-suggest .search-suggest-list {display:block;margin:15px;}
	.search-filter-suggest .search-suggest .search-suggest-list > * {width:100%;border-right:0;padding:15px 0;}
	.search-filter-suggest .search-suggest .recent-keyword:not(:last-child) {border-right:0;border-bottom:1px solid var(--graye);padding:0 0 15px;}
	.search-filter-suggest .search-suggest .recent-keyword:last-child {padding-bottom:0;}
	.search-filter-suggest .search-suggest .search-suggest-control {padding:0 15px;}
}