@charset "utf-8";

/* skip */
#skip, #skip ul, #skipSitemap {height:0;width:100%;z-index:100000;}
#skip a, #skipSitemap a {position:absolute;top:-9999px;left:0;z-index:10000;display:block;width:100%;height:40px;background-color:#000;line-height:40px;opacity:1;color:var(--white);text-align:center;}
#skip a:focus, #skip a:hover, #skip a:active, #skip a:visited, #skipSitemap a:focus, #skipSitemap a:hover, #skipSitemap a:active, #skipSitemap a:visited {top:0;}
html {
	--pl:40px;
	--pr:40px;
	--maxWidth:1280px;
}
html.TABLET,
html.MOBILE {
	--pl:15px;
	--pr:15px;
}

#wrap {
	--header-height:147px;
}
.header-medium #wrap {
	--header-height:128px;
}

html.MOBILE #wrap {
	--header-height:87px;
}

#wrap {margin:0 auto;padding-top:var(--header-height);transition:padding-top 0.3s var(--cubic);}

/* header */
.header {position:fixed;top:0;width:100%;left:0;z-index:1900;transition:height 0.3s var(--cubic);}
.header-inner {background:#fff;padding-top:25px;transition:padding-top 0.3s var(--cubic);}
.header .header-top {display:flex;align-items:center;justify-content:space-between;max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;}
.header .header-top > * {flex:1 1 100%;}
.header .header-top > .center {flex:0;}
.header .header-top > .right {display: flex;justify-content: flex-end;}

/* header logo */
.header .logo {height:100%;}
.header .logo a {display:flex;align-items:center;justify-content:center;width:153px;height:100%;}
.header .logo a img {width:100%;object-fit:contain;}

/* header search */
.header .header-search {position:relative;border:1px solid transparent;border-bottom:1px solid transparent;border-radius:25px 25px 0 0;z-index:1;}
.header-search-innner {position:relative;display:flex;align-items:center;justify-content:center;}
.header-search .search-input {width:400px;height:50px;border-radius:25px;font-size:16px;padding:0 100px 0 30px;background-color:#f3f4f7;box-shadow:inset 0px 0px 3px 0px rgba(0, 0, 0, 0.08);transition:background-color 0.3s var(--cubic);border:1px solid transparent;}
.header-search .search-input:focus {background-color:var(--white);border:1px solid var(--graye);}
.header-search .search-input::placeholder {color:var(--black6);font-weight:400;}
.header-search .header-search-btn {position:absolute;right:0;top:0;display:flex;}
.header-search .btn-suggest {display:flex;align-items:center;justify-content:center;width:50px;height:50px;}
.header-search .btn-suggest:before {content:'';background:url(../../images/front/btn/btn-suggest.png) center center / contain no-repeat;width:16px;height:10px;}
.header-search.active .btn-suggest:before {transform:rotate(180deg);}
.header-search .btn-search {display:flex;align-items:center;justify-content:center;width:50px;height:50px;background-color:#2d9e76;border-radius:50%;}
.header-search .btn-search:before {content:'';background:url(../../images/front/btn/btn-search.png) center center / contain no-repeat;width:23px;height:23px;}

/* header search autocomplete open & input typing */
.header-search.typing .search-input {background-color:var(--white);color:var(--black);border:1px solid var(--graye);box-shadow:none;}
.header-search.autocomplete-open,
.header-search.active {border-color:#ccc;}
.header-search.focusing:not(.autocomplete-open,.active) {border:1px solid #ccc;border-radius:25px;}

/* header search suggest */
.header .search-suggest {display:none;position:absolute;right:-1px;top:100%;width:402px;background-color:var(--white);border:1px solid #ccc;border-top:0;border-radius:0 0 25px 25px;box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.1);}
.header .search-suggest .search-suggest-list {display:flex;padding:20px 30px;font-size:15px;font-weight:400;color:var(--black3);line-height:25px;}
.header .search-suggest .search-suggest-list > * {flex:1;width:50%;}
.header .search-suggest .suggest-title {display:block;font-size:16px;color:#237db1;font-weight:400;margin-bottom:5px;}

.header-search .search-suggest .recent-keyword {padding-right:15px;}
.header-search .search-suggest .recent-keyword li {display:flex;}
.header-search .search-suggest .recent-keyword li .keyword {flex:0 1 100%;max-width:calc(100% - 17px);}
.header-search .search-suggest .recent-keyword li .keyword span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}
.header-search .search-suggest .recent-keyword li .recent-keyword-remove {display:flex;align-items:center;justify-content:center;}
.header-search .search-suggest .recent-keyword li .recent-keyword-remove:before {content:'';width:17px;height:17px;background:url(../../images/front/btn/btn-circle-close.png) center center / contain no-repeat;}

.header-search .search-suggest .popular-keyword {padding-left:15px;border-left:1px solid var(--graye);}
.header-search .search-suggest .popular-keyword .list {counter-reset:li;}
.header-search .search-suggest .popular-keyword .list li {display:flex;}
.header-search .search-suggest .popular-keyword .list li:before {counter-increment:li;content:counter(li, decimal-leading-zero);margin-right:10px;width:15px;}
.header-search .search-suggest .popular-keyword .list li .keyword {flex:0 1 100%;max-width:calc(100% - 15px);}
.header-search .search-suggest .popular-keyword .list li .keyword span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}

.header-search .search-suggest .tab-content .tab-list {display:flex;flex-wrap:wrap;height:25px;}
.header-search .search-suggest .tab-content .tab-list li {flex:1;margin-right:-1px;}
.header-search .search-suggest .tab-content .tab-list li button {position:relative;display:flex;align-items:center;justify-content:center;width:100%;font-size:13px;border:1px solid #ccc;line-height:18px;}
.header-search .search-suggest .tab-content .tab-list li:first-child button {border-radius:3px 0 0 3px;}
.header-search .search-suggest .tab-content .tab-list li:last-child button {border-radius:0 3px 3px 0;}
.header-search .search-suggest .tab-content .tab-list li.active button {color:#15875f;border-color:#15875f;z-index:1;}

.header-search .search-suggest .search-suggest-control {display:flex;align-items:center;justify-content:space-between;height:40px;background-color:#f3f4f7;border-radius:0 0 25px 25px;font-size:13px;color:var(--black6);padding:0 30px;}

.header-search.active .search-suggest {display:block;}

/* shortcut-menu */
.shortcut-menu {}
.shortcut-menu > ul {display:flex;}
.shortcut-menu > ul > li {position:relative;}
.shortcut-menu > ul > li:not(:last-child) {margin-right:20px;}
.shortcut-menu > ul > li > a,
.shortcut-menu > ul > li > button {display:flex;align-items:center;font-size:14px;color:var(--black6);}
.shortcut-menu > ul > li > a:before,
.shortcut-menu > ul > li > button:before {content:'';margin-right:5px;}
.shortcut-menu > ul > li.ico-login a:before {width:14px;height:18px;background:url(../../images/front/ico/ico-lockon.svg) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-member a:before {width:15px;height:18px;background:url(../../images/front/ico/ico-member.png) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-language > button:before {width:20px;height:20px;background:url(../../images/front/ico/ico-language.svg) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-alarm > button:before {width:15px;height:20px;background:url(../../images/front/ico/ico-alarm.svg) center center / contain no-repeat;}

/* language popup */
.shortcut-menu .ico-language .language-list {position:absolute;left:-10px;top:calc(100% + 10px);border:1px solid #dbdbdb;border-radius:10px;box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.1);}
.shortcut-menu .ico-language .language-list li {background-color:#f3f4f7;}
.shortcut-menu .ico-language .language-list li.active {background-color:var(--white);}
.shortcut-menu .ico-language .language-list li:first-child {border-radius:10px 10px 0 0;}
.shortcut-menu .ico-language .language-list li:last-child {border-radius:0 0 10px 10px;}
.shortcut-menu .ico-language .language-list li a {display:block;font-size:14px;line-height:30px;color:var(--black6);padding:0 20px;}
.shortcut-menu .ico-language .language-list li.active a {color:var(--black3);}
.shortcut-menu .ico-alarm > button strong {margin-left:5px;background-color:#ff3838;font-size:14px;line-height:18px;color:var(--white);font-weight:400;border-radius:9px;padding:0 7px;}

/* alarm popup */
.shortcut-menu .ico-alarm .alarm-layer {padding-bottom:0;height:460px;}
.shortcut-menu .ico-alarm .alarm-layer li {display:flex;}
.shortcut-menu .ico-alarm .alarm-layer li a {flex:1 1 100%;padding:10px 0 10px 8px;}
.shortcut-menu .ico-alarm .alarm-layer li a strong {display:block;font-size:16px;color:var(--black3);}
.shortcut-menu .ico-alarm .alarm-layer li a span {display:block;font-size:14px;color:var(--black6);}
.shortcut-menu .ico-alarm .alarm-layer li button {display:flex;align-items:center;justify-content:center;width:33px;}
.shortcut-menu .ico-alarm .alarm-layer li button:before {content:'';width:17px;height:17px;background:url(../../images/front/btn/btn-circle-close.png) center center / contain no-repeat;}

.shortcut-menu .ico-alarm .alarm-layer li.view-all {border-bottom:0;}
.shortcut-menu .ico-alarm .alarm-layer li.view-all a {display:flex;align-items:center;justify-content:center;height:60px;padding:0;}
.shortcut-menu .ico-alarm .alarm-layer li.view-all a span {font-size:14px;color:var(--blue);text-decoration:underline;}

.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata {display:flex;align-items:center;justify-content:center;height:390px;text-align:center;}
.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata img {display:flex;margin:0 auto;}
.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata p {font-size:16px;color:var(--black6);margin-top:20px;}


/* gnb */
/* PC & TABLET */
@media screen and (min-width:1024px) {
	.header .header-bottom {position:relative;border-bottom:1px solid var(--grayd);}
	.header .header-bottom-inner {display:flex;max-width:var(--maxWidth);margin:0 auto;padding-top:12px;padding-left:var(--pl);padding-right:var(--pr);transition:padding-top 0.3s var(--cubic);}
	.header .gnb {flex:0 0 calc(100% - 58px);}
	.header .gnb .dep01 {display:flex;justify-content:space-around;}
	.header .gnb .dep01 > li {flex:auto;}
	.header .gnb .dep01 > li > a {position:relative;display:table;font-size:18px;font-weight:500;line-height:58px;transition:line-height 0.3s var(--cubic);}
	.header .gnb .dep01 > li > a:after {display:block;content:'';position:absolute;left:50%;bottom:0;transform:translateX(-50%);width:0;height:3px;background-color:var(--sgreen);transition:width 0.15s var(--cubic);}
	.header .gnb .dep01 > li.active > a,
	.header .gnb .dep01 > li.current-page > a {color:#0e836c;}
	.header .gnb .dep01 > li.active > a:after,
	.header .gnb .dep01 > li.current-page > a:after {width:100%;}
	.header .gnb .dep02 {position:absolute;left:0;top:100%;width:100%;border-bottom:8px solid var(--sgreen);border-top:1px solid var(--grayd);background-color:var(--white);box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.05);z-index:-1;}
	.header .gnb .dep01 > li.active .dep02 {z-index:0;}
	.header .gnb .dep02-inner {position:relative;max-width:var(--maxWidth);margin:0 auto;padding: 30px 40px 40px;display:flex;justify-content:space-between;max-height:calc(100vh - var(--header-height) - 8px);overflow:auto;}
	.header .gnb .dep02-inner .banner-dep02 {width:327px;background-color:var(--bg3);border-radius:10px;}
	.header .gnb .dep02-inner .banner-dep02 ul {display:flex;flex-direction:column;padding:0 20px;height:100%;}
	.header .gnb .dep02-inner .banner-dep02 ul li {flex:1;display:flex;}
	.header .gnb .dep02-inner .banner-dep02 ul li:not(:last-child) {border-bottom:1px solid var(--grayd);}
	.header .gnb .dep02-inner .banner-dep02 ul li a {display:flex;align-items:center;width:100%;}
	.header .gnb .dep02-inner .banner-dep02 ul li a .thumb {display:flex;align-items:center;justify-content:center;flex:0 0 120px;min-height:100px;}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc {}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc strong {display:block;font-size:16px;font-weight:500;color:var(--blue);}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc span {margin-top:5px;}

	.header .gnb .dep02-inner .banner-dep02 ul li:only-child a {flex-direction:column;justify-content:center;}
	.header .gnb .dep02-inner .banner-dep02 ul li:only-child a .thumb {min-height:0;flex:0 0 auto;margin-right:0;}
	.header .gnb .dep02-inner .banner-dep02 ul li:only-child a .desc {margin-top:15px;text-align:center;}

	.header .gnb .dep02-inner > ul > li {display:flex;}
	.header .gnb .dep02-inner > ul > li > a {position:relative;display:block;flex:0 0 190px;font-size:16px;font-weight:500;padding: 15px 10px 15px 0;margin-right:50px;}
	.header .gnb .dep02-inner > ul > li > a:before {display:block;content:'';position:absolute;right:0;top:0;height:100%;background:url(../../images/front/line/line-dot-gnb.png) center center / 1px 4px repeat;width:1px;}
	.header .gnb .dep03 {position:relative;display:flex;flex-wrap:wrap;overflow:hidden;height:100%;}
	.header .gnb .dep03:before {position:absolute;content:'';top:20px;left:0;width:6px;height:10px;-webkit-mask:url(../../images/front/arrow/arrow-gnb-dep03.png) center center / 6px 10px no-repeat;mask:url(../../images/front/arrow/arrow-gnb-dep03.png) center center / 6px 10px no-repeat;background-color:var(--black9);}
	.header .gnb .dep02-inner ul > li:hover,
	.header .gnb .dep02-inner ul > li:focus {color:var(--green);}
	.header .gnb .dep02-inner ul > li:hover .dep03:before,
	.header .gnb .dep02-inner ul > li:focus .dep03:before {background-color:var(--green);}
	.header .gnb .dep03 > li {position:relative;}
	.header .gnb .dep03 > li > a {display:block;font-size:16px;color:var(--black6);line-height:50px;padding:0 20px;}
	.header .gnb .dep03 > li > a:hover,
	.header .gnb .dep03 > li > a:focus {color:var(--green);}
	.header .gnb .dep03 > li > a:before {display:block;content:'';position:absolute;left:-1px;top:50%;transform:translateY(-50%);width:1px;height:14px;background-color:var(--graye);}
	.header .gnb .dep01 > li.active .dep02 {display:block;}
	.header .sitemap {flex:0 0 58px;}
	.header .sitemap a {display:flex;align-items:center;justify-content:flex-end;background:url(../../images/front/btn/btn-sitemap.png) right center / 18px 16px no-repeat;width:100%;height:100%;}

	/* header-medium */
	.header-medium .header .header-bottom-inner {padding-top:0;}
	.header-medium .header .gnb .dep01 > li > a {line-height:55px;}
}

/* header-medium */
.header-medium .header-inner {padding-top:20px;}
@media screen and (max-width:1023px) {
}

/* MOBILE */
@media screen and (max-width:1023px) {
	.header .header-bottom {display:none;}
	.header .header-top > .right {display:none;}
}

/* header-simple */
.header-simple {display:flex;align-items:center;justify-content:center;height:var(--header-height);background-color:var(--white);}
.header-simple a {display:flex;}
.header-simple a img {height:100%;}
@media screen and (max-width:1023px) {
	.header-simple a {height:40px;}
}

/* aside */
.aside .chatbot button,
.aside .chatbot a {display:flex;justify-content:center;margin:0 auto;width:80px;box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.1);border-radius:50%;}
.aside .chatbot button img,
.aside .chatbot a img {width:100%;}
.aside .sns-share ul li button,
.aside .sns-share ul li a {display:flex;width:40px;}
.aside .sns-share ul li button img,
.aside .sns-share ul li a img {width:100%;}

/* PC */
@media screen and (min-width:1280px) {
	footer .aside {display:none;}
	.aside {position:fixed;left:50%;transform:translateX(-50%);top:50%;margin-top:-240px;max-width:1920px;display:flex;justify-content:flex-end;height:0;width:100%;z-index:1998}
	.aside-inner {margin-left:auto;}
	.aside .chatbot {margin-bottom:65px;}
	.aside .sns-share {background-color:var(--white);border:1px solid var(--graye);display:table;margin:0 auto;padding:5px;border-radius:10px;box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.1);}
	.aside .sns-share ul li:not(:last-child) {margin-bottom:5px;}
	.aside .scroll-top {margin-top:7px;border-top:1px solid var(--graye);}
	.aside .scroll-top a {display:flex;padding:7px 0 2px;flex-direction:column;text-align:center;font-size:14px;font-weight:500;color:var(--black6);}
	.aside .scroll-top a:before {content:'';width:13px;height:7px;background:url(../../images/front/arrow/arrow-aside-top.png) center center / contain no-repeat;margin:0 auto 2px;}
}
/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	.aside {display:none;}
	.footer .aside {display:block;margin-top:40px;}
	.aside .chatbot {position:fixed;right:10px;bottom:10px;}
	.aside .sns-share {}
	.aside .sns-share ul {display:flex;align-items:center;justify-content:center;}
	.aside .sns-share ul li:not(:last-child) {margin-right:5px;}
	.aside .sns-share .scroll-top {display:none;}
}





/* footer */
#footer {margin-top:115px;padding-bottom:120px;background-color:var(--white);}

.footer {border-top:1px solid #ebebeb;}
.footer .swiper-banner {max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;
	--swiper-navigation-size:75px;
}
.footer .swiper-banner .swiper-banner-inner {position:relative;padding:0 75px;}
.footer .swiper-banner .swiper-slide {width:auto;}
.footer .swiper-banner .swiper-slide a {display:flex;align-items:center;justify-content:center;height:90px;padding:25px 0;}
.footer .swiper-banner .swiper-slide a img {height:100%;object-fit:contain;}
.footer .swiper-banner .swiper-button-next {right:0;}
.footer .swiper-banner .swiper-button-next:after {content:'';background:url(../../images/front/arrow/arrow-footer-banner-next.png) center center / 10px 16px no-repeat;width:26px;height:28px;border:1px solid var(--graye);border-radius:10px;}
.footer .swiper-banner .swiper-button-prev {left:0;}
.footer .swiper-banner .swiper-button-prev:after {content:'';background:url(../../images/front/arrow/arrow-footer-banner-prev.png) center center / 10px 16px no-repeat;width:26px;height:28px;border:1px solid var(--graye);border-radius:10px;}

.footer .footer-link {background-color:var(--black6);}
.footer .footer-link-inner {display:flex;max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;}
.footer .footer-link-inner .left {flex:0 0 530px;}
.footer .footer-link-inner .right {flex:1;}
.footer .footer-link .terms-link {display:flex;height:80px;}
.footer .footer-link .terms-link li {}
.footer .footer-link .terms-link li {margin-right:50px;}
.footer .footer-link .terms-link li a {display:flex;height:100%;align-items:center;justify-content:center;font-size:16px;color:var(--white);}

.footer .footer-link .family-link {display:flex;background-color:#5b5b5b;justify-content:space-around;}
.footer .footer-link .family-link dl:not(:last-child) {border-right:1px solid var(--black6);}
/* .footer .footer-link .family-link dl:nth-child(1) {width:240px;}
.footer .footer-link .family-link dl:nth-child(2) {width:215px;}
.footer .footer-link .family-link dl:nth-child(3) {width:215px;} */
.footer .footer-link .family-link dl {flex:1}
.footer .footer-link .family-link dl dt {}
.footer .footer-link .family-link dl dt button {display:flex;height:80px;width:100%;align-items:center;justify-content:space-between;font-size:16px;color:var(--white);padding:0 15px 0 20px;}
.footer .footer-link .family-link dl dt button:after {display:block;content:'';width:15px;height:9px;background:url(../../images/front/arrow/arrow-footer-family-link.png) center center / contain no-repeat;}
.footer .footer-link .family-link dl.active dt button:after {transform:rotate(180deg);}
.footer .footer-link .family-link dl dd {position:absolute;left:0;bottom:100%;width:100%;height:220px;overflow:auto;background-color:#5b5b5b;word-wrap:break-word;border-bottom:1px solid var(--black6);}
.footer .footer-link .family-link dl dd h4 {font-size: 16px;font-weight:500;color:var(--grayc);margin-left:20px;}
.footer .footer-link .family-link dl dd > ul {padding:15px 0;}
.footer .footer-link .family-link dl dd ul ul {padding-left:10px;}
.footer .footer-link .family-link dl dd a {display:block;font-size: 14px;color:var(--white);padding:3px 0 3px 20px;}
.footer .footer-link .family-link dl dd a:hover,
.footer .footer-link .family-link dl dd a:focus {color:var(--yellow);}
.footer .footer-content {}
.footer .footer-content-inner {display:flex;max-width:var(--maxWidth);padding-top:30px;padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;align-items:center;justify-content:space-between;}
.footer .footer-content .address {font-size:15px;font-weight:300;color:var(--black6);}
.footer .footer-content .address a {margin-left:5px;color:var(--black3);text-decoration:underline;font-weight:400;}
.footer .footer-content .copyright {font-size:15px;font-weight:300;color:var(--black6);}
.footer .footer-content .logo-list {display:flex;align-items:center;}
.footer .footer-content .logo-list li {display:flex;}
.footer .footer-content .logo-list li:not(:last-child) {margin-right:20px;}
.footer .footer-content .logo-list li a {display:flex;}
.footer .footer-content .logo-list li img {width:100%;}
.footer .footer-content .logo-list li.logo-wa {width:63px;}
.footer .footer-content .logo-list li.logo-kogl {width:75px;}

.thumb-wa {display:flex;max-width:400px;}
.thumb-wa a {display:flex;align-items:center;justify-content:center;}
.thumb-wa img {width:100%;object-fit:contain;}

.footer-simple {max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;padding-top:100px;align-items:center;justify-content:center;}
.footer-simple ul {display:flex;align-items:center;justify-content:center;flex-wrap:wrap;margin-top:-15px;}
.footer-simple ul li {position:relative;padding:0 20px;margin-top:15px;}
.footer-simple ul li:not(:first-child):after {display:block;content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);width:1px;height:14px;background-color:var(--grayd);}
.footer-simple ul li a {display:block;font-size:14px;color:var(--black6);}
.footer-simple .copyright {font-size:14px;font-weight:300;color:var(--black6);margin-top:20px;text-align:center;}
.footer-simple .copyright span {color:var(--black3);}

/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	#footer {margin-top:100px;padding-bottom:50px;}
	.footer .footer-link-inner {flex-wrap:wrap;padding:0;}
	.footer .footer-link-inner .left {flex:1 1 100%;}
	.footer .footer-link .terms-link {flex:auto;padding-left:var(--pl);padding-right:var(--pr);}
	.footer .footer-link .terms-link li {margin-right:0;flex:1;}
	.footer .footer-content-inner {padding:40px 15px 0;flex-wrap:wrap;}
	.footer .footer-content-inner > * {flex:1 1 100%;}
	.footer .footer-content-inner .left {text-align:center;}
	.footer .footer-content-inner .right {margin-top:35px;}
	.footer .footer-content .logo-list {justify-content:center;}

		.footer-simple {padding-top:40px;}
	
}

/* MOBILE */
@media screen and (max-width:1023px) {
	.footer .footer-link .family-link {flex-wrap:wrap;}
	.footer .footer-link .family-link dl {flex:1 1 100%;}
	.footer .footer-link .family-link dl:not(:last-child) {border-right:0;border-bottom:1px solid var(--black6);}

	.thumb-wa {max-width:none;}
}

/* sub content */
.sub-content .visual {height: 160px;background: url(../../images/front/visual/visual-sub.png) center bottom / 1920px 160px no-repeat #c6edf4;}
.sub-content .visual-inner {display:flex;max-width:1280px;padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;height:100%;justify-content:center;}
.sub-content .visual-inner h2 {text-align:center;font-size:30px;font-weight:500;padding-top:25px;}
@media screen and (max-width:1279px) {
	.sub-content .visual {height:100px;background:url(../../images/front/visual/visual_sub_mobile.png) center center / 1280px 100px no-repeat;}
	.sub-content .visual-inner h2 {font-size:20px;padding-top:20px;}
	
}

/* navigation */
.sub-content .container {display:flex;max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;}
.sub-content .navigation {width:240px;position:relative;margin-right:40px;margin-top:-90px;flex:0 0 240px;}
.sub-content .navigation:after {display:block;content:'';position:absolute;left:0;bottom:100%;width:59%;height:69px;background-color:#c6edf4;}
.sub-content .navigation-inner {position:sticky;top:calc(var(--header-height) + 20px);}
.sub-content .navigation .nav-title {display:flex;align-items:center;justify-content:center;border-radius:20px 20px 0 0;background-color:var(--green);height:90px;padding:10px;font-size:24px;font-weight:500;color:var(--white);}
.sub-content .navigation .dep01 {border:1px solid var(--grayd);border-radius:0 0 20px 20px;padding:13px 20px;}
.sub-content .navigation .dep01 > li {}
.sub-content .navigation .dep01 > li:not(:last-child) {border-bottom:1px solid var(--grayd);}
.sub-content .navigation .dep01 > li > a {display:flex;font-size:17px;font-weight:500;color:var(--black3);justify-content:space-between;padding:11px 0;}
.sub-content .navigation .dep01 > li.active:not(.dep02-inner) > a {color:var(--green);}
.sub-content .navigation .dep01 > li.dep02-inner > a:after {content:'';width:12px;height:25.5px;background:url(../../images/front/btn/btn-nav-active.png) center center / 12px no-repeat;margin-left:5px;}
.sub-content .navigation .dep01 > li.dep02-inner.active > a:after {background:url(../../images/front/btn/btn-nav.png) center center / 12px no-repeat;}

.sub-content .navigation .dep02 {position:relative;z-index:1;}
.sub-content .navigation .dep02 > ul {margin:-8px 0 10px 10px;}
.sub-content .navigation .dep02 > ul > li {}
.sub-content .navigation .dep02 > ul > li > a {display:block;font-size:16px;color:var(--black6);padding:3px 0 4px;}
.sub-content .navigation .dep02 > ul > li.active > a {color:var(--green);font-weight:500;}
@media screen and (max-width:1279px) {
	.sub-content .navigation {display:none;}
	
}
.sub-content .navigation ~  .content {max-width:calc(100% - 280px);}
.sub-content .content {max-width:100%;width: 100%;}
@media screen and (max-width:1279px) {
	.sub-content .navigation ~  .content, 
	.sub-content .content {max-width:none;}
}
.sub-content .content .breadcrumb-inner {}

/* breadcrumb */
.breadcrumb {margin:25px 0 45px;}
.breadcrumb-inner {display:flex;margin:0 auto;justify-content:space-between;}
.breadcrumb ol {display:flex;}
.breadcrumb ol > li {height:32px;}
.breadcrumb ol > li a {display:flex;font-size:14px;font-weight:300;color:var(--black6);height:100%;align-items:center;justify-content:center;}
.breadcrumb ol > li.breadcrumb-home a:before {content:'';width:15px;background:url(../../images/front/ico/ico-breadcrumbs-home.svg) center center / contain no-repeat;height:100%;}
.breadcrumb ol > li:not(:last-child) a:after {content:'';width:6px;height:10px;background:url(../../images/front/arrow/arrow-breadcrumbs.png) center center / contain no-repeat;margin:0 10px}
.breadcrumb .right > ul {display:flex;}
.breadcrumb .right > ul > li {display:flex;height:32px;align-items:center;justify-content:center;}
.breadcrumb .right > ul > li > button {display:flex;height:100%;align-items:center;justify-content:center;}
.breadcrumb .right > ul > li:not(:first-child):before {content:'';width:1px;height:20px;background-color:#ebebeb;}
.breadcrumb .right > ul > li > button:before {content:'';width:60px;height:100%;}
.breadcrumb .right > ul > li.breadcrumb-share > button:before {background:url(../../images/front/ico/ico-share.svg) center center / 16px 18px no-repeat;}
.breadcrumb .right > ul > li.breadcrumb-linkcopy > button:before {background:url(../../images/front/ico/ico-link-copy.png) center center / 16px 16px no-repeat;}
.breadcrumb .right > ul > li.breadcrumb-print > button:before {background:url(../../images/front/ico/ico-print.svg) center center / 18px 18px no-repeat;}
.breadcrumb .breadcrumb-share .toggleTarget {position:absolute;right:100%;top:0;}
.breadcrumb .breadcrumb-share .toggleTarget ul {display:flex;flex-direction:row-reverse;}
.breadcrumb .breadcrumb-share .toggleTarget button {display:flex;align-items:center;justify-content:center;width:40px;height:32px;}

@media screen and (max-width:1279px) {
	.breadcrumb {margin:10px 0 20px;}
	.breadcrumb .left {display:none;}
	.breadcrumb .right {margin-left:auto;}
	.breadcrumb .right > ul > li {height:20px;}
	.breadcrumb .right > ul > li > button:before {width:40px;}
	.breadcrumb .breadcrumb-share .toggleTarget button {height:20px;}
}

/* spinner */
.spinner-overlay {position:fixed;top:0;z-index:999999;width:100%;height:100%;display:none;background:rgba(0, 0, 0, 0.6);}
.spinner-overlay .cv-spinner {display:flex;align-items:center;justify-content:center;height:100%;}
.spinner-overlay .spinner {width:40px;height:40px;border:4px solid var(--white);border-bottom-color:var(--blue);border-radius:50%;display:inline-block;box-sizing:border-box;animation:rotation 1s linear infinite;}
@keyframes rotation {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
} 


/* error-page */
.error-page {padding-bottom:40px;}
.error-page .thumb {display:flex;align-items:center;justify-content:center;}
.error-page .thumb img {max-width:100%;}
.error-page dl {text-align:center;margin-top:40px;}
.error-page dl dt {font-size:40px;color:var(--black3);}
.error-page dl dd {font-size:18px;font-weight:300;color:var(--black6);margin-top:15px;}

@media screen and (max-width:1279px) {
	.error-page .thumb {padding:0 50px;}
	.error-page dl dt {font-size:26px;}
	.error-page dl dd {font-size:16px;}

}

/* nodata */
.nodata:not(td) {padding:110px 0;}
.nodata:not(td) p {display:flex;align-items:center;justify-content:center;font-size:16px;font-weight:300;color:var(--black9);}
.nodata:not(td) p .icon {margin-right:5px;}
.nodata:not(td) {border-top:2px solid var(--black3);border-bottom:1px solid var(--graye);}
.nodata.bg3:not(td) {border-top:0;}

@media screen and (max-width:1279px) {
	.nodata:not(td) {padding:40px 0;flex:1 1 100%;margin-bottom:0;}
}