@charset "utf-8";

/* skip */
#skip, #skip ul, #skipSitemap {height:0;width:100%;z-index:100000;}
#skip a, #skipSitemap a {position:absolute;top:-9999px;left:0;z-index:10000;display:block;width:100%;height:40px;background-color:#000;line-height:40px;opacity:1;color:var(--white);text-align:center;}
#skip a:focus, #skip a:hover, #skip a:active, #skip a:visited, #skipSitemap a:focus, #skipSitemap a:hover, #skipSitemap a:active, #skipSitemap a:visited {top:0;}
body {}

#wrap {
	--header-height:147px;
}
.header-medium #wrap {
	--header-height:128px;
}
#wrap {margin:0 auto;padding-top:var(--header-height);transition:padding-top 0.3s var(--cubic);}

/* header */
.header {position:fixed;top:0;width:100%;left:0;z-index:1900;}
.header-inner {background:#fff;padding-top:25px;transition:padding-top 0.3s var(--cubic);}
.header .header-top {display:flex;justify-content:space-between;max-width:1280px;padding:0 40px;margin:0 auto;}
.header .header-top > .left {}
.header .header-top > .right {display:flex;align-items:center;justify-content:space-between;margin-left:248px;flex:1 1 100%;}

/* header logo */
.header .logo {height:100%;}
.header .logo a {display:flex;align-items:center;justify-content:center;width:153px;height:100%;}
.header .logo a img {width:100%;object-fit:contain;}

/* header search */
.header .header-search {position:relative;border:1px solid transparent;border-bottom:1px solid transparent;border-radius:25px 25px 0 0;z-index:1;}
.header-search-innner {position:relative;display:flex;align-items:center;justify-content:center;}
.header-search .search-input {width:400px;height:50px;border-radius:25px;font-size:16px;padding:0 100px 0 30px;background-color:#f3f4f7;box-shadow:inset 0px 0px 3px 0px rgba(0, 0, 0, 0.08);transition:background-color 0.3s var(--cubic);border:1px solid transparent;}
.header-search .search-input:focus {background-color:var(--white);border:1px solid var(--graye);}
.header-search .search-input::placeholder {color:var(--black6);font-weight:400;}
.header-search .header-search-btn {position:absolute;right:0;top:0;display:flex;}
.header-search .btn-suggest {display:flex;align-items:center;justify-content:center;width:50px;height:50px;}
.header-search .btn-suggest:before {content:'';background:url(../../images/front/btn/btn-suggest.png) center center / contain no-repeat;width:16px;height:10px;}
.header-search.active .btn-suggest:before {transform:rotate(180deg);}
.header-search .btn-search {display:flex;align-items:center;justify-content:center;width:50px;height:50px;background-color:#2d9e76;border-radius:50%;}
.header-search .btn-search:before {content:'';background:url(../../images/front/btn/btn-search.png) center center / contain no-repeat;width:23px;height:23px;}

/* header search autocomplete open & input typing */
.header-search.typing .search-input {background-color:var(--white);color:var(--black);border:1px solid var(--graye);box-shadow:none;}
.header-search.autocomplete-open,
.header-search.active {border-color:#ccc;}
.header-search.focusing:not(.autocomplete-open,.active) {border:1px solid #ccc;border-radius:25px;}

/* header search suggest */
.header .search-suggest {display:none;position:absolute;right:-1px;top:100%;width:402px;background-color:var(--white);border:1px solid #ccc;border-top:0;border-radius:0 0 25px 25px;box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.1);}
.header .search-suggest .search-suggest-list {display:flex;padding:20px 30px;font-size:15px;font-weight:400;color:var(--black3);line-height:25px;}
.header .search-suggest .search-suggest-list > * {flex:1;width:50%;}
.header .search-suggest .suggest-title {display:block;font-size:16px;color:#237db1;font-weight:400;margin-bottom:5px;}

.header-search .search-suggest .recent-keyword {padding-right:15px;}
.header-search .search-suggest .recent-keyword li {display:flex;}
.header-search .search-suggest .recent-keyword li .keyword {flex:0 1 100%;max-width:calc(100% - 17px);}
.header-search .search-suggest .recent-keyword li .keyword span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}
.header-search .search-suggest .recent-keyword li .recent-keyword-remove {display:flex;align-items:center;justify-content:center;}
.header-search .search-suggest .recent-keyword li .recent-keyword-remove:before {content:'';width:17px;height:17px;background:url(../../images/front/btn/btn-circle-close.png) center center / contain no-repeat;}

.header-search .search-suggest .popular-keyword {padding-left:15px;border-left:1px solid var(--graye);}
.header-search .search-suggest .popular-keyword .list {counter-reset:li;}
.header-search .search-suggest .popular-keyword .list li {display:flex;}
.header-search .search-suggest .popular-keyword .list li:before {counter-increment:li;content:counter(li, decimal-leading-zero);margin-right:10px;width:15px;}
.header-search .search-suggest .popular-keyword .list li .keyword {flex:0 1 100%;max-width:calc(100% - 15px);}
.header-search .search-suggest .popular-keyword .list li .keyword span {display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:100%;}

.header-search .search-suggest .tab-content .tab-list {display:flex;flex-wrap:wrap;height:25px;}
.header-search .search-suggest .tab-content .tab-list li {flex:1;margin-right:-1px;}
.header-search .search-suggest .tab-content .tab-list li button {position:relative;display:flex;align-items:center;justify-content:center;width:100%;font-size:13px;border:1px solid #ccc;line-height:18px;}
.header-search .search-suggest .tab-content .tab-list li:first-child button {border-radius:3px 0 0 3px;}
.header-search .search-suggest .tab-content .tab-list li:last-child button {border-radius:0 3px 3px 0;}
.header-search .search-suggest .tab-content .tab-list li.active button {color:#15875f;border-color:#15875f;z-index:1;}

.header-search .search-suggest .search-suggest-control {display:flex;align-items:center;justify-content:space-between;height:40px;background-color:#f3f4f7;border-radius:0 0 25px 25px;font-size:13px;color:var(--black6);padding:0 30px;}

.header-search.active .search-suggest {display:block;}

/* shortcut-menu */
.shortcut-menu {}
.shortcut-menu > ul {display:flex;}
.shortcut-menu > ul > li {position:relative;}
.shortcut-menu > ul > li:not(:last-child) {margin-right:20px;}
.shortcut-menu > ul > li > a,
.shortcut-menu > ul > li > button {display:flex;align-items:center;font-size:14px;color:var(--black6);}
.shortcut-menu > ul > li > a:before,
.shortcut-menu > ul > li > button:before {content:'';margin-right:5px;}
.shortcut-menu > ul > li.ico-login a:before {width:14px;height:18px;background:url(../../images/front/ico/ico-login.png) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-member a:before {width:15px;height:18px;background:url(../../images/front/ico/ico-member.png) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-language > button:before {width:20px;height:20px;background:url(../../images/front/ico/ico-language.png) center center / contain no-repeat;}
.shortcut-menu > ul > li.ico-alarm > button:before {width:15px;height:20px;background:url(../../images/front/ico/ico-alarm.png) center center / contain no-repeat;}

/* language popup */
.shortcut-menu .ico-language .language-list {position:absolute;left:-10px;top:calc(100% + 10px);border:1px solid #dbdbdb;border-radius:10px;box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.1);}
.shortcut-menu .ico-language .language-list li {background-color:#f3f4f7;}
.shortcut-menu .ico-language .language-list li.active {background-color:var(--white);}
.shortcut-menu .ico-language .language-list li:first-child {border-radius:10px 10px 0 0;}
.shortcut-menu .ico-language .language-list li:last-child {border-radius:0 0 10px 10px;}
.shortcut-menu .ico-language .language-list li a {display:block;font-size:14px;line-height:30px;color:var(--black6);padding:0 20px;}
.shortcut-menu .ico-language .language-list li.active a {color:var(--black3);}
.shortcut-menu .ico-alarm > button strong {margin-left:5px;background-color:#ff3838;font-size:14px;line-height:18px;color:var(--white);font-weight:400;border-radius:9px;padding:0 7px;}

/* alarm popup */
.shortcut-menu .ico-alarm .alarm-layer {padding-bottom:0;height:460px;}
.shortcut-menu .ico-alarm .alarm-layer li {display:flex;}
.shortcut-menu .ico-alarm .alarm-layer li a {flex:1 1 100%;padding:10px 0 10px 8px;}
.shortcut-menu .ico-alarm .alarm-layer li a strong {display:block;font-size:16px;color:var(--black3);}
.shortcut-menu .ico-alarm .alarm-layer li a span {display:block;font-size:14px;color:var(--black6);}
.shortcut-menu .ico-alarm .alarm-layer li button {display:flex;align-items:center;justify-content:center;width:33px;}
.shortcut-menu .ico-alarm .alarm-layer li button:before {content:'';width:17px;height:17px;background:url(../../images/front/btn/btn-circle-close.png) center center / contain no-repeat;}

.shortcut-menu .ico-alarm .alarm-layer li.view-all {border-bottom:0;}
.shortcut-menu .ico-alarm .alarm-layer li.view-all a {display:flex;align-items:center;justify-content:center;height:60px;padding:0;}
.shortcut-menu .ico-alarm .alarm-layer li.view-all a span {font-size:14px;color:var(--blue);text-decoration:underline;}

.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata {display:flex;align-items:center;justify-content:center;height:390px;text-align:center;}
.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata img {display:flex;margin:0 auto;}
.shortcut-menu .ico-alarm .alarm-layer .alarm-nodata p {font-size:16px;color:var(--black6);margin-top:20px;}


/* gnb */
@media screen and (min-width:1200px) {
	.header .header-bottom {position:relative;border-bottom:1px solid var(--grayd);}
	.header .header-bottom-inner {display:flex;max-width:1280px;margin:0 auto;padding:12px 40px 0;transition:padding-top 0.3s var(--cubic);}
	.header .gnb {flex:0 0 calc(100% - 58px);}
	.header .gnb .dep01 {display:flex;justify-content:space-around;}
	.header .gnb .dep01 > li {flex:auto;}
	.header .gnb .dep01 > li > a {position:relative;display:table;font-size:18px;font-weight:500;line-height:58px;transition:line-height 0.3s var(--cubic);}
	.header .gnb .dep01 > li > a:after {display:block;content:'';position:absolute;left:50%;bottom:0;transform:translateX(-50%);width:0;height:3px;background-color:var(--sgreen);transition:width 0.15s var(--cubic);}
	.header .gnb .dep01 > li.active > a {color:#0e836c;}
	.header .gnb .dep01 > li.active > a:after {width:100%;}
	.header .gnb .dep02 {position:absolute;left:0;top:100%;width:100%;border-bottom:8px solid var(--sgreen);border-top:1px solid var(--grayd);background-color:var(--white);box-shadow:0px 2px 3px 0px rgba(0, 0, 0, 0.05);}
	.header .gnb .dep02-inner {position:relative;max-width:1280px;margin:0 auto;padding: 30px 40px 40px;display:flex;justify-content:space-between;}
	.header .gnb .dep02-inner .banner-dep02 {width:327px;background-color:#f7f7f7;border-radius:10px;}
	.header .gnb .dep02-inner .banner-dep02 ul {display:flex;flex-direction:column;padding:0 20px;height:100%;}
	.header .gnb .dep02-inner .banner-dep02 ul li {flex:1;display:flex;}
	.header .gnb .dep02-inner .banner-dep02 ul li:not(:last-child) {border-bottom:1px solid var(--grayd);}
	.header .gnb .dep02-inner .banner-dep02 ul li a {display:flex;align-items:center;width:100%;}
	.header .gnb .dep02-inner .banner-dep02 ul li a .thumb {display:flex;align-items:center;justify-content:center;flex:0 0 120px;min-height:100px;margin-right:20px;}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc {}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc strong {display:block;font-size:16px;font-weight:500;color:var(--blue);}
	.header .gnb .dep02-inner .banner-dep02 ul li a .desc span {margin-top:5px;}

	.header .gnb .dep02-inner .banner-dep02 ul li:only-child a {flex-direction:column;justify-content:center;}
	.header .gnb .dep02-inner .banner-dep02 ul li:only-child a .thumb {min-height:0;flex:0 0 auto;margin-right:0;}
	.header .gnb .dep02-inner .banner-dep02 ul li:only-child a .desc {margin-top:15px;text-align:center;}

	.header .gnb .dep02-inner > ul > li {display:flex;}
	.header .gnb .dep02-inner > ul > li > a {display:block;width:190px;font-size:16px;font-weight:500;padding:15px 0;margin-right:50px;}
	.header .gnb .dep02-inner > ul > li > a:before {display:block;content:'';position:absolute;left:230px;top:30px;bottom:40px;background:url(../../images/front/line/line-dot-gnb.png) center center / 1px 4px repeat;width:1px;}
	.header .gnb .dep03 {position:relative;display:flex;flex-wrap:wrap;overflow:hidden;height:100%;}
	.header .gnb .dep03:before {position:absolute;content:'';width:6px;height:50px;background:url(../../images/front/arrow/arrow-gnb-dep03.png) center center / 6px 10px no-repeat;}
	.header .gnb .dep03 > li {position:relative;}
	.header .gnb .dep03 > li > a {display:block;font-size:16px;color:var(--black6);line-height:50px;padding:0 20px;}
	.header .gnb .dep03 > li > a:hover,
	.header .gnb .dep03 > li > a:focus {color:var(--green);}
	.header .gnb .dep03 > li > a:before {display:block;content:'';position:absolute;left:-1px;top:50%;transform:translateY(-50%);width:1px;height:14px;background-color:var(--graye);}
	.header .gnb .dep01 > li.active .dep02 {display:block;}
	.header .sitemap {flex:0 0 58px;}
	.header .sitemap a {display:flex;align-items:center;justify-content:flex-end;background:url(../../images/front/btn/btn-sitemap.png) right center / 18px 16px no-repeat;width:100%;height:100%;}

	/* header-medium */
	.header-medium .header .header-bottom-inner {padding-top:0;}
	.header-medium .header .gnb .dep01 > li > a {line-height:55px;}
}

/* header-medium */
.header-medium .header-inner {padding-top:20px;}





/* aside */
.aside {position:fixed;left:50%;transform:translateX(-50%);top:50%;margin-top:-240px;max-width:1920px;display:flex;justify-content:flex-end;height:0;width:100%;}
.aside-inner {margin-left:auto;}
.aside .chatbot {margin-bottom:65px;}
.aside .chatbot a {display:flex;justify-content:center;margin:0 auto;}
.aside .sns-share {background-color:var(--white);border:1px solid var(--graye);display:table;margin:0 auto;padding:5px;border-radius:10px;box-shadow:0px 2px 5px 0px rgba(0, 0, 0, 0.1);}
.aside .sns-share ul li:not(:last-child) {margin-bottom:5px;}
.aside .sns-share ul a {display:flex;}
.aside .scroll-top {margin-top:7px;border-top:1px solid var(--graye);}
.aside .scroll-top a {display:flex;padding:7px 0 2px;flex-direction:column;text-align:center;font-size:14px;font-weight:500;color:var(--black6);}
.aside .scroll-top a:before {content:'';width:13px;height:7px;background:url(../../images/front/arrow/arrow-aside-top.png) center center / contain no-repeat;margin:0 auto 2px;}






/* footer */
#footer {margin-top:115px;padding-bottom:120px;background-color:var(--white);}

.footer {border-top:1px solid #ebebeb;}
.footer .swiper-banner {max-width:1280px;padding:0 40px;margin:0 auto;
	--swiper-navigation-size:75px;
}
.footer .swiper-banner .swiper-banner-inner {position:relative;padding:0 75px;}
.footer .swiper-banner .swiper-slide {width:auto;}
.footer .swiper-banner .swiper-slide a {display:flex;align-items:center;justify-content:center;height:90px;padding:25px 0;}
.footer .swiper-banner .swiper-slide a img {height:100%;object-fit:contain;}
.footer .swiper-banner .swiper-button-next {right:0;}
.footer .swiper-banner .swiper-button-next:after {content:'';background:url(../../images/front/arrow/arrow-footer-banner-next.png) center center / 10px 16px no-repeat;width:26px;height:28px;border:1px solid var(--graye);border-radius:10px;}
.footer .swiper-banner .swiper-button-prev {left:0;}
.footer .swiper-banner .swiper-button-prev:after {content:'';background:url(../../images/front/arrow/arrow-footer-banner-prev.png) center center / 10px 16px no-repeat;width:26px;height:28px;border:1px solid var(--graye);border-radius:10px;}

.footer .footer-link {background-color:var(--black6);}
.footer .footer-link-inner {display:flex;max-width:1280px;padding:0 40px;margin:0 auto;}
.footer .footer-link-inner .left {flex:0 0 530px;}
.footer .footer-link-inner .right {flex:1;}
.footer .footer-link .terms-link {display:flex;height:80px;}
.footer .footer-link .terms-link li {}
.footer .footer-link .terms-link li:not(:last-child) {margin-right:50px;}
.footer .footer-link .terms-link li a {display:flex;height:100%;align-items:center;justify-content:center;font-size:16px;color:var(--white);}

.footer .footer-link .family-link {display:flex;background-color:#5b5b5b;justify-content:space-around;}
.footer .footer-link .family-link dl:not(:last-child) {border-right:1px solid var(--black6);}
.footer .footer-link .family-link dl:nth-child(1) {width:240px;}
.footer .footer-link .family-link dl:nth-child(2) {width:215px;}
.footer .footer-link .family-link dl:nth-child(3) {width:215px;}
.footer .footer-link .family-link dl {}
.footer .footer-link .family-link dl dt {}
.footer .footer-link .family-link dl dt button {display:flex;height:80px;width:100%;align-items:center;justify-content:space-between;font-size:16px;color:var(--white);padding:0 15px 0 20px;}
.footer .footer-link .family-link dl dt button:after {display:block;content:'';width:15px;height:9px;background:url(../../images/front/arrow/arrow-footer-family-link.png) center center / contain no-repeat;}
.footer .footer-link .family-link dl.active dt button:after {transform:rotate(180deg);}
.footer .footer-link .family-link dl dd {position:absolute;left:0;bottom:100%;width:100%;height:220px;overflow:auto;background-color:#5b5b5b;word-wrap:break-word;}
.footer .footer-link .family-link dl dd h4 {font-size:18px;font-weight:500;color:var(--grayc);margin-left:20px;}
.footer .footer-link .family-link dl dd > ul {padding:15px 0;}
.footer .footer-link .family-link dl dd ul ul {padding-left:10px;}
.footer .footer-link .family-link dl dd a {display:block;font-size:16px;color:var(--white);padding:3px 0 3px 20px;}
.footer .footer-link .family-link dl dd a:hover,
.footer .footer-link .family-link dl dd a:focus {color:var(--yellow);}
.footer .footer-content {}
.footer .footer-content-inner {display:flex;max-width:1280px;padding:30px 40px 0;margin:0 auto;align-items:center;justify-content:space-between;}
.footer .footer-content .address {font-size:15px;font-weight:300;color:var(--black6);}
.footer .footer-content .address a {margin-left:5px;color:var(--black3);text-decoration:underline;font-weight:400;}
.footer .footer-content .copyright {font-size:15px;font-weight:300;color:var(--black6);}
.footer .footer-content .logo-list {display:flex;align-items:center;}
.footer .footer-content .logo-list li {}
.footer .footer-content .logo-list li:not(:last-child) {margin-right:20px;}
.footer .footer-content .logo-list li a {display:flex;}
.footer .footer-content .logo-list li a img {width:100%;}
.footer .footer-content .logo-list li.logo-wa {width:63px;}
.footer .footer-content .logo-list li.logo-kogl {width:75px;}


/* sub content */
.sub-content .visual {height:159px;background:url(../../images/front/visual/visual-sub.png) center bottom / 1920px 159px no-repeat #c6edf4;}
.sub-content .visual-inner {display:flex;max-width:1480px;padding:0 40px;margin:0 auto;height:100%;justify-content:center;}
.sub-content .visual-inner h2 {text-align:center;font-size:30px;font-weight:500;padding-top:25px;}

/* navigation */
.sub-content .container {display:flex;max-width:1280px;padding:0 40px;margin:0 auto;}
.sub-content .navigation {width:240px;position:relative;margin-right:40px;margin-top:-90px;flex:0 0 240px;}
.sub-content .navigation:after {display:block;content:'';position:absolute;left:0;bottom:100%;width:59%;height:69px;background-color:#c6edf4;}
.sub-content .navigation-inner {position:sticky;top:calc(var(--header-height) + 20px);}
.sub-content .navigation .nav-title {display:flex;align-items:center;justify-content:center;border-radius:20px 20px 0 0;background-color:var(--green);height:90px;padding:10px;font-size:24px;font-weight:500;color:var(--white);}
.sub-content .navigation .dep01 {border:1px solid var(--grayd);border-radius:0 0 20px 20px;padding:13px 20px;}
.sub-content .navigation .dep01 > li {}
.sub-content .navigation .dep01 > li:not(:last-child) {border-bottom:1px solid var(--grayd);}
.sub-content .navigation .dep01 > li > a {display:flex;font-size:17px;font-weight:500;color:var(--black3);justify-content:space-between;padding:11px 0;}
.sub-content .navigation .dep01 > li.dep02-inner > a:after {content:'';width:12px;height:25.5px;background:url(../../images/front/btn/btn-nav-active.png) center center / 12px no-repeat;margin-left:5px;}
.sub-content .navigation .dep01 > li.dep02-inner.active > a:after {background:url(../../images/front/btn/btn-nav.png) center center / 12px no-repeat;}

.sub-content .navigation .dep02 {position:relative;z-index:1;}
.sub-content .navigation .dep02 > ul {margin:-8px 0 10px 10px;}
.sub-content .navigation .dep02 > ul > li {}
.sub-content .navigation .dep02 > ul > li > a {display:block;font-size:16px;color:var(--black6);padding:3px 0 4px;}
.sub-content .navigation .dep02 > ul > li.active > a {color:var(--green);font-weight:500;}

.sub-content .content {flex:1 1 100%;}
.sub-content .content .breadcrumb-inner {}

/* breadcrumb */
.breadcrumb {margin:25px 0 45px;}
.breadcrumb-inner {display:flex;margin:0 auto;justify-content:space-between;}
.breadcrumb ol {display:flex;}
.breadcrumb ol > li {height:32px;}
.breadcrumb ol > li a {display:flex;font-size:14px;font-weight:300;color:var(--black6);height:100%;align-items:center;justify-content:center;}
.breadcrumb ol > li.breadcrumb-home a:before {content:'';width:15px;background:url(../../images/front/ico/ico-breadcrumbs-home.png) center center / contain no-repeat;height:100%;}
.breadcrumb ol > li:not(:last-child) a:after {content:'';width:6px;height:10px;background:url(../../images/front/arrow/arrow-breadcrumbs.png) center center / contain no-repeat;margin:0 10px}
.breadcrumb ul {display:flex;margin-right:-21px;}
.breadcrumb ul > li {display:flex;height:32px;align-items:center;justify-content:center;}
.breadcrumb ul > li button {display:flex;height:100%;align-items:center;justify-content:center;}
.breadcrumb ul > li:not(:first-child):before {content:'';width:1px;height:20px;background-color:#ebebeb;}
.breadcrumb ul > li button:before {content:'';width:60px;height:100%;}
.breadcrumb ul > li.breadcrumb-share button:before {background:url(../../images/front/ico/ico-share.png) center center / 16px 18px no-repeat;}
.breadcrumb ul > li.breadcrumb-linkcopy button:before {background:url(../../images/front/ico/ico-link-copy.png) center center / 16px 16px no-repeat;}
.breadcrumb ul > li.breadcrumb-print button:before {background:url(../../images/front/ico/ico-print.png) center center / 18px 18px no-repeat;}




@keyframes rotation {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
} 


/* Mobile */
@media screen and (max-width:1024px) {
	.mobile-gnb-active {overflow:hidden;}
	
	#wrap {padding-top:4.9rem;}
	/* header */
	.header {}
	.header-inner {}

	.header .logo {}
	.header .logo a {width:11.8rem;height:4.8rem;}

	.header .gnb {position:absolute;left:100%;top:0;display:flex;flex-direction:column;width:calc(100% - 1.6rem);height:100vh;background-color:#fff;z-index:1899;margin-left:1.6rem;transition:left 0.3s var(--cubic);overflow:auto;}
	.header.gnb-active .gnb {left:0;}
	.header.gnb-active .gnb:after {display:block;content:'';position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.6);z-index:-1;}
	.header .gnb .btn-gnb-start,
	.header .gnb .btn-gnb-end {display:none;}
	.header .gnb .mobile-menu {background-color:var(--blue);position:sticky;top:0;z-index:1;}
	.header .gnb .mobile-menu-header {display:flex;align-items:center;justify-content:space-between;border-bottom:0.1rem solid var(--bgblue);height:4.8rem;}
	.header .gnb .mobile-menu-header .gnb-mobile-close {width:4.8rem;height:4.8rem;background:url(../../images/front/btn/btn-layer-close.svg) center center / 1.4rem 1.3rem no-repeat}
	.header .gnb .mobile-menu-header ul {display:flex;color:var(--white);padding:0 0.8rem;}
	.header .gnb .mobile-menu-header ul li {position:relative;display:flex;height:4.8rem;align-items:center;justify-content:center;padding:0 1.6rem;}
	.header .gnb .mobile-menu-header ul li:not(:last-child):after {display:block;content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);width:0.1rem;height:1.6rem;background-color:var(--white);}
	.header .gnb .mobile-menu-header ul li strong {font-size:1.6rem;}
	.header .gnb .mobile-menu-header ul li a {font-size:1.4rem;}

	.header .gnb .mobile-menu .logout {width:3.2rem;height:4.8rem;background:url(../../images/front/btn/btn-gnb-logout.svg) center center / 1.6rem 1.4rem no-repeat;}
	.header .gnb .mobile-menu .go-home {width:3.2rem;height:4.8rem;background:url(../../images/front/btn/btn-gnb-home.svg) center center / 1.8rem 1.6rem no-repeat;}
	.header .gnb .gnb-mobile-link {display:block;font-size:1.4rem;color:var(--white);line-height:3.2rem;padding-left:2.4rem;}
	.header .gnb .dep01 {flex:1 1 100%;background-color:var(--bgblue);position:relative;/* overflow:auto; */}
	.header .gnb .dep01 > li > a {display:block;font-size:1.4rem;font-weight:700;padding:1rem 0.8rem 1rem 2.4rem;width:calc(50% - 1.6rem);}
	.header .gnb .dep01 > li.active > a {color:var(--tblue);}
	.header .gnb .dep01 > li.open > a {background-color:var(--lblue);color:var(--white);}
	.header .gnb .dep01 > li.open > .dep02 {display:block;}
	.header .gnb .dep02 {display:none;position:absolute;right:0;top:0;width:calc(50% + 1.6rem);height:100%;background:var(--white);overflow:auto;}
	.header .gnb .dep02 > li {position:relative;}
	.header .gnb .dep02 > li:after {display:block;content:'';position:absolute;left:0;bottom:0;margin:0 2.4rem 0 0.8rem;width:calc(100% - 3.2rem);height:0.1rem;background-color:var(--gray1);}
	.header .gnb .dep02 > li > a {position:relative;display:block;font-size:1.4rem;padding:1rem 3.4rem 1rem 0.8rem;}
	.header .gnb .dep02 > li.active > a {color:var(--tblue);font-weight:700;}
	.header .gnb .dep02 > li.hasDep03 > a:after {content:'';position:absolute;right:2.4rem;top:50%;margin-top:-0.3rem;width:1rem;height:0.6rem;-webkit-mask:url(../../images/front/arrow/arrow_faq_down.svg) center center / cover no-repeat;mask:url(../../images/front/arrow/arrow_faq_down.svg) center center / cover no-repeat;background-color:var(--gray2);}
	.header .gnb .dep02 > li.hasDep03.open > a:after {transform:rotate(180deg);}

	.header .gnb .dep03 {position:relative;padding:0.8rem 2.4rem 0.8rem 0.8rem;}
	.header .gnb .dep02 .dep03 {display:none;}
	.header .gnb .dep03:before {content:'';position:absolute;left:0;top:0;margin:0 2.4rem 0 0.8rem;width:calc(100% - 3.2rem);border-top:0.1rem dashed var(--gray1);}
	.header .gnb .dep03 > li {position:relative;font-size:1.2rem;padding-left:1rem;}
	.header .gnb .dep03 > li:before {content:'\00B7';font-size:inherit;color:inherit;position:absolute;left:0;top:0;}
	.header .gnb .dep03 > li > a {display:block;}

	/* alarm */
	.header .alarm {height:100%;}
	.header .alarm > button {display:flex;width:4.8rem;height:100%;background:url(../../images/front/btn/btn-alarm.svg) center center / 2.1rem 2.1rem no-repeat;}


	.header .sitemap {display:none;}
	
	.header .mobile-gnb {display:block;position:relative;height:100%;}
	.header .mobile-gnb > .toggleTrigger {position:relative;display:flex;width:4.8rem;height:100%;background:url(../../images/front/btn/btn-gnb-sitemap-mo.svg) center center / 1.8rem 1.5rem no-repeat;}


	.header-shortcut {display:none;}

	.breadcrumb {display:none;}


	/* footer */
	#footer {display:flex;flex-direction:column-reverse;padding-top:0rem;padding-bottom:2.3rem;margin-top:5rem;}

	/* footer-top */
	.footer-top {padding-top:2.3rem;margin:0;}
	.footer .logo {display:flex;}
	.footer .logo li {}
	.footer .logo li:not(:last-child) {margin-right:1.5rem;}
	.footer .logo li.list01 a {width:8.5rem;}
	.footer .logo li.list02 a {width:6.9rem;}
	.footer .address {font-size:1.2rem;margin-top:1.3rem;}
	.footer .copy {font-size:1.2rem;margin-top:0.5rem;}
	.footer .footer-sitemap {display:none;}

	/* footer-bottom */
	.footer-bottom {border-top:0;border-bottom:0.1rem solid #313131;margin-top:0;}
	.footer-bottom-inner {}
	.footer-bottom .left {height:auto;}
	.footer-bottom .left .footer-terms-list {flex-wrap:wrap;}
	.footer-bottom .left .footer-terms-list li {position:relative;padding:0 0.4rem;}
	.footer-bottom .left .footer-terms-list li:not(:last-child):after {height:0.6rem;background-color:#484644;}
	.footer-bottom .left .footer-terms-list li a {font-size:1.2rem;padding:1.1rem 0;}
	.footer-bottom .right {position:relative;}

	.footer-bottom .family-site {display:none;}

}


/* spinner */
.spinner-overlay {position:fixed;top:0;z-index:999999;width:100%;height:100%;display:none;background:rgba(0, 0, 0, 0.6);}
.spinner-overlay .cv-spinner {display:flex;align-items:center;justify-content:center;height:100%;}
.spinner-overlay .spinner {width:40px;height:40px;border:4px solid var(--white);border-bottom-color:var(--blue);border-radius:50%;display:inline-block;box-sizing:border-box;animation:rotation 1s linear infinite;}