@charset "utf-8";
.main-section .section-inner {
	--tabletMaxWidth:994px;
}

.main-section {position:relative;}
.main-section .section-inner {max-width:var(--maxWidth);padding-left:var(--pl);padding-right:var(--pr);margin:0 auto;padding-bottom:0;}
.main-section .section-title {margin:65px 0 20px;}
.main-section .sub-title {}
.section-title .d-flex h3 {font-size:20px;}
.section-title .view-more {display:flex;align-items:center;justify-content:center;font-size:14px;color:var(--black6);}
.section-title .view-more i {margin-left:10px;}
/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	.main-section .sub-title {font-size:20px;}
	.main-section .section-inner {padding-bottom:0;}
}
/* TABLET */
@media screen and (min-width:1024px) and (max-width:1279px) {

}
/* MOBILE */
@media screen and (max-width:1023px) {
	

}

/* main-section01 */
.main-section01:after {display:block;content:'';position:absolute;left:2.6%;right:0;top:0;bottom:0;z-index:-1;background-color:#EDF2F5;border-radius:0 0 0 100px;}
.main-section01 {padding-top:45px;padding-bottom:25px;}
.main-section01 .section-inner {display:flex;justify-content:space-between;}
.main-section01 .left {flex:1 1 50%;max-width:50%;}
.main-section01 .right {flex:1 1 50%;max-width:calc(50% - 20px);height:300px;}
/* sub banner swiper */
.visual-swiper {
	--swiper-navigation-size:16px;
	--swiper-navigation-color:var(--white);
	--swiper-pagination-color:#4d5f66;
	--swiper-pagination-bullet-inactive-color:var(--grayc);
	--swiper-pagination-bullet-size:10px;
	--swiper-pagination-bullet-inactive-opacity:1;
	--swiper-pagination-bullet-horizontal-gap:6px;
}
.visual-swiper .swiper-control {position:relative;display:flex;align-items:center;justify-content:center;padding-top:15px;}
.visual-swiper .swiper-pagination {position:static;display:flex;align-items:center;justify-content:center;width:auto;margin-right:4px;}
.visual-swiper .swiper-pagination .swiper-pagination-bullet-active {width:24px;border-radius:10px;}
.visual-swiper .swiper-button-next,
.visual-swiper .swiper-button-prev {position:static;display:flex;width:var(--swiper-navigation-size);margin-top:0;}
.visual-swiper .swiper-button-next:after,
.visual-swiper .swiper-button-prev:after {content:'';flex:1 1 100%;height:100%;background-color:var(--black9);}
.visual-swiper .swiper-button-next:after {-webkit-mask:url(../../images/front/arrow/arrow-footer-banner-next.png);mask:url(../../images/front/arrow/arrow-footer-banner-next.png);-webkit-mask-size:contain;-webkit-mask-position:center center;mask-size:contain;mask-position:center center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;}
.visual-swiper .swiper-button-prev:after {-webkit-mask:url(../../images/front/arrow/arrow-footer-banner-prev.png);mask:url(../../images/front/arrow/arrow-footer-banner-prev.png);-webkit-mask-size:contain;-webkit-mask-position:center center;mask-size:contain;mask-position:center center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;}
.visual-swiper .swiper-button-next {margin-left:20px;}
.visual-swiper .swiper-button-prev {margin-right:14px;}
.visual-swiper .swiper-button-stop {width:12px;height:12px;-webkit-mask:url(../../images/front/btn/btn-swiper-stop.png);mask:url(../../images/front/btn/btn-swiper-stop.png);-webkit-mask-size:contain;-webkit-mask-position:center center;mask-size:contain;mask-position:center center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;background-color:#3e4b50;}
.visual-swiper .swiper-button-play {width:12px;height:12px;border-top:6px solid transparent;border-left:10px solid #3e4b50;border-bottom:6px solid transparent;border-radius:3px;display:none;}
.visual-swiper .thumb {display:flex;aspect-ratio: 2/1;}
.visual-swiper .thumb img {width:100%;border-radius: 20px;/* height:300px; */object-fit: cover;}

.main-section01 .tab-round {}
.main-section01 .notice-list {border-radius:0 0 20px 20px;background-color:var(--white);padding:16px 20px;box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.1);}
.main-section01 .notice-list .list:not(:last-child) dt,
.main-section01 .notice-list .list:not(:last-child) dd {border-bottom:1px solid var(--graye);}
.main-section01 .notice-list dt {vertical-align:middle;padding:6px 0 5px;height: 37px;}
.main-section01 .notice-list dd {vertical-align:middle;height: 37px;}
.main-section01 .notice-list .list .tag {width:calc(100% - 8px);}
.main-section01 .notice-list .list a {display:flex;align-items:center;}
.main-section01 .notice-list .list a .title {flex:1 1 100%;padding-right:10px;font-size:16px;font-weight:400;color:var(--black3);}
.main-section01 .notice-list .list a .date {white-space:nowrap;font-size:15px;font-weight:300;color:var(--black6);}
.main-section01 .notice-list .view-more {display:none;}
/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	.main-section01 .section-inner {flex-direction:column;}
	.main-section01 .left {flex:1 1 100%;margin:0 auto;max-width:none;width:100%;}
	.main-section01 .right {flex:1 1 100%;margin:0 auto;max-width:none;width:100%;margin-top:30px;height:auto;}
	.main-section01:after {left:0;border-radius:0;}

}
/* TABLET */
@media screen and (min-width:1024px) and (max-width:1279px) {
	.main-section01 .section-inner {flex-direction:column;}
	.main-section01 .left {max-width:800px;}
	.main-section01 .right {max-width:800px;}
	.main-section01:after {left:15px;}
	.main-section01 .notice-list {padding:25px 50px 40px;}
	.main-section01 .notice-list dt {/* padding:8px 0; */}
}
/* MOBILE */
@media screen and (max-width:1023px) {
	.main-section01 {padding-bottom:0;}
	.main-section01 .notice-list {padding-bottom:25px;}
	.main-section01 .tab-round .tab-list li a.link {display:none;}
	.main-section01 .notice-list .view-more {display:block;margin-top:15px;width:100%;}
	.main-section01 .notice-list .view-more a {width:100%;}

}


/* main-section02 */
.main-section02 {}
.main-environment-list {word-break:break-all;}
.main-environment-list ul {display:flex;margin:-10px 0 0 -10px;flex-wrap:wrap;}
.main-environment-list ul li {flex:0 0 calc(100% / 3 - 10px);margin:10px 0 0 10px;}
.main-environment-list a {display:flex;border:1px solid var(--grayc);border-radius:20px;background-color:var(--white);height:100%;padding:24px 20px 20px 40px;transition:all 0.3s var(--cubic);}
.main-environment-list a:hover,
.main-environment-list a:focus {background-color:#15875f;border-color:#15875f;}
.main-environment-list .thumb {display:flex;width:66px;height:66px;align-items:center;justify-content:center;margin-right:20px;margin-top:6px;}

.main-environment-list .thumb .st0 {fill:var(--black3);}
.main-environment-list a:hover .st0,
.main-environment-list a:focus .st0 {fill:var(--white);}

.main-environment-list .thumb .st1 {fill:#29b612;}
.main-environment-list a:hover .st1,
.main-environment-list a:focus .st1 {fill:#fff568;}
.main-environment-list .thumb .svg-elem-1 {transition:fill 0.3s var(--cubic) 0s;}
.main-environment-list .thumb .svg-elem-2 {transition:fill 0.3s var(--cubic) 0.2s;}
.main-environment-list .thumb .svg-elem-3 {transition:fill 0.3s var(--cubic) 0.4s;}
.main-environment-list .thumb .svg-elem-4 {transition:fill 0.3s var(--cubic) 0.6s;}
.main-environment-list .thumb .svg-elem-5 {transition:fill 0.3s var(--cubic) 0.8s;}
.main-environment-list .thumb .svg-elem-6 {transition:fill 0.3s var(--cubic) 1s;}
.main-environment-list .thumb .svg-elem-7 {transition:fill 0.3s var(--cubic) 1.2s;}

.main-environment-list .thumb .svg01 {width:61px;height:61px;}
.main-environment-list .thumb .svg02 {width:61px;height:67px;}
.main-environment-list .thumb .svg03 {width:60px;height:60px;}
.main-environment-list .thumb .svg04 {width:63px;height:63px;}
.main-environment-list .thumb .svg05 {width:58px;height:58px;}
.main-environment-list .thumb .svg06 {width:66px;height:66px;}
.main-environment-list .thumb .svg07 {width:63px;height:63px;}
.main-environment-list .thumb .svg08 {width:58px;height:59px;}
.main-environment-list .thumb .svg09 {width:66px;height:66px;}
.main-environment-list .thumb .svg10 {width:62px;height:62px;}
.main-environment-list .thumb .svg11 {width:63px;height:63px;}
.main-environment-list .thumb .svg12 {width:62px;height:62px;}
.main-environment-list .thumb .svg13 {width:61px;height:62px;}

.main-environment-list dt {font-size:20px;font-weight:700;color:var(--green);}
.main-environment-list a:hover dt,
.main-environment-list a:focus dt {color:#fff568;transition:all 0.3s var(--cubic);}
.main-environment-list dd {font-size:16px;line-height:20px;color:var(--black6);margin-top:6px;}
.main-environment-list a:hover dd,
.main-environment-list a:focus dd {color:var(--white);transition:all 0.3s var(--cubic);}
/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	.main-section02 .section-inner {padding-bottom:0;}
}
/* TABLET */
@media screen and (min-width:1024px) and (max-width:1279px) {
	.main-environment-list ul {margin:-20px 0 0 -20px;}
	.main-environment-list ul li {flex:0 0 calc(100% / 2 - 20px);margin:20px 0 0 20px;}
}
/* MOBILE */
@media screen and (max-width:1023px) {
	.main-environment-list ul li {flex:0 0 calc(100% / 2 - 10px);}
	.main-environment-list a {flex-direction:column;padding:30px 10px;text-align:center;}
	.main-environment-list .thumb {margin:0 auto;}
	.main-environment-list dl {margin-top:10px;}
	.main-environment-list dt {display:flex;align-items:center;justify-content:center;min-height:60px;}
}


/* main-section03 */
.main-section03 {}
.main-section03 .section-inner {padding-bottom:60px;}
.main-section03:after {display:block;content:'';position:absolute;left:0;top: 138px;right:2.6%;bottom:0;z-index:-2;background:url(../../images/front/main/bg-product.png) center top / 2000px 555px no-repeat #f9f7f5;border-radius:0 0 100px 0;}
.main-section03 .tab-main > .tab-list li button {font-size:20px;}
.main-program-list {}
.main-program-list ul {display:flex;margin:40px 0 0 -20px}
.main-program-list ul.flex-wrap {margin-top: -40px;}
.main-program-list ul li {flex:1;margin:0px 0 0 20px;}
.main-program-list ul.flex-wrap {margin-top: 20px;}


.main-program-list dl.d-flex dd {flex:1;margin-left:20px;}
.main-program-list dl.d-flex dt + dd {margin-left:0;}
.main-program-list ul.n1 dl.d-flex.flex-wrap:not(.dl-n6) dd {padding-top:30px;}
.main-program-list ul.n2 dl {display:flex;flex-wrap:wrap;}
.main-program-list ul.n2 dl dd {flex:0 0 calc(50% - 10px);margin-left:20px;}
.main-program-list ul.n2 dl dd:nth-child(even) {margin-left:0;}
.main-program-list dl.dl-n6 dd {flex: 0 0 calc(100% / 6 - 20px);padding-top: 30px;}
.main-program-list dl.dl-n6 dt + dd {margin-left: 20px;}
.main-program-list ul.flex-none dl.dl-n6 dd {flex: 0 0 calc(50% - 20px);}
.main-program-list dt {flex:0 0 100%;padding:22px 0;height:80px;}
.main-program-list .hexagon {position:relative;display:flex;flex-direction:column;margin:0px auto;width:70px;text-align:center;}
.main-program-list .hexagon span {line-height:36px;font-size:16px;font-weight:500;color:var(--white);background-color:#aa652d;position:relative;z-index:2;}
.main-program-list .hexagon:before {content:'';position:absolute;left:15px;width:40px;height:39px;transform:rotate(145deg) skew(22.5deg);background-color:#aa652d;top:-20px;z-index:0;border-radius:0 0px 0px 5px;}
.main-program-list .hexagon:after {content:'';position:absolute;left:15px;width:40px;height:39px;transform:rotate(145deg) skew(22.5deg);background-color:#aa652d;top:17px;z-index:0;box-shadow:0px -3px 3px 0px rgb(0 0 0 / 10%);border-radius:0 5px 0 0;}
.main-program-list dd {padding-top:10px;}
.main-program-list a .thumb {display:flex;align-items:center;justify-content:center;margin:0 auto;width:111px;height:68px;}

@media screen and (min-width:1280px) {
	.main-program-list ul.flex-wrap {margin-top:-40px;}
	.main-program-list ul.flex-none {display:block;}
	.main-program-list ul.flex-none dl.dl-n6 dd {flex: 0 0 calc((100% - 70px) / 5 - 20px);padding-top: 30px;}
	.main-program-list ul.n1.flex-wrap dd {margin-left:20px;}
	.main-program-list ul.flex-none dt {flex:0 0 70px;margin-top:30px;}
}
@media screen and (max-width:1279px) {
	.main-program-list ul.flex-none dl.dl-n6 dd {margin-left:0;flex:1 1 100%;}
	

}



/* .main-program-list a .thumb.svg-11 {width:71px;height:66px;} */
/* .main-program-list a .thumb.svg-12 {width:67px;height:57px;} */
/* .main-program-list a .thumb.svg-13 {width:72px;height:65px;} */
/* .main-program-list a .thumb.svg-21 {width:68px;height:59px;} */
/* .main-program-list a .thumb.svg-22 {width:62px;height:60px;} */
/* .main-program-list a .thumb.svg-23 {width:61px;height:66px;} */
/* .main-program-list a .thumb.svg-31 {width:69px;height:65px;} */
/* .main-program-list a .thumb.svg-32 {width:73px;height:50px;} */
/* .main-program-list a .thumb.svg-33 {width:66px;height:66px;} */
/* .main-program-list a .thumb.svg-41 {width:95px;height:57px;} */
/* .main-program-list a .thumb.svg-42 {width:66px;height:66px;} */
/* .main-program-list a .thumb.svg-43 {width:60px;height:64px;} */
/* .main-program-list a .thumb.svg-51 {width:52px;height:60px;} */
/* .main-program-list a .thumb.svg-52 {width:62px;height:60px;} */
/* .main-program-list a .thumb.svg-53 {width:59px;height:62px;} */
/* .main-program-list a .thumb.svg-54 {width:63px;height:61px;} */
/* .main-program-list a .thumb.svg-61 {width:60px;height:60px;} */
/* .main-program-list a .thumb.svg-62 {width:65px;height:56px;} */
/* .main-program-list a .thumb.svg-63 {width:67px;height:51px;} */
/* .main-program-list a .thumb.svg-64 {width:58px;height:54px;} */
/* .main-program-list a .thumb.svg-65 {width:55px;height:61px;} */
/* .main-program-list a .thumb.svg-71 {width:68px;height:54px;} */
/* .main-program-list a .thumb.svg-72 {width:52px;height:60px;} */
/* .main-program-list a .thumb.svg-73 {width:68px;height:53px;} */
/* .main-program-list a .thumb.svg-74 {width:50px;height:64px;} */
/* .main-program-list a .thumb.svg-75 {width:56px;height:61px;} */
/* .main-program-list a .thumb.svg-81 {width:63px;height:66px;} */
/* .main-program-list a .thumb.svg-82 {width:62px;height:65px;} */
/* .main-program-list a .thumb.svg-83 {width:61px;height:65px;} */
/* .main-program-list a .thumb.svg-91 {width:43px;height:66px;} */
/* .main-program-list a .thumb.svg-92 {width:43px;height:67px;} */
/* .main-program-list a .thumb.svg-93 {width:44px;height:67px;} */
/* .main-program-list a .thumb.svg-94 {width:44px;height:67px;} */
/* .main-program-list a .thumb.svg-95 {width:44px;height:67px;} */
/* .main-program-list a .thumb.svg-101 {width:67px;height:64px;} */
/* .main-program-list a .thumb.svg-102 {width:65px;height:62px;} */
/* .main-program-list a .thumb.svg-103 {width:67px;height:62px;} */
/* .main-program-list a .thumb.svg-111 {width:89px;height:55px;} */
/* .main-program-list a .thumb.svg-112 {width:87px;height:55px;} */
/* .main-program-list a .thumb.svg-113 {width:89px;height:55px;} */
/* .main-program-list a .thumb.svg-114 {width:88px;height:54px;} */
/* .main-program-list a .thumb.svg-121 {width:64px;height:56px;} */
/* .main-program-list a .thumb.svg-122 {width:59px;height:35px;} */
.main-program-list a {display:block;border:1px solid #e8dcd3;border-radius:20px;background-color:var(--white);text-align:center;padding:20px 10px;height:100%;}
.main-program-list a span {display:block;font-size:16px;font-weight:500;color:var(--black3);margin-top:6px;}

/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	.main-section03 .section-inner {padding-bottom:0;}
	.main-program-list ul {margin:20px 0 0 -20px;flex-wrap:wrap;}
	.main-program-list ul li {flex:0 0 calc(50% - 20px);margin-bottom:50px;}
	.main-program-list ul.n1 li {flex:1 1 100%;}
	.main-program-list ul.n2 li {flex:1 1 100%;}
	.main-program-list ul li:only-child {margin-left:0;}
	.main-program-list dl.d-flex dd {flex: 1 0 calc(50% - 20px);}
	.main-program-list dl.d-flex dt + dd {margin-left:20px;}
}
/* TABLET */
@media screen and (min-width:1024px) and (max-width:1279px) {
	.main-section03:after {right:15px;}
}
/* MOBILE */
@media screen and (max-width:1023px) {
	.main-section03:after {right:0;top:190px;border-radius:0;}
}

/* main-section04 */
.main-section04 .section-inner {display:flex;justify-content:space-between;padding-bottom:60px;}
.main-section04 .section-inner > .left {flex:1 1 50%;max-width:50%;}
.main-section04 .section-inner .left .table-caption button {font-size:14px;color:var(--black6);}
.main-section04 .section-inner .left .table-caption button {position:relative;margin-left:15px;padding-left:16px;}
.main-section04 .section-inner .left .table-caption button:not(:first-child):before {display:block;content:'';position:absolute;left:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:var(--graye);}
.main-section04 .section-inner > .right {flex:1 1 50%;max-width:calc(50% - 20px);height:300px;}
.main-section04 .map-wrap {width:100%;height:300px;border:1px solid var(--grayc);border-radius:10px;}
.main-section04 .map-wrap .map-inner {position:static;}
.main-section04 .map-wrap .map-pin {padding:13px 20px;}
.main-section04 .map-wrap .map-pin .map-det {width:228px;}
.main-section04 .map-wrap .map-det .tit {margin-top:2px;font-size:16px;}
.main-section04 .map-wrap .map-det .loc {margin-top:0;line-height:1.4;}
.main-section04 .map-wrap .map-det .tel {line-height:1.4;}
.main-section04 .map-wrap .map-det .link {line-height:1.4;}

.main-section04 .custom-swiper .left {position:relative;}
.main-section04 .custom-swiper .table-caption .right  button {font-size:14px;color:var(--black6);}

.main-section04 .custom-swiper .swiper-pagination-wrap {display:flex;align-items:center;margin-left:5px;}
.main-section04 .custom-swiper .swiper-pagination {position:static;display:flex;width:auto;z-index:auto;font-size:20px;font-weight:300;color:var(--black3);}
.main-section04 .custom-swiper .swiper-button-wrap {display:flex;margin-left:15px;}
.main-section04 .custom-swiper .swiper-button-wrap.first {display:none;}
.main-section04 .custom-swiper .swiper-button-next,
.main-section04 .custom-swiper .swiper-button-prev {position:static;width:21px;height:21px;border:1px solid var(--grayd);margin-top:0;}
.main-section04 .custom-swiper .swiper-button-next {border-radius:0 3px 3px 0;}
.main-section04 .custom-swiper .swiper-button-prev {border-radius:3px 0 0 3px;border-right:0;}
.main-section04 .custom-swiper .swiper-button-next:after,
.main-section04 .custom-swiper .swiper-button-prev:after {content:'';width:6px;height:9px;}
.main-section04 .custom-swiper .swiper-button-next:after {-webkit-mask:url(../../images/front/arrow/arrow-pagination-next.png);mask:url(../../images/front/arrow/arrow-pagination-next.png);-webkit-mask-size:contain;-webkit-mask-position:center center;mask-size:contain;mask-position:center center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;background-color:var(--black3);}
.main-section04 .custom-swiper .swiper-button-prev:after {-webkit-mask:url(../../images/front/arrow/arrow-pagination-prev.png);mask:url(../../images/front/arrow/arrow-pagination-prev.png);-webkit-mask-size:contain;-webkit-mask-position:center center;mask-size:contain;mask-position:center center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;background-color:var(--black3);}

.custom-info {height:300px;}
.custom-info .custom-info-title {display:flex;background-color:var(--blue);align-items:center;justify-content:space-between;border-radius:10px 10px 0 0;padding:7px 20px 6px;}
.custom-info .custom-info-title h4 {font-size:18px;font-weight:500;color:var(--white);}
.custom-info .custom-info-title .date {font-size:14px;font-weight:300;color:#b9d6e7;}
.custom-info .custom-info-content {border:1px solid var(--grayc);border-radius:0 0 10px 10px;height:calc(100% - 40px);padding:10px 0 14px 20px;}
.custom-info .custom-info-content .tabpanel-wrap {overflow:auto;height:234px;}
.custom-info .tab-sub-column > .tab-list {height:234px;border-right:1px solid var(--graye);padding-right:10px;z-index:3;}

.custom-info .label-wrap {display:flex;justify-content:flex-end;}
.custom-info .label-wrap .lab {display:flex;}
.custom-info .label-wrap .lab:not(:last-child) {margin-right:5px;}
.custom-info .label-wrap .lab span {font-size:14px;color:var(--black6);line-height:30px;margin-right:10px;}
.custom-info .label-wrap .lab:not(:first-child) span {margin-left:20px;}
.custom-info .label-wrap .lab select {height:30px;font-size:14px;color:var(--black3);}
.custom-info .label-wrap .lab select:not(:last-child) {margin-right:5px;}
.custom-info .caption {display:flex;align-items:center;justify-content:space-between;padding-bottom:5px;border-bottom:1px solid var(--graye);}
.custom-info .caption .left {font-size:14px;color:var(--black3);}
.custom-info .caption .left strong {font-weight:700;color:var(--blue);}
.custom-info .caption .right {}
#tab-subpanel-column01 .label-wrap,
#tab-subpanel-column02 .label-wrap,
#tab-subpanel-column03 .label-wrap,
#tab-subpanel-column04 .label-wrap,
#tab-subpanel-column05 .label-wrap,
#tab-subpanel-column06 .label-wrap,
#tab-subpanel-column07 .label-wrap {position:sticky;top:0;z-index:2;background-color:var(--white);}

#tab-subpanel-column11 .label-wrap,
#tab-subpanel-column12 .label-wrap,
#tab-subpanel-column13 .label-wrap {position:sticky;top:0;z-index:2;background-color:var(--white);}
#tab-subpanel-column11 .tab-main > .tab-list,
#tab-subpanel-column12 .tab-main > .tab-list,
#tab-subpanel-column13 .tab-main > .tab-list {position:sticky;top:30px;z-index:2;background-color:var(--white);}

#dam-info  .label-wrap {position:sticky;top:35px;z-index:2;background-color:var(--white);}
#dam-info  .tab-main > .tab-list {position:sticky;top:0;z-index:2;background-color:var(--white);}

#farm-info  .label-wrap {position:sticky;top:0;z-index:2;background-color:var(--white);}
#farm-info  .tab-main > .tab-list {position:sticky;top:35px;z-index:2;background-color:var(--white);}

#electronic-info .label-wrap {position:sticky;top:0;z-index:2;background-color:var(--white);}

/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	.main-section04 .section-inner {flex-direction:column;}
	.main-section04 .section-inner > .left {flex:1 1 100%;max-width:none;width:100%;}
	.main-section04 .section-inner .table-caption {margin-top:50px;}
	.main-section04 .section-inner .table-caption .left {flex:1;text-align:center;justify-content:center;}
	.main-section04 .section-inner .table-caption .right {flex:1;display:flex;text-align:right;justify-content:flex-end;}
	.main-section04 .section-inner > .right {flex:1 1 100%;max-width:none;width:100%;}
	.main-section04 .map-wrap {}
	.main-section04 .map-wrap .map-pin {display:block;}
	.custom-info .custom-info-content {padding-right:20px;overflow:auto;height:calc(100% - 61px);}
	.custom-info .tab-sub > .tab-mobile-trigger {margin-bottom:20px;}
	.custom-info .tab-sub-column > .tab-list {height:auto;padding-right:0;max-height:153px;overflow:auto;}
	.custom-info .custom-info-content .tabpanel-wrap {height:auto;}
	.main-section04 .custom-swiper .swiper-button-wrap.first {display:flex;margin-right:15px;}
	.main-section04 .custom-swiper .swiper-button-wrap.first .swiper-button-prev {border-right:1px solid var(--grayd);border-radius:3px;}
	.main-section04 .custom-swiper .swiper-button-wrap.first .swiper-button-next {display:none;}
	.main-section04 .custom-swiper .swiper-button-wrap.last .swiper-button-prev {display:none;}
	.main-section04 .custom-swiper .swiper-button-wrap.last .swiper-button-next {border-radius:3px;}

}
/* TABLET */
@media screen and (min-width:1024px) and (max-width:1279px) {
	.main-section04 .section-inner .table-caption .dummy {flex:1;}

}
/* MOBILE */
@media screen and (max-width:1024px) {
	.custom-info .custom-info-title {flex-wrap:wrap;flex-direction:column;height:61px;justify-content:center;}

}

/* main-section05 */
.main-section05 {}
.main-section05 .section-inner {padding-bottom:0;}
.service-list {display:flex;margin-left:-40px;overflow:hidden;}
.service-list dl {display:flex;flex-wrap:wrap;}
.service-list dl.n2 {flex:2;}
.service-list dl.n1 {flex:1;}
.service-list dl dt {flex:1 1 100%;font-size:20px;font-weight:700;color:var(--black);padding:0 40px;}
.service-list dl dd {position:relative;display:flex;margin-top:10px;flex:1;align-items:center;justify-content:space-between;padding:0 40px;}
.service-list dl dd:after {content:'';position:absolute;right:-1px;top:0;width:1px;height:100%;background-color:var(--graye);}
.service-list dl.n1 dd {border-right:0;}
.service-list dl dd a {display:inline-flex;font-size:22px;font-weight:700;color:var(--blue);}
.service-list dl dd a:after {display:block;content:'';position:absolute;left:0;top:0;width:100%;height:100%;}
.service-list dl dd .thumb {margin-left:10px;}
.service-list dl dd.list01 .thumb {flex:0 0 52px;}
.service-list dl dd.list02 .thumb {flex:0 0 73px;}
.service-list dl dd.list03 .thumb {flex:0 0 61px;}
/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
}
/* TABLET */
@media screen and (min-width:1024px) and (max-width:1279px) {

}
/* MOBILE */
@media screen and (max-width:1023px) {
	.service-list {flex-direction:column;margin:0 20px;}
	.service-list dl.n2 {flex:1;}
	.service-list dl.n1 {flex:1;}
	.service-list dl {padding-top:35px;}
	.service-list dl dt {padding:0;}
	.service-list dl dd {flex:1 1 100%;margin:0;padding:0 0 35px;}
	.service-list dl dd + dd {padding-top:35px;}
	.service-list dl dd:after {content:'';position:absolute;right:0;top:auto;bottom:-1px;width:100%;height:1px;background-color:var(--graye);}

}

/* main-section06 */
.main-brand-list {word-break:break-all;}
.main-brand-list ul {display:flex;flex-wrap:wrap;}
.main-brand-list ul li {flex:0 0 calc(100% / 4 - 10px);margin:10px 0 0 10px;}
.main-brand-list ul li a {display:flex;flex-direction:column;border:1px solid var(--grayc);border-radius:20px;height:150px;justify-content:center;padding:15px;transition:background-color 0.3s var(--cubic);}
.main-brand-list ul li a .thumb {display:flex;align-items:center;justify-content:center;margin-bottom:10px;}
.main-brand-list ul li a dl {}
.main-brand-list ul li a dl dt {font-size:20px;color:var(--blue);font-weight:700;text-align:center;}
.main-brand-list ul li a dl dd {display:none;font-size:16px;line-height: 20px;color:var(--white);margin-top:6px;text-align:center;}
.main-brand-list ul li a:hover,
.main-brand-list ul li a:focus {background-color:#0072ad;border-color:transparent;}

.main-brand-list ul li a:hover dl dt,
.main-brand-list ul li a:focus dl dt {color:var(--yellow);}
.main-brand-list ul li a:hover dl dd,
.main-brand-list ul li a:focus dl dd {display:block;}

.main-brand-list .thumb .st0 {fill:var(--black3);}
.main-brand-list a:hover .st0,
.main-brand-list a:focus .st0 {fill:var(--white);}

.main-brand-list .thumb .st1 {fill:#43baff;}
.main-brand-list a:hover .st1,
.main-brand-list a:focus .st1 {fill:#fff568;}
.main-brand-list .thumb .svg-elem-1 {transition:fill 0.3s var(--cubic) 0s;}
.main-brand-list .thumb .svg-elem-2 {transition:fill 0.3s var(--cubic) 0.2s;}
.main-brand-list .thumb .svg-elem-3 {transition:fill 0.3s var(--cubic) 0.4s;}
.main-brand-list .thumb .svg-elem-4 {transition:fill 0.3s var(--cubic) 0.6s;}
.main-brand-list .thumb .svg-elem-5 {transition:fill 0.3s var(--cubic) 0.8s;}
.main-brand-list .thumb .svg-elem-6 {transition:fill 0.3s var(--cubic) 1s;}
.main-brand-list .thumb .svg-elem-7 {transition:fill 0.3s var(--cubic) 1.2s;}

.main-brand-list .thumb .svg01 {width:60px;height:60px;}
.main-brand-list .thumb .svg02 {width:60px;height:60px;}
.main-brand-list .thumb .svg03 {width:56px;height:59px;}
.main-brand-list .thumb .svg04 {width:60px;height:60px;}
.main-brand-list .thumb .svg05 {width:50px;height:60px;}
.main-brand-list .thumb .svg06 {width:60px;height:60px;}
.main-brand-list .thumb .svg07 {width:60px;height:60px;}
.main-brand-list .thumb .svg08 {width:60px;height:60px;}
.main-brand-list .thumb .svg09 {width:60px;height:60px;}
.main-brand-list .thumb .svg10 {width:65px;height:65px;}


/* DESKTOP & TABLET */
@media screen and (min-width:1279px) {
	.main-brand-list ul li a:hover .thumb,
	.main-brand-list ul li a:focus .thumb {display:none;}
}
/* TABLET */
@media screen and (min-width:1024px) and (max-width:1279px) {
	.main-section06 .section-inner {max-width:800px;}

	.main-brand-list ul li {flex:0 0 calc(100% / 2 - 10px);margin:10px 0 0 10px;}
	.main-brand-list ul li a {flex-direction:row;padding:24px 20px 20px 40px;justify-content:flex-start;height: 100%;}
	.main-brand-list ul li a .thumb {flex:0 0 60px;margin-right:20px;margin-bottom: 0;}
	.main-brand-list ul li a dl dt{text-align:left;}
	.main-brand-list ul li a dl dd {display:block;color:var(--black6);text-align:left;}
	.main-brand-list ul li a dl dd {display:block;color:var(--black6);text-align:left;}
	.main-brand-list ul li a:hover dl dd,
	.main-brand-list ul li a:focus dl dd {color:var(--white);}
}
/* MOBILE */
@media screen and (max-width:1023px) {
	.main-brand-list ul li {flex:0 0 calc(100% / 2 - 10px);margin:10px 0 0 10px;}
	.main-brand-list ul li a {flex-direction:column;padding:30px 10px;text-align:center;height:100%;justify-content:flex-start;}
	.main-brand-list ul li a dl dd {display:block;color:var(--black6);text-align:center;}
	.main-brand-list ul li a:hover dl dd,
	.main-brand-list ul li a:focus dl dd {color:var(--white);}
}


/* main-section07 */
.main-section07 {overflow:hidden;}
.main-now-list {position:relative;}
.main-now-list .swiper-slide a {display:block;position:relative;}
.main-now-list .swiper-slide a .thumb {position:relative;display:flex;align-items:center;justify-content:center;border:1px solid var(--grayc);border-radius:20px;overflow:hidden;isolation: isolate;aspect-ratio:1/1;}
.main-now-list .swiper-slide a .thumb img {transition:transform 0.5s var(--cubic);}
.main-now-list .swiper-slide a:hover .thumb img,
.main-now-list .swiper-slide a:focus .thumb img {transform:scale(1.1);}
.main-now-list .swiper-slide a .thumb:before {display:block;content:'';position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;transition:opacity 0.3s var(--cubic);background-color:rgba(0, 0, 0, 0.3);z-index:1;}
.main-now-list .swiper-slide a:hover .thumb:before,
.main-now-list .swiper-slide a:focus .thumb:before {opacity:1;}
.main-now-list .swiper-slide a .thumb:after {display:block;content:'';position:absolute;left:50%;top:50%;margin-top:10px;transform:translate(-50%,-50%);width:50px;height:50px;background:url(../../images/front/main/arrow-main-now.png) center center / contain no-repeat;opacity:0;transition:margin 0.3s var(--cubic),opacity 0.3s var(--cubic);z-index:2;}
.main-now-list .swiper-slide a:hover .thumb:after,
.main-now-list .swiper-slide a:focus .thumb:after {opacity:1;margin-top:0;}
.main-now-list .swiper-slide a .thumb img {width:100%;height:100%;object-fit:cover;}
.main-now-list .swiper-slide a .thumb .tag {position:absolute;left:50%;bottom:10px;transform:translateX(-50%);}
.main-now-list .swiper-slide a p {font-size:16px;color:var(--black3);margin-top:6px;text-align:center;}

.main-now-list {
	--swiper-navigation-size : 50px;
}
.main-now-list .swiper-button-next, .main-now-list .swiper-button-prev {margin-top:calc(-12px - (var(--swiper-navigation-size)/ 2));width:var(--swiper-navigation-size);height:var(--swiper-navigation-size);color:var(--black6);border:1px solid var(--graye);border-radius:50%;}
.main-now-list .swiper-button-next:hover,
.main-now-list .swiper-button-next:focus,
.main-now-list .swiper-button-prev:hover,
.main-now-list .swiper-button-prev:focus {box-shadow:0 3px 4px 0 rgba(0, 0, 0, 0.1);color:var(--green);}
.main-now-list .swiper-button-next:after, .main-now-list .swiper-button-prev:after {font-size:26px;}
.main-now-list .swiper-button-prev {left:-70px;}
.main-now-list .swiper-button-next {right:-70px;}


/* main-section08 */
.main-section08 {}
.main-section08 .section-inner {display:flex;}
.main-section08 .section-inner > .left {flex:0 0 50%;padding-right:20px;}
.main-section08 .section-inner > .right {flex:0 0 50%;padding-left:20px;}

.community-lounge {}
.community-lounge ul {display:flex;flex-wrap:wrap;border:1px solid var(--graye);border-radius:10px;overflow:hidden;}
.community-lounge ul li {flex:0 0 50%;border-left:1px solid var(--graye);border-top:1px solid var(--graye);}
.community-lounge ul li:nth-child(odd) {border-left:0;}
.community-lounge ul li:first-child,
.community-lounge ul li:first-child + li {border-top:0;}
.community-lounge ul li a {display:flex;height:150px;padding-left:54px;align-items:center;}
.community-lounge ul li .thumb {width:60px;height:60px;}
.community-lounge ul li .thumb img {width:100%;}
.community-lounge ul li strong {position:relative;display:flex;align-items:center;justify-content:center;font-size:18px;color:var(--black3);margin-left:20px;}
.community-lounge ul li strong:after {display:block;content:'';width:6px;height:10px;flex:0 0 6px;-webkit-mask-image:url(../../images/front/main/arrow-commuinity.png);mask-image:url(../../images/front/main/arrow-commuinity.png);-webkit-mask-size:contain;-webkit-mask-position:center center;mask-size:contain;mask-position:center center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;background-color:#129be2;margin-left:7px;}

.en-edu-list {background:url(../../images/front/main/bg-edu.png) center center / cover no-repeat;border-radius:10px;height:303px;padding:30px 40px;}
.en-edu-list ul {display:flex;flex-wrap:wrap;margin:-8px 0 0 -18px;}
.en-edu-list ul li {flex:0 0 calc(50% - 18px);margin:8px 0 0 18px;}
.en-edu-list ul li a {display:flex;align-items:center;justify-content:space-between;border:1px solid #bfd9e1;border-radius:5px;font-size:16px;font-weight:500;color:var(--black3);background-color:var(--white);padding:3px 18px 3px 15px;}
.en-edu-list ul li a:after {display:block;content:'';width:6px;height:10px;flex:0 0 6px;-webkit-mask-image:url(../../images/front/main/arrow-commuinity.png);mask-image:url(../../images/front/main/arrow-commuinity.png);-webkit-mask-size:contain;-webkit-mask-position:center center;mask-size:contain;mask-position:center center;-webkit-mask-repeat:no-repeat;mask-repeat:no-repeat;background-color:#129be2;margin-left:7px;}
/* TABLET & MOBILE */
@media screen and (max-width:1279px) {
	.main-section08 .section-inner {display:block;}
	.main-section08 .section-inner > .left {padding-right:0;}
	.main-section08 .section-inner > .right {padding-left:0;}

	.community-lounge {}
	.community-lounge ul {}
	.community-lounge ul li a {height:190px;padding-left:0;flex-direction:column;justify-content:center;}
	.community-lounge ul li strong {margin-left:0;margin-top:20px;text-align:center;}

	.en-edu-list {background:url(../../images/front/main/bg-edu-mo.png) center bottom / cover no-repeat;height:400px;}
	.en-edu-list ul {margin:0;}
	.en-edu-list ul li {flex:1 1 100%;margin:8px 0 0;}
	.en-edu-list ul li:first-child {margin-top:0;}
}