@charset "utf-8";
/* autocomplete */
.autoComplete_wrapper>ul {position:absolute;max-height:281px;left:0;right:0;z-index:1;background-color:var(--white);transition:opacity .1s var(--cubic);border:1px solid #cccccc;border-top:0;border-radius:0 0 25px 25px;display:block;width:402px;margin-left:-1px;padding:15px 25px;}
.autoComplete_wrapper>ul:empty,.autoComplete_wrapper>ul[hidden] {display:none;opacity:0;transform:scale(0);}
.autoComplete_wrapper>ul>li {}
.autoComplete_wrapper>ul>li mark {background-color:transparent;color:var(--green);font-weight:700;}
.autoComplete_wrapper>ul>li {display:flex;font-size:15px;line-height:25px;color:var(--black3);padding:0 5px;}
.autoComplete_wrapper>ul>li>a {margin-left:10px;color:#237db1;}

.autoComplete_wrapper>ul>li:hover {cursor:pointer;background-color:#0e836c26;}
.autoComplete_wrapper>ul>li[aria-selected="true"] {background-color:#F7F7F7;}

@media screen and (max-width:1023px) {
	.autoComplete_wrapper>ul {width:calc(100% + 2px);margin-left:-1px;padding:15px 25px;}
}

/* flatpickr */
.flatpickr-calendar .flatpickr-months {height:50px;justify-content:center;}
.flatpickr-calendar .flatpickr-months .flatpickr-next-month {display:none;}
.flatpickr-calendar .flatpickr-months .flatpickr-prev-month,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month {position:static;height:100%;padding:0;aspect-ratio:1/1;display:flex;align-items:center;justify-content:center;}
.flatpickr-calendar .flatpickr-months .flatpickr-month {display:flex;height:50px;justify-content:center;}
.flatpickr-calendar .flatpickr-current-month {display:flex;flex-direction:row-reverse;justify-content:center;width:auto;height:50px;align-items:center;font-size:18px;color:var(--black3);padding:10px 0;}
.flatpickr-calendar .flatpickr-current-month .numInputWrapper {display:flex;width:60px;flex:auto;height:100%;}
.flatpickr-calendar .flatpickr-current-month .flatpickr-monthDropdown-months {margin:0;padding:0;color:var(--black3);font-size:16px;}
.flatpickr-calendar .flatpickr-current-month input.cur-year {padding:0 0 0 5px;color:var(--black3);font-size:16px;}
.flatpickr-calendar .datepicker-list {padding: 0px 20px 20px;}
.flatpickr-calendar .datepicker-list ul {display:flex;justify-content:flex-end;}
.flatpickr-calendar .datepicker-list ul li {display:flex;font-size:14px;color:var(--black3);align-items:center;}
.flatpickr-calendar .datepicker-list ul li:not(:last-child) {margin-right:20px;}
.flatpickr-calendar .datepicker-list ul li:before {content:'';width:16px;height:16px;border-radius:3px;margin-right:5px;}
.flatpickr-calendar .datepicker-list ul li.dot-white:before {border:1px solid var(--grayc);background-color:var(--white);}
.flatpickr-calendar .datepicker-list ul li.dot-blue:before {border:1px solid #7dc1f0;background-color:#aad8f8;}
.flatpickr-calendar .datepicker-list ul li.dot-red:before {border:1px solid #ffa1a1;background-color:#ffc5c5;}
.flatpickr-calendar .datepicker-list ul li.dot-green:before {border:1px solid #84caaa;background-color:#a7ddb8;}
.flatpickr-calendar .datepicker-list ul li.dot-gray:before {border:1px solid var(--grayc);background-color:var(--grayd);}

.flatpickr-calendar .flatpickr-day {flex-direction:column;align-items:center;justify-content:center;line-height:1;}
.flatpickr-calendar .flatpickr-day:after {content:'';width:8px;height:8px;margin-top:5px;border-radius:50%;}
.flatpickr-calendar .flatpickr-day.dot-blue:after {background-color:#aad8f8;}
.flatpickr-calendar .flatpickr-day.dot-red:after {background-color:#ffc5c5;}
.flatpickr-calendar .flatpickr-day.dot-green:after {background-color:#a7ddb8;}
.flatpickr-calendar .flatpickr-day.dot-gray:after {background-color:var(--grayd);}
.flatpickr-calendar .flatpickr-day.flatpickr-disabled:after {background-color:transparent;}
.flatpickr-calendar .flatpickr-day.prevMonthDay,
.flatpickr-calendar .flatpickr-day.nextMonthDay {opacity: 1;}
.flatpickr-calendar .flatpickr-day.nextMonthDay {display:none;}
.flatpickr-calendar.inline {top: 0;width:100%;box-shadow:none;border:1px solid var(--graye);max-width: none;margin-top: 0;min-height:420px;}
.flatpickr-calendar.inline span.flatpickr-weekday,
.flatpickr-calendar.inline .flatpickr-day {flex: 0 0 calc(100% / 7);aspect-ratio: 1/1;display: flex;align-items: center;justify-content: center;}

@media screen and (max-width:1279px) {
	.flatpickr-calendar.inline {margin:0 auto;width:380px;min-height:0;max-width: 100%;}
}