@charset "utf-8";

/* button */
.btn-xlarge {display:inline-flex;align-items:center;justify-content:center;min-width:25.6rem;height:6.4rem;font-size:2rem;border-radius:0.5rem;padding:0 1.6rem;font-weight:700;white-space:nowrap;text-align:center;}
.btn-large {display:inline-flex;align-items:center;justify-content:center;height:54px;font-size:18px;border-radius:10px;padding:0 30px;font-weight:500;white-space:nowrap;min-width:120px;text-align:center;}
.btn-medium {display:inline-flex;align-items:center;justify-content:center;height:40px;font-size:16px;border-radius:5px;padding:0 20px;font-weight:500;white-space:nowrap;min-width:80px;text-align:center;}
.btn-small {display:inline-flex;align-items:center;justify-content:center;height:30px;font-size:15px;border-radius:5px;padding:0 10px;white-space:nowrap;min-width:65px;text-align:center;}
.btn-xsmall {display:inline-flex;align-items:center;justify-content:center;height:20px;font-size:13px;border-radius:3px;padding:0 5px;white-space:nowrap;text-align:center;}
.btn-xlarge:disabled,
.btn-large:disabled,
.btn-medium:disabled,
.btn-small:disabled {background-color:var(--graye)!important;border:1px solid transparent!important;color:var(--grayc)!important;}

.btn-blue {background-color:var(--blue);color:var(--white);border:1px solid transparent;}
.btn-gray {background-color:var(--grayd);color:var(--black3);border:1px solid transparent;}
.btn-green {background-color:var(--green);color:var(--white);border:1px solid transparent;}
.btn-red {background-color:var(--sred);color:var(--white);border:1px solid transparent;}
.btn-transparent {color:var(--black3);border:1px solid transparent;padding:0;}
.btn-dblue {background-color:var(--dblue);color:var(--white);border:1px solid transparent;padding:0 55px;}

.btn-outline-blue {background-color:var(--white);color:var(--blue);border:1px solid var(--lblue);}
.btn-outline-black {background-color:var(--white);color:var(--black3);border:1px solid var(--grayc);}
.btn-outline-gray {background-color:var(--white);color:var(--black9);border:1px solid var(--grayc);}
.btn-kakao {background-color:#fae100;color:#371d1e;border:1px solid transparent;font-size:14px;height:24px;padding:0 10px 0 6px;}
.btn-kakao:before {content:'';width:18px;height:17px;background:url(../../images/front/ico/ico-kakao.png) center center / contain no-repeat;margin-right:4px;}
.btn-fingerprint {position:relative;width:100%;}
.btn-fingerprint:before {content:'';position:absolute;left:20px;top:50%;transform:translateY(-50%);width:35px;height:32px;background:url(../../images/front/ico/ico-fingerprint.png) center center / contain no-repeat;}
/* button inner icon size */
[class*="btn-before"][class*="btn-large"]:before {content:'';margin-left:-2px;margin-right:8px;}
[class*="btn-after"][class*="btn-large"]:after {content:'';margin-left:8px;margin-right:-2px;}
[class*="btn-before"][class*="btn-medium"]:before {content:'';margin-left:-2px;margin-right:5px;}
[class*="btn-after"][class*="btn-medium"]:after {content:'';margin-left:5px;margin-right:-2px;}
[class*="btn-before"][class*="btn-small"]:before {content:'';margin-left:-2px;margin-right:5px;}
[class*="btn-after"][class*="btn-small"]:after {content:'';margin-left:5px;margin-right:-2px;}
[class*="btn-before"][class*="btn-transparent"]:before {content:'';margin-right:5px;margin-left:0;}
[class*="btn-after"][class*="btn-transparent"]:after {content:'';margin-left:5px;margin-right:0;}

/* button inner icon color */
.btn-blue[class*="btn-before"]:before,
.btn-blue[class*="btn-after"]:after {background-color:var(--white);}
.btn-gray[class*="btn-before"]:before,
.btn-gray[class*="btn-after"]:after {background-color:var(--black3);}
.btn-green[class*="btn-before"]:before,
.btn-green[class*="btn-after"]:after {background-color:var(--white);}
.btn-red[class*="btn-before"]:before,
.btn-red[class*="btn-after"]:after {background-color:var(--white);}
.btn-outline-blue[class*="btn-before"]:before,
.btn-outline-blue[class*="btn-after"]:after {background-color:var(--blue);}
.btn-outline-black[class*="btn-before"]:before,
.btn-outline-black[class*="btn-after"]:after {background-color:var(--black3);}
.btn-outline-gray[class*="btn-before"]:before,
.btn-outline-gray[class*="btn-after"]:after {background-color:var(--black9);}
.btn-transparent[class*="btn-before"]:before,
.btn-transparent[class*="btn-after"]:after {background-color:var(--black3);}

/* button inner icon image */
[class^="btn-"][class*="before-link-arrow"]:before,
[class^="btn-"][class*="after-link-arrow"]:after {width:14px;height:6px;-webkit-mask:url(../../images/front/arrow/arrow-icon-banner.png) center center / contain no-repeat;mask:url(../../images/front/arrow/arrow-icon-banner.png) center center / contain no-repeat;}
[class^="btn-"][class*="before-download"]:before,
[class^="btn-"][class*="after-download"]:after {width:16px;height:16px;-webkit-mask:url(../../images/front/ico/ico-download.png) center center / contain no-repeat;mask:url(../../images/front/ico/ico-download.png) center center / contain no-repeat;}
[class^="btn-"][class*="before-blank"]:before,
[class^="btn-"][class*="after-blank"]:after {width:16px;height:16px;-webkit-mask:url(../../images/front/ico/ico-blank.png) center center / contain no-repeat;mask:url(../../images/front/ico/ico-blank.png) center center / contain no-repeat;}
[class^="btn-"][class*="before-refresh"]:before,
[class^="btn-"][class*="after-refresh"]:after {width:11px;height:13px;-webkit-mask:url(../../images/front/ico/ico-refresh.png) center center / contain no-repeat;mask:url(../../images/front/ico/ico-refresh.png) center center / contain no-repeat;}
[class^="btn-"][class*="before-prev"]:before {width:6px;height:10px;-webkit-mask:url(../../images/front/arrow/arrow-prev.png) center center / contain no-repeat;mask:url(../../images/front/arrow/arrow-prev.png) center center / contain no-repeat;}
[class^="btn-"][class*="after-next"]:after {width:6px;height:10px;-webkit-mask:url(../../images/front/arrow/arrow-next.png) center center / contain no-repeat;mask:url(../../images/front/arrow/arrow-next.png) center center / contain no-repeat;}
[class^="btn-"][class*="-before-search"]:before,
[class^="btn-"][class*="-after-search"]:after {width:15px;height:15px;-webkit-mask:url(../../images/front/ico/ico-search.png) center center / contain no-repeat;mask:url(../../images/front/ico/ico-search.png) center center / contain no-repeat;}


/* btn-wrap */
.btn-wrap {display:flex;align-items:center;justify-content:center;margin-top:40px;}
.btn-wrap .left {flex:1;display:flex;justify-content:flex-start;}
.btn-wrap .right {flex:1;display:flex;justify-content:flex-end;}
.btn-wrap .center {flex:1;display:flex;justify-content:center;}
.btn-wrap > .left *:not(:last-child),
.btn-wrap > .right *:not(:last-child),
.btn-wrap > .center *:not(:last-child) {margin-right:10px;}

/* icon */
.icon {display:inline-flex;-webkit-mask-size:contain;mask-size:contain;mask-repeat:no-repeat;mask-position:center center;-webkit-mask-size:contain;-webkit-mask-repeat:no-repeat;-webkit-mask-position:center center;background-color:var(--black6);}
.icon-circle-close {width:17px;height:17px;background:url(../../images/front/ico/ico-circle-close.png) center center / 17px 17px no-repeat;}
.icon-remove {width:30px;height:30px;background:url(../../images/front/ico/ico-remove.png) center center / 30px 30px no-repeat;}
.icon-up {width:30px;height:30px;background:url(../../images/front/ico/ico-up.png) center center / 30px 30px no-repeat;}
.icon-down {width:30px;height:30px;background:url(../../images/front/ico/ico-down.png) center center / 30px 30px no-repeat;}
.icon-notice {width:16px;height:16px;-webkit-mask-image:url(../../images/front/ico/ico-notice.png);mask-image:url(../../images/front/ico/ico-notice.png);-webkit-mask-size:16px 16px;mask-size:16px 16px;}
.icon-speaker {width:19px;height:14px;-webkit-mask-image:url(../../images/front/ico/ico-speaker.png);mask-image:url(../../images/front/ico/ico-speaker.png);-webkit-mask-size:19px 14px;mask-size:19px 14px;}
.icon-speaker-large {width:20px;height:17px;-webkit-mask-image:url(../../images/front/ico/ico-speaker-large.png);mask-image:url(../../images/front/ico/ico-speaker-large.png);-webkit-mask-size:20px 17px;mask-size:20px 17px;}
.icon-datepicker {width:16px;height:16px;-webkit-mask-image:url(../../images/front/ico/ico-datepicker.png);mask-image:url(../../images/front/ico/ico-datepicker.png);-webkit-mask-size:16px 16px;mask-size:16px 16px;}
.icon-doc {width:14px;height:16px;-webkit-mask-image:url(../../images/front/ico/ico-doc.png);mask-image:url(../../images/front/ico/ico-doc.png);-webkit-mask-size:14px 16px;mask-size:14px 16px;}
.icon-career {width:16px;height:16px;-webkit-mask-image:url(../../images/front/ico/ico-career.png);mask-image:url(../../images/front/ico/ico-career.png);-webkit-mask-size:16px 16px;mask-size:16px 16px;}
.icon-cert {width:14px;height:20px;-webkit-mask-image:url(../../images/front/ico/ico-cert.png);mask-image:url(../../images/front/ico/ico-cert.png);-webkit-mask-size:14px 20px;mask-size:14px 20px;}
.icon-location {width:13px;height:17px;-webkit-mask-image:url(../../images/front/ico/ico-location.png);mask-image:url(../../images/front/ico/ico-location.png);-webkit-mask-size:13px 17px;mask-size:13px 17px;}
.icon-lockon {width:14px;height:18px;-webkit-mask-image:url(../../images/front/ico/ico-lockon.png);mask-image:url(../../images/front/ico/ico-lockon.png);-webkit-mask-size:14px 18px;mask-size:14px 18px;}
.icon-lockoff {width:14px;height:18px;-webkit-mask-image:url(../../images/front/ico/ico-lockoff.png);mask-image:url(../../images/front/ico/ico-lockoff.png);-webkit-mask-size:14px 18px;mask-size:14px 18px;}
.icon-man {width:12px;height:13px;-webkit-mask-image:url(../../images/front/ico/ico-man.png);mask-image:url(../../images/front/ico/ico-man.png);-webkit-mask-size:12px 13px;mask-size:12px 13px;}
.icon-men {width:17px;height:11px;-webkit-mask-image:url(../../images/front/ico/ico-men.png);mask-image:url(../../images/front/ico/ico-men.png);-webkit-mask-size:17px 11px;mask-size:17px 11px;}
.icon-attachment {width:14px;height:21px;-webkit-mask-image:url(../../images/front/ico/ico-attachment.png);mask-image:url(../../images/front/ico/ico-attachment.png);-webkit-mask-size:14px 21px;mask-size:14px 21px;}
.icon-new {width:16px;height:16px;-webkit-mask-image:url(../../images/front/ico/ico-new.png);mask-image:url(../../images/front/ico/ico-new.png);-webkit-mask-size:16px 16px;mask-size:16px 16px;}
.icon-plus {width:12px;height:12px;-webkit-mask-image:url(../../images/front/ico/ico-plus.png);mask-image:url(../../images/front/ico/ico-plus.png);-webkit-mask-size:12px 12px;mask-size:12px 12px;}
.icon-sort-album {width:14px;height:14px;-webkit-mask-image:url(../../images/front/ico/ico-sort-album.png);mask-image:url(../../images/front/ico/ico-sort-album.png);-webkit-mask-size:14px 14px;mask-size:14px 14px;}
.icon-sort-list {width:12px;height:12px;-webkit-mask-image:url(../../images/front/ico/ico-sort-list.png);mask-image:url(../../images/front/ico/ico-sort-list.png);-webkit-mask-size:12px 12px;mask-size:12px 12px;}
.icon-incorrect {width:20px;height:20px;background:url(../../images/front/ico/ico-incorrect.png) center center / contain no-repeat;}
.icon-correct {width:20px;height:20px;background:url(../../images/front/ico/ico-correct.png) center center / contain no-repeat;}
.icon-message {width:20px;height:12px;-webkit-mask-image:url(../../images/front/ico/ico-message.png);mask-image:url(../../images/front/ico/ico-message.png);-webkit-mask-size:20px 12px;mask-size:20px 12px;}
.icon-info-password {width:48px;height:41px;background:url(../../images/front/ico/ico-info-password.png) center center / contain no-repeat;}
.icon-info-warning {width:47px;height:48px;background:url(../../images/front/ico/ico-info-warning.png) center center / contain no-repeat;}
.icon-share-facebook {width:9px;height:18px;-webkit-mask-image:url(../../images/front/ico/ico-share-facebook.png);mask-image:url(../../images/front/ico/share-facebook.png);-webkit-mask-size:9px 18px;mask-size:9px 18px;}
.icon-share-twitter {width:17px;height:14px;-webkit-mask-image:url(../../images/front/ico/ico-share-twitter.png);mask-image:url(../../images/front/ico/share-twitter.png);-webkit-mask-size:17px 14px;mask-size:17px 14px;}
.icon-share-naverblog {width:13px;height:18px;-webkit-mask-image:url(../../images/front/ico/ico-share-naverblog.png);mask-image:url(../../images/front/ico/share-naverblog.png);-webkit-mask-size:13px 18px;mask-size:13px 18px;}
.icon-share-kakaostory {width:9px;height:17px;-webkit-mask-image:url(../../images/front/ico/ico-share-kakaostory.png);mask-image:url(../../images/front/ico/share-kakaostory.png);-webkit-mask-size:9px 17px;mask-size:9px 17px;}

/* tag */
.tag {display:inline-flex;align-items:center;justify-content:center;font-size:14px;height:24px;min-width:58px;padding:0 10px;border-radius:50px;white-space:nowrap;}

.tag.tag-green {background-color:#eefdf8;color:#088659;border:1px solid #35a07a;}
.tag.tag-blue {background-color:#eff8fd;color:#0a6ea7;border:1px solid #1476ae;}
.tag.tag-brown {background-color:#fcf5ef;color:#9e5317;border:1px solid #d3b196;}
.tag.tag-red {background-color:#fff7f6;color:#e25344;border:1px solid #f6b5ae;}
.tag.tag-purple {background-color:#f8f0fc;color:#8c5da4;border:1px solid #cda9e0;}
.tag.tag-olive {background-color:#f5fae4;color:#537600;border:1px solid #c2d28f;}

.box-tag {position:relative;display:inline-flex;align-items:center;justify-content:center;font-size:13px;height:20px;padding:0 5px;border-radius:3px;white-space:nowrap;color:var(--white);margin:2px 5px 2px 0px;vertical-align:top;}
.box-tag.tag-green {background-color:var(--green);color:var(--white);}
.box-tag.tag-gray {background-color:var(--graye);color:var(--black6);}

/* .box-tag:before {content:'';position:absolute;left:-10px;top:0;width:10px;height:10px;border-left:1px solid var(--grayc);border-bottom:1px solid var(--grayc);} */

/* extension */
.ex {display:inline-flex;align-items:center;justify-content:center;width:24px;height:24px;}
.ex-doc {background:url(../../images/front/ico/ex-doc.png) center center / contain no-repeat;}
.ex-excel {background:url(../../images/front/ico/ex-excel.png) center center / contain no-repeat;}
.ex-hwp {background:url(../../images/front/ico/ex-hwp.png) center center / contain no-repeat;}
.ex-img {background:url(../../images/front/ico/ex-img.png) center center / contain no-repeat;}
.ex-pdf {background:url(../../images/front/ico/ex-pdf.png) center center / contain no-repeat;}
.ex-ppt {background:url(../../images/front/ico/ex-ppt.png) center center / contain no-repeat;}
.ex-zip {background:url(../../images/front/ico/ex-zip.png) center center / contain no-repeat;}

/* flag */
.flag {display:inline-flex;width:70px;height:65px;-webkit-mask-image:url(../../images/front/ico/ico-flag.png);mask-image:url(../../images/front/ico/ico-flag.png);font-size:14px;font-weight:500;color:var(--white);padding:14px 7px 0 3px;justify-content:center;}

/* select */
select {display:block;width:100%;height:40px;font-size:16px;color:var(--black3);padding:0 10px;border:1px solid var(--grayc);background-color:var(--white);border-radius:5px;}
select:disabled {border:1px solid var(--grayc);background-color:var(--graye);color:var(--grayc);}
select option[value=""][disabled] {display:none;}
select.medium {height:32px;}

/* input type text */
input:not([type="checkbox"],[type="radio"]){display:block;width:100%;height:40px;font-size:16px;color:var(--black3);font-weight:400;padding:0 10px;border:1px solid var(--grayc);background-color:var(--white);border-radius:5px;}
input:not([type="checkbox"],[type="radio"]):disabled {border:1px solid var(--grayc);background-color:var(--graye);color:var(--grayc);}
input:not([type="checkbox"],[type="radio"])[readonly] {background-color:var(--bg7);}
input:not([type="checkbox"],[type="radio"])::placeholder {color:var(--black9);}
input[type="date"]::-webkit-calendar-picker-indicator {background:url(../../images/front/ico/ico-datepicker.png) center center / 16px 16px no-repeat;}
input[type="date"]::-webkit-calendar-picker-indicator:hover {cursor:pointer;}
input[type="number"] {}

textarea {display:block;width:100%;height:160px;font-size:16px;color:var(--black3);font-weight:400;padding:10px;border:1px solid var(--grayc);background-color:var(--white);border-radius:5px}
textarea:disabled {border:1px solid var(--grayc);background-color:var(--graye);color:var(--grayc);}
textarea[readonly] {background-color:var(--bg7);}
textarea::placeholder {color:var(--black9);}
textarea.areaResize {overflow:hidden;}

/* input file */
.inp-file {display:flex;align-items:center;}
.inp-file-text {display:block;width:100%;height:40px;font-size:16px;line-height:38px;color:var(--black3);font-weight:400;padding:0 10px;border:1px solid var(--grayc);background-color:var(--white);border-radius:5px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;margin-right:10px;}
.inp-file-text:disabled {border:1px solid var(--grayc);background-color:var(--graye);color:var(--grayc);}
.inp-file-text.placeholder {color:var(--black9);}
.table-row .form-input.form-input-file {display:block;}
.form-input-file label {display:flex;flex:1 1 100%;}

.form-input-file ul:not(:empty) {margin-top:15px;}
.form-input-file ul:not(:empty):only-child {margin-top:0;}
.form-input-file ul li {display:flex;align-items:center;font-size:16px;line-height:24px;}
.form-input-file ul li:first-child {}
.form-input-file ul li:not(:last-child) {margin-bottom:12px;}
.form-input-file ul li:before {content:'';flex:0 0 24px;height:24px;margin-right:6px;}
.form-input-file ul li[data_ext="xls"]:before,
.form-input-file ul li[data_ext="xlsx"]:before {background:url(../../images/front/ico/ex-excel.png) center center / contain no-repeat;}
.form-input-file ul li[data_ext="doc"]:before,
.form-input-file ul li[data_ext="docx"]:before {background:url(../../images/front/ico/ex-doc.png) center center / contain no-repeat;}
.form-input-file ul li[data_ext="hwp"]:before,
.form-input-file ul li[data_ext="hwpx"]:before {background:url(../../images/front/ico/ex-hwp.png) center center / contain no-repeat}
.form-input-file ul li[data_ext="jpg"]:before,
.form-input-file ul li[data_ext="jpeg"]:before,
.form-input-file ul li[data_ext="png"]:before,
.form-input-file ul li[data_ext="gif"]:before,
.form-input-file ul li[data_ext="tif"]:before,
.form-input-file ul li[data_ext="tiff"]:before {background:url(../../images/front/ico/ex-img.png) center center / contain no-repeat;}
.form-input-file ul li[data_ext="pdf"]:before {background:url(../../images/front/ico/ex-pdf.png) center center / contain no-repeat;}
.form-input-file ul li[data_ext="ppt"]:before,
.form-input-file ul li[data_ext="pptx"]:before {background:url(../../images/front/ico/ex-ppt.png) center center / contain no-repeat;}
.form-input-file ul li[data_ext="zip"]:before {background:url(../../images/front/ico/ex-zip.png) center center / contain no-repeat;}
.form-input-file ul li .name {text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.form-input-file ul li button {display:flex;align-items:center;justify-content:center;flex:0 0 24px;height:24px;margin-left:6px;}

.form-input-file.form-input-thumb label.form-input {display:inline-flex;flex-wrap:wrap;}
.form-input-thumb .logo-image {display:flex;width:242px;height:122px;/* padding:10px; */border:1px solid var(--grayc);align-items:center;justify-content:center;border-radius:5px;}
.form-input-thumb .logo-image .logo-text {font-size:30px;color:var(--grayc);}
.form-input-thumb .logo-image img[src=""] {display:none;}
.form-input-thumb .logo-image img:not([src=""]) ~ .logo-text {display:none;}
.form-input-thumb .logo-image img {width:100%;height:100%;object-fit:contain;border-radius:inherit;}
@media screen and (max-width:1279px) {
	.table-row .form-input:not(.form-input-file) > *:not(:last-child):not(.label) {margin-bottom:10px;margin-right:0;}
}
/* input type cheeckbox */
.inp {display:inline-flex;align-items:center;justify-content:center;}
.inp input[type="radio"] {position:relative;display:inline-flex;appearance:none;cursor:inherit;}
.inp input[type="radio"]:before {content:'';width:20px;height:20px;background:url(../../images/front/form/input-radio.png) center center / contain no-repeat;}
.inp input[type="radio"]:checked:before {background:url(../../images/front/form/input-radio-checked.png) center center / contain no-repeat;}
.inp input[type="radio"]:disabled:before {background:url(../../images/front/form/input-radio-disabled.png) center center / contain no-repeat;}
.inp input[type="radio"]:checked:disabled:before {background:url(../../images/front/form/input-radio-checked-disabled.png) center center / contain no-repeat;}

.inp input[type="checkbox"] {display:inline-flex;appearance:none;cursor:inherit;}
.inp input[type="checkbox"]:before {content:'';width:20px;height:20px;background:url(../../images/front/form/input-checkbox.png) center center / contain no-repeat;}
.inp input[type="checkbox"]:checked:before {background:url(../../images/front/form/input-checkbox-checked.png) center center / contain no-repeat;}
.inp input[type="checkbox"]:disabled:before {background:url(../../images/front/form/input-checkbox-disabled.png) center center / contain no-repeat;}
.inp input[type="checkbox"]:checked:disabled:before {background:url(../../images/front/form/input-checkbox-checked-disabled.png) center center / contain no-repeat;}

.inp b {font-size:16px;font-weight:400;color:var(--black3);margin-left:10px;line-height:20px;}
.inp *:disabled ~ b {color:var(--grayc);}

/* asterisk */
.ast {display:inline-flex;font-size:inherit;font-weight:inherit;color:#ff2828;margin-right:3px;}


/* toggle layerpopup */
.toggleParent {position:relative;z-index:1;}
.toggleParent .toggle-layer {display:none;}
.toggleParent.active .toggle-layer {display:block;}

.toggle-layer {position:relative;}
.toggle-layer .toggle-layer-inner {display:none;position:absolute;left:50%;top:calc(100% + 10px);width:300px;transform:translateX(-50%);border:1px solid #dbdbdb;box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.1);border-radius:10px;background-color:#fffef1;padding:30px 20px 20px;z-index:1;}
.toggle-layer .toggle-layer-close {position:absolute;display:block;left:50%;margin-left:-20px;top:0;width:40px;height:20px;background:url(../../images/front/btn/btn-toggle-layer-close.png) center center / contain no-repeat;}
.toggle-layer.active .toggle-layer-inner {display:block;}

.toggle-layer .toggle-layer-title {display:flex;align-items:center;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid var(--grayc);}
.toggle-layer .toggle-layer-title strong {font-size:18px;font-weight:500;}
.toggle-layer .toggle-layer-inner > ul {}
.toggle-layer .toggle-layer-inner > ul > li {border-bottom:1px solid var(--grayd);}

/*layerpopup*/
.layer-popup {z-index:-2000;position:fixed;left:0;top:0;width:100%;height:100%;display:flex;align-items:center;justify-content:center;overflow:auto;opacity:0;visibility:hidden;}
.layer-popup.active {z-index:2000;animation:fadeIn 0.3s var(--cubic) both;}
@keyframes fadeIn{
	0% {
		visibility:hidden;
		opacity:0;
	}
	100% {
		visibility:visible;
		opacity:1;
	}
}
@keyframes popUp{
	0% {
		transform:translateY(20px);
	}
	100% {
		transform:translateY(0);
	}
}

.layer-dimmed {display:none;z-index:1999;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.8;}
.layer-popup.active .layer-dimmed {display:block;}
.layer-popup .layer-wrap {position:relative;z-index:2000;background:var(--white);display:block;max-width:100%;}
.layer-popup.active .layer-wrap {animation:popUp 0.3s var(--cubic) both;}
.layer-wrap {padding:23px 30px 40px;border-radius:20px;border:1px solid var(--grayd);}
.layer-wrap .btn-layer-close {position:absolute;right:-17px;top:-11px;width:50px;height:50px;background:url(../../images/front/btn/btn-layer-close.png) center center / 18px 18px no-repeat;}
.layer-wrap .layer-header {position:relative;border-bottom:1px solid var(--grayc);}
.layer-wrap .layer-header .tit {display:block;font-size:20px;color:var(--green);padding-bottom:10px;}
.layer-wrap .layer-content {padding-top:30px;max-height:71vh;overflow:auto;}
.layer-wrap .btn-wrap {margin-top:20px;}

.layer-wrap .layer-cookie {display:flex;margin-top:60px;justify-content:center;}
.layer-wrap .layer-cookie .no-display {font-size:13px;font-weight:300;color:var(--black9);text-decoration:underline;}

/*layerpopup size*/
.layer-popup.layer-large .layer-wrap {width:640px;}
.layer-popup.layer-medium .layer-wrap {width:440px;}



/* table */
.table-caption {display:flex;align-items:center;margin-bottom:12px;}
.table-caption h3 {font-size:20px;font-weight:500;color:var(--black);}
.table-caption p {font-size:16px;color:var(--black3);}
.table-caption p b {font-weight:500;color:var(--blue);}
.table-caption .left {}
.table-caption .right {margin-left:auto;}
.table-caption .sort-tab {}
.table-caption .sort-tab ul {display:flex;}
.table-caption .sort-tab ul li {position:relative;display:flex;}
.table-caption .sort-tab ul li:not(:last-child):after {display:block;content:'';position:absolute;right:0;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:var(--grayc);}
.table-caption .sort-tab ul li a,
.table-caption .sort-tab ul li button {display:flex;align-items:center;justify-content:center;padding:0 10px;}
.table-caption .sort-tab ul li .icon {margin-right:5px;}
.table-caption .sort-tab ul li.active .icon {background-color:var(--blue);}
.table-caption .sort-tab ul li.active a,
.table-caption .sort-tab ul li.active button {color:var(--blue);}

.table-col {}
.table-col table {width:100%;table-layout:fixed;border-top:2px solid var(--black3);}
.table-col.table-layout-auto table {table-layout:auto;}
.table-col table th {height:50px;font-size:16px;font-weight:400;color:var(--black6);padding:8px 5px;text-align:center;border-bottom:1px solid var(--graye);background-color:var(--bg5);word-break:keep-all;}

.table-col table tr th:not(:first-child) {border-left:1px solid var(--graye);}
.table-col table tr ~ tr th {border-left:1px solid var(--graye);}
.table-col table td {position:relative;height:60px;font-size:16px;color:var(--black3);padding:16px;border-bottom:1px solid var(--graye);background-color:var(--white);text-align:center;}
.table-col table td.al {padding-left:20px;}
.table-col table td.ar {padding-right:20px;}
.table-col table tr td:not(:first-child) {border-left:1px solid var(--graye);}

.table-col table td a.link {position:relative;display:inline-block;vertical-align:top;}
.table-col table td a.ellipsis {display:-webkit-inline-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;overflow:hidden;text-overflow:ellipsis;}
.table-col table td.al a.link {}
.table-col table td.al a.new {padding-right:20px;}
.table-col table td a.new:after {display:block;content:'';position:absolute;right:0;top:0;margin-top:4px;width:16px;height:16px;background:url(../../images/front/ico/ico-new.png) center center / contain no-repeat;}

.table-col table .nodata {padding:110px 0;}
.table-col table .nodata p {display:flex;align-items:center;justify-content:center;font-size:16px;font-weight:300;color:var(--black9);}
.table-col table .nodata p .icon {margin-right:5px;}
.table-col.table-layout-auto table td.al a {white-space:normal;padding-right:0;}
.table-col.table-layout-auto table td.al a.new:after {display:inline-block;position:static;margin:0 0 0 5px;height:24px;vertical-align:top;}
.table-col .tr-checked td {background-color:#fffef1;}
.table-col .tr-check {}

@media screen and (max-width:1279px) {
	.table-col:not(.table-col-mo) {overflow:auto;}
	.table-col:not(.table-col-mo) table {min-width:calc(1280px - 30px);}
	.table-col-mo {}
	.table-col-mo table {display:block;}
	.table-col-mo colgroup {display:none;}
	.table-col-mo table thead {position:absolute!important;color:transparent!important;opacity:0!important;width:1px!important;height:1px!important;font-size:1px!important;overflow:hidden!important;}
	.table-col-mo table tbody {position:relative;display:block;overflow:hidden;}
	.table-col-mo table tbody tr {display:flex;flex-wrap:wrap;padding:10px;border-bottom:1px solid var(--grayd);margin-left:-10px;}
	.table-col-mo table tbody tr td {position:relative;height:auto;font-size:14px;color:var(--black6);border-bottom:0;padding:0 10px;margin-bottom:4px;border-left:0;}
	.table-col-mo table tr td:not(:first-child) {border-left:0;}
	.table-col-mo table td.al {padding-left:inherit;}
	.table-col-mo table td.ar {padding-right:inherit;}
	.table-col-mo table tbody tr td:before {display:block;content:'';position:absolute;left:-1px;top:50%;transform:translateY(-50%);width:1px;height:12px;background-color:var(--grayd);}
	.table-col-mo table tbody tr td.article {flex:0 0 calc(100% - 10px);}
	.table-col.table-col-mo table .nodata {padding:40px 0;flex:1 1 100%;margin-bottom:0;}
}

.table-row {}
.table-row table {width:100%;table-layout:fixed;border-top:2px solid var(--black3);}
.table-row table th {height:60px;font-size:16px;font-weight:400;color:var(--black6);padding:10px;text-align:center;border-bottom:1px solid var(--graye);background-color:var(--bg5);word-break:keep-all;}
.table-row table th .ast {margin:0 0 0 5px;}
.table-row table td {height:60px;font-size:16px;color:var(--black3);padding:10px 20px;text-align:left;border-bottom:1px solid var(--graye);background-color:var(--white);border-left:1px solid var(--graye);}
@media screen and (max-width:1279px) {
	.table-row:not(.table-row-mo) table {display:block;}
	.table-row:not(.table-row-mo) colgroup {display:none;}
	.table-row:not(.table-row-mo) tbody {display:block;}
	.table-row:not(.table-row-mo) tr {display:flex;flex-wrap:wrap;}
	.table-row:not(.table-row-mo) tr th {flex:0 0 115px;height:auto;text-align:left;}
	.table-row:not(.table-row-mo) tr td {flex:1 1 calc(100% - 115px);height:auto;}

	.table-row-mo {}
	.table-row-mo table {display:block;}
	.table-row-mo colgroup {display:none;}
	.table-row-mo tbody {display:block;}
	.table-row-mo tbody tr {display:block;}
	.table-row-mo tbody tr th {display:block;height:auto;background-color:var(--white);text-align:left;border-bottom:0;padding:20px 10px 10px;}
	.table-row-mo tbody tr td {display:block;height:auto;background-color:var(--white);text-align:left;border:0;border-bottom:1px solid var(--graye);padding:0 10px 20px;}
	.table-row-mo tbody tr th[rowspan] {padding-bottom:15px;border-bottom:1px dashed var(--graye);}
	.table-row-mo tbody tr th[rowspan] + td,
	.table-row-mo tbody tr td:only-child {padding-top:20px;border-bottom:1px dashed var(--graye);}
}
	
.table-combi {}
.table-combi table {width:100%;table-layout:fixed;border-top:2px solid var(--black3);}
.table-combi table th {height:50px;font-size:16px;font-weight:400;color:var(--black3);padding:8px 5px;text-align:center;border-bottom:1px solid var(--graye);word-break:keep-all;}
.table-combi table tr th:not(:first-child),
.table-combi table tbody tr td {border-left:1px solid var(--graye);}
.table-combi table thead th {background-color:#e3ebef;}
.table-combi table tbody th {background-color:var(--bg5);}
.table-combi table td {height:50px;font-size:16px;color:var(--black6);padding:10px 20px;border-bottom:1px solid var(--graye);background-color:var(--white);text-align:center;}
.table-combi table tfoot td {background-color:#fffef1;}
.table-combi table tfoot td:not(:first-child) {border-left:1px solid var(--graye);}


table .url {text-decoration:underline;color:var(--blue);}
table .tr-check .inp {position:absolute;left:0;top:0;width:100%;height:100%;}
table .desc {font-size:14px;color:var(--black9);margin-top:5px;}
table th small {font-size:0.875em;}

@media screen and (max-width:1279px) {
	table th small.vt {vertical-align:middle!important;}
}
.search-filter + .table-col {margin-top:55px;}

/* pagination */
.pagination {display:flex;align-items:center;justify-content:center;margin-top:40px;font-family:'Roboto';}
.pagination button:not(:last-child) {margin-right:2px;}
.pagination button.first {width:32px;height:32px;background:url(../../images/front/arrow/arrow-pagination-first.png) center center / 10px 10px no-repeat var(--white);padding:0;}
.pagination button.prev {width:32px;height:32px;background:url(../../images/front/arrow/arrow-pagination-prev.png) center center / 6px 10px no-repeat var(--white);padding:0;margin-right:10px;}
.pagination button.next {width:32px;height:32px;background:url(../../images/front/arrow/arrow-pagination-next.png) center center / 6px 10px no-repeat var(--white);padding:0;margin-left:8px;}
.pagination button.last {width:32px;height:32px;background:url(../../images/front/arrow/arrow-pagination-last.png) center center / 10px 10px no-repeat var(--white);padding:0;}
.pagination button {min-width:32px;height:32px;font-size:15px;color:var(--black6);text-align:center;padding:0 5px;display:inline-flex;align-items:center;justify-content:center;border:1px solid var(--grayd);border-radius:5px;}
.pagination button.active {font-weight:500;color:var(--white);background-color:var(--blue);border:1px solid transparent;border-color:transparent;}


@media screen and (max-width:1279px) {
	.pagination button:not(.first,.prev,.next,.last,.active) {display:none;}
}

/* tab-content */
.tab-content .tabpanel {display:none;}
.tab-content .tabpanel.active {display:block;}
.tab-round {box-shadow:0px 1px 3px 0px rgba(0, 0, 0, 0.1);}
.tab-round .tab-list {display:flex;}
.tab-round .tab-list li {flex:1;position:relative;}
.tab-round .tab-list li button {display:flex;width:100%;height:50px;font-size:18px;font-weight:500;background-color:var(--sgreen);color:var(--white);align-items:center;justify-content:center;border-radius:5px 5px 0 0;transition:background-color 0.3s var(--cubic);}
.tab-round .tab-list li:first-child button {border-radius:20px 5px 0 0;}
.tab-round .tab-list li:last-child button {border-radius:5px 20px 0 0;}
.tab-round .tab-list li:not(.active):not(:last-child) button {border-right:1px solid #20936b;}
.tab-round .tab-list li.active button {background-color:var(--white);font-weight:700;color:var(--black);box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.1);}
.tab-round .tab-list li a {position:absolute;right:15px;top:15px;display:flex;width:24px;height:24px;border:1px solid var(--graye);border-radius:5px;align-items:center;justify-content:center;background-color:var(--white);opacity:0;z-index:-1;transition:opacity 0.3s var(--cubic);}
.tab-round .tab-list li.active a {opacity:1;z-index:auto;}

.tab-sub {position:relative;}
.tab-sub .tab-mobile-trigger {display:none;}
.tab-sub .tab-list {display:flex;margin:0 5px 50px;}
.tab-sub .tab-list li {flex:1;position:relative;}
.tab-sub .tab-list li a,
.tab-sub .tab-list li button {display:flex;width:calc(100% + 10px);margin:0 -5px;height:50px;font-size:18px;color:var(--black6);font-weight:500;background-color:#fbfbfb;border:1px solid var(--graye);border-bottom-color:var(--blue);align-items:center;justify-content:center;transition:background-color 0.3s var(--cubic);}
.tab-sub .tab-list li:first-child a,
.tab-sub .tab-list li:first-child button {border-radius:5px 0 0 0;}
.tab-sub .tab-list li:last-child a,
.tab-sub .tab-list li:last-child button {border-radius:0 5px 0 0;}
.tab-sub .tab-list li.active a,
.tab-sub .tab-list li.active button {position:relative;z-index:1;background-color:var(--white);font-weight:700;color:var(--blue);border-color:var(--blue);border-bottom-color:transparent;border-radius:5px 5px 0 0;}

@media screen and (max-width:1279px) {
	.tab-sub .tab-mobile-trigger {position:relative;display:flex;width:100%;font-size:16px;font-weight:500;color:var(--blue);align-items:center;justify-content:center;padding:12px 34px;border:1px solid var(--blue);border-radius:5px;margin-bottom:30px;}
	.tab-sub .tab-mobile-trigger:after {display:block;content:'';position:absolute;right:20px;top:50%;transform:translateY(-50%);width:14px;height:8px;background:url(../../images/front/arrow/arrow-tab-trigger.png) center center / contain no-repeat;}
	.tab-sub .tab-list {display:none;position:absolute;left:0;top:60px;width:100%;margin:0;border:1px solid var(--graye);border-radius:5px;background-color: var(--white);}
	.tab-sub .tab-list li:not(:last-child) {border-bottom:1px solid var(--graye);}
	.tab-sub .tab-list li a,
	.tab-sub .tab-list li button {width:100%;margin:0;font-size:16px;color:var(--black3);background-color:var(--white);border:0;align-items:center;justify-content:center;}
	.tab-sub .tab-list li:first-child a,
	.tab-sub .tab-list li:first-child button {border-radius:0}
	.tab-sub .tab-list li:last-child a,
	.tab-sub .tab-list li:last-child button {border-radius:0;}
	.tab-sub .tab-list li.active a,
	.tab-sub .tab-list li.active button {color:var(--blue);background-color: transparent;}
	.tab-sub.active .tab-list {display:block;}
	
}

.tab-main {}
.tab-main .tab-list {display:flex;}
.tab-main .tab-list li {flex:1;position:relative;}
.tab-main .tab-list li button {display:flex;width:100%;height:50px;font-size:20px;font-weight:400;background-color:#fbfbfb;border:1px solid var(--graye);color:var(--black3);align-items:center;justify-content:center;transition:background-color 0.3s var(--cubic);}
.tab-main .tab-list li:first-child button {border-radius:10px 0 0 10px;}
.tab-main .tab-list li:last-child button {border-radius:0 10px 10px 0;}
.tab-main .tab-list li:not(.active):not(:last-child) button {border-right-color:transparent;}
.tab-main .tab-list li.active button {background-color:var(--white);font-weight:700;color:var(--brown);border-color:var(--brown);}


/* toggle */
.toggleParent > .toggleTarget {display:none;}
.toggleParent.active > .toggleTarget {display:block;z-index:1;}

/* toggle */
.dropDown {position:relative;}
.dropDown .trigger {position:relative;}
.dropDown.active {z-index:1;}


/* ico-alert */
.ico-alert {display:inline-flex;align-items:center;font-size:1.6rem;vertical-align:top;}
.ico-alert.toggleTrigger {display:flex;}
.ico-alert.toggleTrigger:before {margin-right:0;width:1.9rem;height:1.7rem;}
.ico-alert:before {content:'';width:1.6rem;height:1.6rem;-webkit-mask:url(../../images/front/ico/ico-alert.svg) center center / contain no-repeat;mask:url(../../images/front/ico/ico-alert.svg) center center / contain no-repeat;margin-right:0.8rem;}
.ico-alert.red {color:var(--red);}
.ico-alert.blue {color:var(--tblue);}
.ico-alert.green {color:#00943C;}
.ico-alert.red:before {background-color:var(--red);}
.ico-alert.blue:before {background-color:var(--tblue);}
.ico-alert.green:before {background-color:#00943C;}


/* tooltip */
.tooltip {position:relative;display:flex;z-index:4;font-weight:400;}
.tooltip .toggleTrigger {position:relative;}
.tooltip .toggleTrigger:before {display:none;}
.tooltip .tooltip-content {position:absolute;background-color:var(--blue);border-radius:0.5rem;padding:1.8rem 1rem;left:-2rem;bottom:calc(100% + 2rem);display:none;white-space:nowrap;}
.tooltip .tooltip-content.tooltip-right {left:auto;right:-2rem;}
.tooltip.active .tooltip-content {display:block;}
.tooltip.active .toggleTrigger:before {display:block;content:'';position:absolute;left:50%;transform:translateX(-50%);top:-2.4rem;border-left:1.4rem solid transparent;border-right:1.4rem solid transparent;border-top:2rem solid var(--blue)}
.tooltip .tooltip-content {font-size:1.4rem;color:var(--white);}
.tooltip .tooltip-content .dot-list li {position:relative;padding-left:2rem;}
.tooltip .tooltip-content .dot-list li:before {content:'\00B7';position:absolute;left:1rem;top:0;width:0.3rem;height:0.3rem;border-radius:50%;}

/* step-content */
.step-content .step-list {display:flex;flex-wrap:wrap;margin-bottom:5rem;}
.step-content .step-list li {flex:1;}
.step-content .step-list li {position:relative;display:flex;align-items:center;justify-content:center;width:100%;font-size:2rem;height:4.8rem;background:var(--gray0);color:var(--gray2);border-left:0.1rem solid #DDDDDD;border-top:0.1rem solid #DDDDDD;border-bottom:0.1rem solid #DDDDDD;}
.step-content .step-list li:last-of-type{border-right:0.1rem solid #DDDDDD;}
.step-content .step-list li.on {background:var(--blue);border:none;color:var(--white);font-weight:700;}

/* list */
.box-desc-list {padding:25px 45px;color:var(--black6);border-radius:5px;}
.box-desc-list ul {}
.box-desc-list ul li {position:relative;font-size:14px;padding-left:8px;}
.box-desc-list ul li:not(:last-child) {margin-bottom:8px;}
.box-desc-list ul li:before {content:'\00B7';font-size:inherit;color:inherit;position:absolute;left:0;top:0;}

.box-notice-list {}
.box-notice-list dl {}
.box-notice-list dl dt {background-color:var(--blue);display:flex;align-items:center;justify-content:center;font-size:16px;color:var(--white);padding:8px;border-radius:5px 5px 0 0;}
.box-notice-list dl dt .icon-notice {background-color:var(--white);margin-right:6px;}
.box-notice-list dl dd {border:1px solid var(--graye);border-top:0;padding:20px;}
.box-notice-list dl dd:last-child {border-radius:0 0 5px 5px;}
.box-notice-list dl dd ~ dd {}
.box-notice-list dl dd ul {}
.box-notice-list dl dd ul li {position:relative;font-size:16px;color:var(--black3);padding-left:14px;}
.box-notice-list dl dd ul li:not(:last-child) {margin-bottom:3px;}
.box-notice-list dl dd ul li:before {content:'';width:7px;height:2px;position:absolute;left:0;top:12px;background-color:var(--blue);}

.dot-list {}
.dot-list > li {position:relative;padding-left:2rem;}
.dot-list > li:before {content:'\00B7';font-size:inherit;color:inherit;position:absolute;left:0;top:0;width:2rem;text-align:center;}
.dot-list ul {padding-left:1rem;}

.dot-list .hyp-list {margin-left:-2rem;}
.hyp-list > li {position:relative;padding-left:2rem;}
.hyp-list > li:before {content:'-';font-size:inherit;color:inherit;position:absolute;left:0;top:0;width:2rem;text-align:center;}

.dot-list .num-list {margin-left:-1.5rem;}
ul.num-list {counter-reset:number 0;}
ul.num-list > li {position:relative;padding-left:2rem;}
ul.num-list > li:before {counter-increment:number;content:counter(number)".";font-size:inherit;color:inherit;position:absolute;left:0;top:0;width:2rem;text-align:center;}
@counter-style circled-numbers {system: fixed;symbols:"\2460""\2461""\2462""\2463""\2464""\2465""\2466""\2467""\2468""\2469""\246A""\246B""\246C""\246D""\246E""\246F""\2470""\2471""\2472""\2473""\2474""\2475""\2476""\2477""\2478""\2479""\247A""\247B""\247C""\247D""\247E""\247F";}
ul.num-list.circle {counter-reset: myCounter;}
ul.num-list.circle > li:before {content: counter(myCounter, circled-numbers) " ";counter-increment: myCounter;}

/* star-rate */
.star-rate {display:flex;}
.star-rate > div {--percent:calc(var(--rating) / 5 * 100%);display:flex;font-size:1.6rem;}
.star-rate > div::before {content:'\2B50\2B50\2B50\2B50\2B50';letter-spacing:3px;background:linear-gradient(90deg, #fc0 var(--percent), var(--black) var(--percent));-webkit-background-clip:text;-webkit-text-fill-color:transparent;}

/* photo */
.photo {margin:2.4rem auto;display:flex;align-items:center;justify-content:center;}
.photo .thumb {display:flex;align-items:center;justify-content:center;background-color:var(--gray1);width:13.2rem;height:16.9rem;}
.photo .thumb img {width:100%;height:100%;object-fit:cover;}

@media screen and (max-width:1280px) {
	.layer-popup .layer-wrap {max-width:calc(100% - 30px)!important;max-height:calc(100% - 30px)!important;padding:23px 15px 30px;overflow:hidden;}
	.layer-wrap .layer-content {padding-top:20px;height:100%;position:relative;}
}