<form class=" form-horizontal row-border" id="schedTriggerUpdateForm">
    <input type="hidden" id="triggerid" name="triggerid" th:value="${schedInfo.triggerid}">
    <div class="card">
        <div class="card-header p-b-0">
            <h3 class="sub-title"><strong>기본정보</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            
           <div class="mb-3 form-group row">
               <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>트리거ID</strong></div>
               <div class="col-12 p-t-5 p-b-5">
                   <th:block th:text="${schedInfo.triggerid}" />
               </div>
           </div>
            <div class="mb-3 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>트리거명</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="nm" id="nm" placeholder="" th:value="${schedInfo.nm}" th:readonly="${schedInfo.activeYn == 'Y'}"/>
                </div>
            </div>
            <div class="mb-3 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>Job 이름</strong></label>
                <div class="col-12 p-t-5 p-b-5">
                    <th:block th:text="${schedInfo.jobName}" />
                </div>
            </div>
            <div class="mb-3 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>설명</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="dc" id="dc" placeholder="" th:value="${schedInfo.dc}"/>
                </div>
            </div>
            <div class="mb-3 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for=""><strong>크론표현식</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="cronExpression" id="cronExpression" placeholder="" th:value="${schedInfo.cronExpression}"/>
                </div>
            </div>
           <div class="mb-3 form-group row">
               <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>활성여부</strong></div>
               <div class="col-12 p-t-5 p-b-5">
                   <th:block th:text="${schedInfo.activeYn}" />
               </div>
           </div>
            <div class="mb-3 form-group row required">
                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사용여부</strong></div>
                <span kattr:radio_yn="useYn" label1="사용" label2="미사용" th:attr="defaultVal = ${schedInfo.useYn}" isAdmin="true"></span>
            </div>
        </div>
        <div class="card-block-small">
            <button class="btn btn-disabled" onclick="toggleContent(); return false;">취소</button>
            <th:block sec:authorize-url="/mng/scheduling/updateSchedTrigger.do">
                <button class="btn btn-primary" onclick="updateSchedTrigger()">저장</button>
            </th:block>
        </div>
    </div>
</form>

<!-- 실행이력 -->
<div class="col-12">
    <div class="card">
        <div class="row p-20 p-b-0">
            <div class="col-12">
                <h5><strong>실행이력</strong></h5>
            </div>
        </div>
        <div class="card-block-small">
            <!-- 임시그리드 -->
            <div class="dt-responsive table-responsive">
                <div id="" class="dataTables_wrapper dt-bootstrap4">
                    <table id="schedHistJsGrid"></table>
                    <div id="schedHistListPager" class="text-center"></div>
                </div>
            </div>
            <!-- //임시그리드 -->
        </div>
    </div>
</div>

<script type="text/javascript">
    
    $("#schedTriggerUpdateForm").validate({
        rules: {
             nm              :   { required: true, isBlank : true, maxlength: 60 }  
            ,dc              :   { maxlength: 160 }
            ,cronExpression :   { required: true, maxlength: 60 }  
        },
        messages: {
             nm              :   { required: "트리거명을 입력해주십시오.", isBlank : "트리거명에 공백이 있습니다.", maxlength: "트리거명은 60자 이하여야 합니다." }  
            ,dc              :   { maxlength: "설명은 160자 이하여야 합니다."  }
            ,cronExpression :   { required: "크론표현식을 입력해주십시오.", maxlength: "크론표현식은 60자 이하여야 합니다." }
        }
    })
    
    function updateSchedTrigger(){
        if(!($("#schedTriggerUpdateForm").valid())) return;
          
        //if(!confirm("저장하시겠습니까?")) return;
            
        var data =  $("#schedTriggerUpdateForm").serialize() ;
        
        if(displayWorkProgress()){
            $.ajax({
                url : "/mng/scheduling/updateSchedTrigger.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : data,
                success : function (data){
                    if(data.result=="success"){
                        alert(data.msg);
                        resetListContent();
                    }else{
                        alert(data.msg);
                    }
                    closeWorkProgress();
                }
            });
        }
    }
</script>
<script th:inline="javascript">

    var triggerid = /*[[${schedInfo.triggerid}]]*/null;
    
    function execSchedTrigger(){
        if(!confirm("실행하시겠습니까?")) return;
        
        if(displayWorkProgress()){
            $.ajax({
                url : "/mng/scheduling/execSchedTrigger.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : { triggerid : triggerid },
                success : function (data){
                    if(data.result=="success"){
                        alert(data.msg);
                        resetSchedHistListContent();
                    }else{
                        alert(data.msg);
                    }
                    closeWorkProgress();
                }
            });
        }
    }
    
    function resetSchedHistListContent(){
        //리셋하고 현재 페이지로 돌아간다.
        var curPage = $("#schedHistJsGrid").jsGrid("option", "pageIndex");
        $("#schedHistJsGrid").jsGrid("reset").done(function(){
            $("#schedHistJsGrid").jsGrid("openPage", curPage);
        });
    }
</script>
<script th:inline="javascript">

    var triggerid = /*[[${schedulingVo.triggerid}]]*/null;
             
    $(function(){
        schedHistGridInit();
        
        function schedHistGridInit(){
            $("#schedHistJsGrid").jsGrid({
                height: "auto",
                width: "100%",
                autoload: true,
                sorting: false,
                paging: true,
                pagerContainer: "#schedHistListPager",
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagePrevText: "이전",
                pageNextText: "다음",
                pageFirstText: " < 처음 ㅣ",
                pageLastText: " | 마지막 >",
                pageSize: 10,
                pageButtonCount: 10,
                pageLoading: true,
                pageIndex: 1,
                noDataContent: "데이터가 없습니다.",
                
                controller: {
                    loadData: function (filter) {
                        var data = $.Deferred();
                                                
                        var params = [
                                {name: "triggerid", value: triggerid},
                                {name: "pageNumber", value: filter.pageIndex},
                                {name: "rowPerPage", value: filter.pageSize},
                        ]
                        
                        if(filter.sortField != undefined){
                            params.push({name: "orderField", value: filter.sortField});
                            params.push({name: "orderDirection", value: filter.sortOrder});
                        }else{
                            params.push({name: "orderField", value: "job_strt_dt"});
                        }
                        
                        $.ajax({
                          type: "GET",
                          contentType: "application/json; charset=utf-8",
                          url: "/mng/scheduling/selectSchedHistList.do",
                          dataType: "json",
                          data: params
                        }).done(function(response){
                            var da = {
                                    data : escapeGridData(response.list)
                                    ,itemsCount : response.totalCount
                                };
                          data.resolve(da);
                        });
                        return data.promise();
                    }
                },
                fields: [
                     //{ title: '번호'     ,name: 'rowNumber',      type: "number", width : "5%", align:"center",  sorting :false }
                     { title: '시작일시'    ,name: 'jobStrtDt',    type: "text", width: "40%" }
                    ,{ title: '종료일시'    ,name: 'jobEndDt',     type: "text", width: "40%" }
                    ,{ title: '상태'       ,name: 'sttsCd',        type: "text", width: "20%", align:"center", cellRenderer: cellRendererSttsNm }
                ]
            });     
        }
    });
    
    function cellRendererSttsNm(value, item){
        if(item.sttsCd == 'S'){
            return '<td>성공</td>';
        } else if(item.sttsCd == 'F'){
            return '<td>실패</td>';
        } 
    }  
</script>