<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/mng/mainLayout">
    
<body>
    <div layout:fragment="content">

    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;">
                <div class="col-12">
                    <div class="card">
                        <div class="card-block-small">
                            <!-- 키워드 filter -->
                            <div class="row">
    
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사용여부</strong></div>
                                        <div class="col-sm-12">
                                            <select name="useYn" id="useYn" class="form-select form-select-sm form-control-sm">
                                                <option value="">-전체-</option>
                                                <option value="Y">Y</option>
                                                <option value="N">N</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                        <div class="input-group input-group-sm input-group-dropdown mb-0">
                                            <select id="searchType" name="searchType" class="form-select form-control">
                                                <option value="nm">트리거명</option>
                                                <option value="job_name">Job이름</option>
                                                <option value="dc">설명</option>
                                            </select>
                                            <input type="text" class="form-control" id="searchKeyword" name="searchKeyword"
                                                   aria-label="Text input with dropdown button">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //키워드 filter -->
                            <!-- 키워드 filter-btn -->
                            <div class="mt-1 p-t-20 text-center border-top">
                                <button type="button" class="btn btn-disabled m-r-5">초기화</button>
                                <button type="submit" class="btn btn-primary" onclick="fn_searchForm()">검색</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6">
                            <h5><strong>스케줄링 검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <th:block sec:authorize-url="/mng/scheduling/schedulingForm.html">
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="fn_goForm();">트리거 추가</button>
                            </th:block>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
            
            <div class="col-12">
                <div id="contentPanel"></div>
            </div>
       
<script type="text/javascript">

        $(function(){
            writeJsGridData();
        });
        
        function fn_goForm(){
            var formUrl ="/mng/scheduling/schedulingForm.html";
            loadContent(formUrl);
        }
    
        function fn_searchForm(){
            resetListContent();
        }
    
        function writeJsGridData(){
            $("#jsGrid").jsGrid({
                    height: "auto",
                    width: "100%",
                    autoload: true,
                    sorting: true,
                    paging: true,
                    pagerContainer: "#listPager",
                    pagerFormat: "{first} {prev} {pages} {next} {last}",
                    pagePrevText: "이전",
                    pageNextText: "다음",
                    pageFirstText: " < 처음 ㅣ",
                    pageLastText: " | 마지막 >",
                    pageSize: 10,
                    pageButtonCount: 10,
                    pageLoading: true,
                    pageIndex: 1,
                    noDataContent: "데이터가 없습니다.",
                    
                    controller: {
                        loadData: function (filter) {
                            var data = $.Deferred();
                            
                            var formData = $('#searchFrm').serializeArray();
                            var params = [
                                    {name: "pageNumber", value: filter.pageIndex},
                                    {name: "rowPerPage", value: filter.pageSize},
                            ]
                            
                            if(filter.sortField != undefined){
                                params.push({name: "orderField", value: filter.sortField});
                                params.push({name: "orderDirection", value: filter.sortOrder});
                            }else{
                                params.push({name: "orderField", value: 'triggerid'});
                            }
                            formData = formData.concat(params);
                            
                            $.ajax({
                              type: "GET",
                              contentType: "application/json; charset=utf-8",
                              url: "/mng/scheduling/selectSchedTriggerList.do",
                              dataType: "json",
                              data: formData
                            }).done(function(response){
                                var da = {
                                        data : escapeGridData(response.list)
                                        ,itemsCount : response.totalCount
                                    };
                              data.resolve(da); 
                            });
                            return data.promise();
                        },
                    },
                    fields: [ 
                        { name: 'rowNumber',title:'번호'   , type: "number" , width: "3%", align:"center", sorting: false },
                        { name: 'triggerid' , title:"트리거ID", type: "number"   , width: "7%"  , align:"center"},
                        { name: 'nm' , title:"트리거명"    , type: "text"   , width: "20%", align:"center"},
                        { name: 'jobName', title:"Job 이름"   , type: "text"   , width: "20%", align:"center"},
                        { name: 'dc', title:"설명"   , type: "text"   , width: "20%", sorting: false },
                        { name: 'cronExpression', title:"크론표현식", type: "text",  width: "10%" , align:"center", sorting: false },
                        { name: 'activeYn', title:"활성여부", type: "text",  width: "10%" , align:"center"},
                        { name: 'useYn', title:"사용여부", type: "text",  width: "10%" , align:"center"}
                    ],
                    /*[# sec:authorize-url="/mng/scheduling/schedulingUpdate.html"]*/
                    rowClick: function(args) {
                        var updateUrl = "/mng/scheduling/schedulingUpdate.html?triggerid=" + args.item.triggerid; 
                        loadContent(updateUrl);
                    },
                    /*[/]*/
            });
        }
</script>
       
    </div>
</body>
</html>