<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title th:text="${session.site.siteNm}">페이지 타이틀</title>
    <!--[if lt IE 10]>
      <script src="/js/common/html5shiv.js"></script>
      <script src="/js/common/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/files/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/themify-icons/themify-icons.css">
    <!-- ion icon css -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/ion-icon/css/ionicons.min.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/feather/css/feather.css">

    <link rel="stylesheet" type="text/css"
          href="/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/files/assets/pages/list-scroll/list.css">
    <link rel="stylesheet" type="text/css" href="/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

    <!-- Select 2 css -->
    <link rel="stylesheet" href="/files/bower_components/select2/dist/css/select2.min.css"/>
    <!-- Multi Select css -->
    <link rel="stylesheet" type="text/css"
          href="/files/bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" type="text/css" href="/files/bower_components/multiselect/css/multi-select.css"/>
    <!-- Switch component css -->
    <link rel="stylesheet" type="text/css" href="/files/bower_components/switchery/dist/switchery.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/files/assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/mngs/dynatree/ui.dynatree.css">
    <link rel="stylesheet" type="text/css" href="/css/mngs/dynatree/jquery.contextMenu.css">
    <link rel="stylesheet" type="text/css" href="/js/common/jsgrid-master/dist/jsgrid.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/common/jsgrid-master/dist/jsgrid-theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/mngs/jgrid/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/mngs/jgrid/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="/css/mngs/jgrid/jquery-ui.theme.css">

    <!-- 관리자 임의 추가 css -->
    <link rel="stylesheet" type="text/css" href="/css/mngs/admin.common.css">
    <script type="text/javascript" src="/files/bower_components/jquery/dist/jquery.min.js"></script>

</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <th:block th:replace="layout/mng/mainHeader"></th:block>
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <th:block th:replace="layout/mng/mainLeft"></th:block>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <!-- Main-body start -->
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <!-- Page body start -->
                                    <div layout:fragment="content"></div>
                                    <!-- Page body end -->
                                </div>
                            </div>
                            <!-- Main-body end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span th:replace="layout/mng/jsCommon"></span>
    <script type="text/javascript" src="/files/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/files/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/files/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/files/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
    <!-- Accordion js -->
    <script type="text/javascript" src="/files/assets/pages/accordion/accordion.js"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="/files/bower_components/i18next/i18next.min.js"></script>
    <script type="text/javascript"
            src="/files/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript"
            src="/files/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/jquery-i18next/jquery-i18next.min.js"></script>
    <!-- Switch component js -->
    <script type="text/javascript" src="/files/bower_components/switchery/dist/switchery.min.js"></script>
    <!-- Select 2 js -->
    <script type="text/javascript" src="/files/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- Multiselect js -->
    <script type="text/javascript"
            src="/files/bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="/files/bower_components/multiselect/js/jquery.multi-select.js"></script>
    <script type="text/javascript" src="/files/assets/js/jquery.quicksearch.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="/files/assets/pages/advance-elements/swithces.js"></script>
    <script type="text/javascript" src="/files/assets/pages/advance-elements/select2-custom.js"></script>
    <script src="/files/assets/js/pcoded.min.js"></script>
    <script src="/files/assets/js/vartical-layout.min.js"></script>
    <script src="/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/files/assets/js/script.js"></script>
    <script type="text/javascript">
        // 모달에서 공통검색조건 셀렉트박스를 펼쳤을때 dropdown이 나타나지않는 문제로 z-index적용
        $(document).on("select2:open", function (e) { $(".select2-dropdown").css('z-index',99999999999); });

        jQuery(function(){
            if('[[${#request.getAttribute('popupYn')}]]'=='Y'){
                 var menuid =  '[[${#request.getAttribute('menuid')}]]';
                 var siteid =  '[[${#request.getAttribute('siteid')}]]';
                 getDataForCommnonPopup(siteid, menuid);
            }
        });
    </script>
</body>

</html>
