<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>subLeft</title>
</head>
<body>
<script type="text/javascript">

	function goMenu(url, cmkey){
		jQuery("#form_menu").attr("action",url);
		jQuery("#form_menu input[id=cmkey]").val(cmkey);
		jQuery("#form_menu")[0].submit();
	}
	
	function goMenuNewWin(url, cmkey){
		jQuery("#form_menu").attr("action",url);
		jQuery("#form_menu").attr("target","_blank");
		jQuery("#form_menu input[id=cmkey]").val(cmkey);
		jQuery("#form_menu")[0].submit();
		jQuery("#form_menu").attr("target","");
	}
	
	function goMenuPop(url, cmkey, width, height){
		Center_Fixed_Popup2("", cmkey, width, height, "no");
		jQuery("#form_menu").attr("action",url);
		jQuery("#form_menu").attr("target",cmkey);
		jQuery("#form_menu input[id=cmkey]").val(cmkey);
		jQuery("#form_menu")[0].submit();
		jQuery("#form_menu").attr("target","");
	}
	
	function changeRole(role){
		location.href = "/cmm/changeRole.do?p_role=" + role;
	}
</script>

<form name="form_menu" id="form_menu" th:action="@{/}" method="get" onsubmit="return false;">
	<input type="hidden" name="cmkey" id="cmkey" value="" />
</form>

<a href="/" class="logo">
	<img src="/images/mng/logo.png" alt="logo" style="margin-bottom: 17px">
</a>

<div id="menu">
	<ul>
		<th:block th:utext="${@menuPrintImpl.menuPrint()}" />  
	</ul>
</div>
</body>
</html>