<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/front/subLayout" >
<body>
    <div layout:fragment="content">

            <!-- content -->
            <div class="table-caption">
                <div class="left">
                    <h3 class="sub-title">지정관리 주의사항</h3>
                </div>
            </div>
            <form id="searchForm">
                <div id="chgAprvPopup"></div><!-- 변경승인팝업 -->
                <input type="hidden" id="pageNumber" name="pageNumber" value="1">
                <input type="hidden" id="aplcntid" name="aplcntid" value="">
                <input type="hidden" id="rowPerPage" name="rowPerPage" value="10">
                <input type="hidden" id="orderField" name="orderField" value="REG_DT">
                <input type="hidden" id="prgrmid" name="prgrmid" value="">
                <input type="hidden" id="aplyid" name="aplyid" value="">
            </form>

            <div class="tab-content tab-sub dropDown">
                <button type="button" class="tab-mobile-trigger trigger"  aria-expanded="true">변경내역</button>
                <ul class="tab-list tab-list-pc target">
                    <li class="tab"><a th:href="@{/front/dsgnMng/dsgnMngDetailForm.html?aplcntid=}+${aplcntid}" >지정내역</a></li>
                    <li class="tab active"><a id="chgDsctnTab" th:href="@{/front/dsgnMng/chgDsctnForm.html?aplcntid=}+${aplcntid}"  >변경내역</a></li>
                    <li class="tab"><a th:href="@{/front/dsgnMng/operRsltForm.html?aplcntid=}+${aplcntid}"  >운영결과</a></li>
                    <li class="tab"><a th:href="@{/front/dsgnMng/implmntIdntyForm.html?aplcntid=}+${aplcntid}"  >이행확인</a></li>
                    <li class="tab"><a th:href="@{/front/dsgnMng/objcAplyForm.html?aplcntid=}+${aplcntid}"  >이의신청</a></li>
                </ul>
            </div>

            <div class="table-caption flex-nowrap">
                <div class="right d-flex">
                    <div class="ml10"><button type="button" class="btn-medium btn-green" onclick="chgDsctn.goReg()">등록</button></div>
                </div>
            </div>

            <div class="pc-only">
                <div class="table-col table-layout-auto">
                    <table>
                        <caption>변경내역 - 번호, 지정번호, 프로그램명, 진행상태, 등록일</caption>
                        <colgroup>
                            <col style="width:6%;">
                            <col>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">지정번호</th>
                                <th scope="col">프로그램명</th>
                                <th scope="col">진행상태</th>
                                <th scope="col">등록일</th>
                            </tr>
                        </thead>
                        <tbody id="list-area"/>
                    </table>
                </div>
            </div>

            <div class="mo-only">
                <div class="table-list" >
                    <ul id="list-mobile-area"/>
                    </ul>
                </div>
            </div>

            <div id="pagination" class="pagination" aria-label="pagination"/>

            <!-- //content -->
        <script th:inline="javascript">

            var chgDsctn = {
                listUrl   :"/front/dsgnMng/selectChgDsctnList.do",
                dtlUrl :"/front/dsgnMng/chgAplyDetailForm.html",
                regUrl :"/front/dsgnMng/chgAplyInsertForm.html",

                selectList() {
                    if (displayWorkProgress(true)) {
                        let formData = $('#searchForm').serializeArray();

                        $.ajax({
                            url: chgDsctn.listUrl,
                            cache: false,
                            dataType: 'json',
                            data: formData,
                            type: 'GET',
                            success: function (response) {
                            	let data = response;
                            	$("#pagination").html(data.pagination);

                            	data = escapeData(response.list);
                            	chgDsctn.makeListHtml(data);
                                closeWorkProgress();
                            }
                        });
                    }
                },

                makeListHtml(data) {
                    var html = "";
                    var list = data;
                    var mobileHtml = "";


                    if (list == null || list.length <= 0) {
                        html += `<tr>
                                     <td class="nodata" colspan="5">
                                         <p><span class="icon icon-notice bg-black9"></span>변경내용이 없습니다.</p>
                                     </td>
                                </tr>`;

                        mobileHtml += `
                            <div class="nodata">
                                <p><span class="icon icon-notice bg-black9"></span>변경내용이 없습니다.</p>
                            </div>
                            `;
                    } else {
                        list.forEach(function (item) {

                            var dsgnNo       = item?.dsgnNo       ?? '';
                            var aplyid       = item?.aplyid       ?? '';
                            var prgrmNm      = item?.prgrmNm      ?? '';
                            var sttsCdNm     = item?.sttsCdNm     ?? '';
                            var sttsCd       = item?.sttsCd       ?? '';
                            var regDt        = item?.regDt        ?? '';
                            var splmntDmndCn = item?.splmntDmndCn ?? '';

                            html +=
                                `
                                <tr>
                                <td>${item.rowNumber}</td>
                                <td>${dsgnNo}</td>
                                <td><button type="button" class="link" onclick="chgDsctn.goDtl('${aplyid}')">${prgrmNm}</button></td>
                                ${sttsCd != '119101'? `<td><button type="button" class="link" onclick="chgDsctn.goPop('${sttsCdNm}','${splmntDmndCn}')">${sttsCdNm}</button></td>` : `<td>${sttsCdNm}</td>`}
                                <td>${regDt}</td>
                                </tr>
                                `;

                            mobileHtml += `
                                <li class="block">
                                	<div class="tbody">
                                        <dl>
                                            <div class="list">
                                                <dt>번호</dt>
                                                <dd>${item.rowNumber}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>지정번호</dt>
                                                <dd>${dsgnNo}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>프로그램명</dt>
                                                <dd class="al"><button type="button" class="link" onclick="chgDsctn.goDtl('${aplyid}')">${prgrmNm}</button></dd>
                                            </div>
                                            <div class="list">
                                                <dt>진행상태</dt>
                                                ${sttsCd != '119101'? `<dd><button type="button" class="link" onclick="chgDsctn.goPop('${sttsCdNm}','${splmntDmndCn}')">${sttsCdNm}</button></dd>` : `<dd>${sttsCdNm}</dd>`}
                                            </div>
                                            <div class="list">
                                                <dt>등록일</dt>
                                                <dd>${regDt}</dd>
                                            </div>
                                        </dl>
                                    </div>
                                </li>
                                `;
                        });
                    }

                    $("#list-area").html(html);
                    $('#list-mobile-area').html(mobileHtml);
                },

                goDtl(id) {

                    var f = document.forms.searchForm;
                    f.action = chgDsctn.dtlUrl
                    f.aplyid.value = id;
                    f.submit();
                },
                goReg() {
                    var f = document.forms.searchForm;
                    f.action = chgDsctn.regUrl
                    f.submit();
                },
                goPop(cd,cn){

                	$("#chgAprvPopup").load("/front/dsgnMng/chgAprvPopup.html?sttsCdNm="+cd+"&splmntDmndCn="+cn, function(response, status, xhr) {
                        if (status == "success") {
                            layerPopup.open({target:'chgAprvPopup'});
                        }
                    });
                }
            }

            function goPage(page) {
                $("#pageNumber").val(page);
                chgDsctn.selectList();
            }

            $(function () {

            	chgDsctn.selectList();
            });

        </script>
    </div>
</body>
</html>