<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/front/nolnbSubLayout" >
<body>
    <div layout:fragment="content">
        <!-- content -->
        <div class="steps">
            <ol>
                <li>
                    <div class="steps-inner">
                        <span>01</span>
                        <strong>약관동의</strong>
                    </div>
                </li>
                <li>
                    <div class="steps-inner">
                        <span>02</span>
                        <strong>신청정보 확인 및 <br class="pc-only"> 증빙자료 등록</strong>
                    </div>
                </li>
                <li>
                    <div class="steps-inner">
                        <span>03</span>
                        <strong>프로그램 정보 작성</strong>
                    </div>
                </li>
                <li class="active" title="현재 단계">
                    <div class="steps-inner">
                        <span>04</span>
                        <strong>신청완료</strong>
                    </div>
                </li>
            </ol>
        </div>

        <div class="box-step-end">
            <div class="thumb"><span class="icon icon-sign-end"></span></div>
            <dl>
                <dt>우수 환경교육 프로그램 지정 신청이 완료되었습니다.</dt>
                <dd>진행절차는 마이페이지에서 확인하실 수 있습니다.</dd>
            </dl>
            <div class="btn-inner"><a href="#" class="btn-large btn-green">마이페이지</a></div>
        </div>
        <!-- //content -->

        <script th:inline="javascript">

        </script>
    </div>

</body>
</html>