<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/front/subLayout" >
<body>
    <div layout:fragment="content">
            <form id="aplyForm" name="aplyForm" th:action="@{/front/dsgnPrgrm/trmsAgreForm.html}" method="post">

            <!-- content -->
            <div class="content-info">
                <h3><span>우수 환경교육 프로그램</span> 지정</h3>
                <p>우수 환경교육프로그램 지정제는 수준 높은 환경교육프로그램 개발보〮급을 위해 2010년부터 시작된 제도입니다. <br> 본 제도는 신뢰할 수 있는 우수한 환경교육프로그램을  국민에게 제공함을 목표로 합니다. <br> 환경교육프로그램의 친환경성, 우수성, 안전성을 심사하여  환경부장관님이 지정하는 국가지정 제도입니다.   </p>
                <div class="btn-wrap">
                    <div class="center">
                        <button type="button" class="btn-large btn-green" onclick="goAply()">신청하기</button>
                    </div>
                </div>
                <div class="thumb">
                    <img src="/images/front/participate/img-appointed.png" alt="">
                </div>
            </div>

            <div class="box-desc-list bg7 mt45">
                <strong class="box-desc-tit"><div class="icon icon-notice bg-black3"></div> 지정 교육신청 유의사항</strong>
                <ul>
                    <li>성인교육 대상 프로그램 중 ‘환경관련지도사 및 전문인력 양성교육, 민간자격증 교육, 교원 직무연수 등‘ 은 프로그램 지정 신청이 불가합니다.</li>
                    <li>증빙 서류에 첨부하는 사진 및 스캔 이미지 등은 해당 규격 및 용량에 맞춰 등록하시기 바랍니다. 규격과 용량 초과 시 등록 되지 않을 수 있습니다.
                        <ul class="hyp-list">
                            <li>‘지도자 가격 및 배치’ 증빙 서류 내 책임개발자 자격 증빙 및 개인정보활용 동의서 등 요구하는 양식 모두 빠짐 없이 등록 바랍니다.</li>
                            <li>지정 신청 시 업로드 된 대표 이미지는 본 프로그램의 홍보를 위해 사용 가능합니다.</li>
                        </ul>
                    </li>
                    <li>프로그램 명을 선택하시면 등록한 지정신청서 내용 확인이 가능합니다.</li>
                    <li>내용 수정은 작성 중 상태나 보완요청 상태에서만 가능합니다. 등록 처리 전, 꼼꼼히 내용 확인 후 등록 바랍니다.</li>
                </ul>
            </div>
            <!-- //content -->
        </form>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var user = /*[[${user}]]*/null;
            /*]]>*/
            /*<![CDATA[*/
            var prgrmLst = /*[[${prgrmLst}]]*/null;
            /*]]>*/

            function goAply(){

                var instpicRoleCd = user?.instpicRoleCd?? '';

//              var instpicRoleCd = user?.instpicRoleCd?? '';

//              if (instpicRoleCd == '109101' || instpicRoleCd == '109102')) {

             var usrType = user != null ? user.loginUserType : "";

             if (usrType == 'I') {

            		if(prgrmLst != null && prgrmLst.length > 0) {

            			if(confirm("작성하신 내역이 있습니다. 작성 내역 확인 및 이어서 작성을 원하시는 경우 '마이페이지 > 우수환경교육 프로그램 지정 관리 > 신청내역' 메뉴로 이동하시어 내역 확인 후 계속 작업을 진행하셔야 합니다. 메뉴 이동하시길 원하십니까?")){
            				document.aplyForm.action = "/front/dsgnPrgrm/aplyDsctnList.html";
            				$("#aplyForm").submit();
            			}
            		}

            	}else{
            		alert("기관회원만 신청할 수 있습니다.");
            		return;
            	}

            	$("#aplyForm").submit();

            }

        </script>
    </div>

</body>
</html>