<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/front/nolnbSubLayout" >
<body>
    <div layout:fragment="content">
        <form id="evdnDataForm" name="evdnDataForm" th:action="@{/front/dsgnPrgrm/prgrmDstnctnForm.html}" method="post">
            <input type="hidden"  id="prgrmid" name="prgrmid" th:value="${instInfo.prgrmid}" />
            <input type="hidden"  id="sttsCd" name="sttsCd" value="111101" /><!-- 신청상태:신청 -->

            <!-- content -->
            <div class="steps">
                <ol>
                    <li>
                        <div class="steps-inner">
                            <span>01</span>
                            <strong>약관동의</strong>
                        </div>
                    </li>
                    <li class="active" title="현재 단계">
                        <div class="steps-inner">
                            <span>02</span>
                            <strong>신청정보 확인 및 <br class="pc-only"> 증빙자료 등록</strong>
                        </div>
                    </li>
                    <li>
                        <div class="steps-inner">
                            <span>03</span>
                            <strong>프로그램 정보 작성</strong>
                        </div>
                    </li>
                    <li>
                        <div class="steps-inner">
                            <span>04</span>
                            <strong>신청완료</strong>
                        </div>
                    </li>
                </ol>
            </div>

            <div class="table-caption">
                <div class="left">
                    <h3 class="sub-title">기관정보 확인</h3>
                </div>
            </div>

            <div class="table-row">
                <table>
                    <caption>기관정보 확인 - 기관명, 대표자명, 기관유형, 기관홈페이지, 기관담당자, 기관 연락처, 담당자 연락처, 기관 이메일, 담당자 이메일, 기관권역(광역&gt;기초), 주소, 상세주소</caption>
                    <colgroup>
                        <col style="width:140px;">
                        <col>
                        <col style="width:140px;">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">기관명</th><td><th:block th:text="${instInfo.instNm}" /></td>
                            <th scope="row">대표자명</th><td><th:block th:text="${instInfo.rprsvNm}" /></td>
                        </tr>
                        <tr>
                            <th scope="row">기관유형</th><td><th:block th:text="${instInfo.instTypeCdNm}" /></td>
                            <th scope="row">기관홈페이지</th><td><th:block th:text="${instInfo.hmpg}" /></td>
                        </tr>
                        <tr>
                            <th scope="row">기관담당자</th><td><th:block th:text="${instInfo.aplcntNm}" /></td>
                            <th scope="row">기관 연락처</th><td><th:block th:text="${instInfo.telno}" /></td>
                        </tr>
                        <tr>
                            <th scope="row">담당자 연락처</th><td><th:block th:text="${instInfo.aplcntMoblphon}" /></td>
                            <th scope="row">기관 이메일</th>
                            <td>
                                <input type="text" title="이메일 아이디" placeholder="이메일 주소" data-width="140" id="instEml" name="instEml" th:value="${instInfo.instEml}">
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">담당자 이메일</th><td><th:block th:text="${instInfo.aplcntEml}" /></td>
                            <th scope="row">기관권역(광역&gt;기초)</th><td><th:block th:text="${instInfo.instNm}" /></td>
                        </tr>
                        <tr>
                            <th scope="row">주소</th><td><th:block th:text="${instInfo.addr}" /></td>
                            <th scope="row">상세주소</th><td><th:block th:text="${instInfo.addrDtl}" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table-caption">
                <div class="left d-flex a-end">
                    <h3 class="sub-title">증빙자료 제출</h3>
                    <p class="desc ml10 fs-14 fc-black6"><span class="ast">*</span>표시는 필수 입력 정보입니다.</p>
                </div>
                <div class="right">
                    <div class="btn-wrap mt0">
                        <div class="left">
                            <button type="button" class="btn-small btn-outline-black">증빙자료 양식 다운로드</button>
                            <button type="button" class="btn-small btn-outline-black">증빙자료 작성방법</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="table-row table-row-mo">
                <table>
                    <caption>증빙자료 제출 - 증빙자료</caption>
                    <colgroup>
                        <col style="width:140px;">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">증빙자료</th>
                            <td>
                                <div class="form-input-file">
                                    <label class="form-input">
                                        <span class="btn-medium btn-gray">파일선택
                                        <input id="multiFileInput" type="file" name="files" multiple accept="image/jpeg,image/gif,image/png,application/pdf" style="display: none;"></span>
                                    </label>

                                <ul th:if="${fileList != null}">
                                </ul>

                                    <div class="upload-response">
                                        <div id="multipleFileUploadError"></div>
                                        <div id="multipleFileUploadSuccess">
                                            <th:block th:each="file : ${fileList}">
                                                <li class="file-block" th:data_ext="${#strings.substring(file.fileExtsn,1)}">
                                                    <span class="name">
                                                        <a href="javascript:void(0)" th:fileid="${file.fileid}" th:fileIdntfcKey="${file.fileIdntfcKey}"
                                                           th:onclick="|javascript:downloadFileByFileid(this.getAttribute('fileid'), this.getAttribute('fileIdntfcKey'))|">
                                                            [[${file.orginlFileNm}]]
                                                        </a>
                                                    </span>
                                                </li>
                                            </th:block>
                                        </div>
                                    </div>
                                    <input type="hidden"  id = "filegrpid" name = "filegrpid" th:value="${(instInfo.filegrpid == '' or instInfo.filegrpid == null) ? 0 : instInfo.filegrpid}"/>
                                    <input type="text" id="chkFile" name="chkFile" value="" style="display: none;">
                                    <p class="feedback"></p>
                                </div>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="btn-wrap">
                <div class="center">
                    <button type="button" class="btn-medium btn-gray" onclick="goPrev()">이전</button>
                    <button type="button" class="btn-medium btn-green" onclick="goNext()">다음</button>

                </div>
            </div>
            <!-- //content -->

        </form>

        <script th:inline="javascript">

        var insertUrl = "/front/dsgnPrgrm/insertEvdncDataForm.do";
        var updateUrl = "/front/dsgnPrgrm/updateEvdncDataForm.do";
        var nextUrl = "/front/dsgnPrgrm/prgrmDstnctnForm.html"    //프로그램 우수성
        var prevUrl = "/front/dsgnPrgrm/trmsAgreForm.html";    //약관동의

        function goPrev(){
            document.evdnDataForm.action = prevUrl;
            $("#evdnDataForm").submit();
        }

        function goNext(){
        	var url = ($("#prgrmid").val() == null || $("#prgrmid").val() == "" || $("#prgrmid").val() == 0) ? insertUrl : updateUrl;

        	debugger;
        	if(!$("#evdnDataForm").valid()) return false;

            $("#sttsCd").val("111101");    //작성중
            var data =  $("#evdnDataForm").serialize() ;

            $.ajax({
                url : url,
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : data,
                success : function (data){
                    if(data.result=="success"){
                        //alert(data.msg);
                        document.evdnDataForm.action = nextUrl;
                        $("#evdnDataForm").submit();

                    }else{
                        alert(data.msg);
                    }
                },
                error : function (error){
                }
            });

        }

        function validate() {

        	$("#evdnDataForm").validate({
                ignore: [],
                rules: {
                	chkFile : { required: true },
                },
                messages: {
                	chkFile : { required: "첨부파일을 입력해 주십시오."},
                }
            });
        }

        function fn_deleteFileList(fileid, fileIdntfcKey){

            if(!confirm("파일을 삭제하시겠습니까?")){return;}
            fn_deleteFile(fileid, fileIdntfcKey);
            $("#inputFiles"+fileid).remove();

        }

        function fn_deleteFile(fileid, fileIdntfcKey){

          var deleteFileUrl="/deleteFile.do?fileid="+fileid+"&file_idntfc_key=" + fileIdntfcKey;

              $.ajax({
                 url : deleteFileUrl,
                 type: 'GET',
                 cache : false,
                 dataType: 'json',
                 success : function (data){
                     if(data.result=="success"){
                         $("#"+fileid).remove();
                         if(uploadFileCnt > 0){
                             uploadFileCnt = uploadFileCnt-1;
                         }
                         alert("파일삭제가 완료 되었습니다.");
                     }else{
                         alert("파일삭제중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
                     }
                 },
                 error : function (error){
                 }
               })
        };

        var uploadFileCnt = 0 ;

        $(function() {
        	validate();

        	   $('#multiFileInput').on("change", function(event) {

                   var objFile = document.querySelector('#multiFileInput');
                   var formData = new FormData();
                   var content = "";

                   for( i = 0 ; i < objFile.files.length ; i++) {
                	   formData.append("files", objFile.files[i]);
                	   uploadFileCnt++;
                   }

                   formData.append("filegrpid", $("#filegrpid").val());
                   formData.append("filegrpNm", "dsgnAply_file");

                   if(uploadFileCnt >0 ){
                       $.ajax({
                           url : '/uploadMultipleFiles.do',
                           processData : false,
                           contentType : false,
                           data : formData,
                           type : 'POST',
                           success : function(response) {

                               if(response.result == 'fail'){
                                   alert(response.msg);
                               }else{
                                   if($("#filegrpid").val()=='0' || $("#filegrpid").val()==''  || $("#filegrpid").val()==null){
                                       $("#filegrpid").val( response[0].filegrpid );
                                   }

                                   for(i = 0 ;i < response.length; i++ ){


                                       content = "<div class ='' id='inputFiles"+response[i].fileid+"'>"+response[i].orginlFileNm ;
                                       content += '&nbsp;&nbsp;<a href="javascript:void(0)" onclick=uploadFileCnt--;fn_deleteFileList("'+response[i].fileid+'","'+response[i].fileIdntfcKey+'")>X</a></span></li>'
                                       content += '</ul>';
                                       $('#multipleFileUploadSuccess').append(content);

                                       if(i==0)$("#chkFile").val(response[i].fileid);
                                   }
                               }
                           }
                       })
                      if (detectBrowser() == "other") {
                          $("#multiFileInput").val("");
                      } else {
                         $("#multiFileInput").replaceWith( $("#multiFileInput").clone(true))
                      }
                   }
           });

        });

        </script>
    </div>

</body>
</html>