<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/front/nolnbSubLayout" >
<body>
    <div layout:fragment="content">
    <form id="prgrmOperMngForm" name="prgrmOperMngForm" th:action="@{/front/dsgnPrgrm/prgrmDstnctnForm}" method="post">

        <!-- content -->
        <div class="steps">
            <ol>
                <li>
                    <div class="steps-inner">
                        <span>01</span>
                        <strong>약관동의</strong>
                    </div>
                </li>
                <li>
                    <div class="steps-inner">
                        <span>02</span>
                        <strong>신청정보 확인 및 <br class="pc-only"> 증빙자료 등록</strong>
                    </div>
                </li>
                <li class="active" title="현재 단계">
                    <div class="steps-inner">
                        <span>03</span>
                        <strong>프로그램 정보 작성</strong>
                    </div>
                </li>
                <li>
                    <div class="steps-inner">
                        <span>04</span>
                        <strong>신청완료</strong>
                    </div>
                </li>
            </ol>
        </div>


        <div class="row row-section">
            <div class="col col-small">
                <div class="sticky-navigation">
                    <strong class="tit">프로그램 정보 항목</strong>
                    <div class="sticky-steps">
                        <ul>
                            <li><a th:href="@{/front/dsgnPrgrm/prgrmDstnctnForm.html?prgrmid=}+${aplyInfo.prgrmid}" >프로그램 우수성</a></li>
                            <li class="active"><a th:href="@{/front/dsgnPrgrm/prgrmOperMngForm.html?prgrmid=}+${aplyInfo.prgrmid}" >프로그램 운영관리</a></li>
                            <li><a th:href="@{/front/dsgnPrgrm/prgrmEvlForm.html?prgrmid=}+${aplyInfo.prgrmid}" >프로그램 평가</a></li>
                            <li><a th:href="@{/front/dsgnPrgrm/ldrQlfcForm.html?prgrmid=}+${aplyInfo.prgrmid}" >지도자의 자격 및 배치</a></li>
                            <li><a th:href="@{/front/dsgnPrgrm/sftyMngForm.html?prgrmid=}+${aplyInfo.prgrmid}" >안전관리</a></li>
                            <li><a th:href="@{/front/dsgnPrgrm/chkListForm.html?prgrmid=}+${aplyInfo.prgrmid}" >체크리스트</a></li>
                        </ul>
                        <div class="btn-wrap">
                            <div class="center">
                                <button type="button" class="btn-large btn-gray"   onclick="doSave()">중간저장</button>
                                <button type="button" class="btn-medium btn-green" onclick="goNext()">다음</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-wide">

                <div class="table-caption mt0">
                    <div class="left">
                        <h3 class="sub-title">예산 구성</h3>
                    </div>
                    <div class="right">
                        <p class="desc"><span class="ast">*</span>표시는 필수 입력 정보입니다.</p>
                    </div>
                </div>

                <div class="table-col">
                    <table>
                        <caption>예산 구성 - 참가비 수입, 기타(후원 등), 자부담, 총계</caption>
                        <thead>
                            <tr>
                                <th scope="col">참가비 수입<i class="ast" title="필수입력">*</i></th>
                                <th scope="col">기타(후원 등)<i class="ast" title="필수입력">*</i></th>
                                <th scope="col">자부담<i class="ast" title="필수입력">*</i></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-input j-center">
                                        <input type="number" title="참가비 수입" class="ar" style="flex:0 1 80px;width:100%;">
                                        <div class="bul">%</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-input j-center">
                                        <input type="number" title="기타(후원 등)" class="ar" style="flex:0 1 80px;width:100%;">
                                        <div class="bul">%</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-input j-center">
                                        <input type="number" title="자부담" class="ar" style="flex:0 1 80px;width:100%;">
                                        <div class="bul">%</div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <th scope="row" class="bg7">총계</th>
                            <td colspan="2" class="bg7">
                                <span>N%</span>
                                <span class="fc-red">N%</span>
                            </td>
                        </tfoot>
                    </table>
                </div>

                <div class="table-col">
                    <table>
                        <caption>예산구성 - 지출항목, 금액, 열 삭제</caption>
                        <colgroup>
                            <col>
                            <col style="width:120px;">
                            <col style="width:55px;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">지출항목</th>
                                <th scope="col">금액</th>
                                <th scope="col"><span class="blind">열 삭제</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" title="지출항목" placeholder="지출항목 입력" style="flex:1 1 100%;"></td>
                                <td>
                                    <div class="form-input d-flex j-center">
                                        <input type="number" title="금액" class="ar" style="flex:0 1 150px;width:100%;">
                                        <div class="bul">원</div>
                                    </div>
                                </td>
                                <td class="ac"></td>
                            </tr>
                            <tr>
                                <td><input type="text" title="지출항목" placeholder="지출항목 입력" style="flex:1 1 100%;"></td>
                                <td>
                                    <div class="form-input d-flex j-center">
                                        <input type="number" title="금액" class="ar" style="flex:0 1 150px;width:100%;">
                                        <div class="bul">원</div>
                                    </div>
                                </td>
                                <td class="ac"><button type="button" class="btn-remove-table" title="열 삭제"><span class="icon icon-remove"></span></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn-row-add" title="열 추가">
                    <span class="icon icon-row-add"></span>
                </button>

                <div class="table-caption">
                    <div class="left">
                        <h3 class="sub-title">교구 및 시설</h3>
                    </div>
                </div>

                <div class="pc-only">
                    <div class="table-col table-layout-auto">
                        <table>
                            <caption>교구 및 시설 - 세부 프로그램 명, 교육장소, 교구 및 매체 등, 수량(개) 또는 분량(장), 열 삭제</caption>
                            <colgroup>
                                <col>
                                <col>
                                <col>
                                <col>
                                <col style="width:55px;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">세부 프로그램 명</th>
                                    <th scope="col">교육장소</th>
                                    <th scope="col">교구 및 매체 등</th>
                                    <th scope="col">수량(개) 또는 분량(장)</th>
                                    <th scope="col"><span class="blind">열 삭제</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="text" title="세부 프로그램 명"></td>
                                    <td><input type="text" title="교육장소"></td>
                                    <td><input type="text" title="교구 및 매체 등"></td>
                                    <td>
                                        <div class="form-input d-flex j-center">
                                            <input type="number" title="금액" class="ar" style="flex:0 1 150px;width:100%;">
                                            <div class="bul">개/장</div>
                                        </div>
                                    </td>
                                    <td class="ac"></td>
                                </tr>
                                <tr>
                                    <td><input type="text" title="세부 프로그램 명"></td>
                                    <td><input type="text" title="교육장소"></td>
                                    <td><input type="text" title="교구 및 매체 등"></td>
                                    <td>
                                        <div class="form-input d-flex j-center">
                                            <input type="number" title="금액" class="ar" style="flex:0 1 150px;width:100%;">
                                            <div class="bul">개/장</div>
                                        </div>
                                    </td>
                                    <td class="ac"><button type="button" class="btn-remove-table" title="열 삭제"><span class="icon icon-remove"></span></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn-row-add" title="열 추가">
                        <span class="icon icon-row-add"></span>
                    </button>
                </div>


                <div class="mo-only">
                    <div class="table-row table-row-mo">
                        <table>
                            <caption>교구 및 시설 - 세부 프로그램 명, 교육장소, 교구 및 매체 등, 수량(개) 또는 분량(장), 열 삭제</caption>
                            <colgroup>
                                <col style="width:140px;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">세부 프로그램 명</th>
                                    <td><input type="text" title="세부 프로그램 명"></td>
                                </tr>
                                <tr>
                                    <th scope="row">교육장소</th>
                                    <td><input type="text" title="교육장소"></td>
                                </tr>
                                <tr>
                                    <th scope="row">교구 및 매체 등</th>
                                    <td><input type="text" title="교육장소"></td>
                                </tr>
                                <tr>
                                    <th scope="row">수량(개) 또는 분량(장)</th>
                                    <td>
                                        <div class="form-input">
                                            <input type="number" title="금액" class="ar" style="flex:0 1 150px;width:100%;">
                                            <div class="bul">개/장</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table>
                            <caption>교구 및 시설 - 세부 프로그램 명, 교육장소, 교구 및 매체 등, 수량(개) 또는 분량(장)</caption>
                            <colgroup>
                                <col style="width:140px;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">세부 프로그램 명</th>
                                    <td><input type="text" title="세부 프로그램 명"></td>
                                </tr>
                                <tr>
                                    <th scope="row">교육장소</th>
                                    <td><input type="text" title="교육장소"></td>
                                </tr>
                                <tr>
                                    <th scope="row">교구 및 매체 등</th>
                                    <td><input type="text" title="교육장소"></td>
                                </tr>
                                <tr>
                                    <th scope="row">수량(개) 또는 분량(장)</th>
                                    <td>
                                        <div class="form-input">
                                            <input type="number" title="금액" class="ar" style="flex:0 1 150px;width:100%;">
                                            <div class="bul">개/장</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="ac"><button type="button" class="btn-remove-table" title="열 삭제" style="width:100%;"><span class="icon icon-remove"></span></button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="button" class="btn-row-add" title="열 추가">
                        <span class="icon icon-row-add"></span>
                    </button>
                </div>

                <div class="table-caption">
                    <div class="left">
                        <h3 class="sub-title">홍보 및 참가접수</h3>
                    </div>
                </div>

                <div class="pc-only">
                    <div class="table-combi">
                        <table>
                            <caption>홍보 및 참가접수 - 구분, 시기, 홍보방법</caption>
                            <colgroup>
                                <col>
                                <col style="width:40%;">
                                <col style="width:40%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">구분</th>
                                    <th scope="col">시기</th>
                                    <th scope="col">홍보방법</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">홍보 운영 전</th>
                                    <td class="al">
                                        <input type="text" title="홍보 운영 전 시기">
                                        <p class="desc">* 예) 1~2월 운영준비</p>
                                    </td>
                                    <td class="al">
                                        <input type="text" title="홍보 운영 전 홍보방법">
                                        <p class="desc">* 예) 참가신청안내 공문 방송, 캘린더 발송 </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">홍보 운영 중</th>
                                    <td class="al">
                                        <input type="text" title="홍보 운영 중 시기">
                                        <p class="desc">* 예) 7~8월 여름방학시즌 교육 </p>
                                    </td>
                                    <td class="al">
                                        <input type="text" title="홍보 운영 중 홍보방법">
                                        <p class="desc">* 예) 인스타그램 활용한 SNS 홍보</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">홍보 운영 후</th>
                                    <td class="al">
                                        <input type="text" title="홍보 운영 후 시기">
                                        <p class="desc">* 예) 11~12월 사업종료 </p>
                                    </td>
                                    <td class="al">
                                        <input type="text" title="홍보 운영 후 홍보방법">
                                        <p class="desc">* 예) 활동기록 홈페이지 및 블로그 업로드 </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">참가 접수방법</th>
                                    <td colspan="2">
                                        <div class="form-input mo-flex-wrap">
                                            <div class="form-check-list">
                                                <label class="inp"><input type="checkbox"><b>전화접수</b></label>
                                                <label class="inp"><input type="checkbox"><b>신청서접수</b></label>
                                                <label class="inp"><input type="checkbox"><b>온라인신청</b></label>
                                                <label class="inp"><input type="checkbox">
                                                    <b>기타</b>
                                                    <input type="text" title="기타" placeholder="" data-width="160" class="ml10" style="width: 160px; flex: 0 1 160px;">
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="mo-only">
                    <div class="table-row table-row-mo">
                        <table>
                            <caption>홍보 및 참가접수 - 홍보 운영 전, 홍보 운영 중, 홍보 운영 후, 참가 접수방법</caption>
                            <colgroup>
                                <col style="width:140px;">
                                <col>
                                <col style="width:140px;">
                                <col>
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th scope="row">홍보 운영 전</th>
                                    <td>
                                        <div class="form-input mo-flex-wrap">
                                            <strong class="label">시기</strong>
                                            <div class="form-input">
                                                <input type="text" title="홍보 운영 전 시기">
                                            </div>
                                        </div>
                                        <p class="desc">* 예) 1~2월 운영준비</p>
                                    </td>
                                    <th scope="row">홍보 운영 전</th>
                                    <td>
                                        <div class="form-input mo-flex-wrap">
                                            <strong class="label">홍보방법</strong>
                                            <div class="form-input">
                                                <input type="text" title="홍보 운영 전 홍보방법">
                                            </div>
                                        </div>
                                        <p class="desc">* 예) 참가신청안내 공문 방송, 캘린더 발송 </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">홍보 운영 중</th>
                                    <td>
                                        <div class="form-input mo-flex-wrap">
                                            <strong class="label">시기</strong>
                                            <div class="form-input">
                                                <input type="text" title="홍보 운영 중 시기">
                                            </div>
                                        </div>
                                        <p class="desc">* 예) 7~8월 여름방학시즌 교육</p>
                                    </td>
                                    <th scope="row">홍보 운영 중</th>
                                    <td>
                                        <div class="form-input mo-flex-wrap">
                                            <strong class="label">홍보방법</strong>
                                            <div class="form-input">
                                                <input type="text" title="홍보 운영 중 홍보방법">
                                            </div>
                                        </div>
                                        <p class="desc">* 예) 인스타그램 활용한 SNS 홍보</p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">홍보 운영 후</th>
                                    <td>
                                        <div class="form-input mo-flex-wrap">
                                            <strong class="label">시기</strong>
                                            <div class="form-input">
                                                <input type="text" title="홍보 운영 후 시기">
                                            </div>
                                        </div>
                                        <p class="desc">* 예) 11~12월 사업종료 </p>
                                    </td>
                                    <th scope="row">홍보 운영 후</th>
                                    <td>
                                        <div class="form-input mo-flex-wrap">
                                            <strong class="label">홍보방법</strong>
                                            <div class="form-input">
                                                <input type="text" title="홍보 운영 후 홍보방법">
                                            </div>
                                        </div>
                                        <p class="desc">* 예) 활동기록 홈페이지 및 블로그 업로드 </p>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">참가 접수방법</th>
                                    <td colspan="3">
                                        <div class="form-input mo-flex-wrap">
                                            <div class="form-check-list">
                                                <label class="inp"><input type="checkbox"><b>전화접수</b></label>
                                                <label class="inp"><input type="checkbox"><b>신청서접수</b></label>
                                                <label class="inp"><input type="checkbox"><b>온라인신청</b></label>
                                                <label class="inp"><input type="checkbox">
                                                    <b>기타</b>
                                                    <input type="text" title="기타" placeholder="" data-width="160" class="ml10" style="width: 140px; flex: 0 1 140px;">
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="mo-only">
                    <div class="btn-wrap">
                        <div class="center">
                            <button type="button" class="btn-medium btn-gray">중간저장</button>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <div class="center">
                            <button type="button" class="btn-medium btn-gray">이전</button>
                            <button type="button" class="btn-medium btn-green" onclick="goNext()">다음</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    <!-- //content -->
    </form>

    <script th:inline="javascript">
    var insertUrl = "/front/dsgnPrgrm/insertPrgrmOperMngForm.do";
    var updateUrl = "/front/dsgnPrgrm/updatePrgrmOperMngForm.do";
    function validate(){

        $("#prgrmOperMngForm").validate({
            ignore: [],
            rules: {
                title       : { required: true , maxlength:200  }
                ,cntnts      : { required: true , maxlength:4000}
                ,bbs_clid    : { required: true }
             },
             messages: {
                title       : { required: "게시판명을 입력해 주십시오."  , maxlength : "게시판 제목은 200자를 넘을 수 없습니다."  }
                ,cntnts      : { required: "게시글 내용을 입력해 주십시오." , maxlength: "게시판 내용은 4000자를 넘을 수 없습니다." }
                ,bbs_clid    : { required:"게시글 분류를 선택해주십시오 "}
             }
        });

    }


    function doSave(call){

        if(!confirm("저장하시겠습니까?")) return;
// debugger;
// return;
        var data =  $("#prgrmOperMngForm").serialize() ;

        $.ajax({
            url : insertUrl,
            type: 'POST',
            cache : false,
            dataType: 'json',
            data: param,
            success : function (data){
                if(data.result=="success"){

                    if(call == "next") {
                        document.prgrmOperMngForm.action = nextUrl;
                        $("#prgrmOperMngForm").submit();
                    }else{
                        alert(data.msg);
                        document.prgrmOperMngForm.action = reUrl;
                    }
                    $("#prgrmOperMngForm").submit();
                }else{
                    alert(data.msg);
                }
            },
            error : function (error){
            }
        });
    }

    function goPrev(){
        document.prgrmOperMngForm.action = "/front/dsgnPrgrm/prgrmDstnctnForm.html";    //증빙자료
        $("#prgrmEvlForm").submit();
    }

    function goNext(){
        if($("#prgrmOperMngForm").valid() == false) return;
        doSave("next");
    }

    $(function() {

    });

    </script>
    </div>

</body>
</html>