<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/front/nolnbSubLayout" >
<body>
    <div layout:fragment="content">
    <form id="sftyMngForm" name="sftyMngForm" th:action="@{/front/dsgnPrgrm/chkListForm.html}" method="post">
        <input type="hidden" id="prgrmid" name="prgrmid" th:value="${aplyInfo.prgrmid}">
        <input type="hidden" id="sftyMngId" name="sftyMngId" th:value="${aplyInfo.sftyMngId}">
        <input type="hidden" id="filegrpid" name="filegrpid" th:value="${aplyInfo.filegrpid == null or aplyInfo.filegrpid == ''}? 0: ${aplyInfo.filegrpid}"/>
        <input type="hidden" id="bfrCertFilegrpid" name="bfrCertFilegrpid" th:value="${aplyInfo.bfrCertFilegrpid == null or aplyInfo.bfrCertFilegrpid == ''}? 0: ${aplyInfo.bfrCertFilegrpid}"/>

        <!-- content -->
        <div class="steps">
            <ol>
                <li>
                    <div class="steps-inner">
                        <span>01</span>
                        <strong>약관동의</strong>
                    </div>
                </li>
                <li>
                    <div class="steps-inner">
                        <span>02</span>
                        <strong>신청정보 확인 및 <br class="pc-only"> 증빙자료 등록</strong>
                    </div>
                </li>
                <li class="active" title="현재 단계" aria-current="step">
                    <div class="steps-inner">
                        <span>03</span>
                        <strong>프로그램 정보 작성</strong>
                    </div>
                </li>
                <li>
                    <div class="steps-inner">
                        <span>04</span>
                        <strong>신청완료</strong>
                    </div>
                </li>
            </ol>
        </div>


        <div class="row row-section">
            <div class="col col-small">
                <div class="sticky-navigation">
                    <strong class="tit">프로그램 정보 항목</strong>
                    <div class="sticky-steps">
                        <ul>
                            <li><a th:href="@{/front/dsgnPrgrm/prgrmDstnctnForm.html?prgrmid=}+${aplyInfo.prgrmid}" >프로그램 우수성</a></li>
                            <li><a th:href="@{/front/dsgnPrgrm/prgrmOperMngForm.html?prgrmid=}+${aplyInfo.prgrmid}" >프로그램 운영관리</a></li>
                            <li><a th:href="@{/front/dsgnPrgrm/prgrmEvlForm.html?prgrmid=}+${aplyInfo.prgrmid}" >프로그램 평가</a></li>
                            <li><a th:href="@{/front/dsgnPrgrm/ldrQlfcForm.html?prgrmid=}+${aplyInfo.prgrmid}" >지도자의 자격 및 배치</a></li>
                            <li class="active"><a th:href="@{/front/dsgnPrgrm/sftyMngForm.html?prgrmid=}+${aplyInfo.prgrmid}" >안전관리</a></li>
                            <li><a th:href="@{/front/dsgnPrgrm/chkListForm.html?prgrmid=}+${aplyInfo.prgrmid}" >체크리스트</a></li>
                            </ul>
                        <div class="btn-wrap">
                            <div class="center">
                                <button type="button" class="btn-large btn-gray" onclick="doSave()">중간저장</button>
                                <button type="button" class="btn-medium btn-green" onclick="goNext()">다음</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-wide">

                <div class="table-caption mt0">
                    <div class="left">
                        <h3 class="sub-title">안전관리 메뉴얼</h3>
                    </div>
                </div>

                <div class="table-row table-row-mo">
                    <table>
                        <caption>안전관리 메뉴얼 - 첨부파일</caption>
                        <colgroup>
                            <col style="width:140px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="col">첨부파일</th>
                                <td>
                                    <div class="form-input-file">
                                        <label class="form-input">
                                            <input type="file" class="blind" multiple="multiple" accept=".jpeg,.jpg,.png,.gif,.tif,.tiff,.hwp,.hwpx,.pdf,.ppt,.pptx,.doc,.docx,.xls,.xlsx,.zip" title="파일첨부" maxcount="10">
                                            <span class="btn-medium btn-gray">파일선택</span>
                                        </label>
                                        <ul></ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-caption">
                    <div class="left">
                        <h3 class="sub-title">안전교육</h3>
                        <h4 class="dot-title">프로그램 지도자 대상 교육</h4>
                    </div>
                </div>

                <div class="table-row table-row-mo">
                    <table>
                        <caption>안전교육(프로그램 지도자 대상 교육) - 교육시기, 담당자, 교육내용 개요</caption>
                        <colgroup>
                            <col style="width:140px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="col">교육시기</th>
                                <td>
                                    <input type="text" title="교육시기" id="ldrEduSess" name="ldrEduSess" th:value="${aplyInfo.ldrEduSess}" emode="mod" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">담당자</th>
                                <td>
                                    <input type="text" title="담당자" name="ldrEduPic" id="ldrEduPic" th:value="${aplyInfo.ldrEduPic}" emode="mod" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">교육내용 개요</th>
                                <td>
                                    <textarea title="교육내용 개요" id="prtcpntEduCn" name="prtcpntEduCn" emode="mod" ><th:block th:text="${aplyInfo.prtcpntEduCn}"></th:block></textarea>
                                    <div class="desc ar size"><span>0</span> / 200자</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="table-caption">
                    <div class="left">
                        <h4 class="dot-title">프로그램 참가자 대상 교육</h4>
                    </div>
                </div>

                <div class="table-row table-row-mo">
                    <table>
                        <caption>프로그램 참가자 대상 교육 - 교육시기, 담당자, 교육내용 개요</caption>
                        <colgroup>
                            <col style="width:140px">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="col">교육시기</th>
                                <td>
                                    <input type="text" title="구분" id="prtcpntEduSess" name="prtcpntEduSess" th:value="${aplyInfo.prtcpntEduSess}" emode="mod" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">담당자</th>
                                <td>
                                    <input type="text" title="담당자" name="prtcpntEduPic" id="prtcpntEduPic" th:value="${aplyInfo.prtcpntEduPic}" emode="mod" />
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">교육내용 개요</th>
                                <td>
                                    <textarea title="교육내용 개요" id="ldrEduCn" name="ldrEduCn" emode="mod" ><th:block th:text="${aplyInfo.ldrEduCn}"></th:block></textarea>
                                    <div class="desc ar size"><span>0</span> / 200자</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="table-caption">
                    <div class="left">
                        <h4 class="dot-title">안전관리 사전인증</h4>
                    </div>
                </div>

                <div class="table-row table-row-mo">
                    <table>
                        <caption>안전관리 사전인증 - 인증여부, 첨부파일</caption>
                        <colgroup>
                            <col style="width:140px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="col">인증여부</th>
                                <td>
                                    <span kattr:radio_yn="bfrCertYn" label1="예" label2="아니오" th:attr="defaultVal=${aplyInfo.bfrCertYn == null ? 'N':aplyInfo.bfrCertYn}" addStyle="margin-top:4px" addClass="col-sm-3" />
                                    <p class="desc">‘예’ 선택  :  체크리스트 자동 만점 처리  /  ‘아니오’ 선택 :  체크리스를 직접 체크</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="col">첨부파일</th>
                                <td>
                                    <div class="form-input-file">
                                        <label class="form-input">
                                            <input type="file" class="blind" multiple="multiple" accept=".jpeg,.jpg,.png,.gif,.tif,.tiff,.hwp,.hwpx,.pdf,.ppt,.pptx,.doc,.docx,.xls,.xlsx,.zip" title="파일첨부" maxcount="10">
                                            <span class="btn-medium btn-gray">파일선택</span>
                                        </label>
                                        <ul></ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="mo-only">
                    <div class="btn-wrap">
                        <div class="center">
                            <button type="button" class="btn-medium btn-gray">중간저장</button>
                        </div>
                    </div>
                    <div class="btn-wrap">
                        <div class="center">
                            <button type="button" class="btn-medium btn-gray">이전</button>
                            <button type="button" class="btn-medium btn-green">다음</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //content -->

        <script th:inline="javascript">
        var insertUrl = "/front/dsgnPrgrm/insertPrgrmSftyMngForm.do";
        var updateUrl = "/front/dsgnPrgrm/updatePrgrmSftyMngForm.do";
        var nextUrl = "/front/dsgnPrgrm/chkListForm.html";    //체크리스트
        var prevUrl = "/front/dsgnPrgrm/ldrQlfcForm.html";    //지도자 의 자격 및 배치
        var reUrl = "/front/dsgnPrgrm/sftyMngForm.html";      //안전관리

        function goPrev(){
            document.dstnctnForm.action = prevUrl
            $("#sftyMngForm").submit();
        }

        function goNext(){
            doSave("next");
        }

        function doSave(call){

            if(!confirm("저장하시겠습니까?")) return;

            var data =  $("#sftyMngForm").serialize() ;

            $.ajax({
                url : insertUrl,
                type: 'POST',
                cache : false,
                dataType: 'json',
                data: data,
                success : function (data){
                    if(data.result=="success"){

                        if(call == "next") {
                            document.sftyMngForm.action = nextUrl;
                            $("#sftyMngForm").submit();
                        }else{
                            alert(data.msg);
                            document.sftyMngForm.action = reUrl;
                        }
                        $("#sftyMngForm").submit();
                    }else{
                        alert(data.msg);
                    }
                },
                error : function (error){
                }
            });
        }

        $(function() {

            $("textArea").keyup(function (e) {
                var inTxt = $(this).val();
                if($("#"+this.id).next().prop("class")=="desc ar size"){
                    $("#"+this.id).next().children().prop("innerHTML",inTxt.length);
                }
            });
            $("textArea").trigger("keyup");
        });
        </script>
    </div>

</body>
</html>