<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
 	layout:decorator="layout/subLayout" 
>
<head>
<meta charset="utf-8" />
<body>
	<div layout:fragment="content">
    
     <div class="panel-body">
      	
	  <form id="searchFrm" class="form-inline">
		<div class="well well-sm row">
            <div class="col-sm-1 form-group form-control-static">
                <label class="control-label" style="padding:0 4px 0 11px">FAQ분류</label>
            </div>
            <div class="col-sm-2 form-group form-control-static ">
                <select kattr:faq-category-list="sclid" id="sclid" class="form-control input-sm" style="width:100%;padding:0px;"></select>
            </div>
            
            
            <div class="col-sm-1 form-group form-control-static">
                <label class="control-label" style="padding:0 4px 0 11px">FAQ대상</label>
            </div>
            <div class="faq-radio-group col-sm-2 form-group form-control-static">
                <input type="radio" name="user_se_cd" id="user_se_cd_1" value="P"><label for="user_se_cd_1">개인</label>
                <input type="radio" name="user_se_cd" id="user_se_cd_2" value="C"><label for="user_se_cd_2">기업</label>
            </div>
            <div class="col-sm-2 form-group form-control-static">
                <label class="control-label" style="padding:0 4px 0 11px">사용여부</label>
                <select name="useYn" id="useYn" class="form-control input-sm" style="width: 90px;padding:0px;">
                    <option value="">-전체-</option>
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                </select>
            </div>
            <div class="col-sm-3 form-group form-control-static">
                <label class="control-label" style="padding:0 4px 0 11px">검색구분</label>
                <select id="searchType" name="searchType" class="form-control input-sm" style="padding:0px;">
                    <option value="title">제목</option>
                    <option value="cntnts">내용</option>
                </select>
                <input type="text" id="searchKeyword" name="searchKeyword" class="form-control input-sm" style="width: 130px;">
            </div>
            <div class="col-sm-1 form-group form-control-static">
                <button type="submit" class="btn btn-sm btn-primary">검색</button>
            </div>

          </div>
		</form>		
	   </div>
		
		<div class="row text-right" style="margin-bottom: 5px; margin-right: 5px;">
			<button class="btn btn-sm btn-warning" onclick="regFaq();"> 등록 </button>
		</div>
				
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			<!-- List Area -->
			<div class="panel panel-default">
		    	<div class="panel-heading" role="tab" id="headingOne">
		      		<h4 class="panel-title">
		        		<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" onclick="toggleList();">목록</a>
		      		</h4>
		    	</div>
		    	<div id="collapseList" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
		      		<div class="panel-body">		
		      
						<div class="row">
							<table id="jsGrid"></table>
							<div id="listPager" class="text-center"></div>
						</div>
				
					</div>
				</div>
			</div>
			<!-- Content Area -->
			<div id="contentPanel" class="panel panel-default" >
			</div>
		</div>
		
	   <link type="text/css" rel="stylesheet" href="/js/jsgrid-master/dist/jsgrid.min.css" />
	   <link type="text/css" rel="stylesheet" href="/js/jsgrid-master/dist/jsgrid-theme.css" />
	   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
	   <script src="/js/ckeditor/ckeditor.js"></script>
       <script >
		var listToggle = true;
		var contentToggle = false;

		$(function(){
			$('#contentPanel').hide();
			
			//jsGrid Init
			$("#jsGrid").jsGrid({
			        height: "auto",
			        width: "100%",
			        autoload: true,
			        sorting: false,
			        paging: true,
			        pagerContainer: "#listPager",
			        pagerFormat: "{first} {prev} {pages} {next} {last}",
			        pagePrevText: "이전",
			        pageNextText: "다음",
			        pageFirstText: " < 처음 ㅣ",
			        pageLastText: " | 마지막 >",
			        
			        pageSize: 10,
			        pageButtonCount: 10,
			        pageLoading: true,
			        pageIndex: 1,
			        noDataContent: "데이터가 없습니다.",
			        
			        controller: {
			            loadData: function (filter) {
			            	var data = $.Deferred();
			            	
			            	var params = {
			            			"clid": $('#sclid').val(),
			            			"use_yn": $('#useYn').val(),
			            			"searchType": $('#searchType').val(),
			            			"searchKeyword": $('#searchKeyword').val(),
			            			"pageNumber": filter.pageIndex,
			            			"rowPerPage": filter.pageSize,
			            			//"orderField": filter.sortField,
			            			//"orderDirection": filter.sortOrder,
			            			"orderField": "ORD",
			            			//"orderDirection": "DESC",
			            			"user_se_cd" :  $('#searchFrm input[name=user_se_cd]:checked').val(),
			            			
			            	}
			                $.ajax({
			                  type: "GET",
			                  contentType: "application/json; charset=utf-8",
			                  url: "/mng/faq/faqList.do",
			                  data: params,
			                  dataType: "json"
			                }).done(function(response){
			                	var da = {
		                                data :response.list,
		                                itemsCount : response.totalCount
		                            };
			                  data.resolve(da); 
			                });
			                return data.promise();
			            },
			        },
			        deleteConfirm: "정말 삭제하시겠습니까?",
			        fields: [ 
			        	{ name: 'rowNumber',title:'번호'   , type: "number" , width: "3%", align:"center", sorting: false },
		                { name: 'cl_nm' , title:"FAQ 분류", type: "text"   , width: "8%"  , align:"center"},
		                { name: 'title' , title:"제목"    , type: "text"   , width: "20%" },
		                { name: 'reg_dt', title:"등록일"   , type: "text"   , width: "5%"  , align:"center"},
		                { name: 'use_yn', title:"사용여부",  width: "5%" , align:"center"},
		                { name: 'ord', title:"순서", type: "number", width: "5%", align: "center" , sorting: false , align:"center"},
		                { name: 'ord', title:"정렬", type: "number", width: "5%", align: "center" 
		                  	 ,itemTemplate: function(value, item) {
		                  		 
			                   	    var firstObj = $("<a class='btn btn-xs btn-info' />").text("▲").on("click", function() { fn_changeOrd("OU",item);  return false;}).add("<span>&nbsp;</span>");
			                   	    var lastObj = $("<a class='btn btn-xs btn-info' />").text("▼").on("click", function() { fn_changeOrd("OD",item);  return false;});
				                   	    
				                   	    if(item.totalCount==1 ){
			                	        	return "-" ;
			                	        }else if(item.rowNumber==1){
				                   	    	return firstObj;
				                   	    }else if(item.rowNumber==item.totalCount){
				                   	    	return lastObj;
				                   	    }else{
				                   	    	return firstObj.add(lastObj);
				                   	    }
						         }
		                }
			        ],
			        rowClick: function(args) { readModify(args.item.faqid); },
			});
			
			//검색 form submit
			$('#searchFrm').submit(function(){
				$("#jsGrid").jsGrid("reset");
				showList();
				return false;
			});

		});
		function regFaq(){
			$('#contentPanel').load("/mng/faq/reg.html"); 
			showContent(); 
			hideList();
		}
		function readModify(faqid){
			$('#contentPanel').load("/mng/faq/read.html?faqid=" + faqid); 
			showContent(); 
			hideList();
		}
		function toggleListContent(){
			$("#jsGrid").jsGrid("reset");
			toggleContent(); 
			toggleList();	
		}
		function fn_changeOrd(mode,item){
			var params = {
                    "user_se_cd" : item.user_se_cd,
					"faqid": item.faqid,
					"clid": item.clid,
					"ord": item.ord,
					"mode": mode
			}
			
			var updUrl = "/mng/faq/modifyFaqOrd.do";
			$.ajax({
				url : updUrl,
				type: 'POST',
				cache : false,
				dataType: 'json',
				data : params,
				success : function (data){
					if(data){
						resetListContent();
					}else{
						alert("정렬이 실패하였습니다. 다시한번 시도해주십시오.");
					}
				},
			 	error : function (error){
				} 
				
			});
		}

	   </script>
	   
	</div>
</body>
</html>