          <!--html load area start  -->
          <div class="con-pane" id="useStatusSelectAll1">
              <div class="card-header p-b-0">
                  <h3 class="sub-title"><strong>예약일 설정</strong></h3>
              </div>
              
               <!-- 예약일 설정 -->
                  <div class="card-block-small p-t-0">
                      <div class="mb-0 row">
                          <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                              <div class="col-12">
                                  <div class="row">
                                      <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                                          <div class="mb-0 form-group required">
                                              <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="rsvtStrtDt"><strong>예약 시작일</strong></label>
                                              <div class="col-12">
                                                  <input type="date" class="form-control form-control-sm" name="rsvtStrtDt" id="rsvtStrtDt" placeholder="Text Input Validation">
                                              </div>
                                          </div>
                                      </div>
                                      <div class="col-12 col-lg-6">
                                          <div class="mb-0 form-group required">
                                              <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="rsvtEndtDt"><strong>예약 종료일</strong></label>
                                              <div class="col-12">
                                                  <input type="date" class="form-control form-control-sm" name="rsvtEndtDt" id="rsvtEndtDt" placeholder="Text Input Validation">
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="col-12 col-lg-6">
                              <div class="mb-0 form-group ">
                              
                                  <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>제외 요일선택</strong></div>
                                  
                                  <div class="border-checkbox-section">
                                      <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                          <input class="border-checkbox limit-day" type="checkbox" name="exceptDay1" id="exceptDay1" value="1">
                                          <label class="form-label form-label-sm border-checkbox-label" for="exceptDay1">
                                              월
                                          </label>
                                      </div>
                                      <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                          <input class="border-checkbox limit-day" type="checkbox" name="exceptDay2" id="exceptDay2" value="2">
                                          <label class="form-label form-label-sm border-checkbox-label" for="exceptDay2">
                                              화
                                          </label>
                                      </div>
                                      <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                          <input class="border-checkbox limit-day" type="checkbox" name="exceptDay3" id="exceptDay3" value="3">
                                          <label class="form-label form-label-sm border-checkbox-label" for="exceptDay3">
                                              수
                                          </label>
                                      </div>
                                      <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                          <input class="border-checkbox limit-day" type="checkbox" name="exceptDay4" id="exceptDay4" value="4">
                                          <label class="form-label form-label-sm border-checkbox-label" for="exceptDay4">
                                              목
                                          </label>
                                      </div>
                                      <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                          <input class="border-checkbox limit-day" type="checkbox" name="exceptDay5" id="exceptDay5" value="5">
                                          <label class="form-label form-label-sm border-checkbox-label" for="exceptDay5">
                                              금
                                          </label>
                                      </div>
                                      <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                          <input class="border-checkbox limit-day" type="checkbox" name="exceptDay6" id="exceptDay6" value="6">
                                          <label class="form-label form-label-sm border-checkbox-label" for="exceptDay6">
                                              토
                                          </label>
                                      </div>
                                      <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                          <input class="border-checkbox limit-day" type="checkbox" name="exceptDay0" id="exceptDay0" value="0">
                                          <label class="form-label form-label-sm border-checkbox-label" for="exceptDay0">
                                              일
                                          </label>
                                      </div>
                                  </div>
                                  
                              </div>
                          </div>
                          
                      </div>
                  </div>
                  
                  <div class="card-header p-b-0">
                      <h3 class="sub-title"><strong>금액 설정</strong></h3>
                  </div>
                  
                  <div class="card-block-small p-t-0" id="insertFormListArea">
                  
                     <form class="insert-form" id="insertFrm1" >
                      <div class="row align-items-center insert-form">
                          <div class="col-10 row">
                              <div class="col-12 col-lg-7 mb-3">
                                  <div class="mb-0 form-group required">
                                      <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>요일선택</strong></div>
                                      <div class="border-checkbox-section">
                                          <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                              <input class="border-checkbox check-day" type="checkbox" name="1day1" id="1day1" value="1">
                                              <label class="form-label form-label-sm border-checkbox-label" for="1day1">
                                                  월
                                              </label>
                                          </div>
                                          <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                              <input class="border-checkbox check-day" type="checkbox" name="1day2" id="1day2" value="2">
                                              <label class="form-label form-label-sm border-checkbox-label" for="1day2">
                                                  화
                                              </label>
                                          </div>
                                          <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                              <input class="border-checkbox check-day" type="checkbox" name="1day3" id="1day3" value="3">
                                              <label class="form-label form-label-sm border-checkbox-label" for="1day3">
                                                  수
                                              </label>
                                          </div>
                                          <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                              <input class="border-checkbox check-day" type="checkbox" name="1day4" id="1day4" value="4">
                                              <label class="form-label form-label-sm border-checkbox-label" for="1day4">
                                                  목
                                              </label>
                                          </div>
                                          <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                              <input class="border-checkbox check-day" type="checkbox" name="1day5" id="1day5" value="5">
                                              <label class="form-label form-label-sm border-checkbox-label" for="1day5">
                                                  금
                                              </label>
                                          </div>
                                          <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                              <input class="border-checkbox check-day" type="checkbox" name="1day6" id="1day6" value="6">
                                              <label class="form-label form-label-sm border-checkbox-label" for="1day6">
                                                  토
                                              </label>
                                          </div>
                                          <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                                              <input class="border-checkbox check-day" type="checkbox" name="1day0" id="1day0" value="0">
                                              <label class="form-label form-label-sm border-checkbox-label" for="1day0">
                                                  일
                                              </label>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-12 col-lg-5 mb-3">
                                  <div class="mb-0 form-group required">
                                      <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="payment1"><strong>금액설정(1박 기준)</strong></label>
                                      <div class="col-12 row align-items-center">
                                          <div class="col-auto">
                                              <input type="number" class="col-lg-auto form-control form-control-sm" name="payment1" id="payment1" >
                                          </div>
                                          <div class="col-auto p-l-0 p-r-0">
                                              원
                                          </div>
                                          <div class="col-auto">
                                              <div class="border-checkbox-section">
                                                  <div class="border-checkbox-group border-checkbox-group-inverse">
                                                      <input class="border-checkbox" type="checkbox" name="payFree1" id="payFree1" onclick="changePayFree(1)">
                                                      <label class="form-label form-label-sm border-checkbox-label mb-0" for="payFree1">
                                                          무료
                                                      </label>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-2">
                              <div class="input-group-text btn btn-primary" onclick="addInsertFrm()">+</div>
                          </div>
                      </div>
                      </form>
                      
                      
                  </div>
              </div>
           <!--html load area end  -->

  <!--ㅡmodal body end  -->
  <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary waves-effect waves-light" onclick="save()">저장</button>
  </div> -->
  
  <script type="text/javascript" src="/files/assets/pages/advance-elements/swithces.js"></script>
  <script  id="insertForm" type="text/x-handlebars-template">

   <form class="insert-form" id="insertFrm{{insertFrmNum}}" >
   <div class="row align-items-center insert-form">
       <div class="col-10 row">
           <div class="col-12 col-lg-7 mb-3">
               <div class="mb-0 form-group required">
                   <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>요일선택</strong></div>
                   <div class="border-checkbox-section">
                       <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                           <input class="border-checkbox check-day" type="checkbox" name="{{insertFrmNum}}day1" id="{{insertFrmNum}}day1" value="1">
                           <label class="form-label form-label-sm border-checkbox-label" for="{{insertFrmNum}}day1">
                               월
                           </label>
                       </div>
                       <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                           <input class="border-checkbox check-day" type="checkbox" name="{{insertFrmNum}}day2" id="{{insertFrmNum}}day2" value="2">
                           <label class="form-label form-label-sm border-checkbox-label" for="{{insertFrmNum}}day2">
                               화
                           </label>
                       </div>
                       <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                           <input class="border-checkbox check-day" type="checkbox" name="{{insertFrmNum}}day3" id="{{insertFrmNum}}day3" value="3">
                           <label class="form-label form-label-sm border-checkbox-label" for="{{insertFrmNum}}day3">
                               수
                           </label>
                       </div>
                       <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                           <input class="border-checkbox check-day" type="checkbox" name="{{insertFrmNum}}day4" id="{{insertFrmNum}}day4" value="4">
                           <label class="form-label form-label-sm border-checkbox-label" for="{{insertFrmNum}}day4">
                               목
                           </label>
                       </div>
                       <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                           <input class="border-checkbox check-day" type="checkbox" name="{{insertFrmNum}}day5" id="{{insertFrmNum}}day5" value="5">
                           <label class="form-label form-label-sm border-checkbox-label" for="{{insertFrmNum}}day5">
                               금
                           </label>
                       </div>
                       <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                           <input class="border-checkbox check-day" type="checkbox" name="{{insertFrmNum}}day6" id="{{insertFrmNum}}day6" value="6">
                           <label class="form-label form-label-sm border-checkbox-label" for="{{insertFrmNum}}day6">
                               토
                           </label>
                       </div>
                       <div class="border-checkbox-group border-checkbox-group-inverse d-inline-block">
                           <input class="border-checkbox check-day" type="checkbox" name="{{insertFrmNum}}day0" id="{{insertFrmNum}}day0" value="0">
                           <label class="form-label form-label-sm border-checkbox-label" for="{{insertFrmNum}}day0">
                               일
                           </label>
                       </div>
                   </div>
               </div>
           </div>
           <div class="col-12 col-lg-5 mb-3">
               <div class="mb-0 form-group required">
                   <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="payment1"><strong>금액설정(1박 기준)</strong></label>
                   <div class="col-12 row align-items-center">
                       <div class="col-auto">
                           <input type="number" class="col-lg-auto form-control form-control-sm" name="payment{{insertFrmNum}}" id="payment{{insertFrmNum}}" >
                       </div>
                       <div class="col-auto p-l-0 p-r-0">
                           원
                       </div>
                       <div class="col-auto">
                           <div class="border-checkbox-section">
                               <div class="border-checkbox-group border-checkbox-group-inverse">
                                   <input class="border-checkbox" type="checkbox" name="payFree{{insertFrmNum}}" id="payFree{{insertFrmNum}}" onclick="changePayFree('{{insertFrmNum}}')">
                                   <label class="form-label form-label-sm border-checkbox-label mb-0" for="payFree{{insertFrmNum}}">
                                       무료
                                   </label>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-2">

           <div class="input-group-text btn btn-primary" onclick="removeInsertFrm('{{insertFrmNum}}')">-</div>

           <div class="input-group-text btn btn-primary" onclick="addInsertFrm()">+</div>

       </div>
   </div>
   </form>
  </script>
  
  <script th:inline="javascript">

    var insertFrmNum = 1 ;
    var insertFrmArr = [1] ;
    var limitDayArr = [] ;
     
    $(document).ready(function () {
	    $(".limit-day").bind("click",function(){
	    	reCheckDayLimit();
	    })
    })
    
    changePayFree=(frmNum)=>{
        
    	let isCheckedFree = $("#payFree"+frmNum).is(":checked");
    	
    	if(isCheckedFree){
    		$("#payment"+frmNum).val(0);
    		$("#payment"+frmNum).attr("readonly",true);
        }else{
    		$("#payment"+frmNum).val("");
    		$("#payment"+frmNum).attr("readonly",false);
        }
    }
    
    
    reCheckDayLimit=()=>{
        
    	limitDayArr=[];
        $(".limit-day").each(function(){
            if($(this).is(":checked")){
                limitDayArr.push($(this).val())
            }
        })
        
        $(".check-day").each(function(){
            $(this).prop("disabled",false);
        })
        
        limitDayArr.forEach(function(dayNum){
            insertFrmArr.forEach(function(item){
                $("#"+item+"day"+dayNum).prop("checked",false);
                $("#"+item+"day"+dayNum).prop("disabled",true);
            })
        })
    }
    
    var removeInsertFrm =(removeNum)=>{
    	$("#insertFrm"+removeNum).remove();

        var filterArr = insertFrmArr.filter(function(data) {
        	  return data != removeNum;
        });
        insertFrmArr=filterArr;
    }
    
    var addInsertFrm =()=>{
        
    	if(insertFrmArr.length >= 7) { alert("입력폼은 7개 까지 가능 합니다."); return;}
    	
    	insertFrmNum++;
    	
        let source = $("#insertForm").html(); 
        let template = Handlebars.compile(source); 
        let data = {insertFrmNum:insertFrmNum }; 
        let html = template(data);
        
        $("#insertFormListArea").append(html);
        
        insertFrmArr.push(insertFrmNum);

        reCheckDayLimit();
    }


    var save =()=>{
        
    	var rsvtStrtDt = $("#rsvtStrtDt").val();
    	var rsvtEndtDt = $("#rsvtEndtDt").val();

    	if(rsvtStrtDt == null || rsvtStrtDt == ""){
        	alert("예약시작일을 입력해주십시오")
        	showErrorMark("#rsvtStrtDt")
        	return;
        }
    	if(rsvtEndtDt == null || rsvtEndtDt == "" ){
            alert("예약종료일을 입력해주십시오")
            showErrorMark("#rsvtEndtDt")
            return;
        }
        
        let today = moment().format('YYYYMMDD');
        
    	if(rsvtStrtDt.replaceAll("-","") < today ){
            alert("예약시작일은 금일보다 이후여야 합니다.")
            showErrorMark("#rsvtStrtDt")
            return;
        }
        
    	if(rsvtEndtDt.replaceAll("-","") < today ){
            alert("예약종료일은 금일보다 이후여야 합니다.")
            showErrorMark("#rsvtEndtDt")
            return;
        }
        
    	if( rsvtStrtDt.replaceAll("-","") > rsvtEndtDt.replaceAll("-","")){
    		alert("예약종료일은 예약시작일 이후여야 합니다.")
            showErrorMark("#rsvtEndtDt")
            return;
	    }
	    
        //요일,금액 설정 validation
        var payValidation = true;
        var dayValidation = [];
        insertFrmArr.forEach(function(item){
            
        	var payment = $("#payment"+item).val();
        	var payFree = $("#payFree"+item).is(":checked");

        	//금액 설정 확인 
        	if((payment == null || payment =="") && !payFree){
        		payValidation = false;
            }
        	//요일체크 확인 
            for(let i=0;i<7;i++){
                if($("#"+item+"day"+i).is(":checked")){dayValidation.push(item)}
            }
            
        })
        
        if(!payValidation){
            alert("금액설정을 입력해주십시오.");
            return;
        }
        
        let setCollection = new Set(dayValidation);
        
        if(setCollection.size != insertFrmArr.length){
            alert("요일 선택를 해주십시오.");
            return;
        }
        
        //요일 중복 validation
        var dayNums =[];
        var dupYn = false;
        $(".check-day").each(function(){
            if($(this).is(":checked")){
                dayNums.push($(this).val())
            }
        })
        for(let i = 0; i < dayNums.length; i++) {
              let currElem = dayNums[i];
              for(let j = i+1; j < dayNums.length; j++) {
                if(currElem === dayNums[j]) {
                  dupYn = true;
                  break;
                }
              }
        }
        if(dupYn){
            alert("중복되는 요일이 있습니다. 확인해주십시오.");
            return;
        }

        if(!confirm("일괄등록 하시겠습니까?"))return;

        //Parameter 생성
        var start = moment(rsvtStrtDt).format('YYYY-MM-DD');
        var end = moment(rsvtEndtDt).format('YYYY-MM-DD');
        //var days = moment.duration(end.diff(start)).asDays();
        var days = moment(rsvtEndtDt).diff(moment(rsvtStrtDt), "days") //moment.duration(end.diff(start)).asDays();
        var daysArr =[];
        
        var pushDt = null;
        for(var x=0; x <= days ; x++){
            pushDt = (moment(start).add(x,'d')).format('YYYY-MM-DD');
            daysArr.push(pushDt);
        }

        var rsvtdeList=[];
        insertFrmArr.forEach(function(frmNum){
            
            //각 입력폼 별 범위내 요일 에 맞는 날일만 배열에 담는다.
            var paramDays = []; 
            var day=[];
            var payment = $("#payment"+frmNum).val();

            //0 일요일부터 6 토요일까지  
            for(var i=0;i<7;i++){
                if($("#"+frmNum+"day"+i).is(":checked")){day.push(i)}
            }
            
            day.forEach(function(day_num){
            	var dateArr = daysArr.filter(function(index){
                    if(moment(index).day() == day_num) {return moment(index).format('YYYY-MM-DD')}
                })
                dateArr.forEach(function(d){paramDays.push(d)})
            });

            let chkinHr = (spceVo.chkinHr!=null && spceVo.chkinHr!='')?spceVo.chkinHr:"";
            let chcktHr = (spceVo.chcktHr!=null && spceVo.chcktHr!='')?spceVo.chcktHr:"";
            
            paramDays.forEach(function(paramDay){
            	rsvtdeList.push(
                    	{ 'amt': payment
                          ,'de' : paramDay
                          ,'alldayYn' :'Y'
                          ,'spceid' : spceVo.spceid
                          ,'utztnSeCd' : '169101'
                          ,'bgngDt'   :paramDay +" "+chkinHr 
                          ,'endDt'    :(moment(paramDay).add(1,'d')).format('YYYY-MM-DD')+" "+chcktHr
                          ,'rsvtPsbltyYn' :'Y' 	
                        }
                )
            })
        }) //forEach end
         
        var params={
        	'rsvtdeList' : rsvtdeList
        	,'spceid' : spceVo.spceid   
        }
        
        if(displayWorkProgress()){
            $.ajax({
                url : "/mng/spce/InsertSpceTotalStayInfo.do",
                type: 'POST',
                cache : false,
                traditional : true, //필수
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data :JSON.stringify(params),
                success : function (data){
                	if(data.result=='success'){
                		$('#calendar').fullCalendar('gotoDate', moment(rsvtStrtDt).format('YYYY-MM-DD'));
                        setTimeout(function(){makeCalendarEvent();},1000)
                	    alert(data.msg);
                	    spceModal.hide();
                    }else{
                    	alert(data.msg);
                    }
                    closeWorkProgress();
                }
            });
        }
   }
  
</script>
</body>
</html>