<form id="modifyFrm" action="" onsubmit="return false;">
   <div class="tab-pane active" id="tablist01" role="tabpanel">
       <div class="card-header p-t-0 p-b-0">
           <h3 class="sub-title"><strong>기본 정보</strong></h3>
       </div>
       <div class="card-block-small p-t-0">
           <div class="row">
               <div class="col-lg-6 mb-3">
                   <div class="mb-0 form-group required">
                       <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교구유형</strong></div>
                       <div class="col-12">
                           <span kattr:select_code="tchaidTypeCd" grpCd="184" firstOptTxt="-선택 -"  addClass="form-select form-select-sm" ></span>
                       </div>
                   </div>
               </div>
               
               <div class="col-lg-6 mb-3">
                   <div class="mb-0 form-group required">
                       <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육유형</strong></div>
                       
                       <div class="form-radio">
                           <span kattr:radio_code="eduTypeCd" grpCd=187 selectedCd="187101" isAdmin="true">
                       </div>
                       
                   </div>
               </div>
               
           </div>
           <div class="row">
               <div class="col-12 mb-3">
                   <div class="mb-0 form-group required">
                       <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="tchaidNm"><strong>교구명</strong></label>
                       <div class="col-12">
                           <input type="text" class="form-control form-control-sm" name="tchaidNm" id="tchaidNm" />
                       </div>
                   </div>
               </div>
           </div>
           
           <div class="row">
               <div class="col-12 mb-3">
                   <div class="mb-0 form-group required">
                       <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육주제</strong></div>
                       
                       <div id="sbjctArea" >
                       
                       <div class="row mb-3 mb-md-2 subject-form" id="subject1">
                           <div class="col-md-auto">
                               <button class="input-group-text btn btn-primary btn-sm"  onclick="plusSubjectForm()" >+</button>
                               <button class="input-group-text btn btn-primary btn-sm"  onclick="removeSubjectForm('1')"disabled>-</button>
                           </div>
                           <div class="col-md-5 mt-1 mt-md-0">
                               <select id="subjectSelect1" name="eduSbjctCds" class="form-select form-select-sm" onchange="duplCheck('1')">
                                   <option value="" >-선택-</option>
                                   <option th:each="item : ${sbjctCdLsit}"   th:value="${item.CD}"> <th:block th:text="${item.CD_NM}" /> </option>
                               </select>
                           </div>
                       </div>
                       
                       </div>
                       
                   </div>
               </div>
           </div>
           
           <div class="row">
               <div class="col-12 mb-3">
                   <div class="mb-0 form-group required">
                       <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육대상</strong></div>
                       <div class="border-checkbox-section">
                       <span kattr:check_code="eduTrgtCds" grpCd="185"  isAdmin="true">
                       </div>
                   </div>
               </div>
           </div>
           <div class="row">
               <div class="col-lg-6 mb-3">
                   <div class="mb-0 form-group required">
                       <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>모둠구성</strong></div>
                       <div class="col-12">
                           <span kattr:select_code="teamCmpstnCd" grpCd="186" firstOptTxt="-선택 -"  addClass="form-select form-select-sm" ></span>
                       </div>
                   </div>
               </div>
               <div class="col-lg-6 mb-3">
                   <div class="mb-0 form-group required">
                       <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사용여부</strong></div>
                       <div class="col-12">
                           <div class="form-radio">
                               <div class="radio radio-inline">
                                   <label class="mb-0 form-label">
                                       <input type="radio" name="useYn" value="Y" checked>
                                       <i class="helper"></i>사용
                                   </label>
                               </div>
                               <div class="radio radio-inline">
                                   <label class="mb-0 form-label">
                                       <input type="radio" name="useYn" value="N" disabled>
                                       <i class="helper"></i>사용안함
                                   </label>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       
       <div class="card-header p-t-0 p-b-0">
           <h3 class="sub-title"><strong>교구 구성</strong></h3>
       </div>
       
       <div class="card-block-small p-t-0" id="cmpntArea" >
       
           <div class="row mb-3 mb-md-2 cmpnt-form " id="cmpntForm1">
               <div class="col-md-auto align-self-end">
                   <button class="input-group-text btn btn-primary btn-sm" onclick="plusCmpnt()">+</button>
                   <button class="input-group-text btn btn-primary btn-sm" onclick="removeCmpnt('1')"disabled>-</button>
               </div>
               <div class="col-md-5 mt-1 mt-md-0 ">
                   <div class="col-form-label col-sm-12 p-t-0 pb-1"><strong>구성품 선택</strong></div>
                   
                   <div class="col-12" >
                      <input type="text" class="cmpnt-input" selectsearchcondition="cmpnt1" id="cmpnt1" name="cmpnt1" style="position:absolute;width:0px;margin:0px;padding:0px;visibility:hidden;">
                      <select class="select2-hidden-accessible" name="selectCmpnt1" id="selectCmpnt1" tabindex="-1" aria-hidden="true" ></select>
                   </div>
                   
               </div>
               <div class="col-md-auto mt-1 mt-md-0">
                   <div class="col-form-label col-sm-12 p-t-0 pb-1"><strong>수량</strong></div>
                   <div class="col-12">
                       <input type="number" id="cmpntCnt1"  name="cmpntCnt1" class="form-control form-control-sm" aria-label="수량" style="width:60px">
                   </div>
               </div>
           </div>
           
       </div>

       <div class="card-block-small">
           <th:block sec:authorize-url="/mng/tchaid/insertTchaid.do">
           <button type="button" class="btn btn-primary" onclick = "save()" >저장</button>
           </th:block>
           <button type="button" class="btn btn-disabled m-r-5" onclick="javascript:gridHelper1.removeHighlight(); gridHelper1.toggleContent();">취소</button>
       </div>
       
   </div>
</form>

<script type="text/javascript" src="/files/assets/pages/advance-elements/select2-custom.js"></script>


<script  id="subjectFrm" type="text/x-handlebars-template">

    <div class="row mb-3 mb-md-2 subject-form" id="subject{{frmNum}}">
         <div class="col-md-auto">
            <button class="input-group-text btn btn-primary btn-sm"  onclick="plusSubjectForm()" >+</button>
            <button class="input-group-text btn btn-primary btn-sm"  onclick="removeSubjectForm('{{frmNum}}')">-</button>
         </div>
         <div class="col-md-5 mt-1 mt-md-0">

             <select id="subjectSelect{{frmNum}}" name="eduSbjctCds" class="form-select form-select-sm" onchange="duplCheck('{{frmNum}}')">
                 <option value="" >-선택-</option>
                 {{#each list}}
                 <option value="{{CD}}">{{CD_NM}}</option>
                 {{/each}}
             </select>

         </div>
     </div>
</script>
<script  id="cmpntFrm" type="text/x-handlebars-template">
     <div class="row mb-3 mb-md-2 cmpnt-form" id="cmpntForm{{frmNum}}">
         <div class="col-md-auto align-self-end">
             <button class="input-group-text btn btn-primary btn-sm" onclick="plusCmpnt()">+</button>
             <button class="input-group-text btn btn-primary btn-sm" onclick="removeCmpnt('{{frmNum}}')">-</button>
         </div>
         <div class="col-md-5 mt-1 mt-md-0">
             <div class="col-form-label col-sm-12 p-t-0 pb-1"><strong>구성품 선택</strong></div>
             
             <div class="col-12" >
                <input type="text" class="cmpnt-input" selectsearchcondition="cmpnt{{frmNum}}" id="cmpnt{{frmNum}}" name="cmpnt{{frmNum}}" style="position:absolute;width:0px;margin:0px;padding:0px;visibility:hidden;">
                <select class="select2-hidden-accessible" name="selectCmpnt{{frmNum}}" id="selectCmpnt{{frmNum}}" tabindex="-1" aria-hidden="true" ></select>
             </div>
         </div>
         <div class="col-md-auto mt-1 mt-md-0">
             <div class="col-form-label col-sm-12 p-t-0 pb-1"><strong>수량</strong></div>
             <div class="col-12">
                 <input type="number" id="cmpntCnt{{frmNum}}"  name="cmpntCnt{{frmNum}}" class="form-control form-control-sm" aria-label="수량" style="width:60px">
             </div>
         </div>
     </div>
</script>


<script th:inline="javascript">

    /*<![CDATA[*/ 
	var sbjctCdLsit = /*[[${sbjctCdLsit}]]*/null; 
	var cmpntLsit = /*[[${cmpntLsit}]]*/null; 
    /*]]>*/
    
    var subjectLength = 0; 
    var subjectNum = [1]; 
     
    var cmpntLength = 0; 
    var cmpntNumArr = [1]; 
    var cmpntNum = 0;
	
    $(function(){

    	if(sbjctCdLsit!= null && sbjctCdLsit.length > 0 ){
	    	subjectLength = sbjctCdLsit.length 
        }
        resetCmpntSelectBox(1);
    })
    
    duplCheck=(frmNum)=>{
        var isDupl = false;
    	var selectCd = $("#subjectSelect"+frmNum).val();
    	if(selectCd==""){return;}

    	$(".subject-form").each(function(){
    		var itemId = ($(this).attr("id")).replace("subject","")
        	if( itemId != frmNum  &&  $("#subjectSelect"+itemId).val() == selectCd){
        		isDupl = true;
            }
        })
        if(isDupl){
        	$("#subjectSelect"+frmNum).val("");
            alert("교육주제는 중복 선택 할 수 없습니다."); 
            return; 
        }
    }
    
    plusSubjectForm =()=>{

    	var subjectFormCnt = 0 ; 
    	$(".subject-form").each(function(){	subjectFormCnt++ })
    	
    	if(subjectFormCnt >= subjectLength){
        	alert("더이상 생성 할수 없습니다.");
        	return;
        }
    	var maxValue = Math.max.apply(null, subjectNum);
    	subjectNum.push(maxValue+1);
        
	    var source = $("#subjectFrm").html();
        var template = Handlebars.compile(source);
        var data = {
                    'frmNum' : maxValue+1
                    ,'list':sbjctCdLsit 
                   };
        $("#sbjctArea").append(template(data));
    }

    removeSubjectForm=(frmNum)=>{
    	$("#subject"+frmNum).remove();
    	var filterArr = subjectNum.filter(function(data) {return data != frmNum;});
    	subjectNum = filterArr;
    }

    plusCmpnt=()=>{
        var maxValue = Math.max.apply(null, cmpntNumArr);
        cmpntNumArr.push(maxValue+1);
        var source = $("#cmpntFrm").html();
        var template = Handlebars.compile(source);
        var data = {'frmNum' : maxValue+1};
        $("#cmpntArea").append(template(data));
        resetCmpntSelectBox(maxValue+1);
    }
    
    removeCmpnt=(frmNum)=>{
        $("#cmpntForm"+frmNum).remove();
        var filterArr = cmpntNumArr.filter(function(data) {return data != frmNum;});
        cmpntNumArr = filterArr;
    }
    resetCmpntSelectBox=(elementId)=>{
        
    	var selectList = [ {id:' ', text:'- 선택 -', value:'',option:"selected"} ];
    	cmpntLsit.forEach(function(item){
            selectList.push({
                 'id':item.cmpntid, 'text': item.cmpntNm, 'value' : item.cmpntid}
            )
        })
        $('#selectCmpnt'+elementId).select2({
            language: {
                noResults: function () {
                    return '검색결과가 없습니다.';
                }
            },
            data: selectList,
            templateSelection: function (item) {
                return item.text;
            }
      });
      //change event  
      $('#selectCmpnt'+elementId).on('select2:select', function(e){
          
              var item = e.params.data;
              
		      let isDuplicated = false;
		      
		      cmpntNumArr.forEach(function(frmNum){
		        if(elementId != frmNum && item.value == $("#cmpnt"+frmNum).val() && item.value !=''){
		            isDuplicated = true;    
		        }
		      })
		        
		      if(isDuplicated){
		          alert("이미 선택된 구성품입니다.");
		          document.getElementById('cmpnt'+elementId).value = "";
		          $('#selectCmpnt'+elementId).val(" ").trigger('change');
		      }else{
		          document.getElementById('cmpnt'+elementId).value = item.value;
		          return item.text;
		      }
      })
    
      $('#selectCmpnt'+elementId).val(' ').trigger('change');
      
    }

    var validator= $("#modifyFrm").validate({
		    onsubmit: false,
	          rules: {
	        	     tchaidTypeCd :   { required: true }
	        	    ,tchaidNm     :   { required: true , maxlength: 100}
	        	    ,eduTrgtCds     :   { required: true }
	        	    ,teamCmpstnCd     :   { required: true }
	            },
	            messages: {
	        	     tchaidTypeCd : { required: " 교구 유형을 선택 해주십시오" }
	        	    ,tchaidNm     : { required: "교구명을 입력해주십시오" ,maxlength :"교구명은  100자를 넘을 수 없습니다."}
	        	    ,eduTrgtCds   : { required: "교육대상을 체크해주십시오" }
	        	    ,teamCmpstnCd : { required: "모둠구성을 선택 해주십시오" }
	            }
	})
    
 	function save(){
     	
	 	if(!($("#modifyFrm").valid())) return;


  	 	var subjectParamArr=[];
  	 	var errorFrmNum = 0;
  	 	if(subjectNum.length<=0){
  	  	 	alert("교육 주제를 선택해주십시오.")
  	  	 	return;
  	  	}else{
  	  	    for(var i=0 ; i<subjectNum.length;i++){
  	  	        subjectParamArr.push($("#subjectSelect"+subjectNum[i]).val())
	  	  	    if($("#subjectSelect"+subjectNum[i]).val() == ""){
	  	  	        errorFrmNum = subjectNum[i];
	  	  	  	}
  	  	    }
  	  	}
  	  	  	
  	  	if(errorFrmNum > 0){
  	  	   alert("교육 주제를 선택해주십시오.");
  	  	   showErrorMark("#subjectSelect"+errorFrmNum);
           return;
  	  	}

  	    var errorCmpntFrmNum = 0;
  	    var cmpntCntErrorNum = 0;
        for(var i=0 ; i < cmpntNumArr.length;i++){

            if($("#cmpnt"+cmpntNumArr[i]).val() == null || $("#cmpnt"+cmpntNumArr[i]).val() == "" || $("#cmpnt"+cmpntNumArr[i]).val() == null){
            	errorCmpntFrmNum = cmpntNumArr[i];
                break;
            }
            
            if($("#cmpntCnt"+cmpntNumArr[i]).val() == null || $("#cmpntCnt"+cmpntNumArr[i]).val() == "" || $("#cmpntCnt"+cmpntNumArr[i]).val() < 0){
            	cmpntCntErrorNum = cmpntNumArr[i];
                break;
            }
        }
        
  	  	if(errorCmpntFrmNum > 0){
  	  	   alert("구성품을 선택해주십시오.");
	  	  	var $el = $("#cmpnt"+errorCmpntFrmNum);
	  	  	let borderEl =  $($el).siblings('.select2-container').find('.select2-selection');
	        $(borderEl).css("border","2px solid #ff0000").animate({}, 500);//#B0371D : 진한빨강 ,
	        setTimeout(function() { $(borderEl).css("border","")}, 1000);
            return;
  	  	}
  	  	if(cmpntCntErrorNum > 0){
  	  	   alert("수량은 0 이상이어야 합니다.");
           showErrorMark("#cmpntCnt"+cmpntCntErrorNum);
           return;
  	  	}
  	  	
  	 	if(!confirm("저장하시겠습니까?")) return;

  	 	//구성품 
  	 	var paramArr =[]
  	 	cmpntNumArr.forEach(function(num){
  	 		paramArr.push(
  	 	  	 	{
  	  	 		  'cmpntid':$("#cmpnt"+num).val()
  	  	 		  ,'qntyCmpstn':$("#cmpntCnt"+num).val()
  	  	 		}
	  	    )
  	  	})
  	  	
  	  	var trgtParamArr=[]
  	  	$("input[name=eduTrgtCds]").each(function(){
  	  	  	if($(this).is(":checked")){trgtParamArr.push($(this).val())}
  	  	})
  	  	
  	 	let params={
  	 		tchaidTypeCd : $("#tchaidTypeCd").val(),
  	 		tchaidCmpntCmpstnList : paramArr,
  	 		tchaidNm : $("#tchaidNm").val(),
  	 		useYn : $("input[name=useYn]:checked").val(),
  	 		eduTypeCd : $("input[name=eduTypeCd]:checked").val(),
  	 		teamCmpstnCd : $("#teamCmpstnCd").val(),
  	 		eduSbjctCds : subjectParamArr,
  	 		eduTrgtCds : trgtParamArr,
  	 		qntyInvntry :0
  	  	}
  	 	
	    if(displayWorkProgress()){
			$.ajax({
				url : "/mng/tchaid/insertTchaid.do",
				type: 'POST',
				cache : false,
				traditional : true, //필수
				dataType: 'json',
				contentType: "application/json; charset=utf-8",
				data : JSON.stringify(params),
				success : function (data){
					if(data.result=="success"){
						alert(data.msg);
						gridHelper1.resetListContent();
					}else{
						alert(data.msg);
					}
					closeWorkProgress();
				}
			});
		}
	}
    
</script>