<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/mng/mainLayout" 
>

<body>
 <div layout:fragment="content">
 <style>
.hide{display:none;}
</style>
<!-- Page-body start -->
  <div class="page-body">
      <div class="row">
          <div class="col-12">
          <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
             <!-- 필터 부분 -->
                 <div class="card-block-small">
                     <!-- 키워드 filter -->
                     <div class="row">
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></span>
                                 <div class="input-group input-group-sm input-group-dropdown mb-0">
                                     <select name="searchType" id="searchType" class="form-select form-control ">
                                        <option value="">- 전체 -</option>
                                        <option value="nm">교구명</option>
                                     </select>
                                     <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" aria-label="Text input with dropdown button">
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교구 유형</strong></span>
                                 <div class="col-sm-12">
                                     <span kattr:select_code="searchTchaidTypeCd" grpCd="184" firstOptTxt="-전체 -"  addClass="form-select form-select-sm form-control-sm" ></span>
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육 유형</strong></span>
                                 <div class="col-sm-12">
                                     <span kattr:select_code="searchEduTypeCd" grpCd="187" firstOptTxt="-전체 -"  addClass="form-select form-select-sm form-control-sm" ></span>
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>모듬구성</strong></span>
                                 <div class="col-sm-12">
                                     <span kattr:select_code="searchTeamCmpstnCd" grpCd="186" firstOptTxt="-전체 -"  addClass="form-select form-select-sm form-control-sm" ></span>
                                 </div>
                             </div>
                         </div>
                         
                     </div>
                     <!-- //키워드 filter -->
                     <!-- 키워드 filter-btn -->
                     <div class="mt-1 p-t-20 text-center border-top">
                         <button class="btn btn-disabled m-r-5" onclick="fn_init()" >초기화</button>
                         <button class="btn btn-primary" onclick="fn_searchForm()" >검색</button>
                     </div>
                 </div>
           </form>
          </div>
           
          <!-- //필터 부분 -->
          <div class="col-12">
           <div class="card">
                <div class="row p-20 p-b-0">
                
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <h5><strong>교구 검색 결과</strong></h5>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <th:block sec:authorize-url="/mng/tchaid/tchaidDetail.html">
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="fn_goInsertForm();" >등록</button>
                        </th:block>
                    </div>
                    
                </div>
                
                <div class="card-block-small">
                    <div class="dt-responsive table-responsive">
                        <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                       </div>
                    </div>
                </div>
                
            </div>
          </div>
		  <!-- Content Area -->
		  <div class="col-12">
		  <div id="contentPanel" class="card"></div>
		  </div>
      </div>
  </div>
  
 <!--기업 검색 모달 팝업  -->
 <div class="modal fade" id="tchaidModal"  data-bs-backdrop="static"></div>

<script type="text/javascript" src="/files/bower_components/handlebars/handlebars.min.js" charset="utf-8" ></script>
<script type="text/javascript" src="/files/assets/pages/advance-elements/select2-custom.js"></script>
<script th:inline="javascript">
  
  /*<![CDATA[*/ 
     var userid = /*[[${param.userid}]]*/null;
  /*]]>*/
    var gridHelper1;
    var tchaidModal;
    var clickedTchaidid = null;
             
    $(function(){
        gridHelper1 = new GridHelper('jsGrid','contentPanel');
        writeJsGridData();
    });
    
    function fn_searchForm(){
    	clickedTchaidid= null;
        gridHelper1.resetListContent();
    }
    
    function fn_init() {
        $("#searchType").val('');
        $("#searchKeyword").val('');
        $("#searchTchaidTypeCd").val('');
        $("#searchEduTypeCd").val('');
        $("#searchTeamCmpstnCd").val('');
    }
    
    function writeJsGridData(){
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",
            autoload: true,
            sorting: false,
            paging: true,
            pagerContainer: "#listPager",
            pagerFormat: "{first} {prev} {pages} {next} {last}",
            pagePrevText: "이전",
            pageNextText: "다음",
            pageFirstText: " < 처음 ㅣ",
            pageLastText: " | 마지막 >",
            pageSize: 10,
            pageButtonCount: 10,
            pageLoading: true,
            pageIndex: 1,
            noDataContent: "데이터가 없습니다.",
            controller: {
                loadData: function (filter) {
                    var data = $.Deferred();
                                            
                    var formData = $('#searchFrm').serializeArray();
                    var params = [
                            {name: "pageNumber", value: filter.pageIndex},
                            {name: "rowPerPage", value: filter.pageSize},
                    ]
                    
                    if(filter.sortField != undefined){
                        params.push({name: "orderField", value: filter.sortField});
                        params.push({name: "orderDirection", value: filter.sortOrder});
                    }else{
                        params.push({name: "orderField", value: 'reg_dt'});
                    }
                    
                    formData = formData.concat(params);
                    
                    $.ajax({
                      type: "GET",
                      contentType: "application/json; charset=utf-8",
                      url: "/mng/tchaid/selectTchaidList.do",
                      dataType: "json",
                      data: formData,
                    }).done(function(response){
                        var da = {
                                data : escapeGridData(response.list)
                                ,itemsCount : response.totalCount
                            };
                      data.resolve(da);
                    });
                    return data.promise();
                },
            },
            
            fields: [
                { name: 'tchaidid', css: 'hide' }
                ,{ title: 'No.'    ,name: 'rowNumber' ,type: "number", width : "80", align:"center",  sorting :false }
                ,{ title: '교구명'   ,name: 'tchaidNm'    ,type: "text" , width: "200" ,align:"center"}
                ,{ title: '재고'    ,name: 'qntyInvntry'    ,type: "text" , width: "100" ,align:"center"}
                ,{ title: '교구유형' ,name: 'tchaidTypeCdNm'   ,type: "text" , width: "200" ,align:"center"}
                ,{ title: '교육유형'  ,name: 'eduTypeCdNm'   ,type: "text" , width: "100" ,align:"center"}
                ,{ title: '모둠구성'  ,name: 'teamCmpstnCdNm'   ,type: "text" , width: "100" ,align:"center"}
                ,{ title: '사용여부'  ,name: 'useYn'   ,type: "text" , width: "100" ,align:"center"
                    ,itemTemplate: returnSelectUseYn
                }
                ,{ title: '입고처리'  ,name: 'regDt' ,type: "text" , width: "100", align:"center" 
                    ,itemTemplate: function(value, item){
                        return $("<button class='btn btn-xs btn-info btn-mini' style='width:80%;'>").text("입고").on("click", function(){openWrhousngModal(item.tchaidid);  return false;});
                    }
                 }
            ],
            
            /*[# sec:authorize-url="/mng/tchaid/tchaidDetail.html"]*/
            rowClick: function(args) {
                if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                var detailUrl = "/mng/tchaid/tchaidDetail.html?mode=U&tchaidid=" + args.item.tchaidid; 
                gridHelper1.loadContentToTarget(detailUrl,"#contentPanel")
                gridHelper1.rowClick(args);
                clickedItem = args.item;
            },
            /*[/]*/
            onDataLoaded: function(args) {
                if(clickedTchaidid== null || args.grid.data == null || args.grid.data.length == 0) return;
                for(var i = 0; i < args.grid.data.length; i++) {
                    if(args.grid.data[i].tchaidid == clickedTchaidid){
                        var items = $("#jsGrid").jsGrid("option", "data");
                        var $row = $("#"+gridHelper1.jsGridId).jsGrid("rowByItem", items[i]);
                        $row.toggleClass("highlight");
                    }    
                }
            }
        });
    }
    
    var returnSelectUseYn = (_,item) =>{
        
        let selectHtml ="";
            selectHtml +="<select id='use_"+item.tchaidid+"' name='use_"+item.tchaidid+"' onchange=changeUseYn(this.id)" 
            selectHtml +=" class='form-select form-control form-bg-info' style='align:center;height:2.4em;width:90%;font-size:12px;'>";
            selectHtml +="<option value='Y'  "
            selectHtml +=(item.useYn == 'Y')? "selected":""; 
            selectHtml +=">사용</option>";
            selectHtml +="<option value='N'  "
            selectHtml +=(item.useYn == 'N')? "selected":""; 
            selectHtml +=">미사용</option>";
            selectHtml += "</select>";
            return selectHtml;      
    }
    
    fn_goInsertForm =()=>{
    	var inserlUrl = "/mng/tchaid/tchaidDetail.html?mode=I"; 
        gridHelper1.loadContent(inserlUrl);
    }
    
    //공간 삭제 
    deleteSpce =()=>{
        if(selectedItems.length <=0 ){
              alert("삭제 대상을 선택해주십시오.");
              return;
        }
        if(!confirm("선택하신 공간을 삭제처리 하시겠습니까?"))return;
        var spceids = selectedItems.join(",")
        var params ={
        	spceids : spceids
            ,useYn : "N"
        }
        
        if(displayWorkProgress()){
            $.ajax({
                url : "/mng/spce/deleteSpce.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : params,
                success : function (data){
                    
                    if(data.result == 'fail'){
                       alert(data.msg);
                       $('.singleCheckbox').each(function() { 
                           this.checked = false;   
                       });
                       $('#selectAllCheckbox').prop("checked",false);
	                   selectedItems = [];
                    }else{
                       alert(data.msg);
	                   selectedItems = [];
	                   gridHelper1.resetListContent();
                    }
	                closeWorkProgress();
                }
            });
        }
    }
    
    changeUseYn=(elid)=>{

    	var id = elid.replace("use_","");
    	var yn = $("#use_"+id).val();

        if(displayWorkProgress()){
            $.ajax({
                url : "/mng/tchaid/updateTchaid.do",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                cache : false,
                traditional : true, //필수
                dataType: 'json',
                data :JSON.stringify( {
                      tchaidid : id
                      ,useYn   : yn 
                      ,mode    : 'use'
                }),
                success : function (data){
                    if(data.result!="success"){
                        alert(data.msg);
                        var backVal = (yn=='Y')?"N":"Y";
                        $("#use_"+id).val(backVal);
                    }
                    closeWorkProgress();
                }
            });
        }
    }


   openWrhousngModal=(tchaidid) => {
	   
        var url = "/mng/tchaid/tchaidWrhousngPopup.html?tchaidid="+tchaidid;
        
        $("#tchaidModal").load(url, function(response, status, xhr) {
            if (status == "success") {
            	tchaidModal = new bootstrap.Modal($('#tchaidModal'));
            	tchaidModal.show();
            }
        });
     }
    
</script>
</div> 
</body>
</html>