
<form id="aplyFrm">
	    <div class="tab-pane active" id="applyInfo" role="tabpanel">
	        <div class="card-header p-t-0 p-b-0">
	            <h3 class="sub-title"><strong>신청기관 정보</strong></h3>
	        </div>
	        <div class="card-block-small p-t-0 p-b-0">
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoProgramName"><strong>프로그램명</strong></label>
	                        <div class="col-sm-12">
	                            <input type="text" class="form-control form-control-sm" name="prgrmNm" id="prgrmNm" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.prgrmNm}" readonly/>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoAgencyName"><strong>기관명</strong></label>
	                        <div class="col-sm-12">
	                            <input type="text" class="form-control form-control-sm" name="applyInfoAgencyName" id="applyInfoAgencyName" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.instNm}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>기관유형</strong></div>
	                        <div class="col-12">
	                            <select name="applyInfoAgencyCategorySelect" class="form-select form-select-sm form-control-sm" disabled>
	                                <option value="1">- 선택 -</option>
	                                <option value="2">국가 및 지자체</option>
	                                <option value="3">공공기관</option>
	                                <option value="4">사회환경교육단체</option>
	                                <option value="5">교육기관</option>
	                                <option value="6">기업</option>
	                                <option value="7">기타(식물원, 박물관, 어린이,집 등)</option>
	                            </select>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoRepresentativeName"><strong>대표자명</strong></label>
	                        <div class="col-sm-12">
	                            <input type="text" class="form-control form-control-sm" name="applyInfoRepresentativeName" id="applyInfoRepresentativeName" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.prgrmNm}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoApplicant"><strong>신청자</strong></label>
	                        <div class="col-12 row">
	                            <div class="col-8">
	                                <input type="text" class="form-control form-control-sm" name="applyInfoApplicant" id="applyInfoApplicant" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.aplcntNm}"  readonly/>
	                            </div>
	                            <div class="col-4 btn-group-sm">
	                                <button type="button" class="btn btn-inverse" data-bs-toggle="modal" data-bs-target="#memberSearchPopup">담당자 변경</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoManagerPhoneNum"><strong>담당자연락처</strong></label>
	                        <div class="col-sm-12">
	                            <input type="text" class="form-control form-control-sm" name="applyInfoManagerPhoneNum" id="applyInfoManagerPhoneNum" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.aplcntMoblphon}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoManagerEmail"><strong>담당자 이메일</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="applyInfoManagerEmail" id="applyInfoManagerEmail" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.aplcntEml}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoBusinessNum"><strong>사업자등록번호</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="brno" id="brno" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.brno}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoAgencyEmail"><strong>기관 이메일</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="applyInfoAgencyEmail" id="applyInfoAgencyEmail" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.instEml}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoAgencyPhoneNum"><strong>기관 연락처</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="applyInfoAgencyPhoneNum" id="applyInfoAgencyPhoneNum" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.instCntct}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>지역</strong></div>
	                        <div class="col-12">
	                            <select name="applyInfoRegionSelect" class="form-select form-select-sm form-control-sm" disabled>
	                                <option value="opt1">Select One Value Only</option>
	                                <option value="opt2">Type 2</option>
	                                <option value="opt3">Type 3</option>
	                                <option value="opt4">Type 4</option>
	                                <option value="opt5">Type 5</option>
	                                <option value="opt6">Type 6</option>
	                                <option value="opt7">Type 7</option>
	                                <option value="opt8">Type 8</option>
	                            </select>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="applyInfoAgencyHomePage"><strong>기관 홈페이지</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="applyInfoAgencyHomePage" id="applyInfoAgencyHomePage" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.instHmpg}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="agencyAddress"><strong>기관주소</strong></label>
	                        <div class="col-sm-12">
	                            <input type="text" class="form-control form-control-sm" name="agencyAddress" id="agencyAddress" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.instAddr}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="agencyDetailAddress"><strong>상세주소</strong></label>
	                        <div class="col-sm-12">
	                            <input type="text" class="form-control form-control-sm" name="agencyDetailAddress" id="agencyDetailAddress" placeholder="Text Input Validation" th:value="${dsgnAplyInfo.instDtladdr}"  readonly/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>증빙서류</strong></div>
	                        <div class="row">
	                            <div class="col-auto">
	                                <span class="label label-inverse">
	                                    sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
	                                </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>진행상태</strong></div>
	                        <div class="col-12">
	                            <select name="applyInfoOperationStatusSelect" class="form-select form-select-sm form-control-sm" disabled>
	                                <option value="opt1">Select One Value Only</option>
	                                <option value="opt2">Type 2</option>
	                                <option value="opt3">Type 3</option>
	                                <option value="opt4">Type 4</option>
	                                <option value="opt5">Type 5</option>
	                                <option value="opt6">Type 6</option>
	                                <option value="opt7">Type 7</option>
	                                <option value="opt8">Type 8</option>
	                            </select>
	                        </div>
	                    </div>
	                </div>
	                   <div class="card-block-small">
	                    <button class="btn btn-primary m-r-5">요건검토중 상태변경</button>
	                    <button class="btn btn-primary m-r-5">서류요청</button>
	                    <button class="btn btn-primary m-r-5">심사위원심사 요청</button>
	                    <button class="btn btn-primary">지원단심사 요청</button>
	                </div>
	                <div class="card-header p-t-0 p-b-0">
	                    <h3 class="sub-title"><strong>심사위원 배정 정보</strong></h3>
	                </div>
	                <div class="card-block-small p-t-0">
	                    <div class="mb-0 form-group row">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>담당자 배정</strong></div>
	                        <div class="col-sm-12 btn-group-sm">
	                            <button type="button" class="btn btn-inverse" data-bs-toggle="modal" data-bs-target="#managerSearchPopup">담당자 검색</button>
	                        </div>
	                        <div class="mt-2 row">
	                            <div class="col-auto">
	                            <span class="label label-inverse">
	                                label badge <a href="javascript:void(0)" class="text-white">X</a>
	                            </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="card-header p-t-0 p-b-0">
	                    <h3 class="sub-title"><strong>지원단 배정 정보</strong></h3>
	                </div>
	                <div class="card-block-small p-t-0">
	                    <div class="mb-0 form-group row">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>담당자 배정</strong></div>
	                        <div class="col-sm-12 btn-group-sm">
	                            <button type="button" class="btn btn-inverse" data-bs-toggle="modal" data-bs-target="#managerSearchPopup">담당자 검색</button>
	                        </div>
	                        <div class="mt-2 row">
	                            <div class="col-auto">
	                            <span class="label label-inverse">
	                                label badge <a href="javascript:void(0)" class="text-white">X</a>
	                            </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="card-header p-t-0">
	                    <div class="sub-title row m-l-0 m-r-0 m-b-0 align-items-center">
	                        <div class="col-12 col-lg-6 mb-2 mb-lg-0 p-l-0">
	                            <strong>보완요청</strong>
	                        </div>
	                        <div class="col-12 col-lg-6 text-right p-r-0 btn-group-sm">
	                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#redeemInsertPopup">보완요청</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
	   </div>
</form>

<script th:inline="javascript">
init();


function init() {

}

//담당자변경
//요건검토중 상태변경
//서류요청
//심사위원심사 요청
//지원단심사요청

//심사위원 담당자 배정
//지원단 담당자 배정

//보완요청




</script>