<!-- <div class="tab-pane" id="judgeandSupportGroupAssignCheckList" role="tabpanel"> -->
<div class="card-header p-t-0">
    <div class="sub-title row m-l-0 m-r-0 align-items-center">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0 p-l-0">
            <strong>체크리스트</strong>
        </div>
        <div class="col-12 col-lg-6 text-right p-r-0">
            <strong>
                <span class="text-danger d-inline fs-6">15</span>
                / 15점
            </strong>
        </div>
    </div>
</div>
<div class="card-block-small p-t-0">
    <div class="col-12 table-border-style mb-2">
        <div class="col-12 table-responsive">
            <table class="table table-border-style table-columned">
                <thead>
                <tr class="border-bottom-inverse border-top"
                    style="border-top-color: #404E67 !important;">
                    <th colspan="2"
                        class="text-center v-middle">프로그램
                        예산의 적절성
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">배점
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">예
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">아니오
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom">
                    <td class="text-center v-middle"
                        style="width: 60px;">1
                    </td>
                    <td>
                        사업비구성표와 산출내역이 동일한가?
                    </td>
                    <td class="text-center v-middle">1</td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList1"
                               id="judgeandSupportGroupAssignCheckList11"
                               value="" checked="">
                    </td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList1"
                               id="judgeandSupportGroupAssignCheckList12"
                               value="">
                    </td>
                </tr>
                <tr>
                    <th colspan="2"
                        class="table-active text-center">총점
                    </th>
                    <th colspan="3"
                        class="table-active text-center">
                        <span class="text-danger">5점</span>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 table-border-style mb-2">
        <div class="col-12 table-responsive">
            <table class="table table-border-style table-columned">
                <thead>
                <tr class="border-bottom-inverse border-top"
                    style="border-top-color: #404E67 !important;">
                    <th colspan="2"
                        class="text-center v-middle">교육자원의
                        적절성
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">배점
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">예
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">아니오
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom">
                    <td class="text-center v-middle"
                        style="width: 60px;">1
                    </td>
                    <td>
                        교육장소의 규모는 (회당)교육인원을 수용하기 적절한가?
                    </td>
                    <td class="text-center v-middle">1</td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList2"
                               id="judgeandSupportGroupAssignCheckList21"
                               value="" checked="">
                    </td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList2"
                               id="judgeandSupportGroupAssignCheckList22"
                               value="">
                    </td>
                </tr>
                <tr>
                    <th colspan="2"
                        class="table-active text-center">총점
                    </th>
                    <th colspan="3"
                        class="table-active text-center">
                        <span class="text-danger">5점</span>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 table-border-style">
        <div class="col-12 table-responsive">
            <table class="table table-border-style table-columned">
                <thead>
                <tr class="border-bottom-inverse border-top"
                    style="border-top-color: #404E67 !important;">
                    <th colspan="2"
                        class="text-center v-middle">홍보 및
                        참여방안
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">배점
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">예
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">아니오
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom">
                    <td class="text-center v-middle"
                        style="width: 60px;">1
                    </td>
                    <td>
                        교육장소의 규모는 (회당)교육인원을 수용하기 적절한가?
                    </td>
                    <td class="text-center v-middle">1</td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList3"
                               id="judgeandSupportGroupAssignCheckList31"
                               value="" checked="">
                    </td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList3"
                               id="judgeandSupportGroupAssignCheckList32"
                               value="">
                    </td>
                </tr>
                <tr>
                    <th colspan="2"
                        class="table-active text-center">총점
                    </th>
                    <th colspan="3"
                        class="table-active text-center">
                        <span class="text-danger">5점</span>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card-header p-t-0">
    <div class="sub-title row m-l-0 m-r-0 align-items-center">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0 p-l-0">
            <strong>안전관리의 체크리스트(실내or실외/숙박)</strong>
        </div>
        <div class="col-12 col-lg-6 text-right p-r-0">
            <strong>
                <span class="text-danger d-inline fs-6">17</span>
                / 17점
            </strong>
        </div>
    </div>
</div>
<div class="card-block-small p-t-0">
    <div class="col-12 table-border-style mb-2">
        <div class="col-12 table-responsive">
            <table class="table table-border-style table-columned">
                <thead>
                <tr class="border-bottom-inverse border-top"
                    style="border-top-color: #404E67 !important;">
                    <th colspan="2"
                        class="text-center v-middle">안전관리
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">배점
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">예
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">아니오
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center v-middle"
                        style="width: 60px;">1
                    </td>
                    <td>
                        안전관리 운영지침이 잘 수립되어 있으며 안전관려 점검일지 등이
                        구비되어 있습니까?
                    </td>
                    <td class="text-center v-middle">1</td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList4"
                               id="judgeandSupportGroupAssignCheckList41"
                               value="" checked="">
                    </td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList4"
                               id="judgeandSupportGroupAssignCheckList42"
                               value="">
                    </td>
                </tr>
                <tr>
                    <th colspan="2"
                        class="table-active text-center">총점
                    </th>
                    <th colspan="3"
                        class="table-active text-center">
                        <span class="text-danger">5점</span>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 table-border-style mb-2">
        <div class="col-12 table-responsive">
            <table class="table table-border-style table-columned">
                <thead>
                <tr class="border-bottom-inverse border-top"
                    style="border-top-color: #404E67 !important;">
                    <th colspan="2"
                        class="text-center v-middle">활동공간관리
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">배점
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">예
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">아니오
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom">
                    <td class="text-center v-middle"
                        style="width: 60px;">1
                    </td>
                    <td>
                        활동장소가 참여자와 프로그램을 진행하기에 적합한 공간으로 구성되어
                        있습니까?
                    </td>
                    <td class="text-center v-middle">1</td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList2"
                               id="judgeandSupportGroupAssignCheckList21"
                               value="" checked="">
                    </td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList2"
                               id="judgeandSupportGroupAssignCheckList22"
                               value="">
                    </td>
                </tr>
                <tr>
                    <th colspan="2"
                        class="table-active text-center">총점
                    </th>
                    <th colspan="3"
                        class="table-active text-center">
                        <span class="text-danger">5점</span>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 table-border-style">
        <div class="col-12 table-responsive">
            <table class="table table-border-style table-columned">
                <thead>
                <tr class="border-bottom-inverse border-top"
                    style="border-top-color: #404E67 !important;">
                    <th colspan="2"
                        class="text-center v-middle">안전교육
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">배점
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">예
                    </th>
                    <th class="text-center v-middle"
                        style="width: 60px;">아니오
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-bottom">
                    <td class="text-center v-middle"
                        style="width: 60px;">1
                    </td>
                    <td>
                        지도자 대상 안전교육(위급상황대비교육, 소방안전 관리교육 등)이
                        적합하게 이루어지고 있습니까?
                    </td>
                    <td class="text-center v-middle">1</td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList3"
                               id="judgeandSupportGroupAssignCheckList31"
                               value="" checked="">
                    </td>
                    <td class="text-center v-middle">
                        <input class="form-check-input"
                               type="radio"
                               name="judgeandSupportGroupAssignCheckList3"
                               id="judgeandSupportGroupAssignCheckList32"
                               value="">
                    </td>
                </tr>
                <tr>
                    <th colspan="2"
                        class="table-active text-center">총점
                    </th>
                    <th colspan="3"
                        class="table-active text-center">
                        <span class="text-danger">5점</span>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="card-block-small">
    <button class="btn btn-inverse m-r-5">목록</button>
    <button class="btn btn-primary">수정</button>
</div>
<!-- </div> -->