<div class="col-12">
    <div class="card">
        <div class="card-header p-b-0">
            <h3 class="sub-title"><strong>지정신청 진행상태</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="row justify-content-center">
                <div class="col-auto row align-items-center m-l-0 m-r-0" id="divSttsBar">
                    <th:block th:each="item, no: ${sttsCdList}">
                         <div class="col-auto label label-inverse-info-border" th:classappend="${item.cd} == ${sttsCd} ? 'bg-primary'" >
                             <a th:id="${item.cd}" th:classappend="${item.cd} == ${sttsCd} ? 'text-white'" th:href="'#btnSel'+${no.count}" onclick="fnUpdateSttsCd(this.id)"><th:block th:text="${item.cdNm}"></th:block></a>
                         </div>
                         <th:block th:if="!${no.last}">
                             <div class="col-auto text-primary fs-5">
                                 <i class="ion-arrow-right-c"></i>
                             </div>
                         </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- [230125] 탭 변경 -->
<div class="col-12">
    <ul class="nav nav-tabs tabs gray-tabs" role="tablist">
        <th:block sec:authorize-url="/mng/asgsysSrng/aplyInfoForm.html">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tabCon1" role="tab" id="tabCon1Link"><strong>신청정보</strong></a></li>
        </th:block>
        <th:block sec:authorize-url="/mng/asgsysSrng/jdgsSrngForm.html">
            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabCon3" role="tab" id="tabCon3Link"><strong>심사위원심사</strong></a></li>
        </th:block>
        <th:block sec:authorize-url="/mng/asgsysSrng/sprtgrpSrngForm.html">
             <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabCon4" role="tab" id="tabCon4Link"><strong>지원단심사</strong></a></li>
        </th:block>
        <th:block sec:authorize-url="/mng/asgsysSrng/rsltRptForm.html">
             <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tabCon5" role="tab" id="tabCon5Link"><strong>결과보고</strong></a></li>
        </th:block>
    </ul>
</div>

<div class="col-12">
    <div class="card">
        <div id="myTabContent" class="tab-content tabs p-t-20"></div>
    </div>
</div>

<script th:inline="javascript">

    /*<![CDATA[*/
    var prgrmid = /*[[${param.prgrmid}]]*/null;
    /*]]>*/

    $('.nav-tabs a').on('show.bs.tab', function(event) {
    	//tab set
        var tabId = event.currentTarget.attributes.id.value;
        console.log("############## tabId : " + tabId);
        selectTab(tabId);

    });

    function selectTab(tabId) {
        if(tabId == "tabCon1Link") {
            loadTabContent("/mng/asgsysSrng/aplyInfoForm.html?prgrmid=" + prgrmid);
        } else if(tabId == "tabCon3Link") {
            loadTabContent("/mng/asgsysSrng/jdgsSrngForm.html?prgrmid=" + prgrmid);
        } else if(tabId == "tabCon4Link") {
            loadTabContent("/mng/asgsysSrng/sprtgrpSrngForm.html?prgrmid=" + prgrmid);
        } else if(tabId == "tabCon5Link") {
            loadTabContent("/mng/asgsysSrng/rsltRptForm.html?prgrmid=" + prgrmid);
        }
        $("#" + tabId).parent().addClass("active");
    }

    function loadTabContent(uri){
        $.ajax({
            cache   : false
          , url     : uri
          , type    : 'GET'
          , async   : 'false'
          , dataType: 'html'
          , success : function(result){ //요청이 성공했을때 실행되는 콜백 함수
                          $('#myTabContent').html(result);
                          scrollIntoView('contentPanel');
                      }
        });
        showContent();
    }

    function initTab() {

        var tabFlag = false;

        if(tabFlag == false) {
            selectTab("tabCon1Link");
            tabFlag = true;
        }

        if(tabFlag == false) {
            selectTab("tabCon2Link");
            tabFlag = true;
        }

        if(tabFlag == false) {
            selectTab("tabCon3Link");
            tabFlag = true;
        }

        if(tabFlag == false) {
            selectTab("tabCon4Link");
            tabFlag = true;
        }

        if(tabFlag == false) {
            selectTab("tabCon5Link");
            tabFlag = true;
        }

        if(tabFlag == false) {
            selectTab("tabCon6Link");
            tabFlag = true;
        }

    }

    //지정신청 진행상태 변경
    function fnUpdateSttsCd(sttsCd){

    	if(!confirm("진행상태가 변경됩니다. 변경 하시겠습니까?")){return;}

        var data = {
        		"sttsCd"  : sttsCd
              , "prgrmid" : ""+prgrmid
        }

        $.ajax({
            url :"/mng/asgsysSrng/updateSttsCd.do",
            type: 'POST',
            cache : false,
            dataType: 'json',
            data : data,
            success : function (data){

            	alert(data.msg);
                if(data.result=="success"){
                    var uri = "/mng/asgsysSrng/dsgnAplyDetailForm.html?prgrmid=" + prgrmid;
                    gridHelper1.loadContent(uri);

                }else{
                }
                closeWorkProgress();
            },
            error : function (error){
            }
        })
    }

    initTab();


</script>