<form id="prgrmDstnctnFrm" name="prgrmDstnctnFrm">
    <input type="hidden" id="eduPhotoFilegrpid" name="eduPhotoFilegrpid" value=""> <!-- 교육사진파일그룹코드 -->

    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>프로그램 개요</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-3 form-group row required">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="prgrmNm"><strong>프로그램명</strong></label>
            <div class="col-12">
                <input type="text" class="form-control form-control-sm" name="prgrmNm" id="prgrmNm" maxlength="100" placeholder="프로그램명" value="">
            </div>
        </div>
        <div class="mb-3 form-group row required">
            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                <strong>컨설팅 진행여부</strong></div>
            <div class="col-12 row align-items-center">
                <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                    <div class="form-radio">
                        <span kattr:radio_yn="cnsltngPrgrsYn" label1="컨설팅 진행" label2="컨설팅 미진행" addStyle="margin-top:4px" addClass="col-sm-3" isAdmin="true" />
                    </div>
                </div>
                <div class="col-12 col-lg-auto">
                    <select title="컨설팅 진행"  id="cnsltngid" name="cnsltngid" class="form-select form-select-sm form-control-sm">
                        <option value=""> - 선택 - </option>
<!--                         <th:block th:if="${#lists.size(csltngList) > 0}" th:each="list, i: ${csltngList}"> -->
<!--                             <option th:value="${list.cnsltngid}"><th:block th:text="${list.prgrmNm}" /></option> -->
<!--                         </th:block> -->
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <div class="mb-0 form-group required">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>숙박여부</strong></div>
                    <div class="col-12 row align-items-center">
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                            <div class="form-radio">
                                <span kattr:radio_yn="styYn" label1="숙박" label2="비숙박" addStyle="margin-top:4px" addClass="col-sm-3" isAdmin="true" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto row align-items-center">
                            <div class="col-auto">
                                <input type="text" class="form-control form-control-sm" name="styNight" id="styNight" placeholder="" value="" style="width: 40px;">
                            </div>
                            <div class="col-auto p-l-0">박</div>
                            <div class="col-auto">
                                <input type="text" class="form-control form-control-sm" name="styDaytm" id="styDaytm" placeholder="" value="" style="width: 40px;">
                            </div>
                            <div class="col-auto p-l-0">일</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group required">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>운영형태</strong></div>
                    <div class="form-radio bg-form"><!-- [230125] class bg-form 추가 -->
                        <span id="operFrmCd" kattr:radio_code="operFrmCd" grpCd=120 addStyle="margin-top:4px" addClass="col-sm-3" isAdmin="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 form-group required">
            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                <strong>운영일정</strong>
            </div>
            <div class="border-checkbox-section bg-form"><!-- [230125] class bg-form 추가 -->
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="jan" id="jan" >
                    <label class="form-label form-label-sm border-checkbox-label" for="jan">1월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="feb" id="feb" >
                    <label class="form-label form-label-sm border-checkbox-label" for="feb">2월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="mar" id="mar" >
                    <label class="form-label form-label-sm border-checkbox-label" for="mar">3월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="apr" id="apr" >
                    <label class="form-label form-label-sm border-checkbox-label" for="apr">4월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="may" id="may" >
                    <label class="form-label form-label-sm border-checkbox-label" for="may">5월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="june" id="june" >
                    <label class="form-label form-label-sm border-checkbox-label" for="june">6월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="july" id="july" >
                    <label class="form-label form-label-sm border-checkbox-label" for="july">7월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="aug" id="aug" >
                    <label class="form-label form-label-sm border-checkbox-label" for="aug">8월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="sept" id="sept" >
                    <label class="form-label form-label-sm border-checkbox-label" for="sept">9월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="oct" id="oct" >
                    <label class="form-label form-label-sm border-checkbox-label" for="oct">10월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="nov" id="nov" >
                    <label class="form-label form-label-sm border-checkbox-label" for="nov">11월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="dcm" id="dcm" >
                    <label class="form-label form-label-sm border-checkbox-label" for="dcm">12월</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="mb-0 form-group required">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육주제</strong></div>
                    <!-- [230125] 교육주제 항목 내용 변경 -->

                    <div id="eduSbjctDiv" class="dynamicDiv">
                        <div class="row subjectCode mt-1" >
                            <div class="col-sm-3">
                                <select name="eduSbjctCd" id='eduSbjctCd_1' class="form-select form-select-sm">
                                    <option value="" >- 전체 -</option>
                                    <option th:each="item:${sbjctCdLsit}" th:value="${item.CD}">[[${item.CD_NM}]]</option>
                                </select>
                            </div>
                            <div class="col-sm-3 mt-2 mt-sm-0 btnList">
                                <button type="button" class="input-group-text btn btn-primary btn-sm"  onclick="prgrmDstnctn.addSbjctCd()" >+</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="mb-3 form-group required">
            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                <strong>교육대상</strong></div>
            <div class="border-checkbox-section bg-form"><!-- [230125] class bg-form 추가 -->
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="infnt" id="infnt" >
                    <label class="form-label form-label-sm border-checkbox-label" for="infnt">유아</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="schboy" id="schboy" >
                    <label class="form-label form-label-sm border-checkbox-label" for="schboy">초등</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="msklsd" id="msklsd" >
                    <label class="form-label form-label-sm border-checkbox-label" for="msklsd">중등</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="hgschst" id="hgschst" >
                    <label class="form-label form-label-sm border-checkbox-label" for="hgschst">고등</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="adult" id="adult" >
                    <label class="form-label form-label-sm border-checkbox-label" for="adult">성인</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="wholAge" id="wholAge" >
                    <label class="form-label form-label-sm border-checkbox-label" for="wholAge">전연령</label>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <div class="mb-0 form-group required">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="eduPlc"><strong>교육장소</strong></label>
                    <div class="col-12">
                        <input type="text" class="form-control form-control-sm" name="eduPlc" id="eduPlc" placeholder="" value="" >
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group required">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="eduNope"><strong>교육인원</strong></label>
                    <div class="col-12">
                        <input type="text" class="form-control form-control-sm" name="eduNope" id="eduNope" placeholder="" value="" >
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0 ">
                <div class="mb-0 form-group required">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="eduCnt"><strong>교육시간</strong></label>
                    <div class="col-12 row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control form-control-sm" name="eduCnt" id="eduCnt" placeholder="" value="" style="width: 40px;">
                        </div>
                        <div class="col-auto p-l-0">회</div>
                        <div class="col-auto">
                            <input type="text" class="form-control form-control-sm" name="eduHr" id="eduHr" placeholder="" value="" style="width: 40px;">
                        </div>
                        <div class="col-auto p-l-0">시간</div>
                        <div class="col-auto">
                            <input type="text" class="form-control form-control-sm" name="eduMnt" id="eduMnt" placeholder="" value="" style="width: 40px;">
                        </div>
                        <div class="col-auto p-l-0">분</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group required">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>프로그램 참가비용</strong></div>
                    <div class="col-12 row align-items-center">
                        <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                            <div class="form-radio">
                                <span kattr:radio_yn="pchrgYn" label1="무료" label2="유료" addStyle="margin-top:4px" addClass="col-sm-3" isAdmin="true" />
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto row align-items-center">
                            <div class="col-auto">
                                <input type="text" class="form-control form-control-sm" name="etrfee" id="etrfee" placeholder="" value="0" disabled>
                            </div>
                            <div class="col-auto p-l-0">
                                원 (1인당 비용)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>교육사진</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <p class="text-warning m-b-0">* 10MB 미만의 JPG, PNG, GIF파일만 업로드 가능(권장사이즈 : 가로 398px, 세로 223px)</p>
        <!-- [230421] 수정 -->
        <div class="col-12 row">
            <div id="fileDiv1" class="col-12 col-lg-6 col-xl-4 mb-3">
                <div class="img-thum">
                    <i class="align-items-center d-flex f-48 fa fa-file-image-o justify-content-center"></i>
                    <img id="eduPhotoFile1" class="scale-down" src="" alt="Generic placeholder image">
                </div>
                <div class="mt-2 text-center">
                    <button id="eduPhotoFileDelBtn1" type="button" class="btn btn-inverse btn-sm" onclick="fn_deleteEduPhotoFile(1)">이미지 삭제</button>
                    <label id="eduPhotoFileRegBtn1" class="btn btn-primary btn-sm" >
                        이미지 등록 <input id="eduPhotoFileInpu1" type="file" name="eduPhotoFileInpu1" style="display: none;">
                    </label>
                </div>
            </div>
            <div id="fileDiv2" class="col-12 col-lg-6 col-xl-4 mb-3">
                <div class="img-thum">
                    <i class="align-items-center d-flex f-48 fa fa-file-image-o justify-content-center"></i>
                    <img id="eduPhotoFile2" class="scale-down" src="" alt="Generic placeholder image">
                </div>
                <div class="mt-2 text-center">
                    <button id="eduPhotoFileDelBtn2" type="button" class="btn btn-inverse btn-sm" onclick="fn_deleteEduPhotoFile(2)">이미지 삭제</button>
                    <label id="eduPhotoFileRegBtn2" class="btn btn-primary btn-sm" >
                        이미지 등록 <input id="eduPhotoFileInpu2" type="file" name="eduPhotoFileInpu2" style="display: none;">
                    </label>
                </div>
            </div>
            <div id="fileDiv3" class="col-12 col-lg-6 col-xl-4 mb-3">
                <div class="img-thum">
                    <i class="align-items-center d-flex f-48 fa fa-file-image-o justify-content-center"></i>
                    <img id="eduPhotoFile3" class="scale-down" src="" alt="Generic placeholder image">
                </div>
                <div class="mt-2 text-center">
                    <button id="eduPhotoFileDelBtn3" type="button" class="btn btn-inverse btn-sm" onclick="fn_deleteEduPhotoFile(3)">이미지 삭제</button>
                    <label id="eduPhotoFileRegBtn3" class="btn btn-primary btn-sm" >
                        이미지 등록 <input id="eduPhotoFileInpu3" type="file" name="eduPhotoFileInpu3" style="display: none;">
                    </label>
                </div>
            </div>
        </div>
        <!-- //[230421] 교육사진 항목에 수정 시 - 이미지 등록, 삭제 버튼 추가 -->
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>프로그램소개</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-2 form-group row required">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="eduPrps"><strong>교육목적</strong></label>
            <div class="col-12">
                <input type="text" class="form-control form-control-sm" name="eduPrps" id="eduPrps" placeholder="교육 목적" value="" >
            </div>
        </div>
        <div class="mb-2 form-group row required">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="appro"><strong>환경교육 적절성</strong></label>
            <div class="col-12">
                <input type="text" class="form-control form-control-sm" name="appro" id="appro" placeholder="환경교육 적절성" value="" >
            </div>
        </div>
        <div class="mb-2 form-group row required">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="dstnctn"><strong>프로그램 우수성</strong></label>
            <div class="col-12">
                <input type="text" class="form-control form-control-sm" name="dstnctn" id="dstnctn" placeholder="프로그램 우수성" value="" >
            </div>
        </div>
        <div class="mb-0 form-group row required">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="eduCn"><strong>교육내용(체험활동 등)</strong></label>
            <div class="col-12">
                <textarea rows="5" cols="5" class="form-control form-control-sm" id="eduCn" name="eduCn"></textarea>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>프로그램 운영일정</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="col-12 table-border-style">
            <div class="col-12 table-responsive">
                <table class="table table-framed">
                    <thead>
                    <tr>
                        <th colspan="6" class="text-center">프로그램 전체 일정표</th>
                    </tr>
                    <tr>
                        <th class="text-center" style="width: 70px;">일정</th>
                        <th class="text-center" style="width: 130px;">시작시간</th>
                        <th class="text-center" style="width: 130px;">종료시간</th>
                        <th class="text-center">세부(단위) 프로그램명</th>
                        <th class="text-center">관련교육과정</th>
                        <th class="text-center" style="width: 117px;">설정</th>
                    </tr>
                    </thead>
                    <tbody id="schdlTbody">
                        <tr>
                            <td class="v-middle text-center" name="rnd" id="rnd_1">1차시</td>
                            <td>
                                <div class="col-12 row m-0">
                                    <div class="col-6 p-l-0 p-r-5">
                                        <input type="number" class="form-control form-control-sm" pattern="[0-9]" min="0" max="23" maxlength='2' name="bgngHr" id="bgngHr_1" placeholder="00" value="" >
                                    </div>
                                    <div class="col-6 p-r-0 p-l-5">
                                        <input type="number" class="form-control form-control-sm" pattern="[0-9]" min="0" max="59" maxlength='2' name="bgngMnt" id="bgngMnt_1" placeholder="00" value="" >
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="col-12 row m-0">
                                    <div class="col-6 p-l-0 p-r-5">
                                        <input type="number" class="form-control form-control-sm" maxlength="2" min="0" max="23" name="endHr" id="endHr_1" placeholder="00" value="" >
                                    </div>
                                    <div class="col-6 p-r-0 p-l-5">
                                        <input type="number" class="form-control form-control-sm" maxlength="2" min="0" max="59" name="endMnt" id="endMnt_1" placeholder="00" value="" >
                                    </div>
                                </div>
                            </td>
                            <td><input type="text" class="form-control form-control-sm" name="schdlPrgrmNm" id="schdlPrgrmNm_1" placeholder="프로그램 명" value="" ></td>
                            <td><input type="text" class="form-control form-control-sm" name="crs" id="crs_1" placeholder="관련교육과정" value="" ></td>
                            <td>
                                <div class="btn-group-sm">
                                    <button type="button" class="btn btn-primary m-r-5" onclick="prgrmDstnctn.addSchdl()">추가</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>유사시 대처 계획</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-3 form-group row required">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="wetherSttn"><strong>기상상황</strong></label>
            <div class="col-12">
                <input type="text" class="form-control form-control-sm" name="wetherSttn" id="wetherSttn" placeholder="" value="" >
            </div>
        </div>
        <div class="mb-3 form-group row required">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="actnMthd"><strong>대처방법</strong></label>
            <div class="col-12">
                <input type="text" class="form-control form-control-sm" name="actnMthd" id="actnMthd" placeholder="" value="" >
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>대처계획</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="col-12 table-border-style">
            <div class="col-12 table-responsive">
                <table class="table table-framed">
                    <thead>
                    <tr>
                        <th colspan="3" class="text-center">관련된 교육과정 내용</th>
                    </tr>
                    <tr>
                        <th class="text-center">본 프로그램명</th>
                        <th class="text-center">대체 프로그램명</th>
                        <th class="text-center" style="width: 117px;">설정</th>
                    </tr>
                    </thead>
                    <tbody id="planTbody">
                        <tr>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="planPrgrmNm" id="planPrgrmNm_1" placeholder="본 프로그램명" value="" />
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" name="sbstnPrgrmNm" id="$sbstnPrgrmNm_1" placeholder="대체 프로그램명" value="" />
                            </td>
                            <td>
                                <div class="btn-group-sm">
                                    <button type="button" class="btn btn-primary m-r-5" id="${ 'addBtnPlan' + i.count }" onclick="addPlan()" >추가</button>
                                    <button type="button" class="btn btn-inverse"       id="${ 'delBtnPlan' + i.count }" onclick="deletePlan()">삭제</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-block-small">
        <button type="button" class="btn btn-inverse m-r-5" onclick="gridHelper1.toggleContent()">취소</button>
        <button type="button" class="btn btn-primary m-r-5" onclick="prgrmDstnctn.doSave()">저장</button>
        <button type="button" class="btn btn-primary" onclick="prgrmDstnctn.doSave('next')">다음</button>
    </div>
</div>

</div>
<script th:inline="javascript">

    var sbjctCdLsit = /*[[${sbjctCdLsit}]]*/null;
    var prgrmDstnctn={
    	insertUrl:"/mng/asgsysSrng/insertPrgrmDstnctn.do",

    	init(){
    		prgrmDstnctn.setValid();

    		$('#eduPhotoFile1').hide();
    		$('#eduPhotoFileDelBtn1').hide();
    		$('#eduPhotoFile2').hide();
    		$('#eduPhotoFileDelBtn2').hide();
    		$('#eduPhotoFile3').hide();
    		$('#eduPhotoFileDelBtn3').hide();

    	},
    	//교육주제 '+'버튼
    	addSbjctCd(){

    		var lastRow = $('#eduSbjctDiv').children().last();

            if ($('#eduSbjctDiv').children().length >= sbjctCdLsit.length) {
                alert("최대 "+sbjctCdLsit.length+"행까지만 추가 가능합니다.");
                return;
            }

            var newRow = lastRow.clone();
            newRow.find('select').attr('id','eduSbjctCd_'+(lastRow.index() + 2));
            newRow.find('select').val("");
            lastRow.after(newRow);

            if ($('#eduSbjctDiv').children().length == 2) {
            	$('#eduSbjctDiv div:last button').after('<button type="button" class="input-group-text btn btn-primary btn-sm"  onclick="prgrmDstnctn.delSbjctCd()" >-</button>');
            }
    	},
    	//교육주제 '-'버튼
    	delSbjctCd(){
    		var lastRow = $('#eduSbjctDiv').children().last();
            if(lastRow.index() > 0) lastRow.remove();
    	},
    	//운영일정 추가
    	addSchdl(){
    		var lastRow = $('#schdlTbody').children().last();

            if ($('#schdlTbody').children().length >= sbjctCdLsit.length) {
                alert("최대 "+sbjctCdLsit.length+"행까지만 추가 가능합니다.");
                return;
            }

            var newRow = lastRow.clone();

            //rnd
            newRow.find('[id^=rnd_]').attr('id','rnd_'+(lastRow.index() + 2));
            newRow.find('[id^=rnd_]').prop("innerHTML",(lastRow.index() + 2)+"차시");

            newRow.find('input').val("");
            lastRow.after(newRow);

            if ($('#schdlTbody').children().length == 2) {
            	$('#schdlTbody div:last button').after('<button type="button" class="btn btn-primary m-r-5" onclick="prgrmDstnctn.delSchdl()">삭제</button>');
            }
    	},
    	//운영일정 삭제
    	delSchdl(){
    		var lastRow = $('#schdlTbody').children().last();
            if(lastRow.index() > 0) lastRow.remove();
    	},
        //
    	setValid(){
    		var validator= $("#prgrmDstnctnFrm").validate({
    	        rules: {
                    prgrmNm        : { required: true, isBlank : true, maxlength:100  }
                  , cnsltngPrgrsYn : { required: true }
                  , styYn          : { required: true }
                  , operFrmCd      : { required: true }
                  , eduPlc         : { required: true, isBlank : true , maxlength:100  }
                  , eduNope        : { required: true, isBlank : true , maxlength:100  }
                  , eduCnt         : { required: true, isBlank : true , maxlength:10   }
                  , eduHr          : { required: true, isBlank : true , maxlength:10   }
                  , eduMnt         : { required: true, isBlank : true , maxlength:10   }
                  , pchrgYn        : { required: true }
//                   , etrfee         : { required: true, isBlank : true , maxlength:100  }
                  , eduPrps        : { required: true, isBlank : true , maxlength:100  }
                  , appro          : { required: true, isBlank : true , maxlength:100  }
                  , dstnctn        : { required: true, isBlank : true , maxlength:50   }
                  , eduCn          : { required: true, isBlank : true , maxlength:300  }
                  , wetherSttn     : { required: true, isBlank : true , maxlength:50  }
                  , actnMthd       : { required: true, isBlank : true , maxlength:50  }
    	        },
    	        messages: {
    	        	prgrmNm        : { required: "프로그램명을 입력해 주십시오."             , isBlank : "입력값에 공백이 있습니다.", maxlength:"프로그램명은 100자를 넘을 수 없습니다."  }
                  , cnsltngPrgrsYn : { required: "컨설팅 여부 를 입력해 주십시오."           }
                  , styYn          : { required: "숙박여부 를 입력해 주십시오."              }
                  , operFrmCd      : { required: "운영형태 를 입력해 주십시오."              }
                  , eduPlc         : { required: "교육장소 를 입력해 주십시오."              , isBlank : "입력값에 공백이 있습니다.", maxlength:"교육장소는 100자를 넘을 수 없습니다."  }
                  , eduNope        : { required: "교육인원 을 입력해 주십시오."              , isBlank : "입력값에 공백이 있습니다.", maxlength:"프로그램명은 100자를 넘을 수 없습니다."  }
                  , eduCnt         : { required: "교육횟수 를 입력해 주십시오."              , isBlank : "입력값에 공백이 있습니다.", maxlength:"교육횟수는 10자를 넘을 수 없습니다."}
                  , eduHr          : { required: "교육(시간) 을 입력해 주십시오."            , isBlank : "입력값에 공백이 있습니다.", maxlength:"교육(시간)은 10자를 넘을 수 없습니다."}
                  , eduMnt         : { required: "교육(분) 을 입력해 주십시오."              , isBlank : "입력값에 공백이 있습니다.", maxlength:"교육(분)은 10자를 넘을 수 없습니다."}
                  , pchrgYn        : { required: "참가비용 유료여부 를 입력해 주십시오."     }
//                   , etrfee         : { required: "프로그램 참가비용 을 입력해 주십시오."     , isBlank : "입력값에 공백이 있습니다.", maxlength:"프로그램 참가비용은 10자를 넘을 수 없습니다."  }
                  , eduPrps        : { required: "교육목적 을 입력해 주십시오."              , isBlank : "입력값에 공백이 있습니다.", maxlength:"교육목적 은 100자를 넘을 수 없습니다."  }
                  , appro          : { required: "환경교육적 적절성 을 입력해 주십시오."     , isBlank : "입력값에 공백이 있습니다.", maxlength:"환경교육적 적절성 은 100자를 넘을 수 없습니다."  }
                  , dstnctn        : { required: "프로그램 우수성 입력해 주십시오."          , isBlank : "입력값에 공백이 있습니다.", maxlength:"프로그램 우수성은 100자를 넘을 수 없습니다."  }
                  , eduCn          : { required: "교육내용 (체험활동 등) 을 입력해 주십시오.", isBlank : "입력값에 공백이 있습니다.", maxlength:"교육내용(체험활동 등)은 300자를 넘을 수 없습니다."  }
                  , wetherSttn     : { required: "기상상황 을 입력해 주십시오."              , isBlank : "입력값에 공백이 있습니다.", maxlength:"기상상황은 50자를 넘을 수 없습니다."}
                  , actnMthd       : { required: "대처방법 을 입력해 주십시오."              , isBlank : "입력값에 공백이 있습니다.", maxlength:"대처방법은 50자를 넘을 수 없습니다."}
    	        }
    	    })
    	},

    	chkValid(){
    		//기관정보
    		if(dsgnAply.chkAplyFrm()==false) return false;
    		//우수성
            if($("#prgrmDstnctnFrm").valid()==false) return false;

    		//컨설팅진행
            if($('[name=cnsltngPrgrsYn]:checked').val()=='Y'){
            	if( $('#cnsltngid').val()==''|| $('#cnsltngid').val()==0 || $('#cnsltngid').val()=='0'){
            	    alert("컨설팅 프로그램을 선택해 주십시오.");
            	    return false;
            	}
            }

    		//숙박여부 숙박
            if($('[name=styYn]:checked').val()=='Y'){
            	if( $('#styNight').val()==''|| $('#styNight').val()==0 || $('#styNight').val()=='0'){
            	    alert("숙박(박)을 입력해 주십시오.");
            	    return false;
            	}
            	if( $('#styDaytm').val()==''|| $('#styDaytm').val()==0 || $('#styDaytm').val()=='0'){
            		alert("숙박(일)을 입력해 주십시오.");
            	    return false;
            	}
            }

    		//참가비용 유료
    		if($('[name=pchrgYn]:checked').val()=='N'){
            	if( $('#etrfee').val()==''|| $('#etrfee').val()==0 || $('#etrfee').val()=='0'){
            	    alert("참가비용을 입력해 주십시오.");
            	    return false;
            	}
            }
    	},
    	//저장
    	doSave(call){
//     		var url = "/mng/asgsysSrng/prgrmDstnctnUpdate.html?mode=reg&prgrmid=268";
//     		var url = "/mng/asgsysSrng/prgrmOperMngForm.html?mode=reg&prgrmid=264";
//             dsgnAply.loadJdsgTabContent(url);
            //return;

            var param = {};

            if(prgrmDstnctn.chkValid()==false)return;
            if(!confirm("저장 하시겠습니까?")){return;}

            //기관정보
    		$("#instFrm input, select").each(function(index, item) {

    	        if("checkbox" == item.type){
    	            if(item.checked ) {
    	                param[item.id] = "Y";
    	            }
    	            else{
    	            	param[item.id] = "N";
    	            }
    	        }else{
    	        	if(item.id!="") param[item.id] = item.value;
    	        }
    	    });

    		param["eduCn"] = $("#eduCn").val();    //교육 내용

            //프로그램우수성
    		$("#prgrmDstnctnFrm input, select").each(function(index, item) {

    	        if("checkbox" == item.type){
    	            if(item.checked ) {
    	                param[item.id] = "Y";
    	            }
    	            else{
    	            	param[item.id] = "N";
    	            }
    	        }else{
    	        	if(item.id!="") param[item.id] = item.value;
    	        }
    	    });

    		//컨설팅진행 여부
    	    param["cnsltngPrgrsYn"] = $('[name=cnsltngPrgrsYn]:checked').val();

    		//숙박여부와 프로그램우수성의 운영형태로 체크리스트의 운영형태를 판단하여 체크리스트 결정
    	    var operFrmCd = $("[id^=operFrmCd]:checked").val();
    	    var styYn = $("[id^=styYn]:checked").val();
    	    param["styYn"] = styYn;

    	    if(operFrmCd!=null){

    	        param["operFrmCd"]=operFrmCd;

    	        if(operFrmCd == "120104") {
    	            param["chkOperFrmCd"] = "145103";
    	        }
    	        else if ($("#operFrmCd").val() != "120104"){
    	            if(styYn=="Y"){
    	                param["chkOperFrmCd"] = "145101";
    	            }else if(styYn=="N"){
    	                param["chkOperFrmCd"] = "145102";
    	            }
    	        }
    	    }

    	    //ASS프로그램 상태코드 - 작성중
    	    param["sttsCd"] = "111101";

    	    //교육주제
    	    $("select[name=eduSbjctCd").each(function(index, item) {
    	         if(index==0) param["eduSbjctCdLst"] = ""+item.value;
    	         if(index!=0) param["eduSbjctCdLst"] += ","+item.value;
    	    });

    	    //프로그램 운영일정
    	    $("#schdlTbody").children().each(function(index, item){
    	    	param["prgrmSchdlLst[" + index + "].rnd"    ] = $(this).find('td[name=rnd]').prop('innerText');

    	    	param["prgrmSchdlLst[" + index + "].bgngHr" ] = $(this).find('input[name="bgngHr" ]').val();
    	    	param["prgrmSchdlLst[" + index + "].bgngMnt"] = $(this).find('input[name="bgngMnt"]').val();
    	    	param["prgrmSchdlLst[" + index + "].endHr"  ] = $(this).find('input[name="endHr"  ]').val();
    	    	param["prgrmSchdlLst[" + index + "].endMnt" ] = $(this).find('input[name="endMnt" ]').val();
    	    	param["prgrmSchdlLst[" + index + "].prgrmNm"] = $(this).find('input[name="schdlPrgrmNm"]').val();
    	    	param["prgrmSchdlLst[" + index + "].crs"    ] = $(this).find('input[name="crs"    ]').val();
    	    });

    	    //대처계획
    	    $("#planTbody").children().each(function(index, item){
    	    	param["emrgcyActnPlanLst[" + index + "].sbstnPrgrmNm"] = $(this).find('input[name="sbstnPrgrmNm"]').val();
    	    	param["emrgcyActnPlanLst[" + index + "].prgrmNm"     ] = $(this).find('input[name="planPrgrmNm" ]').val();
    	    });

		    $.ajax({
		        url : prgrmDstnctn.insertUrl,
		        type: 'POST',
		        cache : false,
		        dataType: 'json',
		        data : param,
		        success : function (data){
		            if(data.result=="success"){

		                alert("저장이 완료 되었습니다.");
		                $('#instFrm #mbrPopBtn').prop('disabled',true);
		                $('#instFrm #instEml').prop('readonly',true);
		                $('#instFrm #evdncDcmntFile').hide();

		                if(call=='next'){
    		                var url = "/mng/asgsysSrng/prgrmOperMngForm.html?mode=reg&prgrmid="+data.prgrmid;
    		                dsgnAply.loadJdsgTabContent(url);
		                }else{
		                	var url = "/mng/asgsysSrng/prgrmDstnctnUpdate.html?mode=reg&prgrmid="+data.prgrmid;
                            dsgnAply.loadJdsgTabContent(url);
		                }
		            }else{
		                alert("저장중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
		            }
		        },
		        error : function (error){

		        }
    	    });
    	}
    }

    $(function() {
    	prgrmDstnctn.init();

    	//컨설팅 여부
        $("#prgrmDstnctnFrm input[id^=cnsltngPrgrsYn]").on("change", function(e) {
            var id = e.originalEvent.target.id;

            if($("#"+id).val() == "Y") {
                $("#cnsltngid").prop("disabled", false);
            }else if($("#"+id).val() == "N") {
                $("#cnsltngid").val("");
                $("#cnsltngid").prop("disabled", true);
            }
        });

    	//숙박 여부
        $("#prgrmDstnctnFrm input[id^=styYn]").on("change", function(e) {
            var id = e.originalEvent.target.id;

            if($("#"+id).val() == "Y") {
                $("#styNight").prop("disabled", false);
                $("#styDaytm").prop("disabled", false);
            }else if($("#"+id).val() == "N") {
            	$("#styNight").prop("disabled", true);
                $("#styDaytm").prop("disabled", true);
            	$("#styNight").val("");
                $("#styDaytm").val("");
            }
        });

    	//참가비용
        $("#prgrmDstnctnFrm input[id^=pchrgYn]").on("change", function(e) {
            var id = e.originalEvent.target.id;

            if($("#"+id).val() == "Y") {
                $("#etrfee").prop("disabled", true);
                $("#etrfee").val(0);
            }else if($("#"+id).val() == "N") {
            	$("#etrfee").prop("disabled", false);
            }
        });



    	//교육사진
        $('[id^=eduPhotoFileInpu]').on('change', function(event) {

            var trgtId = event.currentTarget.id;
            var trgtIdx = trgtId.substr(trgtId.length-1,1);

            onImgid='eduPhotoFile'+trgtIdx;

            var bEduFilegrpid= false;

            var bSmmall=false;

            var objFile = document.querySelector('#'+trgtId);

            var formData = new FormData();
            var content = "";

            formData.append("files", objFile.files[0]);

            formData.append("filegrpid", $("#eduPhotoFilegrpid").val() == "" ? 0 : $("#eduPhotoFilegrpid").val());
            formData.append("filegrpNm", "dstnctnEduPhoto_file");

            //file input 초기화
            $("#"+trgtId).val("");

            if(displayWorkProgress()){
                $.ajax({
                    url : '/uploadMultipleFiles.do',
                    processData : false,
                    contentType : false,
                    data : formData,
                    type : 'POST',
                    async : false,
                    success : function(response) {

                        if(response.result == 'fail'){
                            alert(response.msg);
                        }else{
                            if($("#eduPhotoFilegrpid").val()=='0' || $("#eduPhotoFilegrpid").val()==''  || $("#eduPhotoFilegrpid").val()==null){
                                $("#eduPhotoFilegrpid").val(response[0].filegrpid );
                                bEduFilegrpid= true;
                            }

                            $("#pphotoFilegrpid").val(response.filegrpid);
                            $("#pphotoFileid").val(response.fileid);
                            $("#eduPhotoFile"+trgtIdx).prop('src', "/downloadFileByFileid.do?fileid=" + response[0].fileid + "&file_idntfc_key=" + response[0].fileIdntfcKey);

                            $("#eduPhotoFile"+trgtIdx).attr('fileid', response[0].fileid);
                            $("#eduPhotoFile"+trgtIdx).attr('fileIdntfcKey',response[0].fileIdntfcKey);
                            $("#eduPhotoFileRegBtn"+trgtIdx).hide();
                            $("#eduPhotoFileDelBtn"+trgtIdx).show();
                            $("#eduPhotoFile"+trgtIdx).show();
                            $('#fileDiv'+trgtIdx+' i').remove();
                        }
                        closeWorkProgress();
                    }
                });
            }

        });
    });

    //교육사진 삭제
    function fn_deleteEduPhotoFile(idx){

        var vFileid        = $("#eduPhotoFile"+idx).attr("fileid");
        var vFileIdntfcKey = $("#eduPhotoFile"+idx).attr("fileIdntfcKey");


        if(!confirm("파일을 삭제하시겠습니까?")){return;}

        var deleteFileUrl="/deleteFile.do?fileid="+vFileid+"&file_idntfc_key=" + vFileIdntfcKey;

        $.ajax({
          url : deleteFileUrl,
          type: 'GET',
          cache : false,
          dataType: 'json',
          success : function (data){
        	  debugger;
              $("#eduPhotoFileRegBtn"+idx).show();
              $("#eduPhotoFileDelBtn"+idx).hide();
              $("#eduPhotoFile"+idx).prop("src","");


//            $("#regFileDiv" + idx).show();
//               $("#delFileDiv" + idx).hide();

          },
          error : function (error){

          }
       })
    }
</script>