<form id="prgrmEvlFrm">
<input type="hidden" id="prgrmid" name="prgrmid" th:value="${prgrmEvlInfo.prgrmid}"><!-- 프로그램id -->
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title">
            <strong>평가목적</strong>
        </h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-0 form-group row">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="evlPrps"><strong>평가목적</strong></label>
            <div class="col-12">
                <input type="text" class="form-control form-control-sm" name="evlPrps" id="evlPrps" placeholder="50자 이하의 평가목적 표시" th:value="${prgrmEvlInfo.evlPrps}" />
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title">
            <strong>평가방식</strong>
        </h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="col-12 table-border-style">
            <div class="col-12 table-responsive">
                <table class="table table-framed table-bordered">
                    <thead>
                        <tr class="border-bottom-inverse">
                            <th class="text-center" style="width: 120px;">구분</th>
                            <th class="text-center" style="width: 80px;">평가시기</th>
                            <th class="text-center" style="width: 150px;">평가 목표 및 항목</th>
                            <th class="text-center" style="width: 150px;">평가도구</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2" class="v-middle text-center table-active">지도자 평가</td>
                            <td class="text-center">사전</td>
                            <td><input type="text" class="form-control form-control-sm" name="bfrLdrEvlArtcl" id="bfrLdrEvlArtcl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.bfrLdrEvlArtcl}" /></td>
                            <td><input type="text" class="form-control form-control-sm" name="bfrLdrEvlTl" id="bfrLdrEvlTl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.bfrLdrEvlTl}" /></td>
                        </tr>
                        <tr>
                            <td class="text-center">사후</td>
                            <td><input type="text" class="form-control form-control-sm" name="aftrLdrEvlArtcl" id="aftrLdrEvlArtcl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.aftrLdrEvlArtcl}" /></td>
                            <td><input type="text" class="form-control form-control-sm" name="aftrLdrEvlTl" id="aftrLdrEvlTl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.aftrLdrEvlTl}" /></td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="v-middle text-center table-active">참여자 평가</td>
                            <td class="text-center">사전</td>
                            <td><input type="text" class="form-control form-control-sm" name="bfrPrtpntEvlArtcl" id="bfrPrtpntEvlArtcl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.bfrPrtpntEvlArtcl}" /></td>
                            <td><input type="text" class="form-control form-control-sm" name="bfrPrtpntEvlTl" id="bfrPrtpntEvlTl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.bfrPrtpntEvlTl}" /></td>
                        </tr>
                        <tr>
                            <td class="text-center">사후</td>
                            <td><input type="text" class="form-control form-control-sm" name="aftrPrtpntEvlArtcl" id="aftrPrtpntEvlArtcl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.aftrPrtpntEvlArtcl}" /></td>
                            <td><input type="text" class="form-control form-control-sm" name="aftrPrtpntEvlTl" id="aftrPrtpntEvlTl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.aftrPrtpntEvlTl}" /></td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="v-middle text-center table-active">인솔자 평가</td>
                            <td class="text-center">사전</td>
                            <td><input type="text" class="form-control form-control-sm" name="bfrGdrEvlArtcl" id="bfrGdrEvlArtcl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.bfrGdrEvlArtcl}" /></td>
                            <td><input type="text" class="form-control form-control-sm" name="bfrGdrEvlTl" id="bfrGdrEvlTl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.bfrGdrEvlTl}" /></td>

                        </tr>
                        <tr>
                            <td class="text-center">사후</td>
                            <td><input type="text" class="form-control form-control-sm" name="aftrGdrEvlArtcl" id="aftrGdrEvlArtcl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.aftrGdrEvlArtcl}" /></td>
                            <td><input type="text" class="form-control form-control-sm" name="aftrGdrEvlTl" id="aftrGdrEvlTl" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.aftrGdrEvlTl}" /></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title">
            <strong>교육활동 기록/관리</strong>
        </h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-2 form-group row">
            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                <strong>기록방법</strong>
            </div>
            <div class="col-12 row align-items-center">
                <div class="col-12 col-lg-auto mb-2 mb-lg-0">
                    <div class="border-checkbox-section">
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="databaseWrtYn" id="databaseWrtYn" th:checked="${prgrmEvlInfo.databaseWrtYn=='Y'}"/>
                            <label class="form-label form-label-sm border-checkbox-label mb-0" for="databaseWrtYn">데이터베이스(DB) 작성</label>
                        </div>
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="clsjrnlWrtYn" id="clsjrnlWrtYn" th:checked="${prgrmEvlInfo.clsjrnlWrtYn=='Y'}" />
                            <label class="form-label form-label-sm border-checkbox-label mb-0" for=clsjrnlWrtYn> 수업일지 작성</label>
                        </div>
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="etcYn" id="etcYn" th:checked="${prgrmEvlInfo.etcYn=='Y'}" />
                            <label class="form-label form-label-sm border-checkbox-label mb-0" for="etcYn"> 기타 </label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-auto">
                    <input type="text" class="form-control form-control-sm" name="etcCn" id="etcCn" placeholder="Text Input Validation" th:value="${prgrmEvlInfo.etcCn}" />
                </div>
            </div>
        </div>
    </div>
    <div class="card-block-small">
        <button type="button" class="btn btn-inverse m-r-5" onclick="toggleList();">목록</button>
        <button type="button" class="btn btn-primary m-r-5" onclick="btnStorPrgrmEvl()">저장</button>
        <button type="button" class="btn btn-primary" onclick="fn_evlNextbtn()">다음</button>
    </div>
</form>
<script th:inline="javascript">

function fn_evlNextbtn(){
    $("#jdsgTab3Link").removeClass("active");
    $("#jdsgTab5Link").addClass("active");
    selectJdsgTab("jdsgTab5Link");
}

var validator= $("#prgrmEvlFrm").validate({
    rules: {
           evlPrps               : { maxlength: [50] }    // 평가목적
         , bfrLdrEvlArtcl        : { maxlength: [50] }    // 사전 지도자 평가 항목
         , bfrLdrEvlTl           : { maxlength: [50] }    // 사전 지도자 평가 도구
         , aftrLdrEvlArtcl       : { maxlength: [50] }    // 사후 지도자 평가 항목
         , aftrLdrEvlTl          : { maxlength: [50] }    // 사후 지도자 평가 도구
         , bfrPrtpntEvlArtcl     : { maxlength: [50] }    // 사전 참여자 평가 항목
         , bfrPrtpntEvlTl        : { maxlength: [50] }    // 사전 참여자 평가도구
         , aftrPrtpntEvlArtcl    : { maxlength: [50] }    // 사후 참여자 평가 항목
         , aftrPrtpntEvlTl       : { maxlength: [50] }    // 사후 참여자 평가 도구
         , bfrGdrEvlArtcl        : { maxlength: [50] }    // 사전 인솔자 평가 항목
         , bfrGdrEvlTl           : { maxlength: [50] }    // 사전 인솔자 평가 도구
         , aftrGdrEvlArtcl       : { maxlength: [50] }    // 사후 인솔자 평가 항목
         , aftrGdrEvlTl          : { maxlength: [50] }    // 사후 인솔자 평가 도구
         , etcCn                 : { maxlength: [50] }    // 기타 내용


    },
    messages: {
    	evlPrps               : { maxlength: "평가목적은 50자를 넘을 수 없습니다."}
      , bfrLdrEvlArtcl        : { maxlength: "사전 지도자 평가 항목은 50자를 넘을 수 없습니다."}
      , bfrLdrEvlTl           : { maxlength: "사전 지도자 평가 도구는 50자를 넘을 수 없습니다."}
      , aftrLdrEvlArtcl       : { maxlength: "사후 지도자 평가 항목은 50자를 넘을 수 없습니다."}
      , aftrLdrEvlTl          : { maxlength: "사후 지도자 평가 도구는 50자를 넘을 수 없습니다."}
      , bfrPrtpntEvlArtcl     : { maxlength: "사전 참여자 평가 항목은 50자를 넘을 수 없습니다."}
      , bfrPrtpntEvlTl        : { maxlength: "사전 참여자 평가 도구는 50자를 넘을 수 없습니다."}
      , aftrPrtpntEvlArtcl    : { maxlength: "사후 참여자 평가 항목은 50자를 넘을 수 없습니다."}
      , aftrPrtpntEvlTl       : { maxlength: "사후 참여자 평가 도구는 50자를 넘을 수 없습니다."}
      , bfrGdrEvlArtcl        : { maxlength: "사전 인솔자 평가 항목은 50자를 넘을 수 없습니다."}
      , bfrGdrEvlTl           : { maxlength: "사전 인솔자 평가 도구는 50자를 넘을 수 없습니다."}
      , aftrGdrEvlArtcl       : { maxlength: "사후 인솔자 평가 항목은 50자를 넘을 수 없습니다."}
      , aftrGdrEvlTl          : { maxlength: "사후 인솔자 평가 도구는 50자를 넘을 수 없습니다."}
      , etcCn                 : { maxlength: "기타내용은 50자를 넘을 수 없습니다."}    // 기타 내용
    }
})

function btnStorPrgrmEvl(){

	if($("#prgrmEvlFrm:not(:checkbox)").valid() == false) return;

	//최종 의사 타진
    if(!confirm("저장하시겠습니까?")) return;
    //form data serialized

    var data =  $("#prgrmEvlFrm").find("input").not("input[type=checkbox]").serializeArray();

    data.push({name:"databaseWrtYn", value: databaseWrtYn.checked ? "Y":"N"})
    data.push({name:"clsjrnlWrtYn" , value: clsjrnlWrtYn.checked  ? "Y":"N"})
    data.push({name:"etcYn"        , value: etcYn.checked         ? "Y":"N"})
debugger;
    $.ajax({
        url : "/mng/asgsysSrng/updatePrgrmEvl.do",
        type: 'POST',
        cache : false,
        dataType: 'json',
        data : data,
        success : function (data){
            if(data.result=="success"){
                alert("저장이 완료 되었습니다.");
                gridHelper1.resetPageContent();

            }else{
                alert("저장중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
            }
        },
        error : function (error){
        }
    });
}

</script>