<!-- <div class="tab-pane" id="judgeandSupportGroupAssignSecurityManage" role="tabpanel"> -->
<div class="card-header p-t-0 p-b-0">
    <h3 class="sub-title"><strong>안전관리 메뉴얼</strong></h3>
</div>
<div class="card-block-small p-t-0">
    <div class="mb-0 form-group row">
        <div class="mb-0 form-group">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>첨부파일</strong></label>
            <div class="col-sm-12">
                <input type="file"
                       class="form-control form-control-sm"/>
            </div>
            <div class="mt-2 row">
                <div class="col-auto">
                <span class="label label-inverse">
                    sampleFile.pptx <a
                        href="javascript:void(0)"
                        class="text-white">X</a>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-header p-t-0 p-b-0">
    <h3 class="sub-title"><strong>프로그램 지도자 대상 교육</strong>
    </h3>
</div>
<div class="card-block-small p-t-0">
    <div class="mb-2 row">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <div class="mb-0 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                       for="judgeandSupportGroupAssignSecurityManageProgramLeaderEduDate"><strong>교육시기</strong></label>
                <div class="col-12">
                    <input type="text"
                           class="form-control form-control-sm"
                           name="judgeandSupportGroupAssignSecurityManageProgramLeaderEduDate"
                           id="judgeandSupportGroupAssignSecurityManageProgramLeaderEduDate"
                           placeholder="Text Input Validation"
                           value="keepgo"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="mb-0 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                       for="judgeandSupportGroupAssignSecurityManageProgramLeaderEduManager"><strong>담당자</strong></label>
                <div class="col-12">
                    <input type="text"
                           class="form-control form-control-sm"
                           name="judgeandSupportGroupAssignSecurityManageProgramLeaderEduManager"
                           id="judgeandSupportGroupAssignSecurityManageProgramLeaderEduManager"
                           placeholder="Text Input Validation"
                           value="keepgo"/>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-0 form-group row">
        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
               for="judgeandSupportGroupAssignSecurityManageProgramLeaderEduContents"><strong>교육내용
            개요</strong></label>
        <div class="col-12">
        <textarea rows="5" cols="5"
                  class="form-control form-control-sm"
                  placeholder="Default textarea"
                  id="judgeandSupportGroupAssignSecurityManageProgramLeaderEduContents"
                  name="judgeandSupportGroupAssignSecurityManageProgramLeaderEduContents"></textarea>
        </div>
    </div>
</div>
<div class="card-header p-t-0 p-b-0">
    <h3 class="sub-title"><strong>프로그램 참가자 대상 교육</strong>
    </h3>
</div>
<div class="card-block-small p-t-0">
    <div class="mb-2 row">
        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
            <div class="mb-0 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                       for="judgeandSupportGroupAssignSecurityManageProgramApplicantEduDate"><strong>교육시기</strong></label>
                <div class="col-12">
                    <input type="text"
                           class="form-control form-control-sm"
                           name="judgeandSupportGroupAssignSecurityManageProgramApplicantEduDate"
                           id="judgeandSupportGroupAssignSecurityManageProgramApplicantEduDate"
                           placeholder="Text Input Validation"
                           value="keepgo"/>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="mb-0 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                       for="judgeandSupportGroupAssignSecurityManageProgramApplicantEduManager"><strong>담당자</strong></label>
                <div class="col-12">
                    <input type="text"
                           class="form-control form-control-sm"
                           name="judgeandSupportGroupAssignSecurityManageProgramApplicantEduManager"
                           id="judgeandSupportGroupAssignSecurityManageProgramApplicantEduManager"
                           placeholder="Text Input Validation"
                           value="keepgo"/>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-0 form-group row">
        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
               for="judgeandSupportGroupAssignSecurityManageProgramApplicantEduContents"><strong>교육내용
            개요</strong></label>
        <div class="col-12">
        <textarea rows="5" cols="5"
                  class="form-control form-control-sm"
                  placeholder="Default textarea"
                  id="judgeandSupportGroupAssignSecurityManageProgramApplicantEduContents"
                  name="judgeandSupportGroupAssignSecurityManageProgramApplicantEduContents"></textarea>
        </div>
    </div>
</div>
<div class="card-header p-t-0 p-b-0">
    <h3 class="sub-title"><strong>안전관리 사전인증</strong></h3>
</div>
<div class="card-block-small p-t-0">
    <div class="mb-2 form-group row">
        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
            <strong>인증여부</strong></div>
        <div class="col-12">
            <div class="form-radio">
                <div class="radio radio-inline">
                    <label class="mb-0 form-label">
                        <input type="radio"
                               name="judgeandSupportGroupAssignSecurityManageCertificateStatus"
                               checked="">
                        <i class="helper"></i>예
                    </label>
                </div>
                <div class="radio radio-inline">
                    <label class="mb-0 form-label">
                        <input type="radio"
                               name="judgeandSupportGroupAssignSecurityManageCertificateStatus">
                        <i class="helper"></i>아니오
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-0 form-group row">
        <div class="mb-0 form-group">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>첨부파일</strong></label>
            <div class="col-sm-12">
                <input type="file"
                       class="form-control form-control-sm"/>
            </div>
            <div class="mt-2 row">
                <div class="col-auto">
                <span class="label label-inverse">
                    sampleFile.pptx <a
                        href="javascript:void(0)"
                        class="text-white">X</a>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-block-small">
    <button class="btn btn-inverse m-r-5">목록</button>
    <button class="btn btn-primary m-r-5">수정</button>
    <button class="btn btn-primary">다음</button>
</div>
<!-- </div> -->