<form id="sprtgrpSrngForm">
<input type="hidden" id="prgrmid"      name="prgrmid"       th:value="${aplyInfo.prgrmid}"><!-- 프로그램id -->
<input type="hidden" id="splmntDmndid" name="splmntDmndid"  th:value="${aplyInfo.splmntDmndid}"><!-- 보완요청id -->
<input type="hidden" id="sbmsnid"      name="sbmsnid"       th:value="${aplyInfo.sbmsnid}"><!-- 체크리스트 제출 id -->

    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>신청 정보</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="judgeJudgingProgramName"><strong>프로그램명</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="prgrmNm" id="prgrmNm" placeholder="프로그램명" th:value="${aplyInfo.prgrmNm}" readonly />
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="judgeJudgingAgencyName"><strong>기관명</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="instNm" id="instNm" placeholder="기관명" th:value="${aplyInfo.instNm}" readonly />
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>숙박여부</strong>
                    </div>
                    <div class="col-12 row align-items-center">
                        <div class="col-12 col-lg-auto mb-2 mb-lg-0">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <span kattr:radio_yn="styYn" label1="숙박" label2="비숙박" addStyle="margin-top:4px" addClass="col-sm-3" isAdmin="true" th:attr="defaultVal=${aplyInfo.styYn == null ? 'N':aplyInfo.styYn}" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto row align-items-center">
                            <div class="col-auto">
                                <input type="text" class="form-control form-control-sm" name="styNight" id="styNight" placeholder="" th:value=${aplyInfo.styNight} style="width: 40px;" readonly>
                            </div>
                            <div class="col-auto p-l-0">박</div>
                            <div class="col-auto">
                                <input type="text" class="form-control form-control-sm" name="styDaytm" id="styDaytm" placeholder="" th:value=${aplyInfo.styDaytm} style="width: 40px;" readonly>
                            </div>
                            <div class="col-auto p-l-0">일</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>운영형태</strong>
                    </div>
                    <div class="form-radio bg-form" id="operFrmCdDiv"><!-- [230125] class bg-form 추가 -->
                        <span kattr:radio_code="operFrmCd" th:attr="grpCd=120, selectedCd=${aplyInfo.operFrmCd}" addStyle="margin-top:4px" addClass="col-sm-3" isAdmin="true" >
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>안전관리 사전인증여부</strong>
                    </div>
                    <div class="col-12">
                        <div class="form-radio">
                            <span kattr:radio_yn="sftyMngYn" label1="예" label2="아니오" th:attr="selectedCd=${aplyInfo.sftyMngYn}" addStyle="margin-top:4px" addClass="col-sm-3" onchange="changeSftyMngYn()" isAdmin="true" readonly></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>첨부파일</strong>
                    </div>
                    <div class="mb-2 col-12">
                        <span th:unless="${!#lists.isEmpty(bfrCertFileList) && bfrCertFileList[0].fileid!=0 && bfrCertFileList[0].fileid!=null}">선택된 파일 없음.</span>
                    </div>

                    <!-- 안전관리 첨부파일 -->
                    <div class="row">
                        <div class="col-auto" id="sftyFileListDiv">
                            <th:block th:unless="${#lists.isEmpty(bfrCertFileList)}" th:each="item, i : ${bfrCertFileList}" th:if = "${item.fileid} > 0">
                            <span class ='label label-inverse ' th:id="'bfrCertFile_'+${item.fileid}">
                                <th:block th:text="${item.orginlFileNm}"></th:block>&nbsp;&nbsp;
                            </span>
                        </div>
                    </div>
                    <!-- 안전관리 첨부파일 -->

                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>증빙서류</strong>
                    </div>
                    <div class="mb-2 col-12">
                        <span th:unless="${!#lists.isEmpty(aplyFileList) && aplyFileList[0].fileid!=0 && aplyFileList[0].fileid!=null}">선택된 파일 없음.</span>
                    </div>

                    <div class="row">
                        <div class="col-auto" id="aplyFileListDiv">
                            <th:block th:unless="${#lists.isEmpty(aplyFileList)}" th:each="item, i : ${aplyFileList}" th:if = "${item.fileid} > 0">
                            <span class ='label label-inverse ' th:id="'aplyFile_'+${item.fileid}">
                                <th:block th:text="${item.orginlFileNm}"></th:block>&nbsp;&nbsp;
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>진행상태</strong>
                    </div>
                    <div class="col-12">
                        <span kattr:select_code="sttsCd" th:attr="grpCd=111,selectedCd=${aplyInfo.sttsCd}" firstOptTxt="- 전체 -" addClass="form-select form-select-sm form-control-sm" isAdmin="true" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>지원단 정보</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-0 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="nm"><strong>지원단 성명</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="nm" id="nm" placeholder="지원단 성명" th:value="${aplyInfo.nm}" readonly />
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="vstDt"><strong>지원단 방문일정</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="vstDt" id="vstDt" placeholder="지원단 방문일정" th:value="${aplyInfo.vstDt}" readonly />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
       <div class="sub-title row m-l-0 m-r-0 m-b-0 align-items-center">
           <div class="col-12 col-lg-6 mb-2 mb-lg-0 p-l-0">
               <strong>보완요청</strong>
           </div>
           <div class="col-12 col-lg-6 text-right p-r-0 btn-group-sm">
               <button type="button" class="btn btn-primary" id="splmntDmnd" onclick="fn_reqSplmntDmndBtn(this.id)">보완요청</button>
           </div>
       </div>
   </div>

    <div class="card-block-small p-t-0">
        <div class="col-12 table-border-style">
            <div class="table-responsive">
                <table id="splmntDmndGrid" class="table"></table>
            </div>
        </div>
    </div>

    <!-- 체크리스트 -->
    <div id="chklv1" th:each="title , a : ${sprtgrpCheckList}">

        <div th:if="${title.treeOrd==1}" >

            <div class="card-header p-t-0" >
                <div class="sub-title row m-l-0 m-r-0 align-items-center">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0 p-l-0"><strong><th:block th:text="${title.cn}"</th:block></strong></div>
                    <div class="col-12 col-lg-6 text-right p-r-0" th:id="chkTitle+${title.lv2key}" th:attr="lv2key=${title.lv2key}" >
                        <strong><span class="text-danger d-inline fs-6">15</span> /15점</strong>
                    </div>
                </div>
            </div>

        </div>

        <div id="chklv2" th:if="${title.treeOrd==2}" class="card-block-small p-t-0">
            <div name="chkLv2block" class="col-12 table-border-style mb-3">
                <div class="col-12 table-responsive">
                    <table class="table table-border-style table-columned">
                        <thead>
                            <tr class="border-bottom-inverse border-top" style="border-top-color: #404E67 !important;">
                                <th colspan="2" class="text-center v-middle"><th:block th:text="${title.cn}"</th:block></th>
                                <th class="text-center v-middle" style="width: 60px;">배점</th>
                                <th class="text-center v-middle" style="width: 60px;">예</th>
                                <th class="text-center v-middle" style="width: 60px;">아니오</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="chklv3" class="border-bottom" th:each="row, b : ${sprtgrpCheckList}" th:if="${row.treeOrd==3 and title.lv2key==row.lv2key}">
                                <td class="text-center v-middle" style="width: 60px;"><th:block th:text="${row.ordr+1}"</th:block></td>
                                <td th:id="${'cnY' + row.lv1key}">
                                    <th:block th:text="${row.cn}"</th:block>
                                </td>
                                <td class="text-center v-middle"><th:block th:text="${row.altm}"</th:block></td>
                                <td class="text-center v-middle">
                                    <label class="mb-0 form-label'" >
                                        <input class="form-check-input" type="radio" th:checked="${row.scr > 0 ? true:false}" th:data-ordr="${row.ordr}"
                                            th:name="${'cRdoY' + row.lv2key + '_'+ row.qitemid}" th:id="${'cRdoY' + row.lv2key + '_'+  row.qitemid}"
                                            th:attr="altm=${row.altm}, lv1key=${row.lv1key} " value="Y" >
                                    </label>
                                </td>
                                <td class="text-center v-middle">
                                    <label class="mb-0 form-label'" >
                                        <input class="form-check-input" type="radio" th:checked="${row.scr <= 0 ? true:false}"
                                            th:name="${'cRdoN' + row.lv2key + '_'+  row.qitemid}" th:id="${'cRdoN' + row.lv2key + '_'+  row.qitemid}" th:attr="altm=${row.altm}" value="N" >
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th colspan="2" class="table-active text-center">총점</th>
                                <th colspan="3" class="table-active text-center">
                                    <span class="text-danger" th:id="${'scrSum'+title.lv2key}" th:attr="lv1key=${title.lv1key}">0점</span>
                           </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>현장점검 결과</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-0 form-group row">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                   for="supportGroupJudgingOnSiteInspectionResult"><strong>위
                지표 점수부여에 대한 평가 근거, 조정사유 및 추가의견을 기술하여
                주십시오.</strong></label>
            <div class="col-12">
            <textarea rows="5" cols="5"
                      class="form-control form-control-sm"
                      placeholder=""
                      id="supportGroupJudgingOnSiteInspectionResult"
                      name="supportGroupJudgingOnSiteInspectionResult"></textarea>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>최종심사평</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-0 form-group row">
            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                   for="supportGroupJudgingFinalEvaluation"><strong>위 지표
                점수부여에 대한 평가 근거, 조정사유 및 추가의견을 기술하여 주십시오.</strong></label>
            <div class="col-12">
            <textarea rows="5" cols="5"
                      class="form-control form-control-sm"
                      placeholder=""
                      id="supportGroupJudgingFinalEvaluation"
                      name="supportGroupJudgingFinalEvaluation"></textarea>
            </div>
        </div>
    </div>
    <div class="card-block-small">
        <button type="button" class="btn btn-inverse" onclick="gridHelper1.toggleContent()">목록</button>
    </div>
</form>
<!--서류요청(보완요청)팝업-->
<div class="modal fade" id="splmntDmndPopup" aria-hidden="true" data-bs-backdrop="static"></div>

<script th:inline="javascript">

    var sprtgrpCheckList = /*[[${sprtgrpCheckList}]]*/null;
    var prgrmid;
    var splmntDmndGridHelper;
    var gridArgs;

    $(function() {
    	initSprtgrpSrngFrm();

    	$('[id^=chklv2]').each(function(){
    		if($(this).find('[id^=chklv3]').length == 0 )$(this).hide();
    	});
    });

    function initSprtgrpSrngFrm() {

        initScrSum();

        prgrmid = $("#prgrmid").val();
        splmntDmndGridHelper = new GridHelper('splmntDmndGrid','splmntDmndContentPanel');

        writeSplmntDmndGridData();

        $("#sprtgrpSrngForm [id^=operFrmCd]").prop("disabled", true);
        $("#sprtgrpSrngForm [id^=styYn]").prop("disabled", true);
        $("#sprtgrpSrngForm [id^=sftyMngYn]").prop("disabled", true);
    }

    //보완요청 버튼
    function fn_reqSplmntDmndBtn(id){

        var key = $("#splmntDmndid").val();
        var cd;
        var mode;

        //보완요청
        if("splmntDmnd"==id){
            cd = "111108"
            mode = "splmntDmnd"
        }

        openSplmntDmndModal(key, cd, mode)
    };

    //보완요청 팝업 호출
    var splmntDmndAddModal;
    var openSplmntDmndModal = ( key, cd, mode) => {

        var vSttsCd = cd;
        var vMode = mode;

        var vKey1 = prgrmid;
        var vKey2 = key;
        if(vSttsCd == null || vSttsCd == "undefined" || vSttsCd == "") vSttsCd = '';

        var url = "/mng/asgsysSrng/splmntDmndPopup.html?prgrmid="+ vKey1+"&splmntDmndid=" + vKey2+ "&sttsCd="+vSttsCd+"&mode="+vMode;

        $("#splmntDmndPopup").load(url, function(response, status, xhr) {

            if (status == "success") {

                splmntDmndAddModal = new bootstrap.Modal($('#splmntDmndPopup'));
                splmntDmndAddModal.show();

            }
        });
    }

    //보완요청 그리드
    function writeSplmntDmndGridData(){

        $("#splmntDmndGrid").jsGrid({
            height       : "220px",
            width        : "100%",
            autoload     : true,
            sorting      : true,
            paging       : false,
            pageLoading  : true,
            pageIndex    : 1,
            noDataContent: "데이터가 없습니다.",
            controller: {
                loadData: function (filter) {
                    var data = $.Deferred();

                    var formData = $('#searchFrm').serializeArray();
                    var params = [
                            {name: "pageNumber", value: filter.pageIndex},
                            {name: "rowPerPage", value: filter.pageSize},
                            {name: "prgrmid"   , value: prgrmid},
                            {name: "sttsCd"    , value: '111107'},    //지원단 심사인 건만
                    ]

                    params.push({name: "orderField", value: 'reg_dt'});

                    formData = formData.concat(params);

                    $.ajax({
                      type: "GET",
                      contentType: "application/json; charset=utf-8",
                      url: "/mng/asgsysSrng/selectSplmntDmndList.do",
                      dataType: "json",
                      data: formData
                    }).done(function(response){

                        var da = {
                                data : escapeGridData(response.splmntDmndList)
                                ,itemsCount : response.totalCount
                            };
                      data.resolve(da);
                    });
                    return data.promise();
                },
            },
            fields: [
                { name : 'splmntDmndid', css:'hide'}
              , { name : 'prgrmid',      css:'hide'}
              , { title: 'No.'           ,name: 'rowNumber',   type: "number", width : "80", align:"center",  sorting :false }
              , { title: '등록 진행상태' ,name: 'sttsCdNm',      type: "text"  , width: "100", align:"center"}
              , { title: '요청내용'      ,name: 'opnnCn',      type: "text"  , width: "100", align:"left"}
              , { title: '요청일'        ,name: 'regDt',       type: "text"  , width: "100", align:"center" }
              , { title: '완료처리일'    ,name: 'cmptnPrcsDe', type: "text"  , align:"center" }
            ],

            rowClick: function(args) {

                if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;

                if(args.event.originalEvent.target.cellIndex == 4) {

                    var key = args.item.splmntDmndid
                    var cd  = args.item.sttsCd;
                    openSplmntDmndModal(key, cd);

                }
            }
        });
    }

    function initScrSum(){

        var allScr = $("[id^='scrSum']");
        var totalscore = 0;

        for (var i=0; i< allScr.length;i++ ){

            var scrId = allScr[i].id;
            var lvCd  = scrId.substr(6,6);

            var rdoGrp = $("[name^='cRdoY"+lvCd+"']");
            var sumScr = 0;

            for(var k=0; k< rdoGrp.length; k++){
                var rdoId = rdoGrp[k].id

                if($("#"+rdoId).prop("checked") && false == isNaN( $("#"+rdoId).attr("altm")) ) {

                    sumScr = Number(sumScr)+ Number($("#"+rdoId).attr("altm"));
                }

            }
            $("#scrSum"+lvCd).text(sumScr+"점");

            totalscore = Number(totalscore) + Number(sumScr);
        }

        //title sum
        $("[id^=chkTitle]").each(
        function(index1, item1){

            var lvkey = item1.getAttribute("lv2key");
            var vAltm = 0;
            var vScr = 0;
            var vHtml = "";

            $("[id^='cRdoY'][lv1key="+lvkey+"]").each(
            function(index2, item2){

                vAltm = vAltm + Number(item2.getAttribute("altm"));
            });
            $("[id^='scrSum'][lv1key="+lvkey+"]").each(
            function(index3, item3){

                vScr = vScr + Number(item3.innerText.replace("점",""));
            });


            vHtml = '<strong><span class="text-danger d-inline fs-6">'+vScr+'</span> /'+vAltm+'점</strong>';
            $("#"+item1.id).html(vHtml)

        });


    }


    //체크리스트 라디오 클릭
    $("[name^='cRdo']").on('click', function() {

        //라디오 id,name = cRdo+ lv2Cd + qitemid

        var rdoId = this.id;
        var lvCd = rdoId.substr(5,6)
        var tail = rdoId.split("_")[1];

        var opponentRdoId = rdoId.substr(4, 1) == "N" ? "cRdoY"+lvCd+"_"+tail: "cRdoN"+lvCd+"_"+tail;
        $("#"+rdoId).prop("checked",true);
        $("#"+opponentRdoId).prop("checked",false);

        //$("[id^='scrSum']")

        initScrSum();

    });

    function fn_insertSprtgrpSrng(){

        var param = {};

        if(!($("#sprtgrpSrngFrm").valid())) return;

        $("[id^=cRdoY]").each(function(index, item) {

            param["ansLst[" + index + "].sbmsnid"] = $("#sbmsnid").val();

            param["ansLst[" + index + "].seCd"] = $(item).attr("id").split("_")[0].replace("cRdoY","");
            param["ansLst[" + index + "].qitemid"] = $(item).attr("id").split("_")[1];
            param["ansLst[" + index + "].scr"] = $(item).prop("checked") ? $(item).attr("altm"): 0
            param["ansLst[" + index + "].ordr"] = $(item).attr("data-ordr");

        });

        $("[id^=cnY]").each(function(index, item) {
            param["ansLst[" + index + "].cn"] = item.innerText;
        });

        param["prgrmid"     ]= prgrmid;
        param["sbmsnid"     ]= $("#sbmsnid").val();
        param["rsltid"      ]= $("#rsltid").val();
        param["sbmsnSttsCd" ]= "128102";    //제출
        param["sprtgrpid"   ]= $("#sprtgrpid").val();
        param["srngOpnn"    ]= $("#srngOpnn").val();
        param["chklstRsltCn"]= $("#chklstRsltCn").val();
        param["scr"         ]= $("#scr").val();

        if(!confirm("저장하시겠습니까?")) return;

        if(displayWorkProgress()){
            $.ajax({
                url      : "/mng/asgsysSrng/insertSprtgrpSrng.do",
                type     : 'POST',
                cache    : false,
                dataType : 'json',
                data     : param,
                success  : function (data){
                    if(data.result=="success"){

                        alert(data.msg);
                        closeWorkProgress();
                        gridHelper1.resetPageContent();

                    }else{
                        alert(data.msg);
                    }

                }
            });
        }
    }

</script>