<form id="blcklstFrm">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content type_2">
            <div class="modal-header">
                <h4 class="modal-title">지원단 캘린더</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card m-b-10">
                    <div class="card-block-small">
                        <p class="mb-1"><strong><span class="blck-names"></span>지원단 캘린더</strong></p>
                        <br/>
                        <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="지원단 캘린더" id="blcklstRsn" name="blcklstRsn"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</form>