<form id="sprtgrpSrngFrm">
<input type="hidden" id="prgrmid" name="prgrmid" th:value="${sprtgrpSrngInfo.prgrmid}"><!-- 프로그램id -->
<input type="hidden" id="sprtgrpid" name="sprtgrpid" th:value="${sprtgrpSrngInfo.sprtgrpid}"><!-- 지원단id -->
<input type="hidden" id="rsltid" name="rsltid" th:value="${sprtgrpSrngInfo.rsltid}"><!-- 결과id -->
<input type="hidden" id="formid" name="formid" th:value="${sprtgrpSrngInfo.formid}"><!-- 심사양식id -->
	<div class="col-12">
	    <div class="card">
	        <div class="card-header p-b-0">
	            <h3 class="sub-title"><strong>신청 정보</strong></h3>
	        </div>
	        <div class="card-block-small p-t-0">
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="sprtgrpSrngProgramName"><strong>프로그램명</strong></label>
	                        <div class="col-sm-12">
	                            <input type="text" class="form-control form-control-sm" name="sprtgrpSrngProgramName" id="sprtgrpSrngProgramName" placeholder="Text Input Validation" th:value="${sprtgrpSrngInfo.prgrmNm}" readonly="">
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="sprtgrpSrngAgencyName"><strong>기관명</strong></label>
	                        <div class="col-sm-12">
	                            <input type="text" class="form-control form-control-sm" name="sprtgrpSrngAgencyName" id="sprtgrpSrngAgencyName" placeholder="Text Input Validation" th:value=${sprtgrpSrngInfo.instNm} readonly="">
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                            <strong>숙박여부</strong></div>
	                        <div class="col-12 row align-items-center">
	                            <div class="col-12 col-lg-auto mb-2 mb-lg-0">
	                                <div class="form-radio">
	                                   <span kattr:radio_yn="styYn" label1="숙박" label2="비숙박" th:attr="defaultVal=${sprtgrpSrngInfo.styYn == null ? 'N':sprtgrpSrngInfo.styYn}" addStyle="margin-top:4px" addClass="col-sm-3" onchange="" disabled></span>
	                                </div>
	                            </div>
	                            <div class="col-12 col-lg-auto row align-items-center">
	                                <div class="col-auto">
	                                    <input type="text" class="form-control form-control-sm" name="styNight" id="styNight" placeholder="Text Input Validation" th:value=${sprtgrpSrngInfo.styNight} style="width: 40px;" readonly>
	                                </div>
	                                <div class="col-auto p-l-0">박</div>
	                                <div class="col-auto">
	                                    <input type="text" class="form-control form-control-sm" name="styDaytm" id="styDaytm" placeholder="Text Input Validation" th:value=${sprtgrpSrngInfo.styDaytm} style="width: 40px;" readonly>
	                                </div>
	                                <div class="col-auto p-l-0">일</div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                            <strong>운영형태</strong></div>
	                        <div class="col-12">
	                            <div class="form-radio">
	                                <div class="radio radio-inline">
	                                   <span id="operFrmCd" kattr:radio_code="operFrmCd" th:attr="grpCd=120, selectedCd=${sprtgrpSrngInfo.operFrmCd}" addStyle="margin-top:4px" addClass="col-sm-3" isAdmin="true" disabled>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                            <strong>안전관리 사전인증여부</strong></div>
	                        <div class="col-12">
	                            <div class="form-radio">
	                                <div class="radio radio-inline">
	                                    <span kattr:radio_yn="sftyMngYn" label1="예" label2="아니오" th:attr="selectedCd=${sprtgrpSrngInfo.sftyMngYn}" addStyle="margin-top:4px" addClass="col-sm-3" onchange=""></span>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                            <strong>첨부파일</strong></div>
	                        <div class="row">
	                            <div class="col-auto">
	                                    <span class="label label-inverse">
	                                        sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
	                                    </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="mb-2 row">
	                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                            <strong>증빙서류</strong></div>
	                        <div class="row">
	                            <div class="col-auto">
	                                    <span class="label label-inverse">
	                                        sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
	                                    </span>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6">
	                    <div class="mb-0 form-group">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                            <strong>진행상태</strong></div>
	                        <div class="col-12">
                                <span kattr:select_code="srgnSttsCd" th:attr="grpCd=119,selectedCd=${sprtgrpSrngInfo.srgnSttsCd}" firstOptTxt="- 전체 -" addClass="form-select form-select-sm form-control-sm" isAdmin="true">
	                        </div>
	                    </div>
	                </div>
	            </div>
	       </div>
<!--  -->
           <div class="card-header p-t-0 p-b-0">
               <h3 class="sub-title"><strong>지원단 정보</strong></h3>
           </div>
           <div class="card-block-small p-t-0">
               <div class="mb-0 row">
                   <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                       <div class="mb-0 form-group">
                           <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="supportGroupJudgingSupportGroupName"><strong>지원단 성명</strong></label>
                           <div class="col-sm-12">
                               <input type="text" class="form-control form-control-sm" name="supportGroupJudgingSupportGroupName" id="supportGroupJudgingSupportGroupName" placeholder="Text Input Validation" th:value="${sprtgrpSrngInfo.srgnSttsCd}" readonly="">
                           </div>
                       </div>
                   </div>
                   <div class="col-12 col-lg-6">
                       <div class="mb-0 form-group">
                           <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="supportGroupJudgingSupportGroupDate"><strong>지원단 방문일정</strong></label>
                           <div class="col-sm-12">
                               <input type="text" class="form-control form-control-sm" name="vstDt" id="vstDt" placeholder="Text Input Validation" th:value="${sprtgrpSrngInfo.vstDt}" readonly="">
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="card-header p-t-0 p-b-0">
               <div class="sub-title row m-l-0 m-r-0 m-b-0 align-items-center">
                   <div class="col-12 col-lg-6 mb-2 mb-lg-0 p-l-0">
                       <strong>보완요청</strong>
                   </div>
                   <div class="col-12 col-lg-6 text-right p-r-0 btn-group-sm">
                       <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#redeemInsertPopup">보완요청
                       </button>
                   </div>
               </div>
           </div>
           <div class="card-block-small p-t-0">
               <div class="col-12 table-border-style">
                   <div class="table-responsive">
                       <table class="table">
                           <thead>
                           <tr>
                               <th class="text-center v-middle" style="width: 60px;">No.
                               </th>
                               <th class="text-center v-middle" style="width: 120px;">등록 진행상태
                               </th>
                               <th class="text-center v-middle">요청내용</th>
                               <th class="text-center v-middle" style="width: 100px;">요청일
                               </th>
                               <th class="text-center v-middle" style="width: 100px;">완료처리일
                               </th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                               <td class="text-center v-middle">2</td>
                               <td class="text-center v-middle">지원단심사</td>
                               <td class="text-center v-middle">
                                   지원단심사지원단심사지원단심사지원단심사지원단심사
                               </td>
                               <td class="text-center v-middle">2023-05-07</td>
                               <td class="text-center v-middle">-</td>
                           </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
           <div class="card-header p-t-0 p-b-0">
               <div class="sub-title row m-l-0 m-r-0 align-items-center">
                   <div class="col-12 col-lg-6 mb-2 mb-lg-0 p-l-0">
                       <strong>현장 세부점검표</strong>
                   </div>
                   <div class="col-12 col-lg-6 text-right p-r-0">
                       <strong>
                           <span class="text-danger d-inline fs-6">15</span> /
                           15점
                       </strong>
                   </div>
               </div>
           </div>
           <div class="card-block-small p-t-0">
               <div class="col-12 table-border-style mb-2">
                   <div class="col-12 table-responsive">
                       <table class="table table-border-style table-columned">
                           <thead>
                           <tr class="border-bottom-inverse border-top" style="border-top-color: #404E67 !important;">
                               <th colspan="2" class="text-center v-middle">
                                   프로그램 예산의 적절성
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">배점
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">예
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">아니오
                               </th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr class="border-bottom">
                               <td class="text-center v-middle" style="width: 60px;">1
                               </td>
                               <td>
                                   사업비구성표와 산출내역이 동일한가?
                               </td>
                               <td class="text-center v-middle">1</td>
                               <td class="text-center v-middle">
                                   <input class="form-check-input" type="radio" name="judgeandSupportGroupAssignCheckList1" id="judgeandSupportGroupAssignCheckList11" value="" checked="">
                               </td>
                               <td class="text-center v-middle">
                                   <input class="form-check-input" type="radio" name="judgeandSupportGroupAssignCheckList1" id="judgeandSupportGroupAssignCheckList12" value="">
                               </td>
                           </tr>
                           <tr>
                               <th colspan="2" class="table-active text-center">총점
                               </th>
                               <th colspan="3" class="table-active text-center">
                                   <span class="text-danger">5점</span>
                               </th>
                           </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
               <div class="col-12 table-border-style mb-2">
                   <div class="col-12 table-responsive">
                       <table class="table table-border-style table-columned">
                           <thead>
                           <tr class="border-bottom-inverse border-top" style="border-top-color: #404E67 !important;">
                               <th colspan="2" class="text-center v-middle">
                                   교육자원의 적절성
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">배점
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">예
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">아니오
                               </th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr class="border-bottom">
                               <td class="text-center v-middle" style="width: 60px;">1
                               </td>
                               <td>
                                   교육장소의 규모는 (회당)교육인원을 수용하기 적절한가?
                               </td>
                               <td class="text-center v-middle">1</td>
                               <td class="text-center v-middle">
                                   <input class="form-check-input" type="radio" name="judgeandSupportGroupAssignCheckList2" id="judgeandSupportGroupAssignCheckList21" value="" checked="">
                               </td>
                               <td class="text-center v-middle">
                                   <input class="form-check-input" type="radio" name="judgeandSupportGroupAssignCheckList2" id="judgeandSupportGroupAssignCheckList22" value="">
                               </td>
                           </tr>
                           <tr>
                               <th colspan="2" class="table-active text-center">총점
                               </th>
                               <th colspan="3" class="table-active text-center">
                                   <span class="text-danger">5점</span>
                               </th>
                           </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
               <div class="col-12 table-border-style">
                   <div class="col-12 table-responsive">
                       <table class="table table-border-style table-columned">
                           <thead>
                           <tr class="border-bottom-inverse border-top" style="border-top-color: #404E67 !important;">
                               <th colspan="2" class="text-center v-middle">홍보
                                   및 참여방안
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">배점
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">예
                               </th>
                               <th class="text-center v-middle" style="width: 60px;">아니오
                               </th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr class="border-bottom">
                               <td class="text-center v-middle" style="width: 60px;">1
                               </td>
                               <td>
                                   교육장소의 규모는 (회당)교육인원을 수용하기 적절한가?
                               </td>
                               <td class="text-center v-middle">1</td>
                               <td class="text-center v-middle">
                                   <input class="form-check-input" type="radio" name="judgeandSupportGroupAssignCheckList3" id="judgeandSupportGroupAssignCheckList31" value="" checked="">
                               </td>
                               <td class="text-center v-middle">
                                   <input class="form-check-input" type="radio" name="judgeandSupportGroupAssignCheckList3" id="judgeandSupportGroupAssignCheckList32" value="">
                               </td>
                           </tr>
                           <tr>
                               <th colspan="2" class="table-active text-center">총점
                               </th>
                               <th colspan="3" class="table-active text-center">
                                   <span class="text-danger">5점</span>
                               </th>
                           </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
            </div>
            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>현장점검 결과</strong></h3>
            </div>
            <div class="card-block-small p-t-0">
                <div class="mb-0 form-group row">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="supportGroupJudgingOnSiteInspectionResult"><strong>위
                        지표 점수부여에 대한 평가 근거, 조정사유 및 추가의견을 기술하여
                        주십시오.</strong></label>
                    <div class="col-12">
                        <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="supportGroupJudgingOnSiteInspectionResult" name="supportGroupJudgingOnSiteInspectionResult"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>최종심사평</strong></h3>
            </div>
            <div class="card-block-small p-t-0">
                <div class="mb-0 form-group row">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="supportGroupJudgingFinalEvaluation"><strong>위 지표
                        점수부여에 대한 평가 근거, 조정사유 및 추가의견을 기술하여 주십시오.</strong></label>
                    <div class="col-12">
                        <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="supportGroupJudgingFinalEvaluation" name="supportGroupJudgingFinalEvaluation"></textarea>
                    </div>
                </div>
            </div>
	        <div class="card-block-small">
	            <button class="btn btn-inverse m-r-5">목록</button>
	            <button type="button" class="btn btn-primary" onclick="fn_insertSprtgrpSrng()">저장</button>
	        </div>
	    </div>
	</div>
</form>

<script th:inline="javascript">
initSprtgrpSrngFrm();



function initSprtgrpSrngFrm() {

    $("input[type=radio]").attr("disabled", true);

}


function fn_insertSprtgrpSrng(){

    //if(!($("#sprtgrpSrngFrm").valid())) return;

    if(!confirm("저장하시겠습니까?")) return;

    data = $("#sprtgrpSrng").serialize() ;

    if(displayWorkProgress()){
        $.ajax({
            url : "/mng/asgsysSrng/insertSprtgrpSrng.do",
            type: 'POST',
            cache : false,
            dataType: 'json',
            data : data,
            success : function (data){
                if(data.result=="success"){
                    alert(data.msg);
                    gridHelper1.resetListContent();
                }else{
                    alert(data.msg);
                }
                closeWorkProgress();
            }
        });
    }
}

</script>