<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/mng/mainLayout"
>

<body>
<div layout:fragment="content">
<style>
.hide{ display:none; }
</style>

<!-- Page-body start -->
    <link rel="stylesheet" type="text/css" href="/files/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <div class="page-body">
        <div class="row">

            <div class="col-12">
                <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
                    <input type="hidden" id="searchRegStartDt" name="searchRegStartDt" value="" />
                    <input type="hidden" id="searchRegEndDt"   name="searchRegEndDt"   value="" />
                    <input type="hidden" id="userid"           name="userid"   th:value="${userid}" />

	            <!-- 필터 부분 -->
	                <div class="card-block-small">
	                    <div class="row">
	                    <!-- 키워드 filter -->
	                        <div class="col-lg-3 col-md-6 mb-3">
	                            <div class="mb-0 form-group row">
	                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
	                                <div class="input-group input-group-sm input-group-dropdown mb-0">
	                                    <select name="searchType" id="searchType" class="form-select form-control ">
	                                       <option value="">- 전체 -</option>
	                                       <option value="searchPrgrmNm">프로그램명</option>
	                                       <option value="searchInstNm">기관명</option>
	                                    </select>
	                                    <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" aria-label="Text input with dropdown button">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-lg-3 col-md-6 mb-3">
	                            <div class="mb-0 form-group row">
	                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                                    <strong>심사 진행상태</strong></div>
	                                <div class="col-sm-12">
	                                    <span id="searchSrngSttsCd" name="searchSrngSttsCd" kattr:select_code="searchSrngSttsCd" grpCd="119" firstOptTxt="- 전체 -" addClass="form-select form-select-sm form-control-sm" isAdmin="true">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-lg-3 col-md-6 mb-3">
	                            <div class="mb-0 form-group row">
                                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="filterSearchSelectDate"><strong>배정일</strong></label>
                                    <div class="col-sm-12">
                                        <input type="text" name="filterSearchSelectDate" id="filterSearchSelectDate" class="form-control form-control-sm" value=""/>
                                    </div>
                                </div>
	                        </div>
	                        <div class="col-lg-3 col-md-6 mb-3">
	                            <div class="mb-0 form-group row">
	                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                                    <strong>숙박여부</strong>
                                    </div>
	                                <div class="col-12">
                                        <select name="searchStyYn" id="searchStyYn" class="form-select form-select-sm form-control-sm">
                                           <option value="">- 전체 -</option>
                                           <option value="Y">숙박</option>
                                           <option value="N">비숙박</option>
                                        </select>
                                    </div>
	                           </div>
	                        </div>
	                    </div>
	                    <!-- //키워드 filter -->
	                    <!-- 키워드 filter-btn -->
	                    <div class="mt-1 p-t-20 text-center border-top">
	                        <button class="btn btn-disabled m-r-5" onclick="fn_init()" >초기화</button>
	                        <button class="btn btn-primary" onclick="fn_searchForm()" >검색</button>
	                    </div>
	                </div>
	            </form>
            </div>
            <!-- //필터 부분 -->

            <!-- 그리드 부분 -->
            <div class="col-12">
	            <div class="card">
	                <div class="row p-20 p-b-0">
	                    <div class="col-12 col-md-6">
	                        <h5><strong>지원단심사 검색결과</strong></h5>
	                    </div>
	                    <div class="col-12 col-md-6 text-right">
	                        <button type="button" class="btn btn-primary" onclick="fn_excelDownload()">엑셀다운로드</button>
	                    </div>
	                </div>
	                <div class="card-block-small">
	                    <div class="dt-responsive table-responsive">
	                        <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
	                            <table id="jsGrid" class="table-responsive"></table>
	                            <div id="listPager" class="text-center"></div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
            <!-- Content Area -->
            <div id="contentPanel" style="display:none"></div>
        </div>

    <!-- Date-range picker js -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript">

    var selectedItems = [];
    var gridHelper1;


    $(function(){

        gridHelper1 = new GridHelper('jsGrid','contentPanel');

        writeJsGridData();

        $("#filterSearchSelectDate").daterangepicker({
            autoUpdateInput: false,
            locale: {
                format: "YYYY-MM-DD",
            },
        });

        $("#filterSearchSelectDate").on('apply.daterangepicker', function(ev, picker) {
            $("#searchRegStartDt").val(picker.startDate.format('YYYY-MM-DD'));
            $("#searchRegEndDt").val(picker.endDate.format('YYYY-MM-DD'));
            $(this).val(picker.startDate.format('YYYY-MM-DD') + ' - ' + picker.endDate.format('YYYY-MM-DD'));
        });

        if(userid != null){
            //
        }

    });

    //초기화 버튼
    function fn_init() {
        $("#searchType").val('');
        $("#searchKeyword").val('');
        $("#searchSrngSttsCd").val('');
        $("#searchRegStartDt").val('');
        $("#searchRegEndDt").val('');
        $("#searchStyYn").val('');
        $("#filterSearchSelectDate").val('');
    }

    //검색버튼
    function fn_searchForm(){
        gridHelper1.resetListContent();
    }

    /* 엑셀 다운로드 */
    function fn_excelDownload(){
        var f = document.searchFrm;
        f.action ="/mng/asgsysSrng/selectSprtgrpSrngList.do";
        f.submit();
    }

    //목록
        function writeJsGridData(){

            $("#jsGrid").jsGrid({
                height: "auto",
                width: "100%",
                autoload: true,
                sorting: false,
                paging: true,
                pagerContainer: "#listPager",
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagePrevText: "이전",
                pageNextText: "다음",
                pageFirstText: " < 처음 ㅣ",
                pageLastText: " | 마지막 >",
                pageSize: 10,
                pageButtonCount: 10,
                pageLoading: true,
                pageIndex: 1,
                noDataContent: "데이터가 없습니다.",

                controller: {
                    loadData: function (filter) {
                        var data = $.Deferred();

                        var formData = $('#searchFrm').serializeArray();

                        var params = [
                                {name: "pageNumber", value: filter.pageIndex},
                                {name: "rowPerPage", value: filter.pageSize},
                        ]

                        if(filter.sortField != undefined){
                            params.push({name: "orderField", value: filter.sortField});
                            params.push({name: "orderDirection", value: 'desc'});
                        }else{
                            params.push({name: "orderField", value: 'reg_dt'});
                        }

                        formData = formData.concat(params);

                        $.ajax({
                          type: "GET",
                          contentType: "application/json; charset=utf-8",
                          url: "/mng/asgsysSrng/selectSprtgrpSrngList.do",
                          dataType: "json",
                          data: formData
                        }).done(function(response){

                            var da = {
                                    data : escapeGridData(response.list)
                                    ,itemsCount : response.totalCount
                                };
                          data.resolve(da);
                        });
                        return data.promise();
                    },
                },
                fields: [
                     { name: 'prgrmid', css:'hide'}
                    ,{ name: 'sprtgrpid', css:'hide'}
                    ,{ title: 'No.'                 ,name: 'rowNumber',    type: "number", width : "80", align:"center",  sorting :false }
                    ,{ title: '프로그램명'          ,name: 'prgrmNm',    type: "text", width: "100", align:"left"}
                    ,{ title: '기관명'              ,name: 'instNm', type: "text", width: "100", align:"left"}
                    ,{ title: '심사진행상태'        ,name: 'srgnSttsCdNm',   type: "text", width: "100", align:"center"}
                    ,{ title: '배정일'              ,name: 'regDt',  type: "text", align:"center" }
                    ,{ title: '숙박여부'            ,name: 'styYn',   type: "text", width: "100", align:"center"
                        , itemTemplate: function(value, item) {
                            if(value=='Y')       return "숙박";
                            else if(value=='N') return "비숙박";
                            else return "";
                          }
                     }
                    ,{ title: '현장점검 지정일시'   ,name: 'srngDt',  type: "text", align:"center" }
                ],

                rowClick: function(args) {

                    if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;

                    var detailUrl = "/mng/asgsysSrng/sprtgrpSrngInsertForm.html?prgrmid=" + args.item.prgrmid+"&sprtgrpid=" + args.item.sprtgrpid

                    gridHelper1.loadContent(detailUrl);
                    gridHelper1.rowClick(args);
                },
                onPageChanged: function(args) {
                    selectedItems = [];
                }
            });

        }


    </script>
</div>
</body>
</html>