<html
        xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
        layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
    <div class="edu-list type2">
        <ul>
            <li>
                <dl>
                    <dt><a href="https://www.weather.go.kr/w/index.do" class="links" target="_blank" title="새 창">기상청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_01.png" alt="기상청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">02-2181-0900</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">대전광역시 서구 청사로 189 정부대전청사 1동 11~14층<br>서울특별시 동작구 여의대방로 16길 61</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/kma_131" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCI110BywhJpYRC1XY_rSMiQ" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/kmaskylove" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/kma_skylove" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                    <li><a href="https://www.instagram.com/kma_skylove/" target="_blank" title="인스타그램 새 창"><span class="icon icon-share-instagram"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.me.go.kr/hg/web/main.do" class="links" target="_blank" title="새 창">한강유역환경청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_02.png" alt="한강유역환경청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">031-790-2887~8</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">경기도 하남시 미사강변한강로 229</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/hg_wmc" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.facebook.com/cleanhangang" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://www.instagram.com/hg_wmc/" target="_blank" title="인스타그램 새 창"><span class="icon icon-share-instagram"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.me.go.kr/ndg/web/main.do" class="links" target="_blank" title="새 창">낙동강유역환경청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_03.png" alt="낙동강유역환경청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">055-211-1790</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">경남 창원시 성산구 신월동 104-3 (중앙대로 250번길 5)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/nakdong0" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCNT9_9F58iih-1XQtgDIzGg" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/nakdong0" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://www.instagram.com/river_nakdong/" target="_blank" title="인스타그램 새 창"><span class="icon icon-share-instagram"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.me.go.kr/gg/web/main.do" class="links" target="_blank" title="새 창">금강유역환경청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_04.png" alt="금강유역환경청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">042-865-0800</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">대전광역시 유성구 대학로 417</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/geumganglove" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.facebook.com/lovegeumgang" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/lovegeum" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.me.go.kr/ysg/web/main.do" class="links" target="_blank" title="새 창">영산강유역환경청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_05.png" alt="영산강유역환경청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">062-410-5114</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">광주광역시 서구 계수로 31(유촌동)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/ysgpr" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCXc_tBkOROrkNZ6bmBmXFrQ" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/ysgpr" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/ysgpr" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.me.go.kr/wonju/web/main.do" class="links" target="_blank" title="새 창">원주지방환경청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_06.png" alt="원주지방환경청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">033-764-0981</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">강원도 원주시 입춘로 65(반곡동)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/wonju__mev" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCDVAy0J24Md3vVon6wA7Y1g" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/wonjuenv" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/wonjuenv" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.me.go.kr/daegu/web/main.do" class="links" target="_blank" title="새 창">대구지방환경청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_07.png" alt="대구지방환경청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">053-230-6402~3</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">대구광역시 달서구 화암로 301(대곡동, 정부대구지방합동청사)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://www.facebook.com/moedaegu" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/moe_daegu" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.me.go.kr/smg/web/main.do" class="links" target="_blank" title="새 창">전북지방환경청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_08.png" alt="전북지방환경청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">063-238-8800</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">전라북도 전주시 덕진구 안전로 120 (중동829)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/mevjj" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.facebook.com/smgmekorea" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/mevjj" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.me.go.kr/mamo/" class="links" target="_blank" title="새 창">수도권대기환경청</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_09.png" alt="수도권대기환경청"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">031-481-1300</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">경기도 안산시 단원구 원고잔로 34</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/blueskymamo" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UC_z23hzjkivaUTn3v8TBUXw" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/mamoblue" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/mamoblue" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.hrfco.go.kr/main.do" class="links" target="_blank" title="새 창">한강홍수통제소</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_10.png" alt="한강홍수통제소"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">02-590-9999</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">서울특별시 서초구 동작대로 328</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://www.facebook.com/hrfco" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/hrfco" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.nakdongriver.go.kr/main.do" class="links" target="_blank" title="새 창">낙동강홍수통제소</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_11.png" alt="낙동강홍수통제소"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">051-205-6341</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">부산광역시 사하구 낙동남로1233번길 88</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <!-- <ul class="social-list">
                    <li><a href="" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                    <li><a href="" target="_blank" title="인스타그램 새 창"><span class="icon icon-share-instagram"></span></a></li>
                    <li><a href="" target="_blank" title="카카오스토리 새 창"><span class="icon icon-share-kakaostory"></span></a></li>
                    <li><a href="" target="_blank" title="네이버포스트 새 창"><span class="icon icon-share-naverpost"></span></a></li>
                </ul> -->
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.geumriver.go.kr/html/index.jsp" class="links" target="_blank" title="새 창">금강홍수통제소</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_12.png" alt="금강홍수통제소"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">041-851-0510</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">충청남도 공주시 신관원골길 3</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.yeongsanriver.go.kr/index.do?S=S01" class="links" target="_blank" title="새 창">영산강홍수통제소</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_13.png" alt="영산강홍수통제소"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">062-600-8313</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">광주광역시 서구 죽봉대로22번길 25</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://twitter.com/ysriver1" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="https://www.nier.go.kr/NIER/index.do" class="links" target="_blank" title="새 창">국립환경과학원</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_14.png" alt="국립환경과학원"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">032-560-7114</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">인천광역시 서구 환경로 42</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/nier7078" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/niernier0" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/niernier0" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/niernier0" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                    <li><a href="https://post.naver.com/my.naver?memberNo=47776490" target="_blank" title="네이버포스트 새 창"><span class="icon icon-share-naverpost"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="https://ehrd.me.go.kr/" class="links" target="_blank" title="새 창">국립환경인재개발원</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_15.png" alt="국립환경인재개발원"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">1899-5803</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">인천광역시 서구 환경로 42</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/ehrd7890" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.facebook.com/ehrd.korea/" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/niernier0" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="http://www.gir.go.kr/home/main.do" class="links" target="_blank" title="새 창">온실가스종합정보센터</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_16.png" alt="온실가스종합정보센터"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">043-714-7500</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">충청북도 청주시 흥덕구 오송읍 오송생명로 210 오송스퀘어 2~3층</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://www.youtube.com/channel/UCwgle0Q9pt4r5ZboDi_xu4Q" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/thinktank.gir" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="https://www.air.go.kr/main.do" class="links" target="_blank" title="새 창">국가미세먼지정보센터</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_17.png" alt="국가미세먼지정보센터"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">043-279-4500</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">충청북도 청주시 흥덕구 오송읍 오송생명로 206 백천빌딩</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><a href="http://niwdc.me.go.kr/niwdc/web/main.do" class="links" target="_blank" title="새 창">국립야생동물질병관리원</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_18.png" alt="국립야생동물질병관리원"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">062-949-4221</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">광주광역시 광산구 송암길1</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt><a href="https://ecc.me.go.kr/front/user/main.do;jsessionid=jup7nFcuzTrWZDhYsFIS6kMz.node13" class="links" target="_blank" title="새 창">중앙환경분쟁조정위원회</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_19.png" alt="중앙환경분쟁조정위원회"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">044-201-7969</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">세종시 가름로 143, KT&amp;G 세종타워B 4층</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/edc112" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UC13J2i7tHom-X_LQrSPeumQ" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://twitter.com/edc_korea" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="https://www.nibr.go.kr/" class="links" target="_blank" title="새 창">국립생물자원관</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_20.png" alt="국립생물자원관"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">032-590-7419</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">인천광역시 서구 환경로 42 (경서동 종합환경연구단지)</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/nibr_bio" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UC4nZ0RgT2D7sqcHjOclTJCQ" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/nibrbio" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://twitter.com/nibr_bio" target="_blank" title="트위터 새 창"><span class="icon icon-share-twitter"></span></a></li>
                    <li><a href="https://www.instagram.com/nibr590/" target="_blank" title="인스타그램 새 창"><span class="icon icon-share-instagram"></span></a></li>
                </ul>
            </li>
            <li>
                <dl>
                    <dt><a href="https://nics.me.go.kr/" class="links" target="_blank" title="새 창">화학물질안전원</a></dt>
                    <dd class="logo"><img src="/images/front/edu/logo_external_21.png" alt="화학물질안전원"></dd>
                    <dd>
                        <ul class="dot-list">
                            <li class="d-flex">
                                <span class="tit">TEL</span>
                                <span class="dc">043-830-4000</span>
                            </li>
                            <li class="d-flex">
                                <span class="tit">주소</span>
                                <span class="dc">충청북도 청주시 흥덕구 오송읍 오송생명11로 270</span>
                            </li>
                        </ul>
                    </dd>
                </dl>
                <ul class="social-list">
                    <li><a href="https://blog.naver.com/moe_nics" target="_blank" title="네이버 블로그 새 창"><span class="icon icon-share-naverblog"></span></a></li>
                    <li><a href="https://www.youtube.com/channel/UCHQy7pb7CikOEeHDRIoByPg" target="_blank" title="유튜브 새 창"><span class="icon icon-share-youtube"></span></a></li>
                    <li><a href="https://www.facebook.com/moe.nics/" target="_blank" title="페이스북 새 창"><span class="icon icon-share-facebook"></span></a></li>
                    <li><a href="https://www.instagram.com/moe_nics/" target="_blank" title="인스타그램 새 창"><span class="icon icon-share-instagram"></span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</html>