<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
	<div layout:fragment="content">
		<!-- content -->
		<form class="search-filter" id="searchForm" name="searchForm">
			<div class="form-input-wrap">
				<div class="form-row">
					<div class="form-header"><strong class="label">검색어</strong></div>
					<div class="form-body">
						<div class="form-input">
							<select title="검색어" name="searchType" id="searchType">
								<option value=""            th:selected="${params.searchType == ''}"            >- 전체 - </option>	
								<option value="searchTtl"   th:selected="${params.searchType == 'searchTtl'}"   >제목</option>
								<option value="searchCn"    th:selected="${params.searchType == 'searchCn'}"    >내용</option>
								<option value="searchTtlCn" th:selected="${params.searchType == 'searchTtlCn'}" >제목+내용</option>
							</select>
							<input type="search" title="검색어" name="searchKeyword" id="searchKeyword" placeholder="검색어를 입력해 주세요." th:value="${params.searchKeyword}">
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-header"><strong class="label">작가/출판사</strong></div>
					<div class="form-body">
						<div class="form-input">
							<select title="작가/출판사" name="searchType2" id="searchType2">
								<option value="">- 전체 -</option>
								<option value="searchWritr"      th:selected="${params.searchType2 == 'searchWritr'}"            >작가(글)</option>
								<option value="searchWritrPictr" th:selected="${params.searchType2 == 'searchWritrPictr'}"   >작가(그림)</option>
								<option value="searchPlscmpn"    th:selected="${params.searchType2 == 'searchPlscmpn'}"    >출판사</option>
							</select>                            
							<input type="search" title="작가/출판사" name="searchKeyword2" id="searchKeyword2" placeholder="작가/출판사를 입력해 주세요." th:value="${params.searchKeyword2}">
						</div>
					</div>
				</div>
				<div class="form-row">
					<div class="form-header"><strong class="label">대상</strong></div>
					<div class="form-body">
						<span kattr:select_code="searchEduTrgtCd" th:attr="grpCd=178,selectedCd=${params.searchEduTrgtCd}" firstOptTxt="- 전체 -"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-header"><strong class="label">주제</strong></div>
					<div class="form-body">
						<div class="form-input">
							<select name="searchManinEduSbjctCd" id="searchEduSbjctCd_1" title="주제" onchange="setSearchSelectBox.setNextDepth(155,this.value,'searchEduSbjctCd_2')">
							</select>
	                        <select name="searchMdleEduSbjctCd" id="searchEduSbjctCd_2" title="주제 상세" style="flex:auto">
	                        </select>							
						</div>
					</div>
				</div>
			</div>
			<div class="search-filter-submit">
				<button type="button" class="btn-medium btn-gray btn-before-refresh" onclick="book.searchInit()">초기화</button>
				<button type="button" class="btn-medium btn-green btn-before-search" onclick="book.search()">검색</button>
			</div>
			
	        <input type="hidden" id="pageNumber"      name="pageNumber"     th:value="${params.pageNumber}" >
	        <input type="hidden" id="rowPerPage"      name="rowPerPage"     value="3">
	        <input type="hidden" id="ORDER_DIRECTION" name="orderDirection" value="desc">
	        <input type="hidden" id="orderField"      name="orderField"     value="BOOKID DESC, REG_DT">
	        <input type="hidden" id="bookid"          name="bookid" >
		</form>

		<div class="tab-content">
			<div class="table-caption flex-nowrap">
				<div class="left">
					<p>총 <b id="totalCount">0</b> 건</p>
				</div>
				<div class="right">
					<div class="sort-tab">
						<ul class="tab-list" role="tablist">
							<li class="active"><button role="tab" aria-controls="tab-album1" id="album-tab1" onclick="book.init(16);"><span class="icon icon-sort-album"></span>앨범형</button></li>
							<li><button role="tab" aria-controls="tab-list1" id="list-tab1" onclick="book.init(10);"><span class="icon icon-sort-list"></span>목록형</button></li>
						</ul>
					</div>
				</div>
			</div>
			<div id="tab-album1" class="tabpanel" role="tabpanel" aria-labelledby="album-tab1">
				<div class="card-list card-list-n4 card-list-mo-n2" id="card-table">
					<ul id="cardList-area">
					</ul>
				</div>
				<div id="pagination1" aria-label="pagination">
				</div>
			</div>

			<div id="tab-list1" class="tabpanel" role="tabpanel" aria-labelledby="list-tab1">
				<div class="pc-only">
					<div class="table-col table-layout-auto">
						<table>
							<caption>우수환경도서 - 번호, 주제, 제목, 작가(글), 작가(그림), 출판사, 대상, 등록일, 조회수</caption>
							<colgroup>
								<col style="width:6%;">
								<col style="width:11%;">
								<col>
								<col style="width:16%;">
								<col style="width:10%;">
								<col style="width:10%;">
								<col style="width:10%;">
								<col style="width:10%;">
							</colgroup>
							<thead>
								<tr>
									<th scope="col">번호</th>
									<th scope="col">주제</th>
									<th scope="col">제목</th>
									<th scope="col">작가(글)</th>
									<th scope="col">작가(그림)</th>
									<th scope="col">출판사</th>
									<th scope="col">대상</th>
									<th scope="col">등록일</th>
									<th scope="col">조회수</th>
								</tr>
							</thead>
							<tbody id="pc-list-area">
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="mo-only">
					<div class="table-list">
						<ul id="mo-list-area">
						</ul>
					</div>
				</div>				

				<div id="pagination2" aria-label="pagination">
				</div>
			</div>
		</div>
		<!-- //content -->
	
		<script th:inline="javascript">
		
		/*<![CDATA[*/ 
	    var params = /*[[${params}]]*/null;
	    /*]]>*/
	     
	    function promiseProcess(){
		    return new Promise(function (resolve,reject){
                setSearchSelectBox.fn_getNextDepthList(155 , 0, 'searchEduSbjctCd_1',params.searchManinEduSbjctCd);
		        setSearchSelectBox.setNextDepth(155,params.searchManinEduSbjctCd,'searchEduSbjctCd_2',params.searchMdleEduSbjctCd)
			    resolve();
			})
		}
		 
        $(function () {
            setSearchSelectBox.fn_getNextDepthList(155 , 0, 'searchEduSbjctCd_1',params.searchManinEduSbjctCd);
            setSearchSelectBox.setNextDepth(155,params.searchManinEduSbjctCd,'searchEduSbjctCd_2',params.searchMdleEduSbjctCd)
        	book.init();
        })
        
        var book = {
                listUrl: '/front/book/selectBookList.do',
                detailUrl : '/front/book/bookDetailForm.html',

                init(rowPerPage) {
                	if(rowPerPage != null) {
	                    $("#rowPerPage").val(parseInt(rowPerPage));
                	}
                    this.selectBookList();
                },
                search() {
    				var searchType = $("#searchType").val()
    				var searchKeyword = $("#searchKeyword").val()

    				if (searchType != null && searchType != "") {
    					if (searchKeyword == null || searchKeyword == "") {
    						alert("검색어를 입력해주십시오");
    						return;
    					}
    				} else {
    					if (searchKeyword != null && searchKeyword != "") {
    						alert("검색조건을 선택해주십시오");
    						return;
    					}
    				}
    				
    				var searchType2 = $("#searchType2").val()
    				var searchKeyword2 = $("#searchKeyword2").val()

    				if (searchType2 != null && searchType2 != "") {
    					if (searchKeyword2 == null || searchKeyword2 == "") {
    						alert("작가/출판사를 입력해주십시오");
    						return;
    					}
    				} else {
    					if (searchKeyword2 != null && searchKeyword2 != "") {
    						alert("작가/출판사를 선택해주십시오");
    						return;
    					}
    				}
                	
                    $('#pageNumber').val('1');
                	$('#card-table').removeClass();
                    $('#card-table').addClass('card-list card-list-n3');
                    this.selectBookList();
                },

                searchInit() {
    				$("#searchType").val('');
    				$("#searchKeyword").val('');
    				$("#searchType2").val('');
    				$("#searchKeyword2").val('');
    				$("#searchEduSbjctCd_1").val('');
    				$("#searchEduSbjctCd_2").val('');
    				$("#searchEduTrgtCd").val('');
                	$('#card-table').removeClass();
                    $('#card-table').addClass('card-list card-list-n3');
    				this.selectBookList();
                },

                selectBookList() {
                    if (displayWorkProgress(true)) {
                        let formData = $('#searchForm').serializeArray();

                        $.ajax({
                            url: book.listUrl,
                            cache: false,
                            dataType: 'json',
                            async:false,
                            data: formData,
                            type: 'GET',
                            success: function (data) {
                            	book.makeListHtml(data);
                                closeWorkProgress();
                            }
                        });
                    }
                },

                moveToDetail(bookid) {
                    var f = document.forms.searchForm ;
                    f.bookid.value=bookid;
                    f.action = this.detailUrl;
                    f.submit();
                },

                makeListHtml(data) {

                    var cardListHtml = "";
                    var pc_listHtml = "";
                    var mo_listHtml = "";
                    
                    if (data.list == null || data.list.length <= 0) {
                    	pc_listHtml += `
                        <tr>
                            <td class="nodata" colSpan="9">
                                <p><span class="icon icon-notice bg-black9"></span>등록된 내용이 없습니다</p>
                            </td>
                        </tr>
                        `;
                        
                    	mo_listHtml += `
						<li class="block">
							<div class="nodata">
								<p><span class="icon icon-notice bg-black9"></span>등록된 프로그램이 없습니다.</p>
							</div>
						</li>
                        `;                        
                        
                        $('#card-table').removeClass();
                        $('#card-table').addClass('nodata');
                        cardListHtml += `
            				<p><span class="icon icon-notice bg-black9"></span>등록된 내용이 없습니다</p>
                        `;
                    } else {
                        data.list.forEach(function(item) {
                            
   							var eduSbjctCdNm =( item.eduSbjctCdNm == null)? "-":item.eduSbjctCdNm;
   							
                        	pc_listHtml += `
                            <tr>
                            <td>${item.rowNumber}</td>
                            <td>`+eduSbjctCdNm+`</td>
                            <td className="al article"><a href="javascript:void(0)" onclick="book.moveToDetail(${item.bookid})">${item.ttl}</a></td>
                            <td>${item.writr}</td>
                            <td>${item.writrPictr}</td>
   							<td>${item.plscmpn}</td>
   							<td>${item.eduTrgtCdNm}</td>
   							<td>${item.regDt}</td>
   							<td>${item.hits}</td>
   							</tr>
   							`;
   							
                        	mo_listHtml += `
   							<li class="block">
								<div class="tbody">
									<dl>
										<div class="list">
											<dt>번호</dt>
											<dd>${item.rowNumber}</dd>
										</div>
										<div class="list">
											<dt>주제</dt>
											<dd>`+eduSbjctCdNm+`</dd>
										</div>
										<div class="list">
											<dt>제목</dt>
											<dd><a href="javascript:void(0)" onclick="book.moveToDetail(${item.bookid})" class="link ellipsis">${item.ttl}</a></dd>
										</div>
										<div class="list">
											<dt>작가(글)</dt>
											<dd>${item.writr}</dd>
										</div>
										<div class="list">
											<dt>작가(그림)</dt>
											<dd>${item.plscmpn}</dd>
										</div>
										<div class="list">
											<dt>출판사</dt>
											<dd>${item.plscmpn}</dd>
										</div>
										<div class="list">
											<dt>대상</dt>
											<dd>${item.eduTrgtCdNm}</dd>
										</div>
										<div class="list">
											<dt>등록일</dt>
											<dd>${item.regDt}</dd>
										</div>
										<div class="list">
											<dt>조회수</dt>
											<dd>${item.hits}</dd>
										</div>
									</dl>
								</div>
							</li>
   							`;   							
   							
                            cardListHtml += `
                             <li>
 	                            <a href="javascript:book.moveToDetail(${item.bookid})"> 
 		                            <div class="thumb contain" style="height:160px;">
 		                            	<img src="/downloadFileByFileid.do?fileid=${item.rprsImgFileid}+&file_idntfc_key=${item.fileIdntfcKey}" alt="">
 		                            </div>
 		                            <dl class="card-cate-list">
 										<dt class="mo-ellipsis" data-ellipsis="2">${item.ttl}</dt>
 										<dd class="mo-ellipsis fc-black6" data-ellipsis="1">조회수 ${item.hits}회</dd>
 										<dd class="mo-ellipsis fc-black6" data-ellipsis="1">${item.regDt}</dd>
 									</dl>
 								</a>
 							</li>
    						`;
                        });
                    }
                    $('#cardList-area').html(cardListHtml);	
                    $('#pc-list-area').html(pc_listHtml);
                    $('#mo-list-area').html(mo_listHtml);
                    $("#pagination1").html(data.pagination);
                    $("#pagination2").html(data.pagination);
                    $("#totalCount").html(data.totalCount);
                }
            };

			var getCodeListUrl = "/mng/customAttr/grpCodeList.do"
			
			var setSearchSelectBox = {
			 	fn_getNextDepthList : function(grpcd , upprcd, targetId,selectedCd){
					$.ajax({
						url : getCodeListUrl,
						type: 'GET',
						cache : false,
						async:false,
						dataType: 'json',
						data: {
							  grpcd  : grpcd
							, upprcd : upprcd
						}, 
						success : function (data){
							setSearchSelectBox.writeHtml(grpcd,targetId,data,selectedCd);
							return true;
						},
					 	error : function (error){
						} 
						
					});
				},
			 	
			 	writeHtml : function(grpcd,targetId,list,selected){
				 	var cntArr = targetId.split("_");
				   	var nextCnt = Number(cntArr[1])+1;
				   	var nextTarget = cntArr[0]+"_"+nextCnt;
				   	   
				    var html ="<select id='"+targetId+"' onchange=setSearchSelectBox.setNextDepth('"+grpcd+"',this.value,'"+nextTarget+"')>";
				        html +="    <option value='' selected>- 전체 -</option>";
			  		  for(var i=0 ; i < list.length;i++){
			  			if(list[i].cd==selected){
			   			html +="    <option value="+list[i].cd+" selected>"+ list[i].cdNm+ "</option>";
			  			}else{
			  			html +="    <option value="+list[i].cd+">"+ list[i].cdNm+ "</option>";
			  			}
			  		  }
			  		  if(list.length == 0 && jQuery("#"+nextTarget)[0] != undefined){
			  		  	setSearchSelectBox.writeHtml(grpcd,nextTarget,list,"");
			  		  }
				   	  html +="    </select>";
				   	  $("#"+targetId).html(html);
			 	},
			 	
			    setNextDepth : function(grpcd , upprcd , targetId,selected){
					return setSearchSelectBox.fn_getNextDepthList(grpcd , upprcd , targetId,selected);
				}
			}
			
			function goPage(page) {
				$("#pageNumber").val(page);
				book.selectBookList();
			}            
		</script>
	</div>

</body>
</html>