<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>detailLeft</title>
</head>
<body>
<script type="text/javascript">

    function goMenu(url, cmkey, loginYn, userYn){
        if(loginYn == 'Y' && userYn == 'N'){
           alert('로그인이 필요한 서비스입니다.');
        }
        //jQuery("#form_menu").attr("action",url);
        //jQuery("#form_menu input[id=cmkey]").val(cmkey);
        //jQuery("#form_menu")[0].submit();
        location.href = url;
    }
    
    function goMenuNewWin(url, cmkey){
        jQuery("#form_menu").attr("action",url);
        jQuery("#form_menu").attr("target","_blank");
        jQuery("#form_menu input[id=cmkey]").val(cmkey);
        jQuery("#form_menu")[0].submit();
        jQuery("#form_menu").attr("target","");
    }
    
    function goMenuPop(url, cmkey, width, height, loginYn, userYn){
        if(loginYn == 'Y' && userYn == 'N'){
           alert('로그인이 필요한 서비스입니다.');
           return false;
        }
        Center_Fixed_Popup2("", cmkey, width, height, "no");
        jQuery("#form_menu").attr("action",url);
        jQuery("#form_menu").attr("target",cmkey);
        jQuery("#form_menu input[id=cmkey]").val(cmkey);
        jQuery("#form_menu")[0].submit();
        jQuery("#form_menu").attr("target","");
    }

</script>

<form name="form_menu" id="form_menu" th:action="@{/}" method="get" onsubmit="return false;">
    <input type="hidden" name="cmkey" id="cmkey" value="" />
</form>

<th:block th:utext="${@leftMenuPrintImpl.menuPrint()}" />
</body>
</html>