<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>	
	<title>HiJUMP 직업계고 기초학력향상 프로그램</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
	<script src="/old/assets/js/comm/jquery/jquery-3.6.0.min.js"></script>
    <script src="/old/assets/js/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="/old/assets/js/swiper/swiper-bundle.min.css">
    <link rel="preload" href="/old/assets/fonts/notosanskr/notosanskrregular.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="/old/assets/fonts/notosanskr/notosanskrregular.woff" as="font" crossorigin="anonymous">
    <link rel="preload" href="/old/assets/fonts/notosanskr/notosanskrregular.svg" as="font" crossorigin="anonymous">
    <link rel="stylesheet" href="/old/assets/css/hijump.css">
    
    <!--새로운 UI 받을 시 대체 할 것 (공지사항 팝업 관련 CSS )-->  
    <link rel="stylesheet" href="/css/frontPopup.css">
	
</head>

<body>
<div id="wrap">
    <!-- header -->
    <header id="header" class="header">
        <th:block th:replace="layout/front/header"></th:block>
    </header>
    <!-- // header -->

    <!-- container -->
    <main id="container">
        <div layout:fragment="content"></div>
    </main>
    <!-- // container -->
    <span id="layerPopupSapn"></span>
    <!-- footer -->
    <footer id="footer" class="footer">
        <th:block th:replace="layout/front/mainFooter"></th:block>
    </footer>
 <!-- // footer -->
</div>

<!-- script -->
<script src="/old/assets/js/script.js"></script>
<!-- // script -->

<!-- slide -->
<script>
    var swiper = new Swiper(".index-swiper", {
      pagination: {
        el: ".swiper-pagination",
        type: "fraction",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
  </script>
		<span th:replace="layout/front/jsCommon"></span>
</body>
</html>
