<div class="footer-menu">
    <ul class="footer-menu-list">
        <li><a href="#" class="btn-footer-menu">이용약관</a></li>
        <li><a href="#" class="btn-footer-menu color">개인정보처리방침</a></li>
        <li><a href="#" class="btn-footer-menu">이용안내</a></li>
        <li><a href="#" class="btn-footer-menu">사이트맵</a></li>
    </ul>
</div>

<div class="footer-info">
    <ul class="footer-address">
        <li>
            한국교육과정평가원 
            <address>(27873) 충청북도 진천군 덕산면 교학로 8</address>
        </li>
        <li>
            교육부 
            <address>(30119) 세종특별자치시 갈매로 408 정부세종청사 14동 교육부</address>
        </li>
    </ul>

    <ul class="footer-address">
        <li>
            대한상공회의소 
            <address>(04513) 서울시 중구 세종대로 39</address>
        </li>
        <li>문의 : <a href="mailto:hijump@korcham.net" class="email">hijump@korcham.net</a></li>
    </ul>

    <ul class="footer-agency">
        <li class="moe"><a href="https://www.moe.go.kr/" target="_blank"><img src="/old/assets/images/comm/ci_moe.png" alt="교육부"></a></li>
        <li class="kice"><a href="https://www.kice.re.kr/" target="_blank"><img src="/old/assets/images/comm/ci_kice.png" alt="한국교육과정평가원"></a></li>
        <li class="teenup"><a href="http://self.teenup.or.kr/" target="_blank"><img src="/old/assets/images/comm/ci_eenup.png" alt="eenup 직업기초능력평가"></a></li>
    </ul>

    <div class="copyright">Copyright Environmental Preservation Association All Rights Reserved.</div>
</div>