 <div class="card-header p-b-0">
    <ul class="nav nav-tabs  tabs" role="tablist">
        <th:block sec:authorize-url="/mng/cmnty/cmntyUpdateForm.html">
            <li class="nav-item">
                <a id="cmntyTab" class="nav-link active" tmplatid="0" data-bs-toggle="tab" href="#cmnty" role="tab"><strong>기본설정</strong></a>
            </li>
            <li class="nav-item">
                <a id="mbrTab" class="nav-link" tmplatid="0" data-bs-toggle="tab" href="#mbr" role="tab"><strong>회원</strong></a>
            </li>
            <li class="nav-item" th:each="ctgry: ${ctgryList}">
                <th:block th:switch="${ctgry.cmntyBbsTmplatid}">
                    <th:block th:case="1"><a id="ntcmttrTab" class="nav-link" tmplatid="1" data-bs-toggle="tab" href="#cmntyPst" role="tab"><strong>공지사항</strong></a></th:block>
                    <th:block th:case="2"><a id="infobbsTab" class="nav-link" tmplatid="2" data-bs-toggle="tab" href="#cmntyPst" role="tab"><strong>정보게시판</strong></a></th:block>
                    <th:block th:case="3"><a id="recsroomTab" class="nav-link" tmplatid="3" data-bs-toggle="tab" href="#cmntyPst" role="tab"><strong>자료실</strong></a></th:block>
                    <th:block th:case="4"><a id="envobservactvtTab" class="nav-link" tmplatid="4" data-bs-toggle="tab" href="#cmntyPst" role="tab"><strong>환경관찰활동</strong></a></th:block>
                </th:block>
            </li>
        </th:block>    
    </ul>
</div>
<div id="tabContent" class="tab-content tabs p-t-20">
</div>

<script th:inline="javascript">
    var cmntyDetail = {
        cmntyid: /*[[${param.cmntyid}]]*/,
        ctgryList: /*[[${ctgryList}]]*/,
        tmplatid: 0,
        
        init: function() {
            this.setTab();
            this.registEvent();
        },
        
        setTab: function() {
            var tabFlag = false;
            if(tabFlag == false) {
                this.selectTab("cmntyTab", 0);
                tabFlag = true;
            }
            if(tabFlag == false) {
                this.selectTab("mbrTab", 0);
                tabFlag = true;
            }
        },
        
        registEvent: function() {
            var _this = this;
            $(".nav-tabs a").on("show.bs.tab", function(event) {
                var tabId = event.currentTarget.attributes.id.value;
                var tmplatid = event.currentTarget.attributes.tmplatid.value;
                _this.selectTab(tabId, tmplatid);
            });
        },
        
        selectTab: function(tabId, tmplatid) {
            var uri = "";
            if(tabId == "cmntyTab") {
                uri = "/mng/cmnty/cmntyUpdateForm.html";
            } else if(tabId == "mbrTab") {
                uri = "/mng/cmnty/cmntyMbr.html";
            }  else {
                uri = "/mng/cmnty/cmntyPst.html";
            }
            uri += "?cmntyid=" + this.cmntyid;
            if(tmplatid != 0) {
                uri += "&cmntyBbsTmplatid=" + tmplatid;
            }
            this.tmplatid = tmplatid;            
            this.loadTabContent(uri);
            $("#" + tabId).parent().addClass("active");
        },
        
        loadTabContent: function(uri) {
            $.ajax({
                cache: false,
                url: uri, 
                type: "GET",
                async: "false",
                dataType: "html",
                success: function(result) { // 요청이 성공했을때 실행되는 콜백 함수
                    $("#tabContent").html(result);
                    scrollIntoView("contentPanel");
                }
            });
        }
    };
    
    cmntyDetail.init();
</script>