<form id="cmntyUpdateForm">
    <input type="hidden" name="operYn" th:value="${cmnty.operYn}">
    <div class="tab-pane active" id="cmnty" role="tabpanel">
        <div class="card-header p-t-0 p-b-0">
            <h3 class="sub-title"><strong>기본정보</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="mb-2 row align-items-end">
                <div class="col-12 col-lg-3 mb-2 mb-lg-0">
                    <img class="img-fluid col-12" src="/files/assets/images/avatar-2.jpg" alt="Generic placeholder image">
                </div>
                <div class="col-12 col-lg-9 form-group mb-0">
                    <div class="mb-0 form-group row">
                        <div class="col-12">
                            <span kattr:switch_yn="operYn" label="커뮤니티 운영" th:attr="defaultVal=${cmnty.operYn}" isAdmin="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="cmntyNm"><strong>커뮤니티명</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="cmntyNm" id="cmntyNm" th:value="${cmnty.joinaprvmthdCd}" readonly/>
                </div>
            </div>
            <div class="mb-2 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="communityIntro"><strong>커뮤니티 소개</strong></label>
                <div class="col-sm-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" th:text="${cmnty.cmntyIntrcn}" id="cmntyIntrcn" name="cmntyIntrcn" readonly></textarea>
                </div>
            </div>
            <div class="mb-2 form-group row">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="communityFounder"><strong>개설자</strong></label>
                <div class="col-sm-12">
                    <input type="text" class="form-control form-control-sm" name="communityFounder" id="communityFounder" placeholder="Text Input Validation" value="keepgo" readonly/>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                    <div class="mb-0 form-group">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>가입승인 방식</strong></div>
                        <div class="col-12 mt-1">
                            <span kattr:radio_code="joinaprvmthdCd" th:attr="grpCd=115, selectedCd=${cmnty.joinaprvmthdCd}" disabled="115100|115101" isAdmin="true">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 mb-2 mb-lg-0">
                    <div class="mb-0 form-group">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>공개여부 설정</strong></div>
                        <div class="col-12 mt-1">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="rlsYn" th:checked="${cmnty.rlsYn == 'Y'}" onclick="return false;"/>
                                        <i class="helper"></i>공개
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="rlsYn" th:checked="${cmnty.rlsYn == 'N'}" onclick="return false;"/>
                                        <i class="helper"></i>비공개
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="mb-0 form-group">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>검색노출 동의 여부</strong></div>
                        <div class="col-12 mt-1">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="srchExpsrYn" th:checked="${cmnty.srchExpsrYn == 'Y'}" onclick="return false;"/>
                                        <i class="helper"></i>동의함
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="srchExpsrYn" th:checked="${cmnty.srchExpsrYn == 'N'}" onclick="return false;"/>
                                        <i class="helper"></i>동의하지 않음
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header p-t-0 p-b-0">
            <h3 class="sub-title"><strong>카테고리 설정</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="border-checkbox-section">
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="ntcmttrYn" id="ntcmttrYn" th:checked="${cmnty.ntcmttrYn == 'Y'}" onclick="return false;">
                    <label class="form-label form-label-sm border-checkbox-label" for="ntcmttrYn">
                        공지사항
                    </label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="infobbsYn" id="infobbsYn" th:checked="${cmnty.infobbsYn == 'Y'}" onclick="return false;">
                    <label class="form-label form-label-sm border-checkbox-label" for="infobbsYn">
                        정보게시판
                    </label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="recsroomYn" id="recsroomYn" th:checked="${cmnty.recsroomYn == 'Y'}" onclick="return false;">
                    <label class="form-label form-label-sm border-checkbox-label" for="recsroomYn">
                        자료실
                    </label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="envobservactvtYn" id="envobservactvtYn" th:checked="${cmnty.envobservactvtYn == 'Y'}" onclick="return false;">
                    <label class="form-label form-label-sm border-checkbox-label" for="recsroomYn">
                        환경관찰활동
                    </label>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:inline="javascript">
    var cmntyUpdate = {
        init: function() {
            var elemsingleSmallList = document.querySelectorAll('.js-single-small');
            for(var i = 0; i < elemsingleSmallList.length; i++) {
                new Switchery(elemsingleSmallList[i], {color: "#4680ff", jackColor: "#fff", size: "small"});
           }
           $(".switchery").css({pointerEvents: "none"});
           
           this.registEvent();
        },
        
        registEvent: function() {
            // TODO
        },
    };
    
    cmntyUpdate.init();
</script>