<form id="SpceFrm" >
    <div class="tab-pane active" id="spaceInfo" role="tabpanel">
        <div class="card-header p-t-0 p-b-0">
            <h3 class="sub-title"><strong>시설 정보</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="operationAgency"><strong>운영기관</strong></label>
                        <div class="col-12 row">
                            <div class="col-8">
                                <input type="text" class="form-control form-control-sm" name="instNm" id="instNm" th:value="${spceVo.instNm}" placeholder="기관 선택" readonly>
                            </div>
                            <div class="col-4 btn-group-sm">
                                <button type="button" id="instBtn" class="btn btn-inverse" data-bs-toggle="modal" onclick="openSearchInstModal()">
                                    기관검색
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>시설</strong></div>
                        <div class="col-12">
                           <input type="text" selectsearchcondition="fcltid" id="fcltid" name="fcltid" style="position:absolute;width:0px;margin:0px;padding:0px;visibility:hidden;">
                           <select class="select2-hidden-accessible" name="selectFcltid" id="selectFcltid" tabindex="-1" aria-hidden="true" ></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="fcltNum"><strong>시설번호</strong></label>
                        <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="fcltNum" id="fcltNum" th:value="${spceVo.fcltNo}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="fcltAddr"><strong>주소</strong></label>
                        <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="fcltAddr" id="fcltAddr"  th:value="${spceVo.addr}" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상세주소</strong></div>
                        <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="fcltAddrDtl" id="fcltAddrDtl" th:value="${spceVo.addrDtl}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>예약신청방법</strong></div>
                        <div class="col-12">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="aplyMthdCd" value="153101" th:checked ="${spceVo.aplyMthdCd == '153101'}" disabled>
                                        <i class="helper"></i>플랫폼
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="aplyMthdCd" value="153102" th:checked ="${spceVo.aplyMthdCd == '153102'}" disabled>
                                        <i class="helper"></i>외부 사이트
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header p-t-0 p-b-0">
            <h3 class="sub-title"><strong>공간 정보</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="spceNm"><strong>공간</strong></label>
                        <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="spceNm" id="spceNm" th:value="${spceVo.spceNm}" placeholder="공간" >
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="spceNo"><strong>공간번호</strong></label>
                        <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="spceNo" id="spceNo" th:value="${spceVo.spceNo}" placeholder="공간번호" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="maxNope"><strong>최대 수용인원</strong></label>
                        <div class="col-12 row align-items-center">
                            <div class="col-auto">
                                <input type="text" class="col-lg-auto form-control form-control-sm" name="maxNope" id="maxNope" th:value="${spceVo.maxNope}" placeholder="최대 수용인원">
                            </div>
                            <div class="col-auto p-l-0 p-r-0">
                                명
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="size"><strong>평형</strong></label>
                        <div class="col-12 row align-items-center">
                            <div class="col-auto">
                                <input type="text" class="col-lg-auto form-control form-control-sm" name="size" id="size" th:value="${spceVo.size}" placeholder="">
                            </div>
                            <div class="col-auto p-l-0 p-r-0">
                                평형
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="spaceSize"><strong>입실시간</strong></label>
                        <div class="col row">
                            <div class="col-auto">
                                <input type="time" class="form-control form-control-sm" name="chkinHr" id="chkinHr" th:value="${spceVo.chkinHr}" placeholder="입실시간">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="spaceSize"><strong>퇴실시간</strong></label>
                        <div class="col row">
                            <div class="col-auto">
                                <input type="time" class="form-control form-control-sm" name="chcktHr" id="chcktHr" th:value="${spceVo.chcktHr}" placeholder="퇴실시간">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [230109] 추가 -->
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input01"><strong>예약가능일자</strong></label>
                        <div>
                            오늘부터
                            <input type="text" class="form-control form-control-sm d-inline-block ms-2" name="rsvtPsbltyDaycnt" id="rsvtPsbltyDaycnt" th:value="${spceVo.rsvtPsbltyDaycnt}" style="width:60px">
                            일까지 예약 가능
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="spaceSize"><strong>당일예약 가능여부</strong></div>
                        <div class="col-12">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="todayRsvtPsbltyYn" value="Y"  th:checked="${spceVo.todayRsvtPsbltyYn =='Y'}">
                                        <i class="helper"></i>가능
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="todayRsvtPsbltyYn" value="N" th:checked="${spceVo.todayRsvtPsbltyYn =='N'}">
                                        <i class="helper"></i>불가
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // [230109] 추가 -->
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group required">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사용여부</strong></div>
                        <div class="col-12">
                            <div class="form-radio">
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="useYn" value="Y" th:checked="${spceVo.useYn =='Y'}">
                                        <i class="helper"></i>사용
                                    </label>
                                </div>
                                <div class="radio radio-inline">
                                    <label class="mb-0 form-label">
                                        <input type="radio" name="useYn" value="N" th:checked="${spceVo.useYn =='N'}">
                                        <i class="helper"></i>사용안함
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block-small">
            <button type="button" class="btn btn-disabled m-r-5" onclick="gridHelper1.toggleContent()">취소</button>
            <button type="button" class="btn btn-primary" onclick="fn_updateSpce()">저장</button>
        </div>
    </div>
    <!-- 탭영역 end -->
    
    <input type="hidden" name="instid" id="instid" th:value="${spceVo.instid}">
    <input type="hidden" name="spceid" id="spceid" th:value="${spceVo.spceid}">
</form>

<script type="text/javascript" src="/files/assets/pages/advance-elements/select2-custom.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/ 
    var user = /*[[${user}]]*/null; 
    var instVo = /*[[${instVo}]]*/null; 
    var spceVo = /*[[${spceVo}]]*/null; 
    /*]]>*/
    var fcltListData = [];
    var firstSelectOption ={id:' ', text:'- 선택 -', value: '',option:"selected"};
    var instModal;
    var initFclt = false;
    
    $(function(){
        //기관 관리자인 경우 자신의 기관만선택 할 수 있도록  
        if(user.roleInfo.trgtInstCd =='S' && instVo != null){
            $("#instid").val(user.instid);
            $("#instNm").val(instVo.instNm);
            $("#instBtn").prop("disabled",true);
        }
        getFcltListData();
    })
    
    getFcltListData = () =>{
        fcltListData=[];
        var selectList = [];
        
        if(displayWorkProgress()){
            
            $.ajax({
                url: "/mng/spce/selectFcltList.do",
                cache: false,
                dataType: 'json',
                data: {instid  : $("#instid").val()},
                success: function(data){
                    
                     if(data.fcltlist.length > 0){
                         fcltListData = data.fcltlist; 
                         selectList.push(firstSelectOption);
                         data.fcltlist.forEach(function(item){
                             selectList.push({
                                  id:item.FCLTID, text: item.FCLT_NM, value : item.FCLTID}
                             )
                         })
                         resetFcltSelectBox(selectList);
                     }else{
                         resetFcltSelectBox([firstSelectOption]);
                     }
                     
                     closeWorkProgress();
                }
            });
        }
    }
    
    showFcltInfo =(value)=>{
        
        fcltListData.forEach(function(item){
            if(item.FCLTID == value){
                $("#fcltNum").val(item.FCLT_NO);
                $("#fcltAddr").val(item.ADDR);
                $("#fcltAddrDtl").val(item.ADDR_DTL);
                $("input:radio[name ='aplyMthdCd']:input[value='"+item.APLY_MTHD_CD+"']").attr("checked", true);
                
            }
        })
    }
    
    resetFcltSelectBox=(selectList)=>{
        
        $('#selectFcltid').html("");
        $('#selectFcltid').select2({
            language: {
                noResults: function () {
                    return '검색결과가 없습니다.';
                }
            },
            data: selectList,
            templateSelection: function (item) {
                document.getElementById('fcltid').value = item.value;
                showFcltInfo(item.value);
                return item.text;
            }
      });

      if(!initFclt){
    	  $('#selectFcltid').val(spceVo.fcltid).trigger('change');
    	  initFclt = true;
      }else{
          $('#selectFcltid').val(' ').trigger('change');
      }
      
    }
    
    var validator= $("#SpceFrm").validate({
            onsubmit: false,
              rules: {
                  
                    instNm      :   { required: true }
                    ,fcltid      :   { required: true }
                    ,spceNm     :   { required: true , maxlength: 100 }
                    ,maxNope    :   { required: true ,number :true}
                    ,rsvtPsbltyDaycnt    :   { required: true ,number :true}
                },
                messages: {
                    instNm      :   { required: "기관을 선택해주십시오" }
                    ,fcltid      :   { required: "시설을 선택해주십시오" }
                    ,spceNm      :   { required: "공간명을 입력해주십시오." , maxlength: "공간명은 100자 이하여야 합니다." }  
                    ,maxNope    :   { required: "최대인원수를 입력해주십시오" ,number : "숫자만 입력가능합니다." }
                    ,rsvtPsbltyDaycnt    :   { required: "예약 가능일자를 입력해주십시오" ,number : "숫자만 입력가능합니다."}
                }
    })
    
    function fn_updateSpce(){
        
        if(!($("#SpceFrm").valid())) return;
        
        if(!confirm("저장하시겠습니까?")) return;
        
        let params =  $("#SpceFrm").serialize() ;
        
        if(displayWorkProgress()){
            $.ajax({
                url : "/mng/spce/updateSpce.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : params,
                success : function (data){
                    if(data.result=="success"){
                        alert(data.msg);
                        gridHelper1.resetListContent();
                    }else{
                        alert(data.msg);
                    }
                    closeWorkProgress();
                }
            });
        }
    }
    
</script>