<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>exampleLeft</title>
</head>
<body>
<script type="text/javascript">
	
	function changeRole(role){
		location.href = "/cmm/changeRole.do?p_role=" + role;
	}
</script>

<a href="/" class="logo">
	<img src="/images/mng/logo.png" alt="logo" style="margin-bottom: 17px">
</a>

<div id="menu">
	<ul>
		<li class="has-sub highlight active">
            <a href="javascript:void(0)" data-original-title="" title=""><span><p class="glyphicon glyphicon-cloud" aria-hidden="true"></p> <strong>예제</strong></span></a>
            <ul style="display: block;">
                <li>
                    <a href="/example/index.html" data-original-title="" title=""><span>예제 Index</span></a>
                    <ul>
						<li>
						    <a href="/example/validation.html" data-original-title="" title=""><span>폼유효성체크(관리자)</span></a>
						</li>
						<li>
                            <a href="/example/validation2.html" data-original-title="" title=""><span>폼유효성체크(사용자)</span></a>
                        </li>
                        <li>
                            <a href="/example/serverValidation.html" data-original-title="" title=""><span>서버 validation</span></a>
                        </li>
						<li>
                            <a href="/example/customTag.html" data-original-title="" title=""><span>커스텀 태그(thymeleaf)</span></a>
                        </li>
                        <li>
                            <a href="/example/submitPaging.html" data-original-title="" title=""><span>페이징(submit)</span></a>
                        </li>
                        <li>
                            <a href="/example2/fileUpDown.html" data-original-title="" title=""><span>파일업로드/다운로드</span></a>
                        </li>
                        <li>
                            <a href="/example/editor.html" data-original-title="" title=""><span>에디터(CKEditor4)</span></a>
                        </li>
                        <li>
                            <a href="/example/grid.html" data-original-title="" title=""><span>그리드(jsGrid)</span></a>
                        </li>
                        <li>
                            <a href="/example/excel.html" data-original-title="" title=""><span>엑셀 일괄등록/다운로드</span></a>
                        </li>
                        <li>
                            <a href="/example/sendMail.html" data-original-title="" title=""><span>메일발송</span></a>
                        </li>
                        <li>
                            <a href="/example/compress.html" data-original-title="" title=""><span>압축/압축해제</span></a>
                        </li>
                        <li>
                            <a href="/example/encrypt.html" data-original-title="" title=""><span>문자열 암호화</span></a>
                        </li>
                        <li>
                            <a href="/example/layout.html" data-original-title="" title=""><span>레이아웃(thymeleaf)</span></a>
                        </li>
                        <li>
                            <a href="/example/formSubmit.html" data-original-title="" title=""><span>form submit</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
	</ul>
</div>
</body>
</html>