<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>페이지 타이틀</title>
	<!--[if lt IE 10]>
	<script src="/js/common/html5shiv.js"></script>
	<script src="/js/common/respond.min.js"></script>
	<![endif]-->
	<!-- Meta -->
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="/files/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/icofont/css/icofont.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/font-awesome/css/font-awesome.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="/files/assets/icon/feather/css/feather.css">
    
    <link rel="stylesheet" type="text/css"
          href="/files/bower_components/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/files/assets/pages/data-table/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css"
          href="/files/bower_components/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">

    <!-- Select 2 css -->
    <link rel="stylesheet" href="/files/bower_components/select2/dist/css/select2.min.css"/>
    <!-- Multi Select css -->
    <link rel="stylesheet" type="text/css"
          href="/files/bower_components/bootstrap-multiselect/dist/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" type="text/css" href="/files/bower_components/multiselect/css/multi-select.css"/>
    <!-- Switch component css -->
    <link rel="stylesheet" type="text/css" href="/files/bower_components/switchery/dist/switchery.min.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="/files/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/files/assets/css/jquery.mCustomScrollbar.css">
    <link rel="stylesheet" type="text/css" href="/css/mngs/dynatree/ui.dynatree.css">
    <link rel="stylesheet" type="text/css" href="/css/mngs/dynatree/jquery.contextMenu.css">
    <link rel="stylesheet" type="text/css" href="/js/common/jsgrid-master/dist/jsgrid.min.css" />
    <link rel="stylesheet" type="text/css" href="/js/common/jsgrid-master/dist/jsgrid-theme.css" />
    <link rel="stylesheet" type="text/css" href="/css/mngs/jgrid/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/css/mngs/jgrid/jquery-ui.structure.css">
    <link rel="stylesheet" type="text/css" href="/css/mngs/jgrid/jquery-ui.theme.css">
    
    <!-- 관리자 임의 추가 css -->
    <link rel="stylesheet" type="text/css" href="/css/mngs/admin.common.css">
    
	<style>
		.jsgrid-header-row>.jsgrid-header-cell{
			text-align: center!important;
		}
		tr.highlight td.jsgrid-cell {
			background-color: #c4e2ff;
		}
		td.jsgrid-cell, th.jsgrid-header-cell {
			overflow: hidden;
		}
	</style>
	<script type="text/javascript" src="/files/bower_components/jquery/dist/jquery.min.js"></script>
</head>

<body>
<!-- Pre-loader start -->
<div class="theme-loader">
	<div class="ball-scale">
		<div class='contain'>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
			<div class="ring">
				<div class="frame"></div>
			</div>
		</div>
	</div>
</div>
<!-- Pre-loader end -->

<div id="pcoded" class="pcoded">
	<div class="pcoded-overlay-box"></div>
	<div class="pcoded-container navbar-wrapper">
		<th:block th:replace="layout/mng/mainHeader"></th:block>
		<div class="pcoded-main-container">
			<div class="pcoded-wrapper">
				<th:block th:replace="example/layout/exampleLeft"></th:block>
				<div class="pcoded-content">
					<div class="pcoded-inner-content">
						<!-- Main-body start -->
						<div class="main-body">
							<div class="page-wrapper">
								<!-- Page-header start -->
								<div class="page-header">
									<div class="row align-items-end">
										<div class="col-lg-8">
											<div class="page-header-title">
												<div class="d-inline">
													<h4 th:text="${#request.getAttribute('MENU_NAME')}">Menu Name</h4>
												</div>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="page-header-breadcrumb">
												<ul class="breadcrumb-title">
													<li class="breadcrumb-item" style="float: left;"><i class="feather icon-home"></i> / <th:block th:text="${#request.getAttribute('MENU_NAVI')}" /></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- Page-header end -->

								<!-- Page body start -->
								<div layout:fragment="content"></div>
								<!-- Page body end -->
							</div>
						</div>
						<!-- Main-body end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<span th:replace="layout/mng/jsCommon"></span>
<script type="text/javascript" src="/files/bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="/files/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="/files/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="/files/bower_components/modernizr/feature-detects/css-scrollbars.js"></script>
    <!-- Accordion js -->
    <script type="text/javascript" src="/files/assets/pages/accordion/accordion.js"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="/files/bower_components/i18next/i18next.min.js"></script>
    <script type="text/javascript"
            src="/files/bower_components/i18next-xhr-backend/i18nextXHRBackend.min.js"></script>
    <script type="text/javascript"
            src="/files/bower_components/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/jquery-i18next/jquery-i18next.min.js"></script>
    <!-- Switch component js -->
    <script type="text/javascript" src="/files/bower_components/switchery/dist/switchery.min.js"></script>
    <!-- Select 2 js -->
    <script type="text/javascript" src="/files/bower_components/select2/dist/js/select2.full.min.js"></script>
    <!-- Multiselect js -->
    <script type="text/javascript"
            src="/files/bower_components/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="/files/assets/pages/advance-elements/swithces.js"></script>
    <script type="text/javascript" src="/files/assets/pages/advance-elements/select2-custom.js"></script>
    <script src="/files/assets/js/pcoded.min.js"></script>
    <script src="/files/assets/js/vartical-layout.min.js"></script>
    <script src="/files/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/files/assets/js/script.js"></script>
</body>

</html>