<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/mng/mainLayout">

<body>
	<div layout:fragment="content">
		<style>
		.hide
		{
		   display:none;
		}
		</style>
		
		<div class="page-body">
			<div class="row">
				<div class="col-12">
					<form name="searchFrm" id="searchFrm" th:action="@{/}" onsubmit="return false;" class="card">
						<!-- 필터 부분 -->
						<div class="card-block-small">
		                    <div class="row">
		                        <div class="col-lg-3 mb-3">
		                            <div class="mb-0 form-group row">
		                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>시도</strong></div>
		                                <div class="col-12">
		                                    <select name="searchSido" id="searchSido" class="form-select form-select-sm form-control-sm">
								                <option value="">- 전체 -</option>
								                <th:block th:each="ctprvn : ${ctprvn}">
													<option th:value="${ctprvn.ctprvnCd}"><th:block th:text="${ctprvn.ctprvnNm}" /></option>
												</th:block>
								            </select>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 mb-3">
		                            <div class="mb-0 form-group row">
		                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="searchInstNm">
		                                    <strong>기관명</strong></label>
		                                <div class="col-12">
		                                    <input type="text" class="form-control form-control-sm" name="searchInstNm" id="searchInstNm">
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 mb-3">
		                            <div class="mb-0 form-group row">
		                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="startDt"><strong>지정일 -
		                                    검색시작일</strong></label>
		                                <div class="col-12">
		                                    <input class="form-control form-control-sm" type="date" name="startDt" id="startDt">
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 mb-3">
		                            <div class="mb-0 form-group row">
		                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="endDt"><strong>지정일 -
		                                    검색종료일</strong></label>
		                                <div class="col-12">
		                                    <input class="form-control form-control-sm" type="date" name="endDt" id="endDt">
		                                </div>
		                            </div>
		                        </div>
		                        <div class="col-lg-3 mb-3">
		                            <div class="mb-0 form-group row">
		                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>양성기관 등급</strong></div>
		                                <div class="col-12">
		                                    <span kattr:select_code="searchGrdCd" grpCd="142" firstOptTxt="- 선택 -" addClass="input-sm" isAdmin="true">
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    <div class="mt-1 p-t-20 text-center border-top">
		                        <button class="btn btn-disabled m-r-5" onclick="fn_init()">초기화</button>
								<button type="submit" class="btn btn-primary" onclick="fn_searchForm()">검색</button>
		                    </div>
		                </div>
					</form>
				</div>
				
				<div class="col-12">
					<div class="card">
	                    <div class="row p-20 p-b-0">
	                        <div class="col-12 col-md-6">
	                            <h5><strong>환경교육사 양성기관 결과</strong></h5>
	                        </div>
	                        <div class="col-12 col-md-6 text-right">
	                            <button type="button" class="btn btn-primary m-r-5" onclick="openExcelDownRsnPopup('dwnldDsctnPopup', 'searchFrm', '/mng/envtcherTrnngInst/envtcherTrnngInstExcelDownload.do');">엑셀다운로드</button>
	                            <button type="button" class="btn btn-primary" onclick="fn_goInsertForm();">등록</button>
	                        </div>
	                    </div>
						<div class="card-block-small">
							<div class="dt-responsive table-responsive">
								<div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
									<table id="jsGrid" class="table-responsive"></table>
									<div id="listPager" class="text-center"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Content Area -->
				<div class="col-12">
				<div id="contentPanel" style="display: none" class="card"></div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="dwnldDsctnPopup" aria-hidden="true" data-bs-backdrop="static"></div>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		<script type="text/javascript" src="/js/common/jsgrid-master/dist/jsgrid.min.js"></script>
		<script th:inline="javascript">
			var selectedItems = [];
			var gridHelper1;
			
			$(function() {
				gridHelper1 = new GridHelper('jsGrid', 'contentPanel');
				writeJsGridData();
			});

			function fn_searchForm() {
				if($('#endDt').val() != '' && $('#startDt').val() > $('#endDt').val()) {
					alert('종료일을 시작일 이후로 선택해 주십시오.');
				}
				gridHelper1.resetListContent();
			}

			function fn_init() {
				$("#rgnCd").val('');
				$("#instNm").val('');
				gridHelper1.resetListContent();
			}
			
			function fn_excelDownload() {
				var data = document.searchFrm;
				data.action ="/mng/envtcherTrnngInst/envtcherTrnngInstExcelDownload.do";
				data.submit();
			}
			
			function fn_goInsertForm() {
				var insertUrl = "/mng/envtcherTrnngInst/envtcherTrnngInstInsertForm.html";
				gridHelper1.loadContent(insertUrl);
			}

			function writeJsGridData() {
		        $("#jsGrid").jsGrid({
		            height: "auto",
		            width: "100%",
		            autoload: true,
		            sorting: true,
		            paging: true,
		            pagerContainer: "#listPager",
		            pagerFormat: "{first} {prev} {pages} {next} {last}",
		            pagePrevText: "이전",
		            pageNextText: "다음",
		            pageFirstText: " < 처음 ㅣ",
		            pageLastText: " | 마지막 >",
		            pageSize: 10,
		            pageButtonCount: 10,
		            pageLoading: true,
		            pageIndex: 1,
		            noDataContent: "데이터가 없습니다.",

		            controller: {
		                loadData: function (filter) {
		                    var data = $.Deferred();
		                                            
		                    var formData = $('#searchFrm').serializeArray();
		                    var params = [
		                            {name: "pageNumber", value: filter.pageIndex},
		                            {name: "rowPerPage", value: filter.pageSize},
		                    ]
		                    
		                    if(filter.sortField != undefined){
		                        params.push({name: "orderField", value: filter.sortField});
		                        params.push({name: "orderDirection", value: filter.sortOrder});
		                    }else{
		                        params.push({name: "orderField", value: 'reg_dt'});
		                    }
		                    formData = formData.concat(params);
		                    
		                    $.ajax({
		                        type: "GET",
		                        contentType: "application/json; charset=utf-8",
		                        url: "/mng/envtcherTrnngInst/selectEnvtcherTrnngInstList.do",
		                        dataType: "json",
		                        data: formData,
		                      }).done(function(response){
		                          var da = {
		                                  data : escapeGridData(response.list)
		                                  ,itemsCount : response.totalCount
		                              };
		                        data.resolve(da);
		                      });
		                      return data.promise();
		                  },				
					},
					
					fields : [
						{ name : 'ordrid', css : 'hide' }
					  , { title : 'No.', name : 'rowNumber', type : "number", width : "80", align : "center", sorting : false }
					  , { title : '시도', name : 'sidoNm', type : "text", width : "100", align : "center" }
					  , { title : '시군구', name : 'signguNm', type : "text", width : "100", align : "center" }
					  , { title : '기관명', name : 'instNm', type : "text", width : "250", align : "center" }
					  , { title : '양성기관 등급', name : 'grdCdNm', type : "text", width : "150", align : "center" }
					  , { title : '홈페이지', name : 'hmpg', type : "text", width : "250" }
					  , { title : '지정일', name : 'dsgnDe', type : "text", width : "100", align : "center" }
					],
					rowClick : function(args) {
						if (args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
						var detailUrl = "";
						if (args.item.thmbnFileid != null && args.item.filegrpid != null) {
							detailUrl = "/mng/envtcherTrnngInst/envtcherTrnngInstUpdateForm.html?ordrid=" + args.item.ordrid + "&thmbnFileid=" + args.item.thmbnFileid + "&filegrpid=" + args.item.filegrpid;
						} else {
							detailUrl = "/mng/envtcherTrnngInst/envtcherTrnngInstUpdateForm.html?ordrid=" + args.item.ordrid;
						}
						gridHelper1.loadContent(detailUrl);
						gridHelper1.rowClick(args);
					},
					onPageChanged : function(args) {
						selectedItems = [];
					}
				});
			}
		</script>
	</div>
</body>
</html>