<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout/mng/popupLayout">
<head>
<meta charset="utf-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />
<title></title>

</head>
<body>

	<div layout:fragment="content">
        <input type="hidden" name="roleid" id="roleid" th:value="${roleid}"/>
		<script src="/js/mng/role/roleUserMappSearch_main.js"></script>

		<div class="row no-gutter">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4>사용자 추가 팝업</h4>
						<ul class="links">
							<li><a href="javascript:this.close()"> <span
									class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</a></li>
						</ul>
					</div>
					<div class="panel-body">
						<!-- 검색 -->
						
						<form id="searchForm" name="searchForm" method="get" class="form-inline">
							<div class="well well-sm " >
								<div class="row" style="padding-left: 15px; padding-right: 15px;">

									<div class=" col-xs-10">
										<div class="form-group col-xs-2"	style="display: inline-block; margin-bottom: 0px;">
											<label class=" form-control-static">검색조건</label>
										</div>
									       <div class="col-xs-2"> 	
												<select id="searchType" name="searchType" class="form-control form-control-static input-sm " style="padding:0; width: 60px; display: inline-block; margin-bottom: 0px;">
													<option value="A.NM">성명</option>
													<option value="A.ACNT">ID</option>
												</select>
										   </div>
									       <div class="col-xs-6"> 	
											 <input type="text" class="form-control  input-sm " id="searchKeyword" name="searchKeyword"  style="width: 200px;">
										   </div>
									</div>
									<div class="col-xs-2 text-right">
										<button type="submit" class="btn btn-sm btn-primary">검색</button>
									</div>
								</div>
							</div>
						</form>
						<!-- 검색 -->
						
						<div class="well well-sm " >
						<form id="addUserForm" name="addUserForm" class="form-inline" onsubmit="return false;">
							<div class="row" style="padding-left: 15px; padding-right: 15px;">
							
								<div class="col-xs-10">
									<div class="form-group col-xs-2" style="display: inline-block; margin-bottom: 0px;">
										<label class="form-control-static">사용기간</label>
									</div>
									<div class="form-group col-xs-8" style="display: inline-block;">
										<th:block kattr:date_pic="roleStartDate" dateForm="yy-mm-dd" addStyle="width:100px; display: inline-block;" addClass=" form-control input-sm " ></th:block>
										~
										<th:block kattr:date_pic="roleEndDate" dateForm="yy-mm-dd" addStyle="width:100px; display: inline-block;" addClass=" form-control input-sm " ></th:block>
									</div>
								</div>
								
								<div class="col-xs-2 text-right form-control-static" style="display: inline-block;" >
									<button type="submit" class="btn btn-sm btn-success">사용자추가</button>
								</div>
								
							</div>

						</form>
						</div>
						<div class="table-responsive">
							<div class="">
								<table id="jsGrid"></table>
								<div id="listPager" class="text-center"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!-- layout:fragment="content" -->
</body>
</html>