<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content type_2">
        <div class="modal-header">
            <h4 class="modal-title">체크리스트 문항 검색</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <div class="modal-body">
            <div class="card">
                <div class="card-block-small">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                            <div class="mb-0 form-group">
                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>구분</strong></div>
                                <div class="input-group input-group-sm input-group-dropdown mb-0">
                                    <select name="searchSeCd" id="searchSeCd" class="form-select form-control form-control-sm">
                                        <option value="">- 전체 -</option>
                                        <option th:each="code: ${codeList}" th:if="${code.upprCd != '0'}" th:value="${code.cd}" th:text="${code.upprCdNm + ' > ' + code.cdNm}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-disabled m-r-5" onclick="qitemListPopup.initSearch();">초기화</button>
                        <button class="btn btn-primary" onclick="qitemListPopup.onSearch();">검색</button>
                    </div>
                </div>
            </div>
            <div class="card m-b-10">
                <div class="card-block-small">
                    <table id="qitemGrid" class="table-responsive"></table>
                    <div id="qitemPager" class="text-center"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="qitemListPopup.onAddQitem();">선택</button>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var qitemListPopup = {
        listUrl: "/mng/chklst/selectChklstQitemList.do"
        , dataList: []
        , selectedItems: []
        
        , init: function() {
            qitemGrid = new GridHelper("qitemGrid");
            this.setGrid();
            this.registEvent();
        }
        
        , registEvent: function() {
           // TODO
        }
        
        , initSearch: function() {
             $("#searchSeCd").val("");
        }
        
        , onSearch: function() {
            qitemGrid.resetListContent();
        }
        
        , setGrid: function() {
            $("#qitemGrid").jsGrid({
                height: "auto",
                width: "100%",
                autoload: true,
                sorting: false,
                paging: true,
                pagerContainer: "#qitemPager",
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagePrevText: "이전",
                pageNextText: "다음",
                pageFirstText: "< 처음 ㅣ",
                pageLastText: "ㅣ 마지막 >",
                noDataContent: "데이터가 없습니다.",
                pageSize: 10,
                pageButtonCount: 10,
                pageLoading: true,
                pageIndex: 1,
                controller: {
                    loadData: function(filter) {
                        var data = $.Deferred();
                        var params = {
                            "searchSeCd": $('#searchSeCd').val(),
                            "useYn": "Y",
                            "pageNumber": filter.pageIndex,
                            "rowPerPage": filter.pageSize,
                            "orderField": "REG_DT",
                            "orderDirection": "asc"
                        };
                        $.ajax({
                          type: "GET",
                          contentType: "application/json; charset=utf-8",
                          url: qitemListPopup.listUrl,
                          data: params,
                          dataType: "json"
                        }).done(function(response) {
                            var da = {
                                data : escapeGridData(response.list),
                                itemsCount : response.totalCount
                            };
                            data.resolve(da);
                            qitemListPopup.dataList = response.list;
                        });
                        
                        return data.promise();
                    }
                },
                fields: [
                    {
                        headerTemplate: function() {
                            return $("<input>").attr("type", "checkbox").attr("id", "selectAllCheckbox").on("change", function() {
                               qitemListPopup.allSelectItem($(this).is(":checked"), $(this).parent().next().text()); 
                            });
                        },
                        itemTemplate: function(value, item) {
                            return $("<input>").attr("type", "checkbox").attr("class", "singleCheckbox").attr('qitemid', item.qitemid).prop("checked", $.inArray(item, qitemListPopup.selectedItems) > -1).on("change", function() {
                                $(this).is(":checked") ? qitemListPopup.selectItem($(this).attr("qitemid")) : qitemListPopup.unselectItem($(this).attr("qitemid"));
                            });
                        },
                        align: "center", width: "30", sorting: false
                    },
                    {title: "문항", name: "", type: "number", width: "150", align: "left", itemTemplate: function(value, item) {
                        var el = "<strong>" + item.upprCdNm + " > " + item.cdNm + "</strong></br>"; 
                        el += item.cn + " (" + item.altm + "점)";
                        return el;
                    }}
                ]
            });
        }
        
        , allSelectItem: function(isChecked) {
            this.selectedItems = [];
            if(isChecked) {
                $('.singleCheckbox').each(function() {
                    this.checked = true;
                    qitemListPopup.selectItem($(this).attr("qitemid"));           
                }); 
            } else {
                $('.singleCheckbox').each(function() {
                    this.checked = false; 
                    qitemListPopup.unselectItem($(this).attr("qitemid"));
                });  
                this.selectedItems = [];
            }
        }
        
        , selectItem: function(qitemid) {
            this.selectedItems.push(qitemid);
            if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
                $("#selectAllCheckbox").prop("checked", true);
            } else {
                $("#selectAllCheckbox").prop("checked", false);
            }
        }
        
        , unselectItem: function(qitemid) {
            var items = $("#qitemGrid").jsGrid("option", "data");
            this.selectedItems = $.grep(this.selectedItems, function(i) {
                return i !== qitemid;
            });
            if(this.selectedItems.length == 0) {
                $('#selectAllCheckbox').attr("checked", false);
            }
            if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
                $("#selectAllCheckbox").prop("checked", true);
            } else {
                $("#selectAllCheckbox").prop("checked", false);
            }
        }
        
        , onAddQitem: function() {
            if(this.selectedItems.length == 0) {
                alert("선택한 문항이 없습니다.");
                return false;
            }
            var dataList = this.dataList;
            $(this.selectedItems).each(function(index, item) {
                if($("[data-qitemid=" + item + "]").length == 0) {
                    var list = $.grep(dataList, function(d, i) {
                        return item == d.qitemid;
                    });
                    var data = list[0];
                    data.treeOrd = 3;
                    data.lv2key = data.seCd;
                    data.newYn = "Y";
                    qitemMapng.addItem(data);
                }
            });
            qitemListModal.hide();
            /* 
            return false;
            if(!confirm("선택하신 회원을 설문 대상자에 추가 하시겠습니까?\n(이미 설문 대상자인 회원은 추가 되지 않습니다.")) {
                return false;
            }
            var param = {srvyid: trprSrvyUpdate.srvyid};
            $(this.selectedItems).each(function(index, item) {
                param["insertUserids[" + index + "]"] = item;
            });
            
            if(displayWorkProgress()) {
                $.ajax({
                    url : "/mng/srvy/insertTrpr.do",
                    type: "POST",
                    cache: false,
                    dataType: "json",
                    data: param,
                    success: function(response) {
                        if(response.result == "success") {
                            userListModal.hide();
                            alert(response.msg);
                            $("#srvyGrid").jsGrid("loadData");
                            trprGrid.resetListContent();
                        } else {
                            alert(response.msg);
                        }
                        closeWorkProgress();
                    }
                });
            }
            */
        }
    };
    
    qitemListPopup.init();
</script>