 <div class="card-header p-b-0">
    <ul class="nav nav-tabs  tabs" role="tablist">
        <th:block sec:authorize-url="/mng/chklst/chklstUpdateForm.html">
            <li class="nav-item">
                <a id="chklstTab" class="nav-link active" data-bs-toggle="tab" href="#chklstUpdate" role="tab"><strong>기본정보</strong></a>
            </li>
        </th:block>
        <th:block sec:authorize-url="/mng/chklst/qitem.html">
            <li class="nav-item">
                <a id="qitemTab" class="nav-link" data-bs-toggle="tab" href="#qitem" role="tab"><strong>문항구성</strong></a>
            </li>
        </th:block>
    </ul>
</div>
<div id="tabContent" class="tab-content tabs p-t-20">
</div>

<script th:inline="javascript">
    var chklstDetail = {
        chklstid: /*[[${param.chklstid}]]*/,
        
        init: function() {
            this.setTab();
            this.registEvent();
        },
        
        setTab: function() {
            var tabFlag = false;
            if(tabFlag == false) {
                this.selectTab("chklstTab");
                tabFlag = true;
            }
            if(tabFlag == false) {
                this.selectTab("qitemTab");
                tabFlag = true;
            }
        },
        
        registEvent: function() {
            var _this = this;
            $(".nav-tabs a").on("show.bs.tab", function(event) {
                var tabId = event.currentTarget.attributes.id.value;
                _this.selectTab(tabId);
            });
        },
        
        selectTab: function(tabId) {
            var uri; 
            if(tabId == "chklstTab") {
                uri = "/mng/chklst/chklstUpdateForm.html";
            } else if(tabId == "qitemTab") {
                uri = "/mng/chklst/qitem.html";
            }
            this.loadTabContent(uri + "?chklstid=" + this.chklstid);
            $("#" + tabId).parent().addClass("active");
        },
        
        loadTabContent: function(uri) {
            $.ajax({
                cache: false,
                url: uri, 
                type: "GET",
                async: "false",
                dataType: "html",
                success: function(result) { //요청이 성공했을때 실행되는 콜백 함수
                    $("#tabContent").html(result);
                    scrollIntoView("contentPanel");
                }
            });
        }
    };
    
    chklstDetail.init();
</script>