

.modal-content.type_2{background-color:#F6F7FB;}
.modal-content.type_2 .modal-header{background-color: #fff;}
.modal-content.type_2 .modal-footer{background-color: #fff;}

.breadcrumb-item:not(:first-child) i.icon-home{display: none;}

.input-group-dropdown > .form-select{padding-right: 2.25rem; flex: none; width: auto;}

.form-select.form-control-primary.form-bg-primary{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");}

.form-group.required .form-label::after{content:" *";color:red;}

/* small 버전 css */
.select2-container--default .select2-selection--single{border: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{padding: 0.25rem 2.25rem 0.25rem 0.5rem; line-height: 1.5; font-size: 0.875rem; border : 1px solid #aaa; border-radius: 4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 2px; right: 11px;}

.breadcrumb-item{color: #7e7e7e;}

/*.type_small{font-size: .750em;}

.type_small .main-body .page-wrapper .page-header-title h4{font-size: 18px;}
.type_small .h5, .type_small h5{font-size: 1.0rem;}
.type_small .breadcrumb-title a{font-size: 12px;}
.type_small h6{font-size: 12px;}
.type_small .btn{font-size: 13px;}
.type_small .form-control{font-size: 14px;}
.type_small .sub-title{font-size: 14px;}
.type_small p{font-size: 11px;}
.type_small .switchery{width: 45px; height: 26px;}
.type_small .switchery > small{width: 26px; height: 26px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-left, .type_small .header-navbar .navbar-wrapper .navbar-container .nav-right{margin-top: 4px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-right{margin-top: 6px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-left li>a, .type_small .header-navbar .navbar-wrapper .navbar-container .nav-right li>a{font-size: 14px;}
@media only screen and (min-width: 1400px){
    .type_small p{font-size: 12px;}
    .type_small a{font-size: 12px;}
}*/


