

.modal-content.type_2{background-color:#F6F7FB;}
.modal-content.type_2 .modal-header{background-color: #fff;}
.modal-content.type_2 .modal-footer{background-color: #fff;}

.breadcrumb-item:not(:first-child) i.icon-home{display: none;}

.input-group-dropdown > .form-select{padding-right: 2.25rem; flex: none; width: auto;}

.form-select.form-control-primary.form-bg-primary{background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");}

.form-group.required .col-form-label::after{content:" *";color:red;}

/* small 버전 css */
.select2-container--default .select2-selection--single{border: none;}
.select2-container--default .select2-selection--single .select2-selection__rendered{padding: 0.25rem 2.25rem 0.25rem 0.5rem; line-height: 1.5; font-size: 0.875rem; border : 1px solid #aaa; border-radius: 4px;}
.select2-container--default .select2-selection--single .select2-selection__arrow{top: 2px; right: 11px;}

.breadcrumb-item{color: #7e7e7e;}
.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme5"]{color: #dcdcdc !important;}
.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme="theme5"]:hover{color : #fff !important;}
/*.type_small{font-size: .750em;}

.type_small .main-body .page-wrapper .page-header-title h4{font-size: 18px;}
.type_small .h5, .type_small h5{font-size: 1.0rem;}
.type_small .breadcrumb-title a{font-size: 12px;}
.type_small h6{font-size: 12px;}
.type_small .btn{font-size: 13px;}
.type_small .form-control{font-size: 14px;}
.type_small .sub-title{font-size: 14px;}
.type_small p{font-size: 11px;}
.type_small .switchery{width: 45px; height: 26px;}
.type_small .switchery > small{width: 26px; height: 26px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-left, .type_small .header-navbar .navbar-wrapper .navbar-container .nav-right{margin-top: 4px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-right{margin-top: 6px;}
.type_small .header-navbar .navbar-wrapper .navbar-container .nav-left li>a, .type_small .header-navbar .navbar-wrapper .navbar-container .nav-right li>a{font-size: 14px;}
@media only screen and (min-width: 1400px){
    .type_small p{font-size: 12px;}
    .type_small a{font-size: 12px;}
}*/

.badge {font-weight:400;}
.border,
.border-top,
.border-bottom,
.border-start,
.border-end {border-color:#eee!important;}

.btn {min-width:4.4rem;border-radius:3px;}
.btn-group-sm >.btn,
.btn.btn-sm {min-width:3rem;padding:7px 9px 6px;font-size:14px;line-height:16px;}
.btn-disabled {border-color:#dbdbdb;background-color:#dbdbdb;color:#333}
.btn-disabled:hover {background-color:#ebebeb;border-color:#ebebeb}

.btn-primary:hover, .sweet-alert button.confirm:hover, .wizard>.actions a:hover {background-color:#009966 !important;border-color:#009966 !important}

.border-checkbox-section .border-checkbox-group-inverse .border-checkbox-label:before {border:2px solid #666;}
.border-checkbox-section .border-checkbox-group-inverse .border-checkbox:checked+.border-checkbox-label:before {border-color:#15875f}
.border-checkbox-section .border-checkbox-group-inverse .border-checkbox:checked+.border-checkbox-label:after {border-color:#15875f}
.radio .helper::after, .radio .helper::before {border-color:#666;}
.radio input:checked + .helper::before {border-color:#15875f;}
.radio input:checked + .helper::after {border-color:#15875f;transform: scale(0.45);}

.form-select {border-color:#ccc}
.form-select option[value=""][disabled] {display:none;}

/* gray-tabs */
.gray-tabs.nav-tabs {margin-bottom:1.9rem;border:none;border-bottom:2px solid #404e67;}
.gray-tabs.nav-tabs .nav-link {margin-bottom:0;padding:0.38rem 1.2rem;border:2px solid transparent;border-bottom:none;color:#666;font-size:16px;}
.gray-tabs.nav-tabs .nav-link.active {color:#fff;background-color:#404e67;border-color:#404e67}
.gray-tabs.nav-tabs .nav-link:not(.active):hover {background-color:#e4e5eb;border-color:#e4e5eb;color:#333;}

.card .card-block-small {padding:20px;}


/* $.expendable style */
.expendable-wrapper .expendable-item.expendable-collapse>.expendable-item-child {
  display: none;
}

.expendable-wrapper .expendable-item>.expendable-item-fixed>.expendable-toggle-btn {
  display: inline-block;
  width: 20px;
  height: 100%;
  background: transparent;
  border:none;
  font-size: 16px;
  font-weight: bold;
}
.expendable-wrapper .expendable-item>.expendable-item-fixed>.expendable-toggle-btn::before {
  content: '-';
}
.expendable-wrapper .expendable-item.expendable-collapse>.expendable-item-fixed>.expendable-toggle-btn::before {
  content: '+';
}

/* fileUploader style */
.file-uploader-wrapper {
  padding: 6px 6px 0 6px;
  border-radius: 2px;
  border:#ccc solid 1px;
  font-size: 0;
}

.file-uploader-wrapper>button {
  margin-bottom: 6px;
  margin-right: 4px;
}

.file-uploader-wrapper .file-uploader-list {
  display: inline;
  word-break: break-all;
}
.file-uploader-wrapper .no-file-msg {
  font-size: 14px;
  font-style: italic;
  color: #555;
  margin-left: 4px;
  vertical-align: top;
  height: 31px;
  line-height: 31px;
  display: none;
}
.file-uploader-wrapper .no-file-msg:last-child{
  display: inline-block;
}

.file-uploader-wrapper .file-uploader-list>.file-uploader-list-item {
  word-break: keep-all;
  white-space: nowrap;
  margin-bottom: 6px;
  margin-left: 8px;
  vertical-align: middle;
}
.file-uploader-wrapper .file-uploader-list>.file-uploader-list-item > button {
  font-size: 12px;
}
.file-uploader-wrapper .file-uploader-list>.file-uploader-list-item > button > i{
  font-size: 14px;
}
.file-uploader-wrapper .file-uploader-list>.file-uploader-list-item .file-uploader-delete-btn {
  min-width: 0;
}
.file-uploader-wrapper .file-uploader-list>.file-uploader-list-item .file-uploader-delete-btn i{
  margin-right: 0;
}

.file-uploader-wrapper .file-uploader-file-info {
  margin-top: 4px;
  padding: 4px;
  border-top: 1px solid #ddd;
  font-size: 12px;
}

.file-uploader-wrapper input[type=file] {
  display: none;
}
