<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/mng/mainLayout">

<body>
    <div layout:fragment="content">

        <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
            <div class="card-block-small">
                <!-- 키워드 filter -->
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="mb-0 form-group row">
                            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                <strong>키워드</strong>
                            </div>
                            <div class="input-group input-group-sm input-group-dropdown mb-0">
                                <select name="searchType" id="searchType"
                                        class="form-select form-control">
                                    <option value="fcltNm">시설</option>
                                    <option value="instNm">운영기관</option>
                                </select>
                                <input type="text" name="searchKeyword" id="searchKeyword" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3">
                        <div class="mb-0 form-group row">
                            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                                <strong>환불요청(완료)일</strong></div>
                            <div class="col-12">
                                <input type="text" class="form-control form-control-sm" name="daterange" id="filterSearchSelectDate">
                                <input type="hidden" id="searchBgngDt" name="searchBgngDt"/>
                                <input type="hidden" id="searchEndDt" name="searchEndDt"/>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //키워드 filter -->
                <!-- 키워드 filter-btn -->
                <div class="m-t-20 text-center">
                    <button type="button" class="btn btn-disabled m-r-5" onclick="fn_init()">초기화</button>
                    <button type="submit" class="btn btn-primary" onclick="fn_searchForm()">검색</button>
                </div>
            </div>
        </form>

        <ul class="nav nav-tabs tabs gray-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link ing active" href="javascript:moveTab('ing')">환불요청</a>
            </li>
            <li class="nav-item">
                <a class="nav-link complete" href="javascript:moveTab('complete')">환불완료</a>
            </li>
        </ul>

        <div class="tab-content tabs card-block p-0" id="tab_content_area"></div>
        
        <div class="modal fade" data-bs-backdrop="static" id="refndPopup"></div>
        <link rel="stylesheet" type="text/css" href="/files/bower_components/bootstrap-daterangepicker/daterangepicker.css">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="/files/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script th:inline="javascript">
	        /*<![CDATA[*/
	        var selectedApplyid = /*[[${param.selectedApplyid}]]*/null;
	        /*]]>*/
	        var selectedApplyidUsedOnce = false;
	        var refndModal;
	        
            var currentTab ="ing";
            var ingUrl ="/mng/refndMng/refndMngList.html";
            var completeListUrl ="/mng/refndMng/refndMngCompleteList.html";
             $(function(){
                 initDateRangePicker("filterSearchSelectDate","searchBgngDt","searchEndDt");
                 if(currentTab == "ing"){
                     $("#tab_content_area").load(ingUrl);
                 }else{
                     $("#tab_content_area").load(completeListUrl);
                 }
           });
           function initTab() {
                 var tabFlag = false;
                 if(tabFlag == false) {
                     moveTab("ing");
                     tabFlag = true;
                 }
                 if(tabFlag == false) {
                     moveTab("complete");
                     tabFlag = true;
                 }
           }
           var moveTab =(currentTab)=>{
                $(".nav-link").removeClass("active");

                if(currentTab=="ing"){
                    $("#tab_content_area").load(ingUrl);
                }else{
                    $("#tab_content_area").load(completeListUrl);
                }
                $("."+currentTab).addClass("active");
            }

        </script>
    </div>
</body>
</html>