<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/study/detailLayout" 
>
    <body>
        <div layout:fragment="content">
                        <article class="learning-data">
                            <div class="learning-data-box">
                                <h3 class="title">영어 학습자료</h3>    
                                
                                <div class="learning-data-head">
                                    <div class="learning-data-head-info">
                                        <div class="thumb">
                                            <img src="/old/assets/images/img_study_en_thumb.png" alt="직업계고 기초학력 향상을 위한 보통 교과 교수학습 지원 자료">
                                        </div>

                                        <ul class="info">
                                            <li>
                                                <strong class="tit">자료명</strong>
                                                <em class="conts fontsize-big">직업계고 보통교과 교수학습 지원 자료: 기본 영어(1)<span class="tit-label tit-label-en">영어</span></em>
                                            </li>
                                            <li>
                                                <strong class="tit">단원명</strong>
                                                <em class="conts fontsize-medium color">직업계고 보통교과 교수학습 지원 자료: 기본 영어(1)</em>
                                            </li>
                                            <li>
                                                <strong class="tit">기본설명</strong>
                                                <em class="conts">직업계고 학생을 위한 <기본 영어> 교수학습 자료</em>
                                            </li>
                                            <li>
                                                <strong class="tit">학년수준</strong>
                                                <em class="conts">고등</em>
                                            </li>
                                            <li>
                                                <strong class="tit">키워드</strong>
                                                <em class="conts">영어,직업계고</em>
                                            </li>
                                        </ul>
                                    </div>

                                    <ul class="learning-data-head-noti">
                                        <li>- 프로그램 목적: 직업기초능력 중 의사소통(영어) 능력 함양을 위한 교수학습 자료</li>
                                        <li>- 프로그램 구성: 총 6개 Unit(At the restaurant, Commercial Activity, Introduce myself, Connected, Jobs around us, Step out to the world), 30차시 분량</li>
                                    </ul>
                                </div>
                            </div>

<div class="learning-data-box">
                                <h3 class="title">자료 제공</h3>    
                                
                                <div class="learning-data-files">
                                    <div class="learning-data-files-top">
                                        2021_기본 영어(1) 전체 파일(저용량).zip

                                        <a href="/down/study/english/01/2021_eng_total.zip" target="_blank" download class="btn-dn btn-dn2">다운받기</a>
                                    </div>

                                    <ul class="learning-data-files-list">
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson01.zip
                                                    <a href="/down/study/english/01/2021_Unit1_Lesson01.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영01-01]실생활 중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부정보를 파악할 수 있다.중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부정보를 파악할 수 있다.중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson02.zip
                                                    <a href="/down/study/english/01/2021_Unit1_Lesson02.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영01-01]실생활 중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson03.zip
                                                    <a href="/down/study/english/01/2021_Unit1_Lesson03.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영03-01]실생활 중심의 친숙한 일반적 주제에 관한 글을 읽고 세부 정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson04.zip
                                                    <a href="/down/study/english/01/2021_Unit1_Lesson04.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-01]실생활 중심의 친숙한 일반적 주제에 관하여 듣거나 읽고 세부 정보를 설명할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson05.zip
                                                    <a href="/down/study/english/01/2021_Unit1_Lesson05.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영03-01]실생활 중심의 친숙한 일반적 주제에 관한 글을 읽고 세부 정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson06.zip
                                                    <a href="/down/study/english/01/2021_Unit2_Lesson06.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 일반적 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson07.zip
                                                    <a href="/down/study/english/01/2021_Unit2_Lesson07.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 일반적 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson08.zip
                                                    <a href="/down/study/english/01/2021_Unit2_Lesson08.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 일반적 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson09.zip
                                                    <a href="/down/study/english/01/2021_Unit2_Lesson09.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 일반적 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    22021_기본 영어(1)_Unit1_Lesson10.zip
                                                    <a href="/down/study/english/01/2021_Unit2_Lesson10.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영03-01] 실생활 중심의 친숙한 일반적 주제에 관한 글을 읽고 세부 정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson11.zip
                                                    <a href="/down/study/english/01/2021_Unit3_Lesson11.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-03] 실생활 중심의 친숙한 일반적 주제에 관해 자신의 의견이나 감정을 표현할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson12.zip
                                                    <a href="/down/study/english/01/2021_Unit3_Lesson12.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 일반적 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson13.zip
                                                    <a href="/down/study/english/01/2021_Unit3_Lesson13.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 일반적 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson14.zip
                                                    <a href="/down/study/english/01/2021_Unit3_Lesson14.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 일반적 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson15.zip
                                                    <a href="/down/study/english/01/2021_Unit3_Lesson15.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영04-04] 주변의 대상이나 상황을 묘사하는 문장이나 글을 쓸 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson16.zip
                                                    <a href="/down/study/english/01/2021_Unit4_Lesson16.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영01-01] 실생활 중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부 정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson17.zip
                                                    <a href="/down/study/english/01/2021_Unit4_Lesson17.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영01-01] 실생활 중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부 정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson18.zip
                                                    <a href="/down/study/english/01/2021_Unit4_Lesson18.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영01-01] 실생활 중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부 정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson19.zip
                                                    <a href="/down/study/english/01/2021_Unit4_Lesson19.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영01-01]실생활 중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부 정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    22021_기본 영어(1)_Unit1_Lesson20.zip
                                                    <a href="/down/study/english/01/2021_Unit4_Lesson20.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영01-01]실생활 중심의 친숙한 일반적 주제에 관한 말이나 대화를 듣고 세부 정보를 파악할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson21.zip
                                                    <a href="/down/study/english/01/2021_Unit5_Lesson21.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-01] 실생활 중심의 친숙한 일반적 주제에 관하여 듣거나 읽고 세부 정보를 설명할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson22.zip
                                                    <a href="/down/study/english/01/2021_Unit5_Lesson22.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-01] 실생활 중심의 친숙한 일반적 주제에 관하여 듣거나 읽고 세부 정보를 설명할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson23.zip
                                                    <a href="/down/study/english/01/2021_Unit5_Lesson23.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-01] 실생활 중심의 친숙한 일반적 주제에 관하여 듣거나 읽고 세부 정보를 설명할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson24.zip
                                                    <a href="/down/study/english/01/2021_Unit5_Lesson24.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-01] 실생활 중심의 친숙한 일반적 주제에 관하여 듣거나 읽고 세부 정보를 설명할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson25.zip
                                                    <a href="/down/study/english/01/2021_Unit5_Lesson25.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-01] 실생활 중심의 친숙한 일반적 주제에 관하여 듣거나 읽고 세부 정보를 설명할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson26.zip
                                                    <a href="/down/study/english/01/2021_Unit6_Lesson26.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson27.zip
                                                    <a href="/down/study/english/01/2021_Unit6_Lesson27.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-01] 실생활 중심의 친숙한 일반적 주제에 관하여 듣거나 읽고 세부 정보를 설명할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson28.zip
                                                    <a href="/down/study/english/01/2021_Unit6_Lesson28.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-04] 실생활 중심의 친숙한 일반적 주제에 관한 정보를 묻고 답할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    2021_기본 영어(1)_Unit1_Lesson29.zip
                                                    <a href="/down/study/english/01/2021_Unit6_Lesson29.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-03] 실생활 중심의 친숙한 일반적 주제에 관하여 자신의 의견이나 감정을 표현할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                        <li>
                                            <dl>
                                                <dt>
                                                    22021_기본 영어(1)_Unit1_Lesson30.zip
                                                    <a href="/down/study/english/01/2021_Unit6_Lesson30.zip" target="_blank" download class="btn-dn btn-dn1">다운받기</a>
                                                </dt>
                                                <dd>
                                                    <span class="label">성취기준</span>
                                                    <div class="conts">[12기영02-01] 실생활 중심의 친숙한 일반적 주제에 관하여 듣거나 읽고 세부 정보를 설명할 수 있다.</div>

                                                    <button type="button" class="btn-slide btn-slide-down"><span class="ir">열고닫기</span></button>
                                                </dd>
                                            </dl>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </article>

</div>
</body>
</html>