<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/study/detailLayout" 
>
    <body>
        <div layout:fragment="content">
            <article class="prev-data">
                            <div class="prev-data-box">
                                <h3 class="title">유형별 학습맵</h3>

                                <ul class="learning-map">
                                    <li>
                                        <span>국어 활동별 학습맵</span>

                                        <button type="button" class="btn-learning-map">학습맵 보기</button>
                                    </li>
                                    <li>
                                        <span>직업기초능력평가 연계 학습맵</span>

                                        <!-- a태그 -->
                                        <a href="#" type="button" class="btn-learning-map">학습맵 보기</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="prev-data-box">
                                <h3 class="title">국어 학습(기본)</h3>

                                <div class="board-wrap">
                                    <table class="board">
                                        <caption><span>국어 학습 상세 내용</span></caption>
                                        <colgroup>
                                            <col style="width: 109px;">
                                            <col style="width: 90px;">
                                            <col>
                                            <col style="width: 129px;">
                                            <col style="width: 119px;">
                                            <col style="width: 119px;">
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th scope="col">영역</th>
                                                <th scope="col">단원</th>
                                                <th scope="col">차시</th>
                                                <th scope="col">학습하기</th>
                                                <th scope="col">활동지</th>
                                                <th scope="col">문제지</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="12">듣기·말하기</td>
                                                <td rowspan="3">대화하기</td>
                                                <td class="align-lft">상황에 맞게 인사 주고받기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-lft">높임법 바르게 사용하여 말하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color4">학습하기</button>
                                                </td>
                                                <td>
                                                    <!-- a태그 -->
                                                    <a href="#" class="btn-dn btn-dn1">다운받기</a></td>
                                                <td>
                                                    <a href="#" class="btn-dn btn-dn2">다운받기</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-lft">상대방에게 적절히 반응하면서 듣고 말하기</td>
                                                <td>
                                                    <!-- a태그 -->
                                                    <a href="#" class="btn-learn btn-color1">학습하기</a>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="4">설명하기</td>
                                                <td class="align-lft">담화를 듣고 중요한 내용 파악하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-lft">궁금한 점이나 이해하지 못한 점에 대해 질문하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-lft">절차나 방법에 따라 알기 쉽고 정확하게 설명하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-lft">원인과 결과에 따라 알기 쉽고 정확하게 설명하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="2">설득하기</td>
                                                <td class="align-lft">여러 사람의 의견이나 생각을 듣고 내용 파악하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-lft">다른 사람과 나의 의견을 비교하여 조리 있게 자신의 의견 말하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">발표하기</td>
                                                <td class="align-lft">주제에 적합한 내용 구성하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-lft">매체를 활용하여 발표하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="align-lft">알맞은 목소리와 속도, 자신 있는 태도로 말하기</td>
                                                <td>
                                                    <button type="button" class="btn-learn btn-color1">학습하기</button>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn1">다운받기</button></td>
                                                <td>
                                                    <button type="button" class="btn-dn btn-dn2">다운받기</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </article>

                        <!-- 문의 -->
                        <article class="help-guide">
                            <em class="tit">문의</em>
                            <a href="tel:02-1234-1234" class="tel">02-1234-1234</a>

                            <ul>
                                <li>평일 09:00 ~ 18:00</li>
                                <li>점심 12:00 ~ 13:00 <span>(토, 일, 공휴일 휴무)</span></li>
                            </ul>
                        </article>
</div>
</body>
</html>