<div class="card">
    <div class="card-header p-b-0">
        <h3 class="sub-title"><strong>기본 정보</strong></h3>
    </div>
    <form method="post" id="registerForm" name="registerForm" onsubmit="return false;">
	    <div class="card-block-small p-t-0">
	        <div class="row">
	            <div class="col-12 mb-3">
	                <div class="mb-0 form-group required">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input01"><strong>제목</strong></label>
	                    <div class="col-12">
	                        <input type="text" class="form-control form-control-sm" name="ttl" id="ttl" th:value="${etcDta.ttl}"/>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-3 mb-3">
	                <div class="mb-0 form-group required">
	                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>국가</strong></div>
	                    <th:block kattr:select_code="nationCd" th:attr="grpCd=240,selectedCd=${etcDta.nationCd}" firstOptTxt="- 선택 -" isAdmin="true"></th:block>
	                </div>
	            </div>
	            <div class="col-lg-3 mb-3">
	                <div class="mb-0 form-group required">
	                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>저작권</strong></div>
	                    <th:block kattr:select_code="cpyrhtCd" th:attr="grpCd=241,selectedCd=${etcDta.cpyrhtCd}" firstOptTxt="- 선택 -" isAdmin="true"></th:block>
	                </div>
	            </div>
	            <div class="col-lg-6 mb-3">
	                <div class="mb-0 form-group">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input02"><strong>홈페이지</strong></label>
	                    <div class="col-12">
	                        <input type="text" class="form-control form-control-sm" name="hmpg" id="hmpg" th:value="${etcDta.hmpg}"/>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-3 mb-3">
	                <div class="mb-0 form-group">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input03"><strong>위치</strong></label>
	                    <div class="col-12">
	                        <input type="text" class="form-control form-control-sm" name="pstn" id="pstn" th:value="${etcDta.pstn}"/>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-3 mb-3">
	                <div class="mb-0 form-group">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input04"><strong>연락처</strong></label>
	                    <div class="col-12">
	                        <input type="text" class="form-control form-control-sm" name="cntct" id="cntct" th:value="${etcDta.cntct}"/>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-3 mb-3">
	                <div class="mb-0 form-group">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input05"><strong>개장시간</strong></label>
	                    <div class="col-12">
	                        <input type="text" class="form-control form-control-sm" name="opnhr" id="opnhr" th:value="${etcDta.opnhr}"/>
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-3 mb-3">
	                <div class="mb-0 form-group">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input06"><strong>참가비</strong></label>
	                    <div class="col-12">
	                        <input type="text" class="form-control form-control-sm" name="etrfee" id="etrfee" th:value="${etcDta.etrfee}"/>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-6 mb-3">
	                <div class="mb-0 form-group">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input07"><strong>체험프로그램</strong></label>
	                    <div class="col-12">
	                        <input type="text" class="form-control form-control-sm" name="exprnPrgrm" id="exprnPrgrm" th:value="${etcDta.exprnPrgrm}"/>
	                    </div>
	                </div>
	            </div>
	            <div class="col-3 mb-3">
	                <div class="mb-0 form-group">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="registDate"><strong>등록일</strong></label>
	                    <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="regD" id="regD" readonly
                                   th:value="${etcDta.regDt != null? #dates.format(etcDta.regDt,'yyyy-MM-dd') : #dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
	                    </div>
	                </div>
	            </div>
	            <div class="col-3 mb-3">
	                <div class="mb-0 form-group">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="writer"><strong>등록자</strong></label>
	                    <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="rgtrNm" id="rgtrNm" readonly
                                   th:value="${etcDta.rgtrNm != null ? etcDta.rgtrNm : etcDta.user.nm}"/>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-12 mb-3">
	                <div class="mb-0 form-group required">
	                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input03"><strong>내용</strong></label>
	                    <div class="col-12">
	                        <textarea rows="5" cols="5" class="form-control form-control-sm" id="cn" name="cn" ><th:block th:text="${etcDta.cn}" /></textarea>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-12 mb-3">
	                <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="atchFile"><strong>첨부파일</strong></label>
                        <div class="col-12">
                            <input type="file" name="atchFile" id="atchFile" multiple accept="image/jpeg,image/gif,image/png,application/pdf" class="form-control form-control-sm"/>
                        </div>
                        <div class="mt-2 row">
                            <div class="col-auto">
                                <div id="atchFileUploadSuccess">
                                    <th:block th:if="${etcDta.atchFileList}">
                                        <th:block th:each="file : ${etcDta.atchFileList}" th:id="${file.fileid}">
                                            <span class='label label-inverse' th:id="${file.fileid}"> [[${file.orginlFileNm}]]
                                                <a class='text-white' href="javascript:void(0)"
                                                   th:name="${file.fileid}" th:attr="data-idntfc-key=${file.fileIdntfcKey}"
                                                   th:onclick="deleteFile(this.name, this.dataset.idntfcKey)">X
                                                </a>
                                            </span>
                                        </th:block>
                                    </th:block>
                                </div>
                                <input type="hidden" id="atchFilegrpid" name="atchFilegrpid" th:value="${etcDta.atchFilegrpid == null ? 0 : etcDta.atchFilegrpid }"/>
                            </div>
                        </div>
	                </div>
	            </div>
	        </div>
	    </div>    
        <div class="card-block-small">
            <button type='button' class="btn btn-disabled m-r-5" onclick="etcDtaGridHelper.toggleContent()">취소</button>
            <th:block sec:authorize-url="/mng/etcDta/insertEtcDta.do">
                <button type='button' class="btn btn-primary" onclick="insertEtcDta()">저장</button>
            </th:block>
        </div>
        <input type="hidden" name="rgtrid" id="rgtrid" th:value="${etcDta.rgtrid}"/>
        <input type="hidden" name="dtaid" id="dtaid" th:value="${etcDta.dtaid}"/>
    </form>

    <script th:inline="javascript">
        var editor = CKEDITOR.replace('cn', {enterMode: CKEDITOR.ENTER_BR});
        $(function () {
            atchFileEvent();
            validateForm();
        })
        let insertEtcDta = () => {
            let editorData = editor.getData();
            $("#cn").val(editorData);

            if (!$('#registerForm').valid()) {
                return;
            }

            let url = '/mng/etcDta/insertEtcDta.do';

            if(!!$('#dtaid').val()) {
                url = '/mng/etcDta/updateEtcDta.do';
            }

            if (url == '/mng/etcDta/insertEtcDta.do') {
                var isSec = false;
                /*[# sec:authorize-url="/mng/etcDta/insertEtcDta.do"]*/
                isSec = true;
                /*[/]*/
                if (!isSec) {
                    alert('접근권한이 없습니다.');
                    return;
                }
            }
            else if (url == '/mng/etcDta/updateEtcDta.do') {
                var isSec = false;
                /*[# sec:authorize-url="/mng/etcDta/updateEtcDta.do"]*/
                isSec = true;
                /*[/]*/
                if (!isSec) {
                    alert('접근권한이 없습니다.');
                    return;
                }
            }

            if(displayWorkProgress()) {
                $.ajax({
                    method: 'post',
                    url: url,
                    dataType: 'json',
                    data: $('#registerForm').serializeArray(),
                    success: function (response) {
                        alert(response.msg);
                        closeWorkProgress();
                        if(response.result == "success") {
                            etcDtaGridHelper.resetPageContent();
                        }
                    }
                });
            }
        }

        let validateForm = () => {
            $('#registerForm').validate({
                ignore: [],
                rules: {
                    ttl: {required: true, maxlength: 100},
                    cn: {required: true},
                    ntnNm: {required: true},
                    ntnNm: {required: true}
                },
                messages: {
                    ttl: {required: '제목을 입력해 주십시오.', maxlength: '제목은 100자를 넘을 수 없습니다.'},
                    cn: {required: '내용을 입력해 주십시오.'},
                    ntnNm: {required: '국가를 선택해 주십시오.'},
                    ntnNm: {required: '국가를 선택해 주십시오.'}
                }
            });
        }

        let atchFileEvent = () => {
            $('#atchFile').on("change", function (event) {

                var objFile = document.querySelector('#atchFile');
                var formData = new FormData();
                var content = "";

                for (i = 0; i < objFile.files.length; i++) {
                    formData.append("files", objFile.files[i]);
                }

                formData.append("filegrpid", $("#atchFilegrpid").val());
                formData.append("filegrpNm", "etcDta_file");

                if (displayWorkProgress()) {
                    $.ajax({
                        url: '/uploadMultipleFiles.do',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        success: function (response) {
                            if (response.result == 'fail') {
                                alert(response.msg);
                            } else {
                                if ($("#atchFilegrpid").val() == '0' || $("#atchFilegrpid").val() == '' || $("#atchFilegrpid").val() == null) {
                                    $("#atchFilegrpid").val(response[0].filegrpid);
                                }
                                for (i = 0; i < response.length; i++) {
                                    content = "<span class ='label label-inverse' id='" + response[i].fileid + "'>" + response[i].orginlFileNm;
                                    content += "<a class='text-white' href=javascript:deleteFile('" + response[i].fileid + "','" + response[i].fileIdntfcKey + "')>X</a></span>";
                                    $('#atchFileUploadSuccess').append(content);
                                }
                            }
                            closeWorkProgress();
                        }
                    })

                    if (detectBrowser() == "other") {
                        $("#atchFile").val("");
                    } else {
                        $("#atchFile").replaceWith($("#atchFile").clone(true))
                    }
                }
            });
        }
    </script>
</div>
