<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
    <form class="search-filter" id="searchForm" name="searchForm">
        <div class="form-input-wrap">
            <div class="form-row">
                <div class="form-header"><strong class="label">제목 검색</strong></div>
                <div class="form-body">
                    <input type="search" id="searchKeyword" name="searchKeyword" title="제목 검색" placeholder="검색어를 입력해 주세요.">
                </div>
            </div>
            <div class="form-row">
                <div class="form-header"><strong class="label">분류</strong></div>
                <div class="form-body">
                    <span kattr:select_code="clsfCd" grpCd="189" firstOptTxt="- 전체 -"></span>
                </div>
            </div>
        </div>
        <div class="search-filter-submit">
            <button type="button" class="btn-medium btn-gray btn-before-refresh" onclick="pltfomPropslList.searchInit()">초기화</button>
            <button type="submit" class="btn-medium btn-green btn-before-search" onclick="pltfomPropslList.search()">검색</button>
        </div>

        <input type="hidden" id="pageNumber" name="pageNumber" value="1">
        <input type="hidden" id="prpslid" name="prpslid">
        <input type="hidden" id="rowPerPage" name="rowPerPage" value="10">
        <input type="hidden" id="orderField" name="orderField" value="REG_DT">
    </form>

    <div class="table-caption flex-nowrap">
        <div class="left">
            <p>총 <b id="total-count">0</b> 건</p>
        </div>
        <div class="right d-flex">
            <select title="글 보기 개수" id="selectRowPerPage" name="selectRowPerPage" onchange="pltfomPropslList.changeRowPerPage()">
                <option value="10">10개씩 보기</option>
                <option value="50">50개씩 보기</option>
                <option value="100">100개씩 보기</option>
            </select>
            <div class="ml10">
                <button type="button" class="btn-medium btn-green" onclick="pltfomPropslList.moveToInsertForm()">제안하기</button>
            </div>
        </div>
    </div>

    <div class="table-col table-layout-auto table-col-mo">
        <table>
            <caption>플랫폼 개선 제안 - 번호, 제목, 상태, 작성자, 공개여부, 등록일</caption>
            <colgroup>
                <col>
                <col>
                <col style="width:40%;">
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">분류</th>
                <th scope="col">제목</th>
                <th scope="col">상태</th>
                <th scope="col">작성자</th>
                <th scope="col">공개여부</th>
                <th scope="col">등록일</th>
            </tr>
            </thead>
            <tbody id="list-area">
            </tbody>
        </table>
    </div>

    <div class="pagination" aria-label="pagination" id="pagination"/>

    <script th:inline="javascript">
        let pltfomPropslList = {
            userid: /*[[${loginUserid}]]*/ null,
            searchVo: /*[[${searchVo}]]*/null,
            listUrl: '/front/pltfomImprvmPropsl/selectPltfomImprvmPropslList.do',
            detailUrl: '/front/pltfomImprvmPropsl/pltfomImprvmPropslDetail.html',
            formUrl: '/front/pltfomImprvmPropsl/pltfomImprvmPropslForm.html',

            moveToInsertForm() {
                if (this.userid == null) {
                    alert('로그인 후 이용하실 수 있습니다.');
                    return;
                }
                var f = document.forms.searchForm;
                f.action = this.formUrl;
                f.submit();
            },

            moveToDetail(prpslid, canGoToDetail) {
                if (canGoToDetail) {
                    var f = document.forms.searchForm;
                    f.prpslid.value = prpslid;
                    f.action = this.detailUrl;
                    f.submit();
                } else {
                    alert('비공개 글의 경우 작성자만 볼 수 있습니다.');
                    return;
                }
            },

            changeRowPerPage() {
                $('#rowPerPage').val($('#selectRowPerPage').val());
            },

            search() {
                $('#pageNumber').val(1);
                this.selectPltfomImprvmPropslList();
            },

            searchInit() {
                $('#searchKeyword, #clsfCd').val('');
            },

            selectPltfomImprvmPropslList() {
                if (displayWorkProgress(true)) {
                    $.ajax({
                        url: pltfomPropslList.listUrl,
                        cache: false,
                        dataType: 'json',
                        data: $('#searchForm').serializeArray(),
                        type: 'GET',
                        success: function (data) {
                            $("#list-area").html(pltfomPropslList.makeListHtml(data.list));
                            $("#pagination").html(data.pagination);
                            $("#total-count").html(data.totalCount);
                            msgAddBtn();
                            closeWorkProgress();
                        }
                    });
                }
            },

            makeListHtml(list) {
                var html = "";
                if (list == null || list.length <= 0) {
                    html += `<tr>
                                <td class="nodata" colspan="7">
                                    <p><span class="icon icon-notice bg-black9"></span>등록된 플랫폼 개선 제안이 없습니다.</p>
                                </td>
                            </tr>`;
                } else {
                    list.forEach(function (item) {
                        let canGoToDetail = item.rlsYn == 'Y' || (item.rlsYn == 'N' && (item.userid == pltfomPropslList.userid));
                        html += `<tr>
                                    <td>${item.rowNumber}</td>
                                    <td>${item.clsfCdNm}</td>

                                    <td class="al article"><a href="javascript:void(0)" class="link ellipsis" onclick="pltfomPropslList.moveToDetail(${item.prpslid}, ${canGoToDetail})">
                                          ${item.prcsSttsCd == '188104' ? `<span class="box-tag tag-green">답변완료</span>` : ``}${item.ttl}</a></td>
                                    <td>${item.prcsSttsCdNm}</td>
                                    <td class="list-msg-add-btn" data-trgt-id="${item.userid}">${item.acnt}</td>
                                    <td>${item.rlsYn == 'Y' ? '공개' : '비공개'}</td>
                                    <td>${item.regDt}</td>
                                </tr>`;
                    });
                }
                return html;
            }
        }

        function goPage(num) {
            $("#pageNumber").val(num);
            pltfomPropslList.selectPltfomImprvmPropslList();
        }

        $(function () {
            $("#pageNumber").val(pltfomPropslList.searchVo.pageNumber);
            $("#searchKeyword").val(pltfomPropslList.searchVo.searchKeyword);
            $("#clsfCd").val(pltfomPropslList.searchVo.clsfCd);
            $('#rowPerPage').val(pltfomPropslList.searchVo.rowPerPage);
            $('#selectRowPerPage').val(pltfomPropslList.searchVo.rowPerPage);

            pltfomPropslList.selectPltfomImprvmPropslList();
        });
    </script>
</div>


</html>
