<!--탭영역 start -->
<div class="tab-content tabs p-t-20">

    <div class="tab-pane active" id="updateRecord" role="tabpanel">
        <div class="card-header p-t-0 p-b-0">
            <h3 class="sub-title"><strong>상태변경 이력</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="col-12 table-border-style">
                <div class="col-12 table-responsive" id="resveReqstHstryGrid">
                    <div class="table table-framed table-bordered">
                    </div>
                </div>
                <div id="resveReqstHstryListPager" class="text-center"></div>
            </div>
        </div>
    </div>

    <div id="resveReqstHstryGridPanel" style="display: none" class="card"></div>
</div>

<div class="modal fade" id="resveCnclRsnPopup" data-bs-backdrop="static"></div>

<script th:inline="javascript">

    // 사유확인 팝업
    var resveCnclRsnPopupUrl = "/mng/resveReqst/resveCnclRsnPopup.html";
    var resveCnclRsnAddModal;

    var selectedItems = [];
    var gridHelper1;
    $(function(){
        gridHelper1 = new GridHelper('resveReqstHstryGrid','resveReqstHstryGridPanel');
        writeSpceMemGridData();
    });

    var fn_openResveCnclRsnModal = (hstryid) => {
        $("#resveCnclRsnPopup").load(resveCnclRsnPopupUrl+"?hstryid="+hstryid, function(response, status, xhr) {
            if (status == "success") {
                resveCnclRsnAddModal = new bootstrap.Modal($('#resveCnclRsnPopup'));
                resveCnclRsnAddModal.show();
            }
        });
    }

    function date2str(x, y) {
        var z = {
            m: x.getMonth() + 1,
            d: x.getDate(),
            H: x.getHours(),
            M: x.getMinutes(),
            S: x.getSeconds()
        };

        y = y.replace(/(m+|d+|H+|M+|S+)/g, function(v) {
            return ((v.length > 1 ? "0" : "") + z[v.slice(-1)]).slice(-2)
        });

        return y.replace(/(y+)/g, function(v) {
            return x.getFullYear().toString().slice(-v.length)
        });
    }

    function parseDate(strDate) {
        var _strDate = strDate;
        var _dateObj = new Date(_strDate);
        if (_dateObj.toString() == 'Invalid Date') {
            _strDate = _strDate.split('.').join('-');
            _dateObj = new Date(_strDate);
        }
        if (_dateObj.toString() == 'Invalid Date') {
            var _parts = _strDate.split(' ');

            var _dateParts = _parts[0];
            _dateObj = new Date(_dateParts);

            if (_parts.length > 1) {
                var _timeParts = _parts[1].split(':');
                _dateObj.setHours(_timeParts[0]);
                _dateObj.setMinutes(_timeParts[1]);
                if (_timeParts.length > 2) {
                    _dateObj.setSeconds(_timeParts[2]);
                }
            }
        }

        return _dateObj;
    }

    function writeSpceMemGridData(){
        $("#resveReqstHstryGrid").jsGrid({
            height: "auto",
            width: "100%",
            autoload: true,
            sorting: true,
            paging: true,
            pagerContainer: "#resveReqstHstryListPager",
            pagerFormat: "{first} {prev} {pages} {next} {last}",
            pagePrevText: "이전",
            pageNextText: "다음",
            pageFirstText: " < 처음 ㅣ",
            pageLastText: " | 마지막 >",
            pageSize: 10,
            pageButtonCount: 10,
            pageLoading: true,
            pageIndex: 1,
            noDataContent: "데이터가 없습니다.",

            controller: {
                loadData: function (filter) {
                    var data = $.Deferred();

                    var formData = $('#searchManagerFrm').serializeArray();
                    var params = [
                        {name: "pageNumber", value: filter.pageIndex},
                        {name: "rowPerPage", value: filter.pageSize},
                        {name: "aplyid", value: aplyid[0]},
                    ]

                    if(filter.sortField != undefined){
                        params.push({name: "orderField", value: filter.sortField});
                        params.push({name: "orderDirection", value: filter.sortOrder});
                    }else{
                        params.push({name: "orderField", value: 'reg_dt'});
                    }
                    formData = formData.concat(params);

                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "/mng/resveReqst/selectResveReqstHstryList.do",
                        dataType: "json",
                        data: formData,
                    }).done(function(response){
                        var da = {
                            data : escapeGridData(response.list)
                            ,itemsCount : response.totalCount
                        };
                        data.resolve(da);
                    });
                    return data.promise();
                },
            },
            fields: [
                { title: '번호'   ,name: 'rowNumber'       ,type: "number", width : "80", align:"center",  sorting :false }
                ,{ title: '예약상태(결제상태)'   ,name: ''              ,type: "text" , width: "100" ,align:"center"
                    , itemTemplate: function(value, item){
                        return item.aplySttsCdNm+'('+item.stlmSttsCdNm+')';
                    }
                }
                ,{ title: '변경일시' ,name: 'mdfcnDt',  type: "text", width: "150", align:"center"
                    , itemTemplate: function(value, item){
                        return date2str(parseDate(item.mdfcnDt), 'yyyy-mm-dd');
                    }
                }
                ,{ title: '처리자'   ,name: 'rgtrid'             ,type: "text" , width: "200" ,align:"center"
                    , itemTemplate: function(value, item){
                        return item.acnt+'('+item.nm+')';
                    }
                }
                ,{ title: '사유확인'   ,name: 'rsn' ,type: "text" , align:"center"
                    , itemTemplate: function(value, item){
                        var str = '-';
                        if( (item.stlmSttsCd == 161101 && item.aplySttsCd == 160103) || (item.stlmSttsCd == 161102 && item.aplySttsCd == 160102 && item.rfndRejectRsn != null && item.rfndRejectRsn != '') ){
                            /* 예약취소 됐거나, 환불요청 취소 됐거나(예약승인, 입금완료 - 이 경우엔 환불요청 취소사유가 있음 RFND_REJECT_RSN 가 있을경우) */
                            str = '<div class="btn-group-sm text-center">\n' +
                                      '<button type="button" class="btn btn-primary" onClick="fn_openResveCnclRsnModal('+item.hstryid+');">\n' +
                                        '확인\n' +
                                      '</button>\n' +
                                   '</div>';
                        }
                        return str;
                    }
                }
            ]
        });
    }
</script>