<!-- layerpopup -->
<div class="layer-header">
    <strong class="tit">컨설팅결과</strong>
    <button type="button" class="btn-layer-close" title="레이어팝업 닫기" data-layer-close></button>
</div>
<div class="layer-content">
    <div class="table-row table-row-mo">
        <table>
            <caption>컨설팅결과 - 컨설팅 내용(사전), 컨설팅 내용(사후)</caption>
            <colgroup>
                <col style="width:140px;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th scope="row">컨설팅 내용(사전)</th>
                    <td>
                        <textarea title="컨설팅 내용(사전)" readonly><th:block th:text="${detail.cnBfr}"/></textarea>
                        <div class="desc ar size"><span class="cnBfr">0</span> / 1000자</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">컨설팅 내용(사후)</th>
                    <td>
                        <textarea title="컨설팅 내용(사후)" readonly><th:block th:text="${detail.cnAftr}"/></textarea>
                        <div class="desc ar size"><span class="cnAftr">0</span> / 1000자</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="layer-footer">
    <div class="btn-wrap">
        <div class="center">
            <button type="button" class="btn-medium btn-gray" data-layer-close>확인</button>
        </div>
    </div>
</div>
<!-- //layerpopup -->

<script th:inline="javascript">
/*<![CDATA[*/
var cnBfr = /*[[${detail.cnBfr}]]*/null;
var cnAftr = /*[[${detail.cnAftr}]]*/null;
/*]]>*/

$(function () {
    $(".cnBfr").text(cnBfr.length);
    $(".cnAftr").text(cnAftr.length);
});
</script>