<form class=" form-inline form-horizontal row-border" role="form" id ="bbsUpdateForm" >

		<div class="panel panel-default">
	    	<div class="panel-heading" >
	      		<h4 >> 기본정보</h4>
	    	</div>
	      	<div class="panel-body">
                      <div class="form-group  col-md-12 row">
                        <label class="col-md-2 control-label"><span class="text-danger">* </span>게시판 코드</label>
                        <div class="form-control-static" style="text-align:left;">
                          <span th:text="${paramMap.bbsid}"></span>
                        </div>                
                      </div>
					
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>비로그인 파일다운로드</label>
					    <div class="form-control-static" style="text-align:left;">
   			              <span kattr:radio_yn="nloginDwnldPermYn" label1="허용" label2="불가"  th:attr="defaultVal = ${paramMap.nloginDwnldPermYn}" isAdmin="true"></span>
					    </div>                
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>게시판 유형</label>
					    <div class="form-control-static " style="text-align:left;">
                            <select id="clCd" name="clCd" class="form-control input-sm" style="padding:0px; width:150px;" onchange="fn_validationCl">
                                <option value="1" th:selected="${paramMap.clCd == '1'}">일반형</option>
                                <option value="2" th:selected="${paramMap.clCd == '2'}">공지형</option>
                            </select>
					    </div>
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>게시판명</label>
					    <div class="form-control-static  " style="text-align:left;">
   			              <input type="text" class="form-control input-sm" id="nm" name= "nm"  style="width:500px;" placeholder="게시판명" th:value="${paramMap.nm}" />
					    </div>                
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>게시판설명</label>
					    <div class="form-control-static" style="text-align:left;">
   			               <textarea  class="form-control" id="dc" name= "dc" style=" width:500px; height:100px;"><th:block th:text="${paramMap.dc}" ></th:block></textarea>
					    </div>                
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>사용여부</label>
					    <div class="form-control-static " style="text-align:left;">
   			              <span kattr:radio_yn="useYn" label1="사용" label2="미사용"   th:attr="defaultVal = ${paramMap.useYn}" isAdmin="true"></span>
					    </div>                
					  </div>
           </div>
        </div>
    
		<!-- List Area -->
		<div class="panel panel-default">
	    	<div class="panel-heading" >
	      		<h4>> 기능정보</h4>
	    	</div>
	      	<div class="panel-body">
					
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>분류 사용여부</label>
					    <div class="form-control-static  " style="text-align:left;">
   			              <span kattr:radio_yn="clUseYn" label1="사용" label2="미사용"   th:attr="defaultVal = ${paramMap.clUseYn}" isAdmin="true"></span>
					    </div>                
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>댓글 사용여부</label>
					    <div class="form-control-static  " style="text-align:left;">
   			              <span kattr:radio_yn="cmntUseYn" label1="사용" label2="미사용"  th:attr="defaultVal = ${paramMap.cmntUseYn}" isAdmin="true"></span>
					    </div>                
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>답글 사용여부</label>
					    <div class="form-control-static  " style="text-align:left;">
   			              <span kattr:radio_yn="rplyUseYn" label1="사용" label2="미사용" th:attr="defaultVal = ${paramMap.rplyUseYn}" isAdmin="true"></span>
					    </div>                
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>첨부파일 사용여부</label>
					    <div class="form-control-static" style="text-align:left;">
   			               <span kattr:radio_yn="atchfileUseYn" label1="사용" label2="미사용"  th:attr="defaultVal = ${paramMap.atchfileUseYn}" isAdmin="true"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           <label class="control-label">첨부파일 수:</label>
			               <input type="number" class="form-control input-sm" id="atchfileCnt" name= "atchfileCnt" placeholder="첨부파일 수 " th:value="${paramMap.atchfileCnt}"  disabled  />
			               <label class="control-label"> 파일최대크기 :</label>
			               <input type="number" class="form-control input-sm" id="atchfileSize" name= "atchfileSize" placeholder="파일 최대크기"  th:value="${paramMap.atchfileSize}" disabled/>mb
					    </div>                
					  </div>
					   
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>고정공지 사용여부</label>
					    <div class="form-control-static  " style="text-align:left;">
   			              <span kattr:radio_yn="fxdNtcUseYn" label1="사용" label2="미사용"  th:attr="defaultVal = ${paramMap.fxdNtcUseYn}" isAdmin="true"></span>
   			              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			              <label class="control-label"><span class="text-danger"></span> 고정공지수:</label>
   			              <input type="number" class="form-control input-sm" id="fxdNtcCnt" name= "fxdNtcCnt"  th:value="${paramMap.fxdNtcCnt}" placeholder="고정공지 수 " disabled/>
					    </div>                
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>NEW 사용여부</label>
					    <div class="form-control-static  " style="text-align:left;">
   			              <span kattr:radio_yn="newUseYn" label1="사용" label2="미사용" th:attr="defaultVal = ${paramMap.newUseYn}" isAdmin="true"></span>
   			              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			              <label class="control-label"><span class="text-danger"></span> 표시일수 &nbsp;:&nbsp;&nbsp;</label>
   			              <input type="number" class="form-control input-sm" id="newIndictDaycnt" name= "newIndictDaycnt"  th:value="${paramMap.newIndictDaycnt}" placeholder="new 표시일수"  disabled/>
					    </div>                
					  </div>
					  
					  <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>HOT 사용여부</label>
					    <div class="form-control-static  " style="text-align:left;">
   			              <span kattr:radio_yn="hotUseYn" label1="사용" label2="미사용" th:attr="defaultVal = ${paramMap.hotUseYn}" isAdmin="true"></span>
   			              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			              <label class="control-label"><span class="text-danger"></span> 기준조회수 &nbsp;:&nbsp;&nbsp;</label>
   			              <input type="number" class="form-control input-sm" id="hotUseStdrHits" name= "hotUseStdrHits"   placeholder="HOT 기준조회수"  th:value="${paramMap.hotUseStdrHits}" disabled />
					    </div>                
					  </div>
					  
		              <div class="form-group  col-md-12 row">
						<label class="col-md-2 control-label"><span class="text-danger">* </span>페이지 게시글 개수</label>
					    <div class="form-control-static  " style="text-align:left;">
   			              <input type="number" class="form-control input-sm" id="pagePstCnt" name= "pagePstCnt"  th:value="${paramMap.pagePstCnt}" placeholder="게시글 개수 "  />
					    </div>                
					  </div>
                      <div style= 'text-align : right'> 
                       <input  type="button" class="btn btn-sm btn-primary" onclick="fn_updateBbs()" value="수정" />
                       <input type="button" class="btn btn-sm btn-default"  onclick="resetListContent()" value="취소"/>
                      </div>
           </div>
        </div>
        
    
   <!--hidden 변수 저장  -->
   <input type="hidden"  id="bbsid" name="bbsid"  th:value = "${paramMap.bbsid}" >
</form>
		              
      <script type="text/javascript">
	       
	       function fn_validationCl(){
	    	   
	    	   //공지형인 경우 댓글 사용 선택 X 
	    	   if($("#clCd").val() == "2"){
	    		   $("input[name='rplyUseYn']").val(["N"]);
    			   $("input[name='rplyUseYn']").attr("disabled","true");
	    		   $("input[name='cmntUseYn']").val(["N"]);
    			   $("input[name='cmntUseYn']").attr("disabled","true");
	    		   $("input[name='fxdNtcUseYn']").removeAttr("disabled");
	    	   }else{ //일반형 인 경우
	    		   $("input[name='rplyUseYn']").removeAttr("disabled");
	    		   $("input[name='cmntUseYn']").removeAttr("disabled");
	    		   $("input[name='fxdNtcUseYn']").val(["N"]);
	    		   $("input[name='fxdNtcUseYn']").attr("disabled","true");
	    		   fn_disableTrue("fxdNtcCnt");
	    	   }	    	      	   
	       } 
	       
	       function fn_validationInput(){
	    	   var file_use  =$("input[name='atchfileUseYn']:checked").val();
    		   var fixed_use =$("input[name='fxdNtcUseYn']:checked").val();
    		   var new_use   =$("input[name='newUseYn']:checked").val();
    		   var hot_use   =$("input[name='hotUseYn']:checked").val();
    		   var cmnt_use   =$("input[name='cmntUseYn']:checked").val();
    		   
    		   if(file_use == "N"){ fn_disableTrue("atchfileCnt") ; fn_disableTrue("atchfileSize");
    		   }else{ fn_disableFalse("atchfileCnt") ; fn_disableFalse("atchfileSize");}
    		   
    		   if(fixed_use == "N"){ fn_disableTrue("fxdNtcCnt");
    		   }else{ fn_disableFalse("fxdNtcCnt");}
    		   
    		   if(new_use == "N"){ fn_disableTrue("newIndictDaycnt");
    		   }else{ fn_disableFalse("newIndictDaycnt");}
    		   
    		   if(hot_use == "N"){ fn_disableTrue("hotUseStdrHits");
    		   }else{ fn_disableFalse("hotUseStdrHits");}
    		   
    		   if(cmnt_use == "N"){ fn_disableTrue("rplyUseYn");
    		   }else{ fn_disableFalse("rplyUseYn");}

	       }
	       
	       //disalbed 속성 주기   
	       function fn_disableTrue(elementId){
	    	   $("#"+elementId).attr("disabled","true");
	       }
	       
	       //disalbed 속성 해제
	       function fn_disableFalse(elementId){
	    	   $("#"+elementId).removeAttr("disabled");
	       }
	      
	       $(function(){
	    	   fn_validationCl();
	    	   $('#clCd').change(fn_validationCl);
	    	   
	    	   fn_validationInput();
	    	   //사용 미사용 여부에 따라서 input 값 disalbed 설정 
	    	   $("input").click(function(){
	    		   fn_validationInput();
	    	   })
	       })

	       
	     	 var validator= $("#bbsUpdateForm").validate({
	 		    rules: {  
	 		    	 nm                 : { required: true   }
	     	         ,dc                : { maxlength : [400] }
	     	         ,pagePstCnt      : { required: true, digits:true  }
	     	         ,atchfileCnt      : { required: true, digits:true, range:[1,5]}
	     	         ,atchfileSize     : { required: true , number:true, range:[1,20]}
	     	         ,fxdNtcCnt       : { required: true , digits:true}
	     	         ,newIndictDaycnt : { required: true , digits:true}
	     	         ,hotUseStdrHits : { required: true , digits:true}
			    },
			    messages: {  
			    	nm                 : { required: "게시판명을 입력해 주십시오."   }
    	            ,dc                : { maxlength : "게시판 설명은 400자를 넘을 수 없습니다."}
			        ,pagePstCnt      : { required: "게시글 개수를 입력해 주십시오." , digits:"게시글 개수는 숫자만 입력 가능합니다!" }
	     	        ,atchfileCnt      : { required: "첨부 파일 개수를 입력해 주십시오. (1~ 5 사이 )", digits:"첨부 파일 개수는 숫자만 입력가능합니다" , range: "첨부파일은 5개 이하만 가능합니다."}
	     	        ,atchfileSize     : { required: "첨부 파일 사이즈를 입력해 주십시오.( 1 ~ 20 MB 사이)", digits:"첨부 파일 개수는 숫자만 입력가능합니다.", range: "첨부파일 사이즈는  20 MG(20,480 KB) 이하입니다." }
	     	        ,fxdNtcCnt       : { required: "고정공지수 갯수를 입력해 주십시오." ,number:"고정공지 개수는 숫자만 입력가능합니다."   }
	     	        ,newIndictDaycnt : { required: "NEW 표시일수를 입력해 주십시오." ,digits:"new 표시일수는 숫자만 입력가능합니다."  }
	     	        ,hotUseStdrHits : { required: "HOT 사용일수를 입력해 주십시오." ,digits:"HOT 사용 일수는 숫자만 입력가능합니다." }
			    }
	 		 })
	 		 
		 	function fn_updateBbs(){
		 	    //jquery 밸리데이션 체크 
   	 	        if($("#bbsUpdateForm").valid() == false) return;
    	 	    //최종 의사 타진 
    	 	    if(!confirm("수정하시겠습니까?")) return;
    	 	    //form data serialized
 		        var data =  $("#bbsUpdateForm").serialize() ;
    	 	    
				$.ajax({
					url : "/bbs/updateBbs.do",
					type: 'POST',
					cache : false,
					dataType: 'json',
					data : data,
					success : function (data){
						if(data.result=="success"){
							alert("수정이 완료 되었습니다.");
							resetListContent();
						}else{
							alert("수정 등록중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
						}
					},
				 	error : function (error){
					} 
				});
			}
		 
   	   </script> 

