<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/mng/mainLayout" 
>
<body>
  <div layout:fragment="content">
    <style>
	   .hide{display:none;}
	</style>
	
	<div class="page-body">
	
      <div class="row">
          <div class="col-12">
          <form name="bbsSearchForm" id="bbsSearchForm" action="" onsubmit="return false;" class="card">
             <!-- 필터 부분 -->
                 <div class="card-block-small">
                     <!-- 키워드 filter -->
                     <div class="row">
                     
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row required">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>게시판</strong></span>
                                 <div class="col-sm-12">
                                     <select name="bbsCl" id="bbsCl" class="form-select form-select-sm form-control-sm" onchange ="writeGridByBbsCl()">
                                         <option value=""> - 선택 -</option>
                                         <option th:each="item : ${codeMap}" th:value="${item.bbsid}" th:text="${item.nm} "></option>
                                     </select>
                                 </div>
                             </div>
                         </div>
                     
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></span>
                                 <div class="input-group input-group-sm input-group-dropdown mb-0">
                                     <select name="searchType" id="searchType" class="form-select form-control ">
                                        <option value="">전체</option>
                                        <option value="nm">게시물명 </option>
                                        <option value="cntnts">내용 </option>
                                     </select>
                                     <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" 
                                     aria-label="Text input with dropdown button">
                                     
                                 </div>
                             </div>
                         </div>
                     </div>
                     <!-- //키워드 filter -->
                     <!-- 키워드 filter-btn -->
                     <div class="mt-1 p-t-20 text-center border-top">
                         <button class="btn btn-disabled m-r-5" onclick="fn_init()" >초기화</button>
                         <button class="btn btn-primary" onclick="fn_searchForm()" >검색</button>
                     </div>
                 </div>
                 
                 <input id="bbsid" name ="bbsid" type="hidden" th:value ="${bbsid}">
                 <input id="rowPerPage" name ="rowPerPage" type="hidden" value ="10">
           </form>
           </div>
           <!-- //필터 부분 -->
           <div class="col-12">  
            <div class="card">
           
                <div class="row p-20 p-b-0">
                
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <h5><strong>게시물 검색 결과</strong></h5>
                    </div>
                    
                    <div class="col-12 col-md-6 text-right">
                    
                        <th:block sec:authorize-url="/bbs/deletePst.do">
                            <button type="button" class="btn btn-inverse m-r-5" onclick="fn_deletePsts()" >삭제</button>
                        </th:block>
                        
                        <th:block sec:authorize-url="/bbs/bbsPstInsertForm.html">
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="fn_goInsertForm();" >등록</button>
                        </th:block>
                    </div>
                </div>
                
                <div class="card-block-small">
                    <div class="dt-responsive table-responsive">
                        <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                       </div>
                    </div>
                </div>
            </div>
          </div>
          <!-- Content Area -->
          <div class="col-12">
              <span id="contentPanel"></span>
          </div>
          
      </div>
  </div>
  
 
 <script src="/js/ckeditor/ckeditor.js"></script>
 <script th:inline="javascript" >

    var gridHelper1;
	/*<![CDATA[*/ 
	var bbsid = /*[[ ${bbsid} ]]*/null; 
	var codeMap = /*[[ ${codeMap} ]]*/null; 
	/*]]>*/
    var selectedItems = [];
    var clickedItem ;
    var isGridOptionChanged = false;
   
    $(function(){
        
 		$("#bbsSearchForm select[name='bbsCl']").val(bbsid);
		if($("#bbsSearchForm #bbsCl").val() != null && $("#bbsSearchForm #bbsCl").val() != ""){
			 writeJsGridData();
		}
		gridHelper1 = new GridHelper('jsGrid','contentPanel');
	 })
	 
	 function fn_init() {
        $("#bbsSearchForm #bbsCl").val('');
        $("#bbsSearchForm #searchType").val('');
        $("#bbsSearchForm #searchKeyword").val('');
     } 
	 function writeGridByBbsCl(){
    	 if($("#bbsCl").val() == null || $("#bbsCl").val() == ""){
	    	alert("검색 할 게시판 종류를 선택해 주십시오.");
	    	return;
    	 }
    	 var selectedBbsItem =  codeMap.filter(function(bbs){ if(bbs.bbsid==$("#bbsCl").val())return bbs; })
    	 
    	 $("#rowPerPage").val(10);
    	 if(selectedBbsItem!=null && selectedBbsItem.rowPerPage!=null &&selectedBbsItem.rowPerPage >=0){
	    	 $("#rowPerPage").val(selectedBbsItem.rowPerPage);
         }
		 $("#bbsid").val($("#bbsCl").val());
		 writeJsGridData();
		 gridHelper1.resetListContent();
	 }
    function fn_goInsertForm(){
        if($("#bbsCl").val() == null || $("#bbsCl").val() == ""){
            alert("등록할 게시판 종류를 선택해 주십시오.");
    	    return;
    	} 
    	var insertUrl ="/bbs/bbsPstInsertForm.html?bbsid="+$("#bbsCl").val()
    	gridHelper1.loadContent(insertUrl);
     }
     function fn_searchForm(){
    	 if($("#bbsSearchForm #bbsCl").val() == null || $("#bbsSearchForm #bbsCl").val() == ""){
    	    	alert("검색 할 게시판 종류를 선택해 주십시오.");
    	    	return;
    	 } 
		 $("#bbsid").val($("#bbsSearchForm  #bbsCl").val());
		 gridHelper1.resetListContent();
     }
     function writeJsGridData(){
    		$("#jsGrid").jsGrid({
    	        height: "auto",
    	        width: "100%",
    	        autoload: true,
    	        sorting: false,
    	        paging: true,
    	        pagerContainer: "#listPager",
    	        pagerFormat: "{first} {prev} {pages} {next} {last}",
    	        pagePrevText: "이전",
    	        pageNextText: "다음",
    	        pageFirstText: "< 처음 ㅣ",
    	        pageLastText: "ㅣ 마지막 >",
    	        pageSize: 10,
    	        pageButtonCount: 10,
    	        pageLoading: true,
    	        pageIndex: 1,
    	        noDataContent: "데이터가 없습니다.",
    	        
    	        controller: {
    	            loadData: function (filter) {
    	            	var data = $.Deferred();
    	            	filter.rowPerPage = $("#rowPerPage").val();
    	            	var params = {
    	            			 "bbsid"         : $('#bbsSearchForm #bbsid').val()
    	            			,"searchType"    : $('#bbsSearchForm #searchType').val()
    	            			,"searchKeyword" : $('#bbsSearchForm #searchKeyword').val()
    	            			,"pageNumber"    : filter.pageIndex
    	            			,"rowPerPage"    : $("#rowPerPage").val()
    	            			,"orderField"    : filter.sortField
    	            			,"orderDirection":  "asc" //filter.sortOrder
    	            	}
    	            	if(filter.sortField == undefined){
    	            		params.orderField = "REG_DT";
    	            	}
    	            	
    	                $.ajax({
    	                  type: "GET",
    	                  contentType: "application/json; charset=utf-8",
    	                  url: "/bbs/getPstList.do", // ?pageNumber="+filter.pageIndex+"&rowPerPage="+filter.pageSize,
    	                  dataType: "json",
    	                  data: params
    	                }).done(function(response){
    	                    //filter.pageSize = response.pageSize;
    	                	var da = {
                                    data : escapeGridData(response.list)
                                    ,itemsCount : response.totalCount
                                };
    	                  data.resolve(da);
    	                });
    	                return data.promise();
    	            }
    	        },
	    	        fields: [ 
	                    {
	                        headerTemplate: function() {
	                            return $("<input>").attr("type", "checkbox").attr("id", "selectAllCheckbox")
	                        },
	                        itemTemplate: function(_, item) {
	                            return $("<input>").attr("type", "checkbox").attr("class", "singleCheckbox")
	                            //.prop("checked", $.inArray(String(item.userid), selectedItems) > -1)
	                            .prop("checked", $.inArray(item, selectedItems) > -1)
	                            .on("change", function () {
	                            $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next());
	                            });
	                        },
	                        align: "center",
	                        width: "3%",
	                        sorting: false
	                    } 
	                    ,{ name: 'pstid', css: 'hide' }
	                    ,{ title: '번호'     ,name: 'rowNumber' ,type: "number" , width: "5%" , align:"center", sorting :false}
	                    ,{ title: '제목'     ,name: 'title'     ,type: "text"   , width: "40%" 
	                    	,itemTemplate: function(value, item){
                                let cmntStr = (Number(item.cmntCnt) > 0 )? " ("+item.cmntCnt+") ":"";
                                let returnStr = "";
                                let seprateStr = "&nbsp;&nbsp";
                                let title = (item.delYn=='Y')?"삭제된 게시물입니다.":item.title;
                                let prifix = "";

                                if(item.fxdNtcUseYn == 'Y' && item.fxdNtcYn == 'Y'){
                                	prifix ="<span style='color:blue;' >[필독]</span>&nbsp;&nbsp;"
                                }else if(item.hotYn == 'Y'){
                                	prifix ="<span style='color:red;' >[HOT]</span>&nbsp;&nbsp;"
                                }else if(item.newYn == 'Y'){
                                    prifix ="<span style='color:lightBlue;' >[NEW]</span>&nbsp;&nbsp;"
                                }
                                
                                if(item.dpth > 0){
                                     for(let i = 0; i<item.dpth;i++){
                                    	 returnStr += seprateStr;
                                     }
                                     returnStr = returnStr+"ㄴ"; 
                                }
                                return returnStr+prifix+title+cmntStr;
                            }
		                 }
	                    ,{ title: '고정공지여부' ,name: 'fxdNtcYn' ,type:"text", width: "10%" , align:"center", visible: false
	                    	,itemTemplate: function(value, item){
		                    	return (item.fxdNtcYn == 'Y')? "고정":"-"; 
		                    }
		                 }
	                    ,{ title: '조회수'     ,name: 'hits'     ,type: "text"   , width: "10%" , align:"center"}
	                    ,{ title: '등록일'     ,name: 'regDt'    ,type: "text"   , width: "10%" , align:"center"
	                    	,itemTemplate: function(value, item){return value.substring(0,10)}
		                  }
	    	        ]
    	         ,
    	        /*[# sec:authorize-url="/bbs/pstUpdateForm.html"]*/
    	        rowClick: function(args) {
                    if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                    if(args.item.delYn == 'Y'){alert("삭제된 게시물입니다."); return;}
    	        	var modifyUrl = "/bbs/pstUpdateForm.html?pstid="+args.item.pstid //+"&siteid="+args.item.siteid;
    	            gridHelper1.loadContent(modifyUrl);
    	            gridHelper1.rowClick(args);
    	            clickedItem = args.item; 
    	        }, 
    	        /*[/]*/
    	        onPageChanged: function(args) {
    	        	 selectedItems = [];
                },
         	    onDataLoaded: function(args) {
         	    	if(args.grid.data == null || args.grid.data.length == 0) return;
        	        if(args.grid.data[0].fxdNtcUseYn =='Y'){
	        	        $("#jsGrid").jsGrid("fieldOption", "fxdNtcYn", "visible", true);
            	    }
            	    
        	        if(!isGridOptionChanged){
        	            $("#jsGrid").jsGrid("option", "pageSize", args.grid.data[0].pageSize);
        	            isGridOptionChanged = true;
            	    }
        	    }
    	    })
            
            var selectItem = function(item) {
                selectedItems.push(item);
                if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
                    $("#selectAllCheckbox").prop("checked", true);
                } else {
                    $("#selectAllCheckbox").prop("checked", false);
                }
            };
             
            var unselectItem = function(item) {
                selectedItems = $.grep(selectedItems, function(i) {
                return i !== item;
                });
                if(selectedItems.length == 0) {
                    $('#selectAllCheckbox').attr('checked', false);
                }
                if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
                    $("#selectAllCheckbox").prop("checked", true);
                } else {
                    $("#selectAllCheckbox").prop("checked", false);
                }
            };
            
            $("#selectAllCheckbox").click(function(item) {
                selectedItems = [];
                if(this.checked) { // check select status
                    $('.singleCheckbox').each(function() { 
                        this.checked = true;   
                        selectItem($(this).parent().next().text());           
                    }); 
                }else {
                    $('.singleCheckbox').each(function() { 
                        this.checked = false;      
                        unselectItem(item);
                    });  
                    selectedItems = [];
                }
            });    	    
   	  }

      var clPop = "";
    		    	
    function fn_goClUse(bbsid){
        if(clPop == null || clPop == "undefined" || clPop == ""){
	 		fn_bbsPop(bbsid);
    	}else{
    		clPop.close();
    		fn_bbsPop(bbsid);
    	}
    }
    	
    function fn_bbsPop(bbsid){
        var popUrl ="/bbs/bbsClPop.html?bbsid="+bbsid;
        clPop = window.open(popUrl, "_blank", "scrollbars=yes,resizable=yes, top=200, left=500, width=500, height=500");
    }
       
    function fn_postAjax(url, data,callBack){
	       	$.ajax({
				url : url,
				type: 'POST',
				cache : false,
				dataType: 'json',
				data : data,
				success : function (data){
					callBack(data);
				},
			 	error : function (error){
				} 
	    	});
    }
    function fn_deleteFile(fileid, fileIdntfcKey){
    	var deleteFileUrl="/deleteFile.do?fileid="+fileid+"&file_idntfc_key=" + fileIdntfcKey; 
        $.ajax({
				url : deleteFileUrl,
				type: 'GET',
				cache : false,
				dataType: 'json',
				success : function (data){
					if(data.result=="success"){
						
						$("#pst_"+fileid).remove();
						if(uploadFileCnt > 0){
							uploadFileCnt = uploadFileCnt-1;	
						}
						console.log("uploadFileCnt--->"+uploadFileCnt);
						//alert("파일삭제가 완료 되었습니다.");
					}else{
						alert("파일삭제중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
					}
				},
			 	error : function (error){
				} 
             })
    };
    function fn_disableTrue(id){
   	   $("#"+id).attr("disabled","true");
    }
    function fn_disableFalse(id){
       $("#"+id).removeAttr("disabled");
    }
    function fn_deleteFileList(fileid, fileIdntfcKey){
        if(!confirm("파일을 삭제하시겠습니까?")){return;}
	       fn_deleteFile(fileid, fileIdntfcKey);
	       $("#inputFiles"+fileid).remove();
    } 
    fn_deletePsts = () =>{

    	   if(selectedItems.length <=0 ){
    	        alert("삭제할 게시물을 선택해주십시오.");
    	        return;
    	   }
    	   if(!confirm("선택한 게시글을 삭제하시겠습니까?")){return;}
    	   var delPstids = selectedItems.join(",")

           if(displayWorkProgress()){
               $.ajax({
                   url : "/bbs/deletePst.do",
                   type: 'POST',
                   cache : false,
                   dataType: 'json',
                   data : {
                	   delPstids  :delPstids
                	   ,delYn  :'Y'
               },
               success : function (data){
                	   if(data.result =='success'){
                    	   alert("게시글이 삭제 되었습니다.");
	                	   var curPage = $("#jsGrid").jsGrid("option", "pageIndex");
	                	   $("#jsGrid").jsGrid("openPage", curPage);
	                	   selectedItems = [];
                       }else{
                    	   alert("게시글이 삭제에 실패 하였습니다.");
                       }
                       closeWorkProgress();
                   },
                   error : function (error){
               } 
            });
          }
   }
 </script>
 </div>
</body>
</html>