<div class="card">
	<form id="propSchdlForm" >
		<input type="hidden"  id="aplyid" name="aplyid" th:value="${eduInstVo.aplyid}" />
		<div class="card-header p-b-0">
			<h3 class="sub-title"><strong>추진일정</strong></h3>
		</div>
		<div class="card-block-small p-t-0">
			<div class="mb-3 table-border-style">
				<div class="table-responsive">
					<table class="table table-framed">
						<thead>
						<tr>
							<th class="text-center v-middle" style="width:60px;">No</th>
							<th class="text-center v-middle">일시</th>
							<th class="text-center v-middle">시간</th>
							<th class="text-center v-middle">교육과정</th>
							<th class="text-center v-middle">세부내용</th>
							<th class="text-center v-middle">교육대상 및 인원</th>
							<th class="text-center v-middle" style="width:120px">설정</th>
						</tr>
						</thead>
						<tbody id="schldTbody">
						<tr th:if="${#lists.size(schdlList) > 0}" th:each="list, i: ${schdlList}">
							<td class="text-center"><th:block th:text="${i.count}"/></td>
							<td>
								<input type="date" id="de" name="de" th:value="${list.de}" class="form-control form-control-sm" >
							</td>
							<td>
								<input type="number" id="hr" name="hr" th:value="${list.hr}" class="form-control form-control-sm" maxlength="10">
							</td>
							<td>
								<textarea rows="3" cols="15" id="eduCrs" name="eduCrs" class="form-control form-control-sm" maxlength="100" >[[${list.eduCrs}]]</textarea>
							</td>
							<td>
								<textarea rows="3" cols="15" id="dtlCn" name="dtlCn" class="form-control form-control-sm" maxlength="200" >[[${list.dtlCn}]]</textarea>
							</td>
							<td>
								<textarea rows="3" cols="15" id="eduTrgt" name="eduTrgt" class="form-control form-control-sm" maxlength="100" >[[${list.eduTrgt}]]</textarea>
							</td>
							<td>
								<div class="btn-group-sm">
									<button onclick="addRow(this);" type="button" class="btn btn-primary m-r-5" th:if="${i.last}">추가</button>
									<button onclick="removeRow(this);" type="button" class="btn btn-inverse">삭제</button>
								</div>
							</td>
						</tr>
						<tr th:unless="${#lists.size(schdlList) > 0}">
							<td class="text-center">1</td>
							<td>
								<input type="date" id="de" name="de" class="form-control form-control-sm" >
							</td>
							<td>
								<input type="number" id="hr" name="hr" class="form-control form-control-sm" maxlength="10">
							</td>
							<td>
								<textarea rows="3" cols="15" id="eduCrs" name="eduCrs" class="form-control form-control-sm" maxlength="100" ></textarea>
							</td>
							<td>
								<textarea rows="3" cols="15" id="dtlCn" name="dtlCn" class="form-control form-control-sm" maxlength="200" ></textarea>
							</td>
							<td>
								<textarea rows="3" cols="15" id="eduTrgt" name="eduTrgt" class="form-control form-control-sm" maxlength="100" ></textarea>
							</td>
							<td class="btn-group-sm">
								<button onclick="addRow(this);" type="button" class="btn btn-primary m-r-5">추가</button>
								<button onclick="removeRow(this);" type="button" class="btn btn-inverse">삭제</button>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="card-block-small">
			<button type="button" onclick="gridHelper1.toggleContent();" class="btn btn-disabled">취소</button>
			<button type="button" onclick="fn_save()" class="btn btn-primary">저장</button>
		</div>
	</form>
</div>
<script th:inline="javascript">

var insertUrl="/mng/eduInst/insertPropSchdl.do";
var updateUrl="/mng/eduInst/updateSchdl.do";

$(function(){
    
    var validator = $("#propSchdlForm").validate({
        rules: {
        	de: { required: true }
            , hr: { required: true , number: true, maxlength:10 }
            , eduCrs: { required: true , maxlength:100 }
            , dtlCn: { required: true , maxlength:200 }
            , eduTrgt: { required: true , maxlength:100 }
        },
        messages: {
        	de: { required: "일시를 입력해주십시오." }
            , hr: { required: "시간을 입력해주십시오.", maxlength: "시간은 10자를 넘을 수 없습니다." }
            , eduCrs: { required: "교육과정을 입력해주십시오.", maxlength: "교육과정은 100자를 넘을 수 없습니다." }
            , dtlCn: { required: "세부내용을 입력해주십시오.", maxlength: "세부내용은 200자를 넘을 수 없습니다." }
            , eduTrgt: { required: "교육대상 및 인원을 입력해주십시오.", maxlength: "교육대상 및 인원은 100자를 넘을 수 없습니다." }
        }
    });
});

// 테이블 로우 추가
function addRow(obj) {
    var html = '<div class="btn-group-sm"><button onclick="addRow(this);" type="button" class="btn btn-primary m-r-5"">추가</button>';
    html += '<button onclick="removeRow(this);" type="button" class="btn btn-inverse">삭제</button></div>';
    var clickedRow = $(obj).parent().parent().parent();
    $(obj).remove();
    var newrow = clickedRow.clone();
    var ordr = Number(clickedRow.find("td:first").text())+1;
    newrow.find("td:first").html(ordr);
    newrow.find("td > input").val("");
    newrow.find("td > textarea").val("");
    newrow.find("td:last").html(html);
    newrow.insertAfter(clickedRow.parent().parent().find("tr:last"));
}

// 테이블 로우 삭제
function removeRow(obj) {
    var html = '<div class="btn-group-sm"><button onclick="addRow(this);" type="button" class="btn btn-primary m-r-5">추가</button>';
    html += '<button onclick="removeRow(this);" type="button" class="btn btn-inverse">삭제</button></div>';

    var tableObj = $(obj).parent().parent().parent().parent();
    $(obj).parent().parent().parent().remove();
    tableObj.find("tr:last").find("td:last").html(html);
    tableObj.find("tr").each(function(i){
        $(this).find("td:first").text(i+1);
    });
}

// 저장
function fn_save(){
    if(!($("#propSchdlForm").valid())) return;
    
    if(!confirm("저장하시겠습니까?")) return;
    
    var param = {};
    
    var schdlList = [];
    $('#schldTbody tr').each(function(index, value){
        var de      = $(this).find('input[name="de"]').val();
        var hr      = $(this).find('input[name="hr"]').val();
        var eduCrs  = $(this).find('textarea[name="eduCrs"]').val();
        var dtlCn   = $(this).find('textarea[name="dtlCn"]').val();
        var eduTrgt = $(this).find('textarea[name="eduTrgt"]').val();
        schdlList.push({de:de, hr:hr, eduCrs:eduCrs, dtlCn:dtlCn, eduTrgt:eduTrgt});
    });
    
    param = {
	    aplyid: $("#aplyid").val(),
	    schdlList: schdlList
    };
          
    if(displayWorkProgress()){
        $.ajax({
            url : insertUrl,
            type: 'POST',
            cache : false,
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(param),
            success : function (data){
                if(data.result=="success"){
                    alert(data.msg);
                    gridHelper1.resetListContent();
                }else{
                    alert(data.msg);
                }
                closeWorkProgress();
            }
        });
    }
}
</script>