<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/front/nolnbSubLayout">
<body>
<div layout:fragment="content">
    <div class="steps">
        <ol>
            <li>
                <div class="steps-inner">
                    <span>01</span>
                    <strong>약관동의</strong>
                </div>
            </li>
            <li class="active" title="현재 단계" aria-current="step">
                <div class="steps-inner">
                    <span>02</span>
                    <strong>신청정보 작성</strong>
                </div>
            </li>
            <li>
                <div class="steps-inner">
                    <span>03</span>
                    <strong>신청완료</strong>
                </div>
            </li>
        </ol>
    </div>

    <div class="row row-section">
        <div class="col col-small">
            <div class="sticky-navigation">
                <strong class="tit">신청정보 항목</strong>
                <div class="sticky-steps">
                    <ul>
                        <li><a href="#">신청정보</a></li>
                        <li><a href="#">운영계획 개요</a></li>
                        <li><a href="#">추진일정</a></li>
                        <li><a href="#">교육전문인력 현황</a></li>
                        <li class="active"><a href="#" title="현재 단계" aria-current="step">교육프로그램 보유현황</a></li>
                        <li><a href="#">교육시설 및 설비 현황</a></li>
                    </ul>
                    <div class="btn-wrap">
                        <div class="center">
                            <button type="button" class="btn-large btn-gray"  onclick="doSave()">중간저장</button>
                            <button type="button" class="btn-large btn-green" onclick="doSave('next')">다음</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="hldngForm" name="eduExPrtForm" class="col col-wide">
            <div id="eduPrgrmPop"></div>
            <input type="hidden" id="aplyid" name="aplyid" th:value="${eduInstVo.aplyid}" />

            <div class="table-caption mt0">
                <div class="left">
                    <h3 class="sub-title">교육프로그램 보유현황</h3>
                </div>
            </div>

            <div class="table-add-group" >
                <div class="table-row table-row-mo" th:id="'prgrmDiv'+${i.count}" th:if="${#lists.size(seePrgrmList) > 0}" th:each="prgrm, i: ${seePrgrmList}">
                    <table>
                        <caption>교육프로그램 보유현황 - 재직구분, 재직기관명, 부서(소속), 지위(직급), 재직기간, 재직증명서</caption>
                        <colgroup>
                            <col style="width:140px;">
                            <col>
                            <col style="width:140px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th scope="row">프로그램명</th>
                                <td colspan="3">
                                    <div class="form-input">
                                        <div class="form-check-list no-flex-wrap">
                                            <label class="inp"><input type="radio" id="selfYn" name="selfYn" ><b>직접입력</b></label>
                                            <label class="inp"><input type="radio" id="selfYn" name="selfYn" ><b>검색</b></label>
                                        </div>
                                        <button type="button" class="btn-medium btn-green" onclick="openPopup()">검색</button>
                                    </div>
                                    <div class="form-input mt10">
                                        <input type="text" title="직접입력 프로그램명을 입력해 주세요." placeholder="프로그램명을 입력해 주세요." id="prgrmNm" name="prgrmNm" th:value="${prgrm.prgrmNm}">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">교육주제</th>
                                <td colspan="3"><input type="text" title="교육주제" placeholder="교육주제를 입력해 주세요" id="eduSbjct" name="eduSbjct" th:value="${prgrm.eduSbjct}"></td>
                            </tr>
                            <tr>
                                <th scope="row">교육대상</th>
                                <td><input type="text" title="교육대상" placeholder="교육대상을 입력해 주세요" id="eduTrgt" name="eduTrgt" th:value="${prgrm.eduTrgt}"></td>
                                <th scope="row">교육인원</th>
                                <td><input type="number" title="교육인원" placeholder="교육인원을 입력해 주세요" id="eduNope" name="eduNope" th:value="${prgrm.eduNope}"></td>
                            </tr>
                            <tr>
                                <th scope="row">교육방법</th>
                                <td><input type="text" title="교육방법" placeholder="교육방법을 입력해 주세요" id="eduMthd" name="eduMthd" th:value="${prgrm.eduMthd}"></td>
                                <th scope="row">교육차시</th>
                                <td><input type="text" title="교육차시" placeholder="교육차시를 입력해 주세요" id="eduRnd" name="eduRnd" th:value="${prgrm.eduRnd}"></td>
                            </tr>
                            <tr>
                                <th scope="row">교육장소</th>
                                <td><input type="text" title="교육장소" placeholder="교육장소를 입력해 주세요" id="eduPlc" name="eduPlc" th:value="${prgrm.eduPlc}"></td>
                                <th scope="row">참가비</th>
                                <td><input type="number" class="ar" title="참가비" placeholder="참가비를 입력해 주세요" id="etrfee" name="etrfee" th:value="${prgrm.etrfee}"></td>
                            </tr>
                            <tr>
                                <th scope="row">지정 및 인증여부</th>
                                <td colspan="3">
                                    <span kattr:select_code="prgrmSttsCd" th:attr='grpcd=250,selectedCd=${prgrm.prgrmSttsCd}' firstOptTxt="- 선택 -" ></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="table-add-button">
                        <button th:if="${i.count > 1}" type="button" class="btn-remove-table mb0" title="테이블 삭제" onclick="delRow()">
                            <span class="icon icon-remove"></span>
                        </button>
                    </div>
                </div>

                <button type="button" class="btn-row-add" title="테이블 추가" onclick="addRow()">
                    <span class="icon icon-row-add"></span>
                </button>

            </div>

            <div class="mo-only">
                <div class="btn-wrap">
                    <div class="center">
                        <button type="button" class="btn-medium btn-gray" onclick="doSave()">중간저장</button>
                    </div>
                </div>
                <div class="btn-wrap">
                    <div class="center">
                        <button type="button" class="btn-medium btn-gray"  onclick="doPrev()">이전</button>
                        <button type="button" class="btn-medium btn-green" onclick="doSave('next')">다음</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <script th:inline="javascript">

        var nextUrl="/front/eduInst/fcltSttsForm.html";

        function goNext(){
            //if(!valid()) return false;
            location.href = nextUrl;
        }

        function openPopup(){

        	var aplyid= $('#aplyid').val();

        	$("#eduPrgrmPop").load("/front/eduInst/eduPrgrmPopup.html?aplyid="+aplyid, function(response, status, xhr) {
                if (status == "success") {
                    layerPopup.open({target:'eduPrgrmPop'});
                }
            });
        }

        function addRow() {
            var lastRow = $('div[id^="prgrmDiv"]:last');
            var idx = lastRow.index() + 2;

            if ($('#exprtListDiv div[id^="prgrmDiv"]').length >= 2) {
                alert("최대 20행까지만 추가 가능합니다.");
                return;
            }

            var newRow = lastRow.clone().attr('id', 'prgrmDiv' + idx);

            newRow.find('input').val('');
            newRow.find('select').val('');

            lastRow.after(newRow);
debugger;
            if ($('div[id^="prgrmDiv"]').length == 2) {
                $('div[id^="prgrmDiv"] div:last')
                    .append(`<button type="button" class="btn-remove-table mb0" title="테이블 삭제" onclick="delRow()"><span class="icon icon-remove"></span></button>`);
//                              <button type="button" class="btn-remove-table mb0" title="테이블 삭제" onclick="delRow()"><span class="icon icon-remove"></span></button>
            }
        }

        function delRow(){
            var lastRow = $('div[id^="prgrmDiv"]:last');
            if(lastRow.index() > 0) lastRow.remove();
        }

        function doSave(call){
        	if(call=='next'){
        		location.href = nextUrl;
        	}
        };


        $(function(){


        });
    </script>
</div>
</body>
</html>