<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout/front/subLayout">
<body>
    <div layout:fragment="content">


        <div class="content-info">
            <h3><span>사회환경교육기관</span> 지정</h3>
            <p class="fc-black6">국민의 평생 환경학습권 보장과 환경교육 서비스 품질을 제고하기 위해<br> 환경교육을 주된 목적으로 하는 법인 또는 단체를 사회환경교육기관으로 지정하여 관리합니다.</p>
            <div class="introduce-img04">
                <picture>
                    <source media="(min-width: 1280px)" srcset="/../images/front/introduce/img-intro13-01.png">
                    <source media="(max-width: 1279px)" srcset="/../images/front/introduce/img-intro13-01-2x.png 2x">
                    <img src="/../images/front/introduce/img-intro13-01.png" alt="">
                </picture>
            </div>
            <p class="fc-black6">환경교육 전문성을 보유한 ’사회환경교육기관‘을 지정(지정권자: 시·도지사)하고, <br>이를 기반으로 <strong class="fc-black3 fw-500">우수한 환경교육 실시·지원</strong> 및 현황 조사 등 <strong class="fc-black3 fw-500">체계적인 사회환경교육 관리</strong> 추진할 수 있습니다.</p>
        </div>


        <div class="table-caption">
            <div class="left">
                <h3 class="sub-title">사회환경교육기관 지정 절차</h3>
            </div>
        </div>

        <div class="card-arrow">
            <ul>
                <li>
                    <div class="icon-wrap">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="/../images/front/introduce/img-intro07_20.png">
                            <source media="(max-width: 1279px)" srcset="/../images/front/introduce/img-intro07_20-2x.png 2x">
                            <img src="/../images/front/introduce/img-intro07_20.png" alt="">
                        </picture>
                    </div>
                    <strong>지정신청서 작성</strong>
                    <div class="btn">
                        <a type="button" href="/cmmFile/aplyInfoFormFile/guid.zip" class="btn-small btn-outline-blue" download="서식파일.zip" >서식1 내려받기</a>
                    </div>
                </li>
                <li>
                    <div class="icon-wrap">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="/../images/front/introduce/img-intro07_12.png">
                            <source media="(max-width: 1279px)" srcset="/../images/front/introduce/img-intro07_12-2x.png 2x">
                            <img src="/../images/front/introduce/img-intro07_12.png" alt="">
                        </picture>
                    </div>
                    <strong>접수</strong>
                </li>
                <li>
                    <div class="icon-wrap">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="/../images/front/introduce/img-intro07_13.png">
                            <source media="(max-width: 1279px)" srcset="/../images/front/introduce/img-intro07_13-2x.png 2x">
                            <img src="/../images/front/introduce/img-intro07_13.png" alt="">
                        </picture>
                    </div>
                    <strong>확인</strong>
                </li>
                <li>
                    <div class="icon-wrap">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="/../images/front/introduce/img-intro07_14.png">
                            <source media="(max-width: 1279px)" srcset="/../images/front/introduce/img-intro07_14-2x.png 2x">
                            <img src="/../images/front/introduce/img-intro07_14.png" alt="">
                        </picture>
                    </div>
                    <strong>결재</strong>
                </li>
                <li>
                    <div class="icon-wrap">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="/../images/front/introduce/img-intro07_15.png">
                            <source media="(max-width: 1279px)" srcset="/../images/front/introduce/img-intro07_15-2x.png 2x">
                            <img src="/../images/front/introduce/img-intro07_15.png" alt="">
                        </picture>
                    </div>
                    <strong>지정서 발급</strong>
                </li>
            </ul>
        </div>

        <div class="btn-wrap">
            <button type="button" class="btn-large btn-green" onclick="goAply()">사회환경교육기관 지정 신청하기</button>
        </div>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var loginUserid = /*[[${loginUserid}]]*/null;
            /*]]>*/
            /*<![CDATA[*/
            var loginUserType = /*[[${loginUserType}]]*/null;
            /*]]>*/
            /*<![CDATA[*/
            var eduInstList = /*[[${eduInstList}]]*/null;
            /*]]>*/
            var nextUrl="/front/eduInst/trmsAgreForm.html";

            function goAply(){
                if (loginUserType == 'I') {

                    if(eduInstList != null && eduInstList.length > 0) {
                        if(confirm("작성하신 내역이 있습니다. 작성 내역 확인 및 이어서 작성을 원하시는 경우 '마이페이지 > 사회환경교육기관 지정> 신청내역' 메뉴로 이동하시어 내역 확인 후 계속 작업을 진행하셔야 합니다. 메뉴 이동하시길 원하십니까? ")){
                        	location.href  = "/front/mypage/seeEnvEduInstHist/seeEnvEduInstHistListForm.html";
                        }else{
                        	location.href  = nextUrl;
                        }
                    }else{
                    	location.href  = nextUrl;
                    }

                }else{
                    alert("기관회원만 신청할 수 있습니다.");
                    return;

                }
            }

            $(function() {
            });
        </script>
    </div>
</body>
</html>