<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/errorLayout">
<body>
<div layout:fragment="error-content">
<script type="text/javascript">

    function logout(){
        var f = document.logout_form;
        f.submit();
    }

</script>
	<h1>Oops! Error 403.</h1>
    <p>세션이 유효하지 않거나 접근권한이 없습니다.</p>
    <p><button type="button" class="btn btn-primary btn-round mt-5" onclick="logout()">로그아웃</button></p>

<form name="logout_form" th:action="@{/logout}" method="post" onsubmit="return false">
</form>
</div>
</body>
</html>