<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
    <script type="text/javascript" src="../files/assets/pages/accordion/accordion.js"></script>
    <div layout:fragment="content">
        <div class="box-step-end">
            <div class="thumb"><span class="icon icon-step-end"></span></div>
            <dl>
                <dt>환경교육 교구 대여 신청이 완료되었습니다.</dt>
                <dd>진행절차는 마이페이지에서 확인하실 수 있습니다.</dd>
            </dl>
            <div class="btn-inner"><a href="#" class="btn-large btn-green" onclick="javascript:location.href ='/front/jntpurchs/jntpurchsOrderHstryListForm.html';">마이페이지</a></div>
        </div>
    </div>
</body>
</html>