<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
    <div layout:fragment="content">
        <!-- content -->
        <form class="search-filter" id="searchForm" name="searchForm" onsubmit="return false;" >
        
            <div class="form-input-wrap">
                    <div class="form-row">
                        <div class="form-header"><strong class="label">교구명</strong></div>
                        <div class="form-body">
                            <input type="search" title="교구명" placeholder="교구명을 입력해 주세요." id="rcritNm" name="rcritNm" th:value="${params.rcritNm}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-header"><strong class="label">교육유형</strong></div>
                        <div class="form-body">
                            <span kattr:select_code="eduTypeCd" grpCd="187" title="교육유형" firstOptTxt="- 전체 -"  th:attr ="selectedCd=${params.eduTypeCd}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-header"><strong class="label">교육대상</strong></div>
                        <div class="form-body">
                           <span kattr:select_code="eduTrgtCd" grpCd="185" title="교육유형" firstOptTxt="- 전체 -" th:attr ="selectedCd=${params.eduTrgtCd}">  
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-header"><strong class="label">교구유형</strong></div>
                        <div class="form-body">
                           <span kattr:select_code="typeCd" grpCd="184" title="교육유형" firstOptTxt="- 전체 -" th:attr ="selectedCd=${params.typeCd}">
                                                   
                        </div>
                    </div>
                    <div class="form-row">
	                    <div class="form-header"><strong class="label">교육주제</strong></div>
	                    <div class="form-body">
	                        <div class="form-input">
	                            <select name="searchManinEduSbjctCd" id="searchEduSbjctCd_1" title="주제" onchange="setSearchSelectBox.setNextDepth(155,this.value,'eduSbjctCd')">
	                                <option value="" selected>- 전체 -</option>
	                            </select>
	                            <select name="eduSbjctCd" id="eduSbjctCd"  title="주제 상세" style="flex:auto">
	                                <option value="" selected>- 전체 -</option>
	                            </select>                           
	                        </div>
	                    </div>
	                </div>
                </div>
            
            <div class="search-filter-submit">
                <button type="button" class="btn-medium btn-gray btn-before-refresh" onclick="initSearch();">초기화</button>
                <button type="button" class="btn-medium btn-green btn-before-search" onclick="onSearch();">검색</button>
            </div>
            <input type="hidden" id="pageNumber"     name="pageNumber"     th:value="${(params != null and params.pageNumber > 0 )? params.pageNumber:1}"    >
            <input type="hidden" id="rowPerPage"     name="rowPerPage"     value="12" >
            <input type="hidden" id="orderDirection" name="orderDirection" value="desc">
            <input type="hidden" id="orderField"     name="orderField"     value="REG_DT">
            <input type="hidden" id="rcritid"        name="rcritid"        value="0">
        </form>
        <div class="rank-list" th:if="${#lists.size(rankList)}  > 0 ">
             <ul>
                 <li th:each="item:${rankList}"><th:block th:text="${item.NM}"></li>
             </ul>
        </div>
        <div class="table-caption flex-nowrap">
            <div class="left">
                <p>총 <b id="totalCount">0</b> 건</p>
            </div>
        </div>
        <div class="card-list card-list-n3">
            <ul id="lendList">
            </ul>
        </div>
        <div id="pagination">
        </div>

    <!-- //content -->
    <script src="/js/common/handlebars/handlebars-v4.7.7.js"></script>   
    <script src="/js/common/handlebars/handlebars.helper.js"></script>
    <script id="lendListTemplate" type="text/x-handlebars-template">
       {{#each lendList}}
       <li>
           <a href="javascript:goDetail('{{rcritid}}')">
               <div class="thumb" style="height:163px;">
                 <img src="/downloadFileByFileid.do?fileid={{rprsImgFileid}}&file_idntfc_key={{rprsImgFileKey}}" alt="{{rcritNm}} 대표 이미지" >
               </div>
               <dl class="card-program-dot-list">
                   <dt>
                       <div class="tag {{tagStr}}">{{sttsStr}}</div>
                   </dt>
                   <dd>
                       <p class="ellipsis" data-ellipsis="2">{{rcritNm}}</p>
                       <ul class="dot-list fc-black3">
                           <li class="d-flex">
                               <span class="tit">모집기간 :</span>
                               <span class="dc">{{{bgngDt}}} </br> ~  {{endDt}} </span>
                           </li>
                           <li class="d-flex">
                               <span class="tit">교육대상 :</span>
                               <span class="dc">{{{eduTrgtCdNm}}}</span>
                           </li>
                           <li class="d-flex">
                               <span class="tit">교육주제 :</span>
                               <span class="dc">{{{eduSbjctCdNm}}}</span>
                           </li>
                           <li class="d-flex">
                               <span class="tit">교육유형 :</span>
                               <span class="dc">{{eduTypeCdNm}}</span>
                           </li>
                       </ul>
                   </dd>
               </dl>
           </a>
       </li>
      {{/each}}
    </script>
    <script th:inline="javascript">
    
	    /*<![CDATA[*/ 
	    var rankList = /*[[${rankList}]]*/null; 
	    var params = /*[[${params}]]*/null; 
	    /*]]>*/
	    var noDataMeg = '<li class="block"><div class="nodata"><p><span class="icon icon-notice bg-black9"></span>데이터가 없습니다.</p></div></li>';

	    
	    $(function(){
		    
	    	var returnEduSbjctCd = "";
	    	if(params.eduSbjctCd !=null && params.eduSbjctCd != "" && params.eduSbjctCd.length > 0){
	    		returnEduSbjctCd = params.eduSbjctCd.substring(0,6)
		    }
            setSearchSelectBox.fn_getNextDepthList(155 , 0, 'searchEduSbjctCd_1',returnEduSbjctCd);
            setSearchSelectBox.setNextDepth(155,returnEduSbjctCd,'eduSbjctCd',params.eduSbjctCd)
		    selectLendList();
		})
		
		var listTemplet = Handlebars.compile($("#lendListTemplate").html());
		
		function initSearch(){
			$("#rcritNm").val("");
			$("#eduTrgtCd").val("");
			$("#typeCd").val("");
			$("#searchEduSbjctCd_1").val("").trigger("change");
			$("#eduTypeCd").val("");
		}
		function onSearch(){
			$("#pageNumber").val('1');
			selectLendList();
		}
		function selectLendList() {
		    if (displayWorkProgress(true)){
		        $.ajax({
		            url   : "/front/lend/selectLendList.do",
		            cache : false,
                    async : false,
		            dataType : 'json',
		            data : $("#searchForm").serialize(),
		            type : 'POST',
		            success : function(data) {
		            	renderingListData(data.list);
		            	$("#totalCount").text(data.totalCount);
		                if(data.totalCount == 0) {
		                	$("#lendList").html(noDataMeg);
		                    $("#pagination").html('');
		                }else{
		                    $("#pagination").html(data.pagination);
		                }
		                closeWorkProgress();
		            }
		        });
		    }
		}
		function renderingListData(list){
			
			list.forEach(function(item){
				if(item.periodStts == 'W'){
                    item.tagStr = ' tag-blue ';
                    item.sttsStr = '모집대기';
				}else if(item.periodStts == 'E'){
                    item.tagStr = ' tag-gray ';
                    item.sttsStr = '모집종료';
				}else{
					item.tagStr = ' tag-green ';
					item.sttsStr = '모집중';
				}
				item.eduTrgtCdNm = item.eduTrgtCdNm.replaceAll(",","</br>") ;
				item.eduSbjctCdNm = item.eduSbjctCdNm.replaceAll("/,","</br>").replaceAll("/",""); 
			})
		    $("#lendList").html(listTemplet({lendList:list}));
		}
		function goPage(page) {
		    $("#pageNumber").val(page);
		    selectLendList();
		}
		function enterkey() {
		    if (window.event.keyCode == 13) {
		    	selectLendList();
		    }
		}
		function goDetail(rcritid){
            var f = document.forms.searchForm ;
            f.action = "/front/lend/lendDetail.html";
            f.rcritid.value=rcritid;
            f.submit();
		}
		
        var getCodeListUrl = "/mng/customAttr/grpCodeList.do"
            
            var setSearchSelectBox = {
                fn_getNextDepthList : function(grpcd , upprcd, targetId,selected){
                    $.ajax({
                        url : getCodeListUrl,
                        type: 'GET',
                        cache : false,
                        async:false,
                        dataType: 'json',
                        data: {
                              grpcd  : grpcd
                            , upprcd : upprcd
                        }, 
                        success : function (data){
                            setSearchSelectBox.writeHtml(grpcd,targetId,data,selected);
                        },
                        error : function (error){
                        } 
                        
                    });
                },
                
                writeHtml : function(grpcd,targetId,list,selected){
                    var cntArr = targetId.split("_");
                    var nextCnt = Number(cntArr[1])+1;
                    var nextTarget = cntArr[0]+"_"+nextCnt;
                       
                    var html ="<select id='"+targetId+"' onchange=setSearchSelectBox.setNextDepth('"+grpcd+"',this.value,'"+nextTarget+"')>";
                        html +="    <option value='' selected>- 전체 -</option>";
                        
                      for(var i=0 ; i < list.length;i++){
                        if(list[i].cd==selected ){
                        html +="    <option value="+list[i].cd+" selected>"+ list[i].cdNm+ "</option>";
                        }else{
                        html +="    <option value="+list[i].cd+">"+ list[i].cdNm+ "</option>";
                        }
                      }
                      if(list.length == 0 && jQuery("#"+nextTarget)[0] != undefined){
                        setSearchSelectBox.writeHtml(grpcd,nextTarget,list,"");
                      }
                      html +="    </select>";
                      $("#"+targetId).html(html);
                },
                
                setNextDepth : function(grpcd , upprcd , targetId,selected){
                    setSearchSelectBox.fn_getNextDepthList(grpcd , upprcd , targetId,selected);
                }
            }
        
        </script>
    </div>
</body>
</html>