<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
	<div layout:fragment="content">
		<!-- content -->
		<div class="table-view">
			<div class="table-view-header">
				<h3><span><th:block th:text="${cntnts.ttl}"></th:block></span> </h3>
				<dl>
					<div class="list">
						<dt class="large">교육주제(대분류)</dt>
						<dd><th:block th:text="${cntnts.mainEduSbjctCd}"></th:block></dd>
					</div>
					<div class="list">
						<dt class="large">교육주제(중분류)</dt>
						<dd><th:block th:text="${cntnts.eduSbjctCd}"></th:block></dd>
					</div>					
				</dl>
				<dl>
					<div class="list">
						<dt class="large">콘텐츠 유형(대분류)</dt>
						<dd><th:block th:text="${cntnts.mainTypeCd}"></th:block></dd>
					</div>
					<div class="list">
						<dt class="large">콘텐츠 유형(중분류)</dt>
						<dd><th:block th:text="${cntnts.typeCd}"></th:block></dd>
					</div>
				</dl>
				<dl>
					<div class="list">
						<dt class="large">교육대상</dt>
						<dd><th:block th:text="${cntnts.eduTrgtCd}"></th:block></dd>
					</div>

				</dl>
				<th:block th:if="${cntnts.mainTypeCd} == '영상자료'">
					<dl>
						<div class="list">
							<dt class="large">제작년도</dt>
							<dd><th:block th:text="${cntnts.mnfctYy}"></th:block>년</dd>
						</div>
						<div class="list">
							<dt class="large">재생시간</dt>
							<dd id="playTime" th:text="${cntnts.plySecnd}"></dd>
						</div>
					</dl>
				</th:block>				
				<dl>
					<div class="list">
						<dt class="large">출처</dt>
						<dd><th:block th:text="${cntnts.origin}"></th:block></dd>
					</div>
					<div class="list">
						<dt class="large">등록일</dt>
						<dd><th:block th:text="${cntnts.regDt}"></th:block></dd>
					</div>	
				</dl>					
				<dl class="table-view-file">
					<div class="list">
						<dt class="large">첨부파일</dt>
						<dd>
							<div class="form-input-file">
								<ul>
								<th:block th:each="item : ${file}">
									<li class="file-block" th:data_ext="${item.ext}"><span class="name"><a href="javascript:void(0)" th:onclick="javascript:downloadFileByFileid([[${item.fileid}]],[[${item.fileIdntfcKey}]])"><th:block th:text="${item.orginlFileNm}"></th:block></a></span></li>
								</th:block>										
								</ul>
							</div>
						</dd>
					</div>
				</dl>
			</div>
			<div class="table-view-body">
				<div class="table-view-content">
					<div id="editorArea" class="cont" style="word-break:break-word;">
						<th:block th:utext="${cntnts.cn}"></th:block>
					</div>
		            <div class="opentype" th:if="${@koglLicense.getInfo(cntnts.cpyrhtCd)}">
		                <a th:if="${@koglLicense.getInfo(cntnts.cpyrhtCd)}" th:href="${@koglLicense.getInfo(cntnts.cpyrhtCd).link}" target="_blank" title="새 창">
		                    <div class="thumb">
		                        <img th:src="${@koglLicense.getInfo(cntnts.cpyrhtCd).imageSrc}" alt=""/>
		                    </div>
		                    <p><th:block th:utext="${@koglLicense.getInfo(cntnts.cpyrhtCd).desc}"> </th:block></p>
		                </a>
		            </div>					
				</div>
 			</div>

			<div class="btn-wrap">
				<div class="center">
					<!-- <button type="button" class="btn-medium btn-gray">삭제</button>
					<button type="button" class="btn-medium btn-gray">수정</button> -->
					<button type="button" class="btn-medium btn-gray" onclick="moveToDetail();">목록</button>
				</div>
			</div>				
			<div class="page-navigation">
				<th:block th:if="${cntnts.beforeCntntsid} != null">
					<a href="javascript:beforePage()">
						<dl>
							<dt>이전글</dt>
							<dd><span class="ellipsis"><th:block th:text="${cntnts.beforeCntntsTtl}"></th:block></span></dd>
						</dl>
					</a>
				</th:block>						
				
				<th:block th:if="${cntnts.nextCntntsid} != null">
					<a href="javascript:nextPage()">
						<dl>
							<dt>다음글</dt>
							<dd><span class="ellipsis"><th:block th:text="${cntnts.nextCntntsTtl}"></th:block></span></dd>
						</dl>
					</a>
				</th:block>					
			</div>
		</div>
		<!-- //content -->
	
		<script th:inline="javascript">
			var mvpid = /*[[${cntnts.mvpid}]]*/null;
		
			var beforeCntntsid = /*[[${cntnts.beforeCntntsid}]]*/ null;
			var nextCntntsid = /*[[${cntnts.nextCntntsid}]]*/  null;
			
			function beforePage() {
				location.href = "/front/cntnts/cntntsDetailForm.html?cntntsid="+beforeCntntsid
			}
			
			function nextPage() {
				location.href = "/front/cntnts/cntntsDetailForm.html?cntntsid="+nextCntntsid
			}
			
	        function moveToDetail() {
	        	history.back();
	        }
	        
	        function getTitle() {
	            var youtubeXhr = new XMLHttpRequest();
	            youtubeXhr.open('GET', 'https://noembed.com/embed?url=https://www.youtube.com/watch?v=' + arguments[0], 0);
	            youtubeXhr.send();
	            
	            return youtubeXhr.responseText.split('"title":"')[1].split('"')[0];
	        }
	        
	        $(function() {
	        	// 에디터 영역 이미지 비율 깨짐 방지
	        	//$("#editorArea img").css({width: "initial", height: "initial"});
	        	
	        	if(mvpid != null && $($("#editorArea").find("iframe")).length == 0) {
			    	var title = getTitle(mvpid);
				    var youTubeTag = `
						<iframe id="player" type="text/html" width="640" height="480"
						src="http://www.youtube.com/embed/${mvpid}?enablejsapi=1&origin=http://example.com"
						title="${title}"		
				    	frameborder="0"></iframe>`;				    
				    $("#editorArea").html(youTubeTag + $("#editorArea").html());	    	
			    }
	        });
		</script>
	</div>

</body>
</html>