/* common */
body{min-width:1280px}
em,i{font-style:normal}

.spacer-xs>*{background-color:#fff}
.spacer-xs>.center-align-text{background:transparent}
.container-fluid{min-width:1060px}

.jsgrid-header-row>.jsgrid-header-cell{
	text-align: center!important;
}

/* .form-control.input-sm{padding:0 7px} */

select::-ms-expand{display:block}

/* header */
header ul#left-nav li a{display:inline-block}
header .col-sm-12{padding:0;text-align:right}
header .col-sm-12>*{margin-left:5px;vertical-align:middle}
header .form-control{display:inline-block;width:100px}

/* title */
.main-container .top-bar.clearfix{position:relative}
.page-title>p{position:absolute;right:20px;bottom:0;line-height:1.2;color:rgba(255,255,255,.7)}
.page-title>p>span{display:inline-block;margin-left:7px}
.page-title>p>span:not(:first-child):before{margin-right:7px;content:'>'}

/* contents */
.m-top15{margin-top:15px}
.m-top20{margin-top:20px}
.display-inline-block{display:inline-block!important;width:auto!important}

.read-data{margin:0;padding:0;list-style:none}
.read-data>li{position:relative;padding-left:10px}
.read-data>li:before{position:absolute;top:8px;left:0;width:4px;height:1px;background:#666;content:''}

.read-only-bg{padding:15px;border-radius:3px;background:#f6f6f6}

.panel-heading.form-group:after{display:block;clear:both;content:''}
.panel-heading.form-group>*{display:inline-block;vertical-align:middle}
.panel-heading.form-group>label{padding-right:5px;vertical-align:-1px}
.panel-heading.form-group>label:not(:first-child){margin-left:5px}
.panel-heading.form-group select.form-control{width:70px}
.panel-heading.form-group input.form-control{width:100px}

.panel-heading.form-group+.right-align-text{margin-top:15px}

.panel-heading.form-group label{text-align:left}
.panel-heading.form-group .search{position:absolute;top:12px;right:15px}
.panel-heading.form-group .search>*{float:left}
.panel-heading.form-group .search>*:not(:first-child){margin-left:5px}
.panel-heading.form-group .search.trans1{top:calc(50% - 17px);right:15px}

.panel-heading.form-group .type-select{overflow:hidden;display:block;width:100%;margin:0;padding-top:10px;clear:both}
.panel-heading.form-group .type-select *{display:inline-block}
.panel-heading.form-group .type-select input[type="checkbox"]{vertical-align:-2px}
.panel-heading.form-group .type-select>dt{padding:0 6px 0 11px}
.panel-heading.form-group .type-select>dd>label{font-weight:400}
.panel-heading.form-group .type-select>dd>label>input{vertical-align:-2px}
.panel-heading.form-group .type-select>dd>label:not(:first-child){margin-left:10px}
.panel-heading.form-group .type-select>dd>label>span{margin-left:5px}

.panel-heading.form-group .clear-con{float:none;display:block;width:100%;margin-top:10px;clear:both}
.panel-heading.form-group .clear-con>*{float:left}
.panel-heading.form-group .clear-con>*:not(:first-child){margin-left:5px}
.panel-heading.form-group .clear-con>.type-select{width:auto;padding:5px;clear:none}

.point-count{margin-top:25px;font-size:1.1em}
.point-count>i{color:#398ab9;font-weight:600}
.right-align-text+.point-count{margin:-25px 0 10px}

.info-msg{padding:35px 15px;text-align:center!important}

.justify-button-group{overflow:hidden;padding-top:15px}
.justify-button-group>*{float:right}
.justify-button-group>*:first-child{float:left}
.sort-type-select>*{display:inline-block}

.list-type1{border-bottom:#ddd 1px solid!important}
.list-type1 th,
.list-type1 td{text-align:center}
.list-type1>tbody>tr>td,
.list-type1>tbody>tr>th,
.list-type1>thead>tr>td,
.list-type1>thead>tr>th{padding:10px 5px}
.list-type1>thead>tr>td,
.list-type1>thead>tr>th{background:#f6f6f6}

#hiddenCon{position:relative}
#hiddenCon .nav-tabs{margin:20px}
#hiddenCon .tab-content{padding:0 20px}
#hiddenCon .tab-content .nav-tabs{margin:0;padding-top:20px}
#hiddenCon .tab-content .nav-tabs>li>a{font-size:1.025em}
#hiddenCon .tab-content .tab-content{padding:20px}
#defaultInfor,
[id*='tabCon']{padding-bottom:20px}
.nav-tabs+.point-count{margin:-45px 20px 25px}
.tab-content .right-align-text.trans1{margin:-20px 0 0}
.nav-tabs+.justify-button-group{position:absolute;top:8px;right:20px}

.tit-type1{display:block;margin-top:15px;font-size:1.5em;color:#333}
.tab-title{display:block;font-size:1.1em;color:#398ab9}
.tab-title>span{margin-left:5px;font-size:.9em;color:rgba(0,0,0,.6)}
.tit-type1+.tab-title,
.profile-layout+.tab-title,
.list-row+.tab-title{margin-top:20px;padding-top:20px;border-top:#d5d5d5 1px solid}

.list-row:after{display:block;clear:both;content:''}
.list-row:not(:first-child){margin:10px 0 5px}
.list-row>*{float:left}
.list-row>strong{width:100px;margin-top:5px;text-align:left}
.list-row>div{width:calc(100% - 100px)}
.list-row+.right-align-text{margin-top:15px}

.list-row.w100>.form-con{width:100%}
.list-row.w100{position:relative}
.list-row.w100>.btn{position:absolute;top:-35px;right:0}

.list-row.trans1{position:relative}
.list-row.trans1 .control-label:before{position:absolute;top:0;left:0;bottom:0;width:100px;background:#f6f6f6;content:''}
.list-row.trans1 .control-label>span{position:relative}
.list-row.trans1 li:not(:first-child){margin-top:5px}
.list-row.trans1 li:after{display:block;clear:both;content:''}
.list-row.trans1 li>*{display:inline-block}

.list-row.trans2>*{display:flex;width:calc(50% - 100px)}
.list-row.trans2>strong{width:100px}
.list-row.trans2>.custom-btn-list:nth-child(2){width:calc(48% - 100px);margin-right:2%}
.list-row.trans2>.custom-button>input{width:calc(90% - 94px)}

.trans1 .list-row>strong{width:155px}
.trans1 .list-row>div{width:calc(100% - 155px)}

.trans1 .list-row.trans2>*{width:calc(50% - 155px)}
.trans1 .list-row.trans2>strong{width:155px}
.trans1 .list-row.trans2>strong:nth-child(3){padding-left:15px}
.trans1 .list-row.trans2 .input-size1{width:calc(100% - 16px)}

.trans2 .list-row.trans2>*{width:calc(50% - 125px)}
.trans2 .list-row.trans2>strong{width:125px}
.trans2 .list-row.trans2>strong:nth-child(3){padding-left:15px}

.form-con>i{display:inline-block;margin-top:5px}
.form-con ul{padding:0;list-style:none}
.form-con ul li{line-height:1.8}

.hide-con-wrap{padding:20px}

.tab-content .form-con .text-danger,
.tab-content .form-con .text-info{margin:5px 0 0 10px}

.form-con .custom-btn-list{width:100%}
.form-con textarea[rows="6"]{min-height:110px}
.list-row.trans2 .form-con:nth-child(2) .custom-btn-list{width:95%}

.custom-radio>label{margin-top:4px}
.custom-radio>label:not(:first-child){margin-left:15px}
.custom-radio>label>span{margin-left:5px}
.custom-radio>label>*{display:inline-block}
.custom-radio>label>input[type="radio"],
.custom-radio>label>input[type="checkbox"]{vertical-align:-2px}
.custom-radio>label>input[type="text"]{text-align:right}
.custom-radio>em{display:inline-block;margin:0 0 0 5px}
.custom-radio>em>input[type='text']{display:inline-block;width:30px}
.custom-email>*{float:left}
.custom-email>*:not(:first-child){margin-left:5px}
.custom-email>span{margin-top:5px}
.custom-email>input,
.custom-email>select{width:122px}
.custom-unit>span{line-height:30px}
.custom-unit>div{position:relative;width:60px}
.custom-unit>div>.form-control.input-sm{padding-right:20px;text-align:right}
.custom-unit>div>span{position:absolute;right:10px;bottom:0;line-height:30px}
.custom-unit.trans1>div{width:90%}
.custom-unit.trans1>div.w100{width:100%}
.custom-unit.trans2>div{width:150px;vertical-align:top}
.custom-unit.trans2>div>.form-control.input-sm{padding-right:35px}
.custom-unit.trans2>div>span{line-height:30px}
.custom-view>span{display:block;line-height:30px}
.custom-btn-list>*{float:left}
.custom-btn-list>p{width:calc(100% - 55px);margin:0 0 0 -5px}
.custom-btn-list>p>span{display:inline-block;margin:3px 0 3px 5px}
.custom-btn-list>p button{display:inline-block;width:16px;height:16px;margin:0 0 0 5px;padding:0;line-height:14px;color:#a9a9a9;font-weight:600;text-align:center;border:#a9a9a9 1px solid;border-radius:50%;background:none}
.custom-btn-list>p button.btn{width:24px;height:24px;margin:-1px 0 0 -4px;border-radius:0}
.custom-btn-list>button{float:right}
.custom-btn-list.trans1>p{width:calc(100% - 108px)}
.custom-btn-list.trans2>p{float:none;width:100%;clear:both}
.custom-button:after{display:block;clear:both;content:''}
.custom-button>*{float:left}
.custom-button>input{width:calc(50% - 94px)}
.custom-button>button{width:94px;margin-left:5px}
.custom-button>span{margin:5px 0 0 5px}
.custom-select>*{display:inline-block}
.custom-select .w-type1{width:80px}
.custom-select .w-type2{width:63px;margin-left:5px}
.custom-select .w-type3{width:100px;margin-left:5px}
.custom-select label{font-weight:400}
.custom-select label>input[type="checkbox"]{vertical-align:-2px}

.select-view-box{display:none}
.select-view-box>*{display:inline-block}
.select-view-box>input{width:25%}

.checkbox-list{overflow:hidden}
.checkbox-list>li{float:left;width:25%}
.checkbox-list>li>label{margin:0;font-weight:400}
.checkbox-list>li>label>input{margin-right:5px;vertical-align:-2px}

.profile-layout{position:relative;min-height:152px}
.profile-layout .list-row{width:calc(100% - 150px)}
.profile-photo{position:absolute;top:0;right:0;bottom:0;width:150px;text-align:center}
.profile-photo>.img{width:100px;height:100px;margin:0 auto;background:rgba(0,0,0,.15)}
.profile-photo>.img>img{width:100px;height:100px}
.profile-photo>.btn-file{overflow:hidden;position:absolute;top:110px;left:0;right:0;text-align:center}
.profile-photo>.btn-file>input{position:absolute;top:0;left:0;right:0;bottom:0;opacity:0;cursor:pointer}

.profile-layout.trans{min-height:200px;padding-left:180px}
.profile-layout.trans .profile-photo{left:0;right:auto}
.profile-layout.trans .profile-photo>.btn-file{top:150px}
.profile-layout.trans .profile-photo>.btn-file>span{width:110px;text-align:center}
.profile-layout.trans .profile-photo>.img{width:110px;height:140px}
.profile-layout.trans .profile-photo>.img>img{width:110px;height:140px}
.profile-layout.trans .profile-photo>button{position:absolute;left:calc(50% - 16px);bottom:0;border:0}

.list-sweetener{overflow:hidden}
.list-sweetener>dl{float:left;width:20%;margin:0}
.list-sweetener>dl>dt{margin-bottom:5px}
.list-sweetener label{font-weight:400}
.list-sweetener label>input{margin-right:5px;vertical-align:-2px}

.photo-search-view{margin:0;padding:0;list-style:none}
.photo-search-view>li{overflow:hidden;background:rgba(0,0,0,.05)}
.photo-search-view>li:not(:first-child){margin-top:5px}
.photo-search-view>li>*{float:left}
.photo-search-view>li>.img{width:60px;height:60px;margin:0 5px 0 0;border:#e5e5e5 1px solid;background:#fff}
.photo-search-view>li>.input-file{width:calc(100% - 140px);margin-top:20px}
.photo-search-view>li>button{float:right;margin:15px 15px 0 0}

.nav-tabs>li>a{font-size:1.075em;color:#555;font-weight:400}
.nav-tabs>li.active>a{color:#333;font-weight:600}

.modal.fade.in{background:rgba(0,0,0,.7)}
.modal.fade.width-size1 .modal-dialog{width:900px}
.modal-dialog{margin-top:150px}
.modal-header .modal-title{margin-bottom:-5px;font-size:1.75em;font-weight:600}
.modal-header .close{position:absolute;top:12px;right:15px;font-size:3.2em;opacity:.65}
.modal-footer .btn{font-size:1em}

.modal-body{padding-top:20px}
.modal-body .search:after{display:block;clear:both;content:''}
.modal-body .search>*{float:left}
.modal-body .search>*:not(:first-child){margin-left:5px}
.modal-body .search>select.form-control{width:100px}
.modal-body .search>input.form-control{width:calc(100% - 190px)}
.modal-body .popup-tit1:first-child{margin-top:0}
.modal-body .custom-radio>label{font-weight:400}

.popup-tit1{display:block;margin:20px 0 10px;font-size:1.1em;color:#398ab9}

.size-type1:after{display:block;clear:both;content:''}
.size-type1>*{float:left}
.size-type1>b{display:inline-block;margin:5px 10px 0 0}
.size-type1>select{width:70px}
.size-type1>select:nth-child(3){width:calc(100% - 137px);margin-left:5px}

.modal-body ul{margin:0;padding:0;list-style:none}

.modal-body .list-row{display:table;width:100%;margin:0;border-top:#e5e5e5 1px solid;border-bottom:#e5e5e5 1px solid}
.modal-body .list-row>*{display:table-cell;padding:5px 0 5px 10px;vertical-align:middle}
.modal-body .list-row>.control-label{margin:0;height:40px;line-height:30px;background:#f6f6f6}
.modal-body .list-row+.list-row{border-top:0}

.modal-body .list-row.w100>*{display:block;float:none;width:100%;margin:0}

.modal-body .btn.pop-trans1{position:absolute;top:12px;right:15px}

.m-view-scroll{overflow-y:auto;max-height:450px}
.m-view-scroll>li{overflow:hidden}
.m-view-scroll>li.msg-you>p{float:left}
.m-view-scroll>li.msg-me>p{float:right}
.m-view-scroll>li>p>b{display:inline-block;margin-right:10px;vertical-align:top}
.m-view-scroll>li>p>span{display:inline-block;width:450px;padding:10px;border:#e5e5e5 1px solid;border-radius:5px;background:#f6f6f6}
.m-view-scroll>li>p>span>em{display:block;font-size:.9em;color:#888;text-align:right}
.m-input-area{overflow:hidden;position:relative;margin-top:10px}
.m-input-area .form-control{width:calc(100% - 54px)}
.m-input-area .btn{position:absolute;top:0;right:0;bottom:0}

@media (max-width:767px){
  aside#sidebar{left:0}
  .logo img{max-width:120px}
  .dashboard-wrapper{margin-left:220px}
}

.select2-container--default .select2-search--inline .select2-search__field{
	height: 23px;
}

.checkbox-group label {
	position: relative;
	top: -3px;
	margin-left: 2px;
	margin-right: 5px;
}
