/*레이어 팝업 CSS 2019-05-30  start*/
.pop-layer .pop-container {
	/* padding: 20px 25px; */
	
}
.pop-conts {
	padding: 20px;
	margin: 0px;
	padding-left: 20px;
}

.pop-layer p.ctxt {
	color: #666;
	line-height: 25px;
}

.pop-layer .btn-r {
	width: 100%;
	margin: 10px 0 20px;
	padding-top: 10px;
	border-top: 1px solid #DDD;
	text-align: right;
}

.pop-layer {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	/*  width: 410px; */
	/*  height: auto; */
	background-color: #fff;
	border: 1px solid #3571B5;
	z-index: 10;
}

.dim-layer {
	display: none;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.dim-layer .dimBg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50);
}

.dim-layer .pop-layer {
	display: block;
}

a.btn-layerClose {
	display: inline-block;
	height: 25px;
	padding: 0 14px 0;
	border: 1px solid #304a8a;
	background-color: #3f5a9d;
	font-size: 13px;
	color: #fff;
	line-height: 25px;
}

a.btn-layerClose:hover {
	border: 1px solid #091940;
	background-color: #1f326a;
	color: #fff;
}
/*레이어 팝업 CSS 2019-05-30  end*/



.panel-heading {
	position: relative;
	padding: 12px 15px;
	border: none;
	border-bottom: 0;
	border-bottom: 1px solid #cae1ef !important;
	background: linear-gradient(#fdfefe, #f5f9fc);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.panel-heading .custom-icon {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	color: #333333;
	font-size: 14px;
}

.panel-heading h4 {
	margin: 0;
	display: inline;
	color: #398ab9;
	font-size: 15px;
	font-weight: 600;
}

.panel-heading ul.links {
	margin: 0;
	padding: 0;
	float: right;
	list-style-type: none;
}

.panel-heading ul.links li {
	display: inline-block;
	margin-left: 10px;
}

.panel-heading ul.links li a {
	display: block;
	color: #59a2cc;
	font-size: 14px;
	padding: 2px 6px;
}

.panel-heading ul.links li a:hover {
	color: #398ab9;
	background: rgba(0, 0, 0, 0.07);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.panel-sub-heading {
	padding: 6px 20px;
	background-color: #f5f9fc;
	border-bottom: 1px solid #e2eef6;
	font-size: 11px;
	text-align: right;
}

.panel-sub-heading a {
	color: #4697c6;
}

.panel-sub-heading a:hover {
	color: #398ab9;
}

h4.panel-title {
	font-size: 14px;
	font-weight: 600;
	color: #333333;
}

h4.panel-title .fa {
	margin-right: 4px;
	font-size: 14px;
	width: 20px;
}

h3.panel-title {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	color: #333333;
}

.panel-footer {
	padding: 0;
	border: 0;
	margin-top: -1px;
	background: transparent;
	border: 1px solid #ededed;
	border-top: 0;
	-webkit-border-radius: 0 0 2px 2px;
	-moz-border-radius: 0 0 2px 2px;
	border-radius: 0 0 2px 2px;
}

.panel-footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.panel-footer ul li {
	width: 25%;
	text-align: center;
	padding: 10px 0;
	float: left;
	height: 60px;
	background: transparent;
}

.panel-footer ul li h4 {
	font-size: 18px;
	margin: 2px 0 0 0;
	padding: 0;
	text-align: center;
}

.panel-footer ul li h4 small {
	color: inherit;
}

.panel-footer ul li p {
	color: gray;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
}


/* add from bootstrap.min.css  */
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


element.style {
    border-top: 1px solid #cae1ef;
    margin: 0px;
    bottom: 0;
    position: absolute;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
blockquote, button, code, div, dl, dt, dd, figure, fieldset, form, p, pre, input, select, textarea, table, th, td, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.dashboard-wrapper {
    padding: 0;
    margin: 0 auto;
    text-align: left;
    margin-left: 220px;
    min-height: 100% !important;
    background: url(/images/mng/subtle_dots.png);
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.h6, h6 {
    font-size: 12px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

