<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
	<div layout:fragment="content">
		<form id="cntstAplyForm">
			<!-- content -->
			<div class="table-caption">
				<div class="left">
					<div class="tag tag-green mb10">환경방학 일기장 프로젝트</div>
					<h4 class="sub-title">[초등(고) / 중등] 환경일기 쓰기 신청ㆍ접수</h4>
				</div>
			</div>
	
			<div class="box-desc-list bg7 mt10">
				<strong class="box-desc-tit">작성방법</strong>
				<ul>
					<li>지도교사가 학급별로 상이하여 여러 명인 경우, 지도교사별 지도하는 학년과 학생 수를 별도로 표기하여 주시기 바랍니다.</li>
					<li>환경일기 쓰기 사업이 22년도 환경부 성별영향평가 대상사업으로 지정됨에 따라 사업 참여 대상에 대한 성별 조사가 필요합니다. 이에 따라, 선생님과 학생들의 성별 조사가 필요하여 지도교사의 성별과 참여학생수를 남학생과 여학생으로 나누어 표기하는 것에 대하여 협조 부탁드립니다.</li>
				</ul>
				
			</div>
	
			<div class="table-row mt45">
				<table>
					<caption>[초등(고) / 중등] 환경일기 쓰기 신청ㆍ접수 - 접수기간, 당첨자 발표일, 신청대상</caption>
					<colgroup>
						<col style="width:140px;">
						<col>
						<col style="width:140px;">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">접수기간</th>
							<td>2022-08-02 14:00 ~ 2022-08-10 14:00</td>
							<th scope="row">당첨자 발표일</th>
							<td>2022-08-11 14:00</td>
						</tr>
						<tr>
							<th scope="row">신청대상</th>
							<td colspan="3">
								<th:block th:each="item : ${fldMapngInfo}">
									<th:block th:if="${itemStat.last}">
										<th:block th:text="${item.fldMapngNm}"></th:block>
									</th:block>
									<th:block th:unless="${itemStat.last}">
										<th:block th:text="${item.fldMapngNm + ', '}"></th:block>
									</th:block>
								</th:block>							
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	
			<div class="table-caption">
				<div class="left">
					<h4 class="sub-title">신청정보</h4>
				</div>
				<div class="right">
					<p class="desc"><span class="ast">*</span>표시는 필수 입력 정보입니다.</p>
				</div>
			</div>
	
			<div class="table-col table-layout-auto table-col-scroll">
				<table>
					<caption>신청정보 - 연번, 학교명, 지도교사명(성함,성별), 연락처, 신청대상, 참여학생 수(남학생,여학생), 열 삭제</caption>
					<colgroup>
						<col style="width:55px;">
						<col>
						<col style="width:12%;">
						<col style="width:9%;">
						<col style="width:16%;">
						<col style="width:11%;">
						<col style="width:8%;">
						<col style="width:8%;">
						<col style="width:55px;">
					</colgroup>
					<thead>
						<tr>
							<th scope="col" rowspan="2">연번</th>
							<th scope="col" rowspan="2">학교명<i class="ast" title="필수입력">*</i></th>
							<th scope="colgroup" colspan="2">지도교사명</th>
							<th scope="col" rowspan="2">연락처<i class="ast" title="필수입력">*</i></th>
							<th scope="col" rowspan="2">신청대상<i class="ast" title="필수입력">*</i></th>
							<th scope="colgroup" colspan="2">참여학생수<i class="ast" title="필수입력">*</i></th>
							<th scope="col" rowspan="2"><span class="blind">열 삭제</span></th>
						</tr>
						<tr>
							<th scope="col">성함<i class="ast" title="필수입력">*</i></th>
							<th scope="col">성별<i class="ast" title="필수입력">*</i></th>
							<th scope="col">남학생</th>
							<th scope="col">여학생</th>
						</tr>
					</thead>
					<tbody id="table-area">
						<tr id="info">
							<td>1</td>
							<td><input type="text" id="schlNm1"name="schlNm" title="학교명" data-width="80"></td>
							<td><input type="text" id="tcherNm1" name="tcherNm" title="지도교사명" data-width="80"></td>
							<td>
								<div class="form-check-list flex-column a-start">
									<label class="inp"><input type="radio" class="tcherGndr" name="tcherGndr1" value="남"><b>남</b></label>
									<label class="inp"><input type="radio" class="tcherGndr" name="tcherGndr1" value="여"><b>여</b></label>
								</div>
							</td>
							<td><input type="number" id="telno1" name="telno" title="연락처"  data-width="80"></td>
							<td>
								<div class="form-check-list flex-column a-start">
									<th:block th:each="item : ${fldMapngInfo}">
										<label class="inp"><input type="radio" class='pcntstFldCd' name="pcntstFldCd1" th:value="${item.fldCd}"><b><th:block th:text="${item.fldMapngNm}"></th:block></b></label>
									</th:block>
								</div>
							</td>
							<td>
								<div class="form-input">
									<input type="number" id="stdntMale1" name="stdntMale" title="남학생" style="width: 50px; flex: 0 1 50px;">
									<div class="bul">명</div>
								</div>
							</td>
							<td>
								<div class="form-input">
									<input type="number" id="stdntFemale1" name="stdntFemale" title="여학생" style="width: 50px; flex: 0 1 50px;">
									<div class="bul">명</div>
								</div>
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>
			</div>
	
			<button type="button" class="btn-row-add" title="열 추가" onclick="addAplyInfo();">
				<span class="icon icon-row-add"></span>
			</button>
	
	
	
			<div class="table-caption">
				<div class="left">
					<h4 class="sub-title">신청자료 제출</h4>
				</div>
			</div>
	
			<div class="table-row table-row-mo">
				<table>
					<caption>신청자료 제출 - 신청자료</caption>
					<colgroup>
						<col style="width:140px;">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">신청자료</th>
		                    <td>
		                        <div class="form-input-file">
		                            <label class="form-input">
		                                <input id="multiFileInput" name="files" type="file" multiple class="blind" title="파일첨부" maxcount="5" style="display: none;" th:attr="accept=${acceptUploadFileExt}">
		                                <span class="btn-medium btn-gray">파일선택</span>                              
		                            </label>
									<ul></ul>
									<p>첨부파일은 최대 5개까지 가능합니다.</p>		  		                            
		                            <ul id="multipleFileUploadSuccess">
		                                <th:block th:if="${cntst.fileList != null}">
		                                    <th:block th:each="file : ${cntst.fileList}">
		                                        <li class="file-block" th:data_ext="${#strings.substring(file.fileExtsn,1)}" th:id="${file.fileid}">
		                                            <span class="name">
		                                                <a href="javascript:void(0)" th:fileid="${file.fileid}" th:fileIdntfcKey="${file.fileIdntfcKey}"
		                                                   th:onclick="|javascript:downloadFileByFileid(this.getAttribute('fileid'), this.getAttribute('fileIdntfcKey'))|">
		                                                    [[${file.orginlFileNm}]]
		                                                </a>
		                                            </span>
		                                            <button type="button" class="file-delete" title="삭제" th:name="${file.fileid}"
		                                                    th:attr="data-file-idntfc-key=${file.fileIdntfcKey}, data-id=${file.fileid}"
		                                                    th:onclick="deleteFile(this.name, this.dataset.fileIdntfcKey)">
		                                                <span class="icon icon-circle-close"></span>
		                                            </button>
		                                        </li>
		                                    </th:block>
		                                </th:block>
		                            </ul>
		                            <input type="hidden" id="filegrpid" name="prdctFilegrpid" value="0"/>
		                        </div>
		                    </td>
						</tr>
					</tbody>
				</table>
			</div>
	
			<div class="btn-wrap">
				<div class="center">
					<button type="button" class="btn-medium btn-gray" onclick="moveToDetail();">이전</button>
					<button type="button" class="btn-medium btn-green" onclick="insertCntstAplyForm();">신청</button>
				</div>
			</div>
			<!-- //content -->
		
			<input type="hidden" name="aplyno" th:value="${cntst.aplyno}">
			<input type="hidden" name="dpcnPsbltyYn" th:value="${cntst.dpcnPsbltyYn}">
			<input type="hidden" name="dpcnUserid" th:value="${cntst.dpcnUserid}">
			<input type="hidden" name="cntstid" th:value="${userAplyInfo.cntstid}">
			<input type="hidden" name="userid" th:value="${userAplyInfo.userid}">
			<input type="hidden" name="instid" th:value="${userAplyInfo.instid}">
			<input type="hidden" name="rprsvNm" th:value="${userAplyInfo.rprsvNm}">
			<input type="hidden" name="rprsvMoblphon" th:value="${userAplyInfo.rprsvMoblphon}">
			<input type="hidden" name="eml" th:value="${userAplyInfo.eml}">
			<input type="hidden" name="zip" th:value="${userAplyInfo.zip}">
			<input type="hidden" name="addr" th:value="${userAplyInfo.addr}">
			<input type="hidden" name="addrDtl" th:value="${userAplyInfo.addrDtl}">
		</form>
		
		<script th:inline="javascript">
			var cntstid = /*[[${userAplyInfo.cntstid}]]*/ null;
			var fldMapngInfo = /*[[${fldMapngInfo}]]*/ null;
			
		
			function addAplyInfo() {
				var listHtml = $('#table-area').clone();
				var num = $('#table-area').children().length + 1;
				var pcntstFldCd = "";
				fldMapngInfo.forEach(function(item) {
					pcntstFldCd += "<label class='inp'><input type='radio' class='pcntstFldCd' name='pcntstFldCd' value='" + item.fldCd + "'><b>" + item.fldMapngNm + "</b></label>";
				});
				
				listHtml += `
				<tr id="info${num}">
					<td id="num${num}">${num}</td>
					<td><input type="text" id="schlNm${num}" name="schlNm" title="학교명" data-width="80"></td>
					<td><input type="text" id="tcherNm${num}" name="tcherNm" title="지도교사명" data-width="80"></td>
					<td>
						<div class="form-check-list flex-column a-start">
							<label class="inp"><input type="radio" class="tcherGndr" name="tcherGndr${num}" value="남"><b>남</b></label>
							<label class="inp"><input type="radio" class="tcherGndr" name="tcherGndr${num}" value="여"><b>여</b></label>
						</div>
					</td>
					<td><input type="number" id="telno${num}" name="telno" title="연락처"  data-width="80"></td>
					<td>
						<div class="form-check-list flex-column a-start">
							${pcntstFldCd}
						</div>
					</td>
					<td>
						<div class="form-input">
							<input type="number" data-width="50" id="stdntMale${num}" name="stdntMale" title="남학생" style="width: 50px; flex: 0 1 50px;">
							<div class="bul">명</div>
						</div>
					</td>
					<td>
						<div class="form-input">
							<input type="number" data-width='50' id="stdntFemale${num}" name="stdntFemale" title="여학생" style="width: 50px; flex: 0 1 50px;">
							<div class="bul">명</div>
						</div>
					</td>
					<td>
						<button type="button" class="btn-remove-table" title="열 삭제" onclick="deleteAplyInfo(${num});"><span class="icon icon-remove"></span></button>
					</td>
				</tr>
				`;
				
				$('#table-area').append(listHtml);
				$('#table-area tr').each(function(index) {
					  $(this).find($(".pcntstFldCd")).attr('name','pcntstFldCd'+(index+1));
				});
			}
			
			function deleteAplyInfo(num) {
				$('#info'+num).remove();
				$('#table-area tr').each(function(index) {
					$(this).find('td:first').text(index+1);
					$(this).find($("input[name=schlNm]")).attr('id','schlNm'+(index+1));
					$(this).find($("input[name=tcherNm]")).attr('id','tcherNm'+(index+1));
					$(this).find($(".tcherGndr")).attr('name','tcherGndr'+(index+1));
					$(this).find($("input[name=telno]")).attr('id','telno'+(index+1));
					$(this).find($(".pcntstFldCd")).attr('name','pcntstFldCd'+(index+1));
					$(this).find($("input[name=stdntMale]")).attr('id','stdntMale'+(index+1));
					$(this).find($("input[name=stdntFemale]")).attr('id','stdntFemale'+(index+1));
				});
			}
			
			function insertCntstAplyForm() {
	     		if($("input[name=dpcnPsbltyYn]").val() == "N" && $("input[name=dpcnUserid]").val() != "") {
	     			alert("중복참여가 불가능한 공모전입니다.");
	     			return false;
	     		}
	     		
				if(!validate()) return false;
				
				if(!confirm("신청하시겠습니까?")) return;
				
				var objData = [];
				var obj = {};
				var data =  $("#cntstAplyForm").serialize();

 	    	    if(displayWorkProgress(true)){
	    			$.ajax({
	    				url : "/front/cntst/insertCntstAply.do",
	    				type: 'POST',
	    				cache : false,
	    				traditional : true,
	    				dataType: 'json',
	    				data : data,
	    				success : function (data){
	    					if(data.result=="success"){
	    						for(var i=1; i<= $('#table-area').children().length; i++) {
	    							obj = {
	    								aplyid : data.aplyid
	    								,schlNm : $("#schlNm"+i+"").val()
	    								,tcherNm : $("#tcherNm"+i+"").val()
	    								,tcherGndr : $("input[name='tcherGndr"+i+"']:checked").val()
	    								,telno : $("#telno"+i+"").val()
	    								,pcntstFldCd : $("input[name='pcntstFldCd"+i+"']:checked").val()
	    								,stdntMale : $("#stdntMale"+i+"").val()
	    								,stdntFemale : $("#stdntFemale"+i+"").val()		
	    							}
	    							objData.push(obj);
	    						}
	    						
 	    						$.ajax({
	    		    				url : "/front/cntst/insertCntstAplySchl.do",
	    		    				type: 'POST',
	    		    				contentType: 'application/json',
	    		    				cache : false,
	    		    				traditional : true,
	    		    				dataType: 'json',
	    		    				data : JSON.stringify(objData),
	    		    				success : function (data){
	    		    					if(data.result=="success"){
	    		    						alert(data.msg);
	    		    						location.href = '/front/cntst/cntstListForm.html';
	    		    					}else{
	    		    						alert(data.msg);
	    		    					}
	    		    					closeWorkProgress();
	    		    				}
	    		    			});
	    					}else{
	    						alert(data.msg);
	    					}
	    					closeWorkProgress();
	    				}
	    			});
	    		}
			}
			
	        function moveToDetail() {
	        	if (!confirm('작성글이 저장되지 않을 수 있습니다. 나가시겠습니까?')) return;
	            location.href = '/front/cntst/cntstDetailForm.html?cntstid=' + cntstid;
	        }
	        
	        function validate() {
	        	var size = $('#table-area').children().length
	        	var isTrue = true;
	        	
				for(var i=0; i < size; i++) {
					if($("input[name=schlNm]").eq(i).val() == "") {
						alert("학교명을 입력해 주십시오.");
						
				        var offset = $("input[name=schlNm]").eq(i).offset();
				        $('html, body').animate({scrollTop : offset.top-300}, 300);
						$("input[name=schlNm]").eq(i).focus();
						
						isTrue = false;
						return isTrue;
					}
					
					if($("input[name=tcherNm]").eq(i).val() == "") {
						alert("성함을 입력해 주십시오.");
						
				        var offset = $("input[name=tcherNm]").eq(i).offset();
				        $('html, body').animate({scrollTop : offset.top-300}, 300);
						$("input[name=tcherNm]").eq(i).focus();
						
						isTrue = false;
						return isTrue;
					}
					
					if($("input[name=tcherGndr"+(i+1)+"]:checked").val() == null) {
						alert("성별을 선택해 주십시오.");
						
				        var offset = $("input[name=tcherGndr"+(i+1)+"]").offset();
				        $('html, body').animate({scrollTop : offset.top-300}, 300);
				        $("input[name=tcherGndr"+(i+1)+"]").eq(i).focus();
						
				        isTrue = false;
				        return isTrue;
					}
					
					if($("input[name=telno]").eq(i).val() == "") {
						if(!(isNaN($("input[name=telno]").eq(i).val()))) {
							alert("연락처는 숫자만 입력 가능합니다.");
							isTrue = false;
							return isTrue;
						}
						alert("연락처를 입력해 주십시오.");
						
				        var offset = $("input[name=telno]").eq(i).offset();
				        $('html, body').animate({scrollTop : offset.top-300}, 300);
						$("input[name=telno]").eq(i).focus();
						
						isTrue = false;
						return isTrue;
					}
					
					if($("input[name=pcntstFldCd"+(i+1)+"]:checked").val() == null) {
						alert("신청대상을 선택해 주십시오.");
						
				        var offset = $("input[name=pcntstFldCd"+(i+1)+"]").offset();
				        $('html, body').animate({scrollTop : offset.top-300}, 300);
				        $("input[name=pcntstFldCd"+(i+1)+"]").eq(i).focus();
						
				        isTrue = false;
				        return isTrue;
					}
					
					if($("input[name=stdntMale]").eq(i).val() == "") {
						if(!(isNaN($("input[name=stdntMale]").eq(i).val()))) {
							alert("남학생수는 숫자만 입력 가능합니다.");
							isTrue = false;
							return isTrue;
						}
						alert("남학생수를 입력해 주십시오.");
						
				        var offset = $("input[name=stdntMale]").eq(i).offset();
				        $('html, body').animate({scrollTop : offset.top-300}, 300);
						$("input[name=stdntMale]").eq(i).focus();
						
						isTrue = false;
						return isTrue;
					}
					
					if($("input[name=stdntFemale]").eq(i).val() == "") {
						if(!(isNaN($("input[name=stdntFemale]").eq(i).val()))) {
							alert("여학생수는 숫자만 입력 가능합니다.");
							isTrue = false;
							return isTrue;
						}
						alert("여학생수를 입력해 주십시오.");
						
				        var offset = $("input[name=stdntFemale]").eq(i).offset();
				        $('html, body').animate({scrollTop : offset.top-300}, 300);
						$("input[name=stdntFemale]").eq(i).focus();
						
						isTrue = false;
						return isTrue;
					}
				}
				return isTrue;
	        }
	        
			$(function(){
				addFileUploadEvent('multiFileInput', 'cntst_atch', 'multipleFileUploadSuccess');
			});
		</script>
	</div>

</body>
</html>)