<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
	<div layout:fragment="content">
		<!-- content -->
		<div class="table-view">
			<div class="table-view-header">
				<h3>
					<span class="tag tag-blue"><th:block th:text="${cntst.clsfCd}"></th:block></span> <br class="mo-only">
					<span><th:block th:text="${cntst.ttl}"></th:block></span>
				</h3>
				<dl>
					<div class="list">
						<dt>분류</dt>
						<dd><th:block th:text="${cntst.stts}"></th:block></dd>
					</div>
					<div class="list">
						<dt>등록기관</dt>
						<dd><th:block th:text="${cntst.instNm}"></th:block></dd>
					</div>
				</dl>
				<dl>
					<div class="list">
						<dt>등록일</dt>
						<dd><th:block th:text="${cntst.regDt}"></th:block></dd>
					</div>
					<div class="list">
						<dt>조회수</dt>
						<dd><th:block th:text="${cntst.hits}"></th:block></dd>
					</div>
				</dl>
				<dl class="table-view-file">
					<div class="list">
						<dt>첨부파일</dt>
						<dd>
							<div class="form-input-file">
								<ul>
								<th:block th:if="${file != 'Empty'}">
									<th:block th:each="item : ${file}">
										<li class="file-block" th:data_ext="${item.ext}">
											<span class="name">
												<a href="javascript:void(0)" th:onclick="javascript:downloadFileByFileid([[${item.fileid}]],[[${item.fileIdntfcKey}]])"><th:block th:text="${item.orginlFileNm}"></th:block></a>
											</span>
										</li>
									</th:block>
								</th:block>
								</ul>
							</div>
						</dd>
					</div>
				</dl>
				<dl>
					<div class="list">
						<dt>접수기간</dt>
						<dd><th:block th:text="${cntst.aplyBgngDt}"></th:block> ~ <th:block th:text="${cntst.aplyEndDt}"></th:block></dd>
					</div>
					<div class="list">
						<dt>당첨자 발표일</dt>
						<dd><th:block th:text="${cntst.prsntnDt}"></th:block></dd>
					</div>
				</dl>
			</div>
			<div class="table-view-body">
				<div class="table-view-content">
					<div class="cont" style="word-break:break-word;">
						<th:block th:utext="${cntst.cn}"></th:block>
					</div>
				</div>
				<div class="btn-wrap">
					<th:block th:if="${cntst.clsfCd} != '환경일기장신청'">
						<div class="center">
							<button type="button" class="btn-large btn-green" th:onclick="moveToAply([[${cntst.cntstid}]]);">신청하기</button>
						</div>
					</th:block>
					<th:block th:unless="${cntst.clsfCd} != '환경일기장신청'">
						<div class="center">
							<button type="button" class="btn-large btn-green" th:onclick="moveToAplySchl([[${cntst.cntstid}]]);">신청하기</button>
						</div>
					</th:block>					
				</div>
			</div>
		</div>

		<div class="btn-wrap">
			<div class="center">
				<button type="button" class="btn-medium btn-gray" onclick="moveToList();">목록</button>
			</div>
		</div>

		<div class="page-navigation">
			<th:block th:if="${cntst.beforeCntstid} != null">
			<a th:href="@{/front/cntst/cntstDetailForm.html?cntstid=}+${cntst.beforeCntstid}">
				<dl>
					<dt>이전글</dt>
					<dd><span class="ellipsis"><th:block th:text="${cntst.beforeCntstTtl}"></th:block></span></dd>
				</dl>
			</a>
			</th:block>
			<th:block th:unless="${cntst.beforeCntstid} != null">
				<a style="cursor:auto">
					<dl>
						<dt>이전글</dt>
						<dd><span class="ellipsis">이전글이 없습니다.</th:block></span></dd>
					</dl>
				</a>
			</th:block>						
			
			<th:block th:if="${cntst.nextCntstid} != null">
				<a th:href="@{/front/cntst/cntstDetailForm.html?cntstid=}+${cntst.nextCntstid}">
					<dl>
						<dt>다음글</dt>
						<dd><span class="ellipsis"><th:block th:text="${cntst.nextCntstTtl}"></th:block></span></dd>
					</dl>
				</a>
			</th:block>
			<th:block th:unless="${cntst.nextCntstid} != null">
				<a style="cursor:auto">
					<dl>
						<dt>다음글</dt>
						<dd><span class="ellipsis">다음글이 없습니다.</th:block></span></dd>
					</dl>
				</a>
			</th:block>					
		</div>
		<!-- //content -->
	
		<script th:inline="javascript">
			var stts = /*[[${cntst.stts}]]*/ null;
			var msg = /*[[${msg}]]*/ null;
			
	        function moveToAply(id) {
 	        	if(stts == "접수전") {
	        		alert("해당 공모전 신청기간이 아닙니다.");
					return false;
	        	}else if(stts == "마감") {
	        		alert("해당 공모전 신청이 마감 되었습니다.");
	        		return false;
	        	}else{
		            location.href = "/front/cntst/cntstAplyForm.html?cntstid="+id;	        		
	        	}
	        }
	        function moveToAplySchl(id) {
	        	if(stts == "접수전") {
	        		alert("해당 공모전 신청기간이 아닙니다.");
					return false;
	        	}else if(stts == "마감") {
	        		alert("해당 공모전 신청이 마감 되었습니다.");
	        		return false;
	        	}else{
		            location.href = "/front/cntst/cntstAplySchlForm.html?cntstid="+id;
	        	}
	        }
	        function moveToList() {
	            location.href = '/front/cntst/cntstListForm.html';
	        }
		</script>
	</div>

</body>
</html>