<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
	<div layout:fragment="content">
		<!-- content -->
		<form class="search-filter">
			<div class="form-input-wrap">
				<div class="form-row">
					<div class="form-header"><strong class="label">제목</strong></div>
					<div class="form-body">
						<input type="search" title="제목" placeholder="프로그램명을 입력해주세요.">
					</div>
				</div>
				<div class="form-row">
					<div class="form-header"><strong class="label">상태</strong></div>
					<div class="form-body">
						<select title="상태">
							<option value="전체">전체</option>
							<option value="전체">전체</option>
							<option value="전체">전체</option>
						</select>
					</div>
				</div>
				<div class="form-row">
					<div class="form-header"><strong class="label">분류</strong></div>
					<div class="form-body">
						<select title="분류">
							<option value="전체">전체</option>
							<option value="전체">전체</option>
							<option value="전체">전체</option>
						</select>
					</div>
				</div>
			</div>
			<div class="search-filter-submit">
				<button type="reset" class="btn-medium btn-gray btn-before-refresh">초기화</button>
				<button type="button" class="btn-medium btn-green btn-before-search">검색</button>
			</div>
		</form>


		<div class="table-caption flex-nowrap">
			<div class="left">
				<p>총 <b>0</b> 건</p>
			</div>
		</div>
		<div class="card-list card-list-n3">
			<ul>
				<li>
					<a href="#">
						<div class="flag bg-blue">접수중</div>
						<div class="thumb" style="height:163px;"><img src="https://picsum.photos/230/127" alt=""></div>
						<dl class="card-program-dot-list">
							<dt>
								<div class="tag tag-blue">우수환경도서 및 독후감 공모</div>
							</dt>
							<dd>
								<p class="ellipsis" data-ellipsis="2">우수환경도서 독후감 공모 신청접수</p>
								<ul class="dot-list fc-black3">
									<li class="d-flex">
										<span class="tit">등록기관 :</span>
										<span class="dc"> 환경보전협회</span>
									</li>
									<li class="d-flex">
										<span class="tit">접수기간 :</span>
										<span class="dc">23.01.02 11:00 ~ 23.01.15 14:00</span>
									</li>
									<li class="d-flex">
										<span class="tit">당첨자발표 :</span>
										<span class="dc">2023.01.21 14:30</span>
									</li>
								</ul>
							</dd>
						</dl>
					</a>
				</li>
				<li>
					<a href="#">
						<div class="flag bg-green">접수전</div>
						<div class="thumb" style="height:163px;"><img src="https://picsum.photos/230/127" alt=""></div>
						<dl class="card-program-dot-list">
							<dt>
								<div class="tag tag-blue">우수환경도서 및 독후감 공모</div>
							</dt>
							<dd>
								<p class="ellipsis" data-ellipsis="2">우수환경도서 독후감 공모 신청접수</p>
								<ul class="dot-list fc-black3">
									<li class="d-flex">
										<span class="tit">등록기관 :</span>
										<span class="dc"> 환경보전협회</span>
									</li>
									<li class="d-flex">
										<span class="tit">접수기간 :</span>
										<span class="dc">23.01.02 11:00 ~ 23.01.15 14:00</span>
									</li>
									<li class="d-flex">
										<span class="tit">당첨자발표 :</span>
										<span class="dc">2023.01.21 14:30</span>
									</li>
								</ul>
							</dd>
						</dl>
					</a>
				</li>
				<!-- 마감 -->
				<li>
					<a href="#" class="disabled">
						<div class="flag bg-black6">마감</div>
						<div class="thumb" style="height:163px;"><img src="https://picsum.photos/230/127" alt=""></div>
						<dl class="card-program-dot-list">
							<dt>
								<div class="tag tag-blue">우수환경도서 및 독후감 공모</div>
							</dt>
							<dd>
								<p class="ellipsis" data-ellipsis="2">우수환경도서 독후감 공모 신청접수</p>
								<ul class="dot-list fc-black3">
									<li class="d-flex">
										<span class="tit">등록기관 :</span>
										<span class="dc"> 환경보전협회</span>
									</li>
									<li class="d-flex">
										<span class="tit">접수기간 :</span>
										<span class="dc">23.01.02 11:00 ~ 23.01.15 14:00</span>
									</li>
									<li class="d-flex">
										<span class="tit">당첨자발표 :</span>
										<span class="dc">2023.01.21 14:30</span>
									</li>
								</ul>
							</dd>
						</dl>
					</a>
				</li>
				<!-- //마감 -->
			</ul>
		</div>

		<div class="pagination" aria-label="pagination">
			<button type="button" class="first" title="처음"></button>
			<button type="button" class="prev" title="이전"></button>
			<button type="button" class="active" title="현재 페이지">1</button>
			<button type="button">2</button>
			<button type="button">3</button>
			<button type="button">4</button>
			<button type="button">5</button>
			<button type="button">6</button>
			<button type="button">7</button>
			<button type="button">8</button>
			<button type="button">9</button>
			<button type="button">10</button>
			<button type="button" class="next" title="다음"></button>
			<button type="button" class="last" title="마지막"></button>
		</div>
		<!-- //content -->
	
		<script th:inline="javascript">			
			function goPage(page) {
				$("#pageNumber").val(page);
				
				cntnts.selectCntntsList();
			}            
		</script>
	</div>

</body>
</html>