<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
 	layout:decorator="layout/subLayout" 
>
	<body>
		<div layout:fragment="content">
		<script src="/js/common/common.js"></script>
        <script type="text/javascript" src="/js/validator/jquery.validate.js"></script>    
        <script type="text/javascript" src="/js/validator/jquery.validate.add.js"></script>    
        <script type="text/javascript" src="/js/validator/jquery.validate.setting.js"></script>   
   	   
    		      <!-- Row start -->
			      <div class="row no-gutter">
			        <div class="col-md-12 col-sm-12 col-xs-12">
			          <div class="panel panel-default">
			            <div class="panel-heading">
						   <h4>Validation Check </h4><br/>
						       커스텀 옵션<br/>
						     1. alert 에러메세지 표시<br/> 
						     2. input 테두리 1초간 붉은색 표시<br/>
						     3. 입력값 지우고 placeholder 로 에러메세지 표시<br/>    
						</div>
			            <div class="panel-body">
			            
			            <!-- 검색 Form  -->
			            
			              <form class="form-inline" role="form" id ="emailForm" action ="#">
			                <div class="form-group">
       			              <div class="form-group">이메일 유효성 검사 option ( null 값 , email유효성, 문자길이 :50, 공백체크)</div><br/>
			                  <label class="sr-only" for="exampleInputEmail2" >발송 이메일</label> 
                               <input type="text" class="form-control" id="email_to" name= "email" placeholder="이메일" alt="이메일"/>  
			                  <button  class="btn btn-info" id=""> Check</button>
			                </div>
			              </form>
			                
			              <form class="form-inline" role="form" id ="passwordForm1" action ="#">
			                <div class="form-group">패스워드 정책1 (null 값, 영어,숫자만 , 한글(x), 10글자이상, 공백체크)</div><br/>
			                <div class="form-group">
			                  <label class="sr-only" for="exampleInputPassword2">제목</label>
                              <input type="text" class="form-control" id="text" name= "pw1" placeholder="패스워드1"  />
		                    <button  class="btn btn-info" id="search"> Check</button>
			                </div>
			              </form>
			              
			              <form class="form-inline" role="form" id ="passwordForm2" action ="#">
			                <div class="form-group">패스워드 정책2 (null 값, 영어.숫자.특수기호만 , 한글(x), 10글자이상, 공백체크 )</div><br/>
			                <div class="form-group">
                              <input type="text" class="form-control input-group-sm" id="text" name= "pw2" placeholder="패스워드2" />
		                     <button  class="btn btn-info" id="search"> Check</button>
			                </div>
			              </form>
			              
			              <form class="form-inline" role="form" id ="idForm" action ="#">
			                <div class="form-group ">주민번호 (null 값, 문자길이13자, 주민번호 유효성 체크 ,공백체크)</div><br/>
			                <div class="form-group ">
			                  <label class="sr-only" for="exampleInputPassword2">제목</label>
                              <input type="text" class="form-control " id="text" name= "id" placeholder="주민번호" />
		                    <button  class="btn btn-info " id=""> Check</button>
			                </div>
			              </form>
			              
			              <div class="panel-heading" ><h4>커스텀 속성(kattr Attr) custom dialect in thymeleaf</h4></div>
			                <h4>kattr:select_code (get code data)</h4>
			                
			                <div class="form-group ">
			                                    단일 selectBox 일때  
				                'kattr:select_code="셀릭트박스 Id"  <br/> 
				                 grpCd="그룹코드"<br/>  
				                 selectedCd="디폴트 코드 값 "<br/> 
				                 upprCd="상위 코드값" <br/> 
				                 onchange="커스텀 할 function" --> parameter:  selectBox.value 셀렉트박스 선택 코드 값
				                <span  kattr:select_code="codeTagId" th:attr="grpcd=${grpcd}"  selectedCd="A0001" onchange="next">select Code</span>
	 			                <div kattr:select_code="codeTagId_1" grpCd="G0001"  upprCd="A0001" selectedCd="B0001" >select Code</div>
	 			                <div kattr:select_code="codeTagId_2" grpCd="G0001"  upprCd="B0001" selectedCd="C0001" >select Code</div>
 			                </div>
 			                
			                <h4>kattr:check_code(get code data)</h4>
  			                                    단일 checkBox 일때  
				                'kattr:check_code="체크박스 Id"  <br/>
			                <span kattr:check_code="checkId" grpCd="G0001"  upprCd="B0001" selectedCd="C0001" ></span>
			                
			                  <h4>kattr:radio_code (get code data)</h4>
  			                                    단일 checkBox 일때  
				                'kattr:radio_code="라디오버튼  Id"  <br/>
			                
			                <span kattr:radio_code="checkId1" grpCd="G0001"  selectedCd="C0001" ></span>
			                <span kattr:radio_code="checkId2" grpCd="G0001"  upprCd="A0001" selectedCd="C0001"  ></span>
			                <span kattr:radio_code="checkId3" grpCd="G0001"  upprCd="B0001" selectedCd="C0001"  ></span>
			                
			                <h4>kattr:check_codes(get code data)</h4>
   			                     selectBox 그룹코드 값 depth 체크 후 갯 수만큼 selectbox 생성<br/>  
				                'kattr:select_codes"셀릭트박스Id" (idsms 차례대로 id_1 , id_2, id_3 등으로  셀릭트박스Id+'_순서' 로 생성)  <br/>
 			                <span kattr:select_codes="codeIdsss" th:attr="grpCd=${grpcd}"  upprCd="B0001" selectedCd="A0001" ></span>
 			                <span kattr:select_codes="codeIdsss" grpCd="100"   ></span>
 			                
			                <h4>kattr:date_pic</h4>
			                kattr:date_pic="2" ex) 2->시작일과 종료일 동시에 생성  , 1 -> 단일 데이트 픽커 생성<br/>
			                s_id = "시작일 input id, name" 속성으로 id, name 동시 생성 (없을시 디폴트 id = startDate)    <br/>
			                e_id = "종료일 input id, name" 속성으로 id, name 동시 생성 (없을시 디폴트 id = endDate)    <br/>
			                d_form="yy/mm/dd" 날자 포맷변환  디폴트 값은  yymmdd <br/>
			                s_default = "시작일 디폴트 값" 디폴트 값은 날자포맷과 동일한 포맷일 때 적용 됨 (선택) <br/>
			                e_default = "종료일 디폴트 값" 디폴트 값은 날자포맷과 동일한 포맷일 때 적용 됨 (선택) <br/>
			                s_label = "시작일 라벨 및 placeholder값" 디폴트 값은 날자포맷과 동일한 포맷일 때 적용 됨  (없을시 디폴트 라벨 = 시작일)<br/>
			                e_label = "종료일 라벨 및 placeholder값" 디폴트 값은 날자포맷과 동일한 포맷일 때 적용 됨  (없을시 디폴트 라벨 = 종료일)<br/>
			                
                            <span kattr:date_pic="start_dt" dateDefault="2011/01/25"   addClass=" input-sm" addStyle="width:150px"      dateForm="yy/mm/dd"></span>

			            </div>
			          </div>
			        </div>
			      </div>
		      <!-- Row end -->
		      
	     <script type="text/javascript">
		     
		 	var getCodeListUrl = "/mng/customAttr/grpCodeList.do";
 		 	
		 	function fn_getNextDepthList(grpcd , upprcd,targetId ){
				$.ajax({
					url : getCodeListUrl,
					type: 'POST',
					cache : false,
					dataType: 'json',
					data: {
						  grpcd  : grpcd
						, upprcd : upprcd
					},
 					beforeSend : function(xhr){   
						//데이터를 전송하기 전에 헤더에 csrf값을 설정한다
		                xhr.setRequestHeader("[(${_csrf.headerName})]", "[(${_csrf.token})]");
		            }, 
					success : function (data){
						writeHtml(grpcd,targetId,data,"");
					},
				 	error : function (error){
					} 
					
				});
			}
		 	
		 	function writeHtml(grpcd,targetId,list,selected){
		 		   
		   	   var cntArr = targetId.split("_");
		   	   var nextCnt = Number(cntArr[1])+1;
		   	   var nextTarget =  cntArr[0]+"_"+nextCnt;
		   	   
		       var html ="<select id='"+targetId+"' class ='form-control' onchange=setNextDepth('"+grpcd+"',this.value,'"+nextTarget+"')>";
		    	   html +="    <option  >전체</option>";
		    	   
   		    		  for(var i=0 ; i < list.length;i++){
   		    			if(list[i].cdid==selected){
     		    			html +="    <option value="+list[i].cd+" selected>"+ list[i].cd_nm+ "</option>";
   		    			}else{
    		    			html +="    <option value="+list[i].cd+">"+ list[i].cd_nm+ "</option>";
   		    			}
   		    		  }
     		    	  html +="    </select>";
     		    	  $("#"+targetId).html(html);
		 	}
		 	
		     
		    function setNextDepth(grpcd , upprcd , targetId){
			    	  fn_getNextDepthList(grpcd , upprcd , targetId);
		    }
		     
			  $(function() {
				  
				     //test 편의를 위해 각기 다른 form 으로 체크
				     
					 $("#emailForm").validate({
						    rules: { //밸리데이션 옵션 설정 
						    	email : // email --> 태그 name 속성                                    
						    	{
						    		required: true
						    		,isBlank : true
						    		,email:true
						    		,maxlength:50
						    	 } // rule 설정 
						    },
						    messages: {  //밸리데이션 메세지 설정 - 기재하지 않을 경우 jqeury.validate.setting.js 에 기재한 디폴트 값으로 alert 표출 
						    	email: {
						            required: "이메일을 입력해주십시오"
	   			            	   ,isBlank : "이메일에 공백이 있습니다."
						           ,email:    "이메일을 확인해주십시오"
						           ,maxlength:"이메일 입력 값은 50자를 넘을 수 없습니다."
						           
						        },
						        
						    }
					});
				     
					$("#passwordForm1").validate({
						    rules: { //밸리데이션 옵션 설정 
						    	pw1 :                                     
						    	{ 
						    	 required: true
						    	,isBlank : true
						    	,isHangulOff: true
						    	, passwordPolicy1:true
						    	, minlength:10
						    	} // rule 설정 기재 순서대로 차례대로 검사  
						    },
						    messages: {  //밸리데이션 메세지 설정 - 기재하지 않을 경우 jqeury.validate.setting.js 에 기재한 디폴트 값으로 alert 표출 
						    	pw1: {
							    		required:          "패스워드를 입력해주십시오"
								    	, passwordPolicy1: "알파벳 , 숫자만 사용가능합니다."
								    	, minlength:       "패스워드는 10자 이상어야 합니다. "
								    	,isHangulOff:      "한글은 사용 하실 수 없습니다."
								    	,isBlank :         "패스워드에 공백이 있습니다."
						        },
						    }
					});
					 
					 $("#passwordForm2").validate({ 
						    rules: { //밸리데이션 옵션 설정 
						    	pw2 :                                     
						    	{
						    	  required: true
						    	 , isBlank : true
						    	 , passwordPolicy2:true
						    	 , minlength:10 
							     , isHangulOff: true
						    	 } // rule 설정 
						    },
						    messages: {  //밸리데이션 메세지 설정 - 기재하지 않을 경우 jqeury.validate.setting.js 에 기재한 디폴트 값으로 alert 표출 
						    	pw2: {
    						    		 required:         "패스워드를 입력해주십시오"
								    	,passwordPolicy2:  "알파벳 , 숫자, 특수기호 모두 사용하여야 합니다."
								    	,minlength:        "패스워드는 10자 이상어야 합니다."
								    	,isHangulOff:      "한글은 사용 하실 수 없습니다."
								    	,isBlank :         "패스워드에 공백이 있습니다."
						        },
						    }
					});
					
				   $("#idForm").validate({
						    rules: { //밸리데이션 옵션 설정 
						    	id :                                     
						    	{
						    		required : true
    					    	   ,isBlank : true
						           ,isSybolOff :true
						    	   ,number :true
						           ,isRightId :true
						    	}  //rule 설정
						    },
						    messages: { //밸리데이션 메세지 설정 - 기재하지 않을 경우 jqeury.validate.setting.js 에 기재한 디폴트 값으로 alert 표출 
						    	id: {
    						    		required   :"주민번호를 입력해주십시오"
    						    	  , isBlank    :"주민번호에 공백이 있습니다."
							          , isRightId  :"주민번호가 유효 하지 않습니다."
							          , number     :"숫자만 기입 가능합니다."
							          , isSybolOff :"'-' 과 같은 특수 기호는 사용 하실수 없습니다."
						        },
						    }
					});
				     
			  });
			  
   	   </script> 
   	   
   	   
   	   
		</div>
	</body>
	
	
</html>