<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
    <div layout:fragment="content">
		<form id ="saveForm">
		    <input type="hidden" name="dmndid" id="dmndid" th:value="${detail.dmndid == null ? 0 : detail.dmndid}"/>
		    <input type="hidden" name="dmndSttsCd" id="dmndSttsCd" value=""/>
		    <input type="hidden" name="aplySttsCd" id="aplySttsCd" value=""/>
		    <section>
	            <div class="table-caption">
	                <div class="left">
	                    <h3 class="sub-title">신청자 정보</h3>
	                </div>
	                <div class="right">
	                    <p class="desc"><span class="ast">*</span>표시는 필수 입력 정보입니다.</p>
	                </div>
	            </div>
	
	            <div class="table-row table-row-mo">
	                <table>
	                    <caption>신청자 정보  - 사업분야, 공모명, 프로그램명, 신청기관 / 신청자, 송금은행 계좌번호, 사업비 반환기간, 포기사유</caption>
	                    <colgroup>
	                        <col style="width:140px;">
	                        <col>
	                    </colgroup>
	                    <tbody>
	                        <tr>
	                            <th scope="row">사업분야<i class="ast" title="필수입력">*</i></th>
	                            <td>
	                                <div class="form-input">
	                                    <select title="사업분야" data-width="300" id="fldCd" name="fldCd" onchange="getPcntstList(this.value)">
	                                        <option value="선택">- 선택 -</option>
	                                        <th:block th:each="item : ${list}">
	                                            <option th:value="${item.fldCd}" th:selected="${item.fldCd == detail.fldCd}"><th:block th:text="${item.fldNm}"/></option>
	                                        </th:block>
	                                    </select>
	                                    <p class="form-msg"></p>
	                                </div>
	                            </td>
	                        </tr>
	                        <tr>
	                            <th scope="row">공모명<i class="ast" title="필수입력">*</i></th>
	                            <td>
	                                <div class="form-input">
	                                    <select title="공모명" data-width="300" id="aplyid" name="aplyid" onchange="getBaseInfo(this.value)">
	                                        <option value="선택">- 선택 -</option>
	                                        <option th:if="${detail.dmndid > 0}" th:value="${detail.aplyid}" selected="true"><th:block th:text="${detail.pcntstNm}"></option>
	                                    </select>
	                                    <p class="form-msg"></p>
	                                </div>
	                            </td>
	                        </tr>
	                        <tr>
	                            <th scope="row">프로그램명<i class="ast" title="필수입력">*</i></th>
	                            <td>
	                                <div class="form-input">
	                                    <select title="프로그램명" data-width="300" id="prgrmNm" name="prgrmNm">
	                                        <option value="선택">- 선택 -</option>
	                                        <option th:if="${detail.dmndid > 0}" selected="true"><th:block th:text="${detail.prgrmNm}"></option>
	                                    </select>
	                                    <p class="form-msg"></p>
	                                </div>
	                            </td>
	                        </tr>
	                        <tr>
	                            <th scope="row">신청기관 / 신청자</th>
	                            <td>
	                                <span id="userInfo"><th:block th:text="${detail.instNm == null ? '-' : detail.instNm}"/> / <th:block th:text="${detail.aplcntNm}"/></span>
                                    <input type="hidden" name="userid" id="userid" th:value="${detail.userid}"/>
                                    <input type="hidden" name="instid" id="instid" th:value="${detail.instNm == null ? '' : detail.instid}"/>
	                            </td>
	                        </tr>
	                        <tr>
	                            <th scope="row">송금은행 계좌번호<i class="ast" title="필수입력">*</i></th>
	                            <td>
	                                <div class="form-input mo-flex-wrap">
	                                    <div class="form-input">
	                                        <span kattr:select_code="bankCd" grpCd="154" th:attr="selectedCd=${detail.bankCd}" firstOptTxt="- 전체 -" addClass="input-sm" title="송금 은행"></span>
	                                        <p class="form-msg"></p>
	                                    </div>
	                                    <div class="form-input">
	                                        <input type="number" title="계좌번호" placeholder="계좌번호 입력" style="width:50%;flex:auto;" id="bacntno" name="bacntno" th:value="${detail.bacntno}"/>
	                                        <p class="form-msg"></p>
	                                    </div>
	                                    <div class="form-input">
                                            <input type="text" title="예금주" placeholder="예금주 입력" style="width:50%;flex:auto;" id="dpstrNm" name="dpstrNm" th:value="${detail.dpstrNm}"/>
                                            <p class="form-msg"></p>
	                                    </div>
	                                </div>
	                            </td>
	                        </tr>
	                        <tr>
	                            <th scope="row">사업비 반환기간<i class="ast" title="필수입력">*</i></th>
	                            <td>
	                                <div class="form-input">
	                                    <input type="date" title="시작일" id="rturnBgngDe" name="rturnBgngDe" th:value="${detail.rturnBgngDe}"><p class="form-msg"></p>
	                                    <div class="bul">~</div>
	                                    <input type="date" title="종료일" id="rturnEndDe" name="rturnEndDe" th:value="${detail.rturnEndDe}"><p class="form-msg"></p>
	                                </div>
	                                <p class="desc">* 사업포기 승인 이후, 사업비를 반환하기에 충분한 기간을 입력주세요. 신청일로 부터 2주 이상</p>
	                            </td>
	                        </tr>
	                        <tr>
	                            <th scope="row">포기사유<i class="ast" title="필수입력">*</i></th>
	                            <td>
	                                <textarea title="포기사유" placeholder="내용을 입력해주세요." id="cn" name="cn" maxlength="500"><th:block th:text="${detail.cn}"/></textarea><p class="form-msg"></p>
	                                <div class="desc ar size"><span class="cn">0</span> / 500자</div>
	                            </td>
	                        </tr>
	                    </tbody>
	                </table>
	            </div>
	
	            <div class="btn-wrap">
	                <div class="center">
	                    <button th:if="${detail.dmndid > 0 and detail.dmndSttsCd == '220101'}" type="button" class="btn-medium btn-gray" onclick="save('192102','220102');">신청취소</button>
	                    <button type="button" class="btn-medium btn-gray" onclick="moveToList();">목록</button>
	                    <button th:if="${detail.dmndSttsCd != '220102' and detail.dmndSttsCd != '220103'}" type="button" class="btn-medium btn-green" onclick="save('192103','220101');">저장</button>
	                </div>
	            </div>
	        </section>
		</form>
		
		<style>
            .form-msg { color : red; }
        </style> 
		<script th:inline="javascript">
		/*<![CDATA[*/
        var dmndid = /*[[${detail.dmndid}]]*/null;
        var dmndSttsCd = /*[[${detail.dmndSttsCd}]]*/null;
        /*]]>*/
		$(function () {
			$(".cn").text($("#cn").val().length);
            $("#fldCd, #aplyid, #prgrmNm").attr("readonly", Number(dmndid) > 0 ? true : false);
            if (dmndSttsCd == "220102" || dmndSttsCd == "220103") {
            	$("select,input,data,textarea").attr("readonly", true);
            	
            }
            
            $("#cn").on("keyup", function(){
                var id = $(this).attr("id");
                $("." + id).text($(this).val().length);
            });
            
            var validator = $("#saveForm").validate({
                rules: {
                	fldCd : { required: true } 
                    , aplyid : { required: true } 
                    , prgrmNm : { required: true } 
                    , bankCd : { required: true } 
                    , bacntno : { isBlank: true, required: true, maxlength: 40 } 
                    , dpstrNm : { isBlank: true, required: true, maxlength: 20 } 
                    , rturnBgngDe : { required: true } 
                    , rturnEndDe : { required: true } 
                    , cn : { required: true, maxlength: 1000 } 
                },
                messages: {
                	fldCd    :   { required: "사업분야를 선택해주십시오." }  
                    , aplyid    :   { required: "공모명을 선택해주십시오." }  
                    , prgrmNm    :   { required: "프로그램명을 선택해주십시오." }
                    , bankCd    : { required: "송금은행을 선택해주십시오." }
                    , bacntno    :   { required: "계좌번호를 입력해주십시오.", maxlength: "계좌번호는 최대 40자를 넘을수 없습니다." }
                    , dpstrNm    :   { required: "예금주명을 입력해주십시오.", maxlength: "예금주명은 최대 20자를 넘을수 없습니다." }
                    , rturnBgngDe    :   { required: "사업비 반환기간을 선택해주십시오." }
                    , rturnEndDe    :   { required: "사업비 반환기간을 선택해주십시오." }
                    , cn    :   { required: "포기사유를 입력해주십시오.", maxlength: "포기사유는 최대 1000자를 넘을수 없습니다." }
                }
            });
        });
		
		// 목록
        function moveToList() {
            location.href = '/front/cncl/cancelListForm.html';
        }
        
        // 제출
        function save(aplySttsCd, dmndSttsCd) {
        	if(!($("#saveForm").valid())) return;
            if(!confirm("저장하시겠습니까?")) return;
            $("#aplySttsCd").val(aplySttsCd);
            $("#dmndSttsCd").val(dmndSttsCd);
            var data =  $("#saveForm").serialize();
            if(displayWorkProgress(true)){
                $.ajax({
                    url : "/front/cncl/saveCancel.do",
                    type: 'POST',
                    cache : false,
                    dataType: 'json',
                    data : data,
                    success : function (data){
                    	if(data.result=="success"){
                            alert(data.msg);
                            moveToList();
                        }else{
                            alert(data.msg);
                        }
                        closeWorkProgress();
                    }
                });
            }
        }
                
        function getPcntstList(fldCd) {
        	if(displayWorkProgress(true)){
                $.ajax({
                    url : "/front/cncl/selectBaseInfo.do",
                    type: 'GET',
                    cache : false,
                    dataType: 'json',
                    data : {
                        fldCd: fldCd
                    },
                    success : function (data){
                    	$('#aplyid').children('option:not(:first)').remove();
                        for(var i = 0; i < data.list.length; i++) {
                            var option = $('<option value="'+data.list[i].aplyid+'">'+data.list[i].pcntstNm+'</option>');
                        	$('#aplyid').append(option);
                        }
                        closeWorkProgress();
                    }
                });
            }
        }
        
        function getBaseInfo(aplyid) {
        	if(displayWorkProgress(true)){
                $.ajax({
                    url : "/front/cncl/selectBaseInfo.do",
                    type: 'GET',
                    cache : false,
                    dataType: 'json',
                    data : {
                        aplyid: aplyid
                    },
                    success : function (data){
                        console.log(data.list);
                        var vData = null;
                        for(var i = 0; i < data.list.length; i++) {
                        	vData = data.list[i];
                        	if (vData.aplySttsCd == "192103") {
                        		alert("이미 사업포기신청한 공모입니다.");
                        		return false;
                        	}
                            var option = $('<option value="'+vData.aplyid+'">'+vData.prgrmNm+'</option>');
                        	$('#prgrmNm').append(option);
                        	$("#prgrmNm").val(vData.aplyid).prop("selected", true);
	                        $("#userInfo").text((vData.instid == null ? '-' : vData.instNm + " / " + vData.aplcntNm));
	                        $("#userid").val(vData.userid);
	                        $("#instid").val(vData.instid);
	                        $("#bankCd").val(vData.bankCd).prop("selected", true);
	                        $("#bacntno").val(vData.bacntno);
	                        $("#dpstrNm").val(vData.dpstrNm);
                        }
                        if (vData == null) {
                        	$("#prgrmNm").children('option:not(:first)').remove();
                        	$("#userInfo").text(" / ");
                            $("#userid").val("");
                            $("#instid").val("");
                            $("#bankCd").val("").prop("selected", true);
                            $("#bacntno").val("");
                            $("#dpstrNm").val("");
                        }                        
                        closeWorkProgress();
                    }
                });
            }
        }
		</script>
    </div>
</body>
</html>