<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/mng/mainLayout">
<body>
<div layout:fragment="content">
    <style>
        .hide {
            display: none;
        }
    </style>
	<div class="page-body">
		<div class="row">
			<div class="col-12">
				<form name="searchForm" id="searchForm" action="" onsubmit="return false;" class="card">
					<div class="card-block-small">
	                    <div class="row">
	                        <div class="col-lg-3 col-md-6 mb-3">
	                            <div class="mb-0 form-group row">
	                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
	                                <div class="input-group input-group-sm input-group-dropdown mb-0">
	                                    <select name="searchType" id="searchType" class="form-select form-control">
	                                        <option value="">- 선택 -</option>
	                                        <option value="nm">제목</option>
	                                        <option value="cntnts">내용</option>
	                                    </select>
	                                    <input type="text" class="form-control form-control-sm" name="searchKeyword" id="searchKeyword" aria-label="Text input with dropdown button">
	                                </div>
	                            </div>
	                        </div>
	                        <div class="col-lg-3 col-md-6 mb-3">
	                            <div class="mb-0 form-group row">
	                                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사이트</strong></div>
	                                <div class="col-sm-12">
	                                    <th:block kattr:select_site="searchSite" sysSeCd="U" witdh="100%" firstOptTxt="- 선택 - " firstOptVal="" isAdmin="true"></th:block>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="mt-1 p-t-20 text-center border-top">
	                        <button type="button" class="btn btn-disabled m-r-5" onclick="cmmBbs.searchInit()">초기화</button>
	                        <button type="submit" class="btn btn-primary" onclick="cmmBbs.search()">검색</button>
	                    </div>
		        	</div>
                </form>
            </div>
        </div>

        <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
        <div class="card">
            <div class="row p-20 p-b-0">

                <div class="col-12 col-md-6">
                    <h5><strong>[[${bbsNm}]] 검색결과</strong></h5>
                </div>
                <div class="col-12 col-md-6 text-right">
                    <th:block sec:authorize-url="/bbs/deletePst.do">
                        <button type="button" class="btn btn-inverse waves-effect waves-light m-r-5" onclick="cmmBbs.deletePst()">삭제</button>
                    </th:block>
                    <th:block th:with="url=@{/cmm/bbs/{param1}/write.html(param1=${bbsid})}">
                        <th:block th:if="${@menuPrintImpl2.isMenuAuth(url)}">
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="cmmBbs.insertPstForm()">등록</button>
                        </th:block>
                    </th:block>
                </div>
            </div>
            <div class="card-block-small">
                <!--jsGrid-->
                <table id="jsGrid" class="table table-responsive"></table>
                <div id="listPager" class="text-center"></div>
            </div>
        </div>
        <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->

        <div class="col-12">
            <div id="contentPanel" style="display:none" class="card"></div>
        </div>
    </div>

    <script src="/js/ckeditor/ckeditor.js"></script>
    <script th:inline="javascript">
        var cmmBbs = {
            gridHelper: null,
            /*<![CDATA[*/
            id: /*[[${bbsid}]]*/null,
            /*]]>*/
            selectedItems: [],
            isGridOptionChanged: false,
            clickedItem: null,
            deleteUrl: null,
            insertUrl: null,

            init() {
                this.gridHelper = new GridHelper('jsGrid', 'contentPanel');
                this.deleteUrl = "/cmm/bbs/" + this.id + "/delete.do";
                this.insertUrl = "/cmm/bbs/" + this.id + "/write.html";

            },

            search() {
                if ($("#selectSitesearchSite").val() == null || $("#selectSitesearchSite").val().trim() == "") {
                    alert('검색할 사이트를 선택해 주십시오.');
                    return;
                }
                this.gridHelper.resetListContent();
            },

            searchInit() {
                $('#searchKeyword, #searchType').val('');
                $('#searchSite').val('');
            },

            insertPstForm() {
                if ($("#selectSitesearchSite").val() == null || $("#selectSitesearchSite").val().trim() == "") {
                    alert('등록할 사이트를 선택해 주십시오.');
                    return;
                }

                this.gridHelper.loadContent(this.insertUrl);
            },

            writeJsGridData() {
                $("#jsGrid").jsGrid({
                    height: "auto",
                    width: "100%",
                    autoload: true,
                    sorting: false,
                    paging: true,
                    pagerContainer: "#listPager",
                    pagerFormat: "{first} {prev} {pages} {next} {last}",
                    pagePrevText: "이전",
                    pageNextText: "다음",
                    pageFirstText: "< 처음 ㅣ",
                    pageLastText: "ㅣ 마지막 >",
                    pageSize: 10,
                    pageButtonCount: 10,
                    pageLoading: true,
                    pageIndex: 1,
                    noDataContent: "데이터가 없습니다.",

                    controller: {
                        loadData: function (filter) {
                            var data = $.Deferred();

                            var formData = $('#searchForm').serializeArray();

                            var params = [
                                {name: "pageNumber", value: filter.pageIndex},
                                {name: "rowPerPage", value: filter.pageSize},
                                {name: 'bbsid', value: cmmBbs.id},
                                {name: 'orderDirection', value: 'asc'}
                            ]

                            if (filter.sortField == undefined) {
                                params.push({name: "orderField", value: 'reg_dt'});
                            }

                            formData = formData.concat(params);

                            $.ajax({
                                type: "GET",
                                contentType: "application/json; charset=utf-8",
                                url: "/bbs/getPstList.do",
                                dataType: "json",
                                data: formData
                            }).done(function (response) {
                                var da = {
                                    data: escapeGridData(response.list)
                                    , itemsCount: response.totalCount
                                };
                                data.resolve(da);
                            });

                            return data.promise();
                        }
                    },
                    fields: [
                        {
                            headerTemplate: function() {
                                return $("<input>").attr("type", "checkbox").attr("id", "selectAllCheckbox").on('change', function(item) {
                                    cmmBbs.selectedItems = [];
                                    if(this.checked) { // check select status
                                        $('.singleCheckbox').each(function() {
                                            this.checked = true;
                                            selectItem($(this).parent().next().text());
                                        });
                                    }else {
                                        $('.singleCheckbox').each(function() {
                                            this.checked = false;
                                            unselectItem(item);
                                        });
                                        cmmBbs.selectedItems = [];
                                    }
                                })
                            },
                            itemTemplate: function(_, item) {
                                return $("<input>").attr("type", "checkbox").attr("class", "singleCheckbox")
                                    //.prop("checked", $.inArray(String(item.userid), selectedItems) > -1)
                                    .prop("checked", $.inArray(item, cmmBbs.selectedItems) > -1)
                                    .on("change", function () {
                                        $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
                                    });
                            },
                            align: "center",
                            width: "80",
                            sorting: false
                        }
                        , {name: 'pstid', css: 'hide'}
                        , {title: '번호', name: 'rowNumber', type: "number", width: "80", align: "center", sorting: false}
                        , {
                            title: '제목', name: 'title', type: "text", width: "300"
                            , itemTemplate: function (value, item) {
                                let cmntStr = (Number(item.cmntCnt) > 0) ? " (" + item.cmntCnt + ") " : "";
                                let returnStr = "";
                                let seprateStr = "&nbsp;&nbsp";
                                let title = (item.delYn == 'Y') ? "삭제된 게시물입니다." : item.title;
                                let prifix = "";

                                if (item.fxdNtcUseYn == 'Y' && item.fxdNtcYn == 'Y') {
                                    prifix = "<span style='color:blue;' >[필독]</span>&nbsp;&nbsp;"
                                } else if (item.hotYn == 'Y') {
                                    prifix = "<span style='color:red;' >[HOT]</span>&nbsp;&nbsp;"
                                } else if (item.newYn == 'Y') {
                                    prifix = "<span style='color:lightBlue;' >[NEW]</span>&nbsp;&nbsp;"
                                }

                                if (item.dpth > 0) {
                                    for (let i = 0; i < item.dpth; i++) {
                                        returnStr += seprateStr;
                                    }
                                    returnStr = returnStr + "ㄴ";
                                }
                                return returnStr + prifix + title + cmntStr;
                            }
                        }
                        , {
                            title: '고정공지여부', name: 'fxdNtcYn', type: "text", width: "100", align: "center", visible: false
                            , itemTemplate: function (value, item) {
                                return (item.fxdNtcYn == 'Y') ? "고정" : "-";
                            }
                        }
                        , {title: '조회수', name: 'hits', type: 'number', width: '100', align: 'center'}
                        , {title: '작성자', name: 'nm', type: 'text', width: '100', align: 'center'}
                        , {
                            title: '등록일', name: 'regDt', type: "text", width: "100", align: "center"
                            , itemTemplate: function (value, item) {
                                return value.substring(0, 10)
                            }
                        }
                    ],
                    /*[# th:with="url=@{/cmm/bbs/{param1}/modify.html(param1=${bbsid})}" th:if="${@menuPrintImpl2.isMenuAuth(url)}" ]*/
                    rowClick: function (args) {
                        if (args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                        if (args.item.delYn == 'Y') {
                            alert("삭제된 게시물입니다.");
                            return;
                        }
                        var modifyUrl = "/cmm/bbs/" + cmmBbs.id + "/modify.html?pstid=" + args.item.pstid;
                        cmmBbs.gridHelper.loadContent(modifyUrl);
                        cmmBbs.gridHelper.rowClick(args);
                        clickedItem = args.item;
                    },
                    /*[/]*/
                    onPageChanged: function (args) {
                        cmmBbs.selectedItems = [];
                    },
                    onDataLoaded: function (args) {
                        if (args.grid.data == null || args.grid.data.length == 0) return;
                        if (args.grid.data[0].fxdNtcUseYn == 'Y') {
                            $("#jsGrid").jsGrid("fieldOption", "fxdNtcYn", "visible", true);
                        }

                        if (!cmmBbs.isGridOptionChanged) {
                            $("#jsGrid").jsGrid("option", "pageSize", args.grid.data[0].pageSize);
                            cmmBbs.isGridOptionChanged = true;
                        }
                    }

                });

                var selectItem = function(item) {
                    cmmBbs.selectedItems.push(item);
                    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
                        $("#selectAllCheckbox").prop("checked", true);
                    } else {
                        $("#selectAllCheckbox").prop("checked", false);
                    }
                };

                var unselectItem = function(item) {
                    cmmBbs.selectedItems = $.grep(cmmBbs.selectedItems, function(i) {
                        return i !== item;
                    });
                    if(cmmBbs.selectedItems.length == 0) {
                        $('#selectAllCheckbox').attr('checked', false);
                    }
                    if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
                        $("#selectAllCheckbox").prop("checked", true);
                    } else {
                        $("#selectAllCheckbox").prop("checked", false);
                    }
                };
            },

            deletePst() {
                if (cmmBbs.selectedItems.length <= 0) {
                    alert("삭제할 게시물을 선택해주십시오.");
                    return;
                }
                if (!confirm("선택한 게시글을 삭제하시겠습니까?")) {
                    return;
                }
                var delPstids = cmmBbs.selectedItems.join(",")

                if (displayWorkProgress()) {
                    $.ajax({
                        url: cmmBbs.deleteUrl,
                        type: 'POST',
                        cache: false,
                        dataType: 'json',
                        data: {
                            delPstids: delPstids
                            , delYn: 'Y'
                        },
                        success: function (data) {
                            if (data.result == 'success') {
                                alert("게시글이 삭제 되었습니다.");
                                cmmBbs.gridHelper.resetPageContent();
                                cmmBbs.selectedItems = [];
                            } else {
                                alert("게시글이 삭제에 실패 하였습니다.");
                            }
                            closeWorkProgress();
                        },
                        error: function (error) {
                        }
                    });
                }
            },

            postAjax(url, data, callBack) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    cache: false,
                    dataType: 'json',
                    data: data,
                    success: function (data) {
                        callBack(data);
                    },
                    error: function (error) {
                    }
                });
            },

            deleteFile(fileid, fileIdntfcKey) {
                if(!confirm('파일을 삭제하시겠습니까?')) {
                    return ;
                }

                var deleteFileUrl = "/deleteFile.do?fileid=" + fileid + "&file_idntfc_key=" + fileIdntfcKey;
                $.ajax({
                    url: deleteFileUrl,
                    type: 'GET',
                    cache: false,
                    dataType: 'json',
                    success: function (data) {
                        if (data.result == "success") {

                            $("#pst_" + fileid).remove();
                            if (uploadFileCnt > 0) {
                                uploadFileCnt = uploadFileCnt - 1;
                            }
                            //alert("파일삭제가 완료 되었습니다.");
                        } else {
                            alert("파일삭제중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
                        }
                    },
                    error: function (error) {
                    }
                })
            },
        }

        $(function () {
            cmmBbs.init();
            cmmBbs.writeJsGridData();

            $("#selectSitesearchSite").change(function () {
                if($('#selectSitesearchSite').val() != null && $('#selectSitesearchSite').val() != ' ') {
                    cmmBbs.gridHelper.resetListContent()
                }
            });
        })
    </script>
</div>
</body>

