<form class="form-inline form-horizontal row-border" role="form" id="pstInsertForm">
    <div class="col-12 card">
        <div class="card-header p-b-0">
            <h3 class="sub-title"><strong>기본정보</strong></h3>
        </div>

        <div class="card-block-small p-t-0">

            <div class="mb-2 row">
                <div class="col-12 col-lg-6">
                    <div class="mb-0 form-group required required">
                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사이트</strong></div>
                        <div class="col-12">
                            <th:block kattr:select_site="siteid" sysSeCd="U" firstOptTxt="- 선택 -" firstOptVal=""></th:block>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mb-2 form-group row required" th:style="${paramMap.bbsid == 12? 'display:none;' : '' }">
                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                    <strong>로그인 여부</strong></div>
                <div class="col-12">
                    <div class="form-radio">
                        <div class="radio radio-inline">
                            <label class="mb-0 ">
                                <input type="radio" name="loginYn" value="N" checked>
                                <i class="helper"></i>로그인전
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label class="mb-0 ">
                                <input type="radio" name="loginYn" value="Y">
                                <i class="helper"></i>로그인후
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="title"><strong>제목</strong></label>
                <div class="col-12">
                    <input type="text" class="form-control form-control-sm" name="title" id="title" placeholder="제목"/>
                </div>
            </div>

            <th:block th:if="${paramMap.fxdNtcUseYn}=='Y'">
                <div class="mb-2 row">
                    <div class="col-12 col-lg-auto mb-2 mb-lg-0">
                        <div class="mb-0 form-group required">
                            <div class="form-label col-sm-12  p-t-0 pb-1 ">
                                <strong class="col-form-label ">고정공지 여부</strong>
                                <span id="fixedNtcMsg"></span>
                            </div>

                            <div class="col-12 ">
                                <div class="form-radio">
                                    <div class="radio radio-inline">
                                        <label class="mb-0 ">
                                            <input type="radio" name="fxdNtcYn" id="fxdNtcYnY" value="Y">
                                            <i class="helper"></i>사용
                                        </label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <label class="mb-0 ">
                                            <input type="radio" name="fxdNtcYn" id="fxdNtcYnN" value="N" checked>
                                            <i class="helper"></i>사용안함
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-12 col-lg-auto mb-2 mb-lg-0 fxdNtcYncheck">
                        <div class="mb-0 form-group">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="fxdNtcStrtDt"><strong>고정공지 시작일</strong></label>
                            <div class="col-12">
                                <input type="date" class="form-control form-control-sm" name="fxdNtcStrtDt" id="fxdNtcStrtDt" placeholder="Text Input Validation"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-auto fxdNtcYncheck">
                        <div class="mb-0 form-group">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="fxdNtcEndDt"><strong>고정공지 종료일</strong></label>
                            <div class="col-12">
                                <input type="date" class="form-control form-control-sm" name="fxdNtcEndDt" id="fxdNtcEndDt" placeholder="Text Input Validation"/>
                            </div>
                        </div>
                    </div>

                </div>
            </th:block>

            <th:block th:if="${paramMap.clUseYn} == 'Y'">
                <div class="mb-2 row">
                    <div class="col-12 col-lg-6">
                        <div class="mb-0 form-group required">
                            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>글분류</strong></div>
                            <div class="col-12">
                                <select id="bbsClid" name="bbsClid" class="form-select form-select-sm form-control-sm">
                                    <option value=""> - 전체 -</option>
                                    <option th:each="item : ${clList}" th:value="${item.bbsClid}" th:text="${item.clNm} "></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="contents"><strong>내용</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" id="cntnts" name="cntnts"></textarea>
                </div>
            </div>

            <th:block th:if="${paramMap.atchfileUseYn}=='Y'">
                <div class="mb-0 form-group row">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>첨부파일</strong></label>
                        <div class="col-sm-12">
                            <input id="multiFileInput" type="file" name="files" multiple accept="image/jpeg,image/gif,image/png,application/pdf" class="form-control form-control-sm"/>
                        </div>
                        <div class="mt-2 row">
                            <div class="col-auto">
                                <div id="multipleFileUploadError"></div>
                                <div id="multipleFileUploadSuccess">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="filegrpid" name="filegrpid" value='0'/>
                <input type="hidden" id="atchfileCnt" name="atchfileCnt" th:value="${paramMap.atchfileCnt}">
                <input type="hidden" id="atchfileSize" name="atchfileSize" th:value="${paramMap.atchfileSize}">
            </th:block>


        </div>
        <div class="card-block-small">
            <button type="button" class="btn btn-disabled m-r-5" onclick="cmmBbs.gridHelper.removeHighlight(); cmmBbs.gridHelper.toggleContent()">취소</button>
            <button type="button" class="btn btn-primary" onclick="fn_insertPst()">저장</button>
        </div>
    </div>
    <!-- //insert 부분 -->
    <input type="hidden" id="bbsid" name="bbsid" th:value="${paramMap.bbsid}">
    <input type="hidden" id="fxdNtcCnt" name="fxdNtcCnt" th:value="${paramMap.fxdNtcCnt}">
    <input type="hidden" id="dpth" name="dpth" value="0">
</form>
<script th:inline="javascript">
    var atchfileCnt = 0;
    var atchfileSize = 0;
    var editor;
    var uploadFileCnt = 0;

    function disableFxdNtcDt() {
        var fxdNtcYn = $("input[name='fxdNtcYn']:checked").val();
        if (fxdNtcYn == 'Y') {
            if ($("#siteid").val() == "") {
                alert("사이트를 먼저 선택해주십시오.");
                $("input:radio[name='fxdNtcYn']:radio[value='N']").prop('checked', true); // 선택하기
                return;
            }
            $("#fxdNtcStrtDt").prop("disabled", false);
            $("#fxdNtcEndDt").prop("disabled", false);
        } else {
            $("#fxdNtcStrtDt").val("");
            $("#fxdNtcEndDt").val("");
            $("#fxdNtcStrtDt").prop("disabled", true);
            $("#fxdNtcEndDt").prop("disabled", true);
        }
    }

    $(function () {

        $("#selectSitesiteid").bind("change", function () {
            checkNtcPstCnt();
        })

        disableFxdNtcDt();

        $("[name=fxdNtcYn]").click(function () {
            disableFxdNtcDt();
        })

        //if($("#fxdNtcCntOverYn").val()=='Y'){  $("input[name='fxdNtcYn'][value='Y']").attr("disabled","true");}

        if ($("#atchfileCnt").val() != null && $("#atchfileCnt").val() != 0) {
            atchfileCnt = $("#atchfileCnt").val()
        }
        if ($("#atchfileSize").val() != null && $("#atchfileSize").val() != 0) {
            atchfileSize = $("#atchfileSize").val()
        }

        //editor = CKEDITOR.replace('cntnts');
        //에디터 엔터키 두줄 바꿈 제거 (shift + enter 처럼 바로 한줄 밑으로 떨어지게 함 )
        editor = CKEDITOR.replace('cntnts', {enterMode: CKEDITOR.ENTER_BR});
    })

    var validate = $("#pstInsertForm").validate({
        ignore: [],
        rules: {
            title: {required: true, maxlength: 200}
            , siteid: {required: true}
            , cntnts: {ckRequired: true}
            , bbsClid: {required: true}
        },
        messages: {
            title: {required: "제목을 입력해 주십시오.", maxlength: "게시판 제목은 200자를 넘을 수 없습니다."}
            , siteid: {required: "사이트를 선택해 주십시오."}
            , cntnts: {ckRequired: "게시글 내용을 입력해 주십시오."}
            , bbsClid: {required: "게시글 분류를 선택해 주십시오 "}
        }
    });

    //파일 업로드
    $('#multiFileInput').on("change", function (event) {

        var objFile = document.querySelector('#multiFileInput');
        var formData = new FormData();
        var content = "";

        for (i = 0; i < objFile.files.length; i++) {

            if (objFile.files[i].size > (atchfileSize * 1024 * 1024)) {
                alert(atchfileSize + "MG 초과하는 파일은 업로드 하실수 없습니다.  : " + objFile.files[i].name);
            } else if (uploadFileCnt >= atchfileCnt) {
                alert("첨부파일은  " + atchfileCnt + " 개 까지 가능합니다.");
                break;
            } else {
                formData.append("files", objFile.files[i]);
                uploadFileCnt++;
            }
        }

        formData.append("filegrpid", $("#filegrpid").val());
        formData.append("filegrpNm", "bbs");
        formData.append("bbsid", $("#bbsid").val());

        if (uploadFileCnt > 0) {
            $.ajax({
                url: '/uploadMultipleFiles.do',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                success: function (response) {
                    if (response.result == 'fail') {
                        alert(response.msg);
                    } else {
                        if ($("#filegrpid").val() == '0' || $("#filegrpid").val() == '' || $("#filegrpid").val() == null) {
                            $("#filegrpid").val(response[0].filegrpid);
                        }
                        for (i = 0; i < response.length; i++) {
                            content = "<span class ='label label-inverse mb-2' id='pst_" + response[i].fileid + "'>" + response[i].orginlFileNm;
                            content += "&nbsp;&nbsp;  <a  class = 'text-white' href = javascript:fn_deleteFile('" + response[i].fileid + "','" + response[i].fileIdntfcKey + "')>X</a></span>&nbsp;&nbsp;";
                            $('#multipleFileUploadSuccess').append(content);
                        }
                    }
                }
            })
            if (detectBrowser() == "other") {
                $("#multiFileInput").val("");
            } else {
                $("#multiFileInput").replaceWith($("#multiFileInput").clone(true))
            }
        }
    });

    //게시글 저장
    function fn_insertPst() {

        var editorData = editor.getData();
        $("#cntnts").val(editorData);

        if ($("#pstInsertForm").valid() == false) return;


        var fxdNtcYn = $("input[name='fxdNtcYn']:checked").val();

        if (fxdNtcYn == 'Y') {

            var fxdNtcStrtDt = $("#fxdNtcStrtDt").val();
            var fxdNtcEndDt = $("#fxdNtcEndDt").val();

            if (fxdNtcStrtDt == null || fxdNtcStrtDt == "" || fxdNtcEndDt == null || fxdNtcEndDt == "") {
                alert("고정공지 기간을 입력해주세요");
                showErrorMark("#fxdNtcStrtDt");
                showErrorMark("#fxdNtcEndDt");
                return;
            } else {

                var strtDt = fxdNtcStrtDt.replaceAll("-", "");
                var endDt = fxdNtcEndDt.replaceAll("-", "");
                if (strtDt > endDt) {
                    alert("고정공지 종료일이 시작일보다 작습니다.");
                    showErrorMark("#fxdNtcStrtDt");
                    showErrorMark("#fxdNtcEndDt");
                    return;
                }
            }
        } else {
            $("#fxdNtcStrtDt").val("");
            $("#fxdNtcEndDt").val("");
        }

        if (!confirm("저장하시겠습니까?")) return;

        var data = $("#pstInsertForm").serialize();

        if (displayWorkProgress()) {
            $.ajax({
                url: "/cmm/bbs/" + cmmBbs.id + "/insert.do",
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: data,
                success: function (data) {
                    if (data.result == "success") {
                        alert("등록이 완료 되었습니다.");
                        cmmBbs.gridHelper.resetListContent();
                    } else {
                        alert("등록중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
                    }
                    closeWorkProgress();
                },
                error: function (error) {
                }
            });
        }
    }

    checkNtcPstCnt = () => {

        $("#fixedNtcMsg").html("");
        $("input:radio[name='fxdNtcYn']:radio[value='N']").prop('checked', true); // 선택하기
        $("#fxdNtcStrtDt").val("");
        $("#fxdNtcEndDt").val("");
        $("#fxdNtcStrtDt").prop("disabled", true);
        $("#fxdNtcEndDt").prop("disabled", true);

        if ($("#siteid").val() == "" || $("#siteid").val() == null) {
            return;
        }

        if (displayWorkProgress()) {
            $.ajax({
                url: "/cmm/bbs/" + cmmBbs.id + "/selectNtcPstCnt.do",
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: {
                    bbsid: $("#bbsid").val(),
                    siteid: $("#siteid").val()
                },
                success: function (data) {

                    $("#fixedNtcMsg").html("");
                    var currentCnt = 0;

                    if (data.cntVo.fxdNtcCnt != null && data.cntVo.fxdNtcCnt != 0) {
                        currentCnt = Number(data.cntVo.fxdNtcCnt);
                    }
                    var fixedCnt = Number($("#fxdNtcCnt").val());

                    if (currentCnt >= fixedCnt) {
                        //고정공지 게시글 수가 이미 초과일시 고정공지 사용 불가
                        $("#fxdNtcYnY").prop("disabled", true);
                        $("#fixedNtcMsg").html("<span style='color:red;' >고정공지 수 초과 ( " + currentCnt + "/" + fixedCnt + " ) </span>");
                    } else {
                        $("#fxdNtcYnY").prop("disabled", false);
                        $("#fixedNtcMsg").html("<span> (" + currentCnt + "/" + fixedCnt + ")</span>");
                    }
                    closeWorkProgress();
                },
                error: function (error) {
                }
            });
        }
    }
</script>
  
  
  
  
