<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
 	layout:decorator="example/layout/exampleLayout" 
>
	<body>
		<div layout:fragment="content">
		<script src="/js/common/common.js"></script>

    		      <!-- Row start -->
			      <div class="row no-gutter">
			        <div class="col-md-12 col-sm-12 col-xs-12">
			          <div class="panel panel-default">
			            <div class="panel-heading">
						   <h4>커스텀 태그 속성 (kattr Attr) custom dialect in thymeleaf</h4><br/>
						</div>
			            <div class="panel-body">
			              
			                <h4>kattr:select_code (get code data)</h4>
			                
			                <div class="form-group ">
			                                    단일 selectBox 일때<br><br>
				                < kattr:select_code="셀릭트박스 Id/name" grpCd="그룹코드" selectedCd="디폴트 코드 값 " upprCd="상위 코드값" onchange="커스텀 할 function" >
				                <br><br>
				                < span  kattr:select_code="codeTagId" th:attr="grpcd=G0001"  selectedCd="A0002" onchange="change">select Code</span >
				                <span  kattr:select_code="codeTagId" th:attr="grpcd=${grpcd}"  selectedCd="A0002" onchange="change">select Code</span>
	 			                <br><br>
	 			                < div kattr:select_code="codeTagId_1" grpCd="G0001"  upprCd="A0001" selectedCd="B0001" >select Code</div >
	 			                <div kattr:select_code="codeTagId_1" grpCd="G0001"  upprCd="A0001" selectedCd="B0001" >select Code</div>
	 			                <br><br>
	 			                < div kattr:select_code="codeTagId_2" grpCd="G0001"  upprCd="B0001" selectedCd="C0001" >select Code</div >
	 			                <div kattr:select_code="codeTagId_2" grpCd="G0001"  upprCd="B0001" selectedCd="C0001" >select Code</div>
	 			                <br><br>
	 			                < span kattr:select_code="acnt_lock_cd" grpCd="101" firstOptTxt="선택 안함" addClass=" input-sm " addStyle="margin-left:5px;width:150px;"></span >
	 			                <span kattr:select_code="acnt_lock_cd" grpCd="101" firstOptTxt="선택 안함" addClass=" input-sm " addStyle="margin-left:5px;width:150px;"></span>
 			                    <br><br>
 			                    <h4>kattr:select_codes(get code data)</h4>
                                 selectBox 그룹코드 값 depth 체크 후 갯 수만큼 selectbox 생성<br/>  
                                < kattr:select_codes"셀릭트박스Id" ><br> (id는 차례대로 id_1 , id_2, id_3 등으로  셀릭트박스Id+'_순서' 로 생성)<br><br>
                                <span kattr:select_codes="codeIdsss" th:attr="grpCd=${grpcd}"   ></span>
                                <br><br>
                            
			                <h4>kattr:check_code(get code data)</h4>
  			                                    단일 checkBox 일때<br>  
				                < kattr:check_code="체크박스 Id/name" ><br><br>
				            < span kattr:check_code="checkId" grpCd="G0001"  upprCd="B0001" selectedCd="C0001"></span >
				            <br>
			                <span kattr:check_code="checkId" grpCd="G0001"  upprCd="B0001" selectedCd="C0001"></span>
			                <br><br>
			                  <h4>kattr:radio_code (get code data)</h4>
  			                                    단일 radio 일때 <br> 
				                < kattr:radio_code="라디오버튼 Id/name"><br> (id는 차례대로 id1 , id2, id3 등으로  라디오Id+'순서' 로 생성)<br><br>
				            < span kattr:radio_code="checkId1" grpCd="G0001" selectedCd="A0003" ></span >
				            <br>
			                <span kattr:radio_code="checkId1" grpCd="G0001" selectedCd="A0003" ></span>
			                <br><br>
			                < span kattr:radio_code="checkId2" grpCd="G0001"  upprCd="A0001" selectedCd="B0002"></span >
			                <br>
			                <span kattr:radio_code="checkId2" grpCd="G0001"  upprCd="A0001" selectedCd="B0002"></span>
			                <br><br>
			                < span kattr:radio_code="checkId3" grpCd="G0001"  upprCd="B0001" selectedCd="C0001"></span >
			                <br>
			                <span kattr:radio_code="checkId3" grpCd="G0001"  upprCd="B0001" selectedCd="C0001"></span>
			                
			                <br><br>
			                <h4>kattr:radio_yn (get code data)</h4>
			                < kattr:radio_yn="라디오버튼 Id/name"><br> (id는 차례대로 id1 , id2로  라디오Id+'순서' 로 생성, 라디오버튼 첫번째값 value는 'Y' 두번째값 value는 'N')<br><br>
			                < span kattr:radio_yn="nlogin_perm_yn" label1="허용" label2="불가"  defaultVal="N" ></span >
			                <br>
			                <span kattr:radio_yn="nlogin_perm_yn" label1="허용" label2="불가"  defaultVal="N" ></span>
			                <br><br>
			                
			                <h4>kattr:date_pic</h4>
			                < kattr:date_pic="날짜input Id/name" 
			                  dateDefault = "날짜 디폴트 값" 디폴트 값은 날자포맷과 동일한 포맷일 때 적용 됨 (선택) <br/>
			                  dateForm="yy/mm/dd" 날자 포맷변환  디폴트 값은  yymmdd> <br/>
			                 
			                
                            <span kattr:date_pic="start_dt" dateDefault="2023-05-29" addClass=" input-sm" addStyle="width:150px" dateForm="yy-mm-dd"></span>

			            </div>
			          </div>
			        </div>
			      
		      <!-- Row end -->
		      
	     <script type="text/javascript">
		     
		 	var getCodeListUrl = "/mng/customAttr/grpCodeList.do";
 		 	
		 	function fn_getNextDepthList(grpcd , upprcd, targetId){
		 	
				$.ajax({
					url : getCodeListUrl,
					type: 'GET',
					cache : false,
					dataType: 'json',
					data: {
						  grpcd  : grpcd
						, upprcd : upprcd
					}, 
					success : function (data){
						writeHtml(grpcd,targetId,data,"");
					},
				 	error : function (error){
					} 
					
				});
			}
		 	
		 	function writeHtml(grpcd,targetId,list,selected){
		 		   
		   	   var cntArr = targetId.split("_");
		   	   var nextCnt = Number(cntArr[1])+1;
		   	   var nextTarget =  cntArr[0]+"_"+nextCnt;
		   	   
		       var html ="<select id='"+targetId+"' class ='form-control' onchange=setNextDepth('"+grpcd+"',this.value,'"+nextTarget+"')>";
		    	   html +="    <option  >전체</option>";
		    	   
   		    		  for(var i=0 ; i < list.length;i++){
   		    			if(list[i].cdid==selected){
     		    			html +="    <option value="+list[i].cd+" selected>"+ list[i].cdNm+ "</option>";
   		    			}else{
    		    			html +="    <option value="+list[i].cd+">"+ list[i].cdNm+ "</option>";
   		    			}
   		    		  }
   		    		  if(list.length == 0 && jQuery("#"+nextTarget)[0] != undefined){
   		    		     
   		    		     writeHtml(grpcd,nextTarget,list,selected);
   		    		  }
     		    	  html +="    </select>";
     		    	  $("#"+targetId).html(html);
		 	}
		 	
		     
		    function setNextDepth(grpcd , upprcd , targetId){
			    	  fn_getNextDepthList(grpcd , upprcd , targetId);
		    }
			  
			function change() {
			    alert('onChange');
			}
   	   </script> 
   	   
   	   </div>
   	   
		</div>
	</body>
	
	
</html>