<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="example/layout/exampleLayout"
>
<head>
<meta charset="utf-8" />
<body>
	<div layout:fragment="content">
		
		<div class="row no-gutter">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                   <h4>excel</h4><br/>
                </div>
                <div class="panel-body">    
                    <a href="/mng/member/memberForm.html">"엑셀 일괄등록/엑셀 다운로드" 기능은 "통합회원 > 사용자관리 > 개인회원관리" 참고</a>
					
                </div>
            </div>
        </div>
       </div>
	</div>
</body>
</html>