<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="example/layout/exampleLayout"
>
<head>
<body>
	<div layout:fragment="content">	 

        <div class="row no-gutter">
	        <div class="col-md-12 col-sm-12 col-xs-12">
	          <div class="panel panel-default">
	            <div class="panel-heading">
	               <h4>Reporting</h4><br/>
	            </div>
	            <div class="panel-body">
					<div class="" style="margin-top: 10px;">
						<div id="getDataBtn" class="btn btn-primary">내용 가져오기</div>
						<div id="editerData"></div>
					</div>
					<script>
					
					$(function(){
						$('#getDataBtn').click(function(){
							location.href = '/reportingTest.html';
						});
					});
					</script>
			     </div>
	           </div>
	       </div>
	   </div>		   
	</div>
</body>
</html>