<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
	layout:decorator="example/layout/exampleLayout">

<div layout:fragment="content" class="mainCont">
    <div class="row no-gutter">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
			    <div class="panel-heading">
			       <h4>paging with submit</h4><br/>
			    </div>
				<div class="panel-body">
				  * 단순참고용으로, 관리자모듈은 grid를 사용하고, 사용자모듈은 비동기 페이징을 사용하므로 사용할 일은 거의 없음.
				  <br><br>
			      <div class="table-responsive">
			        <table class="table table-bordered no-margin">
			          <thead>
			            <tr>
			              <th>#</th>
			              <th>프로그램명</th>
			              <th>URL</th>
			              <th>수정일</th>
			            </tr>
			          </thead>
			          <tbody>
			            <tr th:each="item : ${list}">
			              <td th:text="${item.rowNumber}"></td>
			              <td th:text="${item.nm}"></td>
			              <td th:text="${item.url}"></td>
			              <td th:text="${item.mdfcnDt}"></td>
			            </tr>
			          </tbody>
			        </table>
			      </div>
			    </div>
    <th:block kattr:pagination="list" onclick="goPage" />
			</div>
        </div>
	</div>
    
    <script>
    	function goPage(page){
    		location.href = "/example/submitPaging.html?pageNumber=" + page; 
    	}
    </script>

</div>
</html>