<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
 	layout:decorator="example/layout/exampleLayout" 
>
	<body>
		<div layout:fragment="content">
		<script src="/js/common/common.js"></script>
        <script type="text/javascript" src="/js/validator/jquery.validate.js"></script>    
        <script type="text/javascript" src="/js/validator/jquery.validate.add.js"></script>    
        <script type="text/javascript" src="/js/validator/jquery.validate.setting.js"></script>   
   	   
    		      <!-- Row start -->
			      <div class="row no-gutter">
			        <div class="col-md-12 col-sm-12 col-xs-12">
			          <div class="panel panel-default">
			            <div class="panel-heading">
						   <h4>validation for admin </h4><br/>
						</div>
			            <div class="panel-body">
			            
			            <!-- 검색 Form  -->
			            
			              <form class="form-inline" id ="emailForm">
			                <div class="form-group">
       			              <div class="form-group">이메일 유효성 검사 option ( null 값 , email유효성, 문자길이 :50, 공백체크)</div><br/>
			                  <label class="sr-only" for="exampleInputEmail2" >발송 이메일</label> 
                               <input type="text" class="form-control" id="email_to" name= "email" placeholder="이메일" alt="이메일"/>  
			                  <button type="button" class="btn btn-info" onclick="fn_check('emailForm')"> Check</button>
			                </div>
			              </form>
			                
			              <form class="form-inline" id ="passwordForm1" action ="#">
			                <div class="form-group">패스워드 정책1 (null 값, 영어,숫자만 , 한글(x), 10글자이상, 공백체크)</div><br/>
			                <div class="form-group">
			                  <label class="sr-only" for="exampleInputPassword2">제목</label>
                              <input type="text" class="form-control" id="text" name= "pw1" placeholder="패스워드1"  />
		                    <button type="button" class="btn btn-info" onclick="fn_check('passwordForm1')"> Check</button>
			                </div>
			              </form>
			              
			              <form class="form-inline" id ="passwordForm2" action ="#">
			                <div class="form-group">패스워드 정책2 (null 값, 영어.숫자.특수기호만 , 한글(x), 10글자이상, 공백체크 )</div><br/>
			                <div class="form-group">
                              <input type="text" class="form-control input-group-sm" id="text" name= "pw2" placeholder="패스워드2" />
		                     <button type="button" class="btn btn-info" onclick="fn_check('passwordForm2')"> Check</button>
			                </div>
			              </form>
			              
			              <form class="form-inline" id ="idForm" action ="#">
			                <div class="form-group ">주민번호 (null 값, 문자길이13자, 주민번호 유효성 체크 ,공백체크)</div><br/>
			                <div class="form-group ">
			                  <label class="sr-only" for="exampleInputPassword2">제목</label>
                              <input type="text" class="form-control " id="text" name= "id" placeholder="주민번호" />
		                    <button type="button" class="btn btn-info" onclick="fn_check('idForm')"> Check</button>
			                </div>
			              </form>
			              
			            </div>
			          </div>
			        </div>
			      </div>
		      <!-- Row end -->
		      
	     <script type="text/javascript"> 	
		     
			  $(function() {
				  
				     //test 편의를 위해 각기 다른 form 으로 체크
				     
					 $("#emailForm").validate({
						    rules: { //밸리데이션 옵션 설정 
						    	email : // email --> 태그 name 속성                                    
						    	{
						    		required: true
						    		,isBlank : true
						    		,email:true
						    		,maxlength:50
						    	 } // rule 설정 
						    },
						    messages: {  //밸리데이션 메세지 설정 - 기재하지 않을 경우 jqeury.validate.setting.js 에 기재한 디폴트 값으로 alert 표출 
						    	email: {
						            required: "이메일을 입력해주십시오"
	   			            	   ,isBlank : "이메일에 공백이 있습니다."
						           ,email:    "이메일을 확인해주십시오"
						           ,maxlength:"이메일 입력 값은 50자를 넘을 수 없습니다."
						           
						        },
						        
						    }
					});
				     
					$("#passwordForm1").validate({
						    rules: { //밸리데이션 옵션 설정 
						    	pw1 :                                     
						    	{ 
						    	 required: true
						    	,isBlank : true
						    	,isHangulOff: true
						    	, passwordPolicy1:true
						    	, minlength:10
						    	} // rule 설정 기재 순서대로 차례대로 검사  
						    },
						    messages: {  //밸리데이션 메세지 설정 - 기재하지 않을 경우 jqeury.validate.setting.js 에 기재한 디폴트 값으로 alert 표출 
						    	pw1: {
							    		required:          "패스워드를 입력해주십시오"
								    	, passwordPolicy1: "알파벳 , 숫자만 사용가능합니다."
								    	, minlength:       "패스워드는 10자 이상어야 합니다. "
								    	,isHangulOff:      "한글은 사용 하실 수 없습니다."
								    	,isBlank :         "패스워드에 공백이 있습니다."
						        },
						    }
					});
					 
					 $("#passwordForm2").validate({ 
						    rules: { //밸리데이션 옵션 설정 
						    	pw2 :                                     
						    	{
						    	  required: true
						    	 , isBlank : true
						    	 , passwordPolicy2:true
						    	 , minlength:10 
							     , isHangulOff: true
						    	 } // rule 설정 
						    },
						    messages: {  //밸리데이션 메세지 설정 - 기재하지 않을 경우 jqeury.validate.setting.js 에 기재한 디폴트 값으로 alert 표출 
						    	pw2: {
    						    		 required:         "패스워드를 입력해주십시오"
								    	,passwordPolicy2:  "알파벳 , 숫자, 특수기호 모두 사용하여야 합니다."
								    	,minlength:        "패스워드는 10자 이상어야 합니다."
								    	,isHangulOff:      "한글은 사용 하실 수 없습니다."
								    	,isBlank :         "패스워드에 공백이 있습니다."
						        },
						    }
					});
					
				   $("#idForm").validate({
						    rules: { //밸리데이션 옵션 설정 
						    	id :                                     
						    	{
						    		required : true
    					    	   ,isBlank : true
						           ,isSybolOff :true
						    	   ,number :true
						           ,isRightId :true
						    	}  //rule 설정
						    },
						    messages: { //밸리데이션 메세지 설정 - 기재하지 않을 경우 jqeury.validate.setting.js 에 기재한 디폴트 값으로 alert 표출 
						    	id: {
    						    		required   :"주민번호를 입력해주십시오"
    						    	  , isBlank    :"주민번호에 공백이 있습니다."
							          , isRightId  :"주민번호가 유효 하지 않습니다."
							          , number     :"숫자만 기입 가능합니다."
							          , isSybolOff :"'-' 과 같은 특수 기호는 사용 하실수 없습니다."
						        },
						    }
					});
				     
			  });
			  
			  function fn_check(formName){
			      if(!($("#"+formName).valid())) return;
			          alert('체크 되었습니다.');
			  }
			  
   	   </script> 
   	   
   	   
   	   
		</div>
	</body>
	
	
</html>