<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
    <div class="table-view">
        <div class="table-view-header">
            <h3><span>[기타] 환경교육 강사모집 공유할 수 있을까요?</span> <span class="icon icon-lockon" title="비밀글"></span></h3>
            <dl>
                <div class="list">
                    <dt>상태</dt>
                    <dd>[[${inqryDetail.sttsCdNm}]]</dd>
                </div>
                <div class="list">
                    <dt>등록일</dt>
                    <dd>[[${#dates.format(inqryDetail.regDt, 'yyyy-MM-dd')}]]</dd>
                </div>
                <div class="list">
                    <dt>작성자</dt>
                    <dd>[[${inqryDetail.acnt}]]</dd>
                </div>
            </dl>
            <dl class="table-view-file">
                <div class="list">
                    <dt>첨부파일</dt>
                    <dd>
                        <!--/*<ul th:if="${fileMap != null}">
                            <th:block th:each="file : ${fileMap}">
                                <li class="file-block" th:data_ext="${#strings.substring(file.fileExtsn,1)}">
											<span class="name">
												<a href="javascript:void(0)" th:fileid="${file.fileid}" th:fileIdntfcKey="${file.fileIdntfcKey}"
                                                   th:onclick="|javascript:downloadFileByFileid(this.getAttribute('fileid'), this.getAttribute('fileIdntfcKey'))|">
													[[${file.orginlFileNm}]]
												</a>
											</span>
                                </li>
                            </th:block>
                        </ul>*/-->
                        <div class="form-input-file">
                            <ul>
                                <li class="file-block" data_ext="xlsx"><span class="name"><a href="#">EPAFP_DE_433__메뉴구조도_v1.5_230103.xlsx</a></span></li>
                                <li class="file-block" data_ext="png"><span class="name"><a href="#">ex-doc.png</a></span></li>
                                <li class="file-block" data_ext="hwp"><span class="name"><a href="#">빈 문서 1.hwp</a></span></li>
                                <li class="file-block" data_ext="pdf"><span class="name"><a href="#">현금영수증 __ 네이버페이.pdf</a></span></li>
                                <li class="file-block" data_ext="docx"><span class="name"><a href="#">가입신청 취소 요청서.docx</a></span></li>
                                <li class="file-block" data_ext="zip"><span class="name"><a href="#">WinMerge-2.16.24-Setup.zip</a></span></li>
                            </ul>
                        </div>
                    </dd>
                </div>
            </dl>
        </div>
        <div class="table-view-body">
            <div class="table-view-content" th:text="${inqryDetail.cntnts}">
            </div>
        </div>

        <th:block th:if="${inqryAnswrDetail !=null}">
            <div class="table-view">
                <div class="table-view-header">
                    <h3><span class="box-tag tag-green">답변완료</span> <span>[기타] 환경교육 강사모집 공유할 수 있을까요?</span> <span class="icon icon-lockon" title="비밀글"></span></h3>
                    <dl>
                        <div class="list">
                            <dt>작성자</dt>
                            <dd>관리자ID</dd>
                        </div>
                        <div class="list">
                            <dt>답변일</dt>
                            <dd>2022-03-08</dd>
                        </div>
                    </dl>
                    <dl class="table-view-file">
                        <div class="list">
                            <dt>첨부파일</dt>
                            <dd>
                                <div class="form-input-file">
                                    <ul>
                                        <li class="file-block" data_ext="xlsx"><span class="name"><a href="#">EPAFP_DE_433__메뉴구조도_v1.5_230103.xlsx</a></span></li>
                                        <li class="file-block" data_ext="png"><span class="name"><a href="#">ex-doc.png</a></span></li>
                                        <li class="file-block" data_ext="hwp"><span class="name"><a href="#">빈 문서 1.hwp</a></span></li>
                                        <li class="file-block" data_ext="pdf"><span class="name"><a href="#">현금영수증 __ 네이버페이.pdf</a></span></li>
                                        <li class="file-block" data_ext="docx"><span class="name"><a href="#">가입신청 취소 요청서.docx</a></span></li>
                                        <li class="file-block" data_ext="zip"><span class="name"><a href="#">WinMerge-2.16.24-Setup.zip</a></span></li>
                                    </ul>
                                </div>
                            </dd>
                        </div>
                    </dl>
                </div>
                <div class="table-view-body">
                    <div class="table-view-content">
                        <p>연수페이지(로그인 필요) : <a href="https://danzzak.getsmart.co.kr/enroll-apply/course/EG00225a0">https://danzzak.getsmart.co.kr/enroll-apply/course/EG00225a0</a></p>
                        <p>교보재 신청(8.30 17:00~) : <a href="https://naver.me/GwDToPoi">https://naver.me/GwDToPoi</a></p>
                        <p></p>
                        <p>안내 공문은 8월 중에 조금 늦게 발송예정입니다.</p>
                        <p>참고해주세요.</p>

                    </div>
                </div>
            </div>
        </th:block>


        <div class="btn-wrap">
            <div class="center">
                <button type="button" class="btn-medium btn-gray">삭제</button>
                <th:block th:if="${inqryDetail.sttsCd != '103104'}">
                    <button type="button" class="btn-medium btn-gray">수정</button>
                </th:block>
                <button type="button" class="btn-medium btn-gray">목록</button>
            </div>
        </div>

    </div>
    <script th:inline="javascript">
        let inqryDetail = {
            init() {

            },

            delete() {

            }
        }
        $(function() {
            inqryDetail.init();
        })
    </script>
</div>

