<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
    <form class="search-filter" id="searchForm" name="searchForm">
        <div class="form-input-wrap">
            <div class="form-row">
                <div class="form-header"><strong class="label">제목 검색</strong></div>
                <div class="form-body">
                    <input type="search" id="searchKeyword" name="searchKeyword" title="제목 검색" placeholder="검색어를 입력해 주세요." >
                </div>
            </div>
            <div class="form-row">
                <div class="form-header"><strong class="label">분류</strong></div>
                <div class="form-body">
                    <span kattr:select_code="inqryClCd" grpCd="102" firstOptTxt="- 전체 -" title="분류 선택"></span>
                </div>
            </div>
        </div>
        <div class="search-filter-submit">
            <button type="reset" class="btn-medium btn-gray btn-before-refresh">초기화</button>
            <button type="submit" class="btn-medium btn-green btn-before-search">검색</button>
        </div>

        <input type="hidden" id="pageNumber" name="pageNumber" value="1">
        <input type="hidden" id="inqryid" name="inqryid">
        <input type="hidden" id="rowPerPage" name="rowPerPage" value="10">
        <input type="hidden" id="orderField" name="orderField" value="REG_DT">
    </form>

    <div class="table-caption flex-nowrap">
        <div class="left">
            <p>총 <b id="total-count">14</b> 건</p>
        </div>
        <div class="right d-flex">
            <select title="글 보기 개수" class="sort-filter" id="selectRowPerPage" name="selectRowPerPage">
                <option value="10">10개</option>
                <option value="50">50개</option>
                <option value="100">100개</option>
            </select>
            <div><button type="button" class="btn-medium btn-outline-black" onclick="onChangePageSize($('#selectRowPerPage').val(), inqryMain.selectInqryList)">보기</button></div>
            <div class="ml10">
                <button type="button" class="btn-medium btn-green" onclick="inqryMain.moveToInsertForm()">문의하기</button>
            </div>
        </div>
    </div>

    <div class="pc-only">
        <div class="table-col table-layout-auto table-col-mo">
            <table>
                <caption>1:1문의 목록 - 번호, 분류, 제목, 상태, 작성자, 공개여부, 등록일</caption>
                <colgroup>
                    <col>
                    <col>
                    <col style="width:30%;">
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">분류</th>
                    <th scope="col">제목</th>
                    <th scope="col">상태</th>
                    <th scope="col">작성자</th>
                    <th scope="col">공개여부</th>
                    <th scope="col">등록일</th>
                </tr>
                </thead>
                <tbody id="pcListArea">
                </tbody>
            </table>
        </div>
    </div>

    <div class="mo-only">
        <div class="table-list">
            <ul id="moListArea">
            </ul>
        </div>
    </div>

    <div class="pagination" aria-label="pagination" id="pagination">
    </div>

    <script th:inline="javascript">
        var inqryMain = {
            userid: /*[[${loginUserid}]]*/ null,
            listUrl: '/front/inqry/selectInqryList.do',
            detailUrl: '/front/inqry/inqryDetail.html',
            formUrl : '/front/inqry/inqryForm.html',
            searchVo : /*[[${searchVo}]]*/null,

            moveToInsertForm() {
                if (this.userid == null) {
                    alert('로그인 후 이용하실 수 있습니다.');
                    return;
                }
                var f = document.forms.searchForm;
                f.action = this.formUrl;
                f.submit();
            },

            moveToDetail(inqryid, canGoToDetail) {
                if (canGoToDetail) {
                    var f = document.forms.searchForm;
                    f.inqryid.value = inqryid;
                    f.action = this.detailUrl;
                    f.submit();
                } else {
                    alert('비공개 글의 경우 작성자만 볼 수 있습니다.');
                    return;
                }
            },

            selectInqryList() {
                if (displayWorkProgress(true)) {
                    $.ajax({
                        url: inqryMain.listUrl,
                        cache: false,
                        dataType: 'json',
                        data: formData = $('#searchForm').serializeArray(),
                        type: 'GET',
                        success: function (response) {
                            let data = escapeData(response.list);
                            $("#pcListArea").html(inqryMain.makeListHtmlForPc(data));
                            $("#moListArea").html(inqryMain.makeListHtmlForMo(data));
                            $("#pagination").html(response.pagination);
                            $("#total-count").html(response.totalCount);
                            msgAddBtn();
                            closeWorkProgress();
                        }
                    });
                }
            },

            makeListHtmlForPc(list) {
                var html = "";
                if (list == null || list.length <= 0) {
                    html += `<tr>
                                <td class="nodata" colspan="7">
                                    <p><span class="icon icon-notice bg-black9"></span>등록된 1:1문의가 없습니다.</p>
                                </td>
                            </tr>`;
                } else {
                    list.forEach(function (item) {
                        let canGoToDetail = item.rlsYn == 'Y' || (item.rlsYn == 'N' && (item.userid == inqryMain.userid));
                        html += `<tr>
                                    <td>${item.rowNumber}</td>
                                    <td>${item.inqryClCdNm}</td>
                                    <td class="al article">
                                        <a href="javascript:inqryMain.moveToDetail(${item.inqryid}, ${canGoToDetail})" class="link ellipsis">
                                            ${item.sttsCd == '103104' ? `<span class="box-tag tag-green">답변완료</span>` : ``}${item.title}
                                        </a>
                                    </td>
                                    <td>${item.sttsCdNm}</td>
                                    ${item.nm != null ? `<td class="list-msg-add-btn" data-trgt-id="${item.userid}">${item.nm}</td>`: `<td></td>`}
                                    <td>${item.rlsYn == 'Y' ? '공개' : '비공개'}</td>
                                    <td>${item.regDt}</td>
                                </tr>`;
                    });
                }
                return html;
            },

            makeListHtmlForMo(list) {
                var html = "";
                if (list == null || list.length <= 0) {
                    html += `<li class="block">
                                <div class="nodata">
                                    <p><span class="icon icon-notice bg-black9"></span>등록된 1:1문의가 없습니다.</p>
                                </div>
                            </li>`;
                } else {
                    list.forEach(function (item) {
                        let canGoToDetail = item.rlsYn == 'Y' || (item.rlsYn == 'N' && (item.userid == inqryMain.userid));
                        html += `
                                <li class="block">
                                    <div class="tbody">
                                        <dl>
                                            <div class="list">
                                                <dt>번호</dt>
                                                <dd>${item.rowNumber}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>분류</dt>
                                                <dd>${item.inqryClCdNm}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>제목</dt>
                                                <dd>
                                                    <a href="javascript:inqryMain.moveToDetail(${item.inqryid}, ${canGoToDetail})" class="link ellipsis">
                                                        ${item.sttsCd == '103104' ? `<span class="box-tag tag-green">답변완료</span>` : ``}${item.title}
                                                    </a>
                                                </dd>
                                            </div>
                                            <div class="list">
                                                <dt>상태</dt>
                                                <dd>${item.sttsCdNm}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>작성자</dt>
                                                ${item.nm != null ? `<dd class="list-msg-add-btn" data-trgt-id="${item.userid}">${item.nm}</dd>` : `<dd></dd>`}
                                            </div>
                                            <div class="list">
                                                <dt>공개여부</dt>
                                                <dd>${item.rlsYn == 'Y' ? '공개' : '비공개'}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>등록일</dt>
                                                <dd>${item.regDt}</dd>
                                            </div>
                                        </dl>
                                    </div>
                                </li>`;
                    });
                }
                return html;
            }
        };

        function goPage(num) {
            $("#pageNumber").val(num);
            inqryMain.selectInqryList();
        }

        $(function() {
            $("#pageNumber").val(inqryMain.searchVo.pageNumber);
            $("#searchKeyword").val(inqryMain.searchVo.searchKeyword);
            $("#inqryClCd").val(inqryMain.searchVo.inqryClCd);
            $('#rowPerPage').val(inqryMain.searchVo.rowPerPage);
            $('#selectRowPerPage').val(inqryMain.searchVo.rowPerPage);

            inqryMain.selectInqryList();

            $('#searchForm').on('submit',function(e){
                e.preventDefault();

                $('#pageNumber').val(1);
                inqryMain.selectInqryList();
            })
        })
    </script>
</div>
<body>