<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
    <div class="table-caption">
        <div class="left">
            <h3 class="sub-title">1:1문의
                <th:block th:text="${inqry.inqryid == null? '등록' : '수정'}"/>
            </h3>
        </div>
        <div class="right">
            <p class="desc"><span class="ast">*</span>표시는 필수 입력 정보입니다.</p>
        </div>
    </div>

    <form id="inqryForm" name="inqryForm" method="post">
        <div class="table-row table-row-mo">
            <table>
                <caption>1:1문의_정보입력 - 공개여부, 분류, 분류, 내용, 첨부파일</caption>
                <colgroup>
                    <col style="width:140px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">공개여부</th>
                    <td>
                        <span kattr:radio_yn="rlsYn" label1="예" label2="아니요" addClass=" inp" th:attr="defaultVal=${inqry.rlsYn == 'Y' ? 'Y':'N'}"></span>
                    </td>
                </tr>
                <tr>
                    <th scope="row">분류<i class="ast" title="필수입력">*</i></th>
                    <td>
                        <div class="form-input">
                            <span kattr:select_code="inqryClCd" grpCd="102" th:attr="selectedCd=${inqry.inqryClCd}" firstOptTxt="- 선택 -" title="분류"></span>
                        </div>
                        <p class="feedback"></p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">제목<i class="ast" title="필수입력">*</i></th>
                    <td>
                        <div class="form-input">
                            <input type="text" id="title" name="title" title="제목" placeholder="제목을 입력해주세요." th:value="${inqry.title}">
                        </div>
                        <p class="feedback"></p>
                    </td>

                </tr>
                <tr>
                    <th scope="row">내용<i class="ast" title="필수입력">*</i></th>
                    <td>
                        <div class="form-input">
                            <textarea title="내용" id="cntnts" name="cntnts" placeholder="내용을 입력해주세요." th:text="${inqry.cntnts}"></textarea>
                        </div>
                        <p class="feedback"></p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">첨부파일</th>
                    <td>
                        <div class="form-input-file">
                            <span class="form-input">
                                <input id="multiFileInput" name="files" type="file" multiple class="blind" title="파일첨부" maxcount="5" 
                                       th:attr="accept=${acceptUploadFileExt}">
                            </span>
                            <label for="multiFileInput" class="btn-medium btn-gray">파일선택</label>
                            <ul id="multipleFileUploadSuccess">
                                <th:block th:if="${inqry.fileList != null}">
                                    <th:block th:each="file : ${inqry.fileList}">
                                        <li class="file-block" th:data_ext="${#strings.substring(file.fileExtsn,1)}" th:id="${file.fileid}">
                                            <span class="name">
                                                <a th:href="|javascript:downloadFileByFileid('${file.fileid}','${file.fileIdntfcKey}')|">   
                                                    [[${file.orginlFileNm}]]
                                                </a>
                                            </span>
                                            <button type="button" class="file-delete" title="삭제" th:name="${file.fileid}"
                                                    th:attr="data-file-idntfc-key=${file.fileIdntfcKey}, data-id=${file.fileid}"
                                                    th:onclick="deleteFile(this.name, this.dataset.fileIdntfcKey)">
                                                <span class="icon icon-circle-close"></span>
                                            </button>
                                        </li>
                                    </th:block>
                                </th:block>
                            </ul>
                            <input type="hidden" id="filegrpid" name="filegrpid" th:value="${(inqry.filegrpid == '' or inqry.filegrpid == null) ? 0 : inqry.filegrpid}"/>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="box-desc-list bg7 mt10">
            <ul>
                <li>첨부 가능 확장자 :
                    <th:block>
                        <th:block th:each="item, itemStat : ${fileConfiguration.uploadFileExtsn}">
                            [[${item.value}]]
                            <th:block th:if="${!itemStat.last}">,&nbsp;</th:block>
                        </th:block>
                    </th:block>
                </li>
                <li>첨부 가능 총 용량 : [[${fileConfiguration.uploadFileTotalSize}]]Mbyte</li>
                <li>첨부 가능 개별 용량 : [[${fileConfiguration.uploadFileSize}]]Mbyte</li>
            </ul>
        </div>

        <div class="btn-wrap">
            <div class="center">
                <button type="button" class="btn-medium btn-gray" onclick="frontInqryForm.cancel()">취소</button>
                <button type="button" class="btn-medium btn-green" onclick="frontInqryForm.save()">
                    <th:block th:text="${inqry.inqryid == null? '등록' : '저장'}"/>
                </button>
            </div>
        </div>
    </form>

    <form id="listForm" th:action="@{/}" method="get" onsubmit="return false;">
        <input type="hidden" id="pageNumber" name="pageNumber" th:value="${searchVo.pageNumber}">
        <input type="hidden" id="searchType" name="searchType" th:value="${searchVo.searchType}">
        <input type="hidden" id="searchKeyword" name="searchKeyword" th:value="${searchVo.searchKeyword}">
        <input type="hidden" id="inqryClCd" name="inqryClCd" th:value="${searchVo.inqryClCd}">
        <input type="hidden" id="orderField" name="orderField" th:value="${searchVo.orderField}">
        <input type="hidden" id="rowPerPage" name="rowPerPage" th:value="${searchVo.rowPerPage}">
        <input type="hidden" id="inqryid" name="inqryid" th:value="${inqry.inqryid}">
    </form>


    <script th:inline="javascript">
        let frontInqryForm = {
            insertUrl: '/front/inqry/insertInqry.do',
            updateUrl: '/front/inqry/updateInqry.do',
            listUrl: '/front/inqry/inqryList.html',
            detailUrl: '/front/inqry/inqryDetail.html',
            inqryid: /*[[${inqry.inqryid}]]*/null,

            init() {
                this.validateForm();
            },

            save() {
                if (!$('#inqryForm').valid()) return;

                let url = this.insertUrl;
                if (this.inqryid != null) url = this.updateUrl;

                if (displayWorkProgress(true)) {
                    let formData = $('#inqryForm').serializeArray();
                    var params = [];

                    params.push({name: 'inqryid', value: frontInqryForm.inqryid});
                    formData = formData.concat(params);

                    $.ajax({
                        method: 'POST',
                        url: url,
                        data: formData,
                        dataType: 'json',
                        success: function (response) {
                            closeWorkProgress();
                            alert(response.msg);
                            if (response.success) {
                                let f = document.forms.listForm;
                                f.action = frontInqryForm.listUrl;
                                f.submit();
                            }
                        }
                    });
                }
            },

            validateForm() {
                $('#inqryForm').validate({
                    rules: {
                        inqryClCd: {required: true},
                        title: {required: true},
                        cntnts: {required: true},
                    },
                    messages: {
                        inqryClCd: {required: "분류를 선택해 주십시오."},
                        title: {required: "제목을 입력해 주십시오."},
                        cntnts: {required: "내용을 입력해 주십시오."},
                    }
                })
            },

            cancel() {
                if (!confirm('작성글이 저장되지 않을 수 있습니다. 나가시겠습니까?')) return;

                let f = document.forms.listForm;
                f.action = (this.inqryid == null ? this.listUrl : this.detailUrl);
                f.submit();
            },

        };

        $(function () {
            addFileUploadEvent('multiFileInput', 'inqry_file', 'multipleFileUploadSuccess');
            frontInqryForm.init();
        })
    </script>
</div>




