<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/intro/detailLayout" 
>
    <body>
        <div layout:fragment="content">
                        <article class="qna-wrap">
                            <form id="inquiryForm" submit="return:false;">
                                <fieldset>
                                    <legend><span>문의하기 쓰기</span></legend>
                                    <h3 class="title">문의하기</h3>

                                    <div class="board-wrap">
                                        <table class="board-input">
                                            <caption><span>문의하기 작성</span></caption>
                                            <colgroup>
                                                <col style="width: 179px;">
                                                <col>
                                            </colgroup>
                                            <tr>
                                                <th scope="row"><label for="nm">작성자</label></th>
                                                <td>
                                                    <input type="text" class="input-text" id="nm" name="nm" style="width: 100%;">
                                                    <span class="form-msg"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><label for="title">제목</label></th>
                                                <td>
                                                    <input type="text" id="title" name="title" class="input-text" style="width: 100%;">
                                                    <span class="form-msg"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row"><label for="id-email">회신 메일</label></th>
                                                <td colspan="2">
                                                    <div class="form-group">
                                                        <input type="text" id="email1" name="email1" class="input-text" style="width: 21%;">
                                                        <span class="at">@</span>
                                                        <!-- 직접입력시 -->
                                                        <input type="text" id="email2" name="email2" title="입력" class="input-text" style="width: 30%;">
                                                        <!-- // 직접입력시 -->
                                                        <select title="선택" class="form-select" id="email_domain" onchange="fn_changeEmailDomain()">
                                                            <option value="">직접입력</option>
                                                            <option value="naver.com">naver.com</option>
												            <option value="gmail.com">gmail.com</option>
												            <option value="daum.net">daum.net</option>
												            <option value="nate.com">nate.com</option>
												            <option value="hanmail.net">hanmail.net</option>
												            <option value="hotmail.com">hotmail.com</option>
												            <option value="yahoo.com">yahoo.com</option>
												            <option value="empas.com">empas.com</option>
												            <option value="korea.com">korea.com</option>
												            <option value="dreamwiz.com">dreamwiz.com</option>
                                                        </select>
                                                        <span class="form-msg"></span>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" class="">
                                                    <textarea cols="40" id="cntnts" name="cntnts" rows="5" placeholder="내용을 입력하세요." title="내용입력" class="textarea"></textarea>
                                                    <span class="form-msg"></span>
                                                </td>
                                                
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="qna-button">
                                        <button type="button" onclick="fn_registerInquiry()" class="btn-large btn-color1">문의하기</button>
                                    </div>
                                </fieldset>
                                <!--*****HIDDEN PARAMETER ******  -->
                                 <input type="hidden" id="email" name="email">
                                <!--*****HIDDEN PARAMETER ******  -->
                            </form>
                        </article>
                        
      <script th:inline="javascript">
      
      var registerInquiryUrl = "/front/inqury/insertInqury.do";
      
      
      function fn_changeEmailDomain(){
      	var domain_val = $("#email_domain").val();
      	var domain_text = $("#email_domain option:checked").text();
      	
      	if( domain_val == null || domain_val =="" ){
      		$("#email2").val(null);
      	}else{
      	    $("#email2").val(domain_text)
      	}
      }
      
      function fn_registerInquiry(){
        	
        	var cmntValidator= $("#inquiryForm").validate({
        		   rules   : {
        			   nm          : { required: true ,maxlength:50},
        			   title       : { required: true ,maxlength:100},
        			   cntnts      : { required: true ,maxlength:2000},
        			   email1      : { required: true ,maxlength:100 ,alphanumeric:true},
        			   email2      : { required: true ,maxlength:100 }
        	       },
        	       messages: {
        			   nm          : { required: "작성자를 입력해주십시오" },
        			   title       : { required: "제목을 입력해주십시오" ,maxlength:"제목은 100자를 넘을 수 없습니다."},
        			   cntnts      : { required: "내용을 입력해주십시오" ,maxlength:"내용은 2000자를 넘을 수 없습니다."},
        			   email1      : { required: "이메일을 입력해주십시오" ,alphanumeric:"알파벳과 숫자만 입력 가능합니다."},
        			   email2      : { required: "이메일을 입력해주십시오" }
        	       }
        		 })
        		 
        	
        	if($("#inquiryForm").valid() == false) return;
        	
        	var email1 = $("#email1").val();
        	var email2 = $("#email2").val();
        	$("#email").val(email1+"@"+email2);
        	
        	var param_data = $("#inquiryForm").serialize();
        	
        	displayWorkProgress();
		 		$.ajax({
					url : registerInquiryUrl,
		            cache : false,
		            dataType: 'json',
					data : param_data,
					type : 'POST',
					success : function(data) {
						console.log(data)
						if(data.result){
							alert("문의사항이 등록 되었습니다.")
							window.location.reload();
						}else{
							alert("문의사항이 정상적으로 등록되지 않았습니다. 확인 해주십시오.")
						}
						closeWorkProgress();
					}
			   })
        }
        
      </script>
 </div>

</body>
</html>