<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
	layout:decorator="layout/mng/mainLayout" 
>
<body>
	<div layout:fragment="content" class="page-body">
<style>
.hide{display:none;}
</style>

<script type="text/javascript">
    
    var listUrl = "/mng/site/siteList.do";
    var gridHelper1;
    var regSiteid = null;

    $(function(){
        gridHelper1 = new GridHelper('jsGrid','contentPanel');
        
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",
            autoload: true,
            sorting: false,
            paging: true,
            pagerContainer: "#listPager",
            pagerFormat: "{first} {prev} {pages} {next} {last}",
            pagePrevText: "이전",
            pageNextText: "다음",
            pageFirstText: "< 처음 ㅣ",
            pageLastText: "ㅣ 마지막 >",
            noDataContent: "데이터가 없습니다.",
            
            pageSize: 10,
            pageButtonCount: 10,
            pageLoading: true,
            pageIndex: 1,
            
            onDataLoaded: function(args) {
                    if(regSiteid == null || args.grid.data == null || args.grid.data.length == 0) return;
                    for(var i = 0; i < args.grid.data.length; i++) {
                        if(args.grid.data[i].siteid == regSiteid){
                            var items = $("#jsGrid").jsGrid("option", "data");
                            var $row = $("#"+gridHelper1.jsGridId).jsGrid("rowByItem", items[i]);
                            $row.trigger('click');
                        }    
                    }
            },
                
            controller: {
                
                loadData: function (filter) {
                    var data = $.Deferred();
                    
                    var formData = $('#searchFrm').serializeArray();
                    var params = [
                            {name: "pageNumber", value: filter.pageIndex},
                            {name: "rowPerPage", value: filter.pageSize},
                    ]
                    
                    if(filter.sortField != undefined){
                        params.push({name: "orderField", value: filter.sortField});
                        params.push({name: "orderDirection", value: filter.sortOrder});
                    }else{
                        params.push({name: "orderField", value: 'REG_DT'});
                    }

                    formData = formData.concat(params);
                    
                    var params = {
                            "searchType": $('#searchType').val(),
                            "searchKeyword": $('#searchKeyword').val(),
                            "pageNumber": filter.pageIndex,
                            "rowPerPage": filter.pageSize,
                            "orderField": "MDFCN_DT",
                            "orderDirection": "asc"
                    }
                    
                    $.ajax({
                      type: "GET",
                      contentType: "application/json; charset=utf-8",
                      url: listUrl,
                      data: formData,
                      dataType: "json"
                    }).done(function(response){
                        var da = {
                                data : escapeGridData(response.list),
                                itemsCount : response.totalCount
                            };
                      data.resolve(da);
                    });
                    
                    return data.promise();
                },
            },
            fields: [ 
                { name: 'siteid', key: true, visible: false },
                { title:'No.', name: 'rowNumber', type: "number", width: "80", align : "center",sorting: false },
                { title:'사이트 이름', name: 'siteNm', type: "text" , width:"120"},
                { title:'시스템구분', name: 'sysSeNm', type: "text" , width:"60", align : "center"},
                { title:'시스템종류', name: 'sysKndCd', type: "text" , width:"60", align : "center", itemTemplate: function(value, item) {
                        if(value == 'A'){
                            return '관리자';
                        }else if(value == 'P'){
                            return '포털';
                        }else if(value == 'T'){
                            return '분양';
                        }
                    }
                },
                { title:'운영기관', name: 'instNm', type: "text" , width:"150", align : "center", itemTemplate: function(value, item) {
                        return value + '(' + item.instCd + ')';
                    }
                },
                { title:'도메인', name: "domains", type: "text", cellRenderer: cellRendererDomains , width:"150", align : "center"},
                { title:'운영상태', name: 'useYn', type: "text", width:"40", align : "center", itemTemplate: function(value, item) {
                        return value == 'Y'?'운영':'폐쇄';
                    }
                },
                { title:'등록일', name: 'regDt', type: "text" , width:"100", align : "center"}
            ],
            rowClick: function(args){
                if(regSiteid == null){
                    gridHelper1.loadContent("/mng/site/siteMngRegForm.html?siteid="+args.item.siteid);
                }else{
                    var contentPanelId = gridHelper1.contentPanelId;
                    gridHelper1.removeHighlight();
                    $.ajax({
                        cache: false,
                        url: "/mng/site/siteMngRegForm.html?siteid="+args.item.siteid, 
                        type: 'GET',
                        async: 'false',
                        dataType: 'html',
                        success: function(result){
                            regSiteid = null;
                            $('#'+contentPanelId).html(result);
                            scrollIntoView("domainForm");
                        }
                    });
                    gridHelper1.showContent();
                }
        
                gridHelper1.rowClick(args);
            },
        });
    });
    
    function search(){
        gridHelper1.resetListContent();
    }
    
    function initSearch() {
        $("#searchType").val('');
        $("#searchKeyword").val('');
        $("#useYn", "#searchFrm").val('');
        $("#sysSeCd", "#searchFrm").val('');
    }

    function cellRendererDomains(value, item){
    	//if(isNull(item.domains)) return '<td>-</td>';
    	
        //return '<td>' + item.domains.replaceAll(",", "<BR>") + '</td>';
        if (value == null) {
            value = '';
        }
        var dmnArr = value.split(',');
        var cnt = dmnArr.length-1;
        if (cnt == 0) {
            return '<td>' + value + '</td>';
        } else {
            return '<td>' + dmnArr[0] + ' 외 ' + cnt + '건</td>';
        } 
    }
    
    function handlerForAddClick(){
        gridHelper1.loadContent("/mng/site/siteMngRegForm.html"); 
    }
    
</script>

        <div class="row">
            <form name="searchFrm" id="searchFrm" action="" method="POST" onsubmit="return false;">
            <div class="col-12">
                <div class="card">
                    <div class="card-block-small">
                        <div class="row">
                            <div class="col-lg-3 mb-2 mb-lg-0">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                    <div class="input-group input-group-sm input-group-dropdown mb-0">
                                        <select name="searchType" id="searchType" class="form-select form-control form-control-primary form-bg-primary">
                                            <option value="">- 선택 -</option>
                                            <option value="sitenm">사이트이름</option>
                                            <option value="instnm">기관명</option>
                                            <option value="instcd">기관코드</option>
                                            <option value="dmn">도메인</option>
                                        </select>
                                        <input type="text" name="searchKeyword" id="searchKeyword" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2 mb-lg-0">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>운영상태</strong></div>
                                    <div class="col-sm-12">
                                        <select name="useYn" id="useYn" class="form-select form-select-sm form-control-sm">
                                            <option value="">- 전체 -</option>
                                            <option value="Y">운영</option>
                                            <option value="N">폐쇄</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2 mb-lg-0">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>시스템구분</strong></div>
                                    <div class="col-sm-12">
                                        <select name="sysSeCd" id="sysSeCd" class="form-select form-select-sm form-control-sm">
                                            <option value="">- 전체 -</option>
                                            <option value="U">사용자</option>
                                            <option value="A">관리자</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2 mb-lg-0">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>시스템종류</strong></div>
                                    <div class="col-sm-12">
                                        <select name="sysKndCd" id="sysKndCd" class="form-select form-select-sm form-control-sm">
                                            <option value="">- 전체 -</option>
                                            <option value="A">관리자</option>
                                            <option value="P">포털</option>
                                            <option value="T">분양</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 text-center">
                            <button type="button" class="btn btn-disabled m-r-5" onclick="initSearch()">초기화</button>
                            <button type="submit" class="btn btn-primary" onclick="search()">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>사이트 결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="handlerForAddClick()">등록</button>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="contentPanel" style="display:none"></div>
        </div>
	</div>
</body>