<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
</head>
<body>
<div class="layer-popup layer-large" data-layer-id="layer-popup05">
    <div class="layer-dimmed" title="레이어팝업 닫기"></div>
    <div class="layer-wrap">
        <div class="layer-header">
            <strong class="tit">기관 검색</strong>
            <button type="button" class="btn-layer-close" title="레이어팝업 닫기" data-layer-close></button>
        </div>
        <div class="layer-content">
            <form class="search-filter" id="instSearchForm">
                <input type="hidden" id="pageNumber" name="pageNumber" value="1">
                <input type="hidden" id="order_direction" name="order_direction" value="asc"> 
                <input type="hidden" id="orderField" name="orderField" value="INST_NM">
                <div class="form-input-wrap">
                    <div class="form-row">
                        <div class="form-header"><strong class="label">기관명</strong></div>
                        <div class="form-body">
                            <input type="search" name="instNm" id="instNm" title="기관명" placeholder="기관명을 입력해 주세요." onkeyup="enterkey()">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-header"><strong class="label">사업자등록번호</strong></div>
                        <div class="form-body">
                            <input type="search" name="brno" id="brno" title="사업자등록번호" placeholder="사업자등록번호을 입력해 주세요." onkeyup="enterkey()">
                        </div>
                    </div>
                </div>
                <div class="search-filter-submit">
                    <button type="reset" class="btn-medium btn-gray btn-before-refresh">초기화</button>
                    <button type="button" class="btn-medium btn-green btn-before-search" onclick="searchInstList()">검색</button>
                </div>
            </form>
            <div class="pc-only">
                <div class="table-col table-layout-auto">
                    <table>
                        <caption>기관 검색 - 기관명, 사업자등록번호, 기관유형, 선택</caption>
                        <thead>
                            <tr>
                                <th scope="col">기관명</th>
                                <th scope="col">사업자등록번호</th>
                                <th scope="col">기관유형</th>
                                <th scope="col">선택</th>
                            </tr>
                        </thead>
                        <tbody id="instSearchResultPc">
                            <tr>
                                <td class="nodata" colspan="4">
                                    <p><span class="icon icon-notice bg-black9"></span>검색된 내용이 없습니다.</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mo-only">
                <div class="table-list">
                    <ul id="instSearchResultMobile">
                        <li class="block">
                            <div class="nodata">
                                <p><span class="icon icon-notice bg-black9"></span>검색된 내용이 없습니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="instSearchPaging"></div>
        </div>
        <div class="layer-footer">
            <div class="btn-wrap">
                <div class="center">
                    <button type="button" class="btn-medium btn-green" onclick="layerPopup.close({target:'layer-popup05', callback: function(){ directInput();}})">직접 입력</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/common/handlebars/handlebars-v4.7.7.js"></script>   
<script src="/js/common/handlebars/handlebars.helper.js"></script>
<script id="instSearchPcTemplet" type="text/x-handlebars-template">
    {{#each instSearchList}}
    <tr>
        <td>{{instNm}}</td>
        <td>{{brno}}</td>
        <td>{{instTypeNm}}</td>
        <td><button type="button" class="btn-small btn-outline-blue" onclick="selectedInst({{artclid}})">선택</button></td>
    </tr>
    {{else}}
    <tr>
        <td class="nodata" colspan="4">
            <p><span class="icon icon-notice bg-black9"></span>검색된 내용이 없습니다.</p>
        </td>
    </tr>
    {{/each}}
</script>
<script id="instSearchMobileTemplet" type="text/x-handlebars-template">
    {{#each instSearchList}}
    <li class="block">
        <div class="tbody">
            <dl>
                <div class="list">
                    <dt>기관명</dt>
                    <dd>{{instNm}}</dd>
                </div>
                <div class="list">
                    <dt>사업자등록번호</dt>
                    <dd>{{brno}}</dd>
                </div>
                <div class="list">
                    <dt>기관유형</dt>
                    <dd>{{instTypeNm}}</dd>
                </div>
            </dl>
        </div>
        <div class="btn-wrap">
            <div class="center">
                <a href="javascript:selectedInst({{artclid}})" class="btn-small btn-outline-blue">선택</a>
            </div>
        </div>
    </li>
    {{else}}
    <li class="block">
        <div class="nodata">
            <p><span class="icon icon-notice bg-black9"></span>검색된 내용이 없습니다.</p>
        </div>
    </li>
    {{/each}}
</script>
<script type="text/javascript">
    
    var inst_Search_Pc_Templet = Handlebars.compile($("#instSearchPcTemplet").html());;
    var inst_Search_Mobile_Templet = Handlebars.compile($("#instSearchMobileTemplet").html());;
      
    function initInstSearchPopup(){
        $("#instNm", "#instSearchForm").focus();
    }
    
    function selectInstSearchList() {
        if (displayWorkProgress(true)){
            $.ajax({
                url : "/front/membership/selectInstSearchList.do",
                cache : false,
                dataType : 'json',
                data : $("#instSearchForm").serialize(),
                type : 'POST',
                success : function(data) {
                    $("#instSearchResultPc").html(inst_Search_Pc_Templet({instSearchList:data.list}));
                    $("#instSearchResultMobile").html(inst_Search_Mobile_Templet({instSearchList:data.list}));
                    if(data.totalCount == 0) {
                        $(".instSearchPaging").html('');
                    }else{
                        $(".instSearchPaging").html(data.pagination);
                    }
                    closeWorkProgress();
                }
            });
        }
    }

    function searchInstList() {
        if ($("#instNm", "#instSearchForm").val() == "" && $("#brno", "#instSearchForm").val() == "") {
            alert("기관명 또는 사업자등록번호를 입력 해주십시오.");
            $("#instNm", "#instSearchForm").focus();
            return;
        }
        $("#pageNumber").val(1);
        selectInstSearchList();
    }
    
    function goPage(page) {
        $("#pageNumber").val(page);
        selectInstSearchList();
    }
    
    function enterkey() {
        if (window.event.keyCode == 13) {
            searchInstList();
        }
    }
    
    function selectedInst(artclid) {
        setInstArtclid(artclid);
        layerPopup.close({target:'layer-popup05'});
    }
</script>

</body>
</html>