<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/simpleLayout"
>
    <body>
        <th:block layout:fragment="content">
            <form id="typeForm" th:action="@{/front/membership/step2.html}" method="post">
            <input type="hidden" name="type" id="type" />
            <input type="hidden" name="onepassEncodeData" id="onepassEncodeData" th:value="${data.onepassEncodeData}" />
            <input type="hidden" name="returnUrl" id="returnUrl" th:value="${data.returnUrl}" />

            <section>
                <div class="underline-title">
                    <h2 th:if="${#strings.isEmpty(data.onepassEncodeData)}">회원가입</h2>
                    <h2 th:unless="${#strings.isEmpty(data.onepassEncodeData)}">회원연동</h2>
                </div>
        
                <div class="steps">
                    <ol>
                        <li class="active" title="현재 단계" aria-current="step">
                            <div class="steps-inner">
                                <span>01</span>
                                <strong th:if="${#strings.isEmpty(data.onepassEncodeData)}">회원가입 유형</strong>
                                <strong th:unless="${#strings.isEmpty(data.onepassEncodeData)}">회원연동 유형</strong>
                            </div>
                        </li>
                        <li>
                            <div class="steps-inner">
                                <span>02</span>
                                <strong>약관동의</strong>
                            </div>
                        </li>
                        <li>
                            <div class="steps-inner">
                                <span>03</span>
                                <strong>본인인증</strong>
                            </div>
                        </li>
                        <li>
                            <div class="steps-inner">
                                <span>04</span>
                                <strong>회원정보입력</strong>
                            </div>
                        </li>
                        <li>
                            <div class="steps-inner">
                                <span>05</span>
                                <strong th:if="${#strings.isEmpty(data.onepassEncodeData)}">가입완료</strong>
                                <strong th:unless="${#strings.isEmpty(data.onepassEncodeData)}">연동완료</strong>
                            </div>
                        </li>
                    </ol>
                </div>
                            
                <div class="member-type-list">
                    <ul>
                        <li>
                            <dl>
                                <dt>개인회원</dt>
                                <dd>만 <b>14세 이상</b> 내국인</dd>
                                <dd><div class="thumb"><img src="/images/front/member/member-type-list01.png" alt=""></div></dd>
                            </dl>
                            <div class="btn-inner"><a href="javascript:next('P')" class="btn-large btn-green">개인회원 <th:block th:text="${#strings.isEmpty(data.onepassEncodeData)} ? '가입' : '연동'"></th:block></a></div>
                        </li>
                        <li>
                            <dl>
                                <dt>어린이회원</dt>
                                <dd>만 <b>14세 미만</b> 내국인</dd>
                                <dd><div class="thumb"><img src="/images/front/member/member-type-list02.png" alt=""></div></dd>
                            </dl>
                            <div class="btn-inner"><a href="javascript:next('C')" class="btn-large btn-green">어린이회원 <th:block th:text="${#strings.isEmpty(data.onepassEncodeData)} ? '가입' : '연동'"></th:block></a></div>
                        </li>
                        <li>
                            <dl>
                                <dt>기관회원</dt>
                                <dd>정부 및 지자체(산하 공공기관 포함) <br> 민간 환경교육 기관 및 단체, 학교, 유치원, 어린이집 등 <br> <b>기관의 대표</b> 계정 생성</dd>
                                <dd><div class="thumb"><img src="/images/front/member/member-type-list03.png" alt=""></div></dd>
                            </dl>
                            <div class="btn-inner"><a href="javascript:next('I')" class="btn-large btn-blue">기관회원 <th:block th:text="${#strings.isEmpty(data.onepassEncodeData)} ? '가입' : '연동'"></th:block></a></div>
                        </li>
                    </ul>
                </div>
                
                <div class="btn-wrap">
                    <div class="center">
                        <button type="button" class="btn-medium btn-gray" onclick="history.back()">취소</button>
                    </div>
                </div>
            </section>
            </form>
            <script type="text/javascript">
                function next(type) {
                    $("#type").val(type);
                    $("#typeForm").submit();
                    
                }
            </script>
        </th:block>
    </body>
</html>