<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/membershipLayout"
>
    <body>
        <th:block layout:fragment="content">
            <div class="section-title">
                <h3>회원가입 유형 선택</h3>
            </div>
    
            <div class="member-type-list">
                <ul>
                    <li>
                        <dl>
                            <dt>개인회원</dt>
                            <dd>만 <b>14세 이상</b> 내국인</dd>
                            <dd><div class="thumb"><img src="/images/front/member/member-type-list01.png" alt=""></div></dd>
                        </dl>
                        <div class="btn-inner"><a href="/front/membership/step1.html" class="btn-large btn-green">개인회원 가입</a></div>
                    </li>
                    <li>
                        <dl>
                            <dt>어린이회원</dt>
                            <dd>만 <b>14세 미만</b> 내국인</dd>
                            <dd><div class="thumb"><img src="/images/front/member/member-type-list02.png" alt=""></div></dd>
                        </dl>
                        <div class="btn-inner"><a href="/front/membership/step1.html" class="btn-large btn-green">어린이회원 가입</a></div>
                    </li>
                    <li>
                        <dl>
                            <dt>기관회원</dt>
                            <dd>정부 및 지자체(산하 공공기관 포함) <br> 민간 환경교육 기관 및 단체, 학교, 유치원, 어린이집 등 <br> <b>기관의 대표</b> 계정 생성</dd>
                            <dd><div class="thumb"><img src="/images/front/member/member-type-list03.png" alt=""></div></dd>
                        </dl>
                        <div class="btn-inner"><a href="/front/membership/step1.html" class="btn-large btn-blue">기관회원 가입</a></div>
                    </li>
                </ul>
            </div>
        </th:block>
    </body>
</html>