<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<body>
	<script src="/js/mng/role/configMenu_main.js"></script>

	<form id="configMenuForm" name="configMenuForm" method="post" action="" class="row">
        <input type="hidden" name="seCd" id="seCd" th:value="${seCd}" />
        
        <input type="hidden" id="roleid" name="roleid" value=""/>
        <!-- 선택된 역할 -->
        <input type="hidden" id="menuAdd" name="menuAdd" value="" />
        <!-- 추가된 값 -->
        <input type="hidden" id="menuDel" name="menuDel" value="" />
        <!-- 삭제된 값 -->
            
        <div class="col-12 col-xl-4">
            <h5 class="mb-3">
                <strong>역할구조</strong>
            </h5>
            <div class="card" id="roleBody">
                <div class="card-block-small" id="baseTree">
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-8" id="layoutMenuCompose">
            <h5 class="mb-3">
                <strong>메뉴구성</strong>
            </h5>
            <div class="card" id="siteCard" style="display:none">
                <div class="card-block-small">
                    <div class="mb-2 form-group row">
                        <div class="col-sm-12">
                            <select id="siteid" name="siteid" class="form-select form-select-sm form-control-sm" onChange="javascript:treeReload()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="menuBody">
                <div class="card-block-small">
                    <div class="mb-2 form-group row">
                        <div class="col-sm-12">
                            <div id="txtDesc" class="alert alert-success text-center" role="alert">트리에서 역할을 먼저 선택해 주십시오.</div>
                            <div id="subTree" class="tree" style="min-height:100px; max-height: 500px;overflow: auto;"></div>
                        </div>
                    </div>
                    <div class="mb-0 mt-4 form-group row">
                        <div class="col-sm-12">
                            <button type="button" id="save" class="btn btn-primary" style="display:none">저장</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>