<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout/mng/popupLayout">


<div layout:fragment="content">
    <!-- Pre-loader start -->

    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">


            <div class="pcoded-main-container" style="margin-top: 0 !important">
                <div class="pcoded-wrapper">

                    <!-- <div class="pcoded-content"> -->
                    <div class="pcoded-inner-content">
                        <!-- Main-body start -->
                        <div class="main-body">
                            <!-- 회원관리 sm 버전 -->
                            <div class="">
                                <!-- Page-header start -->

                                <!-- Page-header end -->
                                <!-- Page-body start -->
                                <div class="page-body">


                                    <form id="dsgnPrgrmDtlFrm" class="card">
                                        <input type="hidden" id="prgrmid" name="prgrmid" th:value="${dsgnPrgrmInfo.prgrmid}">

                                        <div class="card-header p-b-10">
                                            <div class="mb-2 row btn-group-sm justify-content-end">
                                                <button id='printBtn' type="button" class="col-auto btn btn-primary" onclick="openPrint()">인쇄</button>
                                            </div>
                                            <ul id='popTabUl' class="nav nav-tabs tabs active" role="tablist">
                                                <!-- [230125] nav-pills flex-column flex-lg-row -> nav-tabs tabs 탭 변경 (첫번째 탭 활성화) -->
                                                <th:block sec:authorize-url="/mng/asgsysSrng/aplyInfoForm.html">
                                                    <li class="nav-item flex-lg-fill text-center"><a class="nav-link" data-bs-toggle="tab" id="popTab1Link" href="#popTab1" role="tab"><strong>신청 정보</strong></a></li>
                                                </th:block>
                                                <th:block sec:authorize-url="/mng/asgsysSrng/prgrmDstnctnUpdate.html">
                                                    <li class="nav-item flex-lg-fill text-center"><a class="nav-link" data-bs-toggle="tab" id="popTab2Link" href="#popTab2" role="tab"><strong>프로그램 우수성</strong></a></li>
                                                </th:block>
                                                <th:block sec:authorize-url="/mng/asgsysSrng/prgrmOperMngForm.html">
                                                    <li class="nav-item flex-lg-fill text-center"><a class="nav-link" data-bs-toggle="tab" id="popTab3Link" href="#popTab3" role="tab"><strong>프로그램 운영관리</strong></a></li>
                                                </th:block>
                                                <th:block sec:authorize-url="/mng/asgsysSrng/prgrmEvl.html">
                                                    <li class="nav-item flex-lg-fill text-center"><a class="nav-link" data-bs-toggle="tab" id="popTab4Link" href="#popTab4" role="tab"><strong>프로그램 평가</strong></a></li>
                                                </th:block>
                                                <th:block sec:authorize-url="/mng/asgsysSrng/ldrQlfcForm.html">
                                                    <li class="nav-item flex-lg-fill text-center"><a class="nav-link" data-bs-toggle="tab" id="popTab5Link" href="#popTab5" role="tab"><strong>지도자의 자격 및 배치</strong></a></li>
                                                </th:block>
                                                <th:block sec:authorize-url="/mng/asgsysSrng/sftyMngForm.html">
                                                    <li class="nav-item flex-lg-fill text-center"><a class="nav-link" data-bs-toggle="tab" id="popTab6Link" href="#popTab6" role="tab"><strong>안전관리</strong></a></li>
                                                </th:block>
                                                <th:block sec:authorize-url="/mng/asgsysSrng/assChklstForm.html">
                                                    <li class="nav-item flex-lg-fill text-center"><a class="nav-link" data-bs-toggle="tab" id="popTab7Link" href="#popTab7" role="tab"><strong>체크리스트</strong></a></li>
                                                </th:block>
                                            </ul>
                                        </div>
                                        <div id="jdgsSprtgrpAltmntTabContent" class="tab-content tabs p-t-20"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:inline="javascript">

            //tabEvent
            $('#popTabUl a').on('show.bs.tab', function(event) {

                var tabId = event.currentTarget.attributes.id.value;
                console.log("############## tabId : " + tabId);

                selectpopTab(tabId);

            });

            //init
            function initAplyInfoForm(){
                initpopTab();
            }

            function selectpopTab(tabId) {
                var vPrgrmid = $("#prgrmid").val();

                if(tabId == "popTab1Link") {
                    loadpopTabContent("/mng/asgsysSrng/aplyInfoForm.html?prgrmid=" + vPrgrmid);
                } else if(tabId == "popTab2Link") {
                    loadpopTabContent("/mng/asgsysSrng/prgrmDstnctnUpdate.html?prgrmid=" + vPrgrmid);
                } else if(tabId == "popTab3Link") {
                    loadpopTabContent("/mng/asgsysSrng/prgrmOperMngForm.html?prgrmid=" + vPrgrmid);
                } else if(tabId == "popTab4Link") {
                    loadpopTabContent("/mng/asgsysSrng/prgrmEvl.html?prgrmid=" + vPrgrmid);
                } else if(tabId == "popTab5Link") {
                    loadpopTabContent("/mng/asgsysSrng/ldrQlfcForm.html?prgrmid=" + vPrgrmid);
                } else if(tabId == "popTab6Link") {
                    loadpopTabContent("/mng/asgsysSrng/sftyMngForm.html?prgrmid=" + vPrgrmid);
                } else if(tabId == "popTab7Link") {
                    loadpopTabContent("/mng/asgsysSrng/assChklstForm.html?prgrmid=" + vPrgrmid);
                }

                $('#popTabUl .active').removeClass('active')
                $("#" + tabId).addClass("active");
            }

            function loadpopTabContent(uri) {

                $.ajax({
                    cache   : false
                  , url     : uri
                  , type    : 'GET'
                  , async   : 'false'
                  , dataType: 'html'
                  , success : function(result){ //요청이 성공했을때 실행되는 콜백 함수
                                  $('#jdgsSprtgrpAltmntTabContent').html(result);
                              }
                });
                ;
                showContent();
            }

            function initpopTab() {

                console.log("dsgnAplyDetailForm start");

                var tabFlag = false;

                if(tabFlag == false) {
                    selectpopTab("popTab1Link");
                    tabFlag = true;
                }

                if(tabFlag == false) {
                    selectpopTab("popTab2Link");
                    tabFlag = true;
                }

                if(tabFlag == false) {
                    selectpopTab("popTab3Link");
                    tabFlag = true;
                }

                if(tabFlag == false) {
                    selectpopTab("popTab4Link");
                    tabFlag = true;
                }

                if(tabFlag == false) {
                    selectpopTab("popTab5Link");
                    tabFlag = true;
                }

                if(tabFlag == false) {
                    selectpopTab("popTab6Link");
                    tabFlag = true;
                }
                if(tabFlag == false) {
                    selectpopTab("popTab7Link");
                    tabFlag = true;
                }
            }

            var vPrint = "";
            function openPrint(){
                var id = $("#prgrmid").val();
                var popUrl = "/cmm/reporting/dsgnPrgrmDetail.html?id="+id;

                var popupOption="scrollbars=yes,top=300, left=900,width=1000, height=600";
                vPrint = window.open(popUrl, "_blank", popupOption);
            }

            $(function(){
                initpopTab();
                initAplyInfoForm();

            });
    </script>
    </div>
    </body>
</html>