<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content type_2">
        <div class="modal-header">
            <h4 class="modal-title">이의신청 상세보기</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
        </div>
        <form id="objcModalForm" name="objcModalForm">
            <input type="hidden" id="aplyid" name="aplyid" th:value="${objcInfo.aplyid}">
            <div class="modal-body">
                <div class="card m-b-10">
                    <div class="card-header p-b-0">
                        <h3 class="sub-title"><strong>변경사항</strong></h3>
                    </div>
                    <div class="card-block-small p-t-0"><!-- [230125] p-t-0 추가 -->
                        <div class="mb-2 form-group row">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="ttl"><strong>이의사유</strong></label>
                            <div class="col-12">
                                    <textarea rows="5" cols="5" class="form-control form-control-sm" id="ttl"
                                              name="ttl" th:text="${objcInfo.ttl}" readonly></textarea>
                            </div>
                        </div>
                        <div class="mb-0 form-group row required">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="ans"><strong>답변</strong></label>
                            <div class="col-12">
                                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="답변" id="ans"
                                              name="ans" th:text="${objcInfo.ans}"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <th:block sec:authorize-url="/mng/dsgnPrgrm/insertObjcAns.do">
                    <button type="button" class="btn btn-primary" onclick="objcPopup.insertAns()">저장</button>
                </th:block>
            </div>
        </form>

    </div >
</div>

<script th:inline="javascript">
    var objcPopup = {
        insertObjcAnsUrl: '/mng/dsgnPrgrm/insertObjcAns.do',

        init() {
            this.validateForm();
        },

        insertAns() {

            var isSec = false;
            /*[# sec:authorize-url="/mng/dsgnPrgrm/insertObjcAns.do"]*/
            isSec = true;
            /*[/]*/
            if (!isSec) {
                alert('접근권한이 없습니다.');
                return;
            }

            if (!$('#objcModalForm').valid()) return;

            if(confirm('답변을 등록하시겠습니까?')) {
                if (displayWorkProgress()) {
                    $.ajax({
                        type: 'post',
                        url: this.insertObjcAnsUrl,
                        data: $('#objcModalForm').serialize(),
                        dataType: 'json'
                    }).done(function (response) {
                        alert(response.msg);
                        closeWorkProgress();
                        if(response.success = "success") {
                            objc.modal.hide();
                            objc.gridHelper.resetListContent();
                        }
                    });
                }
            }
        },

        validateForm() {
            $('#objcModalForm').validate({
                onsubmit: false,
                rules: {
                    ans: {required: true, maxlength: 2000}
                },
                messages: {
                    ans: {required: '답변을 입력해 주십시오.', maxlength: '답변은 2000자를 넘을 수 없습니다.'}
                }
            });
        }
    }

    $(function () {
        objcPopup.init();
    })
</script>