<form id="operRsltFrm">
    <input type="hidden" id="prgrmid" name="prgrmid" th:value="${dsgnInfo.prgrmid}">
    <input type="hidden" id="instRgnCd" name="instRgnCd" th:value="${dsgnInfo.instRgnCd}">


	<div class="card-header p-t-0 p-b-0">
	    <h3 class="sub-title"><strong>기본 정보</strong></h3>
	</div>
	<div class="card-block-small p-t-0">
	    <div class="mb-2 row">
	        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	            <div class="mb-0 form-group">
	                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="prgrmNm"><strong>프로그램명</strong></label>
	                <div class="col-sm-12">
	                    <input type="text" class="form-control form-control-sm" name="prgrmNm" id="prgrmNm" th:value="${dsgnInfo.prgrmNm}" readonly="">
	                </div>
	            </div>
	        </div>
	        <div class="col-12 col-lg-6">
	            <div class="mb-0 form-group">
	                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="instNm"><strong>기관명</strong></label>
	                <div class="col-sm-12">
	                    <input type="text" class="form-control form-control-sm" name="instNm" id="instNm" th:value="${dsgnInfo.instNm}" readonly="">
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="mb-2 row">
	        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	            <div class="mb-0 form-group">
	                <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
	                    <strong>지역</strong></div>
	                <div class="col-12">
                        <input type="text" class="form-control form-control-sm" name="instRgnCdNm" id="instRgnCdNm" th:value="${dsgnInfo.instRgnCdNm}" readonly="">
	                </div>
	            </div>
	        </div>
	        <div class="col-12 col-lg-6">
	            <div class="mb-0 form-group">
	                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="operationResultAssignStatus"><strong>지정상태</strong></label>
	                <div class="col-12">
                        <input type="text" class="form-control form-control-sm" name="sttsCdNm" id="sttsCdNm" th:value="${dsgnInfo.sttsCdNm}" readonly="">
	                </div>
	            </div>
	        </div>
	    </div>
	    <div class="mb-0 row">
	        <div class="col-12 col-lg-6 mb-2 mb-lg-0">
	            <div class="mb-0 form-group">
	                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="operationResultDegree"><strong>차수 / 지정번호</strong></label>
	                <div class="col-sm-12">
	                    <input type="text" class="form-control form-control-sm" name="cyclNo" id="cyclNo" th:value="${dsgnInfo.cyclNo}" readonly="">
	                </div>
	            </div>
	        </div>
	        <div class="col-12 col-lg-6">
	            <div class="mb-0 form-group">
	                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="operationResultAssignAvailableDate"><strong>지정유효기간</strong></label>
	                <div class="col-sm-12">
	                    <input type="text" class="form-control form-control-sm" name="dsgnPrd" id="dsgnPrd" placeholder="" th:value="${dsgnInfo.dsgnPrd}" readonly="">
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="card-header p-t-0 p-b-0">
	    <h3 class="sub-title"><strong>운영결과서</strong></h3>
	</div>
	<div class="card-block-small p-t-0">
	    <div class="col-12 table-border-style">
	        <div class="table-responsive">

                <!-- 운영결과 목록 -->
                <table id="operRsltGrid" class="table"></table>
                <div id="listPager2" class="text-center"></div>
	        </div>
	    </div>
	</div>
</form>
<div id="operRsltContentPanel" style="display:none"></div>

<!-- 기간변경 팝업 -->
<div class="modal fade" id="sbmsnPrdChgPopup" aria-hidden="true" data-bs-backdrop="static"></div>

<script th:inline="javascript">

initOperRsltFrm();

var operRsltGridHelper;

function initOperRsltFrm() {

    operRsltGridHelper = new GridHelper('operRsltGrid','operRsltContentPanel');
     writeOperRsltGridData();

     $("#operRsltDtlFrm").hide();
}

//목록
function writeOperRsltGridData(){
    $("#operRsltGrid").jsGrid({
        height: "220px",
        width: "100%",
        autoload: true,
        sorting:false,
        paging: false,
        pageLoading: true,
        pageIndex: 1,
        sortOrder:"asc",
        noDataContent: "데이터가 없습니다.",

        controller: {
            loadData: function (filter) {

                var data = $.Deferred();

                var formData = $('#operRsltFrm').serializeArray();
                var params = [
                        {name: "pageNumber", value: filter.pageIndex},
                        {name: "rowPerPage", value: filter.pageSize},
                        {name: "orderField", value: 'cycl'},
                        {name: "orderDirection", value: 'asc'}
                ]

                formData = formData.concat(params);

                $.ajax({
                  type: "GET",
                  contentType: "application/json; charset=utf-8",
                  url: "/mng/dsgnPrgrm/selectOperRsltList.do",
                  dataType: "json",
                  data: formData
                }).done(function(response){


                    var da = {
                            data : escapeGridData(response.operRsltList)
                            ,itemsCount : response.totalCount
                        };
                  data.resolve(da);
                });
                return data.promise();
            },
        },
        fields: [
             { name: 'cyclid', css:'hide'}
            ,{ title: '회차'         ,name: 'cycl',          type: "number", width: "20",  align:"center"}
            ,{ title: '제출기간'     ,name: 'sbmsnPrd',      type: "text",   width: "200", align:"center"}
            ,{ title: '제출확인'     ,name: 'sbmsnIdnty',    type: "text",   width: "20", align:"center"}
            ,{ title: '최종제출일시' ,name: 'lastSbmsnDt',   type: "text",   width: "40", align:"center" }
            ,{ title: '제출상태'     ,name: 'sbmsnSttsCdNm', type: "text",   width: "20", align:"center" }
            ,{ title: '-'            ,name: 'regBtn',        type: "control",   width: "20", align:"center"
            	, itemTemplate : function(_, item) {

            		   //if(item.sbmsnIdnty=='대기중'&&item.sbmsnSttsCdNm=='제출') return `<button type="button" class="col-auto btn btn-primary" onclick="regOperRslt()">등록</button>`
            		   return `<button type="button" class="col-auto btn btn-primary" onclick="regOperRslt('${item.cyclid}')">등록</button>`
            	       //return '-';
            	    },
            }
            ,{ name: 'cyclid', css:'hide'}
        ],

        rowClick: function(args) {

            if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;

            if(args.event.originalEvent.target.cellIndex == 2) {
            	openSbmsnPrdChgModal(args.item.cyclid);
            }

            if(args.event.originalEvent.target.cellIndex == 3 && args.item.sbmsnIdnty == "내용확인") {
                var detailUrl = "/mng/dsgnPrgrm/operRsltUpdateForm.html?cyclid=" + args.item.cyclid;
                operRsltGridHelper.loadContent(detailUrl);
            }

        },
        onPageChanged: function(args) {
            selectedItems = [];
        }
    });
}

//운영결과 등록
function regOperRslt(cyclid){
	var prgrmid = $('#prgrmid').val();
	var detailUrl = "/mng/dsgnPrgrm/operRsltInsertForm.html?prgrmid="+prgrmid+"&cyclid=" + cyclid;
	operRsltGridHelper.loadContent(detailUrl);
}

var sbmsnPrdChgModal;
var openSbmsnPrdChgModal= (cyclid) => {

    var url = "/mng/dsgnPrgrm/sbmsnPrdChgPopup.html?cyclid="+cyclid;

    $("#sbmsnPrdChgPopup").load(url, function(response, status, xhr) {
        if (status == "success") {
            sbmsnPrdChgModal = new bootstrap.Modal($('#sbmsnPrdChgPopup'));

            sbmsnPrdChgModal.show();

        }
    });
}

</script>
</div>
</body>
</html>