<form id="objcInfoFrm">
<input type="hidden" id="cyclid" name="cyclid" th:value="${operRsltInfo.cyclid}">

    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>운영결과서 확인 - 프로그램 개요</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoProgramName"><strong>프로그램명</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="objcInfoProgramName" id="objcInfoProgramName" placeholder="" th:value="${operRsltInfo.prgrmNm}" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoAgencyName"><strong>기관명</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="objcInfoAgencyName" id="objcInfoAgencyName" placeholder="" th:value="${operRsltInfo.instNm}" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>기관유형</strong></div>
                    <div class="col-12">
                        <span kattr:select_code="instCd" th:attr="grpCd=108, selectedCd=${operRsltInfo.instTypeCd}" firstOptTxt="- 전체 -" addClass="form-select form-select-sm form-control-sm" isAdmin="true">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>지역</strong></div>
                    <div class="col-12">
                        <select name="objcInfoRegionSelect" class="form-select form-select-sm form-control-sm" disabled="">
                            <option value="opt1">Select One Value Only
                            </option>
                            <option value="opt2">Type 2</option>
                            <option value="opt3">Type 3</option>
                            <option value="opt4">Type 4</option>
                            <option value="opt5">Type 5</option>
                            <option value="opt6">Type 6</option>
                            <option value="opt7">Type 7</option>
                            <option value="opt8">Type 8</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoLeadDeveloperName"><strong>책임개발자 이름</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="snrstfdvlprNm" id="snrstfdvlprNm" placeholder="" th:value="${operRsltInfo.snrstfdvlprNm}" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoLeadDeveloperTelNum"><strong>책임개발자 연락처(Tel)</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="snrstfdvlprTelno" id="snrstfdvlprTelno" placeholder="" th:value="${operRsltInfo.snrstfdvlprTelno}" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoLeadDeveloperEmail"><strong>책임개발자 이메일</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="snrstfdvlprEml" id="snrstfdvlprEml" placeholder="" th:value="${operRsltInfo.snrstfdvlprEml}" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoLeadDeveloperPhoneNum"><strong>책임개발자 연락처(HP)</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="snrstfdvlprMoblphon" id="snrstfdvlprMoblphon" placeholder="" th:value="${operRsltInfo.snrstfdvlprMoblphon}" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoWorkerName"><strong>운영책임자(실무자) 이름</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="picNm" id="picNm" placeholder="" th:value="${operRsltInfo.picNm}" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoWorkerTelNum"><strong>운영책임자(실무자) 연락처(Tel)</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="picTelno" id="picTelno" placeholder="" th:value="${operRsltInfo.picTelno}" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoWorkerEmail"><strong>운영책임자(실무자) 이메일</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="picEml" id="picEml" placeholder="" th:value="${operRsltInfo.picEml}" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoWorkerPhoneNum"><strong>운영책임자(실무자) 연락처(HP)</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="picMoblphon" id="picMoblphon" placeholder="" th:value="${operRsltInfo.picMoblphon}" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>운영형태</strong></div>
                    <div class="col-12">
                        <div class="form-radio">
                            <span kattr:radio_code="prgrmTypeCd" th:attr="grpCd=120, selectedCd=${operRsltInfo.prgrmTypeCd}" isAdmin="true">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>숙박여부</strong></div>
                    <div class="col-12">
                        <span kattr:radio_yn="styYn" label1="숙박" label2="비숙박" th:attr="defaultVal=${operRsltInfo.styYn== null ? 'N':operRsltInfo.styYn}" isAdmin="true" disabled></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>(실외활동)보험가입여부</strong></div>
                    <div class="col-12 row align-items-center">
                        <div class="col-12 col-lg-auto mb-2 mb-lg-0">
                            <div class="form-radio">
                                <span kattr:radio_yn="insrncJoinYn" label1="가입" label2="미가입" th:attr="defaultVal=${operRsltInfo.insrncJoinYn== null ? 'N':operRsltInfo.insrncJoinYn}" isAdmin="true" disabled></span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-auto">
                            <input type="text" class="form-control form-control-sm" name="insrncRsn" id="insrncRsn" placeholder="" th:value="${operRsltInfo.insrncRsn}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>변경여부</strong></div>
                    <div class="col-12">
                        <div class="form-radio">
                            <span kattr:radio_yn="chgYn" label1="변경됨" label2="변경 없음" th:attr="defaultVal=${operRsltInfo.chgYn== null ? 'N':operRsltInfo.chgYn}" isAdmin="true" disabled></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-0 row">
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>교육대상</strong></div>
                    <div class="border-checkbox-section">
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="infnt" id="infnt" th:checked="${operRsltInfo.infnt== 'Y'}">
                            <label class="form-label form-label-sm border-checkbox-label" for="infnt"> 유아 </label>
                        </div>
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="schboy" id="schboy" th:checked="${operRsltInfo.schboy == 'Y'}">
                            <label class="form-label form-label-sm border-checkbox-label" for="schboy"> 초등 </label>
                        </div>
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="msklsd" id="msklsd" th:checked="${operRsltInfo.msklsd == 'Y'}">
                            <label class="form-label form-label-sm border-checkbox-label" for="msklsd"> 중등 </label>
                        </div>
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="hgschst" id="hgschst" th:checked="${operRsltInfo.hgschst == 'Y'}">
                            <label class="form-label form-label-sm border-checkbox-label" for="hgschst"> 고등 </label>
                        </div>
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="adult" id="adult" th:checked="${operRsltInfo.adult== 'Y'}">
                            <label class="form-label form-label-sm border-checkbox-label" for="adult"> 성인 </label>
                        </div>
                        <div class="border-checkbox-group border-checkbox-group-inverse">
                            <input class="border-checkbox" type="checkbox" name="wholAge" id="wholAge" th:checked="${operRsltInfo.wholAge== 'Y'}">
                            <label class="form-label form-label-sm border-checkbox-label" for="wholAge"> 전연령 </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoEduPersonnel"><strong>교육인원 (1회기준)</strong></label>
                    <div class="col-12">
                        <input type="text" class="form-control form-control-sm" placeholder="교육인원" name="eduNope" id="eduNope" th:value="${operRsltInfo.eduNope}" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoActionPlace"><strong>활동장소</strong></label>
                    <div class="col-12">
                        <input type="text" class="form-control form-control-sm" name="actvtPlc" id="actvtPlc" placeholder="활동장소" th:value="${operRsltInfo.actvtPlc}" readonly="">
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoAttendCost"><strong>참가비용</strong></label>
                    <div class="col-12">
                        <input type="text" class="form-control form-control-sm" name="etrfee" id="etrfee" placeholder="참가비용" th:value="${operRsltInfo.etrfee}" readonly="">
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 row">
            <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                <div class="mb-0 form-group">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoEduTime1"><strong>교육시간</strong></label>
                    <div class="col-12 row align-items-center">
                        <div class="col-auto">
                            <input type="text" class="form-control form-control-sm" name="eduCnt" id="eduCnt" placeholder="" th:value="${operRsltInfo.eduCnt}" style="width: 40px;">
                        </div>
                        <div class="col-auto p-l-0">회</div>
                        <div class="col-auto">
                            <input type="text" class="form-control form-control-sm" name="eduHr" id="eduHr" placeholder="" th:value="${operRsltInfo.eduHr}" style="width: 40px;">
                        </div>
                        <div class="col-auto p-l-0">시간</div>
                        <div class="col-auto">
                            <input type="text" class="form-control form-control-sm" name="eduMnt" id="eduMnt" placeholder="" th:value="${operRsltInfo.eduMnt}" style="width: 40px;">
                        </div>
                        <div class="col-auto p-l-0">분</div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="mb-0 form-group">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                        <strong>안전사고유무</strong></div>
                    <div class="col-12">
                        <div class="form-radio">
                            <span kattr:radio_yn="sftyacdntEnnc" label1="있음" label2="없음" th:attr="defaultVal=${operRsltInfo.sftyacdntEnnc== null ? 'N':operRsltInfo.sftyacdntEnnc}" isAdmin="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-2 form-group row">
            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
                <strong>프로그램운영시기</strong></div>
            <div class="border-checkbox-section">


                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="jan" id="jan" th:checked = "${operRsltInfo.jan=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="jan">1월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="feb" id="feb" th:checked = "${operRsltInfo.feb=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="feb">2월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="mar" id="mar" th:checked = "${operRsltInfo.mar=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="mar">3월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="apr" id="apr" th:checked = "${operRsltInfo.apr=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="apr">4월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="may" id="may" th:checked = "${operRsltInfo.may=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="may">5월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="june" id="june" th:checked = "${operRsltInfo.june=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="june">6월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="july" id="july" th:checked = "${operRsltInfo.july=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="july">7월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="aug" id="aug" th:checked = "${operRsltInfo.aug=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="aug">8월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="sept" id="sept" th:checked = "${operRsltInfo.sept=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="sept">9월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="oct" id="oct" th:checked = "${operRsltInfo.oct=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="oct">10월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="nov" id="nov" th:checked = "${operRsltInfo.nov=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="nov">11월</label>
                </div>
                <div class="border-checkbox-group border-checkbox-group-inverse">
                    <input class="border-checkbox" type="checkbox" name="dcm" id="dcm" th:checked = "${operRsltInfo.dcm=='Y'}">
                    <label class="form-label form-label-sm border-checkbox-label" for="dcm">12월</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-header p-t-0 p-b-0">
        <h3 class="sub-title"><strong>운영결과서 확인 - 프로그램 운영실적</strong></h3>
    </div>
    <div class="card-block-small p-t-0">
        <div class="col-12 table-border-style">
            <div class="col-12 table-responsive">
                <table class="table table-framed">
                    <thead>
                    <tr>
                        <th colspan="9" class="text-center">교육실적 세부내용</th>
                    </tr>
                    <tr>
                        <th class="text-center v-middle">실시일자</th>
                        <th class="text-center v-middle">대상</th>
                        <th class="text-center v-middle">시간(h)</th>
                        <th class="text-center v-middle">인원(명)</th>
                        <th class="text-center v-middle">횟수(회)</th>
                        <th class="text-center v-middle">총 시간(h)<br/>(시간X횟수)</th>
                        <th class="text-center v-middle">총 인원(명)<br/>(인원X횟수)</th>
                        <th class="text-center v-middle">지도자 배치 비율</th>
                        <th class="text-center" style="width: 117px;">설정
                        </th>
                    </tr>
                    </thead>
                    <tbody >

                    <tr th:id='prfmncTr+${i.count}' th:if="${#lists.size(prfmncList) > 0}" th:each="list, i: ${prfmncList}">
                        <td>
                            <input type="date" class="form-control form-control-sm" placeholder="" name="oprtnDe" id="oprtnDe" th:value="${list.oprtnDe}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" placeholder="" name="trgt" id="trgt" th:value="${list.trgt}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" placeholder="" name="hr" id="hr" th:value="${list.hr}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" placeholder="" name="nope" id="nope" th:value="${list.nope}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" placeholder="" name="cnt" id="cnt" th:value="${list.cnt}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" placeholder="" name="wholHr" id="wholHr" th:value="${list.wholHr}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" placeholder="" name="wholNope" id="wholNope" th:value="${list.wholNope}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" placeholder="" name="ldrPostngRt" id="ldrPostngRt" th:value="${list.ldrPostngRt}"/>
                        </td>
                        <td>
                            <div class="btn-group-sm">
                                <button type="button" class="btn btn-primary m-r-5" onclick="addRow()">
                                    추가
                                </button>
                                <button type="button" class="btn btn-inverse" th:if="${i.index > 0}" onclick="delRow()">삭제</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4" class="table-active text-center v-middle">합계</th>
                        <td class="text-center v-middle">
                            <div class="col-12 row m-0 align-items-center">
                                <div class="col-10 p-l-0">
                                    <input type="text" class="form-control form-control-sm" name="objcInfoEduPerformanceTotalEduTime1" id="objcInfoEduPerformanceTotalEduTime1" placeholder="" value="2"/>
                                </div>
                                <div class="col-2 p-0">
                                    회
                                </div>
                            </div>
                        </td>
                        <td class="text-center v-middle">
                            <div class="col-12 m-0 row align-items-center">
                                <div class="col-10 p-l-0">
                                    <input type="text" class="form-control form-control-sm" name="objcInfoEduPerformanceTotalEduTime2" id="objcInfoEduPerformanceTotalEduTime2" placeholder="" value="3">
                                </div>
                                <div class="col-2 p-0">
                                    시간
                                </div>
                            </div>
                        </td>
                        <td colspan="3" class="text-center v-middle">
                            <div class="col-12 row m-0 align-items-center">
                                <div class="col-auto p-l-0">
                                    <input type="text" class="form-control form-control-sm" name="objcInfoEduPerformanceTotalPersonnel" id="objcInfoEduPerformanceTotalPersonnel" placeholder="" value="2">
                                </div>
                                <div class="col-auto p-0">
                                    명
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="4" rowspan="2" class="table-active text-center v-middle">활동기록확인서 발급여부<br/>(초·중·고등학생일 경우 발급가능)</th>
                        <th class="table-active text-center v-middle">발급여부</th>
                        <td colspan="4">
                            <div class="mb-0 form-group">
                                <div class="col-12">
                                    <div class="form-radio">
                                        <div class="radio radio-inline">
                                            <label class="mb-0 form-label">
                                                <input type="radio" name="objcInfoEduPerformancePrintStatus" checked="">
                                                <i class="helper"></i>발급
                                            </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <label class="mb-0 form-label">
                                                <input type="radio" name="objcInfoEduPerformancePrintStatus">
                                                <i class="helper"></i>미발급
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th class="table-active text-center v-middle">발급건수</th>
                        <td colspan="4">
                            <div class="col-12 row m-0 align-items-center">
                                <div class="col-auto p-l-0">
                                    <input type="text" class="form-control form-control-sm" name="objcInfoEduPerformancePrintCount" id="objcInfoEduPerformancePrintCount" placeholder="" value="2" style="max-width: 100px;">
                                </div>
                                <div class="col-auto p-0">
                                    1회 (총
                                </div>
                                <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" name="objcInfoEduPerformancePrintTotalCount" id="objcInfoEduPerformancePrintTotalCount" placeholder="" value="2" style="max-width: 100px;">
                                    </div>
                                    <div class="col-auto p-0">
                                        건 발급)
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-header p-t-0 p-b-0">
            <h3 class="sub-title"><strong>운영결과서 확인 - 프로그램 운영성과</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoProgramOperationResultProgramGreatContents"><strong>프로그램 우수성</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="prgrmDstnctn" name="prgrmDstnctn"><th:block th:text="${operRsltInfo.prgrmDstnctn}"></th:block></textarea>
                </div>
            </div>
            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoProgramOperationResultProgramOperationManagementContents"><strong>프로그램 운영관리</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="operMng" name="operMng"><th:block th:text="${operRsltInfo.operMng}"></th:block></textarea>
                </div>
            </div>
            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoProgramOperationResultProgramEvaluationContents"><strong>프로그램 평가</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="evl" name="evl"><th:block th:text="${operRsltInfo.evl}"></th:block></textarea>
                </div>
            </div>
            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoProgramOperationResultLeaderQualificationContents"><strong>지도자 자격 및 배치</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="qlfcPostng" name="qlfcPostng"><th:block th:text="${operRsltInfo.qlfcPostng}"></th:block></textarea>
                </div>
            </div>
            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoProgramOperationResultSafetyManagementContents"><strong>교육활동 환경 안전관리</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="sftyMng" name="sftyMng"><th:block th:text="${operRsltInfo.sftyMng}"></th:block></textarea>
                </div>
            </div>
            <div class="mb-0 form-group row">
                <div class="form-label col-12 col-form-label p-t-0 pb-1">
                    <strong>첨부파일</strong></div>
                <div class="row">
                    <div class="col-auto">
                            <span class="label label-inverse">
                                sampleFile.pptx <a href="javascript:void(0)" class="text-white">X</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-header p-t-0 p-b-0">
            <h3 class="sub-title"><strong>운영결과서 확인 - 차년도 운영계획</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoNextOperationProgram"><strong>프로그램</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="nextYrPrgrm" name="nextYrPrgrm"><th:block th:text="${operRsltInfo.nextYrPrgrm}"></th:block></textarea>
                </div>
            </div>
            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoNextOperationLeader"><strong>지도자</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="nextYrLdr" name="nextYrLdr"><th:block th:text="${operRsltInfo.nextYrLdr}"></th:block></textarea>
                </div>
            </div>
            <div class="mb-2 form-group row required">
                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoNextOperationEnvironment"><strong>교육활동환경</strong></label>
                <div class="col-12">
                    <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="nextYrEduEnv" name="nextYrEduEnv"><th:block th:text="${operRsltInfo.nextYrEduEnv}"></th:block></textarea>
                </div>
            </div>
            <div class="mb-2 row">
                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoNextOperationRequestDate"><strong>등록일</strong></label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control form-control-sm" name="regDt" id="regDt" placeholder=""
                                th:value="${operRsltInfo.regDt != null ? #dates.format(operRsltInfo.regDt, 'yyyy-MM-dd') : #dates.format(#dates.createNow(), 'yyyy-MM-dd')}" readonly />


                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoNextOperationUpdateDate"><strong>최종수정일</strong></label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control form-control-sm" name="mdfcnDt1" id="mdfcnDt1" placeholder=""
                                th:value="${operRsltInfo.mdfcnDt != null ? #dates.format(operRsltInfo.mdfcnDt, 'yyyy-MM-dd') : #dates.format(#dates.createNow(), 'yyyy-MM-dd')}" readonly />
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-0 row">
                <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="objcInfoNextOperationRequestStatus"><strong>제출상태</strong></label>
                        <div class="col-sm-12">
                            <span kattr:select_code="sttsCd" th:attr="grpCd=128, selectedCd=${operRsltInfo.sttsCd}" firstOptTxt="- 선택 -" addClass="form-select form-select-sm form-control-sm" isAdmin="true" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="mb-0 form-group">
                        <div class="form-label col-12 col-form-label p-t-0 pb-1">
                            <strong>지원단 배정</strong></div>
                        <div class="m-0 row">
                            <div class="col-12 row border rounded pt-1 pb-2 m-0">
                                <div class="col-auto">
                <span class="label label-inverse">
                    label badge <a href="javascript:void(0)" class="text-white">X</a>
                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-block-small">
            <button type="button" onclick="gridHelper1.toggleContent()" class="btn btn-inverse m-r-5" >목록</button>
            <button type="button" onclick="deleteBtnObjcInfo()"         class="btn btn-disabled m-r-5">삭제</button>
            <button type="button" onclick="openSbmsnSttsChgModal()"     class="btn btn-primary m-r-5" >상태변경</button>
            <button type="button" onclick="saveBtnObjcInfo()"           class="btn btn-primary">저장</button>
        </div>
</form>

<!-- 제출상태변경 팝업 -->
<div class="modal fade" id="sbmsnSttsChgPopup" aria-hidden="true" data-bs-backdrop="static"></div>

<script th:inline="javascript">

    initObjcInfo();

    function initObjcInfo(){
    	$("#instCd").attr("disabled",true);

    }

    var sbmsnSttsChgModal;
    var openSbmsnSttsChgModal = (rowAplyid) => {

    	var url = "/mng/dsgnPrgrm/sbmsnSttsChgPopup.html";

    	var cyclid = $("#cyclid").val();
    	var sttsCd = $("#sttsCd").val();
    	url= url+"?cyclid="+cyclid+"&sttsCd="+sttsCd;

        $("#sbmsnSttsChgPopup").load(url, function(response, status, xhr) {
            if (status == "success") {
            	sbmsnSttsChgModal = new bootstrap.Modal($('#sbmsnSttsChgPopup'));
            	sbmsnSttsChgModal.show();

            }
        });
    }

    function addRow(){
    	$("[id^=prfmncTr]:last")

        var lastRow = $('[id^="prfmncTr"]:last');
        var idx = lastRow.index() + 2;

        if ($('[id^="prfmncTr"]').length >= 20) {
            alert("최대 20행까지만 추가 가능합니다.");
            return;
        }

        var newRow = lastRow.clone().attr('id', 'prfmncTr' + idx);

        newRow.find('input').val('');

        lastRow.after(newRow);

        if ($('[id^="prfmncTr"]').length == 2) {
            $('[id^="prfmncTr"] td:last div:last')
                .append(`<button type="button" class="btn btn-inverse"onclick="delRow()">삭제</button>`);
        }
    }

    function delRow(){
    	var lastRow = $('[id^="prfmncTr"]:last');
        if(lastRow.index() > 0) lastRow.remove();
    }

    //삭제 버튼
    function deleteBtnObjcInfo(){

       if(!confirm("삭제하시겠습니까?")) return;

        var data =  $("#objcInfoFrm").serialize() ;

        if(displayWorkProgress()){
            $.ajax({
                url : "/mng/dsgnPrgrm/deleteOperRslt.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : data,
                success : function (data){
                    if(data.result=="success"){
                        alert("삭제가 완료 되었습니다.");
                        gridHelper1.resetListContent();
                    }else{
                        alert("삭제중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
                    }
                    closeWorkProgress();
                },
                error : function (error){
                }
            });
       }

    }

    //저장 버튼
    function saveBtnObjcInfo(){

    	if(!confirm("저장하시겠습니까?")) return;

        var param = {};

        $("#objcInfoFrm input").each(function(index, item) {

            if("checkbox" == item.type){
                if(item.checked ) {
                    param[item.id] = "Y";
                }
                else{
                    param[item.id] = "N";
                }
            }else{
                param[item.id] = item.value;
            }
        });

        $('tr[id^="prfmncTr"]').each(function(index, item){
            param["operPrfmncLst[" + index + "].oprtnDe"     ] = $("#"+item.id + ' input[id^=oprtnDe]').val();
            param["operPrfmncLst[" + index + "].trgt"        ] = $("#"+item.id + ' input[id^=trgt]').val();
            param["operPrfmncLst[" + index + "].hr"          ] = $("#"+item.id + ' input[id^=hr]').val();
            param["operPrfmncLst[" + index + "].nope"        ] = $("#"+item.id + ' input[id^=nope]').val();
            param["operPrfmncLst[" + index + "].cnt"         ] = $("#"+item.id + ' input[id^=cnt]').val();
            param["operPrfmncLst[" + index + "].wholHr"      ] = $("#"+item.id + ' input[id^=wholHr]').val();
            param["operPrfmncLst[" + index + "].wholNope"    ] = $("#"+item.id + ' input[id^=wholNope]').val();
            param["operPrfmncLst[" + index + "].ldrPostngRt" ] = $("#"+item.id + ' input[id^=ldrPostngRt]').val();
        });

    	if(displayWorkProgress()){
            $.ajax({
                url : "/mng/dsgnPrgrm/updateOperRslt.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
//                 contentType: "application/json; charset=utf-8",
                data : param,
                success : function (data){
                    if(data.result=="success"){
                        alert(data.msg);
                        gridHelper1.resetListContent();
                    }else{
                    	alert(data.msg);
                    }
                    closeWorkProgress();
                },
                error : function (error){
                }
            });
       }
    }

</script>
</div>
</body>
</html>