<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/simpleLayout" 
>
<th:block layout:fragment="content">

<section>
    <div class="member-login">
        <div class="member-login-type">
            <ul>
                <li><label class="inp"><input type="radio" name="loginUserTypeRadio" id="loginUserTypeP" value="P" th:checked="${#request.getParameter('userType') == null or #request.getParameter('userType') == '' or #request.getParameter('userType') == 'P'}"><b>개인회원</b></label></li>
                <li><label class="inp"><input type="radio" name="loginUserTypeRadio" id="loginUserTypeI" value="I" th:checked="${#request.getParameter('userType') == 'I'}"><b>기관회원</b></label></li>
            </ul>
        </div>
        <ul>
            <li>
            <form name="login_form" id="login_form" th:action="@{/login}" method="post">
                <input type="hidden" name="loginUserType">
                <input type="hidden" name="returnUrl" th:value="${param.returnUrl}">
                <dl>
                    <dt>회원 로그인</dt>
                    <dd>
                        <input type="text" name="p_userid" id="p_userid" th:value="${#request.getParameter('loginType') == 'G'? param.id : ''}" title="아이디" placeholder="아이디" onkeyup="enterkey()">
                        <input type="password" name="p_pswd" id="p_pswd" title="비밀번호" placeholder="비밀번호" onkeyup="enterkey()" autocomplete="off">
                        <label class="inp"><input type="checkbox" name="lidSave" id="lidSave" value="Y"><b>아이디 저장</b></label>
                        <th:block th:switch="true">
                        <p class="invalid-feedback" th:case="${#request.getParameter('loginType') == 'G' and not #strings.isEmpty(param.msg)}"><th:block th:text="${T(com.kbrainc.plum.rte.util.StringUtil).base64DecodeFromUrlSafeString(param.msg)}" /></p>
                        <p class="invalid-feedback" th:case="${#request.getParameter('loginType') == 'G' and session.drmncy != null}"></p>
                        <p class="invalid-feedback" th:case="${#request.getParameter('loginType') == 'G' and not #strings.isEmpty(param.error)}">아이디 또는 비밀번호를 다시 확인해 주십시오.</p>
                        <p class="invalid-feedback" th:case="${not #strings.isEmpty(param.timeout)}">세션이 유효하지 않습니다.<br>로그인 해주십시오.</p>
                        <p class="invalid-feedback" th:case="*"></p>
                        </th:block>
                    </dd>
                </dl>
                <div class="btn-inner">
                    <a href="javascript:login();" class="btn-large btn-green">로그인</a>
                    <ul class="link-list">
                        <li><a href="javascript:goFindId()">아이디 찾기</a></li>
                        <li><a href="javascript:goFindPswd()">비밀번호 찾기</a></li>
                        <li><a href="javascript:join()">회원가입</a></li>
                    </ul>
                </div>
            </form>
            </li>
            <li>
            <form id="logOutRequest">
                <input type="hidden" th:name="${T(kr.go.onepass.client.handler.saml.OnepassRequestHandler).LOGOUT_INPUT_NAME}" th:value="${T(kr.go.onepass.client.handler.saml.OnepassRequestHandler).logout(#request)}" />
                <input type="hidden" name="pageType" th:value="${T(kr.go.onepass.client.handler.saml.OnepassRequestHandler).pageType(#request)}" />
            </form>
            <form name="request" id="request" th:action="${T(kr.go.onepass.client.handler.saml.OnepassRequestHandler).LOGIN_DEST}" method="post">
                <input type="hidden" name="returnUrl" th:value="${param.returnUrl}">
                <input type="hidden" th:name="${T(kr.go.onepass.client.handler.saml.OnepassRequestHandler).LOGIN_INPUT_NAME}" th:value="${T(kr.go.onepass.client.handler.saml.OnepassRequestHandler).login()}" />
                <dl>
                    <dt>디지털 원패스</dt>
                    <dd>
                        <strong>디지털원패스 아이디를 입력해 주십시오.</strong>
                        <input type="email" title="디지털원패스 아이디" placeholder="디지털원패스 아이디" id="user_id" name="user_id" th:value="${#request.getParameter('loginType') == 'D'? param.id : ''}" onkeydown="if(event.keyCode == 13){onClickSubmit(); return false;};">
                        <label class="inp"><input type="checkbox" name="ridSave" id="ridSave" value="Y"><b>아이디 저장</b></label>
                        <th:block th:switch="true">
                        <p class="invalid-feedback" id="onepassInvalidFeedback" th:case="${#request.getParameter('loginType') == 'D' and not #strings.isEmpty(param.msg)}"><th:block th:text="${T(com.kbrainc.plum.rte.util.StringUtil).base64DecodeFromUrlSafeString(param.msg)}" /></p>
                        <p class="invalid-feedback" id="onepassInvalidFeedback" th:case="*"></p>
                        </th:block>
                    </dd>
                </dl>
                <div class="btn-inner">
                    <a href="javascript:onClickSubmit();" class="btn-large btn-dblue btn-fingerprint">디지털원패스로 로그인</a>
                    <ul class="link-list">
                        <li><a href="https://www.onepass.go.kr/membership/find/id" target="_blank">아이디 찾기</a></li>
                        <li><a href="https://www.onepass.go.kr/regist/agree" target="_blank">디지털원패스 회원가입</a></li>
                    </ul>
                </div>
            </form>
            </li>
        </ul>
    </div>
</section>

<!-- layerpopup -->
<div class="layer-popup layer-large" data-layer-id="layer-popup02">
    <div class="layer-dimmed prevent-close"></div>
    <div class="layer-wrap">
        <div class="layer-header">
            <strong class="tit">휴면 전환 안내</strong>
            <button type="button" class="btn-layer-close" title="레이어팝업 닫기" data-layer-close></button>
        </div>
        <div class="layer-content">
            <div class="thumb-info">
                <span class="icon icon-info-password" title=""></span>
                <dl>
                    <dt>회원님의 ID는 현재 휴면 상태입니다.</dt>
                    <dd><th:block th:if="${session.drmncy}" th:text="${session.drmncy.prvcVldty}"></th:block>년 이상 국가환경교육 통합플랫폼 서비스 미사용 회원님으로 휴면 전환 처리 되었습니다.</dd>
                    <dd class="mt15 mb15">
                        <div class="box-inactive">휴면전환일자 :  <th:block th:if="${session.drmncy}" th:text="${session.drmncy.regDt}"></th:block></div>
                    </dd>
                    <dd><b class="fc-green">휴면 해제 버튼</b>을 눌러 분리 보관된 개인정보에 대한 복원이 진행됩니다. <br> 개인정보 복원 후에는 정상적인 서비스 이용을 위하여 다시 로그인을 해주셔야 합니다.</dd>
                </dl>
            </div>
            <div class="box-df-list mt15">
                <dl>
                    <dt>개인정보 유효기간</dt>
                    <dd>선택된 유효기간 동안 국가환경교육 통합플랫폼 이용 내역이 없어도 개인정보 분리보관 및 휴면회원으로 전환되지 않습니다.</dd>
                </dl>
                <div class="form-check-list mt10">
                    <label class="inp"><input type="radio" name="prvcVldty" value="1" checked><b>1년</b></label>
                    <label class="inp"><input type="radio" name="prvcVldty" value="2"><b>2년</b></label>
                    <label class="inp"><input type="radio" name="prvcVldty" value="5"><b>5년</b></label>
                    <label class="inp"><input type="radio" name="prvcVldty" value="0"><b>회원탈퇴 시</b></label>
                </div>
            </div>
        </div>
        <div class="layer-footer">
            <div class="btn-wrap">
                <div class="center">
                    <button type="button" class="btn-medium btn-green" onclick="drmncyClear()">휴면 해제</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //layerpopup -->
<script th:inline="javascript">

    jQuery(document).ready(function(){      
        var f = document.login_form;
        var f2 = document.request;
        
        if(jQuery.cookie != null)
        {           
            if(jQuery.cookie('luserid') && jQuery.cookie('luserid') != 'undefined' && jQuery.cookie('luserid') != 'null'){
                f.p_userid.value =jQuery.cookie('luserid');
                f.lidSave.checked = true;
            }
            
            if(jQuery.cookie('ruserid') && jQuery.cookie('ruserid') != 'undefined' && jQuery.cookie('ruserid') != 'null'){
                f2.user_id.value =jQuery.cookie('ruserid');
                f2.ridSave.checked = true;
            }
            
            /*[# th:if="${session.drmncy}"]*/
            layerPopup.open({target:'layer-popup02'});
            /*[/]*/
        }
        
        if(f.p_userid.value == ""){
            jQuery("#p_userid").focus();
        }else if(f.p_pswd.value == ""){
            jQuery("#p_pswd").focus();
        }
        
        validateLogin();
        
        jQuery.ajax({
            url : /*[[${T(kr.go.onepass.client.handler.saml.OnepassRequestHandler).logoutDest(#request)}]]*/"",
            type : "POST",
            data: $('#logOutRequest').serialize(),
            withCredentials: true,
            success : function(res) {
                console.log(res + " 로그아웃 성공");
            },
            error : function() {
                console.log("로그아웃 실패");
            }
        });
    });

    function goFindId() {
        /*[# th:if="${param.returnUrl}"]*/
            location.href = "/front/membership/findId.html?returnUrl=" + /*[[${param.returnUrl}]]*/'';
        /*[/]*/
        /*[# th:unless="${param.returnUrl}"]*/
            location.href = "/front/membership/findId.html";
        /*[/]*/
    }
    
    function goFindPswd() {
        /*[# th:if="${param.returnUrl}"]*/
            location.href = "/front/membership/findPswd.html?returnUrl=" + /*[[${param.returnUrl}]]*/'';
        /*[/]*/
        /*[# th:unless="${param.returnUrl}"]*/
            location.href = "/front/membership/findPswd.html";
        /*[/]*/
    }
    
    function join() {
        /*[# th:if="${param.returnUrl}"]*/
            location.href = "/front/membership/step1.html?returnUrl=" + /*[[${param.returnUrl}]]*/'';
        /*[/]*/
        /*[# th:unless="${param.returnUrl}"]*/
            location.href = "/front/membership/step1.html";
        /*[/]*/
    }
    
</script>
<script type="text/javascript">
    
    // 유효성검증기(로그인)
    function validateLogin(){
        $("#login_form").validate({
            rules: {
                p_userid: {
                             required: true
                            ,maxlength: 40
                         },
                p_pswd: {
                    required: true
                   ,maxlength: 40
                }
            },
            messages: { 
                p_userid: {
                    required: "아이디를 입력해 주십시오."
                   ,maxlength: "아이디는 40자를 넘을 수 없습니다."
                },
                p_pswd: {
                    required: "비밀번호를 입력해주십시오"
                   ,maxlength: "비밀번호는 40자를 넘을 수 없습니다."
                }
            }
        });
    }

    function login(){
        var f = document.login_form;
        
        if(!$('#login_form').valid()) return false;
        if(f.lidSave.checked){
            $.cookie('luserid', f.p_userid.value, {expires:30, path: '/'});
        }else{
            $.removeCookie('luserid', {path: '/'});
        }
        f.loginUserType.value = $("input[name=loginUserTypeRadio]:checked").val();
        f.submit();
    }
    
    function enterkey() {
        if (window.event.keyCode == 13) {
            login();
        }
    }
    
    function drmncyClear() {
        if (displayWorkProgress(true)) {
            $.ajax({
                url: '/cmm/clearDormancy.do',
                cache : false,
                dataType: 'json',
                data : "prvcVldty=" + $('input[name=prvcVldty]:checked').val(),
                success : function (data){
                    if(data.result == "success"){
                        layerPopup.close({target:'layer-popup02'});
                        alert("휴면 해제가 완료되었습니다 다시 로그인을 진행해 주십시오.");
                    }else{
                        layerPopup.close({target:'layer-popup02'});
                        alert(data.msg);
                    }
                    
                    closeWorkProgress();
                }
            });
        }    
    }
    
    function onClickSubmit() {    
        var f2 = document.request;
        
        var user_id = f2.user_id.value;
        if ( user_id == null || user_id == "" ) {
            $("#onepassInvalidFeedback").text("아이디를 입력해 주십시오.");
            f2.user_id.focus();
            return;
        }

        if(f2.ridSave.checked){
            $.cookie('ruserid', f2.user_id.value, {expires:30, path: '/'});
        }else{
            $.removeCookie('ruserid', {path: '/'});
        }
        f2.returnUrl.value += "::" + $("input[name=loginUserTypeRadio]:checked").val();
        f2.submit();
    }
</script>
</th:block>
</html>