<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="front/layout/mainLayout" 
>
    <body>
        <div layout:fragment="content">
<section class="section-index">
            <!-- 메인 슬라이드 -->
            <div class="index-top">
                <div class="swiper index-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#" class="item">
                                <img src="/assets/images/main_banner/img_main_banner1.jpg" alt="직업계고 학생을 위한 기초학력향상프로그램! 하이점프 교육부와 한국교육과정평가원이 연구 개발한 진단 및 보정학습 프로그램으로 학습 능력을 한 단계 높여봅시다." class="img">
                                <img src="/assets/images/main_banner/img_main_banner1_mobile.jpg" alt="직업계고 학생을 위한 기초학력향상프로그램! 하이점프 교육부와 한국교육과정평가원이 연구 개발한 진단 및 보정학습 프로그램으로 학습 능력을 한 단계 높여봅시다." class="img is-mobile">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="item">
                                <img src="/assets/images/main_banner/img_main_banner1.jpg" alt="직업계고 학생을 위한 기초학력향상프로그램! 하이점프 교육부와 한국교육과정평가원이 연구 개발한 진단 및 보정학습 프로그램으로 학습 능력을 한 단계 높여봅시다." class="img">
                                <img src="/assets/images/main_banner/img_main_banner1_mobile.jpg" alt="직업계고 학생을 위한 기초학력향상프로그램! 하이점프 교육부와 한국교육과정평가원이 연구 개발한 진단 및 보정학습 프로그램으로 학습 능력을 한 단계 높여봅시다." class="img is-mobile">
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#" class="item">
                                <img src="/assets/images/main_banner/img_main_banner1.jpg" alt="직업계고 학생을 위한 기초학력향상프로그램! 하이점프 교육부와 한국교육과정평가원이 연구 개발한 진단 및 보정학습 프로그램으로 학습 능력을 한 단계 높여봅시다." class="img">
                                <img src="/assets/images/main_banner/img_main_banner1_mobile.jpg" alt="직업계고 학생을 위한 기초학력향상프로그램! 하이점프 교육부와 한국교육과정평가원이 연구 개발한 진단 및 보정학습 프로그램으로 학습 능력을 한 단계 높여봅시다." class="img is-mobile">
                            </a>
                        </div>
                    </div>

                    <div class="swiper-util">
                        <div class="swiper-util-wrap">
                            <div class="swiper-pagination"></div>
                            <button type="button" class="swiper-button-prev btn-swiper-prev"><span class="ir">이전</span></button>
                            <button type="button" class="swiper-button-next btn-swiper-next"><span class="ir">다음</span></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // 메인 슬라이드 -->

            <div class="index-main">
                <!-- 공지사항 -->
                <div class="index-notice">
                    <h2 class="title">공지사항</h2>

                    <ul class="index-notice-list">
                        <li th:each="item:${list}">
                           <a th:href="|/cmm/bbs/10/read.html?pstid=${item.pstid}|">
                              <th:block th:text=${item.title}></th:block>
                           </a>
                        </li>
                        <li th:if="${#lists.size(list) <= 0}">등록된 공지사항이 없습니다.</li>
                    </ul>
                    <a href="/cmm/bbs/10/main.html" class="btn-more">더보기</a>
                </div>
                <!-- // 공지사항 -->

                <!-- 기타 -->
                <div class="index-aside">
                    <div class="index-guide">
                        <div class="index-guide-guide">
                            <a href="javascript:alert('서비스 준비중입니다.')">이용안내</a>
                        </div>

                        <div class="index-guide-manual">
                            <a href="javascript:alert('서비스 준비중입니다.')">메뉴얼 <br>다운로드</a>
                        </div>
                    </div>

                    <!-- 문의 -->
                    <div class="index-help">
                        <div class="index-help-tel">
                            <em class="tit">문의</em>
                            <a href="tel:02-1234-1234" class="tel">02-1234-1234</a>
                        </div>

                        <ul>
                            <li>평일 09:00 ~ 18:00</li>
                            <li>점심 12:00 ~ 13:00 <span>(토, 일, 공휴일 휴무)</span></li>
                        </ul>
                    </div>
                    <!-- // 문의 -->
                </div>
                <!-- // 기타 -->
            </div>
        </section>
        </div>
    </body>
</html>