<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/simpleLayout" 
>
    <body>
        <div layout:fragment="content" style="height:150vh;background-color:var(--yellow);display:flex;align-items:center;justify-content:center;font-size:7vw">
        <script type="text/javascript">
            var isMainPage = true;
        </script>
            Content Area
        </div>
    </body>
</html>