<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    SQL File Name : PaginationMapper.xml
    Description : 페이징 관련
-->
<mapper namespace="PaginationMapper">
    <sql id="header">
        WITH
        SEARCH_ORG
        AS
        (
    </sql>
    <sql id="footer">
        ),
        totalCount                                                 <!-- [총건수] -->
        AS
        (
        SELECT  COUNT(1)                            AS totalCount
        FROM    SEARCH_ORG                          A1              <!-- [조회원본] -->
        )
        SELECT  A1.*,
        <choose>
        		<when test="orderDirection.name() == 'desc'">
                B1.totalCount - (ROW_NUMBER() OVER(ORDER BY A1.${orderField} DESC)) + 1 AS rowNumber,
                </when>
                <when test="orderDirection.name() == 'asc'">
                B1.totalCount - (ROW_NUMBER() OVER(ORDER BY A1.${orderField} ASC)) + 1 AS rowNumber,
                </when>
                <otherwise>
                B1.totalCount - (ROW_NUMBER() OVER(ORDER BY A1.${orderField})) + 1 AS rowNumber,
                </otherwise>
        </choose>
                B1.totalCount,
                IFNULL(#{pageNumber}, 1)            AS pageNumber,
                CEILING(CONVERT(B1.totalCount, FLOAT) / IFNULL(#{rowPerPage}, 10)) AS totalPage,
                #{rowPerPage} AS pageSize
        FROM    SEARCH_ORG                          A1              <!-- [조회원본] -->
        CROSS JOIN
                totalCount                          B1              <!-- [총페이지] -->
        ORDER BY
        <choose>
                <when test="orderDirection.name() == 'desc'">
                A1.${orderField} DESC
                </when>
                <when test="orderDirection.name() == 'asc'">
                A1.${orderField} ASC
                </when>
                <otherwise>
                A1.${orderField}
                </otherwise>
        </choose>
        <if test="rowPerPage != 0">
            LIMIT #{pageOffset}, #{rowPerPage}
        </if>
    </sql>
</mapper>
