<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    SQL File Name : SearchMapper.xml
    Description : 공통검색 관련
-->
<mapper namespace="SearchMapper">
    <sql id="instLmtCondition">
        <choose>
            <when test='user == null'><!-- 미로그인 -->
                
            </when>
            <when test='user.roleInfo.kndCd == "U"'><!-- 개인회원(사용자) -->
                AND ${tableAlias}.INSTID IS NULL
            </when>
            <when test="@com.kbrainc.plum.rte.util.CommonUtil@isEmpty(searchInstValue)">
                AND (${tableAlias}.INSTID IN(
                    SELECT 
                        INSTID
                    FROM 
                        TB_CMM_INST
                    WHERE 
                        USE_YN = 'Y'
                    AND APRV_STTS_CD = '2'
                <choose>
                    <when test='user.roleInfo.kndCd == "O"'><!-- 기관회원(사용자) -->
                        AND INSTID = #{user.instid}
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "A"'>
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "S"'>
                        AND INSTID = #{user.instid}          
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "C"'>
                        AND INSTID IN(SELECT INSTID FROM TB_CMM_ROLE_INST WHERE ROLEID = #{user.roleInfo.roleid})          
                    </when>
                    <otherwise>
                        AND 1 != 1
                    </otherwise>
                </choose>
                <if test='user.roleInfo.trgtRgnCd == "S"'>
                    AND INSTID IN(SELECT INSTID FROM TB_CMM_INST WHERE RGN_CD IN(SELECT SIGNGU_CD FROM TB_CMM_ADDR_SIGNGU WHERE CTPRVN_CD IN (SELECT RGN_CD FROM TB_CMM_ROLE_RGN WHERE ROLEID = #{user.roleInfo.roleid})))          
                </if>
                        )
                    <if test='user.roleInfo.trgtInstCd == "A" and user.roleInfo.trgtRgnCd == "A"'>
                        OR ${tableAlias}.INSTID IS NULL
                    </if>
                    )
            </when>
            <otherwise>
                AND ${tableAlias}.INSTID IN(
                    SELECT 
                        INSTID
                    FROM 
                        TB_CMM_INST
                    WHERE 
                        USE_YN = 'Y'
                    AND APRV_STTS_CD = '2'
                <choose>
                    <when test='user.roleInfo.trgtInstCd == "A"'>
                        AND INSTID = #{searchInstValue}
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "S"'>
                        AND INSTID = #{searchInstValue}    
                        AND #{searchInstValue} = #{user.instid}   
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "C"'>
                        AND INSTID = #{searchInstValue}
                        AND #{searchInstValue} IN(SELECT INSTID FROM TB_CMM_ROLE_INST WHERE ROLEID = #{user.roleInfo.roleid})           
                    </when>
                    <otherwise>
                        AND 1 != 1
                    </otherwise>
                </choose>
                <if test='user.roleInfo.trgtRgnCd == "S"'>
                    AND INSTID IN(SELECT INSTID FROM TB_CMM_INST WHERE RGN_CD IN(SELECT SIGNGU_CD FROM TB_CMM_ADDR_SIGNGU WHERE CTPRVN_CD IN (SELECT RGN_CD FROM TB_CMM_ROLE_RGN WHERE ROLEID = #{user.roleInfo.roleid})))          
                </if>
                        )
            </otherwise>
        </choose>
    </sql>
    
    <sql id="siteLmtCondition">
        <choose>
            <when test="@com.kbrainc.plum.rte.util.CommonUtil@isEmpty(searchSiteValue)">
                AND (${tableAlias}.SITEID IN(
                    SELECT 
                        SITEID
                    FROM
                        TB_CMM_SITE
                    WHERE 
                        USE_YN = 'Y'
                <if test="searchSiteSysSeCd != null and searchSiteSysSeCd != ''">
                    AND SYS_SE_CD = #{searchSiteSysSeCd}
                </if>
                <choose>
                    <when test='user.roleInfo.trgtInstCd == "A"'>
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "S"'>
                        AND INSTID = #{user.instid}
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "C"'>
                        AND INSTID IN(SELECT INSTID FROM TB_CMM_ROLE_INST WHERE ROLEID = #{user.roleInfo.roleid})
                    </when>
                    <otherwise>
                        AND 1 != 1
                    </otherwise>
                </choose>
                <if test='user.roleInfo.trgtRgnCd == "S"'>
                    AND INSTID IN(SELECT INSTID FROM TB_CMM_INST WHERE RGN_CD IN(SELECT SIGNGU_CD FROM TB_CMM_ADDR_SIGNGU WHERE CTPRVN_CD IN (SELECT RGN_CD FROM TB_CMM_ROLE_RGN WHERE ROLEID = #{user.roleInfo.roleid})))     
                </if>
                        )
                    <if test='user.roleInfo.trgtInstCd == "A" and @com.kbrainc.plum.rte.util.CommonUtil@isEmpty(searchSiteSysSeCd) and user.roleInfo.trgtRgnCd == "A"'>
                        OR ${tableAlias}.SITEID IS NULL
                    </if>
                    )
            </when>
            <otherwise>
                AND ${tableAlias}.SITEID IN(
                    SELECT 
                        SITEID
                    FROM
                        TB_CMM_SITE
                    WHERE 
                        USE_YN = 'Y'
                <if test="searchSiteSysSeCd != null and searchSiteSysSeCd != ''">
                    AND SYS_SE_CD = #{searchSiteSysSeCd}
                </if>
                <choose>
                    <when test='user.roleInfo.trgtInstCd == "A"'>
                        AND SITEID = #{searchSiteValue}
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "S"'>
                        AND SITEID = #{searchSiteValue}
                        AND INSTID = #{user.instid}
                    </when>
                    <when test='user.roleInfo.trgtInstCd == "C"'>
                        AND SITEID = #{searchSiteValue}
                        AND INSTID IN(SELECT INSTID FROM TB_CMM_ROLE_INST WHERE ROLEID = #{user.roleInfo.roleid})          
                    </when>
                    <otherwise>
                        AND 1 != 1
                    </otherwise>
                </choose>
                <if test='user.roleInfo.trgtRgnCd == "S"'>
                    AND INSTID IN(SELECT INSTID FROM TB_CMM_INST WHERE RGN_CD IN(SELECT SIGNGU_CD FROM TB_CMM_ADDR_SIGNGU WHERE CTPRVN_CD IN (SELECT RGN_CD FROM TB_CMM_ROLE_RGN WHERE ROLEID = #{user.roleInfo.roleid})))      
                </if>
                        )
            </otherwise>
        </choose>
    </sql>
    
    <sql id="ctprvnLmtCondition">
        <choose>
            <when test="@com.kbrainc.plum.rte.util.CommonUtil@isEmpty(searchCtprvnValue)">
                <if test='user.roleInfo.trgtRgnCd == "S"'>
                    AND ${tableAlias}.${columnName} IN(SELECT RGN_CD FROM TB_CMM_ROLE_RGN WHERE ROLEID = #{user.roleInfo.roleid})     
                </if>
            </when>
            <otherwise>
                <choose>
                    <when test='user.roleInfo.trgtInstCd == "S"'>
                        AND ${tableAlias}.${columnName} = #{searchCtprvnValue}
                        AND ${tableAlias}.${columnName} IN(SELECT RGN_CD FROM TB_CMM_ROLE_RGN WHERE ROLEID = #{user.roleInfo.roleid})     
                    </when>
                    <otherwise>
                        AND ${tableAlias}.${columnName} = #{searchCtprvnValue}
                    </otherwise>
                </choose>
                        )
            </otherwise>
        </choose>
    </sql>
    
    <sql id="signguLmtCondition">
        <choose>
            <when test="@com.kbrainc.plum.rte.util.CommonUtil@isEmpty(searchSignguValue)">
                <if test='user.roleInfo.trgtRgnCd == "S"'>
                    AND ${tableAlias}.${columnName} IN(SELECT SIGNGU_CD FROM TB_CMM_ADDR_SIGNGU WHERE CTPRVN_CD IN (SELECT RGN_CD FROM TB_CMM_ROLE_RGN WHERE ROLEID = #{user.roleInfo.roleid}))     
                </if>
            </when>
            <otherwise>
                <choose>
                    <when test='user.roleInfo.trgtInstCd == "S"'>
                        AND ${tableAlias}.${columnName} = #{searchSignguValue}
                        AND ${tableAlias}.${columnName} IN(SELECT SIGNGU_CD FROM TB_CMM_ADDR_SIGNGU WHERE CTPRVN_CD IN (SELECT RGN_CD FROM TB_CMM_ROLE_RGN WHERE ROLEID = #{user.roleInfo.roleid}))
                    </when>
                    <otherwise>
                        AND ${tableAlias}.${columnName} = #{searchSignguValue}
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </sql>
</mapper>