<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    SQL File Name : SearchMapper.xml
    Description : 공통검색 관련
-->
<mapper namespace="SearchMapper">
    <sql id="instLmtCondition">
        <choose>
            <when test="@com.kbrainc.plum.rte.util.CommonUtil@isEmpty(searchInstValue)">
                <choose>
                    <when test='user.roleInfo.trgtInsttCd == "A"'>
                    </when>
                    <when test='user.roleInfo.trgtInsttCd == "S"'>
                        AND ${tableAlias}.INSTID = #{user.instid}          
                    </when>
                    <when test='user.roleInfo.trgtInsttCd == "C"'>
                        AND ${tableAlias}.INSTID IN(SELECT INSTID FROM TB_CMM_ROLE_INST WHERE ROLEID = #{user.roleInfo.roleid})          
                    </when>
                    <otherwise>
                        AND 1 != 1
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                <choose>
                    <when test='user.roleInfo.trgtInsttCd == "A"'>
                        AND ${tableAlias}.INSTID = #{searchInstValue}
                    </when>
                    <when test='user.roleInfo.trgtInsttCd == "S"'>
                        AND ${tableAlias}.INSTID = #{searchInstValue}
                        AND #{searchInstValue} = #{user.instid}          
                    </when>
                    <when test='user.roleInfo.trgtInsttCd == "C"'>
                        AND ${tableAlias}.INSTID = #{searchInstValue}
                        AND #{searchInstValue} IN(SELECT INSTID FROM TB_CMM_ROLE_INST WHERE ROLEID = #{user.roleInfo.roleid})          
                    </when>
                    <otherwise>
                        AND 1 != 1
                    </otherwise>
                </choose>
            </otherwise>
        </choose>
    </sql>
</mapper>