<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/front/subLayout" >
<body>
	<div layout:fragment="content">
				<!-- content -->
				
						<form class="search-filter search-filter-combination" id="searchForm" name="searchForm">
							<div class="search-top">
								<strong>찾고자 하는 <span>환경용어</span>를 검색해보세요.</strong>
								<div class="form-input">
									<input type="search" id="searchWord" name="searchWord" title="시설명" placeholder="환경용어를 입력해 주세요.">
									<div class="search-filter-submit">
										<button type="button" class="btn-medium btn-green btn-before-search" onclick="envWord.search()">검색</button>
										<button type="button" class="btn-medium btn-gray btn-before-refresh" onclick="envWord.searchInit()">초기화</button>
									</div>
								</div>
							</div>
			
							<div class="form-input-wrap">
								<div class="form-row">
									<div class="form-header"><strong class="label">가나다</strong></div>
									<div class="form-body">
										<div class="form-check-list">
											<label class="inp inp-round"><input type="radio" id="searchKR1" name="searchKR" value="ㄱ"><b>ㄱ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR2" name="searchKR" value="ㄴ"><b>ㄴ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR3" name="searchKR" value="ㄷ"><b>ㄷ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR4" name="searchKR" value="ㄹ"><b>ㄹ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR5" name="searchKR" value="ㅁ"><b>ㅁ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR6" name="searchKR" value="ㅂ"><b>ㅂ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR7" name="searchKR" value="ㅅ"><b>ㅅ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR8" name="searchKR" value="ㅇ"><b>ㅇ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR9" name="searchKR" value="ㅈ"><b>ㅈ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR10" name="searchKR" value="ㅍ"><b>ㅊ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR11" name="searchKR" value="ㅋ"><b>ㅋ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR12" name="searchKR" value="ㅌ"><b>ㅌ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR13" name="searchKR" value="ㅍ"><b>ㅍ</b></label>
											<label class="inp inp-round"><input type="radio" id="searchKR14" name="searchKR" value="ㅎ"><b>ㅎ</b></label>
										</div>
									</div>
								</div>
								<div class="form-row">
									<div class="form-header"><strong class="label">ABC</strong></div>
									<div class="form-body">
										<div class="form-check-list">
											<label class="inp inp-round"><input type="radio" id="searchEng1" name="searchEng" value="A"><b>A</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng2" name="searchEng" value="B"><b>B</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng3" name="searchEng" value="C"><b>C</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng4" name="searchEng" value="D"><b>D</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng5" name="searchEng" value="E"><b>E</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng6" name="searchEng" value="F"><b>F</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng7" name="searchEng" value="G"><b>G</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng8" name="searchEng" value="H"><b>H</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng9" name="searchEng" value="I"><b>I</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng10" name="searchEng" value="J"><b>J</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng11" name="searchEng" value="K"><b>K</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng12" name="searchEng" value="L"><b>L</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng13" name="searchEng" value="M"><b>M</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng14" name="searchEng" value="N"><b>N</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng15" name="searchEng" value="O"><b>O</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng16" name="searchEng" value="P"><b>P</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng17" name="searchEng" value="Q"><b>Q</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng18" name="searchEng" value="R"><b>R</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng19" name="searchEng" value="S"><b>S</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng20" name="searchEng" value="T"><b>T</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng21" name="searchEng" value="U"><b>U</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng22" name="searchEng" value="V"><b>V</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng23" name="searchEng" value="W"><b>W</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng24" name="searchEng" value="X"><b>X</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng25" name="searchEng" value="Y"><b>Y</b></label>
											<label class="inp inp-round"><input type="radio" id="searchEng26" name="searchEng" value="Z"><b>Z</b></label>
										</div>
									</div>
								</div>
							</div>
							
							<input type="hidden" id="pageNumber" name="pageNumber" value="1">
					        <input type="hidden" id="rowPerPage" name="rowPerPage" value="20">
					        <input type="hidden" id="ORDER_DIRECTION" name="orderDirection" value="asc">
					        <input type="hidden" id="orderField" name="orderField" value="WORD">
					        <input type="hidden" id="wordid" name="wordid" >
						</form>

						<div class="table-caption flex-nowrap">
							<div class="left">
								<p>총 <b id="totalCount">0</b> 건</p>
							</div>
						</div>

						<div class="line-df-list" id="list-table">
							<ul id="list-area">
							</ul>
						</div>

						<div id="pagination" aria-label="pagination">
						</div>
				<!-- //content -->
		<script th:inline="javascript">		
        var envWord = {
                listUrl: '/front/envWord/selectEnvWordList.do',
                detailUrl : '/front/envWord/envWordDetailForm.html',

                init(rowPerPage) {
                	if(rowPerPage != null) {
	                    $("#rowPerPage").val(parseInt(rowPerPage));
	                    $('#pageNumber').val('1');
                	}
                	
                	$("input[name='searchKR'], input[name='searchEng']").on("change", function() {
                        var inputName = $(this).attr("name");
                        if(inputName == "searchKR") {
                            $("input[name='searchEng']").prop("checked", false);
                        } else if(inputName == "searchEng") {
                            $("input[name='searchKR']").prop("checked", false);
                        }
                        envWord.selectEnvWordList();
                    });
                	this.selectEnvWordList();
                },

                moveToDetail() {
                    if (this.userid == null) {
                        alert('로그인 후 이용하실 수 있습니다.');
                        return;
                    }
                    location.href = '/front/envWord/envWordDetailForm.html';
                },

                search() {
                    $('#pageNumber').val('1');
                    this.selectEnvWordList();
                },

                searchInit() {
                	$('#searchWord').val('');
                	$("input[name='searchKR']").prop('checked', false); 
                	$("input[name='searchEng']").prop('checked', false);
    				this.selectEnvWordList();
                },

                selectEnvWordList() {
                    if (displayWorkProgress(true)) {
                        let formData = $('#searchForm').serializeArray();

                        $.ajax({
                            url: envWord.listUrl,
                            cache: false,
                            dataType: 'json',
                            data: formData,
                            type: 'GET',
                            success: function (result) {
                                $("#pagination").html(result.pagination);
                                $("#totalCount").html(result.totalCount);
                            	$('#list-table').removeClass();
                                $('#list-table').addClass('line-df-list');
                            	var data = escapeData(result);
                            	envWord.makeListHtml(data);
                                closeWorkProgress();
                            }
                        });
                    }
                },

                moveToDetail(envWordid) {
                    var f = document.forms.searchForm ;
                    f.envWordid.value=envWordid;
                    f.action = this.detailUrl;
                    f.submit();
                },

                makeListHtml(data) {
                    var listHtml = "";
                    if (data.list == null || data.list.length <= 0) {
                    	$('#list-table').removeClass();
                        $('#list-table').addClass('nodata');
                    	listHtml += `
                    		<p><span class="icon icon-notice bg-black9"></span>등록된 환경교육용어가 없습니다.</p>
                        `;
                    } else {
                        data.list.forEach(function(item) {
                        	listHtml += `
                       		<li>
	   							<a href="/front/envWord/envWordDetailForm.html?wordid=${item.wordid}">
	   								<dl>
	   									<dt>${item.word}<br>${item.wordEngl}</dt>
	   									<dd>${item.cnSumry}</dd>
	   								</dl>
	   							</a>
   							</li>
   							`;
   							
                        	
                        });
                    }	
                    $('#list-area').html(listHtml);
                }
            };

            $(function () {
            	envWord.init();
            })
			
			function goPage(page) {
				$("#pageNumber").val(page);
				
				envWord.selectEnvWordList();
			}            
		</script>
	</div>

</body>
</html>