<form id="rcpmnyAfterUpdate" >
    <input type="hidden" id="aplyid" name="aplyid" th:value="${rcpmnyAfter.aplyid}">
    <!--탭영역 start -->
    <div class="tab-content tabs p-t-20">

        <div class="tab-pane active" id="agencyInfo" role="tabpanel">
            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>예약정보</strong></h3>
            </div>
            <div class="card-block-small p-t-0">
                <div class="mb-2 row align-items-end">
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>운영기관</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.instNm}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>시설</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.fcltNm}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>공간</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.spceNm}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>이용일(시)</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.bgngDt}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>신청상태</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.aplySttsCdNm}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>예약신청일시</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.aplyDt}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>결제금액</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.amt}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>결제상태</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.paySttus}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>예약취소일시</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.cnclDt}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group row m-b-0">
                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1">예약취소사유</label>
                                <div class="col-sm-12">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.rsvtCnclRsn}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>신청자 정보</strong></h3>
                <div class="card-block-small p-t-0">
                    <div class="mb-2 row align-items-end">
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>신청자 ID</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.acnt}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>이름/기관명</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.nm}"/> / <th:block th:text="${rcpmnyAfter.userInstNm}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>회원유형</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.rolecdnm}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>기관유형</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.instTypeCdNm}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>휴대전화</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.moblphon}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>이메일</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.eml}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12">
                                <div class="mb-0 form-group">
                                    <span class="form-label col-sm-12 col-form-label p-t-0 pb-1">이용인원</span>
                                    <div class="col-sm-12 row">
                                        <div class="col-sm-4">
                                            성인
                                            <label class="form-control-static"><th:block th:text="${rcpmnyAfter.nopeAdult}"/></label>
                                            명
                                        </div>
                                        <div class="col-sm-4">
                                            아동
                                            <label class="form-control-static"><th:block th:text="${rcpmnyAfter.nopeChil}"/></label>
                                            명
                                        </div>
                                        <div class="col-sm-4">
                                            유아
                                            <label class="form-control-static"><th:block th:text="${rcpmnyAfter.nopeInfnt}"/></label>
                                            명
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row m-b-0">
                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1">이용 목적</label>
                                <div class="col-sm-12">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyAfter.utztnPrps}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>예약자 정보</strong></h3>
                <div class="card-block-small p-t-0">
                    <div class="mb-2 row align-items-end">
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>이름</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.aplcntNm}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>휴대전화</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.aplcntMoblphon}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>이메일</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.aplcntEml}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>입금/환불정보</strong></h3>
                <div class="card-block-small p-t-0">
                    <div class="mb-2 row align-items-end">
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>결제방법</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.stlmMthdCdNm}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>입금계좌</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.bankCdNm}"/> <th:block th:text="${rcpmnyAfter.bacntNo}"/> <th:block th:text="${rcpmnyAfter.dpstrNm}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>입금자명</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyAfter.pyrNm}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-block-small">
                <button type="button" class="btn btn-primary m-r-5" onclick = "fn_dsptCheckCancel()" > 입금확인취소</button>
                <button type="button" class="btn btn-primary" onclick="fn_openResveCancelModal()">환불요청</button>
            </div>

            <div class="tab-pane" id="managerInfo" role="tabpanel"></div>

        </div>

    </div>
</form>

<!-- 임시비밀번호발급 Start -->
<div class="modal fade" id="popCon1" tabindex="-1" role="dialog" aria-labelledby="popCon1Title" aria-hidden="true"></div>
<!-- 임시비밀번호발급 End -->

<script type="text/javascript" src="/files/assets/pages/advance-elements/swithces.js"></script>
<script type="text/javascript" src="/files/assets/pages/advance-elements/select2-custom.js"></script>
<div class="modal fade" id="dsptCheckPopup" data-bs-backdrop="static"></div>
<div class="modal fade" id="refndPopup" data-bs-backdrop="static"></div>

<script th:inline="javascript">

    var fn_dsptCheckCancel = () => {
        if( confirm('입금확인을 취소 하시겠습니까?\n입금대기 상태로 전환됩니다.') ){
            var data = {
                "aplyid"      : $("#aplyid").val()
            }

            $.ajax({
                url: "/mng/rcpmnyAfter/updateDsptCheckCancel.do",
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : data,
                success : function (data){
                    if(data.result=="success"){
                        alert("입금확인 취소처리가 완료 되었습니다.");
                        gridHelper2.resetPageContent();
                    }else{
                        alert("입금확인 취소처리중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
                    }
                },
                error : function (error){
                }
            });
        }
    }

    // 환불요청 팝업
    var refndPopupUrl = "/mng/rcpmnyAfter/refndPopup.html?"+"aplyid=" + /*[[${rcpmnyAfter.aplyid}]]*/null;
    var refndAddModal;

    var fn_openResveCancelModal = () => {
        $("#refndPopup").load(refndPopupUrl, function(response, status, xhr) {
            if (status == "success") {
                refndAddModal = new bootstrap.Modal($('#refndPopup'));
                refndAddModal.show();
            }
        });
    }
</script>

