<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
	layout:decorator="layout/mng/mainLayout" 
>
<body>
<div layout:fragment="content">
  <div class="page-body">
      <div class="row">
          <div class="col-12">
          <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
             <!-- 필터 부분 -->
                 <div class="card-block-small">
                     <!-- 키워드 filter -->
                     <div class="row">
                     
                        <div class="col-lg-3 mb-2">
                             <div class="mb-0 form-group row">
                                 <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="filterProgramName"><strong>프로그램명</strong></label>
                                 <div class="col-12">
                                     <input type="text" class="form-control form-control-sm" name="searchPrgmNm" id="searchPrgmNm" />
                                 </div>
                             </div>
                         </div>
                     
                        <div class="col-lg-3 mb-2">
                             <div class="mb-0 form-group row">
                                 <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="filterProgramName"><strong>기관명</strong></label>
                                 <div class="col-12">
                                     <input type="text" class="form-control form-control-sm" name="searchInstNm" id="searchInstNm" />
                                 </div>
                             </div>
                         </div>

                         <div class="col-lg-3 mb-2">
                               <div class="mb-0 form-group row">
                                   <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="filterSearchStartRequestDate"><strong>신청일 - 검색시작일</strong></label>
                                   <div class="col-sm-12">
                                       <input class="form-control form-control-sm" type="date" name="searchStrtDt" id="searchStrtDt"/>
                                   </div>
                               </div>
                         </div>
                         <div class="col-lg-3 mb-2">
                               <div class="mb-0 form-group row">
                                   <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" ><strong>신청일 - 검색종료일</strong></label>
                                   <div class="col-sm-12">
                                       <input class="form-control form-control-sm" name="searchEndDt" id="searchEndDt" type="date"/>
                                   </div>
                               </div>
                         </div>
                         
                     </div>
                     
                                          
                     <div class="row">
                     
                         <div class="col-lg-3 mb-2">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></span>
                                 <div class="input-group input-group-sm input-group-dropdown mb-0">
                                 
                                     <select name="searchType" id="searchType" class="form-select form-control form-control-primary form-bg-primary">
                                        <option value="">- 전체 -</option>
                                        <option value="instNm">기관명</option>
                                        <option value="instCd">기관코드</option>
                                        <option value="domn">신청도메인</option>
                                     </select>
                                     <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" 
                                     aria-label="Text input with dropdown button">
                                     
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-2">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사이트</strong></span>
                                 <div class="col-sm-12">
                                 <span kattr:select_code="searchAplySttsCd" grpCd="121" isAdmin="true" firstOptTxt="- 선택 - "></span>
                                 </div>
                             </div>
                         </div>
                         
                     </div>
                     <!-- //키워드 filter -->
                     <!-- 키워드 filter-btn -->
                     <div class="m-t-20 text-center">
                         <button class="btn btn-disabled m-r-5" onclick="fn_init()" >초기화</button>
                         <button class="btn btn-primary" onclick="fn_searchForm()" >검색</button>
                     </div>
                 </div>
           </form>
          </div>
           
          <!-- //필터 부분 -->
          <div class="col-12">
           <div class="card">
                <div class="row p-20 p-b-0">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <h5><strong>분양신청 검색 결과</strong></h5>
                    </div>
                </div>
                
                <div class="card-block-small">
                    <div class="dt-responsive table-responsive">
                        <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                       </div>
                    </div>
                </div>
            </div>
          </div>
            
          <!-- Content Area -->
          <div class="col-12">
          <div id="contentPanel" class="card"></div>
          </div>
      </div>
  </div>
  
  <script th:inline="javascript">

    var Pop = "";
    var gridHelper1 ;
    var menuModal;
    
    $(function(){
       gridHelper1 = new GridHelper('jsGrid','contentPanel');
       writeJsGridData()
    });

    function writeJsGridData(){
        
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",
            autoload: true,
            sorting: false,
            paging: true,
            pagerContainer: "#listPager",
            pagerFormat: "{first} {prev} {pages} {next} {last}",
            pagePrevText: "이전",
            pageNextText: "다음",
            pageFirstText: "< 처음ㅣ",
            pageLastText: "ㅣ 마지막 >",
            pageSize: 10,
            pageButtonCount: 10,
            pageLoading: true,
            pageIndex: 1,
            noDataContent: "데이터가 없습니다.",
            
            controller: {
                loadData: function (filter) {
                    var data = $.Deferred();
                    
                    var formData = $('#searchFrm').serializeArray();
                    
                    var params = [
                            {name: "pageNumber", value: filter.pageIndex},
                            {name: "rowPerPage", value: filter.pageSize},
                            {name: "orderField", value: "mdfcn_dt"},
                            {name: "orderDirection", value: "desc"}
                    ]
                    
                    formData = formData.concat(params);
                    
                    $.ajax({
                      type: "GET",
                      contentType: "application/json; charset=utf-8",
                      url: "/mng/siteApply/selectSiteApplyList.do",
                      data: formData,
                      dataType: "json"
                    }).done(function(response){
                        var da = {
                                data: escapeGridData(response.list),
                                itemsCount: response.totalCount
                            };
                      data.resolve(da);
                    });
                    return data.promise();
                },
            },
            fields: [ 
                { title:'No.'      ,name: 'rowNumber'    , type: "number", width: "80", align:"center", sorting: false },
                { title:'신청기관'   ,name: 'instNm'  , type: "text"  , width: "250" ,align:"center"
                    ,itemTemplate:function(value, item){return item.instNm+" ("+item.instCd+" )";}
                },
                { title:'기관주소'   ,name: 'addr'        , type: "text"  , width: "300"
                	,itemTemplate:function(value, item){return item.addr+" "+item.addrDtl;}
                    }, 
                { title:'희망도메인' ,name: 'domn'    ,type: "text"  , width: "200",align:"center"},
                { title:'승인상태'  ,name: 'aplySttsCdNM'  , type: "text" ,width:"100" ,align:"center"},
                { title:'신청일'    ,name: 'aplyDt'   , type: "text"  ,width:"150" ,align:"center"
                	,itemTemplate: function(value, item){return value.substring(0,10)}
                },
            ]
            
            /*[# sec:authorize-url="/mng/siteApply/siteApplyInfoForm.html"]*/
            ,rowClick: function(args) {
                if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                gridHelper1.loadContent("/mng/siteApply/siteApplyInfoForm.html?aplyid="+args.item.aplyid); 
                gridHelper1.rowClick(args);
            },
            /*[/]*/
        });
    }

    function fn_init() {
        $("#searchType").val('');
        $("#searchKeyword").val('');
        $("#searchAplySttsCd").val('');
    }
    
    function fn_searchForm(){
    	gridHelper1.resetListContent();
    }
</script>
</div>	
</body>