<form class=" form-inline form-horizontal row-border" id="insertPopUp">

        <div class="panel panel-default">
          <div class="panel-heading">
					<h4>> 등록</h4>
		  </div>
          <div class="panel-body">
          
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>사이트 </label>
                <div class="col-md-4 form-control-static">
                  <select id="siteid"  name="siteid"  class="form-control input-sm"  style="padding:0px; width:263px;" >
				     <option value=""> - 전체 -</option>
				     <option th:each="item : ${siteList}" th:value="${item.siteid}" th:text="${item.site_nm} "></option>
				  </select>
                </div>
             </div>
             
              <div class="form-group col-md-12 row">
				<label class="col-md-2 control-label"><span class="text-danger">*</span>노출위치</label>
                <div class="col-md-4 form-control-static">
                
                  <!-- <th:block kattr:radio_code="expsr_lc_cd" grpCd="106" selectedCd="106101"  addClass=" input-sm" addStyle="padding:0px; width:150px; text-align:center;" ></th:block> -->
                  <div class="form-con custom-radio">
                      <label><input type="radio" name="expsr_lc_cd" value="M" checked><span>메인</span></label>
                      <label><input type="radio" name="expsr_lc_cd" value="S"><span>메뉴</span></label>
                    </div>
                  
                </div>                
              </div>
              
              <div class="form-groupcol-md-12 row" id="selectMenuDiv" >
                <label class="col-md-2 control-label"><!-- <span class="text-danger">*</span> -->메뉴선택</label>
                <div class="col-md-6 form-control-static">
                    <input type="text" id="menu_nm" name="menu_nm" class="form-control input-sm" readOnly />
                    <input type="button" class="btn btn-xs  btn-primary" value="메뉴선택" onclick="fn_openPopUp('menu')"/>
                    <input type="hidden" id="menuid" name="menuid" class="form-control input-sm"  readOnly  disabled/>
                </div>
              </div>
              
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>로그인 필요여부</label>
                <div class="col-md-10 form-control-static ">
                   <span kattr:radio_yn="login_need_yn" label1="Y " label2="N "  ></span>
                </div>
              </div>
              
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>공지대상</label>
                <div class="col-md-10 form-control-static">
                   <!-- <th:block kattr:radio_code="ntc_trgt_cd" grpCd="108"  selectedCd="108102" addClass=" input-sm" addStyle="padding:0px; width:150px; text-align:center;" ></th:block> -->
                   
                   <div class="form-con custom-radio">
                      <label><input type="radio" name="ntc_trgt_cd" value="T" checked><span>전체</span></label>
                      <label><input type="radio" name="ntc_trgt_cd" value="R"><span>역할</span></label>
                    </div>
                   
                </div>
              </div>
              
              <div class="form-group col-md-12 row" id="selectTargetDiv">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>역할선택</label>
                <div class="col-md-6 form-control-static">
                 <input type="text" id="ntc_trgt_roleid_nm" name="ntc_trgt_roleid_nm" class="form-control input-sm" readOnly />
                 <input type="button" class="btn btn-xs btn-primary" value="역할선택" onclick="fn_openPopUp('role')" />
                 <input type="hidden" id="ntc_trgt_roleid" name="ntc_trgt_roleid"   />
                </div>
               </div>
              
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>팝업사용기간</label>
                <div class="col-md-6 form-control-static">
                  <th:block kattr:date_pic="strt_dt" dateForm="yy-mm-dd" addClass="form-control-static input-sm" addStyle="width:110px;display: inline-block;"></th:block>~
				  <th:block kattr:date_pic="end_dt"  dateForm="yy-mm-dd" addClass="form-control-static input-sm" addStyle="width:110px;display: inline-block;"></th:block>
                </div>
              </div>
              
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>팝업창 사이즈 </label>
                <div class="col-md-10 form-control-static">
	             
	              <label >가로 :</label>
	              <input type="text" id="width_size" name="width_size" class="form-control form-control-static input-sm"  style="width:100px" maxlength="4"/>
	              <label >&nbsp;&nbsp;세로&nbsp;&nbsp;:&nbsp;</label>
	              <input type="text" id="vrtcl_size" name="vrtcl_size" class="form-control form-control-static input-sm"  style="width:100px" maxlength="4"/>
	             
                </div>
              </div>
              
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>팝업창 위치</label>
                <div class="col-md-6 form-control-static">
                <label >TOP :</label>
	            <input type="text" id="top_lc" name="top_lc"   class="form-control form-control-static input-sm "  style="width:100px" maxlength="4"/>
	            <label >&nbsp;&nbsp;LEFT :</label>
	            <input type="text" id="left_lc" name="left_lc" class="form-control form-control-static input-sm "  style="width:100px" maxlength="4"/>
                </div>
              </div>
              
              
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>팝업창 유형 </label>
                <div class="col-md-10 form-control-static ">
                   <!-- <th:block kattr:radio_code="popup_type_cd" grpCd="107" selectedCd="107101" addClass=" input-sm" addStyle="padding:0px; width:150px; text-align:center;" ></th:block> -->
                   
                   <div class="form-con custom-radio">
                      <label><input type="radio" name="popup_type_cd" value="P" checked><span>팝업</span></label>
                      <label><input type="radio" name="popup_type_cd" value="L"><span>레이어</span></label>
                      <label><input type="radio" name="popup_type_cd" value="M"><span>모달</span></label>
                    </div>
                   
                    
                </div>
              </div>
              
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>제목</label>
                <div class="col-md-10 ">
                  <input type="text" id="title" name="title" class="form-control form-control-static input-sm" style="width:500px" />
                </div>
              </div>
              
              <div class="form-group col-md-12 row">
                <label class="col-md-2 control-label"><span class="text-danger">*</span>내용</label>
                <div class="col-md-10 form-control-static">
                    <textarea id="cntnts" name="cntnts"></textarea>
                </div>
              </div>
              
                 <div style= 'text-align : right'> 
                   <input  type="button" class="btn btn-sm btn-primary" id="insertPst" onclick="savePn()" value="저장" />
		           <input type="button" class="btn btn-sm btn-default"  onclick="resetListContent()" value="취소"/>
  		         </div>
  		         
          </div>
        </div>
</form>

<script th:inline="javascript">
	
	var insertPopUpNtUrl = "/mng/pop/insertPopUpNtc.do";
	var editor = null;
	
	$(function(){
		editor = CKEDITOR.replace('cntnts');
		validate();
		$("input:radio[name=expsr_lc_cd]").click(function(){
			fn_disableEexpsrLcCd();
		})
		$("input:radio[name=ntc_trgt_cd]").click(function(){
			fn_disableTargetCd();
		})
		fn_disableEexpsrLcCd();
		fn_disableTargetCd() 
	});
	
	function fn_disableEexpsrLcCd(){
		var chkCd = $("input:radio[name=expsr_lc_cd]:checked").val();
		if(chkCd=="M"){
			$("#selectMenuDiv").css("display","none");
			$("#menuid").attr("disabled",true);
			$("#menu_nm").attr("disabled",true);
		}else{
			$("#selectMenuDiv").css("display","block");
			$("#menuid").attr("disabled",false);
			$("#menu_nm").attr("disabled",false);
		}
		
	}
	function fn_disableTargetCd(){
		var chkCd = $("input:radio[name=ntc_trgt_cd]:checked").val();
			console.log($("input:radio[name=ntc_trgt_cd]:checked").val());
		if(chkCd=="T"){
			$("#selectTargetDiv").css("display","none");
			$("#ntc_trgt_roleid").attr("disabled",true);
			$("#ntc_trgt_roleid_nm").attr("disabled",true);
		}else{
			$("#selectTargetDiv").css("display","block");
			$("#ntc_trgt_roleid").attr("disabled",false);
			$("#ntc_trgt_roleid_nm").attr("disabled",false);
		}
	}
	// 유효성검증기
	function validate(){
		$("#insertPopUp").validate({
			ignore: [], // 에디터 사용시 추가해야한다.
		    rules: {
		    	siteid : {required: true }
		    	,login_need_yn : {required: true }
		    	,menu_nm: {required: true }
		    	,ntc_trgt_roleid_nm: {required: true }
		    	,strt_dt: {required: true }
		    	,end_dt: {required: true }
		    	,width_size: {required: true , digits:true, maxlength: 4 }
		    	,vrtcl_size: {required: true , digits:true, maxlength: 4 }
		    	,top_lc: {required: true , digits:true, maxlength: 4}
		    	,left_lc: {required: true , digits:true, maxlength: 4}
		    	,title : {required: true, maxlength: 200 }
		    	,cntnts: {required: true ,maxlength: 4000}
		    },
		    messages: { 
		    	siteid : {required: "사이트를 선택해 주십시오." }
		    	,login_need_yn: {required: "노출위치를 선택해 주십시오."}
		       	,menu_nm: {required: "메뉴아이디를 선택해 주십시오." }
		       	,ntc_trgt_roleid_nm: {required: "역할을 선택해 주십시오." }
		    	,strt_dt : {required: "팝업시작일자를 입력해 주십시오." }
		    	,end_dt  : {required: "팝업종료일자를 입력해 주십시오." }
		    	,width_size: {required: "팝업 가로 사이즈를 입력해 주십시오."  }
		    	,vrtcl_size: {required: "팝업 세로 사이즈를 입력해 주십시오." }
		    	,top_lc : {required: "팝업  top 위치를 입력해 주십시오."  }
		    	,left_lc: {required: "팝업 left 위치를 입력해 주십시오." }
                ,width_size: {maxlength: "값이 너무 큽니다."  }
                ,vrtcl_size: {maxlength: "값이 너무 큽니다." }
                ,top_lc : {maxlength: "값이 너무 큽니다."  }
                ,left_lc: {maxlength: "값이 너무 큽니다." }
		    	,title  :  {required: "팝업제목을 입력해 주십시오." , maxlength: "팝업제목은 200자를 넘을 수 없습니다."   }
		    	,cntnts : {required: "팝업내용을 입력해 주십시오." , maxlength: "팝업 내용은 4000자를 넘을 수 없습니다." }
		    }
		});
	}
	
	function savePn(){
		$('#cntnts').val(editor.getData());
		if(!$('#insertPopUp').valid()) return;
		displayWorkProgress();
		$.ajax({
			url: insertPopUpNtUrl,
			cache: false,
			dataType: 'json',
			data: $("#insertPopUp").serialize(),
			success: function(data){
				alert(data.msg);
				closeWorkProgress();
				resetListContent();
			}
		});
	}
	
</script>    
