<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
	layout:decorator="layout/mng/mainLayout" 
>
<body>
<div layout:fragment="content">


  <div class="page-body">
      <div class="row">
          <div class="col-12">
          <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
             <!-- 필터 부분 -->
                 <div class="card-block-small">
                     <!-- 키워드 filter -->
                     <div class="row">
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></span>
                                 <div class="input-group input-group-sm input-group-dropdown mb-0">
                                 
                                     <select name="searchType" id="searchType" class="form-select form-control ">
                                        <option value="">- 전체 -</option>
                                        <option value="title">제목</option>
                                        <option value="cntnts">내용</option>
                                     </select>
                                     <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" 
                                     aria-label="Text input with dropdown button">
                                     
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>사이트</strong></span>
                                 <div class="col-sm-12">
                                 
                                 <th:block kattr:select_site="serachSiteid" sysSeCd=""  firstOptTxt="- 선택 -" firstOptVal=""></th:block>
                                 
                             <!-- <select id="siteid"  name="siteid"  class="form-select form-select-sm form-control-sm" >
				                     <option value=""> - 전체 -</option>
				                     <option th:each="item : ${siteList}" th:value="${item.siteid}" th:text="${item.siteNm} "></option>
				                   </select> -->
				                   
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>노출위치</strong></span>
                                 <div class="col-sm-12">
                                    <select name="searchExpsrLcCd" id="searchExpsrLcCd" class="form-select form-select-sm form-control-sm">
					                  <option value="">-전체-</option>
					                  <option value="M">메인 </option>
					                  <option value="S">메뉴 </option>
					                </select>
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></span>
                                 <div class="col-sm-12">
                                     <select id ="searchTermSttsCd" name="searchTermSttsCd" class="form-select form-select-sm form-control-sm">
                                        <option value="">- 전체 -</option>
                                        <option value="1">진행</option>
                                        <option value="2">대기</option>
                                        <option value="3">만료</option>
                                     </select>
                                 </div>
                             </div>
                         </div>
                         
                     </div>
                     <!-- //키워드 filter -->
                     <!-- 키워드 filter-btn -->
                     <div class="mt-1 p-t-20 text-center border-top">
                         <button class="btn btn-disabled m-r-5" onclick="fn_init()" >초기화</button>
                         <button class="btn btn-primary" onclick="fn_searchForm()" >검색</button>
                     </div>
                 </div>
                 
           <input type="hidden" id="popupMode"/>
           </form>
          </div>
           
           
          <!-- //필터 부분 -->
          <div class="col-12">
           <div class="card">
                <div class="row p-20 p-b-0">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <h5><strong>팝업 검색 결과</strong></h5>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <th:block sec:authorize-url="/mng/inst/instDetail.html">
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="fn_goInsertForm();" >등록</button>
                        </th:block>
                    </div>
                </div>
                
                <div class="card-block-small">
                    <div class="dt-responsive table-responsive">
                        <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                       </div>
                    </div>
                </div>
            </div>
          </div>
            
          <!-- Content Area -->
          <div class="col-12">
          <div id="contentPanel" class="card"></div>
          </div>
      </div>
  </div>
  
  <!--팝업-->
  <div class="modal fade" id="menuModal" aria-hidden="true" data-bs-backdrop="static" ></div>
  <!--팝업-->
  
  <script src="/js/ckeditor/ckeditor.js"></script>
  <script th:inline="javascript">

    var Pop = "";
    var gridHelper1 ;
    var menuModal;
    
    $(function(){
       gridHelper1 = new GridHelper('jsGrid','contentPanel');
       writeJsGridData()
    });

    function writeJsGridData(){
        
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",
            autoload: true,
            sorting: false,
            paging: true,
            pagerContainer: "#listPager",
            pagerFormat: "{first} {prev} {pages} {next} {last}",
            pagePrevText: "이전",
            pageNextText: "다음",
            pageFirstText: "< 처음ㅣ",
            pageLastText: "ㅣ 마지막 >",
            pageSize: 10,
            pageButtonCount: 10,
            pageLoading: true,
            pageIndex: 1,
            noDataContent: "데이터가 없습니다.",
            
            controller: {
                loadData: function (filter) {
                    var data = $.Deferred();
                    
                    var formData = $('#searchFrm').serializeArray();
                    
                    var params = [
                            {name: "pageNumber", value: filter.pageIndex},
                            {name: "rowPerPage", value: filter.pageSize},
                            {name: "orderField", value: "mdfcn_dt"},
                            {name: "orderDirection", value: "desc"}
                    ]
                    
                    formData = formData.concat(params);
                    
                    $.ajax({
                      type: "GET",
                      contentType: "application/json; charset=utf-8",
                      url: "/mng/pop/selectPopUpNtcList.do",
                      data: formData,
                      dataType: "json"
                    }).done(function(response){
                        var da = {
                                data: escapeGridData(response.list),
                                itemsCount: response.totalCount
                            };
                      data.resolve(da);
                    });
                    return data.promise();
                },
            },
            fields: [ 
                { title:'No.'      ,name: 'rowNumber'    , type: "number", width: "3%", align:"center", sorting: false },
                { title:'공지대상'   ,name: 'ntcTrgtCd'  , type: "text"  , width: "5%" ,align:"center"
                    ,itemTemplate:function(value, item){ 
                    return item.ntcTrgtCd=='T' ? '전체':'역할';
                    }
                },
                { title:'제목'      ,name: 'title'        , type: "text"  , width: "15%"}, 
                { title:'노출위치'   ,name: 'expsrLcCd'  , type: "text"  , width: "5%" , itemTemplate:function(value, item){ return item.expsrLcCd=='M'? '메인':'메뉴'; } ,align:"center"},
                { title:'팝업사용기간',type: "text"  , itemTemplate:function(value, item){ return item.strtDt.substring(0, 10)+" ~ "+item.endDt.substring(0, 10) }, width: "10%" ,align:"center"},
                { title:'상태'      ,name: 'popSts'      , type: "text" ,width:"5%" ,align:"center"},
                { title:'최종수정자'  ,name: 'updNm'      , type: "text"  ,width:"5%" ,align:"center"},
                { title:'최종수정일',name: 'mdfcnDt'     , type: "text"  ,width:"5%" ,align:"center"
                	,itemTemplate: function(value, item){return value.substring(0,10)}
                },
            ]
            
            /*[# sec:authorize-url="/mng/pop/popupUpdateForm.html"]*/
            ,rowClick: function(args) { 
	            if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                gridHelper1.loadContent("/mng/pop/popupUpdateForm.html?popupntcid="+args.item.popupntcid); 
	            gridHelper1.rowClick(args);
            },
            /*[/]*/
        });
    }

    function fn_init() {
        $("#searchType").val('');
        $("#searchKeyword").val('');
        $("#serachSiteid").val('');
        $("#searchExpsrLcCd").val('');
        $("#searchTermSttsCd").val(''); 
    }
    
    function fn_searchForm(){
    	gridHelper1.resetListContent();
    }
    
    function fn_goInsertForm(){
        var insertUrl ="/mng/pop/popupInsertForm.html";
        gridHelper1.loadContent(insertUrl);
    }
    
</script>
</div>	
</body>