<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
  <form class="search-filter">
    <div class="form-input-wrap">
      <div class="form-row">
        <div class="form-header"><strong class="label">전문가 유형</strong></div>
        <div class="form-body">
          <span kattr:select_code="exprtType" grpCd="133" firstOptTxt="- 전체 -"></span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-header"><strong class="label">전문분야</strong></div>
        <div class="form-body">
          <select title="전문분야(대상)" id="expertField" name="exprtField">
            <option value="">- 전체 -</option>
            <option value="1">강의</option>
            <option value="2">기획</option>
            <option value="3">컨설팅</option>
            <option value="4">기타</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-header"><strong class="label">전문분야(대상)</strong></div>
        <div class="form-body">
          <span kattr:select_code="trgtCd" grpCd="135" firstOptTxt="- 전체 -"></span>

        </div>
      </div>
      <div class="form-row">
        <div class="form-header"><strong class="label">전문분야(환경주제)</strong></div>
        <div class="form-body">
          <span kattr:select_code="sjbctCd" grpCd="126" firstOptTxt="- 전체 -"></span>

        </div>
      </div>
      <div class="form-row">
        <div class="form-header"><strong class="label">가능 활동범위</strong></div>
        <div class="form-body">
          <span kattr:select_code="actvtScopeCd" grpCd="125" firstOptTxt="- 전체 -"></span>
        </div>
      </div>
    </div>
    <div class="search-filter-submit">
      <button type="reset" class="btn-medium btn-gray btn-before-refresh" onclick="lctrDmndList.searchInit()">초기화</button>
      <button type="button" class="btn-medium btn-green btn-before-search" onclick="lctrDmndList.search()">검색</button>
    </div>
  </form>

  <div class="table-caption flex-nowrap">
    <div class="left">
      <p>총 <b id="total-count">0</b> 건</p>
    </div>
  </div>

  <div class="card-list card-list-n2">
    <ul id="list-area">
      <li>
        <div class="resume-wrap">
          <div class="resume-top">
            <div class="resume-name">
              <span class="tag tag-green">국가환경교육지원단</span>
              <strong>홍*동 (38세, 남)</strong>
            </div>
            <div class="resume-favorite">
              <label class="inp inp-star"><input type="checkbox" title="관심인력 등록"></label>
            </div>
          </div>
          <div class="resume-center">
            <div class="resume-detail">
              <dl>
                <div class="list">
                  <dt><span class="icon icon-doc bg-blue"></span>전문분야</dt>
                  <dd>강의, 기획 / 청소년기(중학교) / 환경전반</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-career bg-blue"></span>경력</dt>
                  <dd>총 8년 9개월</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-cert bg-blue"></span>자격</dt>
                  <dd>환경교육사 2급</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-location bg-blue"></span>가능 활동범위</dt>
                  <dd>세종, 대구</dd>
                </div>
              </dl>
            </div>
            <div class="resume-update">
              <div class="resume-update-date">2022-09-20 업데이트</div>
              <div class="link">
                <a href="#" class="btn-medium btn-blue">요청서 작성</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="resume-wrap">
          <div class="resume-top">
            <div class="resume-name">
              <span class="tag tag-green">국가환경교육지원단</span>
              <strong>홍*동 (38세, 남)</strong>
            </div>
            <div class="resume-favorite">
              <label class="inp inp-star"><input type="checkbox" title="관심인력 등록"></label>
            </div>
          </div>
          <div class="resume-center">
            <div class="resume-detail">
              <dl>
                <div class="list">
                  <dt><span class="icon icon-doc bg-blue"></span>전문분야</dt>
                  <dd>강의, 기획 / 청소년기(중학교) / 환경전반</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-career bg-blue"></span>경력</dt>
                  <dd>총 8년 9개월</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-cert bg-blue"></span>자격</dt>
                  <dd>환경교육사 2급</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-location bg-blue"></span>가능 활동범위</dt>
                  <dd>세종, 대구</dd>
                </div>
              </dl>
            </div>
            <div class="resume-update">
              <div class="resume-update-date">2022-09-20 업데이트</div>
              <div class="link">
                <a href="#" class="btn-medium btn-blue">요청서 작성</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="resume-wrap">
          <div class="resume-top">
            <div class="resume-name">
              <span class="tag tag-green">국가환경교육지원단</span>
              <strong>홍*동 (38세, 남)</strong>
            </div>
            <div class="resume-favorite">
              <label class="inp inp-star"><input type="checkbox" title="관심인력 등록" checked=""></label>
            </div>
          </div>
          <div class="resume-center">
            <div class="resume-detail">
              <dl>
                <div class="list">
                  <dt><span class="icon icon-doc bg-blue"></span>전문분야</dt>
                  <dd>강의, 기획 / 청소년기(중학교) / 환경전반</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-career bg-blue"></span>경력</dt>
                  <dd>총 8년 9개월</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-cert bg-blue"></span>자격</dt>
                  <dd>환경교육사 2급</dd>
                </div>
                <div class="list">
                  <dt><span class="icon icon-location bg-blue"></span>가능 활동범위</dt>
                  <dd>세종, 대구</dd>
                </div>
              </dl>
            </div>
            <div class="resume-update">
              <div class="resume-update-date">2022-09-20 업데이트</div>
              <div class="link">
                <a href="#" class="btn-medium btn-gray">요청완료</a>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="pagination" aria-label="pagination" id="pagination">
  </div>

  <script th:inline="javascript">
    let lctrDmndList = {
      var listUrl = '/front/exprtPool/selectExprtList.do',

      searchInit() {

      },
      search() {

      },
    };

  </script>
</div>