<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/nolnbSubLayout">
<div layout:fragment="content">
    <div class="steps">
        <ol>
            <li>
                <div class="steps-inner">
                    <span>01</span>
                    <strong>약관동의</strong>
                </div>
            </li>
            <li>
                <div class="steps-inner">
                    <span>02</span>
                    <strong>신청정보입력</strong>
                </div>
            </li>
            <li class="active" title="현재 단계" aria-current="step">
                <div class="steps-inner">
                    <span>03</span>
                    <strong>가입완료</strong>
                </div>
            </li>
        </ol>
    </div>
    <div class="box-step-end">
        <div class="thumb"><span class="icon icon-sign-end"></span></div>
        <dl>
            <dt>전문가 등재 신청이 완료되었습니다.<br>관리자 승인 후 정상적인 서비스 이용이 가능합니다.</dt>
            <dd>(승인 검토 과정은 2~3일 정도 소요되며, 승인 결과는 입력하신 이메일에서 확인하실 수 있습니다)</dd>
        </dl>
        <div class="btn-inner"><a href="@{/}" class="btn-large btn-green">메인으로</a></div>
    </div>
</div>
