<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
    <div class="content-info">
        <h3><span>환경교육 전문가 풀</span> 소개</h3>
        <p>환경교육 전문가 풀은 환경교육사 등 전문가 등재신청 후 검증절차를 거쳐 등록 가능하며, <br>인력풀대상 지역·분야·대상별 수요에 맞는 강의요청이 가능합니다.</p>
    </div>

    <div class="table-caption">
        <div class="left">
            <h3 class="sub-title">전문가 풀 등록</h3>
            <p class="fc-black6 mt5">환경부 국가자격제도인 “환경교육사” 자격을 취득하신 이후 등재신청 가능합니다.</p>
        </div>
    </div>

    <div class="member-type-list">
        <ul>
            <li>
                <div class="thumb d-flex j-center"><img src="/images/front/professional/img-introduce-pool01.png" alt=""></div>
                <div class="btn-inner"><a th:href="@{/front/envtcher/intro1.html}" class="btn-large btn-green">환경교육사 알아보기</a></div>
            </li>
            <li>
                <div class="thumb d-flex j-center"><img src="/images/front/professional/img-introduce-pool02.png" alt=""></div>
                <div class="btn-inner"><a class="btn-large btn-green" href="javascript:moveToStep2()">환경교육 전문가 풀 가입 신청</a></div>
            </li>
        </ul>
    </div>

    <script th:inline="javascript">
        var user = /*[[${user}]]*/null;
        var exprtStts =/*[[${exprtStts}]]*/null;

        function moveToStep2() {
            if (user == null) {
                alert('14세 이상 개인회원 가입 후 가입 신청이 가능합니다.');
                return;
            }
            if (user.loginUserType == 'I') {
                alert('14세 이상 개인회원만 가입 신청이 가능합니다.');
                return;
            }

            if (user.userType != null && user.userType == 'C') {
                alert('14세 미만 어린이 회원은 가입 신청을 할 수 없습니다.');
                return;
            }

            if (exprtStts != null) {
                if (exprtStts == '134101' || exprtStts == '134104') {
                    if (confirm('작성중인 데이터를 불러오시겠습니까?')) {
                        location.href = '/front/exprtPool/registerStep3.html';
                    }
                } else if (exprtStts == '134102') {
                    alert('전문가 심사가 진행중입니다.');
                    return;
                } else if ( exprtStts == '134105') {
                    alert('해지된 전문가 회원입니다.\n해지 취소를 원하시면 1:1문의 게시판에서 전문가 해지 취소 문의 글을 남겨주십시오.');
                    return;
                } else {
                    alert('이미 전문가로 등록되어 있습니다.');
                    return;
                }
            } else {
                location.href= '/front/exprtPool/registerStep2.html';
            }
        }
    </script>
</div>