<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout/mng/mainLayout">

<body>
<div layout:fragment="content">
	<style>	.hide{display:none;	}</style>
	<div class="page-body">
		<div class="row">

			<form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
				<div class="card-block-small">
					<div class="row">
						<div class="col-lg-3 col-md-6 mb-3">
							<div class="mb-0 form-group row">
								<div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
								<div class="input-group input-group-sm input-group-dropdown mb-0">
									<select name="searchType" id="searchType"
											class="form-select form-control">
										<option value="spceNm">공간</option>
										<option value="fcltNm">시설</option>
										<option value="instNm">운영기관</option>
										<option value="acnt">신청자ID</option>
										<option value="aplcntNm">신청자명</option>
									</select>
									<input type="text" name="searchKeyword" id="searchKeyword" class="form-control" aria-label="Text input with dropdown button">
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-3">
							<div class="mb-0 form-group row">
								<label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="searchAplySttsCd">
									<strong>신청상태</strong></label>
								<div class="col-12">
									<span kattr:select_code="searchAplySttsCd" name="searchAplySttsCd" id="searchAplySttsCd" grpCd="160" firstOptTxt="- 전체 -" addClass="form-select form-select-sm form-control-sm" isAdmin="true">
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 mb-3">
							<div class="mb-0 form-group row">
								<div class="form-label col-sm-12 col-form-label p-t-0 pb-1">
									<strong>예약신청일</strong></div>
								<div class="col-12">
								     <input type="text" class="form-control form-control-sm" name="filterSearchSelectDate" id="filterSearchSelectDate">
								     <input type="hidden" id="searchBgngDt" name="searchBgngDt"/>
								     <input type="hidden" id="searchEndDt" name="searchEndDt"/>
								</div>
							</div>
						</div>
					</div>
					<div class="mt-1 p-t-20 text-center border-top">
						<button type="button" class="btn btn-disabled m-r-5" onclick="fn_init()">초기화</button>
						<button type="submit" class="btn btn-primary" onclick="fn_searchForm()">검색</button>
					</div>
				</div>

			</form>

			<div class="card">
				<div class="row p-20 p-b-0">
					<div class="col-12 col-md-6">
						<h5>
							<strong>입금 전 검색결과</strong>
						</h5>
					</div>
                    <div class="col-12 col-md-6 text-right">
                        <th:block sec:authorize-url="/mng/spce/spceDetail.html">
                            <button type="button" class="btn btn-disabled waves-effect waves-light" onclick="processDspt('C');" >신청취소</button>
                        </th:block>
                        <th:block sec:authorize-url="/mng/spce/spceDetail.html">
                            <button type="button" class="btn btn-primary m-r-5" onclick="processDspt('D');" >입금확인</button>
                        </th:block>
                    </div>
				</div>
				<div class="card-block">
					<table id="jsGrid" class="table-responsive"></table>
					<div id="listPager" class="text-center"></div>
				</div>
			</div>

			<!-- Content Area -->
			<div id="contentPanel" style="display: none" class="card"></div>
		</div>
	</div>


    <div class="modal fade" data-bs-backdrop="static" id="dsptProcessPopup"></div>
	<link rel="stylesheet" type="text/css" href="/files/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="/files/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	<script type="text/javascript" src="/js/common/jsgrid-master/dist/jsgrid.min.js"></script>
	<script th:inline="javascript">
        /*<![CDATA[*/
        var selectedApplyid = /*[[${param.selectedApplyid}]]*/null;
        /*]]>*/
		var selectedItems = [];
		var gridHelper2;
        var dsptCheckAddModal;
        
		$(function(){
			gridHelper2 = new GridHelper('jsGrid','contentPanel');
			initDateRangePicker("filterSearchSelectDate","searchBgngDt","searchEndDt");
			writeJsGridData();
		});
		function fn_goInsertForm(){
			var insertUrl = "/mng/rcpmnyBfe/rcpmnyBfeForm.html?mode=f"
			gridHelper2.loadContent(insertUrl);
		}
		function fn_searchForm(){
			gridHelper2.resetListContent();
		}
		function fn_init() {
			$("#searchType").val('spceNm');
			$("#searchKeyword").val('');
			$("#searchAplySttsCd").val('');
			$("#searchBgngDt").val('');
			$("#searchEndDt").val('');
			$("#filterSearchSelectDate").val('');
			gridHelper2.resetListContent();
		}
		function writeJsGridData(){
			$("#jsGrid").jsGrid({
				height: "auto",
				width: "100%",
				autoload: true,
				sorting: false,
				paging: true,
				pagerContainer: "#listPager",
				pagerFormat: "{first} {prev} {pages} {next} {last}",
				pagePrevText: "이전",
				pageNextText: "다음",
				pageFirstText: " < 처음 ㅣ",
				pageLastText: " | 마지막 >",
				pageSize: 10,
				pageButtonCount: 10,
				pageLoading: true,
				pageIndex: 1,
				noDataContent: "데이터가 없습니다.",
				controller: {
					loadData: function (filter) {
						var data = $.Deferred();

						var formData = $('#searchFrm').serializeArray();
						var params = [
							{name: "pageNumber", value: filter.pageIndex},
							{name: "rowPerPage", value: filter.pageSize},
						]

						if(filter.sortField != undefined){
							params.push({name: "orderField", value: filter.sortField});
							params.push({name: "orderDirection", value: filter.sortOrder});
						}else{
							params.push({name: "orderField", value: 'aplyid'});
						}

						if(selectedApplyid !=null && selectedApplyid !='' && selectedApplyid != 0){
							params.push({name: "selectedApplyid", value: selectedApplyid});
						}

						formData = formData.concat(params);

						$.ajax({
							type: "GET",
							contentType: "application/json; charset=utf-8",
							url: "/mng/rcpmnyBfe/selectRcpmnyBfeList.do",
							dataType: "json",
							data: formData
						}).done(function(response){
							var da = {
								data : escapeGridData(response.list)
								,itemsCount : response.totalCount
							};
							data.resolve(da);
						});
						return data.promise();
					},
				},
				fields: [
 	                 {
	                     title : '선택' ,
	                     itemTemplate: function(_, item) {
	                         return $("<input>").attr("type", "radio").attr("class", "singleCheckbox").attr("name","aplyChk")
	                         .attr("value",item.aplyid).attr("id","aplyChk"+item.aplyid)
	                     },
	                     align: "center",
	                     width: "80",
	                     sorting: false
	                 }
					,{ name: 'aplyid', css: 'hide' }
					,{ title: 'No.' ,name: 'rowNumber',    type: "number", width : "80", align:"center",  sorting :false }
					,{ title: '신청자ID'    ,name: 'acnt',    type: "text", width: "150",align:"center"}
					,{ title: '신청자명'    ,name: 'aplcntNm', type: "text", width: "150", align:"center" }
					,{ title: '공간'   ,name: 'spceNm',   type: "text", width: "250", align:"center"  }
					,{ title: '이용일(시)'   ,name: 'bgngDt',   type: "text", width: "250", align:"center"
						, itemTemplate: function(value, item){
							if( item.alldayYn == 'N' ){
								return item.bgngDt.substring(0,16) +' ~ '+item.endDt.substring(11,16);
							}else{
								if( item.bgngDt.substring(0,10) == item.endDt.substring(0,10)){
									return item.bgngDt.substring(0,10);
								}else{
									return item.bgngDt.substring(0,10) +' ~ '+ item.endDt.substring(0,10);
								}
							}
						}
					}
					,{ title: '결제금액' ,name: 'amt',  type: "text", width: "150", align:"center", itemTemplate: function(value) {
						return value.toLocaleString()+'원';
					}}
					,{ title: '신청상태' ,name: 'aplySttsCdNm',  type: "text", width: "150", align:"center" }
					,{ title: '결제상태' ,name: 'stlmSttsCdNm',  type: "text", width: "150", align:"center" }
					,{ title: '예약신청일' ,name: 'aplyDt',  type: "text", width: "150", align:"center"
						, itemTemplate: function(value, item){
							return value.substring(0,10);
						}
					}
				],
				rowClick: function(args) {
					if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
					var updateUrl = "/mng/rcpmnyBfe/rcpmnyBfeView.html?aplyid=" + args.item.aplyid;
					gridHelper2.loadContent(updateUrl);
					gridHelper2.rowClick(args);
				},
	            onDataLoaded: function(args) { 
                    if(selectedApplyid == null || args.grid.data == null || args.grid.data.length == 0) return;
                    var detailUrl = "/mng/rcpmnyBfe/rcpmnyBfeView.html?aplyid=" + selectedApplyid;
                    gridHelper2.loadContent(detailUrl);
                    selectedApplyid = null;
                },
				onPageChanged: function(args) {
					selectedItems = [];
				}
			});
		}
		
	    processDspt=(mode)=>{
		    
		    let openPopUrl = "";
		    let alertStr = "";
	    	let checkedAplyid = $("input[name=aplyChk]:checked").val();
	    	
		    if(mode=='C'){ //신청취소 
		        openPopUrl = "/mng/rcpmnyBfe/resveCancelPopup.html?aplyid="+checkedAplyid;
		        alertStr = "신청취소";
			}else{//입금확인
		        openPopUrl = "/mng/rcpmnyBfe/dsptCheckPopup.html?aplyid="+checkedAplyid;
		        alertStr = "입금확인";
			}
	    	if(checkedAplyid==null || checkedAplyid =='undefined'){
		    	alert( alertStr+" 대상을 선택해주십시오.");
		    	return;
		    }

	        if(displayWorkProgress()){
	            $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "/mng/resveReqst/selectResveReqstList.do",
                    dataType: "json",
	                data : {selectedApplyid : checkedAplyid },
	                success : function (response){
		                
                        if(response.totalCount == 0){
                            closeWorkProgress();
                            alert("신청건이 존재하지 않습니다. 새로 고침 후 확인해주십시오");
                            return;
                        }else if(response.totalCount >= 2){
                            closeWorkProgress();
                            alert("중복 신청건이 존재합니다. 새로 고침 후 확인해주십시오");
                            return;
                        }else{
                            closeWorkProgress();
                        	if(response.list[0].aplySttsCd == "160103"){
	                            alert("신청 취소 건은 처리가 불가합니다.");
	                            return false;
                        	}else{
                        		openDsptPop(openPopUrl);
                        	}
                        }
	                }
	            });
	        }
		}
		
        openDsptPop=(popupUrl)=>{
		    $("#dsptProcessPopup").load(popupUrl, function(response, status, xhr) {
	            console.log(status);
	            if (status == "success") {
	                dsptCheckAddModal = new bootstrap.Modal($('#dsptProcessPopup'));
	                dsptCheckAddModal.show();
	            }
	        });
        }
   </script>
</div>
</body>
</html>