<form id="rcpmnyBfeUpdate" >
    <input type="hidden" id="aplyid" name="aplyid" th:value="${rcpmnyBfe.aplyid}">
    <!--탭영역 start -->
    <div class="tab-content tabs p-t-20">

        <div class="tab-pane active" id="agencyInfo" role="tabpanel">
            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>예약정보</strong></h3>
            </div>
            <div class="card-block-small p-t-0">
                <div class="mb-2 row align-items-end">
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>운영기관</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.instNm}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>시설</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.fcltNm}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>공간</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.spceNm}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>이용일(시)</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.bgngDt}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>신청상태</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.aplySttsCdNm}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>예약신청일시</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.aplyDt}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>결제금액</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.amt}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>결제상태</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.paySttus}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2 row">
                        <div class="col-12 col-lg-6">
                            <div class="mb-0 form-group row">
                                <label class="col-md-2 control-label"><span class="text-danger"> </span>예약취소일시</label>
                                <div class="col-md-10 form-control-static" style="text-align:left;">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.cnclDt}"/></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="form-group row m-b-0">
                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1">예약취소사유</label>
                                <div class="col-sm-12">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.rsvtCnclRsn}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>신청자 정보</strong></h3>
                <div class="card-block-small p-t-0">
                    <div class="mb-2 row align-items-end">
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>신청자 ID</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.acnt}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>이름/기관명</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.nm}"/> / <th:block th:text="${rcpmnyBfe.userInstNm}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>회원유형</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.rolecdnm}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>기관유형</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.instTypeCdNm}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>휴대전화</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.moblphon}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>이메일</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.eml}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12">
                                <div class="mb-0 form-group">
                                    <span class="form-label col-sm-12 col-form-label p-t-0 pb-1">이용인원</span>
                                    <div class="col-sm-12 row">
                                        <div class="col-sm-4">
                                            성인
                                            <label class="form-control-static"><th:block th:text="${rcpmnyBfe.nopeAdult}"/></label>
                                            명
                                        </div>
                                        <div class="col-sm-4">
                                            아동
                                            <label class="form-control-static"><th:block th:text="${rcpmnyBfe.nopeChil}"/></label>
                                            명
                                        </div>
                                        <div class="col-sm-4">
                                            유아
                                            <label class="form-control-static"><th:block th:text="${rcpmnyBfe.nopeInfnt}"/></label>
                                            명
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group row m-b-0">
                                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1">이용 목적</label>
                                <div class="col-sm-12">
                                    <label class="form-control-static"><th:block th:text="${rcpmnyBfe.utztnPrps}"/></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>예약자 정보</strong></h3>
                <div class="card-block-small p-t-0">
                    <div class="mb-2 row align-items-end">
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>이름</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.aplcntNm}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>휴대전화</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.aplcntMoblphon}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>이메일</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.aplcntEml}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-header p-t-0 p-b-0">
                <h3 class="sub-title"><strong>입금/환불정보</strong></h3>
                <div class="card-block-small p-t-0">
                    <div class="mb-2 row align-items-end">
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>결제방법</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.stlmMthdCdNm}"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-0 form-group row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>입금계좌</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.bankCdNm}"/> <th:block th:text="${rcpmnyBfe.bacntNo}"/> <th:block th:text="${rcpmnyBfe.dpstrNm}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2 row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group col-md-12 row">
                                    <label class="col-md-2 control-label"><span class="text-danger"> </span>입금자명</label>
                                    <div class="col-md-10 form-control-static" style="text-align:left;">
                                        <label class="form-control-static"><th:block th:text="${rcpmnyBfe.pyrNm}"/></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-block-small">
                <button type="button" class="btn btn-primary m-r-5" onclick = "fn_openDsptCheckModal()" > 입금확인</button>
                <button type="button" class="btn btn-primary" onclick="fn_openResveCancelModal()">신청취소</button>
            </div>

            <div class="tab-pane" id="managerInfo" role="tabpanel"></div>

        </div>

    </div>
</form>

<!-- 임시비밀번호발급 Start -->
<div class="modal fade" id="popCon1" tabindex="-1" role="dialog" aria-labelledby="popCon1Title" aria-hidden="true"></div>
<!-- 임시비밀번호발급 End -->

<script type="text/javascript" src="/files/assets/pages/advance-elements/swithces.js"></script>
<script type="text/javascript" src="/files/assets/pages/advance-elements/select2-custom.js"></script>
<div class="modal fade" id="dsptCheckPopup" data-bs-backdrop="static"></div>
<div class="modal fade" id="resveCancelPopup" data-bs-backdrop="static"></div>

<script th:inline="javascript">

    // 입금확인 팝업
    /*<![CDATA[*/
    var dsptCheckPopupUrl = "/mng/rcpmnyBfe/dsptCheckPopup.html?"+"aplyid=" + /*[[${rcpmnyBfe.aplyid}]]*/null;
    /*]]>*/
    var dsptCheckAddModal;

    var fn_openDsptCheckModal = () => {
        $("#dsptCheckPopup").load(dsptCheckPopupUrl, function(response, status, xhr) {
            console.log(status);
            if (status == "success") {
                dsptCheckAddModal = new bootstrap.Modal($('#dsptCheckPopup'));
                dsptCheckAddModal.show();
            }
        });
    }

    // 신청취소 팝업
    var resveCancelPopupUrl = "/mng/rcpmnyBfe/resveCancelPopup.html?"+"aplyid=" + /*[[${rcpmnyBfe.aplyid}]]*/null;
    var resveCancelAddModal;

    var fn_openResveCancelModal = () => {
        $("#resveCancelPopup").load(resveCancelPopupUrl, function(response, status, xhr) {
            console.log(status);
            if (status == "success") {
                resveCancelAddModal = new bootstrap.Modal($('#resveCancelPopup'));
                resveCancelAddModal.show();
            }
        });
    }
</script>

