<div class="tab-pane active" id="qitem" role="tabpanel">
    <div class="row p-20 p-t-0 p-b-0">
        <div class="col-12 col-md-6">
            <h5><strong>설문지 문항 목록</strong></h5>
        </div>
        <div class="col-12 col-md-6 text-right">
            <button type="button" class="btn btn-inverse m-r-5">삭제</button>
            <th:block sec:authorize-url="/mng/qestnr/qitemInsertForm.html">
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="qitem.onInsertForm();">등록</button>
            </th:block>
        </div>
    </div>
    
    <div id="qitemGridPanel" class="card-block-small">
        <table id="qitemGrid" class="table-responsive"></table>
        <div id="qitemPager" class="text-center"></div>
    </div>
    
    <!-- insert 부분 -->
    <div id="qitemContentPanel" class="card" style="display: none;">
    </div>
    <!-- //insert 부분 -->
</div>

<script th:inline="javascript">
    var qitem = {
        listUrl: "/mng/qestnr/selectQitemList.do",
        
        init: function() {
            qitemGrid = new GridHelper("qitemGrid", "qitemContentPanel");
            this.setGrid();
            this.registEvent();    
        },
        
        registEvent: function() {
            // TODO
        },
        
        onSearch: function() {
            qitemGrid.resetListContent();
        },
        
        setGrid: function() {
            $("#qitemGrid").jsGrid({
                height: "auto",
                width: "100%",
                autoload: true,
                sorting: false,
                paging: true,
                pagerContainer: "#qitemPager",
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagePrevText: "이전",
                pageNextText: "다음",
                pageFirstText: "< 처음 ㅣ",
                pageLastText: "ㅣ 마지막 >",
                noDataContent: "데이터가 없습니다.",
                pageSize: 10,
                pageButtonCount: 10,
                pageLoading: true,
                pageIndex: 1,
                controller: {
                    loadData: function(filter) {
                        var data = $.Deferred();
                        var params = {
                            "qestnrid": qestnrDetail.qestnrid[0],
                            "searchType": "",
                            "searchKeyword": "",
                            "pageNumber": filter.pageIndex,
                            "rowPerPage": filter.pageSize,
                            "orderField": "ORDR",
                            "orderDirection": "asc"
                        };
                        $.ajax({
                          type: "GET",
                          contentType: "application/json; charset=utf-8",
                          url: qitem.listUrl,
                          data: params,
                          dataType: "json"
                        }).done(function(response) {
                            var da = {
                                data : escapeGridData(response.list),
                                itemsCount : response.totalCount
                            };
                            data.resolve(da);
                        });
                        
                        return data.promise();
                    }
                },
                fields: [
                    {
                        headerTemplate: function() {
                            return $("<input>").attr("type", "checkbox").attr("id", "selectAllCheckbox")
                        },
                        itemTemplate: function(value, item) {
                            return $("<input>").attr("type", "checkbox").attr("class", "singleCheckbox");
                        },
                        align: "center", width: "50", sorting: false
                    },              
                    {title: "No.", name: "ordr", type: "number", width: "80", align: "center", sorting: false},
                    {title: "문항", name: "cn", type: "text", key: true, width: "200", align: "center"},
                    {title: "유형", name: "qitemTypeCd", type: "text", width: "100", align: "center"},
                    {title: "순서", name: "ordr", type: "text", align: "center" , width: "80", itemTemplate: function(value, item) {
                        if(value == 1) {
                            if(item.totalCount == 1) {
                                return "-";
                            } else {
                                return "<div class='col-sm-12 btn-group-sm'><button class='btn btn-xs btn-primary m-l-5' onclick='qitem.onChangeOrdr(" + '\"down\",' + item.ordr + ");'>▼</button></div>";                                
                            } 
                        } else if(value == item.totalCount) {
                            return "<div class='col-sm-12 btn-group-sm'><button class='btn btn-xs btn-primary' onclick='qitem.onChangeOrdr(" + '\"up\",' + item.ordr + ");'>▲</button></div>";
                        } else {
                            return "<div class='col-sm-12 btn-group-sm'><button class='btn btn-xs btn-primary' onclick='qitem.onChangeOrdr(" + '\"up\",' + item.ordr + ");'>▲</button><button class='btn btn-xs btn-primary m-l-5' onclick='qitem.onChangeOrdr(" + '\"down\",' + item.ordr + ");'>▼</button></div>";
                        }
                    }}
                ]
                , rowClick: function(args) { 
                    if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                    var detailUrl = "/mng/qestnr/qestnrDetailForm.html?qestnrid=" + args.item.qitemid; 
                    qestnrGrid.loadContent(detailUrl);
                    qestnrGrid.rowClick(args);
                }
            });
        },
        
        onChangeOrdr: function(dir, ordr) {
            alert("onChangeOrdr: dir - " + dir + ", ordr - " + ordr);
            
            /*
            if(displayWorkProgress()){
                $.ajax({
                    url : '/uploadFile.do',
                    processData : false,
                    contentType : false,
                    data : formData,
                    type : 'POST',
                    success : function(response) {
                        if(response.result == 'fail'){
                            alert(response.msg);
                        }else if(response.filegrpid != undefined && response.filegrpid != ''){
                            $("#pphotoFilegrpid").val(response.filegrpid);
                            $("#pphotoFileid").val(response.fileid);
                            $("#imgPreview").attr('src', "/downloadFileByFileid.do?fileid=" + response.fileid + "&file_idntfc_key=" + response.fileIdntfcKey);
                        }
                        closeWorkProgress();
                    }
                });
            }
            */
            //return false;
        },
        
        resetGrid: function() {
            qitemGrid.resetListContent();
        },
        
        onInsertForm() {
            var insertUrl = "/mng/qestnr/qitemInsertForm.html";
            qitemGrid.loadContent(insertUrl);
        }
    };
    
    $(function() {
        qitem.init();
    });
</script>