<!-- [팝업] 대여불가 사유 -->
   <div class="modal-dialog modal-md" role="document">
       <div class="modal-content type_2">
           <div class="modal-header">
               <h4 class="modal-title">대여불가 사유</h4>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true"></span>
               </button>
           </div>
           <div class="modal-body">
               <div class="card m-b-10">
                   <div class="card-block-small">
                       <div class="mb-0 form-group row">
                           <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="checkListReasonPopupReason"><strong>사유</strong></label>
                           <div class="col-12">
                               <textarea rows="5" cols="5" class="form-control form-control-sm" placeholder="Default textarea" id="rejectRsn" name="rejectRsn"></textarea>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-primary">확인</button>
           </div>
       </div>
   </div>
<!-- //[팝업] 대여불가 사유 -->
<script th:inline="javascript">
</script>
