<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:kattr="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/mng/mainLayout">
<body>
<div layout:fragment="content">
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <div class="col-12">
                <div class="card">
                    <div class="card-block-small">
                        <!-- 키워드 filter -->
                        <div class="row">
                            <div class="col-lg-3 mb-2 mb-lg-0">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                    <div class="input-group input-group-sm input-group-dropdown mb-0">
                                        <select name="searchType" id="searchType" class="form-select form-control">
                                            <option value="">- 선택 -</option>
                                            <option value="formNmStr">심사양식명</option>
                                            <option value="formExplnStr">심사양식 설명</option>
                                        </select>
                                        <input type="text" name="searchKeyword" id="searchKeyword" class="form-control form-control-sm" aria-label="Text input with dropdown button">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-0 form-group row">
                                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>운영형태</strong></div>
                                    <div class="col-12">
                                        <span kattr:select_code="searchOperFrmCd" grpCd="158" firstOptTxt="- 전체 -"  addClass="form-select form-select-sm form-control-sm" ></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- //키워드 filter -->
                        <!-- 키워드 filter-btn -->
                        <div class="mt-1 p-t-20 text-center border-top">
                            <button type="submit" class="btn btn-disabled m-r-5" onclick="srngForm.initSearch();">초기화</button>
                            <button type="submit" class="btn btn-primary" onclick="srngForm.onSearch();">검색</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6">
                            <h5><strong>심사양식 검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <th:block sec:authorize-url="/mng/srng/srngFormInsertForm.html">
                                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="srngForm.onInsertForm();">등록</button>
                            </th:block>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                            <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div id="contentPanel" class="card"></div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var srngForm = {
            listUrl : "/mng/srng/selectSrngFormList.do",

            init: function() {
                srngFormJsGrid = new GridHelper("jsGrid", "contentPanel");
                this.setGrid();
                this.registEvent();
            },

            registEvent: function() {
                // TODO
            },

            initSearch: function() {
                $("#searchType, #searchKeyword, #searchOperFrmCd").val('');
            },

            onSearch: function() {
                srngFormJsGrid.resetListContent();
            },

            setGrid: function() {
                $("#jsGrid").jsGrid({
                    height: "auto",
                    width: "100%",
                    autoload: true,
                    sorting: false,
                    paging: true,
                    pagerContainer: "#listPager",
                    pagerFormat: "{first} {prev} {pages} {next} {last}",
                    pagePrevText: "이전",
                    pageNextText: "다음",
                    pageFirstText: "< 처음 ㅣ",
                    pageLastText: "ㅣ 마지막 >",
                    noDataContent: "데이터가 없습니다.",
                    pageSize: 10,
                    pageButtonCount: 10,
                    pageLoading: true,
                    pageIndex: 1,
                    controller: {
                        loadData: function(filter) {
                            var data = $.Deferred();
                            var params = {
                                "searchType": $('#searchType').val(),
                                "searchKeyword": $('#searchKeyword').val(),
                                "searchOperFrmCd": $('#searchOperFrmCd').val(),
                                "pageNumber": filter.pageIndex,
                                "rowPerPage": filter.pageSize,
                                "orderField": "REG_DT",
                                "orderDirection": "desc"
                            };
                            $.ajax({
                                type: "GET",
                                contentType: "application/json; charset=utf-8",
                                url: srngForm.listUrl,
                                data: params,
                                dataType: "json"
                            }).done(function(response) {
                                var da = {
                                    data : escapeGridData(response.list),
                                    itemsCount : response.totalCount
                                };
                                data.resolve(da);
                            });

                            return data.promise();
                        }
                    },
                    fields: [
                        {title: "No.", name: "rowNumber", type: "number", width: "80", align: "center", sorting: false},
                        {title: "운영형태", name: "operFrmCdNm", type: "text", width: "180", align: "left"},
                        {title: "심사양식명", name: "formNm", type: "text", width: "300", align: "left"},
                        {title: "문항수", name: "srngFormQitemCnt", type: "number" , width: "80", align: "center"},
                        {title: "사용여부", name: "useYn", type: "text", align: "center" , width: "150", itemTemplate: function(value, item) {
                                return value == "Y" ? "사용" : "미사용";}},
                        {title: "수정일", name: "mdfcnDt", type: "number", align: "center", width: "100"},
                        {title: "등록일", name: "regDt", type: "text", align: "center", width: "100"}
                    ],
                    rowClick: function(args) {
                        if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                        var detailUrl = "/mng/srng/srngFormDetail.html?mode=M&formid=" + args.item.formid;
                        srngFormJsGrid.loadContent(detailUrl);
                        srngFormJsGrid.rowClick(args);
                    }
                });
            },

            resetGrid: function() {
                srngFormJsGrid.resetListContent();
            },

            onInsertForm() {
                var insertUrl = "/mng/srng/srngFormDetail.html?mode=I";
                srngFormJsGrid.loadContent(insertUrl);
            }
        };

        $(function() {
            srngForm.init();
        });
    </script>
</div>
</body>