<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<div class="col-12 col-lg-6 ">
    <div class="card">
        <div class="card-header p-b-0">
            <h4 class="sub-title"><strong>문의</strong></h4>
        </div>
        <div class="card-block-small p-t-0">
            <p>
                <strong th:text="|[${inqryInfo.inqryClNm}] ${inqryInfo.title}|">[분류] 제목</strong>
            </p>
            <p>
                <th:block th:if="${not #strings.isEmpty(inqryInfo.instNm)}">
                    <th:block th:text="${inqryInfo.instNm} "></th:block>
                </th:block>

                <th:block th:text="|${inqryInfo.nm}(${inqryInfo.acnt})|"></th:block>
                <br/>
                <th:block th:text="${#dates.format(inqryInfo.regDt, 'yyyy-MM-dd')}"/>
            </p>
        </div>
        <div class="card-header p-t-0 p-b-0">
            <h4 class="sub-title"><strong>문의 내용</strong></h4>
        </div>
        <div class="card-block-small p-t-0">
            <p>
                <th:block th:utext="${#strings.replace(#strings.escapeXml(inqryInfo.cntnts),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></th:block>
            </p>
            <div class="mt-2 row">
                <ul th:if="${fileList != null}">
                    <th:block th:each="file : ${fileList}">
                        <li>
                            <a href="javascript:void(0)" th:fileid="${file.fileid}" th:fileIdntfcKey="${file.fileIdntfcKey}"
                               th:onclick="|javascript:downloadFileByFileid(this.getAttribute('fileid'), this.getAttribute('fileIdntfcKey'))|">
                                <i class="ion-paperclip f-18"></i> [[${file.orginlFileNm}]]
                            </a>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-lg-6 ">
    <div class="card">
        <form name="inqryAnswrFrm" id="inqryAnswrFrm" action="" method="POST" onsubmit="return false;">
            <input type="hidden" name="inqryid" id="inqryid" th:value="${inqryInfo.inqryid}"/>
            <input type="hidden" name="answrid" id="answrid" th:value="${inqryAnswrInfo.answrid}"/>

            <div class="card-header p-b-0">
                <h4 class="sub-title"><strong>답변</strong></h4>
            </div>
            <div class="card-block-small p-t-0">
                <div class="mb-2 form-group row required">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                    <div class="col-sm-12">
                        <span kattr:select_code="inqrySttsCd" th:attr="grpCd=103,selectedCd=${inqryInfo.inqrySttsCd}" isAdmin="true">
                    </div>
                </div>
                <div class="mb-2 form-group row">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                           for="title"><strong>답변 제목</strong></label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control form-control-sm" name="title" id="title" th:value="${inqryAnswrInfo.title}"/>
                    </div>
                </div>

                <div class="mb-2 form-group row">
                    <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                           for="cntnts"><strong>답변 내용</strong></label>
                    <div class="col-sm-12">
                        <textarea rows="5" cols="5" class="form-control form-control-sm" id="cntnts" name="cntnts" th:utext="${inqryAnswrInfo.cntnts}"></textarea>
                    </div>
                </div>

                <div class="mb-2 form-group row">
                    <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>담당자 지정</strong></div>
                    <div class="col-sm-12 btn-group-sm">
                        <button type="button" class="btn btn-inverse" onclick="openManagerSearchPopup()">담당자 검색</button>
                    </div>
                    <div class="m-0 row">
                        <div class="col-12 row border rounded p-t-10 p-b-10 m-0 mt-2">
                            <div class="col-auto" id="managerList">
                                <th:block th:each="manager : ${managerInfo}">
                                    <span class="label label-inverse " th:id="|managerId-${manager.userid}|" name="managerInfo" th:data-id="${manager.userid}">
                                            [[${manager.nm}]]([[${manager.acnt}]]) <a href="javascript:void(0)" th:onclick="|removeManagerInfo(${manager.userid})|" class="text-white">X</a>
                                    </span>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-2 mb-0 row">
                    <div class="col-12 col-lg-6 mb-2 mb-lg-0">
                        <div class="mb-0 form-group">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="opetrNm"><strong>답변자</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-sm" name="opetrNm" id="opetrNm" readonly
                                       th:value="${inqryAnswrInfo.opetrNm != null ? inqryAnswrInfo.opetrNm : session.user.nm}"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="mb-0 form-group">
                            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"
                                   for="ansDe"><strong>답변일자</strong></label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control form-control-sm" name="ansDe" id="ansDe" readonly
                                       th:value="${inqryAnswrInfo.ansDe != null ? inqryAnswrInfo.ansDe : #dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mb-2 mb-0 row">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>첨부파일</strong></label>
                        <div class="col-sm-12">
                            <input id="multiFileInput" type="file" name="files" multiple accept="image/jpeg,image/gif,image/png,application/pdf" class="form-control form-control-sm"/>
                        </div>
                        <div class="mt-2 row">
                            <div class="col-auto">
                                <div id="multipleFileUploadError"></div>
                                <div id="multipleFileUploadSuccess">
                                    <th:block th:if="${inqryAnswrInfo.fileList}">
                                        <th:block th:each="fileInfo : ${inqryAnswrInfo.fileList}" th:id="${fileInfo.fileid}">
                                    <span class='label label-inverse mb-2 mr-0' th:id="${fileInfo.fileid}"><th:block th:text="${fileInfo.orginlFileNm}"/>
                                    <a class='text-white' href="javascript:void(0)"
                                       th:name="${fileInfo.fileid}" th:attr="data-idntfc-key=${fileInfo.fileIdntfcKey}"
                                       th:onclick="deleteFile(this.name, this.dataset.idntfcKey)">X</a></span>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="filegrpid" name="filegrpid" th:value="${(inqryAnswrInfo.filegrpid=='' or inqryAnswrInfo.filegrpid==null)? 0:inqryAnswrInfo.filegrpid} "/>
                    </div>
                </div>

            </div>
            <div class="p-t-0 card-block-small">
                <button type="button" class="btn btn-disabled m-r-5" onclick="gridHelper1.removeHighlight(); gridHelper1.toggleContent()">취소</button>
                <th:block sec:authorize-url="/mng/inqry/insertInqryAnswr.do">
                    <button type="button" class="btn btn-primary" onclick="saveInqryAnswr()">저장</button>
                </th:block>
            </div>
        </form>
    </div>
</div>

<script th:inline="javascript">
    var inqryAnswrInsertUrl = "/mng/inqry/insertInqryAnswr.do";
    var inqryAnswrUpdateUrl = "/mng/inqry/updateInqryAnswr.do";

    function openManagerSearchPopup() {
        var url = "/mng/inqry/managerSearchPopup.html";
        $("#managerPopup").load(url, function (response, status, xhr) {
            if (status == "success") {
                managerPopup = new bootstrap.Modal($('#managerPopup'));
                managerPopup.show();
            }
        });
    }

    $(function () {
        validate();
    })

    function validate() {
        $("#inqryAnswrFrm").validate({
            rules: {
                title: {
                    maxlength: 200
                },
                cntnts: {
                    maxlength: 4000
                }
            },
            messages: {
                title: {
                    maxlength: "답변 제목은 200자를 넘을 수 없습니다."
                },
                cntnts: {
                    maxlength: "답변 내용은 4000자를 넘을 수 없습니다."
                }
            }
        });
    }

    function saveInqryAnswr() {
        var url = inqryAnswrInsertUrl;
        if ($('#answrid').val() != '') {
            url = inqryAnswrUpdateUrl;
        }

        if (url == inqryAnswrInsertUrl) {
            var isSec = false;
            /*[# sec:authorize-url="/mng/inqry/insertInqryAnswr.do"]*/
            isSec = true;
            /*[/]*/
            if (!isSec) {
                alert('접근권한이 없습니다.');
                return;
            }
        } else if (url == inqryAnswrUpdateUrl) {
            var isSec = false;
            /*[# sec:authorize-url="/mng/inqry/updateInqryAnswr.do"]*/
            isSec = true;
            /*[/]*/
            if (!isSec) {
                alert('접근권한이 없습니다.');
                return;
            }
        }

        var inqrySttsCd = $('#inqryAnswrFrm').find('#inqrySttsCd').val();

        /*
            - 답변 최초 등록 시 상태가 ＂접수완료“,”접수취소＂인 경우 답변으로 입력하지 않음.
            - 답변 최초 등록 시 상태가 ＂답변중“,”답변완료＂인 경우만 답변으로 입력.
        */
        if (url == inqryAnswrInsertUrl && (inqrySttsCd == '103101' || inqrySttsCd == '103102')) {
            alert('답변중 또는 답변완료 상태인 경우에만 입력이 가능합니다.');
            return;
        }

        /*
            - 상태가 “접수완료”인 경우 : 필수 없음.
            - 상태가 “접수취소＂인 경우 : 필수 없음.
            - 상태가 “답변중“ 인 경우 : 필수 없음.
            - 상태가 “답변완료＂인 경우 : 답변제목, 답변내용 필수.
        */
        if (inqrySttsCd == '103104') {
            var $title = $("#title");
            var $cntnts = $("#cntnts");
            if ($title.val() == '' || $title.val() == null) {
                alert('답변 제목을 입력해주십시오.');
                $title.css("border", "2px solid #ff0000");
                setTimeout(function () {
                    $title.css("border", "")
                }, 1000);
                return;
            }
            if ($cntnts.val() == '' || $cntnts.val() == null) {
                alert('답변 내용을 입력해주십시오.');
                $cntnts.css("border", "2px solid #ff0000");
                setTimeout(function () {
                    $cntnts.css("border", "")
                }, 1000);
                return;
            }
        }

        if (!$('#inqryAnswrFrm').valid()) return;

        var formData = $('#inqryAnswrFrm').serializeArray();
        var managerIds = [];

        $("[name=managerInfo]").each(function (index, item) {
            managerIds.push($(this).data('id'));
        });

        formData = formData.concat({name: "managerId", value: managerIds});
        if (displayWorkProgress()) {
            $.ajax({
                url: url,
                type: 'POST',
                cache: false,
                dataType: 'json',
                data: formData,
                success: function (data) {
                    alert(data.msg);
                    closeWorkProgress();
                    if(url == inqryAnswrInsertUrl) {
                        gridHelper1.resetListContent();
                    } else {
                        gridHelper1.resetPageContent();
                    }
                }
            });
        }
    };

    $('#multiFileInput').on("change", function (event) {

        var objFile = document.querySelector('#multiFileInput');
        var formData = new FormData();
        var content = "";

        for (i = 0; i < objFile.files.length; i++) {
            formData.append("files", objFile.files[i]);
        }

        formData.append("filegrpid", $("#filegrpid").val());
        formData.append("filegrpNm", "inqry_file");

        if (displayWorkProgress()) {
            $.ajax({
                url: '/uploadMultipleFiles.do',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                success: function (response) {
                    if (response.result == 'fail') {
                        alert(response.msg);
                    } else {
                        if ($("#filegrpid").val() == '0' || $("#filegrpid").val() == '' || $("#filegrpid").val() == null) {
                            $("#filegrpid").val(response[0].filegrpid);
                        }
                        for (i = 0; i < response.length; i++) {
                            content = "<span class ='label label-inverse' id='" + response[i].fileid + "'>" + response[i].orginlFileNm;
                            content += "<a class='text-white' href=javascript:deleteFile('" + response[i].fileid + "','" + response[i].fileIdntfcKey + "')>X</a></span>";
                            $('#multipleFileUploadSuccess').append(content);
                        }
                    }
                    closeWorkProgress();
                }
            })

            if (detectBrowser() == "other") {
                $("#multiFileInput").val("");
            } else {
                $("#multiFileInput").replaceWith($("#multiFileInput").clone(true))
            }
        }
    });

    function removeManagerInfo(userid) {
        $("#managerId-" + userid).remove();
    }
</script>