<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
    <form class="search-filter" id="searchForm" name="searchForm">
        <div class="form-input-wrap">
            <div class="form-row">
                <div class="form-header"><strong class="label">검색어</strong></div>
                <div class="form-body">
                    <div class="form-input">
                        <select title="검색어" id="searchType" name="searchType">
                            <option value="">- 전체 -</option>
                            <option value="ttl">제목</option>
                            <option value="cn">내용</option>
                        </select>
                        <input type="search" id="searchKeyword" name="searchKeyword" title="검색어" placeholder="검색어를 입력해 주세요.">
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-header"><strong class="label">분야</strong></div>
                <div class="form-body">
                    <th:block kattr:select_code="clsfCd" grpCd="112" upprCd="0" firstOptTxt="- 전체 -" title="분야"></th:block>
                </div>
            </div>
        </div>
        <div class="search-filter-submit">
            <button type="reset" class="btn-medium btn-gray btn-before-refresh">초기화</button>
            <button type="submit" class="btn-medium btn-green btn-before-search">검색</button>
        </div>

        <input type="hidden" id="pageNumber" name="pageNumber" value="1">
        <input type="hidden" id="rowPerPage" name="rowPerPage" value="10">
        <input type="hidden" id="inqryid" name="inqryid">
        <input type="hidden" id="orderField" name="orderField" value="REG_DT">
    </form>

    <div class="steps-list">
        <ul>
            <li>
                <span class="icon icon-sign-step01"></span>
                <dl>
                    <dt><span>Step1.</span> 신청/문의</dt>
                    <dd>지원받고 싶은 분야 <br class="pc-only"> 선택 후 신청</dd>
                </dl>
            </li>
            <li>
                <span class="icon icon-sign-step02"></span>
                <dl>
                    <dt><span>Step2.</span> 접수/검토</dt>
                    <dd>분야ㆍ대상ㆍ일정 등 <br class="pc-only"> 헬프데스크 내부 검토</dd>
                </dl>
            </li>
            <li>
                <span class="icon icon-sign-step03"></span>
                <dl>
                    <dt><span>Step3.</span> 답변/지원</dt>
                    <dd>신청/문의 내용 답변 및 <br class="pc-only"> 지원 안내</dd>
                </dl>
            </li>
        </ul>
        <div class="btn-wrap">
            <div class="center">
                <button type="button" class="btn-large btn-green" onclick="helpdeskList.moveToInsertForm()">신청하기</button>
            </div>
        </div>
    </div>

    <div class="table-caption flex-nowrap">
        <div class="left">
            <p>총 <b id="total-count">0</b> 건</p>
        </div>
        <div class="right d-flex">
            <select title="글 보기 개수" id="selectRowPerPage" name="selectRowPerPage" class="sort-filter">
                <option value="10">10개</option>
                <option value="50">50개</option>
                <option value="100">100개</option>
            </select>
            <div><button type="button" class="btn-medium btn-outline-black" onclick="onChangePageSize($('#selectRowPerPage').val(), helpdeskList.selectHelpdeskList)">보기</button></div>

        </div>
    </div>

    <div class="pc-only">
        <div class="table-col table-layout-auto table-col-mo">
            <table>
                <caption>환경교육 헬프 신청 목록 - 번호, 분야, 제목, 상태, 작성자, 공개여부, 등록일</caption>
                <colgroup>
                    <col>
                    <col>
                    <col style="width:30%;">
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">분야</th>
                    <th scope="col">제목</th>
                    <th scope="col">상태</th>
                    <th scope="col">작성자</th>
                    <th scope="col">공개여부</th>
                    <th scope="col">등록일</th>
                </tr>
                </thead>
                <tbody id="pcListArea">
                </tbody>
            </table>
        </div>
    </div>

    <div class="mo-only">
        <div class="table-list">
            <ul id="moListArea">
            </ul>
        </div>
    </div>

    <div aria-label="pagination" id="pagination"/>


    <script th:inline="javascript">
        var helpdeskList = {
            userid: /*[[${loginUserid}]]*/ null,
            searchVo: /*[[${searchVo}]]*/null,
            detailUrl: '/front/helpdesk/helpdeskDetail.html',
            formUrl: '/front/helpdesk/helpdeskForm.html',
            listUrl: '/front/helpdesk/selectHelpdeskList.do',

            moveToInsertForm() {
                if (this.userid == null) {
                    alert('로그인 후 이용하실 수 있습니다.');
                    return;
                }
                var f = document.forms.searchForm;
                f.action = this.formUrl;
                f.submit();
            },

            moveToDetail(inqryid, canGoToDetail) {
                if (canGoToDetail) {
                    var f = document.forms.searchForm;
                    f.inqryid.value = inqryid;
                    f.action = this.detailUrl;
                    f.submit();
                } else {
                    alert('비공개 글의 경우 작성자만 볼 수 있습니다.');
                    return;
                }
            },

            selectHelpdeskList() {
                if (displayWorkProgress(true)) {
                    $.ajax({
                        url: helpdeskList.listUrl,
                        cache: false,
                        dataType: 'json',
                        data: formData = $('#searchForm').serializeArray(),
                        type: 'GET',
                        success: function (response) {
                            let data = escapeData(response.list);
                            $("#pcListArea").html(helpdeskList.makeListHtmlForPc(data));
                            $("#moListArea").html(helpdeskList.makeListHtmlForMo(data));
                            $("#pagination").html(response.pagination);
                            $("#total-count").html(response.totalCount);
                            msgAddBtn();
                            closeWorkProgress();
                        }
                    });
                }
            },

            makeListHtmlForPc(list) {
                var html = "";
                if (list == null || list.length <= 0) {
                    html += `<tr>
                                <td class="nodata" colspan="7">
                                    <p><span class="icon icon-notice bg-black9"></span>등록된 환경교육 헬프 신청 내역이 없습니다.</p>
                                </td>
                            </tr>`;
                } else {
                    list.forEach(function (item) {
                        let canGoToDetail = item.rlsYn == 'Y' || (item.rlsYn == 'N' && (item.userid == helpdeskList.userid));
                        html += `<tr>
                                    <td>${item.rowNumber}</td>
                                    <td>${item.clsfCdNm}</td>
                                    <td class="al article"><a href="javascript:helpdeskList.moveToDetail(${item.inqryid}, ${canGoToDetail})" class="link ellipsis">
                                        ${item.sttsCd == '113104' ? `<span class="box-tag tag-green">답변완료</span>` : ``}${item.ttl}</a></td>
                                    <td>${item.sttsCdNm}</td>
                                    ${item.nm != null ? `<td class="list-msg-add-btn" data-trgt-id="${item.userid}">${item.nm}</td>` : `<td></td>`}
                                    <td>${item.rlsYn == 'Y' ? '공개' : '비공개'}</td>
                                    <td>${item.regDt}</td>
                                </tr>`;
                    });
                }
                return html;
            },

            makeListHtmlForMo(list) {
                var html = "";
                if (list == null || list.length <= 0) {
                    html += `<li class="block">
                                <div class="nodata">
                                    <p><span class="icon icon-notice bg-black9"></span>등록된 환경교육 헬프 신청 내용이 없습니다.</p>
                                </div>
                            </li>`;
                } else {
                    list.forEach(function (item) {
                        let canGoToDetail = item.rlsYn == 'Y' || (item.rlsYn == 'N' && (item.userid == helpdeskList.userid));
                        html += `
                                <li class="block">

                                    <div class="tbody">
                                        <dl>
                                            <div class="list">
                                                <dt>번호</dt>
                                                <dd>${item.rowNumber}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>분야</dt>
                                                <dd>${item.clsfCdNm}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>제목</dt>
                                                <dd><a href="javascript:helpdeskList.moveToDetail(${item.inqryid}, ${canGoToDetail})" class="link ellipsis">
                                                        ${item.sttsCd == '113104' ? `<span class="box-tag tag-green">답변완료</span>` : ``}${item.ttl}</a></dd>
                                            </div>
                                            <div class="list">
                                                <dt>상태</dt>
                                                <dd>${item.sttsCdNm}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>작성자</dt>
                                                ${item.nm != null ? `<dd class="list-msg-add-btn" data-trgt-id="${item.userid}">${item.nm}</dd>` : `<dd></dd>`}
                                            </div>
                                            <div class="list">
                                                <dt>공개여부</dt>
                                                <dd>${item.rlsYn == 'Y' ? '공개' : '비공개'}</dd>
                                            </div>
                                            <div class="list">
                                                <dt>등록일</dt>
                                                <dd>${item.regDt}</dd>
                                            </div>
                                        </dl>
                                    </div>
                                </li>`;
                    });
                }
                return html;
            },
        }

        function goPage(num) {
            $("#pageNumber").val(num);
            helpdeskList.selectHelpdeskList();
        }

        $(function () {
            $("#pageNumber").val(helpdeskList.searchVo.pageNumber);
            $("#searchKeyword").val(helpdeskList.searchVo.searchKeyword);
            $('#searchType').val(helpdeskList.searchVo.searchType);
            $("#clsfCd").val(helpdeskList.searchVo.clsfCd);
            $('#rowPerPage').val(helpdeskList.searchVo.rowPerPage);
            $('#selectRowPerPage').val(helpdeskList.searchVo.rowPerPage);

            helpdeskList.selectHelpdeskList();

            $('#searchForm').on('submit', function(e){
                e.preventDefault();
                $('#pageNumber').val(1);
                helpdeskList.selectHelpdeskList();
            });
        });
    </script>
</div>