<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	  layout:decorator="layout/front/subLayout">

<div layout:fragment="content">
	<div class="helpdesk">
		<div class="helpdesk-visual">
			<h3>
				<div class="thumb">
					<img src="/images/front/alarm/img-helpdesk.png" alt="" class="pc-only">
					<img src="/images/front/alarm/img-helpdesk-mo.png" alt="" class="mo-only">
				</div>
				<span><b>탄소중립 환경교육</b> 헬프데스크</span>
			</h3>
			<p>
				<b>탄소중립 환경교육 헬프데스크(Help Desk)</b>는 <br class="pc-only">
				학교의 탄소중립 실현을 돕고자 환경교육을 통한 <b>탄소중립 사회로의 전환</b> 및 <br class="pc-only">
				미래의 주역인 학생들의 <b>탄소중립 소양 함양·가치관 형성</b>을 지원하는 실시간 도움창구입니다. <br class="pc-only"><br class="pc-only">
				<b>교육과정 재구성, 학교의 변화</b>(문화 형성, 시설 조성 등), <b>외부자원 활용</b>(전문가 및 외부기관·프로그램 등), <br class="pc-only">
				<b>대상별</b>(학생·교사·학부모) <b>탄소중립 환경교육</b>에 이르기까지, <br class="pc-only">
				<b>탄소중립 전반에 걸친 전문적이고 체계적인 내용</b>들을 지원받을 수 있습니다.
			</p>
			<div class="btn-wrap">
				<div class="center mo-flex-wrap">
					<a class="btn-large btn-blue" href="https://keep.go.kr/html/netzeroschool/" target="_blank" rel="noopener noreferrer" title="새창열림">탄소중립 생활 실천학교 바로가기</a>
					<a class="btn-large btn-green" href="/front/helpdesk/helpdeskList.html">헬프신청 바로가기</a>
				</div>
			</div>
		</div>
		<div class="helpdesk-list">
			<h4><span>01</span> 업무추진 체계도</h4>
			<div class="circle">
				<dl>
					<dt>국가환경교육센터 <br> 탄소중립 환경교육 <br> 헬프데스크 (Help Desk)</dt>
					<dd>
						<ul class="dot-list dot-list-sm">
							<li>탄소중립 환경교육 헬프데스크 <br> 총괄 운영ㆍ관리</li>
							<li>학교 내 탄소중립 환경교육 <br> 상시 지원</li>
						</ul>
					</dd>
				</dl>
			</div>
			<ul class="org-list">
				<li>
					<dl>
						<dt>교육과정 재구성 지원</dt>
						<dd>
							<p>교육과정 재구성 사례 안내</p>
							<a href="tel:02-3407-1519">
								<div class="icon icon-tel block"></div>
								(문의) 신주영 대리 <br class="pc-only"> 02-3407-1519</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>학교 변화 지원Ⅰ <br class="pc-only"> (시설 조정)</dt>
						<dd>
							<p>탄소저감을 위한 친환경 시설 조성 사례 안내  </p>
							<a href="tel:02-3407-1576">
								<div class="icon icon-tel block"></div>
								(문의) 홍성한 계장 <br class="pc-only">02-3407-1576</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>학교 변화 지원Ⅱ <br class="pc-only"> (문화 형성)</dt>
						<dd>
							<p>학교 내 탄소중립 실천 문화 적용 및 확산 사례 안내</p>
							<a href="tel:02-3406-3115">
								<div class="icon icon-tel block"></div>
								(문의) 김동구 주임 <br class="pc-only"> 02-3406-3115</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>외부 자원 연계 지원</dt>
						<dd>
							<p>전문가 인력풀 제공 및 활용 가능한 외부 프로그램 안내 </p>
							<a href="tel:02-3406-3116">
								<div class="icon icon-tel block"></div>
								(문의) 임세영 주임 <br class="pc-only"> 02-3406-3116</a>
						</dd>
					</dl>
				</li>
				<li>
					<dl>
						<dt>대상별 교육 지원</dt>
						<dd>
							<p>학생, 교사, 학부모 대상 역량강화 프로그램 안내</p>
							<a href="tel:02-3407-1529">
								<div class="icon icon-tel block"></div>
								(문의) 김예지 주임 <br class="pc-only"> 02-3407-1529</a>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
		<div class="helpdesk-list">
			<h4><span>02</span> 세부지원 안내</h4>
			<div class="">
				<table>
					<caption>세부지원 안내 표로 교육과정 재구성 지원, 학교변화 지원, 외부 자원연계 자원, 대상별 교육 지원 정보 제공</caption>
					<colgroup>
						<col style="width:25%">
						<col style="width:20%">
						<col>
					</colgroup>
					<tbody>
					<tr>
						<th scope="row">교육과정 재구성 지원</th>
						<td colspan="2">
							<ul class="dot-list">
								<li>교육과정 내 연계가능한 환경교육 분석 자료 제공</li>
								<li>교육과정 재구성 사례 안내 등</li>
							</ul>
						</td>
					</tr>
					</tbody>
					<tbody>
					<tr>
						<th scope="row" rowspan="2">학교 변화 지원</th>
						<th>시설적 측면</th>
						<td>
							<ul class="dot-list">
								<li>학교 내 조성 가능한 패시브·액티브·플랜트 기술 등 안내</li>
								<li>친환경 시설 조성 관련 국내·외 실태분석 자료 등 제공</li>
							</ul>
						</td>
					</tr>
					<tr>
						<th>문화적 측면</th>
						<td>
							<ul class="dot-list">
								<li>학교 내에서 행할 수 있는 친환경 실천 문화 안내</li>
								<li>친환경 소비 방법, 에너지 절약 방법, 5R 문화, 친환경 캠페인 운영 사례 등</li>
							</ul>
						</td>
					</tr>
					</tbody>
					<tbody>
					<tr>
						<th scope="row">외부 자원 연계 자원</th>
						<td colspan="2">
							<ul class="dot-list">
								<li>교육 운영 컨설팅 및 모니터링 등을 위한 환경교육 전문가 인력풀 제공</li>
								<li>환경교육 전문기관 및 우수환경교육지정 프로그램 안내</li>
							</ul>
						</td>
					</tr>
					</tbody>
					<tbody>
					<tr>
						<th scope="row">대상별 교육 지원</th>
						<td colspan="2">
							<ul class="dot-list">
								<li>학생 대상 참여 프로그램, 활용가능 교육 콘텐츠 등 안내 및 제공</li>
								<li>교사 대상 역량강화 지원사업 및 연수 프로그램 관련 정보 제공</li>
								<li>학부모 대상 환경현안 주제 교육 운영 자료 등 안내</li>
							</ul>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>
