<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/front/subLayout">
<div layout:fragment="content">
    <link rel="stylesheet" href="/css/front/flatpickr.min.css">
    <script src="/js/front/flatpickr.js"></script>
    <script src="/js/front/flatpickr-locale-ko.js"></script>

    <div class="product-wrap sub-banner-swiper">
        <div class="thumb-swiper">
            <div class="swiper gallery-thumb">
                <div class="swiper-wrapper">
                    <th:block th:if="${rprsImgFileMap}">
                        <div class="swiper-slide" th:each="item : ${rprsImgFileMap}" th:id="${item.fileid}">
                            <div class="thumb">
                                <img th:src="@{'/downloadFileByFileid.do?fileid='+${item.fileid}+'&file_idntfc_key='+${item.fileIdntfcKey}}"/>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${dtlImgFileMap}">
                        <div class="swiper-slide" th:each="item : ${dtlImgFileMap}" th:id="${item.fileid}">
                            <div class="thumb">
                                <img th:src="@{'/downloadFileByFileid.do?fileid='+${item.fileid}+'&file_idntfc_key='+${item.fileIdntfcKey}}"/>
                            </div>
                        </div>
                    </th:block>
                </div>
                <button type="button" class="swiper-button-next"></button>
                <button type="button" class="swiper-button-prev"></button>
            </div>
            <div thumbsSlider="" class="swiper gallery-list">
                <div class="swiper-wrapper">
                    <th:block th:if="${rprsImgFileMap}">
                        <div class="swiper-slide" th:each="item : ${rprsImgFileMap}" th:id="${item.fileid}">
                            <div class="thumb">
                                <img th:src="@{'/downloadFileByFileid.do?fileid='+${item.fileid}+'&file_idntfc_key='+${item.fileIdntfcKey}}"/>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${dtlImgFileMap}">
                        <div class="swiper-slide" th:each="item : ${dtlImgFileMap}" th:id="${item.fileid}">
                            <div class="thumb">
                                <img th:src="@{'/downloadFileByFileid.do?fileid='+${item.fileid}+'&file_idntfc_key='+${item.fileIdntfcKey}}"/>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="product-section">
            <div class="title">
                <h3 th:text ="'['+${envReqst.instNm}+']'+${envReqst.fcltNm}"></h3>
                <p th:text ="${envReqst.addr}+' '+${envReqst.addrDtl}"></p>
            </div>
            <div class="btn-wrap">
                <div class="left">
                    <th:block th:if = "${gdncFileMap} != null ">
                        <a th:each="item:${gdncFileMap}" th:href="@{'/downloadFileByFileid.do?fileid='+${item.fileid}+'&file_idntfc_key='+${item.fileIdntfcKey}}" class="btn-medium btn-outline-black btn-before-download">안내자료 다운로드</a>
                    </th:block>
                </div>
            </div>
            <th:block th:if="${envReqst.aplyMthdCd} == '153102'">
                <div class="detail">
                    <div class="desc">
                        <p>해당 시설은 별도 홈페이지를 통해 예약을 신청할 수 있으며, 아래 예약신청 바로가기 버튼을 눌러 예약 페이지로 이동하실 수 있습니다.</p>
                        <p class="desc-info fc-blue mt10">외부 사이트에서 신청한 예약은 통합환경플랫폼 마이페이지에서 확인하실 수 없습니다.</p>
                    </div>
                    <dl>
                        <div class="list">
                            <dt></dt>
                            <dd>
                                <a th:href="${envReqst.extnlUrl}" target="_blank" class="btn-medium btn-green">예약신청 바로가기</a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </th:block>
        </div>
    </div>
    <th:block th:if="${envReqst.aplyMthdCd} == '153101'">
        <div class="reservation-wrap">

            <div class="search-filter mb20">
                <div class="form-input mo-flex-wrap">
                    <strong class="label">공간 선택</strong>
                    <div class="form-input">
                        <select title="공간 선택" style="width:auto;" name="spceList" onchange="selectSpce(this);">
                            <option value="">전체</option>
                            <option th:each="item : ${spceList}" th:value="${item.spceid}" th:text="${item.spceNm}+', 최대'+${item.maxNope}+'명, '+${item.size}+'평형'"
                            ></option>
                        </select>
                    </div>
                    <strong class="label">이용 형태</strong>
                    <div class="form-check-list">
                        <label class="inp"><input type="radio" name="utztnSe" value="169101"><b>숙박</b></label>
                        <label class="inp"><input type="radio" name="utztnSe" value="169102"><b>대여</b></label>
                    </div>
                </div>
            </div>

            <div class="reservation-inner">
                <div class="left">
                    <input type="date" datepicker="true" class="blind">
                </div>
                <div class="right">
                    <div>
                        <div class="table-col table-layout-auto table-col-sm" id="timeTable" style="display:none;">
                            <table>
                                <caption>환경교육시설 예약 - 선택, 시간, 가격</caption>
                                <colgroup>
                                    <col style="width:65px;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th scope="col"><span class="blind">선택</span></th>
                                    <th scope="col">시간</th>
                                    <th scope="col">가격</th>
                                </tr>
                                </thead>
                                <tbody id="timeList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="detail">
                        <dl>
                            <div class="list">
                                <dt><span>이용인원<i class="ast" title="필수 입력">*</i></span><p class="fs-14 fc-black6">최대 <span id="maxNope">0</span>인</p></dt>
                                <dd>
                                    <div class="form-input d-flex mo-flex-wrap al a-center j-between pt0 pb0">
                                        <div class="form-input" style="flex:1;max-width:calc(100% / 3 - 10px)">
                                            <div class="bul fs-14">성인</div>
                                            <div class="form-input form-input-number">
                                                <input type="number" id="nopeAdult" min="0" max="15" title="성인" class="ac pl0 pr0">
                                                <div class="btn-number"><button type="button" class="num-up" title="숫자 증가"></button><button type="button" class="num-down" title="숫자 감소"></button></div>
                                            </div>
                                        </div>
                                        <div class="form-input" style="flex:1;max-width:calc(100% / 3 - 10px)">
                                            <div class="bul fs-14">아동</div>
                                            <div class="form-input form-input-number">
                                                <input type="number" id="nopeChil" min="0" max="15" title="아동" class="ac pl0 pr0">
                                                <div class="btn-number"><button type="button" class="num-up" title="숫자 증가"></button><button type="button" class="num-down" title="숫자 감소"></button></div>
                                            </div>
                                        </div>
                                        <div class="form-input" style="flex:1;max-width:calc(100% / 3 - 10px)">
                                            <div class="bul fs-14">유아</div>
                                            <div class="form-input form-input-number">
                                                <input type="number" id="nopeInfnt" min="0" max="15" title="유아" class="ac pl0 pr0">
                                                <div class="btn-number"><button type="button" class="num-up" title="숫자 증가"></button><button type="button" class="num-down" title="숫자 감소"></button></div>
                                            </div>
                                        </div>
                                    </div>
                                </dd>
                            </div>
                        </dl>
                        <dl>
                            <div class="list">
                                <dt><span>이용목적<i class="ast" title="필수 입력">*</i></dt>
                                <dd>
                                    <div class="form-input">
                                        <textarea title="이용목적" id="utztnPrps"></textarea>
                                    </div>
                                </dd>
                            </div>
                        </dl>
                        <dl class="last">
                            <div class="list">
                                <dt>이용일시</dt>
                                <dd><span id="useDate"></span> <span id="useTime"></span></dd>
                            </div>
                            <div class="list">
                                <dt>금액</dt>
                                <dd><span class="fc-blue fw-700 fs-18" id="useAmt">0원</span></dd>
                            </div>
                        </dl>
                    </div>
                    <div class="btn-wrap">
                        <div class="right">
                            <a href="#" class="btn-medium btn-green" id="submitData">예약신청</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-content tab-sub dropDown">
            <button type="button" class="tab-mobile-trigger trigger" aria-haspopup="listbox" aria-expanded="true">상세정보</button>
            <ul class="tab-list target" role="tablist">
                <li class="tab active"><button aria-controls="tab-subpanel01" id="tab-sub01" role="tab">상세정보</button></li>
                <li class="tab"><button aria-controls="tab-subpanel02" id="tab-sub02" role="tab">후기(211)</button></li>
            </ul>
            <div id="tab-subpanel01" class="tabpanel active" role="tabpanel" aria-labelledby="tab-sub01">
                <th:block th:text="${envReqst.dtlCn}"/>
            </div>
            <div id="tab-subpanel02" class="tabpanel" role="tabpanel" aria-labelledby="tab-sub02">

                <div class="accordion-content acc-list">
                    <h3 class="acc-title active">
										<span class="acc-trigger mo-flex-wrap">
											<span class="name">ti**23</span>
											<span class="rate" title="별점4">
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
											</span>
										</span>
                    </h3>
                    <div class="acc-panel active">
                        <span class="blind">후기</span>
                        <div class="acc-content bg-white p0 fc-black6 fw-300">
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br>Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
                        </div>
                    </div>
                    <h3 class="acc-title active">
										<span class="acc-trigger mo-flex-wrap">
											<span class="name">ti**23</span>
											<span class="rate" title="별점0"></span>
										</span>
                    </h3>
                    <div class="acc-panel active">
                        <span class="blind">후기</span>
                        <div class="acc-content bg-white p0 fc-black6 fw-300">
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br>Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
                        </div>
                    </div>
                    <h3 class="acc-title active">
										<span class="acc-trigger mo-flex-wrap">
											<span class="name">ti**23</span>
											<span class="rate" title="별점5">
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
											</span>
										</span>
                    </h3>
                    <div class="acc-panel active">
                        <span class="blind">후기</span>
                        <div class="acc-content bg-white p0 fc-black6 fw-300">
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br>Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
                        </div>
                    </div>
                    <h3 class="acc-title active">
										<span class="acc-trigger mo-flex-wrap">
											<span class="name">ti**23</span>
											<span class="rate" title="별점4">
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
												<span class="icon icon-star" title=""></span>
											</span>
										</span>
                    </h3>
                    <div class="acc-panel active">
                        <span class="blind">답변</span>
                        <div class="acc-content bg-white p0 fc-black6 fw-300">
                            Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. <br>Nullam id dolor id nibh ultricies vehicula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla.
                        </div>
                    </div>
                </div>
옝
                <div class="pagination" aria-label="pagination">
                    <button type="button" class="first" title="처음"></button>
                    <button type="button" class="prev" title="이전"></button>
                    <button type="button" class="active" title="현재 페이지">1</button>
                    <button type="button">2</button>
                    <button type="button">3</button>
                    <button type="button">4</button>
                    <button type="button">5</button>
                    <button type="button">6</button>
                    <button type="button">7</button>
                    <button type="button">8</button>
                    <button type="button">9</button>
                    <button type="button">10</button>
                    <button type="button" class="next" title="다음"></button>
                    <button type="button" class="last" title="마지막"></button>
                </div>

            </div>
        </div>
    </th:block>

    <th:block th:if="${envReqst.aplyMthdCd} == '153102'">
        <div class="table-caption">
            <div class="left">
                <h3 class="sub-title">시설소개</h3>
            </div>
        </div>
        <p th:text="${envReqst.dtlCn}"></p>
    </th:block>
    <div class="btn-wrap">
        <div class="center">
            <button type="button" class="btn-medium btn-gray" onclick="javascript:location.href='/front/envReqst/envReqstList.html'">목록</button>
        </div>
    </div>

    <form id="viewForm" method="get" onsubmit="return false;">
        <input type="hidden" id="fcltid" name="fcltid" th:value="${envReqst.fcltid}">
        <input type="hidden" id="spceid" name="spceid">
        <input type="hidden" id="rsvtdeid" name="rsvtdeid">
        <input type="hidden" id="startDate" name="startDate">
        <input type="hidden" id="endDate" name="endDate">
        <input type="hidden" name="nopeAdult" value="0">
        <input type="hidden" name="nopeChil" value="0">
        <input type="hidden" name="nopeInfnt" value="0">
        <input type="hidden" id="utztnSeCd" name="utztnSeCd">
        <input type="hidden" name="utztnPrps">
    </form>

    <script th:inline="javascript">

        // 공간리스트
        var spceList = /*[[${spceList}]]*/null;
        // 선택한 날짜 seq 리스트
        var selectedRsvtdeidList = [];
        // 최대정원
        var maxNope;
        // 선택한 인원 수
        var userCnt;
        // 이용금액
        var selectedAmt;
        // 대여인지, 숙박인지 구분값(대여 : 169102, 숙박 : 169101)
        var utztnSeCd = '169101';

        var selectedTimeList = [];

        let list01 = `<ul><li class="dot-white">예약불가</li><li class="dot-blue">숙박</li><li class="dot-red">대여</li><ul>`;

        let datepicker = flatpickr("[datepicker=true]",{
            mode: "range",
            minDate: "today",
            dateFormat: "Y-m-d",
            locale: "ko",
            inline: true,
            position: "bottom center",
            onDayCreate: function(dObj, dStr, fp, dayElem) {
                var date = dayElem.dateObj,
                    key = date.getFullYear() + '-' + get2DigitFmt(date.getMonth() + 1) + '-' + get2DigitFmt(date.getDate()),
                    value = '';
                if (value) {
                    dayElem.className += ' ' + value[0];
                    dayElem.title = value[1]
                }
            }
        });

        function date2str(x, y) {
            var z = {
                m: x.getMonth() + 1,
                d: x.getDate(),
                H: x.getHours(),
                M: x.getMinutes(),
                S: x.getSeconds()
            };

            y = y.replace(/(m+|d+|H+|M+|S+)/g, function(v) {
                return ((v.length > 1 ? "0" : "") + z[v.slice(-1)]).slice(-2)
            });

            return y.replace(/(y+)/g, function(v) {
                return x.getFullYear().toString().slice(-v.length)
            });
        }

        function parseDate(strDate) {
            var _strDate = strDate;
            var _dateObj = new Date(_strDate);
            if (_dateObj.toString() == 'Invalid Date') {
                _strDate = _strDate.split('.').join('-');
                _dateObj = new Date(_strDate);
            }
            if (_dateObj.toString() == 'Invalid Date') {
                var _parts = _strDate.split(' ');

                var _dateParts = _parts[0];
                _dateObj = new Date(_dateParts);

                if (_parts.length > 1) {
                    var _timeParts = _parts[1].split(':');
                    _dateObj.setHours(_timeParts[0]);
                    _dateObj.setMinutes(_timeParts[1]);
                    if (_timeParts.length > 2) {
                        _dateObj.setSeconds(_timeParts[2]);
                    }
                }
            }

            return _dateObj;
        }

        var today = date2str(parseDate(new Date()), 'yyyy-mm-dd');
        var newToday = new Date(today);

        var envReqstView = {
            fcltid: /*[[${envReqst.fcltid}]]*/null,
            updateFormUrl: '/front/envReqst/envReqstForm.html',
            updateUrl: '/front/envReqst/updateEnvReqst.html',
            listUrl: '/front/envReqst/envReqstList.html',
            deleteUrl: '/front/envReqst/deleteHelpdesk.do',
            cancelUrl: '/front/envReqst/cancelHelpdesk.do',

            update(mode) {
                if (mode == 'cancel') {
                    if (!confirm('접수를 취소 하시겠습니까?')) return;
                    this.ajaxForSttsUpdate(this.cancelUrl);
                } else if (mode == 'delete') {
                    if (!confirm('등록하신 게시글을 삭제 하시겠습니까?')) return;
                    this.ajaxForSttsUpdate(this.deleteUrl);
                }
            },

            ajaxForSttsUpdate(url) {
                if (displayWorkProgress(true)) {
                    $.ajax({
                        method: 'post',
                        url: url,
                        dataType: 'json',
                        data: {fcltid: envReqstView.fcltid},
                        success: function (response) {
                            closeWorkProgress();
                            alert(response.msg);
                            if (response.success)
                                envReqstView.submit(envReqstView.listUrl);
                        }
                    })
                }
            },
            moveToList() {
                this.submit(this.listUrl);
            },

            moveToUpdateForm() {
                this.submit(this.updateFormUrl);
            },

            moveToUpdate() {
                this.submit(this.updateUrl);
            },

            submit(url) {
                let f = document.forms.viewForm;
                f.action = url;
                f.submit();
            }
        };

        var swiper = new Swiper(".gallery-list", {
            loop: false,
            spaceBetween: 0,
            slidesPerView: 5,
            freeMode: true,
            watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".gallery-thumb", {
            loop: false,
            spaceBetween: 10,
            thumbs: {
                swiper: swiper,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            a11y: {
                prevSlideMessage: '이전 슬라이드',
                nextSlideMessage: '다음 슬라이드',
            },
        });


        const dates01 = {
            '2023-04-09': '0',
            '2023-04-21': '0',
            '2023-04-22': '0',
            '2023-04-23': '0',
            '2023-04-24': '0',
            '2023-04-25': '1',
        }

        const classDict02 = {
            '0' : ['dot-blue','숙박'],
            '1' : ['dot-red','대여'],
        };
        let list02 = `<ul><li class="dot-white">예약불가</li><li class="dot-blue">숙박</li><li class="dot-red">대여</li><ul>`;

        // Better always use a two digit format in your dates obj
        function get2DigitFmt(val) {
            return ('0' + val).slice(-2);
        }

        function selectSpce(el){
            $('input[name="utztnSe"]').prop('checked', false);
            resetData();

            datepicker = flatpickr("[datepicker=true]",{
                mode: "single",
                minDate: "today",
                dateFormat: "Y-m-d",
                locale: "ko",
                inline: true,
                position: "bottom center",
                onDayCreate: function(dObj, dStr, fp, dayElem) {
                    var date = dayElem.dateObj,
                        key = date.getFullYear() + '-' + get2DigitFmt(date.getMonth() + 1) + '-' + get2DigitFmt(date.getDate()),
                        value = '';
                    if (value) {
                        dayElem.className += ' ' + value[0];
                        dayElem.title = value[1]
                    }
                }
            });
        }

        function resetData(){
            userCnt = 0;
            selectedAmt = 0;
            $('.form-input-number input[type="number"]').val(0);
            $('#timeTable').hide();
            $('#utztnPrps').val('');
            $('#useTime').empty();
            $('#useDate').empty();
            $('#useAmt').text(0);
            selectedStrtTmTimeList = [];
            selectedEndTmTimeList = [];
        }

        function checkData(){
            let spceid = $('#spceid').val();
            let startDate = $('#startDate').val();
            let endDate = $('#endDate').val();
            let time = null;
            let nopeCnt = userCnt;
            let utztnPrps = $('#utztnPrps').val();
            let utztnSeCd = $('#utztnSeCd').val();

            if( spceid == '' ){
                alert('이용공간을 선택해 주세요.');
                return false;
            }

            if( startDate == '' || endDate == '' ){
                alert('이용날짜를 선택해 주세요.');
                return false;
            }

            if( utztnSeCd == '169102' && time == '' ){
                alert('이용시간을 선택해 주세요.');
                return false;
            }

            if( nopeCnt == 0 ){
                alert('이용인원수를 입력해 주세요.');
                return false;
            }

            if( utztnPrps == '' ){
                alert('이용목적을 입력해 주세요.');
                return false;
            }

            return true;
        }

        function makeCalendarEvent(gotoYYYYMM, spceid, mode){

            var date = new Date();
            y = date.getFullYear();
            m = date.getMonth();
            var firstDay = new Date(y, m, 1);
            var lastDay = new Date(y, m + 1, 0);

            var firstDay_string = date2str(parseDate(firstDay), 'yyyy-mm-dd');

            var lastDayOfMonth = "";

            if(gotoYYYYMM != null && gotoYYYYMM != '' && gotoYYYYMM != 'undefined'){
                lastDayOfMonth = date2str(parseDate(lastDay), 'yyyy-mm-dd');
            }else{
                lastDayOfMonth = date2str(parseDate(lastDay), 'yyyy-mm-dd');
            }

            var params = {
                spceid  : spceid
                ,startDt : firstDay_string
                ,enddDt  : lastDayOfMonth
                ,utztnSe  : mode
            }

            if( mode == 'single' ){
                list02 = `<ul><li class="dot-white">예약불가</li><li class="dot-red">대여</li><ul>`;
            }else{
                list02 = `<ul><li class="dot-white">예약불가</li><li class="dot-blue">숙박</li><ul>`;
            }

            if(displayWorkProgress()){
                $.ajax({
                    url : "/front/envReqst/selectSpceRsvtdeList.do",
                    type: 'POST',
                    cache : false,
                    dataType: 'json',
                    data : params,
                    success : function (data){

                        let list = data.rsvtdelist;

                        let enableDates = [
                        ];

                        let disableDates = [
                        ];

                        let dates02 = {};

                        if(list.length > 0){

                            var schdul_events = { events: []};

                            list.forEach(function(item){
                                let de = item.de;
                                // let amt = (item.amt=='0')? "무료":addComma3(item.amt)+'원';

                                if( item.fullYn == 0 ){
                                    if(item.utztnSeCd == '169102'){//대여
                                        if( item.todayRsvtPsbltyYn == 'Y' ){
                                            dates02[de] = '1';
                                            enableDates.push(de);
                                        }else{
                                            if( !( newToday.getFullYear() === new Date(de).getFullYear() &&
                                                newToday.getMonth() === new Date(de).getMonth() &&
                                                newToday.getDate()=== new Date(de).getDate() ) ){
                                                dates02[de] = '1';
                                                enableDates.push(de);
                                            }
                                        }
                                    }else{//숙박
                                        if( item.todayRsvtPsbltyYn == 'Y' ){
                                            dates02[de] = '0';
                                            enableDates.push(de);
                                        }else{
                                            if( !( newToday.getFullYear() === new Date(de).getFullYear() &&
                                                newToday.getMonth() === new Date(de).getMonth() &&
                                                newToday.getDate()=== new Date(de).getDate() ) ){
                                                dates02[de] = '0';
                                                enableDates.push(de);
                                            }
                                        }
                                    }
                                }
                            })

                            datepicker = flatpickr("[datepicker=true]",{
                                mode: mode,
                                dateFormat: "Y-m-d",
                                // disable: disableDates,
                                enable: enableDates,
                                minDate: "today",
                                locale: "ko",
                                inline: true,
                                position: "bottom center",
                                onDayCreate: function(dObj, dStr, fp, dayElem) {
                                    var date = dayElem.dateObj,
                                        // Note the + 1 in the month.
                                        key = date.getFullYear() + '-' + get2DigitFmt(date.getMonth() + 1) + '-' + get2DigitFmt(date.getDate()),
                                        value = classDict02[dates02[key]];
                                    if (value) {
                                        dayElem.className += ' ' + value[0];
                                        dayElem.title = value[1]
                                    }
                                },
                                onReady : function () {
                                    const datepickerWrap = this.calendarContainer;
                                    const datepickerList = document.createElement('div')
                                    datepickerList.classList.add('datepicker-list')
                                    datepickerWrap.appendChild(datepickerList)
                                    datepickerList.insertAdjacentHTML('beforeend', list02);
                                },
                                onChange : function(selectedDates, dateStr, instance){
                                    selectedRsvtdeidList = [];
                                    resetData();
                                    if( mode == 'single' ){
                                        // 대여
                                        var str = '';
                                        $('#timeList').empty();
                                        for( var t=0; t<data.rsvtdelist.length; t++ ){
                                            let innerData = data.rsvtdelist[t];
                                            let target1 = new Date(innerData.de);
                                            let target2 = new Date(dateStr);
                                            let disabledStr = 'disabled';
                                            if( innerData.fullYn == '0' ){
                                                disabledStr = '';
                                            }
                                            if( target1.getFullYear() === target2.getFullYear() &&
                                                target1.getMonth() === target2.getMonth() &&
                                                target1.getDate()=== target2.getDate() ){
                                                let amt = (innerData.amt=='0')? "무료":addComma3(innerData.amt)+'원';
                                                str = '<tr class="tr-check">\n' +
                                                    '                                <td><label class="inp vm"><input type="checkbox" data-strtTm="'+innerData.strtTm+'" data-endTm="'+innerData.endTm+'" id="rsvtdeTime'+innerData.rsvtdeid+'" name="rsvtdeTime" data-amt="'+innerData.amt+'" value="'+innerData.rsvtdeid+'" '+disabledStr+'></label></td>\n' +
                                                    '                                <td class="timeStr">'+innerData.strtTm +' ~ '+ innerData.endTm+'</td>\n' +
                                                    '                                <td>'+amt+'</td>\n' +
                                                    '                            </tr>';
                                                $('#timeList').append(str);
                                            }
                                        }
                                        $('#timeTable').show();
                                        $('#startDate').val(dateStr);
                                        $('#endDate').val(dateStr);
                                        $('#useDate').text(date2str(parseDate(dateStr), 'yyyy년 mm월 dd일'));
                                    }else{
                                        // 숙박
                                        $('#timeTable').hide();

                                        if( selectedDates.length > 1 ) {
                                            let selectedDatesList = [];
                                            let target1 = new Date(selectedDates[0]);
                                            let target2 = new Date(selectedDates[1]);
                                            $('#startDate').val(date2str(parseDate(selectedDates[0]), 'yyyy-mm-dd'));
                                            $('#endDate').val(date2str(parseDate(selectedDates[1]), 'yyyy-mm-dd'));
                                            if( !( target1.getFullYear() === target2.getFullYear() &&
                                                target1.getMonth() === target2.getMonth() &&
                                                target1.getDate()=== target2.getDate() ) ){
                                                // 2일 이상
                                                let dateList = getDatesStartToLast(date2str(parseDate(selectedDates[0]), 'yyyy-mm-dd'), date2str(parseDate(selectedDates[1]), 'yyyy-mm-dd'));
                                                for( var s=0; s<selectedDates.length; s++ ){
                                                    selectedDatesList.push(date2str(parseDate(selectedDates[s]), 'yyyy년 mm월 dd일'));
                                                }
                                                for( var da=0; da<dateList.length; da++ ){
                                                    for( var da2=0; da2<data.rsvtdelist.length; da2++ ){
                                                        let innerData = data.rsvtdelist[da2];
                                                        let daTarget1 = new Date(dateList[da]);
                                                        let daTarget2 = new Date(innerData.de);
                                                        if( daTarget1.getFullYear() === daTarget2.getFullYear() &&
                                                            daTarget1.getMonth() === daTarget2.getMonth() &&
                                                            daTarget1.getDate()=== daTarget2.getDate() ){
                                                            selectedRsvtdeidList.push({rsvtdeid : innerData.rsvtdeid});
                                                            selectedAmt += innerData.amt;
                                                        }
                                                    }
                                                }

                                                $('#useDate').text(selectedDatesList.join(' ~ '));
                                                $('#useAmt').text(addComma3(selectedAmt)+'원');
                                                $('#amt').val(selectedAmt);
                                                $('#rsvtdeid').val(JSON.stringify(selectedRsvtdeidList));
                                            }else{
                                                if( dates02[dateStr] != 1 ){
                                                    // 당일 숙박
                                                    let dateList = getDatesStartToLast(date2str(parseDate(selectedDates[0]), 'yyyy-mm-dd'), date2str(parseDate(selectedDates[0]), 'yyyy-mm-dd'));
                                                    selectedDatesList.push(date2str(parseDate(selectedDates[0]), 'yyyy년 mm월 dd일'));

                                                    for( var da2=0; da2<data.rsvtdelist.length; da2++ ){
                                                        let innerData = data.rsvtdelist[da2];
                                                        let daTarget1 = new Date(dateList[0]);
                                                        let daTarget2 = new Date(innerData.de);
                                                        if( daTarget1.getFullYear() === daTarget2.getFullYear() &&
                                                            daTarget1.getMonth() === daTarget2.getMonth() &&
                                                            daTarget1.getDate()=== daTarget2.getDate() ){
                                                            selectedRsvtdeidList.push({rsvtdeid : innerData.rsvtdeid});
                                                            selectedAmt += innerData.amt;
                                                        }
                                                    }

                                                    $('#useDate').text(selectedDatesList);
                                                    $('#useAmt').text(addComma3(selectedAmt)+'원');
                                                    $('#amt').val(selectedAmt);
                                                    $('#rsvtdeid').val(JSON.stringify(selectedRsvtdeidList));
                                                }
                                            };
                                        }
                                    }
                                }
                            });


                        }

                        closeWorkProgress();
                    }
                });
            }
        }

        function getDatesStartToLast(startDate, lastDate) {
            var regex = RegExp(/^\d{4}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/);
            if(!(regex.test(startDate) && regex.test(lastDate))) return "Not Date Format";
            var result = [];
            var curDate = new Date(startDate);
            while(curDate <= new Date(lastDate)) {
                result.push(curDate.toISOString().split("T")[0]);
                curDate.setDate(curDate.getDate() + 1);
            }
            return result;
        }

        function minOfArray(arr) {
            arr.reduce((prev,curr) => {
                // 이전것과 비교해 더 작은 것 리턴
                return prev <= curr ? prev : curr;
            })
        }

        function maxOfArray(arr) {
            arr.reduce((prev,curr) => {
                // 이전것과 비교해 더 큰 것을 리턴
                return prev <= curr ? curr : prev;
            })
        }


        $(document).on('change', 'input[name="rsvtdeTime"]' , function () {
            var strtTm = $(this).attr('data-strtTm');
            var endTm = $(this).attr('data-endTm');
            if( $(this).prop('checked') ){
                // 이용시간 선택 시
                selectedAmt += parseInt($(this).attr('data-amt'));
                selectedStrtTmTimeList.push(strtTm);
                selectedEndTmTimeList.push($(this).attr('data-endTm'));

                selectedRsvtdeidList.push({rsvtdeid : $(this).val()});
            }else{
                selectedAmt -= parseInt($(this).attr('data-amt'));
                for( var i=0; i<selectedStrtTmTimeList.length; i++){
                    if( selectedStrtTmTimeList[i] === strtTm ){
                        selectedStrtTmTimeList.splice(i, 1);
                    }
                }

                for( var i=0; i<selectedEndTmTimeList.length; i++){
                    if( selectedEndTmTimeList[i] === endTm ){
                        selectedEndTmTimeList.splice(i, 1);
                    }

                    if( selectedRsvtdeidList[i].rsvtdeid == $(this).val() ){
                        selectedRsvtdeidList.splice(i, 1);
                    }
                }
            }

            if( selectedStrtTmTimeList.length > 0 && selectedEndTmTimeList.length > 0 ){
                var min = selectedStrtTmTimeList.reduce((prev,curr) => {
                    // 이전것과 비교해 더 작은 것 리턴
                    return prev <= curr ? prev : curr;
                });

                var max = selectedEndTmTimeList.reduce((prev,curr) => {
                    // 이전것과 비교해 더 큰 것을 리턴
                    return prev <= curr ? curr : prev;
                });

                $('#useTime').text(min+' ~ '+max);
            }else{
                $('#useTime').text('');
            }


            $('#rsvtdeid').val(JSON.stringify(selectedRsvtdeidList));

            $('#useAmt').text(addComma3(selectedAmt)+'원');
            $('#amt').val(selectedAmt);
        });

        /* 이용 형태 변경 event(숙박 or 대여) */
        $(document).on('change', 'input[name="utztnSe"]' , function () {
            resetData();
            var mode = 'range';
            if( $(this).val() == '169101' ){
                // 숙박
                $('.dot-blue').show();
                $('.dot-red').hide();
            }else{
                // 대여
                mode = 'single';
                $('.dot-blue').hide();
                $('.dot-red').show();
            }

            var selectedVal = $('select[name="spceList"]').val()
            $('#spceid').val(selectedVal);
            makeCalendarEvent(null, selectedVal, mode);
            for( var i=0; i<spceList.length; i++ ){
                if( spceList[i].spceid == selectedVal ){
                    // 선택한 이용공간의 정보
                    maxNope = spceList[i].maxNope;
                    $('#maxNope').text(maxNope);
                }
            }

            utztnSeCd = $(this).val();

        });

        $(document).on('click', '#submitData', function(){
            if( checkData() ){
                $('input[name="utztnPrps"]').val($('#utztnPrps').val());
                envReqstView.moveToUpdate()
            }
        })

        $(function(){
            $(document).off('keyup', '.form-input-number input[type="number"]');
            $(document).off('click', '.form-input-number button');

            $(document).on('keyup', '.form-input-number input[type="number"]' , function () {
                const numInput = $(this);
                const valueMin = parseInt(numInput[0].min);
                const valueMax = parseInt(numInput[0].max);
                if (numInput.val() > valueMax) {
                    numInput.val(valueMax)
                }
                if (numInput.val() < valueMin) {
                    numInput.val(valueMin)
                }

                let tempCnt = 0;
                $('.form-input-number input[type="number"]').each(function(){
                    tempCnt += parseInt(this.value);
                })
                let inputId = $(this).attr('id');

                if( tempCnt > maxNope ){
                    alert('최대 '+maxNope+'명 까지만 신청 가능합니다.');
                    $('input[name='+inputId+']').val(0);
                    numInput.val(0);
                }else{
                    userCnt = tempCnt;
                    $('input[name='+inputId+']').val(this.value);
                }
            });

            $(document).on('click', '.form-input-number button' , function () {
                const par = $(this).closest('.form-input-number');
                const numInput = par.find('input[type="number"]');
                const valueMin = parseInt(numInput[0].min);
                const valueMax = parseInt(numInput[0].max);

                //value up
                if ($(this).hasClass('num-up')) {
                    userCnt++;
                    if (numInput.val() === '') {
                        numInput.val(0)
                    }
                    if (valueMax > numInput.val() || numInput[0].max === '') {
                        if( userCnt > maxNope ){
                            userCnt--;
                            if( userCnt == maxNope ){
                                alert('최대 '+maxNope+'명 까지만 신청 가능합니다.');
                                numInput.val(parseInt(numInput.val()));
                            }
                        }else{
                            numInput[0].value++;
                        }
                    }
                }

                //value down
                if ($(this).hasClass('num-down')) {
                    if (numInput.val() === '') {
                        numInput.val(0)
                    }
                    if (numInput.val() > valueMin || numInput[0].min === '') {
                        numInput[0].value--;
                        userCnt--;
                    }
                }

                let inputId = $(numInput).attr('id');
                $('input[name='+inputId+']').val(numInput.val());

            });
        })
    </script>
</div>