<!-- [팝업] QR코드 -->
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content type_2">
            <div class="modal-header">
                <h4 class="modal-title">QR코드 확인</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body" id="qrbody">
                <div class="card m-b-10">
                    <div class="card-block-small">
                        <div class="row">
                            <div class="col-12 m-b-20 text-center">
                                <img class="img-fluid" th:src="${qrImg}" alt="꾸러미 개체 QR 코드">
                            </div>
                            <div class="col-12 text-center">
                                <div><th:block th:text ="${resVo.packageindvdNm}" /></div>
                                <div><th:block th:text ="${resVo.indvdno}" /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="openPrintPopup()">인쇄</button>
            </div>
        </div>
    </div>
  <!-- //[팝업] QR코드 -->
  
  <script th:inline="javascript">
  
    /*<![CDATA[*/ 
    var resVo = /*[[${resVo}]]*/null; 
    /*]]>*/
    
    openPrintPopup =()=>{
    	var url = "/mng/package/packageindvdQRPopup.html?packageindvdid="+resVo.packageindvdid+"&mode=print";
    	hiddenFrame.location.href = url;
    }
</script>
