<!-- 담당자정보 회원검색 팝업 -->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content type_2">
            <div class="modal-header">
                <h4 class="modal-title">교구 검색</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            
            <div class="modal-body">
                <div class="card">
                    <div class="card-block-small">
			            <form id="modalFrm" action="" onsubmit="return false;">
			            
			            <div class="row">
			            
                        <!--협회관리자용-->
                        <div class="col-12 col-lg-4 mb-3">
                            <div class="mb-0 form-group">
                                <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></span>
                                <div class="input-group input-group-sm input-group-dropdown mb-0">
                                    <select id="searchType" name="searchType" class="form-select form-control">
                                        <option value="">- 선택 -</option>
                                        <option value="nm">교구명</option>
                                    </select>
                                    <input type="text" id="searchKeyword" name="searchKeyword" class="form-control" aria-label="">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-lg-4 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교구 유형</strong></span>
                                 <div class="col-12">
                                     <span kattr:select_code="searchTchaidTypeCd" grpCd="184" firstOptTxt="-전체 -"  addClass="form-select form-select-sm form-control-sm" ></span>
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-12 col-lg-4 mb-3">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육 유형</strong></span>
                                 <div class="col-12">
                                     <span kattr:select_code="searchEduTypeCd" grpCd="187" firstOptTxt="-전체 -"  addClass="form-select form-select-sm form-control-sm" ></span>
                                 </div>
                             </div>
                         </div>
                        
                        </div>
                        <input type="hidden" name="useYn" id="useYn" value="Y">
                       </form>
                       
                       <div class="mt-1 p-t-20 text-center border-top">
                           <button type="button" class="btn btn-disabled m-r-5" onclick="initSearchManager()">초기화</button>
                           <button type="button" class="btn btn-primary" onclick="searchManagerList()">검색</button>
                       </div>
                        
                    </div>
                </div>
                
                
                <!--임시 그리드-->
                <div class="card m-b-10">
                    <div class="card-block-small">
                        <div class="dt-responsive table-responsive">
                        
                        <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="modalGrid" class="table-responsive"></table>
                                <div id="modalListPager" class="text-center"></div>
                       </div>
                        </div>
                    </div>
                </div>
                <!--//임시 그리드-->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect waves-light" onclick="chooseTchaid()">선택</button>
            </div>
        </div>
  </div>
  <!-- 담당자정보 회원검색 팝업 -->
  <script th:inline="javascript">

    var selectedItems = [];
    
    $(function(){
        //gridHelper1 = new GridHelper('subJsGrid','contentPanel');
        writeModalGridData();
    });

    searchManagerList = () =>{
        $("#modalGrid").jsGrid("reset");
    }
    
    initSearchManager = () =>{
    	$("#modalFrm  #searchType").val("");
    	$("#modalFrm  #searchKeyword").val("");
    	$("#modalFrm  #searchTchaidTypeCd").val("");
    	$("#modalFrm  #searchEduTypeCd").val("");
    }
    
    function writeModalGridData(){
        
        $("#modalGrid").jsGrid({
            height: "auto",
            width: "100%",
            autoload: true,
            sorting: true,
            paging: true,
            pagerContainer: "#modalListPager",
            pagerFormat: "{first} {prev} {pages} {next} {last}",
            pagePrevText: "이전",
            pageNextText: "다음",
            pageFirstText: " < 처음 ㅣ",
            pageLastText: " | 마지막 >",
            pageSize: 10,
            pageButtonCount: 10,
            pageLoading: true,
            pageIndex: 1,
            noDataContent: "데이터가 없습니다.",
            
            controller: {
                loadData: function (filter) {
                    var data = $.Deferred();
                                            
                    var formData = $('#modalFrm').serializeArray();
                    var params = [
                            {name: "pageNumber", value: filter.pageIndex},
                            {name: "rowPerPage", value: filter.pageSize},
                    ]
                    
                    if(filter.sortField != undefined){
                        params.push({name: "orderField", value: filter.sortField});
                        params.push({name: "orderDirection", value: filter.sortOrder});
                    }else{
                        params.push({name: "orderField", value: 'reg_dt'});
                    }

                    formData = formData.concat(params);
                    
                    $.ajax({
                      type: "GET",
                      contentType: "application/json; charset=utf-8",
                      url: "/mng/package/selectSearchTchaidList.do",
                      dataType: "json",
                      data: formData,
                    }).done(function(response){
                        var da = {
                                data : escapeGridData(response.list)
                                ,itemsCount : response.totalCount
                            };
                      data.resolve(da);
                    });
                    return data.promise();
                },
            },
            fields: [
                {
                    headerTemplate: function() {
                        return $("<input>").attr("type", "checkbox").attr("id", "selectAllCheckbox")
                    },
                    itemTemplate: function(_, item) {
                        return $("<input>").attr("type", "checkbox").attr("class", "singleCheckbox")
                        //.prop("checked", $.inArray(String(item.userid), selectedItems) > -1)
                        .prop("checked", $.inArray(item, selectedItems) > -1)
                        .on("change", function () {
                        $(this).is(":checked") ? selectItem(Number($(this).parent().next().text())) : unselectItem(Number($(this).parent().next().text()));
                        });
                    },
                    align: "center",
                    width: "30",
                    sorting: false
                }
               ,{ name: 'tchaidid', css: 'hide' }
               ,{ title: 'No.'   ,name: 'rowNumber' ,type: "number", width : "50", align:"center",  sorting :false }
               ,{ title: '교구명'  ,name: 'tchaidNm'      ,type: "text" , width: "150"}
               ,{ title: '교구유형' ,name: 'tchaidTypeCdNm'    ,type: "text" , width: "100" ,align:"center"}
               ,{ title: '교육유형'  ,name: 'eduTypeCdNm'   ,type: "text" , width: "100" ,align:"center"}
               ,{ title: '모둠 구성'  ,name: 'teamCmpstnCdNm'   ,type: "text" , width: "100" ,align:"center"}
           ],
           
           rowClick: function(args) {
               if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
               gridHelper1.rowClick(args);
           },
           onPageChanged : function(args) {
               selectedItems = [];
           }
        });
        
	    var selectItem = function(item) {
	        selectedItems.push(item);
	        if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	            $("#selectAllCheckbox").prop("checked", true);
	        } else {
	            $("#selectAllCheckbox").prop("checked", false);
	        }
	    };
	     
	    var unselectItem = function(item) {
	        selectedItems = $.grep(selectedItems, function(i) {
	        return i !== item;
	        });
	        if(selectedItems.length == 0) {
	            $('#selectAllCheckbox').attr('checked', false);
	        }
	        if($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
	            $("#selectAllCheckbox").prop("checked", true);
	        } else {
	            $("#selectAllCheckbox").prop("checked", false);
	        }
	    };
	    
	    $("#selectAllCheckbox").click(function(item) {
	        selectedItems = [];
	        if(this.checked) { // check select status
	            $('.singleCheckbox').each(function() { 
	                this.checked = true;   
	                selectItem(Number($(this).parent().next().text()));           
	            }); 
	        }else {
	            $('.singleCheckbox').each(function() { 
	                this.checked = false;      
	                unselectItem(item);
	            });  
	            selectedItems = [];
	        }
	    });
  }
    
  var chooseTchaid = () =>{
	  
      if(selectedItems.length <= 0){
          alert("교구를 선택해주세요");
          return;
      }

     var isDuplicatedItem = false;
     if( $(".tchaid_form").length > 0){
    	 $(".tchaid_form").each(function(){
    		 if(selectedItems.includes(Number($(this).attr("name")))){
	             isDuplicatedItem = true;
        	 }
         })
     }

      if(isDuplicatedItem){alert("중복 선택한 교구가 있습니다."); return;}
      
      var paramArr = [] ;
      var items = $("#modalGrid").jsGrid("option", "data");
      
      items.forEach(function(item){
    	  if(selectedItems.includes(item.tchaidid)){
    		  paramArr.push(item)
          }
      })
      
      addTchaid(paramArr);
      selectedItems = [];
      packageModal.hide();
 }
</script>
</body>
</html>