<!-- Date-range picker css  -->
<link rel="stylesheet" type="text/css" href="/files/bower_components/bootstrap-daterangepicker/daterangepicker.css">
<form id="insertForm">
    <input type="hidden" name="prgrmid" id="prgrmid" th:value="${prgrmMngVo.prgrmid}" />
	<!-- insert 부분 -->
	<div class="col-12">
	    <div class="card">
	        <!-- 기본정보 -->
	        <div class="card-header p-b-0">
	            <h3 class="sub-title"><strong>기본 정보</strong></h3>
	        </div>
	        <div class="card-block-small p-t-0">
	            <div class="row">
	                <div class="col-md-6 col-lg-3 mb-3">
	                    <div class="mb-0 form-group required">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육주제(대분류)</strong></div>
	                        <span kattr:select_code="sbjctCd1" th:attr="selectedCd=${prgrmMngVo.sbjctCd1}" grpCd="155" firstOptTxt="- 선택 -" addClass="input-sm" isAdmin="true">
	                    </div>
	                </div>
	                <div class="col-md-6 col-lg-3 mb-3">
	                    <div class="mb-0 form-group required">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육주제(중분류)</strong></div>
	                        <select name="sbjctCd" id="sbjctCd" class="form-select form-select-sm">
                                <option value="" selected>- 선택 -</option>
                            </select>
	                    </div>
	                </div>
	                <div class="col-lg-6 mb-3">
	                    <div class="mb-0 form-group required">
	                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>교육대상</strong></div>
	                        <span kattr:select_code="trgtCd" th:attr="selectedCd=${prgrmMngVo.trgtCd}" grpCd="178" firstOptTxt="- 선택 -" addClass="input-sm" isAdmin="true">
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                
	                <div class="col-lg-6 mb-3">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="instNm"><strong>운영기관명</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="instNm" id="instNm" placeholder="Text Input Validation" th:value="${prgrmMngVo.instNm}"/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-12 mb-3">
	                    <div class="mb-0 form-group required">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="prgrmNm"><strong>우수환경교육 프로그램명</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="prgrmNm" id="prgrmNm" placeholder="Text Input Validation" th:value="${prgrmMngVo.prgrmNm}"/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-12 mb-3">
	                    <div class="mb-0 form-group required">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input03"><strong>내용</strong></label>
	                        <div class="col-12">
	                            <textarea class="form-control form-control-sm" placeholder="Default textarea" id="cn" name="cn" th:utext="${prgrmMngVo.cn}"></textarea>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-12 col-lg-6 mb-3">
	                    <div class="mb-0 form-group required">
	                        <label class="col-form-label pb-0" for="mainImage"><strong>대표 이미지</strong></label>
	                        <div class="col-12">
	                            <input type="file" class="form-control form-control-sm" name="rprsImgFile" id="rprsImgFile">
	                            <input type="hidden" name="rprsImgFilegrpid" id="rprsImgFilegrpid" th:value="${prgrmMngVo.filegrpid}">
                                <input type="hidden" name="rprsImgFileid" id="rprsImgFileid" th:value="${prgrmMngVo.rprsImgFileid}">
	                        </div>
	                        <div class="mt-2 row">
	                            <div class="col-auto" id="mainImg">
	                                <th:block th:if="${fileBtn}">
	                                   <div th:utext="${fileBtn}"/>
	                                </th:block>
	                            </div>
	                            <div id="fileUploadError"></div>
                                <div id="fileUploadSuccess"></div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6 mb-3">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="detailFile"><strong>첨부파일</strong></label>
	                        <div class="col-12">
                                <input id="multiFileInput" type="file" name="files" multiple accept="image/jpeg,image/gif,image/png,application/pdf" class="form-control form-control-sm"/>
					            <input type="hidden" id="atchFilegrpid" name="atchFilegrpid" th:value="${(prgrmMngVo.atchFilegrpid == '' or prgrmMngVo.atchFilegrpid == null) ? 0 : prgrmMngVo.atchFilegrpid}"/>
                            </div>
                            <div class="mt-2 row">
                                <div class="col-auto">
                                    <th:block th:if="${atchFileList != null}">
                                        <div class="row">
                                            <th:block th:if="${atchFileList != null}">
                                                <div th:each="item : ${atchFileList}" th:id="${item.fileid}" class="col-auto">
                                                    <th:block th:if="${item.orginlFileNm != null}">
                                                        <span th:fileid='${item.fileid}' th:fileIdntfcKey="${item.fileIdntfcKey}" th:onclick="downloadFileByFileid(this.getAttribute('fileid'),this.getAttribute('fileIdntfcKey'))" href="javascript:void(0)" class='label label-inverse'>
                                                            <th:block th:text="${item.orginlFileNm}" /> 
                                                               <a th:name="${item.fileid}" th:attr="data-idntfc-key=${item.fileIdntfcKey}" th:onclick="fn_deleteFileList(this.name, this.dataset.idntfcKey)" class='text-white'>
                                                            <th:block th:text="X"></th:block></a>
                                                        </span>
                                                    </th:block>
                                                </div>
                                             </th:block>
                                         </div>
                                    </th:block>
                                    <div id="multipleFileUploadError"></div>
                                    <div id="multipleFileUploadSuccess"></div>
                                </div>
                            </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-12 col-lg-6 mb-3">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="registDate"><strong>등록일</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="inputRegDt" id="inputRegDt" th:value="${#dates.format(prgrmMngVo.regDt, 'yyyy-MM-dd')}" readonly/>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-12 col-lg-6 mb-3">
	                    <div class="mb-0 form-group">
	                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="writer"><strong>작성자ID(이름)</strong></label>
	                        <div class="col-12">
	                            <input type="text" class="form-control form-control-sm" name="inputRgtrid" id="inputRgtrid" th:value="${prgrmMngVo.rgtrNm}" readonly/>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        
	        <div class="card-block-small">
	            <button class="btn btn-disabled m-r-5" id="cancelSave" onclick="gridHelper1.toggleContent(); return false;">취소</button>
	            <th:block sec:authorize-url="/mng/envEdu/insertPrgrmMng.do"><button class="btn btn-primary" onclick="fn_save(); return false;">저장</button></th:block>
	        </div>
	        <!-- // -->
	    </div>
	</div>
	<!-- //insert 부분 -->
</form>

<!-- Date-range picker js -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="/files/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script th:inline="javascript">    
    var insertUrl = "/mng/envEdu/insertPrgrmMng.do";
    var updateUrl = "/mng/envEdu/updatePrgrmMng.do";
    var prgrmid = $("#prgrmid").val();
    var editor;
    var atchfileCnt = 5;
    var uploadFileCnt = 0;
    /*<![CDATA[*/
    var sbjctCd1 = /*[[${prgrmMngVo.sbjctCd1}]]*/null;
    var sbjctCd = /*[[${prgrmMngVo.sbjctCd}]]*/null;
    var fileBtn = /*[[${fileBtn}]]*/null;
    /*]]>*/

    $(document).ready(function() {
		//editor = CKEDITOR.replace('bsnsCn');
        //에디터 엔터키 두줄 바꿈 제거 (shift + enter 처럼 바로 한줄 밑으로 떨어지게 함 )
        editor = CKEDITOR.replace('cn', {enterMode: CKEDITOR.ENTER_BR});
        var text = "";
        text += "<p>&nbsp;</p>";
        text += "<p>&nbsp;</p>";            
        text += "<p>&nbsp;</p>";
        text += "<p style='text-align: center;'><a href='https://www.kogl.or.kr/info/licenseType4.do' target='_blank' title='새 창'><img alt='img' src='https://www.kogl.or.kr/static/kogl/img/sub/number3.jpg' style='width: 120px; height: 30px;'/></a> &nbsp;본 저작물은 “공공누리” 제4유형 : 출처표시 + 상업적 이용금지 + 변경금지 조건에 따라 이용할 수 있습니다.</p>";
        if (Number(prgrmid) == 0) {
	        editor.setData(text);        	
        }
    
        // 교육주제 대분류 change 이벤트 
        $("#sbjctCd1").change(function(){
        	setSearchSelectBox.setNextDepth(155, $(this).val(),'sbjctCd');        	
        });
        
        if (sbjctCd != "" && sbjctCd != null) {
	        $('#sbjctCd1').val(sbjctCd1).trigger('change');
	        setTimeout(function(){
		        $('#sbjctCd').val(sbjctCd).prop("selected", true);	        	
	        }, 300);
        }
        
        var validator = $("#insertForm").validate({
            rules: {
            	sbjctCd1    : { required: true }
                , sbjctCd : { required: true } 
                , trgtCd : { required: true } 
                , prgrmNm : { required: true } 
                , cn : { required: true } 
//                 , rprsImgFile : { required: true } 
            },
            messages: {
            	sbjctCd1    :   { required: "교육주제(대분류)를 선택해주십시오." }  
                , sbjctCd    :   { required: "교육주제(중분류)를 선택해주십시오." }  
                , trgtCd    :   { required: "교육대상을 선택해주십시오." }  
                , prgrmNm    :   { required: "우수환경교육 프로그램명을 입력해주십시오." }  
                , cn    :   { required: "내용을 입력해주십시오." }  
//                 , rprsImgFile    :   { required: "대표이미지를 선택해주십시오." }  
            }
        });
        
        if ($("#atchfileCnt").val() != null && $("#atchfileCnt").val() != 0) {
            atchfileCnt = $("#atchfileCnt").val()
        }
        if ($("#atchfileSize").val() != null && $("#atchfileSize").val() != 0) {
            atchfileSize = $("#atchfileSize").val()
        }
	});

    /* 대표이미지 : 단건 */
    $('#rprsImgFile').change(function(event) {
        var formData = new FormData();
        var objFile = event.target;
        var content = "";
    
        formData.append("file", objFile.files[0]);
        formData.append("filegrpNm", "env_edu_rprs_img_file");
        if($('#rprsImgFilegrpid').val() != '')
            formData.append("filegrpid", $('#rprsImgFilegrpid').val());
    
        if(displayWorkProgress()){
            $.ajax({
                url : '/uploadFile.do',
                processData : false,
                contentType : false,
                data : formData,
                type : 'POST',
                success : function(response) {
                    if(response.result == 'fail'){
                        alert(response.msg);
                    }else if(response.filegrpid != undefined && response.filegrpid != ''){
                        $("#rprsImgFilegrpid").val(response.filegrpid);
                        $("#rprsImgFileid").val(response.fileid);
                        $('#mainImg').html("");
                        content = "<div class ='label label-inverse text-white' id='"+response.fileid+"'><a href=javascript:downloadFileByFileid('"+response.fileid+"','"+response.fileIdntfcKey+"') class='text-white'>"+response.orginlFileNm+"&nbsp;&nbsp;</a>";
                        content +="<a href=javascript:fn_deleteMainFile('"+response.fileid+"','"+response.fileIdntfcKey+"') class='text-white'>X</a></div>";
                        $('#fileUploadSuccess').html(content);
                    }
                    closeWorkProgress();
                }
            });
        }
        event.preventDefault();
    });
    
    // 파일업로드
    $('#multiFileInput').on("change", function(event) {
        var objFile = document.querySelector('#multiFileInput');
        var formData = new FormData();
        var content = "";

        for( i = 0 ; i < objFile.files.length ; i++) {
	        if(uploadFileCnt >= atchfileCnt){
	            alert("첨부파일은  "+atchfileCnt+ " 개 까지 가능합니다." ); break;
	        } else {
	            formData.append("files", objFile.files[i]);
	            uploadFileCnt++;
	        }
        }

        formData.append("filegrpid", $("#atchFilegrpid").val());
        formData.append("filegrpNm", "env_edu_atch_file");

        if(uploadFileCnt > 0){
            $.ajax({
                url : '/uploadMultipleFiles.do',
                processData : false,
                contentType : false,
                data : formData,
                type : 'POST',
                success : function(response) {
                    if(response.result == 'fail'){
                        alert(response.msg);
                    }else{
                        if($("#atchFilegrpid").val()=='0' || $("#atchFilegrpid").val()==''  || $("#atchFilegrpid").val()==null){
                            $("#atchFilegrpid").val( response[0].filegrpid );
                        }

                        for(i = 0 ;i < response.length; i++ ){
                            content =  "<span id='"+response[i].fileid+"' class='label label-inverse' href=javascript:downloadFileByFileid('"+response[i].fileid+"','"+response[i].fileIdntfcKey+"')>"+response[i].orginlFileNm
                            content += "&nbsp;&nbsp;<a href='javascript:void(0)' onclick =uploadFileCnt--;fn_deleteFileList('"+response[i].fileid+"','"+response[i].fileIdntfcKey+"') class='text-white'>X</a></span>"
                            $('#multipleFileUploadSuccess').append(content);
                        }
                    }
                }
            });
//            $("#sftyMngMnlFile").val("");
        }
    });

    // 대표이미지 파일삭제
    function fn_deleteMainFile(fileid, fileIdntfcKey){
        if(!confirm("파일을 삭제하시겠습니까?")){return;}
        fn_deleteFile(fileid, fileIdntfcKey);
        $("#"+fileid).remove();
        $('#rprsImgFile').val('');
        fileBtn = "";
    }

    // 파일삭제
    function fn_deleteFileList(fileid, fileIdntfcKey){
        if(!confirm("파일을 삭제하시겠습니까?")){return;}
        fn_deleteFile(fileid, fileIdntfcKey);
        $("#"+fileid).remove();
    }

    // 파일삭제
    function fn_deleteFile(fileid, fileIdntfcKey){
        var deleteFileUrl="/deleteFile.do?fileid="+fileid+"&file_idntfc_key=" + fileIdntfcKey;
          $.ajax({
            url : deleteFileUrl,
            type: 'GET',
            cache : false,
            dataType: 'json',
            success : function (data){
                console.log(data);
                if(data.result=="success"){
                    $("#"+fileid).remove();
                    alert("파일삭제가 완료 되었습니다.");
                }else{
                    alert("파일삭제중 에러가 발생하였습니다. 관리자에게 문의 부탁드립니다.");
                }
            },
            error : function (error){
            }
         })
    };
    
    // 저장
    function fn_save(){
        if(!($("#insertForm").valid())) return;
        
        var editorData = editor.getData();
        $("#cn").val(editorData);
        
        if ($("#fileUploadSuccess").html() == "" && (fileBtn == null || fileBtn == "")) {
        	alert("대표이미지를 선택해주십시오.");
        	showErrorMark("#rprsImgFile");
            return;
        }
        
        if(!confirm("저장하시겠습니까?")) return;
        
        var data =  $("#insertForm").serialize();
        var url = (prgrmid == "" || prgrmid == null || Number(prgrmid) == 0) ? insertUrl : updateUrl;
        
        if(displayWorkProgress()){
            $.ajax({
                url : url,
                type: 'POST',
                cache : false,
                dataType: 'json',
                data : data,
                success : function (data){
                    if(data.result=="success"){
                        alert(data.msg);
                        if (Number(prgrmid) == 0) {
                            gridHelper1.resetListContent();                        	
                        } else {
	                        gridHelper1.resetPageContent();                        	
                        }
                    }else{
                        alert(data.msg);
                    }
                    closeWorkProgress();
                }
            });
        }
    }

</script>