<form id ="envWordUpdateForm">
<input type="hidden" id="wordid" name="wordid" th:value="${envWord.wordid}">
		 <!-- UPDATE -->
        <div class="card-header p-b-0">
            <h3 class="sub-title"><strong>기본정보</strong></h3>
        </div>
        <div class="card-block-small p-t-0">
			<div class="row">
			    <div class="col-lg-6 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="word"><strong>용어</strong></label>
			            <div class="col-12">
			                <input type="text" class="form-control form-control-sm" name="word" id="word" placeholder="용어" th:value="${envWord.word}"/>
			            </div>
			        </div>
			    </div>
			    <div class="col-lg-6 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="wordEngl"><strong>영문</strong></label>
			            <div class="col-12">
			                <input type="text" class="form-control form-control-sm" name="wordEngl" id="wordEngl" placeholder="영문" th:value="${envWord.wordEngl}">
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-12 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="cnSumry"><strong>요약정보</strong></label>
			            <div class="col-12">
			                <textarea rows="5" cols="5" class="form-control form-control-sm" id="cnSumry" name="cnSumry" placeholder="요약정보" th:value="${envWord.cnSumry}"><th:block th:text="${envWord.cnSumry}"></th:block></textarea>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-12 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="cn"><strong>내용</strong></label>
			            <div class="col-12">
			                <textarea class="form-control form-control-sm" name="cn" id="cn"><th:block th:text="${envWord.cn}"></th:block></textarea>
			            </div>
			        </div>
			    </div>
			</div>
		    <div class="row">
		        <div class="col-12 col-lg-6 mb-3">
		            <div class="mb-0 form-group">
		                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="registDate"><strong>등록일</strong></label>
		                <div class="col-12">
		                    <input type="text" class="form-control form-control-sm" name="regDt" id="regDt" placeholder="등록일" th:value="${envWord.regDt}" readonly/>
		                </div>
		            </div>
		        </div>
		        <div class="col-12 col-lg-6 mb-3">
		            <div class="mb-0 form-group">
		                <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="writer"><strong>작성자ID(이름)</strong></label>
		                <div class="col-12">
		                    <input type="text" class="form-control form-control-sm" name="writer" id="writer" placeholder="작성자ID(이름)" th:value="${envWord.rgtridNm}" readonly/>
		                    <input type="hidden" id="rgtrid" name="rgtrid" th:value="${envWord.rgtrid}">
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	    <div class="card-block-small">
	        <button type="button" class="btn btn-disabled m-r-5" id="cancelUpdateEnvWord" onclick="gridHelper1.toggleContent()">취소</button>
	        <th:block sec:authorize-url="/mng/envWord/updateEnvWord.do"><button type="button" class="btn btn-primary" id="updateEnvWord" onclick="fn_updateEnvWord()">저장</button></th:block>
	    </div>
		<!-- Tab Container End -->
	</div>
	<!-- Hidden Contents End -->
</form>

<script type="text/javascript">
	var validator= $("#envWordUpdateForm").validate({
	    rules: {
	    	clsfCd		:	{ required: true }
			,oxprNm		:	{ required: true }
			,ttl		:	{ required: true }
	     	,url		:	{ required: true }
	    },
	    messages: {
	    	clsfCd		:   { required: "분류를 선택해주십시오." }
	    	,oxprNm		:   { required: "언론사를 입력해주십시오." }
	    	,ttl		:   { required: "제목을 입력해주십시오." }
		    ,url		:   { required: "링크주소를 입력해주십시오." }
	    }
	})
	
	var editor;
	
	$(function () {
	    editor = CKEDITOR.replace('cn');
	});		

 	function fn_updateEnvWord(){
	 	if(!($("#envWordUpdateForm").valid())) return;

  	 	if(!confirm("저장하시겠습니까?")) return;
  	 	
  	 	var editorData = editor.getData();
        $("#cn").val(editorData);
  	 	  	 	    
	    var data =  $("#envWordUpdateForm").serialize();
	    if(displayWorkProgress()){
			$.ajax({
				url : "/mng/envWord/updateEnvWord.do",
				type: 'POST',
				cache : false,
				dataType: 'json',
				data : data,
				success : function (data){
					if(data.result=="success"){
						alert(data.msg);
						gridHelper1.resetListContent();
					}else{
						alert(data.msg);
					}
					closeWorkProgress();
				}
			});
		}
	}
</script>