<form id ="envWordInsertForm">
		<!-- INSERT -->
		<div class="card-header p-b-0">
        	<h3 class="sub-title"><strong>기본정보</strong></h3>
        </div>

		<!-- Tab Container Start -->
        <div class="card-block-small p-t-0">
			<div class="row">
			    <div class="col-lg-6 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="input01"><strong>키워드(자음)</strong></label>
			            <div class="col-12">
			                <select name="" class="form-select form-select-sm">
			                    <option value="">- 선택 -</option>
			                    <option value="ㄱ">ㄱ</option>
			                    <option value="ㄴ">ㄴ</option>
			                    <option value="ㄷ">ㄷ</option>
			                    <option value="ㄹ">ㄹ</option>
			                    <option value="ㅁ">ㅁ</option>
			                    <option value="ㅂ">ㅂ</option>
			                    <option value="ㅅ">ㅅ</option>
			                    <option value="ㅇ">ㅇ</option>
			                    <option value="ㅈ">ㅈ</option>
			                    <option value="ㅊ">ㅊ</option>
			                    <option value="ㅋ">ㅋ</option>
			                    <option value="ㅌ">ㅌ</option>
			                    <option value="ㅍ">ㅍ</option>
			                    <option value="ㅎ">ㅎ</option>
			                </select>
			            </div>
			        </div>
			    </div>
			    <div class="col-lg-6 mb-3">
			        <div class="mb-0 form-group required">
			            <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드(알파벳)</strong></div>
			            <div class="col-12">
			                <select name="" class="form-select form-select-sm">
			                    <option value="">- 선택 -</option>
			                    <option value="A">A</option>
			                    <option value="B">B</option>
			                    <option value="C">C</option>
			                    <option value="D">D</option>
			                    <option value="E">E</option>
			                    <option value="F">F</option>
			                    <option value="G">G</option>
			                    <option value="H">H</option>
			                    <option value="I">I</option>
			                    <option value="J">J</option>
			                    <option value="K">K</option>
			                    <option value="L">L</option>
			                    <option value="M">M</option>
			                    <option value="N">N</option>
			                    <option value="O">O</option>
			                    <option value="P">P</option>
			                    <option value="Q">Q</option>
			                    <option value="R">R</option>
			                    <option value="S">S</option>
			                    <option value="T">T</option>
			                    <option value="U">U</option>
			                    <option value="V">V</option>
			                    <option value="W">W</option>
			                    <option value="X">X</option>
			                    <option value="Y">Y</option>
			                    <option value="Z">Z</option>
			                </select>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-lg-6 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="word"><strong>용어</strong></label>
			            <div class="col-12">
			                <input type="text" class="form-control form-control-sm" name="word" id="word" placeholder="용어"/>
			            </div>
			        </div>
			    </div>
			    <div class="col-lg-6 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="wordEngl"><strong>영문</strong></label>
			            <div class="col-12">
			                <input type="text" class="form-control form-control-sm" name="wordEngl" id="wordEngl" placeholder="영문">
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-12 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="cnSumry"><strong>요약정보</strong></label>
			            <div class="col-12">
			                <textarea rows="5" cols="5" class="form-control form-control-sm" id="cnSumry" name="cnSumry" placeholder="요약정보"></textarea>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="row">
			    <div class="col-12 mb-3">
			        <div class="mb-0 form-group required">
			            <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="cn"><strong>내용</strong></label>
			            <div class="col-12">
			                <textarea class="form-control form-control-sm" name="cn" id="cn"></textarea>
			            </div>
			        </div>
			    </div>
			</div>
            <div class="row">
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="registDate"><strong>등록일</strong></label>
                        <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="regDt" id="regDt" th:value="${regDate}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-3">
                    <div class="mb-0 form-group">
                        <label class="form-label col-sm-12 col-form-label p-t-0 pb-1" for="writer"><strong>작성자ID(이름)</strong></label>
                        <div class="col-12">
                            <input type="text" class="form-control form-control-sm" name="rgtridNm" id="rgtridNm" th:value="${useridNm}" readonly/>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	    <div class="card-block-small">
	        <button type="button" class="btn btn-disabled m-r-5" id="cancelInsertEnvWord" onclick="gridHelper1.toggleContent()">취소</button>
	        <th:block sec:authorize-url="/mng/envWord/insertEnvWord.do"><button type="button" class="btn btn-primary" id="insertEnvWord" onclick="fn_insertEnvWord()">저장</button></th:block>
	    </div>
		<!-- Tab Container End -->
</form>

<script type="text/javascript">

	var validator= $("#envWordInsertForm").validate({
	    rules: {
	    	clsfCd		:	{ required: true }
			,oxprNm		:	{ required: true }
			,ttl		:	{ required: true }
	     	,url		:	{ required: true }
	    },
	    messages: {
	    	clsfCd		:   { required: "분류를 선택해주십시오." }
	    	,oxprNm		:   { required: "언론사를 입력해주십시오." }
	    	,ttl		:   { required: "제목을 입력해주십시오." }
		    ,url		:   { required: "링크주소를 입력해주십시오." }
	    }
	})
	
	var editor;
	
	$(function () {
	    editor = CKEDITOR.replace('cn');
	});	

 	function fn_insertEnvWord(){
	 	if(!($("#envWordInsertForm").valid())) return;

  	 	if(!confirm("저장하시겠습니까?")) return;

  	 	var editorData = editor.getData();
        $("#cn").val(editorData);
  	 	
	    var data =  $("#envWordInsertForm").serialize();
	    if(displayWorkProgress()){
			$.ajax({
				url : "/mng/envWord/insertEnvWord.do",
				type: 'POST',
				cache : false,
				dataType: 'json',
				data : data,
				success : function (data){
					if(data.result=="success"){
						alert(data.msg);
						gridHelper1.resetListContent();
					}else{
						alert(data.msg);
					}
					closeWorkProgress();
				}
			});
		}
	}
</script>