<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout/mng/mainLayout">
<body>
<div layout:fragment="content">
    <style>
        .hide {
            display: none;
        }
    </style>

    <!-- Page-body start -->
    <div class="page-body">
        <div class="row">
            <!-- 필터 부분 -->
            <div class="col-12">
                <div class="card">
                    <form id="searchForm" name="searchForm">
                        <div class="card-block-small">
                            <!-- 키워드 filter -->
                            <div class="row">
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>키워드</strong></div>
                                        <div class="input-group input-group-sm input-group-dropdown mb-0">
                                            <select name="searchType" id="searchType" class="form-select form-control">
                                                <option value="">- 선택 -</option>
                                                <option value="ttl">제목</option>
                                                <option value="cn">내용</option>
                                                <option value="nm">작성자</option>
                                                <option value="acnt">아이디</option>
                                            </select>
                                            <input type="text" class="form-control" aria-label="Text input with dropdown button" name="searchKeyword" id="searchKeyword"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>분류</strong></div>
                                        <div class="col-sm-12">
                                            <th:block kattr:select_code="clsfCd" grpCd="189" firstOptTxt="- 전체 -" isAdmin="true"></th:block>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 mb-3">
                                    <div class="mb-0 form-group row">
                                        <div class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>상태</strong></div>
                                        <div class="col-sm-12">
                                            <th:block kattr:select_code="prcsSttsCd" grpCd="188" firstOptTxt="- 전체 -" isAdmin="true"></th:block>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- //키워드 filter -->
                            <!-- 키워드 filter-btn -->
                            <div class="mt-1 p-t-20 text-center border-top">
                                <button type="reset" class="btn btn-disabled m-r-5">초기화</button>
                                <button class="btn btn-primary">검색</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- //필터 부분 -->

            <!-- 그리드 부분(표시를 위해 임의로 넣어둠) -->
            <div class="col-12">
                <div class="card">
                    <div class="row p-20 p-b-0">
                        <div class="col-12 col-md-6 mb-2 mb-md-0">
                            <h5><strong>플랫폼개선제안 검색결과</strong></h5>
                        </div>
                        <div class="col-12 col-md-6 text-right">
                            <th:block sec:authorize-url="/mng/pltfomImprvmPrpsl/deletePltfomImprvmPrpsl.do">
                                <button type="button" class="btn btn-inverse waves-effect waves-light" onclick="deletePrpsl()">삭제</button>
                            </th:block>
                        </div>
                    </div>
                    <div class="card-block-small">
                        <table id="jsGrid" class="table-responsive"></table>
                        <div id="listPager" class="text-center"></div>
                    </div>
                </div>
            </div>
            <!-- //그리드 부분(표시를 위해 임의로 넣어둠) -->
        </div>

        <div id="contentPanel" class="row"></div>

    </div>
    <!-- Page-body end -->

    <script th:inline="javascript">
        var gridHelper;
        var listUrl = '/mng/pltfomImprvmPrpsl/selectPltfomImprvmPrpslList.do';
        var detailUrl = '/mng/pltfomImprvmPrpsl/pltfomImprvmPrpslForm.html';
        var deleteUrl = '/mng/pltfomImprvmPrpsl/deletePltfomImprvmPrpsl.do';
        var selectedItems = [];

        $(function() {
            gridHelper = new GridHelper('jsGrid','contentPanel');

            $('#searchForm').on('submit', function(e){
                e.preventDefault();

                var $searchType = $('#searchType').val();
                var $searchKeyword = $('#searchKeyword').val();

                if($searchType != '' && $searchKeyword == "") {
                    alert("검색어를 입력해 주십시오.");
                    return false;
                }

                if($searchType == '' && $searchKeyword != "") {
                    alert("키워드를 선택해 주십시오.");
                    return false;
                }

                gridHelper.resetListContent();
            });

            $("#jsGrid").jsGrid({
                height: "auto",
                width: "100%",
                autoload: true,
                sorting: true,
                paging: true,
                pagerContainer: "#listPager",
                pagerFormat: "{first} {prev} {pages} {next} {last}",
                pagePrevText: "이전",
                pageNextText: "다음",
                pageFirstText: " < 처음 ㅣ",
                pageLastText: " | 마지막 >",
                pageSize: 10,
                pageButtonCount: 10,
                pageLoading: true,
                pageIndex: 1,
                noDataContent: "데이터가 없습니다.",

                controller: {
                    loadData: function (filter) {
                        var data = $.Deferred();

                        var formData = $('#searchForm').serializeArray();
                        var params = [
                            {name: "pageNumber", value: filter.pageIndex},
                            {name: "rowPerPage", value: filter.pageSize},
                        ]

                        if (filter.sortField != undefined) {
                            params.push({name: "orderField", value: mapCamelCaseToUnderscore(filter.sortField)});
                            params.push({name: "orderDirection", value: filter.sortOrder});
                        } else {
                            params.push({name: "orderField", value: 'reg_dt'});

                        }
                        formData = formData.concat(params);

                        $.ajax({
                            type: "GET",
                            contentType: "application/json; charset=utf-8",
                            url: listUrl,
                            dataType: "json",
                            data: formData,
                        }).done(function (response) {
                            var da = {
                                data: escapeGridData(response.list)
                                , itemsCount: response.totalCount
                            };
                            data.resolve(da);
                        });
                        return data.promise();
                    },
                },
                fields: [
                    {
                        headerTemplate: function () {
                            return $("<input>").attr("type", "checkbox").attr("id", "selectAllCheckbox")
                        },
                        itemTemplate: function (_, item) {
                            return $("<input>").attr("type", "checkbox").attr("class", "singleCheckbox")
                                .prop("checked", $.inArray(item, selectedItems) > -1)
                                .on("change", function () {
                                    $(this).is(":checked") ? selectItem($(this).parent().next().text()) : unselectItem($(this).parent().next().text());
                                });
                        },
                        align: "center",
                        width: "50",
                        sorting: false
                    },
                    {name: 'prpslid', css: 'hide'},
                    {title: 'No.', name: 'rowNumber', type: "number", width: "80", align: "center", sorting: false},
                    {title: '제목', name: 'ttl', type: "text", width: "300"},
                    {title: '분류', name: 'clsfCdNm', type: "text", width: "150", align: "center", sorting: false},
                    {title: '작성자', name: 'nm', type: "text", width: "120", align: "center"},
                    {title: '작성일', name: 'regDt', type: "text", width: "150", align: "center"},
                    {title: '상태', name: 'prcsSttsCdNm', type: "text", width: "120", align: "center", sorting: false},
                    {title: '처리자', name: 'picNm', type: "text", width: "120", align: "center"},
                ],
                /*[# sec:authorize-url="/mng/pltfomImprvmPrpsl/pltfomImprvmPrpslForm.html"]*/
                rowClick: function (args) {
                    if (args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                    gridHelper.loadContent(detailUrl + '?prpslid=' + args.item.prpslid);
                    gridHelper.rowClick(args);
                },
                /*[/]*/
                onPageChanged: function (args) {
                    $("#selectAllCheckbox").prop("checked", false);
                    selectedItems = [];
                }
            });

            var selectItem = function (item) {
                selectedItems.push(item);

                if ($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
                    $("#selectAllCheckbox").prop("checked", true);
                } else {
                    $("#selectAllCheckbox").prop("checked", false);
                }
            };

            var unselectItem = function (item) {
                selectedItems = $.grep(selectedItems, function (i) {
                    return i !== item;
                });
                if (selectedItems.length == 0) {
                    $('#selectAllCheckbox').attr('checked', false);
                }
                if ($(".singleCheckbox").length == $(".singleCheckbox:checked").length) {
                    $("#selectAllCheckbox").prop("checked", true);
                } else {
                    $("#selectAllCheckbox").prop("checked", false);
                }
            };

            $("#selectAllCheckbox").click(function (item) {
                selectedItems = [];
                if (this.checked) { // check select status
                    $('.singleCheckbox').each(function () {
                        this.checked = true;
                        selectItem($(this).parent().next().text());
                    });
                } else {
                    $('.singleCheckbox').each(function () {
                        this.checked = false;
                        unselectItem(item);
                    });
                    selectedItems = [];
                }
            });
        })

        function deletePrpsl() {
            if(selectedItems.length <=0 ){
                alert("삭제할 항목을 선택해 주십시오.");
                return;
            }

            var isSec = false;
            /*[# sec:authorize-url="/mng/pltfomImprvmPrpsl/deletePltfomImprvmPrpsl.do"]*/
            isSec = true;
            /*[/]*/
            if (!isSec) {
                alert('접근권한이 없습니다.');
                return;
            }

            if(!confirm("선택한 항목을 삭제하시겠습니까?"))return;

            var deleteIds = selectedItems.join(",")
            var param = {
                deleteIds: deleteIds
            }

            if(displayWorkProgress()){
                $.ajax({
                    url : deleteUrl,
                    type: 'POST',
                    cache : false,
                    data: param,
                    dataType: 'json',
                    success : function (data){
                        alert(data.msg);
                        closeWorkProgress();
                        if(data.result == "success") {
                            selectedItems = [];
                            gridHelper.resetListContent();
                        }
                    }
                });
            }
        }

    </script>
</div>

