<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" 
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" 
    layout:decorator="layout/mng/mainLayout" 
>

<body>
 <div layout:fragment="content">
 <style>
.hide{display:none;}
</style>
<!-- Page-body start -->
  <div class="page-body">
      <div class="row">
          <div class="col-12">
          <form name="searchFrm" id="searchFrm" action="" onsubmit="return false;" class="card">
             <!-- 필터 부분 -->
                 <div class="card-block-small">
                     <!-- 키워드 filter -->
                     <div class="row">
                         <div class="col-lg-3 mb-2">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>기관 키워드</strong></span>
                                 <div class="input-group input-group-sm input-group-dropdown mb-0">
                                 
                                     <select name="searchType" id="searchType" class="form-select form-control form-control-primary form-bg-primary">
                                        <option value="">- 전체 -</option>
                                        <option value="instNm">기관명</option>
                                        <option value="rprsvNm">대표자명 </option>
                                        <option value="mngNm">담당자명 </option>
                                        <option value="bizNum">사업자등록번호 </option>
                                     </select>
                                     <input type="text" name="searchKeyword" id="searchKeyword" class="form-control" 
                                     aria-label="Text input with dropdown button">
                                     
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-2">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>기관유형</strong></span>
                                 <div class="col-sm-12">
                                     <span kattr:select_code="searchInstCd" grpCd="108" firstOptTxt="-선택 -"  addClass="form-select form-select-sm form-control-sm" ></span>
                                 </div>
                             </div>
                         </div>
                         
                         <div class="col-lg-3 mb-2">
                             <div class="mb-0 form-group row">
                                 <span class="form-label col-sm-12 col-form-label p-t-0 pb-1"><strong>승인상태</strong></span>
                                 <div class="col-sm-12">
                                 
                                     <select id ="searchApprovalSttsCd" name="searchApprovalSttsCd" class="form-select form-select-sm form-control-sm">
                                        <option value="">- 전체 -</option>
                                        <option value="1">신청</option>
                                        <option value="2">승인</option>
                                        <option value="9">승인거부</option>
                                     </select>
                                     
                                 </div>
                             </div>
                         </div>
                     </div>
                     <!-- //키워드 filter -->
                     <!-- 키워드 filter-btn -->
                     <div class="m-t-20 text-center">
                         <button class="btn btn-disabled m-r-5" onclick="fn_init()" >초기화</button>
                         <button class="btn btn-primary" onclick="fn_searchForm()" >검색</button>
                     </div>
                 </div>
           </form>
          </div>
           
          <!-- //필터 부분 -->
          <div class="col-12">
           <div class="card">
           
                <div class="row p-20 p-b-0">
                    <div class="col-12 col-md-6 mb-2 mb-md-0">
                        <h5><strong>기관 검색 결과</strong></h5>
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <th:block sec:authorize-url="/mng/inst/instDetail.html">
                            <button type="button" class="btn btn-primary waves-effect waves-light" onclick="fn_goInsertForm();" >등록</button>
                        </th:block>
                    </div>
                </div>
                
                <div class="card-block-small">
                    <div class="dt-responsive table-responsive">
                        <div id="order-table_wrapper" class="dataTables_wrapper dt-bootstrap4">
                                <table id="jsGrid" class="table-responsive"></table>
                                <div id="listPager" class="text-center"></div>
                       </div>
                    </div>
                </div>
            </div>
          </div>
            
		  <!-- Content Area -->
		  <div class="col-12">
		  <div id="contentPanel" class="card"></div>
		  </div>
      </div>
  </div>
  
  <!--팝업-->
  <div class="modal fade" id="blackListAppointPopup" aria-hidden="true" data-bs-backdrop="static"></div>
  <!--팝업-->

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:inline="javascript">

  /*<![CDATA[*/ 
     var userid = /*[[${param.userid}]]*/null;
  /*]]>*/
    var gridHelper1;         
    $(function(){
        gridHelper1 = new GridHelper('jsGrid','contentPanel');
        writeJsGridData();
    });
    
    function fn_goInsertForm(){
        var insertUrl = "/mng/inst/instDetail.html?mode=I"
            gridHelper1.loadContent(insertUrl);
    }
     
    function fn_searchForm(){
        gridHelper1.resetListContent();
    }
    
    function fn_init() {
        $("#searchType").val('');
        $("#searchKeyword").val('');
        $("#searchInstCd").val('');
        $("#searchApprovalSttsCd").val('');
    }
    
    function writeJsGridData(){
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",
            autoload: true,
            sorting: false,
            paging: true,
            pagerContainer: "#listPager",
            pagerFormat: "{first} {prev} {pages} {next} {last}",
            pagePrevText: "이전",
            pageNextText: "다음",
            pageFirstText: " < 처음 ㅣ",
            pageLastText: " | 마지막 >",
            pageSize: 10,
            pageButtonCount: 10,
            pageLoading: true,
            pageIndex: 1,
            noDataContent: "데이터가 없습니다.",
            
            controller: {
                loadData: function (filter) {
                    var data = $.Deferred();
                                            
                    var formData = $('#searchFrm').serializeArray();
                    var params = [
                            {name: "pageNumber", value: filter.pageIndex},
                            {name: "rowPerPage", value: filter.pageSize},
                    ]
                    
                    if(filter.sortField != undefined){
                        params.push({name: "orderField", value: filter.sortField});
                        params.push({name: "orderDirection", value: filter.sortOrder});
                    }else{
                        params.push({name: "orderField", value: 'reg_dt'});
                    }
                    formData = formData.concat(params);
                    
                    $.ajax({
                      type: "GET",
                      contentType: "application/json; charset=utf-8",
                      url: "/mng/inst/selectInstList.do",
                      dataType: "json",
                      data: formData,
                    }).done(function(response){
                        var da = {
                                data : escapeGridData(response.list)
                                ,itemsCount : response.totalCount
                            };
                      data.resolve(da);
                    });
                    return data.promise();
                },
            },
            fields: [
                  
                 { name: 'instid', css: 'hide' }
                ,{ name: 'nm'    , css: 'hide' }
                
                ,{ title: 'No.'    ,name: 'rowNumber'     ,type: "number" ,width: "80"   ,align:"center",  sorting :false }
                ,{ title: '기관명'   ,name: 'instNm'        ,type: "text"  ,width: "300"  ,align:"center"}
                ,{ title: '기관유형'  ,name: 'instTypeCdNm' ,type: "text"   ,width: "100"  ,align:"center"}
                ,{ title: '대표자명'  ,name: 'rprsvNm'      ,type: "text"   ,width: "200"  ,align:"center"}
                ,{ title: '전화번호'  ,name: 'telno'        ,type: "text"   ,width: "200"  ,align:"center"}
                ,{ title: '인증상태'  ,name: 'aprvSttsCd'   ,type: "text"   ,width: "100"  ,align:"center"
                	,itemTemplate: function(value, item){ if(value=='1'){return "신청";}else if(value=='2'){return "승인";}else{return "승인거부";}}
                 }
                ,{ title: '사용여부'  ,name: 'useYn'   ,type: "text" , width: "100" ,align:"center"}
                ,{ title: '등록일자'  ,name: 'regDt' ,type: "text" , width: "150", align:"center" 
                	,itemTemplate: function(value, item){return value.substring(0,10)}
                 }
            ],
            
            /*[# sec:authorize-url="/mng/inst/instDetail.html"]*/
            rowClick: function(args) {
                if(args.event.originalEvent.target.cellIndex == 0 || isNaN(args.event.originalEvent.target.cellIndex)) return;
                var detailUrl = "/mng/inst/instDetail.html?mode=M&instid=" + args.item.instid; 
                gridHelper1.loadContent(detailUrl);
                gridHelper1.rowClick(args);
            },
            /*[/]*/
            onPageChanged: function(args) {
            }
        });
        
  }
  function fn_deleteFile(fileid, fileIdntfcKey){
      
        var deleteFileUrl="/deleteFile.do?fileid="+fileid+"&file_idntfc_key=" + fileIdntfcKey; 
        $.ajax({
          url : deleteFileUrl,
          type: 'GET',
          cache : false,
          dataType: 'json',
          success : function (data){
          },
          error : function (error){
          } 
       })
  };
</script>
</div> 
</body>
</html>